Repository mixxxdj/mixxx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Holzhaus, @acolombier, @daschuer, @Swiftb0y, @ronso0, @JoergAtGithub, @m0dB

.github/CODEOWNERS:

/.github/            @Holzhaus @acolombier
/packaging/          @daschuer @Swiftb0y
/res/qml             @Holzhaus @acolombier
/res/skins/          @ronso0 @Holzhaus
/src/analyzer        @acolombier @Swiftb0y
/src/audio           @acolombier @daschuer
/src/broadcast       @JoergAtGithub @daschuer
/src/control         @Holzhaus @Swiftb0y
/src/controllers     @daschuer @acolombier
/src/database        @daschuer @Swiftb0y
/src/dialog          @daschuer @JoergAtGithub
/src/effects         @daschuer @Swiftb0y
/src/encoder         @daschuer @JoergAtGithub
/src/engine          @daschuer @ronso0
/src/library         @ronso0 @Swiftb0y
/src/mixer           @ronso0 @Holzhaus
/src/musicbrainz     @ronso0 @JoergAtGithub
/src/network         @daschuer @JoergAtGithub
/src/preferences     @ronso0 @Holzhaus
/src/proto           @acolombier @Holzhaus
/src/qml             @acolombier @Holzhaus
/src/recording       @Holzhaus @Swiftb0y
/src/rendergraph     @m0dB @acolombier
/src/shaders         @m0dB @acolombier
/src/skin            @ronso0 @JoergAtGithub
/src/soundio         @Holzhaus @m0dB
/src/sources         @daschuer @acolombier
/src/track           @daschuer @ronso0
/src/util            @daschuer @Swiftb0y
/src/vinylcontrol    @Holzhaus @daschuer
/src/waveform        @m0dB @acolombier
/src/widget          @ronso0 @m0dB

debug/trace
  src/library/browse/browsefeature.cpp
Owners: @ronso0, @Swiftb0y

RAM-Play
  src/engine/cachingreader/cachingreader.cpp
  src/engine/cachingreader/cachingreader.h
  src/engine/cachingreader/cachingreaderworker.cpp
  src/engine/cachingreader/cachingreaderworker.h
Owners: @daschuer, @ronso0

Waveform preferences: simplify set/update methods
  src/preferences/dialog/dlgprefwaveform.cpp
  src/preferences/dialog/dlgprefwaveform.h
  src/waveform/waveformwidgetfactory.cpp
Owners: @ronso0, @Holzhaus, @m0dB, @acolombier

WaveformWidgetFactory: add helper to print waveform type name
  src/waveform/waveformwidgetfactory.cpp
  src/waveform/waveformwidgetfactory.h
Owners: @m0dB, @acolombier

Waveform preferences: move more get/set to factory
  src/preferences/dialog/dlgprefwaveform.cpp
  src/preferences/dialog/dlgprefwaveform.h
  src/waveform/waveformwidgetfactory.cpp
  src/waveform/waveformwidgetfactory.h
Owners: @ronso0, @Holzhaus, @m0dB, @acolombier

(fix) Waveforms: pick accelerated backend if available and required by type
  src/waveform/waveformwidgetfactory.cpp
Owners: @m0dB, @acolombier

Waveform preferences: show/hide Stem options when Stem support is changed
  src/preferences/dialog/dlgprefwaveform.cpp
  src/preferences/dialog/dlgprefwaveform.h
  src/preferences/dialog/dlgprefwaveformdlg.ui
  src/waveform/waveformwidgetfactory.cpp
  src/waveform/waveformwidgetfactory.h
Owners: @ronso0, @Holzhaus, @m0dB, @acolombier

Library scanner: delete SannerTask pointer when canceled
  src/library/scanner/libraryscanner.cpp
Owners: @ronso0, @Swiftb0y

fix menubar hotkey (Alt) for Qt 6.9
  src/controllers/keyboard/keyboardeventfilter.cpp
Owners: @daschuer, @acolombier

Update-ResampleEngine
  src/engine/cachingreader/cachingreader.cpp
  src/engine/cachingreader/cachingreader.h
  src/engine/cachingreader/cachingreaderworker.cpp
  src/engine/cachingreader/cachingreaderworker.h
  src/sources/soundsourcestem.cpp
  src/sources/soundsourcestem.h
Owners: @daschuer, @ronso0, @acolombier

fix macos buildenv
  tools/macos_buildenv.sh
Owners: none

fix a typo that prevents setting deployment target correctly for libkeyfinder
  CMakeLists.txt
Owners: none

Library scanner: when canceled, delete SannerTask pointer and clear pool
  src/library/scanner/libraryscanner.cpp
Owners: @ronso0, @Swiftb0y

Update-ResampleEngine
  src/sources/soundsourcestem.cpp
  src/sources/soundsourcestem.h
Owners: @daschuer, @acolombier

fix: correctly free reference to m_pSoundManager
  src/coreservices.cpp
  src/qml/qmlwaveformrenderer.cpp
Owners: @acolombier, @Holzhaus

Add track count to Tracks item in sidebar"
  src/library/librarytablemodel.cpp
  src/library/librarytablemodel.h
  src/library/mixxxlibraryfeature.cpp
  src/library/mixxxlibraryfeature.h
Owners: @ronso0, @Swiftb0y

fix: don't override unstable version with the current alpha
  src/preferences/upgrade.cpp
Owners: @ronso0, @Holzhaus

This report(package) has a ReportID which is stored as first byte, but this 'dummy' output is defined also at byte position 0
  res/controllers/Pioneer-CDJ-HID.js
Owners: none

Playlists: allow to adopt current order (sorted) as playlist order
  src/library/dao/playlistdao.cpp
  src/library/dao/playlistdao.h
  src/library/playlisttablemodel.cpp
  src/library/playlisttablemodel.h
  src/library/trackmodel.h
  src/widget/wtracktableview.cpp
  src/widget/wtracktableview.h
  src/widget/wtracktableviewheader.cpp
  src/widget/wtracktableviewheader.h
Owners: @ronso0, @Swiftb0y, @m0dB

Track view header: p prefix for pointers, const
  src/widget/wtracktableviewheader.cpp
  src/widget/wtracktableviewheader.h
Owners: @ronso0, @m0dB

Track view header: avoid calling showOrHideColumn() twice on click
  src/widget/wtracktableviewheader.cpp
Owners: @ronso0, @m0dB

Remove #include <qqmlintegration.h>
  src/qml/qmlsoundmanagerproxy.h
Owners: @acolombier, @Holzhaus

WMenuCheckBox: get consistent behavior when clicking text/space
  src/widget/wmenucheckbox.cpp
  src/widget/wsearchrelatedtracksmenu.cpp
Owners: @ronso0, @m0dB

Search: add constant BPM filter `bpm:const`
  src/library/columncache.cpp
  src/library/columncache.h
  src/library/dao/trackschema.h
  src/library/librarytablemodel.cpp
  src/library/missing_hidden/hiddentablemodel.cpp
  src/library/missing_hidden/missingtablemodel.cpp
  src/library/mixxxlibraryfeature.cpp
  src/library/searchquery.cpp
  src/library/searchquery.h
  src/library/searchqueryparser.cpp
  src/library/trackset/tracksettablemodel.cpp
Owners: @ronso0, @Swiftb0y

Track view header: avoid narrow columns after restoring header with hidden columns
  src/widget/wtracktableviewheader.cpp
  src/widget/wtracktableviewheader.h
Owners: @ronso0, @m0dB

Header view: make new/unknown columns visible
  src/widget/wtracktableviewheader.cpp
Owners: @ronso0, @m0dB

fix a typo that prevents setting deployment target correctly for libkeyfinder
  CMakeLists.txt
Owners: none

feat: add Library cappability on QML
  CMakeLists.txt
  res/qml/ActionButton.qml
  res/qml/ActionPopup.qml
  res/qml/DeckInfoBar.qml
  res/qml/InputField.qml
  res/qml/Library.qml
  res/qml/Library/Browser.qml
  res/qml/Library/Cell.qml
  res/qml/Library/Control.qml
  res/qml/Library/ControlLoadSelectedTrackHandler.qml
  res/qml/Library/SourceTree.qml
  res/qml/Library/Track.qml
  res/qml/Library/TrackList.qml
  res/qml/PreviewDeck.qml
  res/qml/Sampler.qml
  res/qml/Theme/Theme.qml
  res/qml/images/library_computer.png
  res/qml/images/library_crates.png
  res/qml/images/library_playlist.png
  src/library/browse/browsetablemodel.cpp
  src/library/sidebarmodel.h
  src/library/treeitemmodel.h
  src/main.cpp
  src/qml/qmlconfigproxy.h
  src/qml/qmllibraryproxy.cpp
  src/qml/qmllibraryproxy.h
  src/qml/qmllibrarysource.cpp
  src/qml/qmllibrarysource.h
  src/qml/qmllibrarysourcetree.cpp
  src/qml/qmllibrarysourcetree.h
  src/qml/qmllibrarytracklistcolumn.cpp
  src/qml/qmllibrarytracklistcolumn.h
  src/qml/qmllibrarytracklistmodel.cpp
  src/qml/qmllibrarytracklistmodel.h
  src/qml/qmlsidebarmodelproxy.cpp
  src/qml/qmlsidebarmodelproxy.h
  src/qml/qmlwaveformoverview.h
Owners: @Holzhaus, @acolombier, @ronso0, @Swiftb0y

feat(QML): explicitely define setting category
  res/qml/Settings.qml
  res/qml/Settings/Category.qml
Owners: @Holzhaus, @acolombier

feat(QML): enhance the setting components
  res/qml/Settings.qml
  res/qml/Settings/AudioRouter.qml
  res/qml/Settings/RatioChoice.qml
  res/qml/main.qml
Owners: @Holzhaus, @acolombier

feat(QML): add interface settings
  res/qml/Deck/TrackTime.qml
  res/qml/DeckInfoBar.qml
  res/qml/HotcuePopup.qml
  res/qml/Mixxx/Controls/Knob.qml
  res/qml/Sampler.qml
  res/qml/Settings.qml
  res/qml/Settings/ColorPaletteComboBox.qml
  res/qml/Settings/DefaultColorSelector.qml
  res/qml/Settings/FormButton.qml
  res/qml/Settings/Interface.qml
  res/qml/Settings/RatioChoice.qml
  res/qml/Settings/Slider.qml
  res/qml/Settings/SpinBox.qml
  res/qml/Theme/Theme.qml
  res/qml/main.qml
  src/mixer/basetrackplayer.cpp
  src/mixer/basetrackplayer.h
  src/preferences/dialog/dlgprefdeck.cpp
  src/preferences/dialog/dlgprefdeck.h
  src/preferences/interface.h
  src/qml/qmlconfigproxy.cpp
  src/qml/qmlconfigproxy.h
  src/qml/qmlsettingparameter.h
  src/test/enginebuffertest.cpp
  src/test/enginesynctest.cpp
Owners: @Holzhaus, @acolombier, @ronso0

Library Preferences: compose font style if font has no styleName()
  src/preferences/dialog/dlgpreflibrary.cpp
Owners: @ronso0, @Holzhaus

feat(QML): add basic DnD Deck interface
  CMakeLists.txt
  res/qml/Button.qml
  res/qml/ControlFader.qml
  res/qml/CrossfaderRow.qml
  res/qml/Deck.qml
  res/qml/Deck/BeatJump.qml
  res/qml/Deck/CueButton.qml
  res/qml/Deck/FXAssign.qml
  res/qml/Deck/HotcueAndStem.qml
  res/qml/Deck/InfoBar.qml
  res/qml/Deck/Loop.qml
  res/qml/Deck/PlayButton.qml
  res/qml/Deck/Spinny.qml
  res/qml/Deck/TempoColumn.qml
  res/qml/Deck/Toolbar.qml
  res/qml/Deck/WaveformOverview.qml
  res/qml/DeckInfoBar.qml
  res/qml/EqColumn.qml
  res/qml/EqKnob.qml
  res/qml/Fader.qml
  res/qml/Library/Cell.qml
  res/qml/MicrophoneDuckingPanel.qml
  res/qml/Mixer.qml
  res/qml/MixerColumn.qml
  res/qml/Mixxx/Controls/Fader.qml
  res/qml/Mixxx/Controls/Knob.qml
  res/qml/QuickFxKnob.qml
  res/qml/Theme/Theme.qml
  res/qml/main.qml
Owners: @Holzhaus, @acolombier

feat(QML): add library settings
  CMakeLists.txt
  res/qml/Deck/Loop.qml
  res/qml/Settings.qml
  res/qml/Settings/AudioRouter.qml
  res/qml/Settings/FormButton.qml
  res/qml/Settings/Library.qml
  res/qml/Settings/RatioChoice.qml
  res/qml/Settings/Slider.qml
  res/qml/Settings/SpinBox.qml
  res/qml/Theme/Theme.qml
  src/library/dao/directorydao.cpp
  src/library/dao/directorydao.h
  src/library/scanner/libraryscanner.cpp
  src/library/trackcollection.cpp
  src/library/trackcollection.h
  src/library/trackcollectionmanager.h
  src/qml/qmlconfigproxy.cpp
  src/qml/qmlconfigproxy.h
  src/qml/qmllibraryproxy.cpp
  src/qml/qmllibraryproxy.h
  src/qml/qmllibrarysource.cpp
  src/qml/qmllibrarysource.h
  src/qml/qmllibrarysourcetree.cpp
  src/qml/qmllibrarysourcetree.h
  src/qml/qmlsettingparameter.h
  src/qml/qmlsidebarmodelproxy.cpp
  src/qml/qmlsidebarmodelproxy.h
  tools/debian_buildenv.sh
Owners: @Holzhaus, @acolombier, @ronso0, @Swiftb0y

feat(QML): add waveform settings
  res/qml/Settings/Interface.qml
  res/qml/WaveformDisplay.qml
  src/preferences/configobject.cpp
  src/qml/qmlconfigproxy.cpp
  src/qml/qmlconfigproxy.h
  src/qml/qmltrackproxy.h
  src/qml/qmlwaveformdisplay.cpp
  src/qml/qmlwaveformdisplay.h
  src/qml/qmlwaveformoverview.h
  src/qml/qmlwaveformrenderer.cpp
  src/qml/qmlwaveformrenderer.h
  src/waveform/renderers/allshader/digitsrenderer.cpp
  src/waveform/renderers/allshader/waveformrendermark.cpp
  src/waveform/renderers/allshader/waveformrendermark.h
  src/waveform/renderers/waveformrendererabstract.cpp
  src/waveform/renderers/waveformrendererabstract.h
  src/waveform/renderers/waveformrenderersignalbase.cpp
  src/waveform/renderers/waveformrenderersignalbase.h
  src/waveform/renderers/waveformwidgetrenderer.cpp
  src/waveform/renderers/waveformwidgetrenderer.h
  src/waveform/visualplayposition.h
  src/waveform/widgets/allshader/waveformwidget.cpp
  src/waveform/widgets/allshader/waveformwidget.h
  tools/debian_buildenv.sh
Owners: @Holzhaus, @acolombier, @ronso0, @m0dB

feat(QML): add playlist, crates and browse
  CMakeLists.txt
  res/qml/Library/Browser.qml
  res/qml/Library/SourceTree.qml
  res/qml/Library/Track.qml
  res/qml/images/library_explorer.png
  src/main.cpp
  src/qml/qmlcrateproxy.cpp
  src/qml/qmlcrateproxy.h
  src/qml/qmllibrarysource.cpp
  src/qml/qmllibrarysource.h
  src/qml/qmlplaylistproxy.cpp
  src/qml/qmlplaylistproxy.h
  src/qml/qmlsidebarmodelproxy.cpp
  src/qml/qmlsidebarmodelproxy.h
Owners: @Holzhaus, @acolombier

Fix discovery of STEM tests by CTest
  CMakeLists.txt
Owners: none

Move `SWITCH_PHASE` quadrant correction to `track_quadrature_phase`
  lib/xwax/timecoder.c
Owners: none

fixup! feat(QML): add basic DnD Deck interface
  res/qml/ActionButton.qml
  res/qml/Button.qml
  res/qml/Deck.qml
  res/qml/Deck/BeatJump.qml
  res/qml/Deck/CueButton.qml
  res/qml/Deck/HotcueAndStem.qml
  res/qml/Deck/InfoBar.qml
  res/qml/Deck/Loop.qml
  res/qml/Deck/PlayButton.qml
  res/qml/Deck/Spinny.qml
  res/qml/Deck/Toolbar.qml
  res/qml/Deck/WaveformOverview.qml
  res/qml/DeckRow.qml
  res/qml/FormButton.qml
  res/qml/InfoBarButton.qml
  res/qml/Library/Browser.qml
  res/qml/Mixer.qml
  res/qml/MixerColumn.qml
  res/qml/Settings/SoundHardware.qml
  res/qml/Theme/Theme.qml
  res/qml/WaveformDisplay.qml
  res/qml/main.qml
Owners: @Holzhaus, @acolombier

feat(QML): add playlist, crates and browse
  CMakeLists.txt
  res/qml/Library/Browser.qml
  res/qml/Library/SourceTree.qml
  res/qml/Library/Track.qml
  res/qml/images/library_explorer.png
  src/library/trackset/baseplaylistfeature.h
  src/library/trackset/crate/cratefeature.h
  src/main.cpp
  src/qml/qmlcrateproxy.cpp
  src/qml/qmlcrateproxy.h
  src/qml/qmllibrarysource.cpp
  src/qml/qmllibrarysource.h
  src/qml/qmlplaylistproxy.cpp
  src/qml/qmlplaylistproxy.h
  src/qml/qmlsidebarmodelproxy.cpp
  src/qml/qmlsidebarmodelproxy.h
Owners: @Holzhaus, @acolombier, @ronso0, @Swiftb0y
