Repository mixxxdj/mixxx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Holzhaus, @acolombier, @daschuer, @Swiftb0y, @ronso0, @JoergAtGithub, @m0dB

.github/CODEOWNERS:

/.github/            @Holzhaus @acolombier
/packaging/          @daschuer @Swiftb0y
/res/qml             @Holzhaus @acolombier
/res/skins/          @ronso0 @Holzhaus
/src/analyzer        @acolombier @Swiftb0y
/src/audio           @acolombier @daschuer
/src/broadcast       @JoergAtGithub @daschuer
/src/control         @Holzhaus @Swiftb0y
/src/controllers     @daschuer @acolombier
/src/database        @daschuer @Swiftb0y
/src/dialog          @daschuer @JoergAtGithub
/src/effects         @daschuer @Swiftb0y
/src/encoder         @daschuer @JoergAtGithub
/src/engine          @daschuer @ronso0
/src/library         @ronso0 @Swiftb0y
/src/mixer           @ronso0 @Holzhaus
/src/musicbrainz     @ronso0 @JoergAtGithub
/src/network         @daschuer @JoergAtGithub
/src/preferences     @ronso0 @Holzhaus
/src/proto           @acolombier @Holzhaus
/src/qml             @acolombier @Holzhaus
/src/recording       @Holzhaus @Swiftb0y
/src/rendergraph     @m0dB @acolombier
/src/shaders         @m0dB @acolombier
/src/skin            @ronso0 @JoergAtGithub
/src/soundio         @Holzhaus @m0dB
/src/sources         @daschuer @acolombier
/src/track           @daschuer @ronso0
/src/util            @daschuer @Swiftb0y
/src/vinylcontrol    @Holzhaus @daschuer
/src/waveform        @m0dB @acolombier
/src/widget          @ronso0 @m0dB

Add mixxx namespace and documentation comments
  src/control/controlstring.cpp
  src/control/controlstring.h
  src/controllers/scripting/legacy/controllerscriptinterfacelegacy.cpp
  src/engine/controls/cuecontrol.cpp
  src/engine/controls/cuecontrol.h
Owners: @Holzhaus, @Swiftb0y, @daschuer, @acolombier, @ronso0

Fix build error: add ControlString include
  src/engine/controls/cuecontrol.h
Owners: @daschuer, @ronso0

fix: initialize `allshader::WaveformWidget::m_type`
  src/waveform/widgets/allshader/waveformwidget.cpp
Owners: @m0dB, @acolombier

Added testcase for QmlControlProxy->trigger()
  CMakeLists.txt
  src/test/qmlcontrolproxytest.cpp
Owners: none

WaveformWidgetFactory: add type and backend helpers
  src/waveform/waveformwidgetfactory.cpp
  src/waveform/waveformwidgetfactory.h
Owners: @m0dB, @acolombier

(fix) Waveforms: pick accelerated backend if available and required by type
  src/waveform/waveformwidgetfactory.cpp
Owners: @m0dB, @acolombier

Waveform preferences: show/hide Stem options when Stem support is changed
  src/preferences/dialog/dlgprefwaveform.cpp
  src/preferences/dialog/dlgprefwaveform.h
  src/preferences/dialog/dlgprefwaveformdlg.ui
  src/waveform/waveformwidgetfactory.cpp
  src/waveform/waveformwidgetfactory.h
Owners: @ronso0, @Holzhaus, @m0dB, @acolombier

Waveform preferences: remove empty destructor
  src/preferences/dialog/dlgprefwaveform.cpp
  src/preferences/dialog/dlgprefwaveform.h
Owners: @ronso0, @Holzhaus

Waveform preferences: move get/set acceleration to factory methods
  src/preferences/dialog/dlgprefwaveform.cpp
  src/waveform/waveformwidgetfactory.cpp
  src/waveform/waveformwidgetfactory.h
Owners: @ronso0, @Holzhaus, @m0dB, @acolombier

Waveform preferences: move get/set WaveformOptions to factory methods
  src/preferences/dialog/dlgprefwaveform.cpp
  src/waveform/waveformwidgetfactory.cpp
  src/waveform/waveformwidgetfactory.h
Owners: @ronso0, @Holzhaus, @m0dB, @acolombier

Waveform preferences: factory writes beatgrid alpha to config
  src/preferences/dialog/dlgprefwaveform.cpp
  src/waveform/waveformwidgetfactory.cpp
Owners: @ronso0, @Holzhaus, @m0dB, @acolombier

Waveform preferences: simplify set/update methods
  src/preferences/dialog/dlgprefwaveform.cpp
  src/preferences/dialog/dlgprefwaveform.h
Owners: @ronso0, @Holzhaus

Waveform preferences: fix handling of invalid overview config type
  src/preferences/dialog/dlgprefwaveform.cpp
Owners: @ronso0, @Holzhaus

DlgPrefRecord: re/move debug logging, remove inactive code, fix typos, add linebreaks
  src/preferences/dialog/dlgprefrecord.cpp
Owners: @ronso0, @Holzhaus

Enginerecord: comments
  src/engine/sidechain/enginerecord.cpp
Owners: @daschuer, @ronso0

RecordingManager: make rec sample COs persist, rm obsolete config read
  src/recording/recordingmanager.cpp
Owners: @Holzhaus, @Swiftb0y

Pioneer DDJ-200: rewrote to use componentContainers
  res/controllers/Pioneer DDJ-200.midi.xml
  res/controllers/Pioneer-DDJ-200-scripts.js
Owners: none

Pioneer DDJ-200: use all 4 effectunits
  res/controllers/Pioneer-DDJ-200-scripts.js
Owners: none

Pioneer DDJ-200: fix for jogWheel
  res/controllers/Pioneer-DDJ-200-scripts.js
Owners: none

RAM-Play
  .github/workflows/build.yml
  src/engine/cachingreader/cachingreader.cpp
  src/engine/cachingreader/cachingreader.h
  src/engine/cachingreader/cachingreaderworker.cpp
  src/engine/cachingreader/cachingreaderworker.h
  src/mixxxmainwindow.cpp
  src/mixxxmainwindow.h
Owners: @Holzhaus, @acolombier, @daschuer, @ronso0

Numark-NS6II: fixed command typo
  res/controllers/Numark-NS6II-scripts.js
Owners: none

4KDualScreen Layout for LateNight
  res/skins/LateNight (4KDual)/skin.xml
  res/skins/LateNight (4KDual)/skin_preview_Classic.png
  res/skins/LateNight (4KDual)/skin_preview_PaleMoon.png
  res/skins/LateNight (4KDual)/skin_settings.xml
  res/skins/LateNight (4KDual)/toolbar.xml
  res/skins/LateNight (4KDual)/toolbar_4KDual.xml
  res/skins/LateNight (64 Samplers 4KDual)/skin.xml
  res/skins/LateNight (64 Samplers 4KDual)/skin_preview_Classic.png
  res/skins/LateNight (64 Samplers 4KDual)/skin_preview_PaleMoon.png
  res/skins/LateNight (64 Samplers 4KDual)/skin_settings.xml
  res/skins/LateNight (64 Samplers 4KDual)/toolbar.xml
  res/skins/LateNight (64 Samplers 4KDual)/toolbar_4KDual.xml
  res/skins/LateNight (64 Samplers)/samplers_rack_4KDual.xml
  res/skins/LateNight/fx_rack_4KDual.xml
  res/skins/LateNight/samplers/samplers_4decks_4KDual.xml
  res/skins/LateNight/samplers/samplers_8decks_4KDual.xml
  res/skins/LateNight/samplers_rack_4KDual.xml
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
Owners: @ronso0, @Holzhaus

without qml formatter
  res/skins/LateNight (4KDual)/toolbar_4KDual.xml
Owners: @ronso0, @Holzhaus

without qml formatter
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
Owners: @ronso0, @Holzhaus

Numark NS6II: fixed code typo in NS6II.padMode
  res/controllers/Numark-NS6II-scripts.js
Owners: none

Remove unused m_inputStreamFramesWritten
  src/engine/sidechain/enginenetworkstream.cpp
  src/engine/sidechain/enginenetworkstream.h
Owners: @daschuer, @ronso0

Network clock: try to catch up one buffer in case of engine overload.
  src/soundio/sounddevicenetwork.cpp
Owners: @Holzhaus, @m0dB

Pioneer DDJ-200: final cleanup of play and cue buttons
  res/controllers/Pioneer-DDJ-200-scripts.js
Owners: none

Pioneer DDJ-200: cleanup TransFXButton and RingBuffer
  res/controllers/Pioneer-DDJ-200-scripts.js
Owners: none

Pioneer DDJ-200: indication fix for PadMode change
  res/controllers/Pioneer-DDJ-200-scripts.js
Owners: none

Tracks: Shift+Space sorts by current column / toggles sort order
  src/widget/wtracktableview.cpp
Owners: @ronso0, @m0dB

Tracks, overview column: draw focus border on top of overview pixmap
  src/library/tabledelegates/overviewdelegate.cpp
Owners: @ronso0, @Swiftb0y

Pioneer DDJ-200: transFxButton change in midi
  res/controllers/Pioneer DDJ-200.midi.xml
Owners: none

Pioneer DDJ-200: updated Implementation of Loop Pads
  res/controllers/Pioneer-DDJ-200-scripts.js
Owners: none

Pioneer DDJ-200: updated Implementation of BeatJump Pads
  res/controllers/Pioneer-DDJ-200-scripts.js
Owners: none

removed some prepwin refs
  res/skins/LateNight (4KDual)/skin.xml
  res/skins/LateNight (4KDual)/skin_settings.xml
  res/skins/LateNight (64 Samplers 4KDual)/skin.xml
  res/skins/LateNight (64 Samplers 4KDual)/skin_settings.xml
Owners: @ronso0, @Holzhaus

Pioneer DDJ-200: simplified Effect Button implementation
  res/controllers/Pioneer-DDJ-200-scripts.js
Owners: none

Pioneer DDJ-200: updated bpmTap buttons
  res/controllers/Pioneer-DDJ-200-scripts.js
Owners: none

Pioneer DDJ-200: updated implementation of headMix
  res/controllers/Pioneer-DDJ-200-scripts.js
Owners: none

Wait 3 callbacks before starting drift compensation. This is avoids drifting forth and back with for APIs like ASIO where internal buffering is involved.
  src/soundio/sounddeviceportaudio.cpp
  src/soundio/sounddeviceportaudio.h
Owners: @Holzhaus, @m0dB
