Repository mixxxdj/mixxx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Holzhaus, @acolombier, @daschuer, @Swiftb0y, @ronso0, @JoergAtGithub, @m0dB

.github/CODEOWNERS:

/.github/            @Holzhaus @acolombier
/packaging/          @daschuer @Swiftb0y
/res/qml             @Holzhaus @acolombier
/res/skins/          @ronso0 @Holzhaus
/src/analyzer        @acolombier @Swiftb0y
/src/audio           @acolombier @daschuer
/src/broadcast       @JoergAtGithub @daschuer
/src/control         @Holzhaus @Swiftb0y
/src/controllers     @daschuer @acolombier
/src/database        @daschuer @Swiftb0y
/src/dialog          @daschuer @JoergAtGithub
/src/effects         @daschuer @Swiftb0y
/src/encoder         @daschuer @JoergAtGithub
/src/engine          @daschuer @ronso0
/src/library         @ronso0 @Swiftb0y
/src/mixer           @ronso0 @Holzhaus
/src/musicbrainz     @ronso0 @JoergAtGithub
/src/network         @daschuer @JoergAtGithub
/src/preferences     @ronso0 @Holzhaus
/src/proto           @acolombier @Holzhaus
/src/qml             @acolombier @Holzhaus
/src/recording       @Holzhaus @Swiftb0y
/src/rendergraph     @m0dB @acolombier
/src/shaders         @m0dB @acolombier
/src/skin            @ronso0 @JoergAtGithub
/src/soundio         @Holzhaus @m0dB
/src/sources         @daschuer @acolombier
/src/track           @daschuer @ronso0
/src/util            @daschuer @Swiftb0y
/src/vinylcontrol    @Holzhaus @daschuer
/src/waveform        @m0dB @acolombier
/src/widget          @ronso0 @m0dB

OSCLiblo -> ChangeHandle Of Config 2 Vars, LeanAndMean, Cmake for package
  CMakeLists.txt
  cmake/modules/Findliblo.cmake
  src/RCa13796
  src/RCb13796
  src/engine/enginebuffer.cpp
  src/mixer/basetrackplayer.cpp
  src/mixxxmainwindow.cpp
  src/mixxxmainwindow.h
  src/osc/oscfunctions.h
  src/osc/oscreceiver.cpp
  src/osc/oscreceiver.h
Owners: @daschuer, @ronso0, @Holzhaus

OSCPack -> Added ARM64 Support MacOS/2.6
  src/osc/osc/OscOutboundPacketStream.h
  src/osc/osc/OscReceivedElements.cpp
  src/osc/osc/OscReceivedElements.h
  src/osc/osc/OscTypes.h
  src/osc/oscreceiver.cpp
Owners: none

OSCLiblo -> conversion_function OSCPath T/B/L to Mixxx-CO's
  src/osc/oscfunctions.h
  src/osc/oscreceiver.cpp
  src/osc/oscreceiver.h
Owners: none

OSCLiblo -> Remove OSCPack and introduce Liblo
  CMakeLists.txt
  cmake/modules/FindLiblo.cmake
  src/mixxxmainwindow.cpp
  src/mixxxmainwindow.h
  src/osc/ip/IpEndpointName.cpp
  src/osc/ip/IpEndpointName.h
  src/osc/ip/NetworkingUtils.h
  src/osc/ip/PacketListener.h
  src/osc/ip/TimerListener.h
  src/osc/ip/UdpSocket.h
  src/osc/ip/posix/NetworkingUtils.cpp
  src/osc/ip/posix/UdpSocket.cpp
  src/osc/ip/win32/NetworkingUtils.cpp
  src/osc/ip/win32/UdpSocket.cpp
  src/osc/osc/MessageMappingOscPacketListener.h
  src/osc/osc/OscException.h
  src/osc/osc/OscHostEndianness.h
  src/osc/osc/OscOutboundPacketStream.cpp
  src/osc/osc/OscOutboundPacketStream.h
  src/osc/osc/OscPacketListener.h
  src/osc/osc/OscPrintReceivedElements.cpp
  src/osc/osc/OscPrintReceivedElements.h
  src/osc/osc/OscReceivedElements.cpp
  src/osc/osc/OscReceivedElements.h
  src/osc/osc/OscTypes.cpp
  src/osc/osc/OscTypes.h
  src/osc/oscfunctions.h
  src/osc/oscreceiver.cpp
  src/osc/oscreceiver.h
Owners: none

OSCLiblo -> Added EscapeJSon Artist & Title
  src/engine/enginebuffer.cpp
  src/mixer/basetrackplayer.cpp
  src/mixxxmainwindow.cpp
  src/osc/oscfunctions.h
  src/osc/oscreceiver.cpp
  src/osc/oscreceiver.h
Owners: @daschuer, @ronso0, @Holzhaus

OSCPack -> added TrackInfo 4 OSCleton
  CMakeLists.txt
  src/osc/oscfunctions.h
  src/osc/oscreceiver.cpp
Owners: none

OSCLiblo -> fix problem with CI Builds on MacOS: plist & entitlements
  .github/workflows/build.yml
  CMakeLists.txt
  src/test/osc_liblo_test.cpp
  src/test/osc_mixxx_integration_test.cpp
Owners: @Holzhaus, @acolombier

OSCLiblo -> update OSCprefs UI & tooltips
  src/preferences/dialog/dlgprefoscdlg.ui
Owners: @ronso0, @Holzhaus

OSCLiblo -> Cleanup & test packaging for MacOS (plist & entitlements)
  CMakeLists.txt
  packaging/macos/Mixxx.entitlements
  src/test/osc_mixxx_integration_test.cpp
Owners: @daschuer, @Swiftb0y

OSCLiblo -> get liblo packahe on linux (apt) & MacOS (homeBrew / VCPKG)
  .github/workflows/build.yml
  CMakeLists.txt
  src/mixxxmainwindow.cpp
  src/osc/oscfunctions.h
  src/osc/oscreceiver.cpp
  tools/debian_buildenv.sh
Owners: @Holzhaus, @acolombier

OSCLiblo -> Added extra regex for stem_fx super & enable
  src/osc/oscfunctions.h
  src/osc/oscreceiver.cpp
Owners: none

OSCLiblo -> Adjust CMakeLists, cmake for Liblo package
  .github/workflows/build.yml
  .github/workflows/checks.yml
  CMakeLists.txt
  cmake/modules/Findliblo.cmake
  cmake/modules/Findlo.cmake
  src/osc/oscfunctions.h
  src/osc/oscreceiver.cpp
  src/osc/oscreceiver.h
Owners: @Holzhaus, @acolombier

OSCLiblo -> cleanup commits & correct messages
  CMakeLists.txt
Owners: none

OSCLiblo -> plist message for accessing network on MacOS
  packaging/macos/Info.plist.in
Owners: @daschuer, @Swiftb0y

PlaylistImporterFromCsv -> import an external CSV, search for possible matching tracks in the library
  src/library/trackset/baseplaylistfeature.cpp
  src/library/trackset/baseplaylistfeature.h
  src/library/trackset/playlistfeature.cpp
Owners: @ronso0, @Swiftb0y

PlaylistimporterFromCsw -> extra fields in UI + cleanup
  src/library/trackset/baseplaylistfeature.cpp
Owners: @ronso0, @Swiftb0y

[FIX] Too complex type if group was any
  res/controllers/mixxx-controls.d.ts
Owners: none

Set getSetting() name type back to string
  res/controllers/engine-api.d.ts
Owners: none

Improve text for Cover Art -> Choose file menu
  src/widget/wcoverartmenu.cpp
Owners: @ronso0, @m0dB

Show an overview of the hotcues in the tooltip of multiple fields
  src/library/basetracktablemodel.cpp
  src/library/basetracktablemodel.h
  src/library/trackcollection.h
Owners: @ronso0, @Swiftb0y

Playlists: add action to remove duplicate tracks
  src/library/dao/playlistdao.cpp
  src/library/dao/playlistdao.h
  src/library/trackset/playlistfeature.cpp
  src/library/trackset/playlistfeature.h
Owners: @ronso0, @Swiftb0y

Reorder Find on Web menu for fine to coarse, Exact Track to Cover Track
  src/widget/findonwebmenufactory.cpp
  src/widget/findonwebmenuservices/findonwebmenudiscogs.cpp
  src/widget/findonwebmenuservices/findonwebmenulastfm.cpp
  src/widget/findonwebmenuservices/findonwebmenusoundcloud.cpp
Owners: @ronso0, @m0dB

Remove not working Artist + Album from LastFM
  src/widget/findonwebmenuservices/findonwebmenulastfm.cpp
Owners: @ronso0, @m0dB

Use a normal QMenu parent for the Find On Web root menu
  src/widget/wfindonwebmenu.cpp
  src/widget/wtrackmenu.cpp
  src/widget/wtrackmenu.h
Owners: @ronso0, @m0dB

Move aboutToShow() code to updateMenus() to allow a first level action later.
  src/widget/wtrackmenu.cpp
Owners: @ronso0, @m0dB

Remove title and track info from Find on Web menu to tidy it up.
  src/widget/findonwebmenuservices/findonwebmenudiscogs.cpp
  src/widget/findonwebmenuservices/findonwebmenulastfm.cpp
  src/widget/findonwebmenuservices/findonwebmenusoundcloud.cpp
  src/widget/wfindonwebmenu.cpp
  src/widget/wfindonwebmenu.h
Owners: @ronso0, @m0dB

Introduce a find on Web ID
  src/widget/findonwebmenuservices/findonwebmenudiscogs.cpp
  src/widget/findonwebmenuservices/findonwebmenulastfm.cpp
  src/widget/findonwebmenuservices/findonwebmenusoundcloud.cpp
  src/widget/wfindonwebmenu.cpp
  src/widget/wfindonwebmenu.h
Owners: @ronso0, @m0dB

Pioneer DDJ-200: added option to change rateRange
  res/controllers/Pioneer-DDJ-200-scripts.js
Owners: none

Pioneer DDJ-200: use dblClick on Shift Btn to swap decks
  res/controllers/Pioneer-DDJ-200-scripts.js
Owners: none

Skin Highlight Controls: LateNight Palemoon
  res/skins/LateNight/style_palemoon.qss
Owners: @ronso0, @Holzhaus

Disabled control name check if name is just string
  res/controllers/mixxx-controls.d.ts
Owners: none

Update src/library/basetracktablemodel.cpp
  src/library/basetracktablemodel.cpp
Owners: @ronso0, @Swiftb0y

Update src/library/basetracktablemodel.cpp
  src/library/basetracktablemodel.cpp
Owners: @ronso0, @Swiftb0y

Improved mixxx control types structure; Added read-only namespace
  res/controllers/engine-api.d.ts
  res/controllers/mixxx-controls.d.ts
Owners: none

Excluded read-only controls for set functions
  res/controllers/engine-api.d.ts
  res/controllers/mixxx-controls.d.ts
Owners: none

Added ControlPotMeter control suffixes
  res/controllers/mixxx-controls.d.ts
Owners: none

Added stem related controls
  res/controllers/mixxx-controls.d.ts
Owners: none

Replaced coloured lines with ronso's nice coloured squares with number
  src/library/basetracktablemodel.cpp
Owners: @ronso0, @Swiftb0y
