Repository mixxxdj/mixxx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Holzhaus, @acolombier, @daschuer, @Swiftb0y, @ronso0, @JoergAtGithub, @m0dB

.github/CODEOWNERS:

/.github/            @Holzhaus @acolombier
/packaging/          @daschuer @Swiftb0y
/res/qml             @Holzhaus @acolombier
/res/skins/          @ronso0 @Holzhaus
/src/analyzer        @acolombier @Swiftb0y
/src/audio           @acolombier @daschuer
/src/broadcast       @JoergAtGithub @daschuer
/src/control         @Holzhaus @Swiftb0y
/src/controllers     @daschuer @acolombier
/src/database        @daschuer @Swiftb0y
/src/dialog          @daschuer @JoergAtGithub
/src/effects         @daschuer @Swiftb0y
/src/encoder         @daschuer @JoergAtGithub
/src/engine          @daschuer @ronso0
/src/library         @ronso0 @Swiftb0y
/src/mixer           @ronso0 @Holzhaus
/src/musicbrainz     @ronso0 @JoergAtGithub
/src/network         @daschuer @JoergAtGithub
/src/preferences     @ronso0 @Holzhaus
/src/proto           @acolombier @Holzhaus
/src/qml             @acolombier @Holzhaus
/src/recording       @Holzhaus @Swiftb0y
/src/rendergraph     @m0dB @acolombier
/src/shaders         @m0dB @acolombier
/src/skin            @ronso0 @JoergAtGithub
/src/soundio         @Holzhaus @m0dB
/src/sources         @daschuer @acolombier
/src/track           @daschuer @ronso0
/src/util            @daschuer @Swiftb0y
/src/vinylcontrol    @Holzhaus @daschuer
/src/waveform        @m0dB @acolombier
/src/widget          @ronso0 @m0dB

Fix default for "[Controls], RateDir" in lotResetToDefaults()
  src/preferences/dialog/dlgprefdeck.cpp
Owners: @ronso0, @Holzhaus

Use QStringLiteral for config keys
  src/preferences/dialog/dlgprefdeck.cpp
Owners: @ronso0, @Holzhaus

Waveform preferences: remove empty destructor
  src/preferences/dialog/dlgprefwaveform.cpp
  src/preferences/dialog/dlgprefwaveform.h
Owners: @ronso0, @Holzhaus

Waveform preferences: move get/set acceleration to factory methods
  src/preferences/dialog/dlgprefwaveform.cpp
  src/waveform/waveformwidgetfactory.cpp
  src/waveform/waveformwidgetfactory.h
Owners: @ronso0, @Holzhaus, @m0dB, @acolombier

Waveform preferences: move get/set WaveformOptions to factory methods
  src/preferences/dialog/dlgprefwaveform.cpp
  src/waveform/waveformwidgetfactory.cpp
  src/waveform/waveformwidgetfactory.h
Owners: @ronso0, @Holzhaus, @m0dB, @acolombier

Waveform preferences: factory writes beatgrid alpha to config
  src/preferences/dialog/dlgprefwaveform.cpp
  src/waveform/waveformwidgetfactory.cpp
Owners: @ronso0, @Holzhaus, @m0dB, @acolombier

LateNight PaleMoon: optimize hotcue loop SVGs
  res/skins/LateNight/palemoon/buttons/btn__1_loop.svg
  res/skins/LateNight/palemoon/buttons/btn__2_loop.svg
  res/skins/LateNight/palemoon/buttons/btn__3_loop.svg
  res/skins/LateNight/palemoon/buttons/btn__4_loop.svg
  res/skins/LateNight/palemoon/buttons/btn__5_loop.svg
  res/skins/LateNight/palemoon/buttons/btn__6_loop.svg
  res/skins/LateNight/palemoon/buttons/btn__7_loop.svg
  res/skins/LateNight/palemoon/buttons/btn__8_loop.svg
Owners: @ronso0, @Holzhaus

LateNight PaleMoon: add 'dark' hotcue loop SVGs
  res/skins/LateNight/palemoon/buttons/btn__1_loop_dark.svg
  res/skins/LateNight/palemoon/buttons/btn__2_loop_dark.svg
  res/skins/LateNight/palemoon/buttons/btn__3_loop_dark.svg
  res/skins/LateNight/palemoon/buttons/btn__4_loop_dark.svg
  res/skins/LateNight/palemoon/buttons/btn__5_loop_dark.svg
  res/skins/LateNight/palemoon/buttons/btn__6_loop_dark.svg
  res/skins/LateNight/palemoon/buttons/btn__7_loop_dark.svg
  res/skins/LateNight/palemoon/buttons/btn__8_loop_dark.svg
  res/skins/LateNight/style_palemoon.qss
Owners: @ronso0, @Holzhaus

Waveform preferences: simplify set/update methods
  src/preferences/dialog/dlgprefwaveform.cpp
  src/preferences/dialog/dlgprefwaveform.h
Owners: @ronso0, @Holzhaus

Tracks header: allow to save and load a custom column layout
  src/library/browse/browsetablemodel.h
  src/library/trackmodel.h
  src/widget/wtracktableviewheader.cpp
  src/widget/wtracktableviewheader.h
Owners: @ronso0, @Swiftb0y, @m0dB

Skins, LateNight: add unchecked checkbox icon for header menu
  res/skins/LateNight/style_palemoon.qss
Owners: @ronso0, @Holzhaus

Skins: increase height of header menu action to match checkboxes
  res/skins/default.qss
Owners: @ronso0, @Holzhaus

preferences/upgrade: use const kVersionCfgKey
  src/preferences/upgrade.cpp
Owners: @ronso0, @Holzhaus

hidden tracks: remove from all playlists* when upgrading from 2.1 or earlier
  src/coreservices.cpp
  src/library/dao/playlistdao.cpp
  src/library/dao/playlistdao.h
  src/library/playlisttablemodel.cpp
  src/library/playlisttablemodel.h
  src/library/trackcollection.cpp
  src/library/trackcollectionmanager.cpp
  src/library/trackcollectionmanager.h
  src/library/trackset/baseplaylistfeature.cpp
  src/library/trackset/baseplaylistfeature.h
  src/library/trackset/setlogfeature.cpp
  src/preferences/settingsmanager.cpp
  src/preferences/settingsmanager.h
  src/preferences/upgrade.cpp
  src/preferences/upgrade.h
Owners: @ronso0, @Swiftb0y, @Holzhaus

hide tracks: optionally remove from playlists
  src/library/trackcollection.cpp
Owners: @ronso0, @Swiftb0y

Skin Highlight Controls: added global on/off
  res/skins/LateNight/decks/deck_compact.xml
  res/skins/LateNight/decks/deck_full.xml
  res/skins/LateNight/decks/deck_mini.xml
  res/skins/LateNight/decks/preview_deck.xml
  res/skins/LateNight/mixer/channel_4decks.xml
  res/skins/LateNight/skin_settings.xml
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
  res/skins/LateNight/waveform.xml
  src/skin/skincontrols.cpp
  src/skin/skincontrols.h
  src/widget/wwidgetgroup.cpp
  src/widget/wwidgetgroup.h
Owners: @ronso0, @Holzhaus, @JoergAtGithub, @m0dB

Added Horizontal Layout to existing LateNight Skins
  res/skins/LateNight (4KDual)/skin.xml
  res/skins/LateNight (4KDual)/skin_preview_Classic.png
  res/skins/LateNight (4KDual)/skin_preview_PaleMoon.png
  res/skins/LateNight (4KDual)/skin_settings.xml
  res/skins/LateNight (4KDual)/toolbar_4KDual.xml
  res/skins/LateNight (64 Samplers 4KDual)/skin.xml
  res/skins/LateNight (64 Samplers 4KDual)/skin_preview_Classic.png
  res/skins/LateNight (64 Samplers 4KDual)/skin_preview_PaleMoon.png
  res/skins/LateNight (64 Samplers 4KDual)/skin_settings.xml
  res/skins/LateNight (64 Samplers 4KDual)/toolbar.xml
  res/skins/LateNight (64 Samplers)/samplers_rack_4KDual.xml
  res/skins/LateNight (64 Samplers)/samplers_rack_horizontal.xml
  res/skins/LateNight (64 Samplers)/skin.xml
  res/skins/LateNight (64 Samplers)/toolbar.xml
  res/skins/LateNight/fx_rack_horizontal.xml
  res/skins/LateNight/samplers/samplers_4decks_horizontal.xml
  res/skins/LateNight/samplers/samplers_8decks_horizontal.xml
  res/skins/LateNight/samplers_rack_horizontal.xml
  res/skins/LateNight/skin.xml
  res/skins/LateNight/skin_settings.xml
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
  res/skins/LateNight/toolbar.xml
  res/skins/LateNight/toolbar_horizontal.xml
  src/RCa09692
  src/skin/legacy/tooltips.cpp
Owners: @ronso0, @Holzhaus, @JoergAtGithub

Skin Highlight Controls: redraw layout on border change
  src/widget/wwidgetgroup.cpp
Owners: @ronso0, @m0dB

Skin Highlight Controls: added tooltip for global option
  src/skin/legacy/tooltips.cpp
Owners: @ronso0, @JoergAtGithub

Skin Highlight Controls: added global option preview
  preview/global_configuration_and_tooltip.png
Owners: none

Pioneer DDJ-200: bugfix wrong deck selected of 4deck is left
  res/controllers/Pioneer-DDJ-200-scripts.js
Owners: none

Pioneer DDJ-200: PadModeContainers cleanup
  res/controllers/Pioneer-DDJ-200-scripts.js
Owners: none

Add parentheses as suggested by linter.
  src/preferences/dialog/dlgprefwaveform.cpp
Owners: @ronso0, @Holzhaus

Hide option QOPENGL for QT6 builds. It can be removed in a later PR.
  CMakeLists.txt
Owners: none

Pioneer DDJ-200: conversion to classes
  res/controllers/Pioneer-DDJ-200-scripts.js
Owners: none

Pioneer DDJ-200: cleanup + ES6 for padModeContainers
  res/controllers/Pioneer-DDJ-200-scripts.js
Owners: none

Pioneer DDJ-200: removed keyboard flash effect
  res/controllers/Pioneer-DDJ-200-scripts.js
Owners: none

Adjusted to get as less possible diffs
  res/skins/LateNight (64 Samplers)/skin.xml
  res/skins/LateNight (64 Samplers)/toolbar.xml
  res/skins/LateNight/style_palemoon.qss
  res/skins/LateNight/toolbar.xml
  res/skins/LateNight/toolbar_horizontal.xml
  src/RCa09692
Owners: @ronso0, @Holzhaus

replaced all RAM-Play occurences with TrackFileCache
  src/engine/cachingreader/cachingreader.cpp
  src/engine/cachingreader/cachingreader.h
  src/engine/cachingreader/cachingreaderworker.cpp
  src/engine/cachingreader/cachingreaderworker.h
  src/mixxxmainwindow.cpp
  src/mixxxmainwindow.h
Owners: @daschuer, @ronso0

add preferences, remove artist & title from tempfilename
  src/engine/cachingreader/cachingreader.cpp
  src/engine/cachingreader/cachingreader.h
  src/engine/cachingreader/cachingreaderworker.cpp
  src/engine/cachingreader/cachingreaderworker.h
  src/mixxxmainwindow.cpp
  src/preferences/dialog/dlgprefdeck.cpp
  src/preferences/dialog/dlgprefdeck.h
  src/preferences/dialog/dlgprefdeckdlg.ui
Owners: @daschuer, @ronso0, @Holzhaus

Cover Art: reset track's CoverInfo if metadata image doesn't exist anymore
  src/library/coverartcache.cpp
Owners: @ronso0, @Swiftb0y

some fixes
  src/preferences/dialog/dlgprefdeck.cpp
  src/preferences/dialog/dlgprefdeck.h
Owners: @ronso0, @Holzhaus

some fixes
  src/preferences/dialog/dlgprefdeck.cpp
Owners: @ronso0, @Holzhaus

fix for contradictory compilers
  src/preferences/dialog/dlgprefdeck.cpp
  src/preferences/dialog/dlgprefdeck.h
Owners: @ronso0, @Holzhaus

fix for contradictory compilers
  src/preferences/dialog/dlgprefdeck.cpp
Owners: @ronso0, @Holzhaus

Pioneer DDJ-200: centralized setCurrentDeck
  res/controllers/Pioneer-DDJ-200-scripts.js
Owners: none

Skin Highlight Controls: added Tango Skin implementation
  res/skins/Tango/decks/deck_left.xml
  res/skins/Tango/decks/deck_left_mini.xml
  res/skins/Tango/decks/deck_right.xml
  res/skins/Tango/decks/deck_right_mini.xml
  res/skins/Tango/skin_settings.xml
  res/skins/Tango/style.qss
  res/skins/Tango/waveform.xml
Owners: @ronso0, @Holzhaus

Skin Highlight Controls: added Deere Skin implementation
  res/skins/Deere/deck.xml
  res/skins/Deere/mixer.xml
  res/skins/Deere/mixer_controls_4decks_left.xml
  res/skins/Deere/mixer_controls_4decks_right.xml
  res/skins/Deere/skin_settings.xml
  res/skins/Deere/style.qss
Owners: @ronso0, @Holzhaus

Pioneer DDJ-200: reset Volume of Deck 3 and 4 on start
  res/controllers/Pioneer-DDJ-200-scripts.js
Owners: none

Skin Highlight Controls: visual Skin highlight tuning
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
Owners: @ronso0, @Holzhaus
