Repository mixxxdj/mixxx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Holzhaus, @acolombier, @daschuer, @Swiftb0y, @ronso0, @JoergAtGithub, @m0dB

Fix new Xcode 16.4 Wnan-infinity-disabled warning
  src/effects/backends/audiounit/audiouniteffectprocessor.mm
Owners: @daschuer, @Swiftb0y

Replace discontinued macOS 13 x64 GitHub runner
  .github/workflows/build.yml
Owners: @Holzhaus, @acolombier

Fix fpclassify errors due to XCode 16.4 compiler optimizations
  src/test/mathutiltest.cpp
  src/util/fpclassify.cpp
  src/util/fpclassify.h
  src/util/math.h
Owners: @daschuer, @Swiftb0y

Fix discovery of STEM tests by CTest
  CMakeLists.txt
Owners: none

Update src/effects/backends/audiounit/audiouniteffectprocessor.mm
  src/effects/backends/audiounit/audiouniteffectprocessor.mm
Owners: @daschuer, @Swiftb0y

Library: also apply library font size(!) to tracks header
  res/skins/LateNight/style.qss
  res/skins/LateNight/style_palemoon.qss
  src/library/basetracktablemodel.cpp
  src/widget/wlibrarytableview.cpp
  src/widget/wtracktableview.cpp
  src/widget/wtracktableviewheader.cpp
  src/widget/wtracktableviewheader.h
Owners: @ronso0, @Holzhaus, @Swiftb0y, @m0dB

Use the correct number of channels for underflow compensation
  src/soundio/sounddeviceportaudio.cpp
Owners: @Holzhaus, @m0dB

LateNight: revert xfader buttons to one (cycling) toggle
  res/skins/LateNight/controls/button_xfader_aux.xml
  res/skins/LateNight/controls/button_xfader_deck.xml
Owners: @ronso0, @Holzhaus

Menubar: make Alt woork immediately when Auto-hide checkbox is toggled
  src/mixxxmainwindow.cpp
  src/widget/wmainmenubar.cpp
  src/widget/wmainmenubar.h
Owners: @ronso0, @m0dB

Disable StemControlTest.Volume and StemControlTest.Mute which do fail on Windows
  src/test/stemcontrolobjecttest.cpp
Owners: none

Playlists: add action to remove duplicate tracks
  src/library/dao/playlistdao.cpp
  src/library/dao/playlistdao.h
  src/library/trackset/playlistfeature.cpp
  src/library/trackset/playlistfeature.h
Owners: @ronso0, @Swiftb0y

trace signals
  src/mixxxmainwindow.cpp
  src/widget/wmainmenubar.cpp
Owners: @ronso0, @m0dB

Fix sampler sync functionality for Mixxx skins
  res/skins/Deere/sampler_controls_row.xml
  res/skins/LateNight/classic/buttons/btn__sync_sampler.svg
  res/skins/LateNight/samplers/sampler.xml
  res/skins/Shade/sampler.xml
  res/skins/Tango/mic_aux_sampler/sampler.xml
Owners: @ronso0, @Holzhaus

Playlists: allow to adopt current order (sorted) as playlist order
  src/library/dao/playlistdao.cpp
  src/library/dao/playlistdao.h
  src/library/playlisttablemodel.cpp
  src/library/playlisttablemodel.h
  src/library/trackset/playlistfeature.cpp
  src/library/trackset/playlistfeature.h
Owners: @ronso0, @Swiftb0y

SoundDeviceNetwork: Fix writing wrong number of silence after a long underrun
  src/soundio/sounddevicenetwork.cpp
Owners: @Holzhaus, @m0dB

Computer feature: fix "Refresh directory tree"
  src/library/browse/browsefeature.cpp
  src/library/treeitemmodel.cpp
Owners: @ronso0, @Swiftb0y

Search: add filter shortcuts, eg. t|title, a|artist, cm|comment, y|year
  src/library/searchqueryparser.cpp
Owners: @ronso0, @Swiftb0y

LateNight: work around style bug in Qt 6.9.2
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
Owners: @ronso0, @Holzhaus

Pioneer DDJ-200: fix for hotcue issues, rewrite
  res/controllers/Pioneer DDJ-200.midi.xml
  res/controllers/Pioneer-DDJ-200-scripts.js
Owners: none

Pioneer DDJ-200: added eslint excemption
  res/controllers/Pioneer-DDJ-200-scripts.js
Owners: none

Pioneer DDJ-200: removed volume/gain changes
  res/controllers/Pioneer-DDJ-200-scripts.js
Owners: none

Pioneer DDJ-200: don't override user options
  res/controllers/Pioneer-DDJ-200-scripts.js
Owners: none

Pioneer DDJ-200: shutdown will switch off all LEDs
  res/controllers/Pioneer-DDJ-200-scripts.js
Owners: none

Pioneer DDJ-200: moved Button initializations into init
  res/controllers/Pioneer-DDJ-200-scripts.js
Owners: none

Pioneer DDJ-200: use inKey for loading tracks
  res/controllers/Pioneer-DDJ-200-scripts.js
Owners: none

Pioneer DDJ-200: disconnect outKey before change
  res/controllers/Pioneer-DDJ-200-scripts.js
Owners: none

Header view: make new/unknown columns visible
  src/widget/wtracktableviewheader.cpp
Owners: @ronso0, @m0dB

WOverview: correct member comments
  src/widget/woverview.h
Owners: @ronso0, @m0dB

WOverview: make ControlProxies parented_ptr, use PollingControlProxy
  src/widget/woverview.cpp
  src/widget/woverview.h
Owners: @ronso0, @m0dB

WOverview: blink end-of-track frame
  src/widget/woverview.cpp
  src/widget/woverview.h
Owners: @ronso0, @m0dB

WaveformWidgetFactory: emit endOfTrackTimeChanged, receive in WOverview
  src/waveform/waveformwidgetfactory.cpp
  src/waveform/waveformwidgetfactory.h
  src/widget/woverview.cpp
  src/widget/woverview.h
Owners: @m0dB, @acolombier, @ronso0

Traktor Kontrol S4 Mk3: add 4 effect units
  res/controllers/Traktor-Kontrol-S4-MK3.js
Owners: none

trace logging, disabled
  res/controllers/Traktor-Kontrol-S4-MK3.js
Owners: none

Pioneer DDJ-200: cleanup shift button behaviour
  res/controllers/Pioneer DDJ-200.midi.xml
  res/controllers/Pioneer-DDJ-200-scripts.js
Owners: none

Pioneer DDJ-200: play and cue btn cleanup
  res/controllers/Pioneer-DDJ-200-scripts.js
Owners: none

feat: add `[Main], pfl` CO to send main output to PFL channel
  src/engine/enginemixer.cpp
  src/engine/enginemixer.h
Owners: @daschuer, @ronso0

Pioneer DDJ-200: use components-js implementations
  res/controllers/Pioneer-DDJ-200-scripts.js
Owners: none

Add [Main],pfl
  src/engine/enginemixer.cpp
  src/engine/enginemixer.h
Owners: @daschuer, @ronso0

🎛️ implement comprehensive UTF-8 string control system for Mixxx
  CMakeLists.txt
  src/control/controlstring.cpp
  src/control/controlstring.h
  src/controllers/scripting/legacy/controllerscriptinterfacelegacy.cpp
  src/controllers/scripting/legacy/controllerscriptinterfacelegacy.h
  src/engine/controls/cuecontrol.cpp
  src/engine/controls/cuecontrol.h
Owners: @Holzhaus, @Swiftb0y, @daschuer, @acolombier, @ronso0

🎨 apply clang-format style fixes
  example_utf8_string_controls.js
  src/control/controlstring.cpp
  src/control/controlstring.h
  src/controllers/scripting/legacy/controllerscriptinterfacelegacy.cpp
  src/controllers/scripting/legacy/controllerscriptinterfacelegacy.h
  src/engine/controls/cuecontrol.cpp
  src/waveform/renderers/waveformwidgetrenderer.cpp
Owners: @Holzhaus, @Swiftb0y, @daschuer, @acolombier, @ronso0, @m0dB

.github/CODEOWNERS:

/.github/            @Holzhaus @acolombier
/packaging/          @daschuer @Swiftb0y
/res/qml             @Holzhaus @acolombier
/res/skins/          @ronso0 @Holzhaus
/src/analyzer        @acolombier @Swiftb0y
/src/audio           @acolombier @daschuer
/src/broadcast       @JoergAtGithub @daschuer
/src/control         @Holzhaus @Swiftb0y
/src/controllers     @daschuer @acolombier
/src/database        @daschuer @Swiftb0y
/src/dialog          @daschuer @JoergAtGithub
/src/effects         @daschuer @Swiftb0y
/src/encoder         @daschuer @JoergAtGithub
/src/engine          @daschuer @ronso0
/src/library         @ronso0 @Swiftb0y
/src/mixer           @ronso0 @Holzhaus
/src/musicbrainz     @ronso0 @JoergAtGithub
/src/network         @daschuer @JoergAtGithub
/src/preferences     @ronso0 @Holzhaus
/src/proto           @acolombier @Holzhaus
/src/qml             @acolombier @Holzhaus
/src/recording       @Holzhaus @Swiftb0y
/src/rendergraph     @m0dB @acolombier
/src/shaders         @m0dB @acolombier
/src/skin            @ronso0 @JoergAtGithub
/src/soundio         @Holzhaus @m0dB
/src/sources         @daschuer @acolombier
/src/track           @daschuer @ronso0
/src/util            @daschuer @Swiftb0y
/src/vinylcontrol    @Holzhaus @daschuer
/src/waveform        @m0dB @acolombier
/src/widget          @ronso0 @m0dB
