Repository mixxxdj/mixxx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Holzhaus, @acolombier, @daschuer, @Swiftb0y, @ronso0, @JoergAtGithub, @m0dB

Added Parsers and parserfactory for VirtualDJ Xml Database
  src/library/vdj/vdj_modern_parser.cpp
  src/library/vdj/vdj_modern_parser.h
  src/library/vdj/vdj_parser_factory.cpp
  src/library/vdj/vdj_parser_factory.h
  src/library/vdj/vdj_types.h
  src/library/vdj/vdj_v6_parser.cpp
  src/library/vdj/vdj_v6_parser.h
Owners: @ronso0, @Swiftb0y

Added Virtual DJ feature
  src/library/vdj/vdjfeature.cpp
  src/library/vdj/vdjfeature.h
Owners: @ronso0, @Swiftb0y

Integrate Virtual DJ changes in Mixxx application
  CMakeLists.txt
  res/images/library/ic_library_vdj.svg
  res/mixxx.qrc
  src/library/library.cpp
  src/preferences/dialog/dlgpreflibrary.cpp
  src/preferences/dialog/dlgpreflibrarydlg.ui
Owners: @ronso0, @Swiftb0y, @Holzhaus

Skin Highlight Controls: remove preview folder
  preview/control_deck1_and_deck2.png
  preview/control_deck1_and_deck4.png
  preview/control_deck3_and_deck2.png
  preview/global_configuration_and_tooltip.png
Owners: none

Skin Highlight Controls: restored Original and added missing variable
  res/skins/LateNight/waveforms_container.xml
Owners: @ronso0, @Holzhaus

Skin Highlight Controls: fixed commment typo
  src/widget/wwidgetgroup.h
Owners: @ronso0, @m0dB

Tracks, moveSelectedTracks(): fix, polish, avoid wrap-around
  src/widget/wtracktableview.cpp
Owners: @ronso0, @m0dB

Library preferences: reset library font/row height when closing without apply
  src/preferences/dialog/dlgpreflibrary.cpp
  src/preferences/dialog/dlgpreflibrary.h
Owners: @ronso0, @Holzhaus

Playlists: protect locked playlists from import
  src/library/trackset/baseplaylistfeature.cpp
  src/library/trackset/crate/cratefeature.cpp
Owners: @ronso0, @Swiftb0y

Playlists: disable all modifying menu actions if playlist is locked
  src/library/trackset/playlistfeature.cpp
Owners: @ronso0, @Swiftb0y

Crates: when locked, show Import action but disable it
  src/library/trackset/crate/cratefeature.cpp
Owners: @ronso0, @Swiftb0y

Fixed control names including X; Formatted code;
  res/controllers/mixxx-controls.d.ts
Owners: none

Skin Highlight Controls: renamed deck to channel
  res/skins/Deere/deck.xml
  res/skins/Deere/mixer_controls_4decks_left.xml
  res/skins/Deere/mixer_controls_4decks_right.xml
  res/skins/Deere/style.qss
  res/skins/LateNight/decks/deck_compact.xml
  res/skins/LateNight/decks/deck_full.xml
  res/skins/LateNight/decks/deck_mini.xml
  res/skins/LateNight/mixer/channel_4decks.xml
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
  res/skins/LateNight/waveform.xml
  res/skins/Tango/decks/deck_left.xml
  res/skins/Tango/decks/deck_left_mini.xml
  res/skins/Tango/decks/deck_right.xml
  res/skins/Tango/decks/deck_right_mini.xml
  res/skins/Tango/style.qss
  res/skins/Tango/waveform.xml
  src/skin/skincontrols.cpp
  src/widget/wwidgetgroup.cpp
  src/widget/wwidgetgroup.h
Owners: @ronso0, @Holzhaus, @JoergAtGithub, @m0dB

Pioneer DDJ-200: bugfix to prevent double connections
  res/controllers/Pioneer-DDJ-200-scripts.js
Owners: none

Pioneer DDJ-200: readded group configuration
  res/controllers/Pioneer-DDJ-200-scripts.js
Owners: none

Skin Highlight Controls: restored file permissons
  res/skins/LateNight/decks/deck_compact.xml
  res/skins/LateNight/decks/deck_full.xml
  res/skins/LateNight/decks/deck_mini.xml
  res/skins/LateNight/mixer/channel_4decks.xml
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
  src/skin/skincontrols.cpp
  src/skin/skincontrols.h
Owners: @ronso0, @Holzhaus, @JoergAtGithub

Disabled control type check if group is just string;
  res/controllers/engine-api.d.ts
  res/controllers/mixxx-controls.d.ts
Owners: none

Add non GL simple signal waveform for completeness
  CMakeLists.txt
  src/waveform/renderers/waveformrenderersimplesignal.cpp
  src/waveform/renderers/waveformrenderersimplesignal.h
  src/waveform/waveformwidgetfactory.cpp
  src/waveform/widgets/simplesignalwaveformwidget.cpp
  src/waveform/widgets/simplesignalwaveformwidget.h
Owners: @m0dB, @acolombier

HSV unaccelerated: follow visual band gains
  src/waveform/renderers/allshader/waveformrendererhsv.cpp
  src/waveform/renderers/waveformrendererhsv.cpp
Owners: @m0dB, @acolombier

Remove pointless overlay of the unscaled waveform for high detailed RGB and filtered
  res/shaders/filteredsignal.frag
  res/shaders/rgbsignal.frag
Owners: none

Use all band for scaling of RGB outline to match other waveforms.
  res/shaders/rgbsignal.frag
  src/waveform/renderers/allshader/waveformrendererrgb.cpp
  src/waveform/renderers/waveformrendererrgb.cpp
Owners: @m0dB, @acolombier

Tracks header: add TODO regarding potentially outdated Qt bug workaround
  src/widget/wtracktableview.cpp
Owners: @ronso0, @m0dB

Tracks header: allow to save, load and auto-sync with a common column layout
  src/library/browse/browsetablemodel.h
  src/library/trackmodel.h
  src/widget/wtracktableviewheader.cpp
  src/widget/wtracktableviewheader.h
Owners: @ronso0, @Swiftb0y, @m0dB

Pioneer DDJ-200: double connection issue cleaned
  res/controllers/Pioneer-DDJ-200-scripts.js
Owners: none

Tracks header: make Store/Load/Sync action parented_ptr members, create once, update in separate function
  src/widget/wtracktableviewheader.cpp
  src/widget/wtracktableviewheader.h
Owners: @ronso0, @m0dB

Skins, LateNight: add for new header menu actions & checkboxes
  res/skins/LateNight/style_palemoon.qss
Owners: @ronso0, @Holzhaus

Skins: increase height of header menu action to match checkboxes
  res/skins/default.qss
Owners: @ronso0, @Holzhaus

Tracks header: work around conflict with 'Show new columns' feature
  src/widget/wtracktableviewheader.cpp
  src/widget/wtracktableviewheader.h
Owners: @ronso0, @m0dB

TRACE Tracks header
  src/widget/wtracktableviewheader.cpp
Owners: @ronso0, @m0dB

Skin Highlight Controls: used group variable for settings
  res/skins/Deere/deck.xml
  res/skins/Deere/mixer_controls_4decks_left.xml
  res/skins/Deere/mixer_controls_4decks_right.xml
  res/skins/LateNight/decks/deck_compact.xml
  res/skins/LateNight/decks/deck_full.xml
  res/skins/LateNight/decks/deck_mini.xml
  res/skins/LateNight/mixer/channel_4decks.xml
  res/skins/LateNight/waveform.xml
  res/skins/Tango/decks/deck_left.xml
  res/skins/Tango/decks/deck_left_mini.xml
  res/skins/Tango/decks/deck_right.xml
  res/skins/Tango/decks/deck_right_mini.xml
  res/skins/Tango/waveform.xml
Owners: @ronso0, @Holzhaus

Pioneer DDJ-200: ensure that indication lights are off
  res/controllers/Pioneer-DDJ-200-scripts.js
Owners: none

Pioneer DDJ-200: improved library handling
  res/controllers/Pioneer DDJ-200.midi.xml
  res/controllers/Pioneer-DDJ-200-scripts.js
Owners: none

updated pre-commit config to use rust 1.71
  .pre-commit-config.yaml
Owners: none

Pioneer DDJ-200: bugfix for sampler buttons
  res/controllers/Pioneer-DDJ-200-scripts.js
Owners: none

FxToggleButton qss: comma in palemoon style missing
  res/skins/LateNight/style_palemoon.qss
Owners: @ronso0, @Holzhaus

Playlists: avoid no-op select() when activating a playlist
  src/library/dao/playlistdao.cpp
Owners: @ronso0, @Swiftb0y

Playlists: set new m_iPlaylistId AFTER removing hidden tracks
  src/library/playlisttablemodel.cpp
Owners: @ronso0, @Swiftb0y

LateNight: Fixed FxToggleButton style
  res/skins/LateNight/style_palemoon.qss
Owners: @ronso0, @Holzhaus

Resort Track->Metadata menu
  src/widget/wtrackmenu.cpp
Owners: @ronso0, @m0dB

OSCPack -> Base start OSC 20241001
  CMakeLists.txt
  src/RCa13796
  src/RCb13796
  src/engine/enginebuffer.cpp
  src/mixer/basetrackplayer.cpp
  src/mixxxmainwindow.cpp
  src/mixxxmainwindow.h
  src/osc/ip/IpEndpointName.cpp
  src/osc/ip/IpEndpointName.h
  src/osc/ip/NetworkingUtils.h
  src/osc/ip/PacketListener.h
  src/osc/ip/TimerListener.h
  src/osc/ip/UdpSocket.h
  src/osc/ip/posix/NetworkingUtils.cpp
  src/osc/ip/posix/UdpSocket.cpp
  src/osc/ip/win32/NetworkingUtils.cpp
  src/osc/ip/win32/UdpSocket.cpp
  src/osc/osc/MessageMappingOscPacketListener.h
  src/osc/osc/OscException.h
  src/osc/osc/OscHostEndianness.h
  src/osc/osc/OscOutboundPacketStream.cpp
  src/osc/osc/OscOutboundPacketStream.h
  src/osc/osc/OscPacketListener.h
  src/osc/osc/OscPrintReceivedElements.cpp
  src/osc/osc/OscPrintReceivedElements.h
  src/osc/osc/OscReceivedElements.cpp
  src/osc/osc/OscReceivedElements.h
  src/osc/osc/OscTypes.cpp
  src/osc/osc/OscTypes.h
  src/osc/oscfunctions.h
  src/osc/oscreceiver.cpp
  src/osc/oscreceiver.h
  src/preferences/dialog/dlgpreferences.cpp
  src/preferences/dialog/dlgprefosc.cpp
  src/preferences/dialog/dlgprefosc.h
  src/preferences/dialog/dlgprefoscdlg.ui
Owners: @daschuer, @ronso0, @Holzhaus

.github/CODEOWNERS:

/.github/            @Holzhaus @acolombier
/packaging/          @daschuer @Swiftb0y
/res/qml             @Holzhaus @acolombier
/res/skins/          @ronso0 @Holzhaus
/src/analyzer        @acolombier @Swiftb0y
/src/audio           @acolombier @daschuer
/src/broadcast       @JoergAtGithub @daschuer
/src/control         @Holzhaus @Swiftb0y
/src/controllers     @daschuer @acolombier
/src/database        @daschuer @Swiftb0y
/src/dialog          @daschuer @JoergAtGithub
/src/effects         @daschuer @Swiftb0y
/src/encoder         @daschuer @JoergAtGithub
/src/engine          @daschuer @ronso0
/src/library         @ronso0 @Swiftb0y
/src/mixer           @ronso0 @Holzhaus
/src/musicbrainz     @ronso0 @JoergAtGithub
/src/network         @daschuer @JoergAtGithub
/src/preferences     @ronso0 @Holzhaus
/src/proto           @acolombier @Holzhaus
/src/qml             @acolombier @Holzhaus
/src/recording       @Holzhaus @Swiftb0y
/src/rendergraph     @m0dB @acolombier
/src/shaders         @m0dB @acolombier
/src/skin            @ronso0 @JoergAtGithub
/src/soundio         @Holzhaus @m0dB
/src/sources         @daschuer @acolombier
/src/track           @daschuer @ronso0
/src/util            @daschuer @Swiftb0y
/src/vinylcontrol    @Holzhaus @daschuer
/src/waveform        @m0dB @acolombier
/src/widget          @ronso0 @m0dB
