Repository mixxxdj/mixxx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Holzhaus, @acolombier, @daschuer, @Swiftb0y, @ronso0, @JoergAtGithub, @m0dB

Discard two buffers if callbackProcessDrift() is way to later.
  src/soundio/sounddeviceportaudio.cpp
Owners: @Holzhaus, @m0dB

callbackProcessDrift: in case of underruns, sleep before writing silence
  src/soundio/sounddeviceportaudio.cpp
Owners: @Holzhaus, @m0dB

Improve comments about buffering in SoundDevicePortAudio
  src/soundio/sounddeviceportaudio.cpp
Owners: @Holzhaus, @m0dB

Pioneer DDJ-200: cleanup of sync Button
  res/controllers/Pioneer-DDJ-200-scripts.js
Owners: none

Pioneer DDJ-200: layout changes
  res/controllers/Pioneer-DDJ-200-scripts.js
Owners: none

Pioneer DDJ-200: removed obsolete shutdown at the start
  res/controllers/Pioneer-DDJ-200-scripts.js
Owners: none

Pioneer DDJ-200: Changed DDJ200.decks into ComponentContainer
  res/controllers/Pioneer DDJ-200.midi.xml
  res/controllers/Pioneer-DDJ-200-scripts.js
Owners: none

Pioneer DDJ-200: replaced Object loops with forEachComponentContainer
  res/controllers/Pioneer-DDJ-200-scripts.js
Owners: none

Library Preferences: compose font style if font has no styleName()
  src/preferences/dialog/dlgpreflibrary.cpp
Owners: @ronso0, @Holzhaus

Pioneer DDJ-200: removed DDJ200.Pad
  res/controllers/Pioneer-DDJ-200-scripts.js
Owners: none

Pioneer DDJ-200: changed options and description
  res/controllers/Pioneer DDJ-200.midi.xml
Owners: none

Pioneer DDJ-200: added option to use SuperEQ as Gain
  res/controllers/Pioneer DDJ-200.midi.xml
  res/controllers/Pioneer-DDJ-200-scripts.js
Owners: none

Pioneer DDJ-200: fixed EffectButtons and enabled 3/4th Unit
  res/controllers/Pioneer-DDJ-200-scripts.js
Owners: none

Upload all 2.5 builds to "Patch Builds" ppa:mixxx/mixxxpatches
  .github/workflows/build.yml
Owners: @Holzhaus, @acolombier

Pioneer DDJ-200: fixed PadMode Modeselector
  res/controllers/Pioneer DDJ-200.midi.xml
  res/controllers/Pioneer-DDJ-200-scripts.js
Owners: none

Pioneer DDJ-200: minor bugfix für blinking LED
  res/controllers/Pioneer-DDJ-200-scripts.js
Owners: none

Pioneer DDJ-200: prevent initialization warning
  res/controllers/Pioneer-DDJ-200-scripts.js
Owners: none

Don't allow closing preferences with faulty Sound Hardware config
  src/preferences/dialog/dlgpreferencepage.h
  src/preferences/dialog/dlgpreferences.cpp
  src/preferences/dialog/dlgpreferences.h
  src/preferences/dialog/dlgprefsound.cpp
  src/preferences/dialog/dlgprefsound.h
Owners: @ronso0, @Holzhaus

Pioneer DDJ-200: simplified shift
  res/controllers/Pioneer-DDJ-200-scripts.js
Owners: none

Pioneer DDJ-200: simplified shutdown
  res/controllers/Pioneer-DDJ-200-scripts.js
Owners: none

Pioneer DDJ-200: solve "missing scratch deck" warning
  res/controllers/Pioneer-DDJ-200-scripts.js
Owners: none

Pioneer DDJ-200: cleanup obsolete loop
  res/controllers/Pioneer-DDJ-200-scripts.js
Owners: none

Pioneer DDJ-200: fixed Shift issue
  res/controllers/Pioneer-DDJ-200-scripts.js
Owners: none

Skin Highlight Controls: initial concept of Skin Control Highlights
  res/skins/LateNight/decks/deck_compact.xml
  res/skins/LateNight/decks/deck_full.xml
  res/skins/LateNight/decks/deck_mini.xml
  res/skins/LateNight/decks/preview_deck.xml
  res/skins/LateNight/mixer/channel_4decks.xml
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
  res/skins/LateNight/waveform.xml
  res/skins/LateNight/waveforms_container.xml
  src/skin/skincontrols.cpp
  src/skin/skincontrols.h
Owners: @ronso0, @Holzhaus, @JoergAtGithub

Install QuickTemplates2 required by QuickControlls2
  CMakeLists.txt
Owners: none

Skin Highlight Controls: preview of new feature
  preview/control_deck1_and_deck2.png
  preview/control_deck1_and_deck4.png
  preview/control_deck3_and_deck2.png
Owners: none

don't install windows lonly nativestyle module on Debian based distros
  tools/debian_buildenv.sh
Owners: none

Dont depend on the windows only qml6-module-qtquick-nativestyle package.
  CMakeLists.txt
  packaging/debian/control.in
Owners: @daschuer, @Swiftb0y

Add "Window" element to skinparser
  res/skins/Shade/skin.xml
  src/skin/legacy/legacyskinparser.cpp
  src/skin/legacy/legacyskinparser.h
Owners: @ronso0, @Holzhaus, @JoergAtGithub

Pioneer DDJ-200: fixed JogWheel
  res/controllers/Pioneer-DDJ-200-scripts.js
Owners: none

Pioneer DDJ-200: fixed mixxx version string
  res/controllers/Pioneer DDJ-200.midi.xml
Owners: none

Pioneer DDJ-200: improved code readability
  res/controllers/Pioneer-DDJ-200-scripts.js
Owners: none

Pioneer DDJ-200: completed midi documentation
  res/controllers/Pioneer-DDJ-200-scripts.js
Owners: none

Pioneer DDJ-200: bugfix for code typo introduced in dcd6955af53146b1b
  res/controllers/Pioneer-DDJ-200-scripts.js
Owners: none

Pioneer DDJ-200: bugfix wrong index
  res/controllers/Pioneer-DDJ-200-scripts.js
Owners: none

Pioneer DDJ-200: fixed typo
  res/controllers/Pioneer-DDJ-200-scripts.js
Owners: none

Pioneer DDJ-200: moved information about DEMO mode to mixx-manual
  res/controllers/Pioneer-DDJ-200-scripts.js
Owners: none

Fix reset to defaults for PositionDisplayType
  src/preferences/dialog/dlgprefdeck.cpp
Owners: @ronso0, @Holzhaus

Pioneer DDJ-200: fixed shift and shutdown
  res/controllers/Pioneer-DDJ-200-scripts.js
Owners: none

Pioneer DDJ-200: separated faderStart and faderStop
  res/controllers/Pioneer DDJ-200.midi.xml
  res/controllers/Pioneer-DDJ-200-scripts.js
Owners: none

.github/CODEOWNERS:

/.github/            @Holzhaus @acolombier
/packaging/          @daschuer @Swiftb0y
/res/qml             @Holzhaus @acolombier
/res/skins/          @ronso0 @Holzhaus
/src/analyzer        @acolombier @Swiftb0y
/src/audio           @acolombier @daschuer
/src/broadcast       @JoergAtGithub @daschuer
/src/control         @Holzhaus @Swiftb0y
/src/controllers     @daschuer @acolombier
/src/database        @daschuer @Swiftb0y
/src/dialog          @daschuer @JoergAtGithub
/src/effects         @daschuer @Swiftb0y
/src/encoder         @daschuer @JoergAtGithub
/src/engine          @daschuer @ronso0
/src/library         @ronso0 @Swiftb0y
/src/mixer           @ronso0 @Holzhaus
/src/musicbrainz     @ronso0 @JoergAtGithub
/src/network         @daschuer @JoergAtGithub
/src/preferences     @ronso0 @Holzhaus
/src/proto           @acolombier @Holzhaus
/src/qml             @acolombier @Holzhaus
/src/recording       @Holzhaus @Swiftb0y
/src/rendergraph     @m0dB @acolombier
/src/shaders         @m0dB @acolombier
/src/skin            @ronso0 @JoergAtGithub
/src/soundio         @Holzhaus @m0dB
/src/sources         @daschuer @acolombier
/src/track           @daschuer @ronso0
/src/util            @daschuer @Swiftb0y
/src/vinylcontrol    @Holzhaus @daschuer
/src/waveform        @m0dB @acolombier
/src/widget          @ronso0 @m0dB
