Repository mixxxdj/mixxx, changes with the labels that .github/labeler.yml gives for each.
All labels: build, cmake, code quality, controller backend, controller mappings, analyzer, broadcast, effects, engine, sync, library, autodj, browse, itunes, rekordbox, scanner, search, serato, packaging, preferences, qml, skins, soundio, soundsource, ui, vinylcontrol, waveform

.github/labeler.yml:

build:
  - changed-files:
      - any-glob-to-any-file:
          - default.nix
          - CMakeLists.txt
          - build/**
          - cmake/**

cmake:
  - changed-files:
      - any-glob-to-any-file:
          - cmake/**

code quality:
  - changed-files:
      - any-glob-to-any-file:
          - src/test/**
          - .clang-format
          - .codespell
          - .eslint*
          - .flake8
          - .pre-commit-config.yaml
          - pyproject.toml

controller backend:
  - changed-files:
      - any-glob-to-any-file:
          - src/controllers/**

controller mappings:
  - changed-files:
      - any-glob-to-any-file:
          - res/controllers/**

analyzer:
  - changed-files:
      - any-glob-to-any-file:
          - src/analyzer/**

broadcast:
  - changed-files:
      - any-glob-to-any-file:
          - src/broadcast/**

effects:
  - changed-files:
      - any-glob-to-any-file:
          - src/effects/**

engine:
  - changed-files:
      - any-glob-to-any-file:
          - src/engine/**

sync:
  - changed-files:
      - any-glob-to-any-file:
          - src/engine/sync/**

library:
  - changed-files:
      - any-glob-to-any-file:
          - src/library/**

autodj:
  - changed-files:
      - any-glob-to-any-file:
          - src/library/autodj/**

browse:
  - changed-files:
      - any-glob-to-any-file:
          - src/library/browse/**

itunes:
  - changed-files:
      - any-glob-to-any-file:
          - src/library/itunes/**

rekordbox:
  - changed-files:
      - any-glob-to-any-file:
          - src/library/rekordbox/**

scanner:
  - changed-files:
      - any-glob-to-any-file:
          - src/library/scanner/**

search:
  - changed-files:
      - any-glob-to-any-file:
          - src/library/searchquery*

serato:
  - changed-files:
      - any-glob-to-any-file:
          - src/library/serato/**

packaging:
  - changed-files:
      - any-glob-to-any-file:
          - packaging/**

preferences:
  - changed-files:
      - any-glob-to-any-file:
          - src/preferences/**

qml:
  - changed-files:
      - any-glob-to-any-file:
          - res/qml/**
          - src/qml/**

skins:
  - changed-files:
      - any-glob-to-any-file:
          - res/skins/**

soundio:
  - changed-files:
      - any-glob-to-any-file:
          - src/soundio/**

soundsource:
  - changed-files:
      - any-glob-to-any-file:
          - src/sources/soundsource*

ui:
  - changed-files:
      - any-glob-to-any-file:
          - src/**.ui
          - src/dialog/**
          - src/preferences/**
          - src/widget/**

vinylcontrol:
  - changed-files:
      - any-glob-to-any-file:
          - src/vinylcontrol/**

waveform:
  - changed-files:
      - any-glob-to-any-file:
          - src/waveform/**

ci(sync_branches): Manually merge changes and honor merge driver
  .github/workflows/sync_branches.yml
Labels: none

Add missing p prefix to pTexture
  src/waveform/renderers/allshader/waveformrendermark.cpp
  src/waveform/renderers/allshader/waveformrendermark.h
  src/widget/wspinnyglsl.cpp
  src/widget/wspinnyglsl.h
  src/widget/wvumeterglsl.cpp
Labels: ui, waveform

fixup! Library: improve logged scan summary, also log new and missing tracks
  src/mixxxmainwindow.cpp
Labels: none

ci(pre-commit): Fix failing codespell hook in desktop file
  .pre-commit-config.yaml
Labels: code quality

Make MarkerGeometry a class with const getter
  src/waveform/renderers/waveformmark.cpp
Labels: waveform

Don't use runtime asserts
  src/waveform/renderers/waveformmark.cpp
Labels: waveform

Return early if there is nothing to paint.
  src/waveform/renderers/allshader/waveformrendermark.cpp
  src/waveform/renderers/waveformmark.cpp
Labels: waveform

Update oscreceiver.cpp
  src/osc/oscreceiver.cpp
Labels: none

Update cuedao.cpp
  src/library/dao/cuedao.cpp
Labels: library

Update CMakeLists.txt
  CMakeLists.txt
Labels: build

Update CMakeLists.txt
  CMakeLists.txt
Labels: build

Update CMakeLists.txt
  CMakeLists.txt
Labels: build

Update cuedao.cpp
  src/library/dao/cuedao.cpp
Labels: library

preferences/upgrade: use const kVersionCfgKey
  src/preferences/upgrade.cpp
Labels: preferences, ui

hidden tracks: remove from all playlists* when upgrading from 2.1 or earlier
  src/coreservices.cpp
  src/library/dao/playlistdao.cpp
  src/library/dao/playlistdao.h
  src/library/playlisttablemodel.cpp
  src/library/playlisttablemodel.h
  src/library/trackcollection.cpp
  src/library/trackcollectionmanager.cpp
  src/library/trackcollectionmanager.h
  src/library/trackset/baseplaylistfeature.cpp
  src/library/trackset/baseplaylistfeature.h
  src/library/trackset/setlogfeature.cpp
  src/preferences/settingsmanager.cpp
  src/preferences/settingsmanager.h
  src/preferences/upgrade.cpp
  src/preferences/upgrade.h
Labels: library, preferences, ui

hide tracks: optionally remove from playlists
  src/library/trackcollection.cpp
Labels: library

Improve variable names
  src/waveform/renderers/allshader/waveformrendermark.cpp
Labels: waveform

Use VERIFY_OR_DEBUG_ASSERT() to check for valid images
  src/waveform/renderers/allshader/waveformrendermark.cpp
  src/waveform/renderers/waveformmark.cpp
Labels: waveform

Drop special case for Bionic not using ffmpeg
  packaging/CPackDebUploadPPA.cmake
  packaging/debian/control.in
  tools/debian_buildenv.sh
Labels: packaging

Install either libqt6shadertools6-dev or qt6-shadertools-dev
  packaging/CPackDebUploadPPA.cmake
  packaging/debian/control.in
  tools/debian_buildenv.sh
Labels: packaging

libdjinterop 0.23.2, support for Engine 4.1/4.2
  CMakeLists.txt
  src/library/export/dlglibraryexport.cpp
  src/library/export/engineprimeexportjob.cpp
  src/library/export/engineprimeexportrequest.h
Labels: build, library

Code style fix
  src/library/export/engineprimeexportjob.cpp
Labels: library

Expose track info to JS controllers
  res/controllers/engine-api.d.ts
  src/controllers/scripting/controllerscriptenginebase.cpp
  src/controllers/scripting/controllerscriptenginebase.h
  src/controllers/scripting/legacy/controllerscriptinterfacelegacy.cpp
  src/controllers/scripting/legacy/controllerscriptinterfacelegacy.h
  src/coreservices.cpp
Labels: controller backend, controller mappings

Wrap QmlPlayerManagerProxy instead
  res/controllers/engine-api.d.ts
  src/controllers/scripting/controllerscriptenginebase.cpp
  src/controllers/scripting/controllerscriptenginebase.h
  src/controllers/scripting/legacy/controllerscriptinterfacelegacy.cpp
  src/controllers/scripting/legacy/controllerscriptinterfacelegacy.h
  src/coreservices.cpp
  src/qml/qmlplayermanagerproxy.cpp
  src/qml/qmlplayermanagerproxy.h
Labels: controller backend, controller mappings, qml

Fix variable name after merge
  packaging/CPackDebUploadPPA.cmake
Labels: packaging

CratesAndOrGroupedCrates
  src/library/library.cpp
  src/library/trackset/crate/cratetablemodel.cpp
  src/library/trackset/crate/groupedcratesfeature.cpp
  src/preferences/dialog/dlgpreflibrary.cpp
  src/preferences/dialog/dlgpreflibrarydlg.ui
Labels: library, preferences, ui

CratesAndOrGroupedCrates
  src/library/library.cpp
  src/library/library.h
Labels: library

remove obsolete focusOutEvent() from WPushButton
  src/widget/wpushbutton.cpp
  src/widget/wpushbutton.h
Labels: ui

HotcueButton: show drag cursor also when hovering drag source button
  src/widget/whotcuebutton.cpp
Labels: ui

CratesAndOrGroupedCrates
  src/library/library.cpp
  src/library/trackset/crate/groupedcratesfeature.cpp
Labels: library

CratesAndOrGroupedCrates
  src/library/trackset/crate/groupedcratesfeature.cpp
Labels: library

Update Numark-Mixtrack-3-scripts.js
  res/controllers/Numark-Mixtrack-3-scripts.js
Labels: controller mappings

Fix missing initalization in Rotary()
  src/util/rotary.h
Labels: none

addedTrackInfo4OSCleton
  src/osc/oscfunctions.h
  src/osc/oscreceiver.cpp
Labels: none

Pref waveforms: disable the beats/time options if neither beats nor time is enabled
  src/preferences/dialog/dlgprefwaveform.cpp
Labels: preferences, ui

Remove whitespace
  res/controllers/Hercules DJControl Starlight.midi.xml
Labels: controller mappings

rebase->ReadyForPr
  src/library/trackset/smarties/dlgsmartiesinfo.cpp
  src/library/trackset/smarties/smartiesfeature.cpp
  src/library/trackset/smarties/smartiesfeature.h
  src/library/trackset/smarties/smartiestablemodel.cpp
  src/library/trackset/smarties/smartiestablemodel.h
  src/library/treeitem.cpp
  src/library/treeitem.h
  src/preferences/dialog/dlgpreflibrary.cpp
  src/preferences/dialog/dlgpreflibrarydlg.ui
Labels: library, preferences, ui

use rendergraph in allshader/waveformwidget, derive allshader waveformrenderer classes from rendergraph::openglnode
  CMakeLists.txt
  src/waveform/renderers/allshader/waveformrenderbackground.cpp
  src/waveform/renderers/allshader/waveformrenderbackground.h
  src/waveform/renderers/allshader/waveformrenderbeat.cpp
  src/waveform/renderers/allshader/waveformrenderbeat.h
  src/waveform/renderers/allshader/waveformrenderer.h
  src/waveform/renderers/allshader/waveformrendererabstract.h
  src/waveform/renderers/allshader/waveformrendererendoftrack.cpp
  src/waveform/renderers/allshader/waveformrendererendoftrack.h
  src/waveform/renderers/allshader/waveformrendererfiltered.cpp
  src/waveform/renderers/allshader/waveformrendererfiltered.h
  src/waveform/renderers/allshader/waveformrendererhsv.cpp
  src/waveform/renderers/allshader/waveformrendererhsv.h
  src/waveform/renderers/allshader/waveformrendererpreroll.cpp
  src/waveform/renderers/allshader/waveformrendererpreroll.h
  src/waveform/renderers/allshader/waveformrendererrgb.cpp
  src/waveform/renderers/allshader/waveformrendererrgb.h
  src/waveform/renderers/allshader/waveformrenderersignalbase.cpp
  src/waveform/renderers/allshader/waveformrenderersignalbase.h
  src/waveform/renderers/allshader/waveformrenderersimple.cpp
  src/waveform/renderers/allshader/waveformrenderersimple.h
  src/waveform/renderers/allshader/waveformrendererslipmode.cpp
  src/waveform/renderers/allshader/waveformrendererslipmode.h
  src/waveform/renderers/allshader/waveformrendererstem.cpp
  src/waveform/renderers/allshader/waveformrendererstem.h
  src/waveform/renderers/allshader/waveformrenderertextured.cpp
  src/waveform/renderers/allshader/waveformrenderertextured.h
  src/waveform/renderers/allshader/waveformrendermark.cpp
  src/waveform/renderers/allshader/waveformrendermark.h
  src/waveform/renderers/allshader/waveformrendermarkrange.cpp
  src/waveform/renderers/allshader/waveformrendermarkrange.h
  src/waveform/renderers/waveformrendererabstract.h
  src/waveform/widgets/allshader/waveformwidget.cpp
  src/waveform/widgets/allshader/waveformwidget.h
Labels: build, waveform

avoid rendering on images with 0 or negative width or height
  src/waveform/renderers/allshader/digitsrenderer.cpp
  src/waveform/renderers/allshader/waveformrendermark.cpp
  src/waveform/renderers/waveformmark.cpp
Labels: waveform

remove generate_shaders_gl from precommit
  .pre-commit-config.yaml
Labels: code quality
