Repository mixxxdj/mixxx, changes with the labels that .github/labeler.yml gives for each.
All labels: build, cmake, code quality, controllers, analyzer, broadcast, effects, engine, sync, library, autodj, browse, itunes, rekordbox, scanner, search, serato, packaging, preferences, skins, soundio, soundsource, ui, vinylcontrol, waveform

.github/labeler.yml:

build:
  - default.nix
  - CMakeLists.txt
  - build/**
  - cmake/**

cmake:
  - cmake/**

code quality:
  - src/test/**
  - .clang-format
  - .codespell
  - .eslint*
  - .flake8
  - .pre-commit-config.yaml
  - pyproject.toml

controllers:
  - res/controllers/**

analyzer:
  - src/analyzer/**

broadcast:
  - src/broadcast/**

effects:
  - src/effects/**

engine:
  - src/engine/**

sync:
  - src/engine/sync/**

library:
  - src/library/**

autodj:
  - src/library/autodj/**

browse:
  - src/library/browse/**

itunes:
  - src/library/itunes/**

rekordbox:
  - src/library/rekordbox/**

scanner:
  - src/library/scanner/**

search:
  - src/library/searchquery*

serato:
  - src/library/serato/**

packaging:
  - packaging/**

preferences:
  - src/preferences/**

skins:
  - res/skins/**

soundio:
  - src/soundio/**

soundsource:
  - src/sources/soundsource*

ui:
  - src/**.ui
  - src/dialog/**
  - src/preferences/**
  - src/widget/**

vinylcontrol:
  - src/vinylcontrol/**

waveform:
  - src/waveform/**

Add values to warnings in case of beat iterator overflow protection
  src/track/beats.cpp
Labels: none

Use overall average BPM before the play position is adjusted (kInitialPlayPosition)
  src/engine/controls/bpmcontrol.cpp
  src/engine/controls/enginecontrol.h
  src/engine/enginebuffer.cpp
Labels: engine

Reformatted code to modern ES6 class structure
  res/controllers/Traktor-Kontrol-Z1-scripts.js
Labels: controllers

Lower clamping warning to debug message, because it can happen and it is no issue.
  src/track/beats.cpp
Labels: none

src: use only 'behavior' (AE), rename all occurences of 'behaviour' (BE)
  src/control/controleffectknob.cpp
  src/control/controleffectknob.h
  src/effects/effectknobparameterslot.cpp
  src/engine/controls/loopingcontrol.cpp
  src/engine/enginebuffer.cpp
  src/library/librarycontrol.cpp
  src/mixxxapplication.cpp
  src/track/serato/beatgrid.cpp
  src/track/serato/tags.cpp
  src/widget/openglwindow.cpp
  src/widget/tooltipqopengl.h
  src/widget/wlibrary.h
Labels: effects, engine, library, ui

controllers: use zoom helper, fix zoom ranges
  res/controllers/KANE_QuNeo_scripts.js
  res/controllers/Korg-nanoKONTROL-2-scripts.js
  res/controllers/Novation-Launchpad MK2-scripts.js
  res/controllers/Novation-Launchpad Mini MK3-scripts.js
  res/controllers/Novation-Launchpad-Mini-scripts.js
  res/controllers/Novation-Launchpad-scripts.js
Labels: controllers

controllers: add helper to control "waveform_zoom" with potmeters
  res/controllers/common-controller-scripts.js
  src/mixer/basetrackplayer.cpp
  src/waveform/renderers/waveformwidgetrenderer.cpp
Labels: controllers, waveform

Use compiler/CMake macros to detect target OS
  src/encoder/encodersndfileflac.h
  src/encoder/encoderwave.h
  src/test/playlisttest.cpp
  src/util/battery/battery.cpp
  src/util/screensaver.cpp
  src/util/threadcputimer.cpp
Labels: code quality

macOS buildenv: Improve error message for CI-only wrappers
  tools/macos_arm64-cross-release_buildenv.sh
  tools/macos_arm64-cross_buildenv.sh
  tools/macos_release_buildenv.sh
Labels: none

library/GUI: fix track background color, add delegate for Played column
  CMakeLists.txt
  res/skins/Deere/style.qss
  res/skins/LateNight/style.qss
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
  res/skins/Shade/btn/btn_lib_bpm_unlocked_black.svg
  res/skins/Shade/btn/btn_lib_bpm_unlocked_white.svg
  res/skins/Shade/style.qss
  res/skins/Shade/style_dark.qss
  res/skins/Shade/style_summer_sunset.qss
  res/skins/Tango/style.qss
  src/library/basetracktablemodel.cpp
  src/library/bpmdelegate.cpp
  src/library/playcountdelegate.cpp
  src/library/playcountdelegate.h
Labels: build, library, skins

tracks table: Ctrl+Space toggles BPM & Played checkboxes
  src/widget/wtracktableview.cpp
Labels: ui

feat(debug): make DBG macro usable within expressions
  src/util/debug.h
Labels: none

Sync Lock: protect against syncing phase to a stopped leader
  src/engine/controls/bpmcontrol.cpp
  src/engine/controls/bpmcontrol.h
  src/engine/sync/enginesync.cpp
  src/engine/sync/synccontrol.cpp
Labels: engine, sync

Use simpler atomic int for audible status
  src/engine/controls/bpmcontrol.cpp
  src/engine/controls/bpmcontrol.h
Labels: engine

track menu: enable Lock BPM action if any selected track BPM is unlocked
  src/widget/wtrackmenu.cpp
  src/widget/wtrackmenu.h
Labels: ui

Add a test -- this reveals that my code is bad
  src/engine/bufferscalers/enginebufferscale.h
  src/engine/controls/bpmcontrol.cpp
  src/engine/enginebuffer.cpp
  src/engine/enginebuffer.h
  src/engine/sync/synccontrol.cpp
  src/test/enginesynctest.cpp
Labels: code quality, engine, sync

reset to the very most basic change
  src/engine/bufferscalers/enginebufferscale.h
  src/engine/controls/bpmcontrol.cpp
  src/engine/controls/bpmcontrol.h
  src/engine/enginebuffer.cpp
  src/engine/enginebuffer.h
  src/test/enginesynctest.cpp
Labels: code quality, engine

Tracks table: don't wrap around when Shift is pressed
  src/widget/wlibrarytableview.cpp
Labels: ui

add "loop_remove" to control picker menu
  src/controllers/controlpickermenu.cpp
Labels: none

KeyControl: std::unique_ptr, parented_ptr
  src/engine/controls/keycontrol.cpp
  src/engine/controls/keycontrol.h
Labels: engine

controllers: fix zoom ranges
  res/controllers/KANE_QuNeo_scripts.js
  res/controllers/Korg-nanoKONTROL-2-scripts.js
  res/controllers/Novation-Launchpad MK2-scripts.js
  res/controllers/Novation-Launchpad Mini MK3-scripts.js
  res/controllers/Novation-Launchpad-Mini-scripts.js
  res/controllers/Novation-Launchpad-scripts.js
Labels: controllers

Deere: fix main VU meter control [Master] > [Main]
  res/skins/Deere/vumeter_main.xml
Labels: skins

controllers: fix engine.beginTimer() syntax
  res/controllers/Akai-LPD8-RK-scripts.js
  res/controllers/American-Audio-VMS2-scripts.js
  res/controllers/Behringer-BCD3000-Advanced-scripts.js
  res/controllers/DJ-Tech-CDJ-101-scripts.js
  res/controllers/DJ-Tech-Kontrol-One-scripts.js
  res/controllers/DJ-Tech-i-Mix-Reload-scripts.js
  res/controllers/Denon-DN-SC2000.midi.js
  res/controllers/Electrix-Tweaker-scripts.js
  res/controllers/Gemini-FirstMix-scripts.js
  res/controllers/Hercules DJ Control MP3 e2-scripts.js
  res/controllers/Hercules-DJ-Console-Mk1-hid-scripts.js
  res/controllers/Hercules-DJ-Console-Mk2-hid-scripts.js
  res/controllers/Hercules-DJ-Console-RMX-scripts.js
  res/controllers/Hercules-DJ-Control-MP3-scripts.js
  res/controllers/Hercules-DJ-Control-Steel-scripts.js
  res/controllers/Hercules-DJControl-Compact-scripts.js
  res/controllers/Ion-Discover-DJ-Pro-scripts.js
  res/controllers/Ion-Discover-DJ-scripts.js
  res/controllers/Korg-nanoKONTROL-2-scripts.js
  res/controllers/Korg-nanoPAD2-scripts.js
  res/controllers/Numark-Mixtrack-2-scripts.js
  res/controllers/Numark-Mixtrack-Pro-scripts.js
  res/controllers/Numark-Omni-Control-scripts.js
  res/controllers/Numark-Total-Control-scripts.js
  res/controllers/Numark-V7-scripts.js
  res/controllers/Pioneer-DDJ-SB2-scripts.js
  res/controllers/Pioneer-DDJ-SX-scripts.js
  res/controllers/Reloop Terminal Mix 2-4.js
  res/controllers/Reloop-Beatmix-2-4-scripts.js
  res/controllers/Reloop-Jockey-3-ME-scripts.js
  res/controllers/Stanton-SCS1d-scripts.js
  res/controllers/Stanton-SCS1m-scripts.js
  res/controllers/Stanton-SCS3d-scripts.js
  res/controllers/TrakProDJ-iPad-scripts.js
  res/controllers/Vestax-VCI-100-3DEX-scripts.js
Labels: controllers

feat(pre-commit): only run eslint on changed lines as clang-format
  .eslintrc.json
  .pre-commit-config.yaml
Labels: code quality

LateNight: set fixed QComboBox/QPushButton icon size to scale "2x" icons
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
Labels: skins

Append .bind(this) to all the callback functions
  res/controllers/Traktor-Kontrol-Z1-scripts.js
Labels: controllers

use library_pch.h and remove all problematic headers.
  CMakeLists.txt
  src/library_pch.h
Labels: build

dont use compiler cache
  .github/workflows/build.yml
Labels: none

Move separate files to target_precompile_headers
  CMakeLists.txt
  src/util/safelywritablefile.cpp
  src/waveform/renderers/allshader/waveformrendererpreroll.cpp
  src/widget/wspinnyglsl.cpp
  src/widget/wvumeterglsl.cpp
Labels: build, ui, waveform

Revert "Move separate files to target_precompile_headers"
  CMakeLists.txt
  src/util/safelywritablefile.cpp
  src/waveform/renderers/allshader/waveformrendererpreroll.cpp
  src/widget/wspinnyglsl.cpp
  src/widget/wvumeterglsl.cpp
Labels: build, ui, waveform

add beats_translate_move to trigger beats_translate_earlier/_later
  src/controllers/controlpickermenu.cpp
  src/engine/controls/bpmcontrol.cpp
  src/engine/controls/bpmcontrol.h
Labels: engine

BpmControl: improve headers, remove unused member
  src/engine/controls/bpmcontrol.cpp
  src/engine/controls/bpmcontrol.h
Labels: engine

empty library_pch
  src/library_pch.h
Labels: none

This restores the old behavior of getActiveFieldGroup without altering the behavior of resolveGroup And adds warnings at various callers, for the case that resolveGroup returns undefined
  res/controllers/common-hid-packet-parser.js
Labels: controllers

Change function prefix to TraktorZ1
  res/controllers/Traktor Kontrol Z1.hid.xml
Labels: controllers

Remove empty line
  res/controllers/Traktor-Kontrol-Z1-scripts.js
Labels: controllers

Add super knob adoption option for quick effects
  src/effects/chains/quickeffectchain.cpp
  src/effects/effectsmanager.cpp
  src/effects/effectsmanager.h
  src/preferences/dialog/dlgprefeffects.cpp
  src/preferences/dialog/dlgprefeffectsdlg.ui
Labels: effects, preferences, ui

Always use two digits for 7-bit hex values
  res/controllers/Traktor-Kontrol-Z1-scripts.js
Labels: controllers

Fix "possible loss of data" warnings with MSVC
  lib/reverb/Reverb.h
  lib/reverb/dsp/Delay.h
  lib/reverb/dsp/IIR1.h
Labels: none

Improve NativeEventHandlerWin to avoid header conflict
  src/main.cpp
  src/nativeeventhandlerwin.cpp
  src/nativeeventhandlerwin.h
Labels: none
