Repository mixxxdj/mixxx, changes with the labels that .github/labeler.yml gives for each.
All labels: build, code quality, controllers, library, skins, ui

Introduce IndexRange::isPartOf()
  src/analyzer/analyzerthread.cpp
  src/engine/cachingreader/cachingreader.cpp
  src/engine/cachingreader/cachingreaderchunk.cpp
  src/engine/cachingreader/cachingreaderworker.cpp
  src/sources/audiosource.cpp
  src/sources/audiosourcestereoproxy.cpp
  src/sources/readaheadframebuffer.cpp
  src/test/indexrange_test.cpp
  src/test/soundproxy_test.cpp
  src/util/indexrange.cpp
  src/util/indexrange.h
Labels: code quality

Inline clampFrameIndexRange()
  src/sources/audiosource.cpp
  src/sources/audiosource.h
Labels: none

Remove unused IndexRange::reverse()
  src/test/indexrange_test.cpp
  src/util/indexrange.cpp
  src/util/indexrange.h
Labels: code quality

Remove IndexRang::operator> and <, because they are not instantly understandable.
  src/sources/audiosource.cpp
  src/util/indexrange.h
Labels: none

Remove too abstract IndexRange::span()
  src/analyzer/analyzerthread.cpp
  src/test/indexrange_test.cpp
  src/test/soundproxy_test.cpp
  src/util/indexrange.cpp
  src/util/indexrange.h
Labels: code quality

Shade: Added ComboBoxAutoDjTransitionUnit
  res/skins/Shade/style.qss
  res/skins/Shade/style_dark.qss
  res/skins/Shade/style_summer_sunset.qss
Labels: skins

Tango: Added ComboBoxAutoDjTransitionUnit
  res/skins/Tango/style.qss
Labels: skins

Fix discontinous regions in analyzerthread.
  src/analyzer/analyzerthread.cpp
Labels: none

WaveformWidgetFactory: Set thread name for better logging messages
  src/waveform/waveformwidgetfactory.cpp
Labels: none

BalanceGroupState: Fix signed/unsigned comparison on armv7hl
  src/effects/builtin/balanceeffect.h
Labels: none

SoundSourceM4A: Fix signed/unsigned char issue on aarch64/ppc64le
  src/sources/soundsourcem4a.cpp
Labels: none

.github/labeler.yml:

build:
- default.nix
- CMakeLists.txt
- build/**
- cmake/**

code quality:
- src/test/**
- .clang-format
- .codespell
- .eslint*
- .flake8
- .pre-commit-config.yaml
- pyproject.toml

controllers:
- res/controllers/**

library:
- src/library/**

skins:
- res/skins/**

ui:
- src/**.ui
- src/dialog/**
- src/preferences/**
- src/widget/**
