Repository mixxxdj/mixxx, changes with the labels that .github/labeler.yml gives for each.
All labels: build, cmake, code quality, controllers, analyzer, broadcast, effects, engine, sync, library, autodj, browse, itunes, rekordbox, scanner, search, serato, packaging, preferences, skins, soundio, soundsource, ui, vinylcontrol, waveform

crate archives: fix build
  src/library/trackset/crate/cratestorage.cpp
Labels: library

Update controller FX buttons to enable/disable effects according to manual
  res/controllers/Pioneer-DDJ-SB-scripts.js
  res/controllers/Pioneer-DDJ-SB.midi.xml
Labels: controllers

Updated usages of deprecated functions and parameter names
  res/controllers/Pioneer-DDJ-SB-scripts.js
  res/controllers/common-controller-scripts.js
Labels: controllers

Updated rotary selector controls
  res/controllers/Pioneer-DDJ-SB-scripts.js
Labels: controllers

DlgPrefMixer: revert deck label change
  src/preferences/dialog/dlgprefmixer.cpp
Labels: preferences, ui

Effects(Preset)Manager: use QHashIterator
  src/effects/effectsmanager.cpp
  src/effects/presets/effectchainpresetmanager.cpp
Labels: effects

Effects(Preset)Mananger: improve pointer init/creation, add comments
  src/effects/effectsmanager.cpp
  src/effects/presets/effectchainpresetmanager.cpp
Labels: effects

Use shift + rotary encoder to move playback position in preview deck
  res/controllers/Pioneer-DDJ-SB-scripts.js
Labels: controllers

Effects(Preset)Manager: use 'create' for various Effect...Pointer
  src/effects/presets/effectchainpreset.cpp
  src/effects/presets/effectchainpresetmanager.cpp
Labels: effects

Shift + FX button click now allows to select currently focused effect
  res/controllers/Pioneer-DDJ-SB-scripts.js
  res/controllers/Pioneer-DDJ-SB.midi.xml
Labels: controllers

Updated BACK button behaviour
  res/controllers/Pioneer-DDJ-SB-scripts.js
  res/controllers/Pioneer-DDJ-SB.midi.xml
Labels: controllers

Added comments to explain the conditions
  src/waveform/visualplayposition.cpp
Labels: waveform

Add missing includes
  src/controllers/midi/hss1394enumerator.h
  src/main.cpp
  src/preferences/upgrade.cpp
Labels: preferences, ui

draw overlapping marks at increasing level, both in legacy and glsl waveform renderers. reduced code duplications, fix setting the initial size of the waveform renderers
  CMakeLists.txt
  src/waveform/renderers/allshader/waveformrendermark.cpp
  src/waveform/renderers/allshader/waveformrendermark.h
  src/waveform/renderers/waveformmark.cpp
  src/waveform/renderers/waveformmark.h
  src/waveform/renderers/waveformmarkset.cpp
  src/waveform/renderers/waveformmarkset.h
  src/waveform/renderers/waveformrendermark.cpp
  src/waveform/renderers/waveformrendermark.h
  src/waveform/renderers/waveformrendermarkbase.cpp
  src/waveform/renderers/waveformrendermarkbase.h
  src/waveform/renderers/waveformwidgetrenderer.cpp
  src/waveform/renderers/waveformwidgetrenderer.h
  src/waveform/widgets/glslwaveformwidget.cpp
  src/waveform/widgets/glslwaveformwidget.h
  src/waveform/widgets/waveformwidgetabstract.cpp
  src/widget/wwaveformviewer.cpp
  src/widget/wwaveformviewer.h
Labels: build, ui, waveform

Update libdjinterop to the latest release 0.20.1
  CMakeLists.txt
Labels: build

fix gcc compilation
  src/widget/wwaveformviewer.cpp
Labels: ui

formatting
  src/waveform/renderers/waveformrendermarkbase.cpp
Labels: waveform

Update README.md: added Mastodon link
  README.md
Labels: none

WWaveformViewer: Fix invalid DirectConnection
  src/widget/wwaveformviewer.cpp
Labels: ui

WWaveformViewer: Simplify widget connection
  src/widget/wwaveformviewer.cpp
  src/widget/wwaveformviewer.h
Labels: ui

WWaveformViewer: Fix invalid widget access
  src/widget/wwaveformviewer.cpp
Labels: ui

Impove Includes
  src/preferences/colorpaletteeditormodel.cpp
  src/util/rangelist.cpp
  src/waveform/renderers/waveformrendererabstract.h
Labels: preferences, ui, waveform

Effects: center Super knob when loading empty (QuickEffect) chain preset
  src/effects/presets/effectchainpresetmanager.cpp
Labels: effects

Tracks table: avoid wrong pre-selection with no tracks selected previously
  src/widget/wlibrarytableview.cpp
  src/widget/wtracktableview.cpp
Labels: ui

Korg nanoKontrol2: don't try to configure more than 4 main decks
  res/controllers/Korg-nanoKONTROL-2-scripts.js
Labels: controllers

snap packaging
  .gitignore
  snap/snapcraft.yaml
Labels: none

Create SECURITY.md
  SECURITY.md
Labels: none

Update README.md: added Mastodon link
  README.md
Labels: none

Avoid simultaneous access of the same file for two diffrent width
  src/library/coverartcache.cpp
  src/library/coverartcache.h
Labels: library

Avoid to look-up the same cover concurrently twice
  src/library/coverartcache.cpp
  src/library/coverartcache.h
  src/test/coverartcache_test.cpp
Labels: code quality, library

improve headers
  src/encoder/encoderffmpegcore.h
  src/engine/sidechain/enginenetworkstream.h
  src/engine/sidechain/networkinputstreamworker.cpp
  src/engine/sidechain/networkoutputstreamworker.cpp
Labels: engine

Skins: fix style of selected QComboBox items on Windows
  res/skins/Deere/style.qss
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
  res/skins/Shade/style.qss
  res/skins/Shade/style_dark.qss
  res/skins/Shade/style_summer_sunset.qss
  res/skins/Tango/style.qss
Labels: skins

Fix missing #include directive
  src/preferences/colorpaletteeditormodel.cpp
Labels: preferences, ui

Fix missing include after merge
  src/preferences/colorpaletteeditormodel.cpp
Labels: preferences, ui

Revert "BaseTrackPlayer: Remove references to WaveformWidgetRenderer when using Qt6"
  src/mixer/basetrackplayer.cpp
Labels: none

Destroy PlayerInfo after EngineRecord is stopped to fix a debug assert
  src/coreservices.cpp
Labels: none

Add mapping for Native Instruments Traktor Kontrol Z1
  res/controllers/Traktor Kontrol Z1.hid.xml
  res/controllers/Traktor-Kontrol-Z1-scripts.js
Labels: controllers

ITunesDAO: Add missing `<ostream>` include
  src/library/itunes/itunesdao.h
Labels: library, itunes

Change headphone buttons secondary function to cue point seek and stop
  res/controllers/Traktor-Kontrol-Z1-scripts.js
Labels: controllers

Remove unnecessary parentheses for more legible code
  res/controllers/Traktor-Kontrol-Z1-scripts.js
Labels: controllers

.github/labeler.yml:

build:
  - default.nix
  - CMakeLists.txt
  - build/**
  - cmake/**

cmake:
  - cmake/**

code quality:
  - src/test/**
  - .clang-format
  - .codespell
  - .eslint*
  - .flake8
  - .pre-commit-config.yaml
  - pyproject.toml

controllers:
  - res/controllers/**

analyzer:
  - src/analyzer/**

broadcast:
  - src/broadcast/**

effects:
  - src/effects/**

engine:
  - src/engine/**

sync:
  - src/engine/sync/**

library:
  - src/library/**

autodj:
  - src/library/autodj/**

browse:
  - src/library/browse/**

itunes:
  - src/library/itunes/**

rekordbox:
  - src/library/rekordbox/**

scanner:
  - src/library/scanner/**

search:
  - src/library/searchquery*

serato:
  - src/library/serato/**

packaging:
  - packaging/**

preferences:
  - src/preferences/**

skins:
  - res/skins/**

soundio:
  - src/soundio/**

soundsource:
  - src/sources/soundsource*

ui:
  - src/**.ui
  - src/dialog/**
  - src/preferences/**
  - src/widget/**

vinylcontrol:
  - src/vinylcontrol/**

waveform:
  - src/waveform/**
