Repository mixxxdj/mixxx, changes with the labels that .github/labeler.yml gives for each.
All labels: build, cmake, code quality, controller backend, controller mappings, analyzer, broadcast, effects, engine, sync, library, autodj, browse, itunes, rekordbox, scanner, search, serato, packaging, preferences, qml, skins, soundio, soundsource, ui, vinylcontrol, waveform

start
  CMakeLists.txt
  src/library/library.cpp
  src/library/library.h
  src/library/playlisttablemodel.cpp
  src/library/playlisttablemodel.h
  src/library/trackcollection.cpp
  src/library/trackset/playlist/basegroupedplaylistsfeature.cpp
  src/library/trackset/playlist/basegroupedplaylistsfeature.h
  src/library/trackset/playlist/groupedplaylistsfeature.cpp
  src/library/trackset/playlist/groupedplaylistsfeature.h
  src/library/trackset/playlist/playlist.h
  src/library/trackset/playlist/playlistid.h
  src/library/trackset/playlist/playlistschema.h
  src/library/trackset/playlist/playliststorage.cpp
  src/library/trackset/playlist/playliststorage.h
  src/library/trackset/playlist/playlistsummary.h
  src/library/treeitem.cpp
  src/library/treeitem.h
  src/preferences/dialog/dlgpreflibrary.cpp
  src/preferences/dialog/dlgpreflibrarydlg.ui
  src/preferences/dialog/ui_dlgpreflibrarydlg.h
Labels: build, library, preferences, ui

disable wheel on startup by default
  res/controllers/Numark-Mixtrack-Platinum-scripts.js
Labels: controller mappings

fix and improve vu (volume) meter display
  res/controllers/Numark-Mixtrack-Platinum-scripts.js
Labels: controller mappings

update version, authorship, description, support link
  res/controllers/Numark Mixtrack Platinum.midi.xml
Labels: controller mappings

groupingok
  src/library/autodj/autodjprocessor.cpp
  src/library/trackset/baseplaylistfeature.cpp
  src/library/trackset/playlist/basegroupedplaylistsfeature.cpp
  src/library/trackset/playlist/basegroupedplaylistsfeature.h
  src/library/trackset/playlist/groupedplaylistsfeature.cpp
  src/library/trackset/playlistfeature.cpp
  src/library/trackset/setlogfeature.cpp
Labels: library, autodj

Use libdjinterop 0.24.2
  CMakeLists.txt
Labels: build

correct forum link
  res/controllers/Numark Mixtrack Platinum.midi.xml
Labels: controller mappings

correct forum link
  res/controllers/Numark Mixtrack Platinum.midi.xml
Labels: controller mappings

Added missing QTlsBackendOpenSSLPlugin to make MusicBrainz work with Qt6 builds
  CMakeLists.txt
Labels: build

Added QTlsBackendOpenSSLPlugin for static linked builds too
  src/mixxxapplication.cpp
Labels: none

Mixtrack3: add option for Library navigation mode: Focus | Classic
  res/controllers/Numark-Mixtrack-3-scripts.js
  res/controllers/Numark-Mixtrack-3.midi.xml
Labels: controller mappings

No really libdjinterop 0.24.3
  CMakeLists.txt
Labels: build

Controller learning: show a dialog for non-existant controls
  src/controllers/dlgcontrollerlearning.cpp
Labels: controller backend

(fix) Controller learning: correct control for 'Mic & Aux show/hide'
  src/controllers/controlpickermenu.cpp
Labels: controller backend

(fix) Controller Learning: prevent keyboard accelerator with & in QAction title
  src/controllers/controlpickermenu.cpp
Labels: controller backend

Update Numark-Mixtrack-3-scripts.js
  res/controllers/Numark-Mixtrack-3-scripts.js
Labels: controller mappings

.github/labeler.yml:

build:
  - changed-files:
      - any-glob-to-any-file:
          - default.nix
          - CMakeLists.txt
          - build/**
          - cmake/**

cmake:
  - changed-files:
      - any-glob-to-any-file:
          - cmake/**

code quality:
  - changed-files:
      - any-glob-to-any-file:
          - src/test/**
          - .clang-format
          - .codespell
          - .eslint*
          - .flake8
          - .pre-commit-config.yaml
          - pyproject.toml

controller backend:
  - changed-files:
      - any-glob-to-any-file:
          - src/controllers/**

controller mappings:
  - changed-files:
      - any-glob-to-any-file:
          - res/controllers/**

analyzer:
  - changed-files:
      - any-glob-to-any-file:
          - src/analyzer/**

broadcast:
  - changed-files:
      - any-glob-to-any-file:
          - src/broadcast/**

effects:
  - changed-files:
      - any-glob-to-any-file:
          - src/effects/**

engine:
  - changed-files:
      - any-glob-to-any-file:
          - src/engine/**

sync:
  - changed-files:
      - any-glob-to-any-file:
          - src/engine/sync/**

library:
  - changed-files:
      - any-glob-to-any-file:
          - src/library/**

autodj:
  - changed-files:
      - any-glob-to-any-file:
          - src/library/autodj/**

browse:
  - changed-files:
      - any-glob-to-any-file:
          - src/library/browse/**

itunes:
  - changed-files:
      - any-glob-to-any-file:
          - src/library/itunes/**

rekordbox:
  - changed-files:
      - any-glob-to-any-file:
          - src/library/rekordbox/**

scanner:
  - changed-files:
      - any-glob-to-any-file:
          - src/library/scanner/**

search:
  - changed-files:
      - any-glob-to-any-file:
          - src/library/searchquery*

serato:
  - changed-files:
      - any-glob-to-any-file:
          - src/library/serato/**

packaging:
  - changed-files:
      - any-glob-to-any-file:
          - packaging/**

preferences:
  - changed-files:
      - any-glob-to-any-file:
          - src/preferences/**

qml:
  - changed-files:
      - any-glob-to-any-file:
          - res/qml/**
          - src/qml/**

skins:
  - changed-files:
      - any-glob-to-any-file:
          - res/skins/**

soundio:
  - changed-files:
      - any-glob-to-any-file:
          - src/soundio/**

soundsource:
  - changed-files:
      - any-glob-to-any-file:
          - src/sources/soundsource*

ui:
  - changed-files:
      - any-glob-to-any-file:
          - src/**.ui
          - src/dialog/**
          - src/preferences/**
          - src/widget/**

vinylcontrol:
  - changed-files:
      - any-glob-to-any-file:
          - src/vinylcontrol/**

waveform:
  - changed-files:
      - any-glob-to-any-file:
          - src/waveform/**
