Repository mixxxdj/mixxx, changes with the labels that .github/labeler.yml gives for each.
All labels: build, cmake, code quality, controllers, analyzer, broadcast, effects, engine, sync, library, autodj, browse, itunes, rekordbox, scanner, search, serato, packaging, preferences, skins, soundio, soundsource, ui, vinylcontrol, waveform

.github/labeler.yml:

build:
  - default.nix
  - CMakeLists.txt
  - build/**
  - cmake/**

cmake:
  - cmake/**

code quality:
  - src/test/**
  - .clang-format
  - .codespell
  - .eslint*
  - .flake8
  - .pre-commit-config.yaml
  - pyproject.toml

controllers:
  - res/controllers/**

analyzer:
  - src/analyzer/**

broadcast:
  - src/broadcast/**

effects:
  - src/effects/**

engine:
  - src/engine/**

sync:
  - src/engine/sync/**

library:
  - src/library/**

autodj:
  - src/library/autodj/**

browse:
  - src/library/browse/**

itunes:
  - src/library/itunes/**

rekordbox:
  - src/library/rekordbox/**

scanner:
  - src/library/scanner/**

search:
  - src/library/searchquery*

serato:
  - src/library/serato/**

packaging:
  - packaging/**

preferences:
  - src/preferences/**

skins:
  - res/skins/**

soundio:
  - src/soundio/**

soundsource:
  - src/sources/soundsource*

ui:
  - src/**.ui
  - src/dialog/**
  - src/preferences/**
  - src/widget/**

vinylcontrol:
  - src/vinylcontrol/**

waveform:
  - src/waveform/**

Taglib: Disable missing dll-interface warning
  src/track/taglib/trackmetadata_file.cpp
  src/track/taglib/trackmetadata_mp4.cpp
  src/track/taglib/trackmetadata_xiph.cpp
Labels: none

Add missing include
  src/controllers/hid/hidioglobaloutputreportfifo.h
  src/util/console.cpp
  src/util/safelywritablefile.cpp
  src/waveform/renderers/allshader/waveformrendererpreroll.cpp
  src/widget/wspinnyglsl.cpp
  src/widget/wvumeterglsl.cpp
Labels: ui, waveform

Use a more descriptive naming scheme for variables and functions
  res/controllers/Traktor-Kontrol-Z1-scripts.js
Labels: controllers

Revert "DEBUG (Remove!): add pitch_adjust slider to LateNight"
  res/skins/LateNight/controls/button_2state_isEqual.xml
  res/skins/LateNight/decks/rate_controls.xml
  res/skins/LateNight/decks/row_5_transportLoopJump.xml
  res/skins/LateNight/style_palemoon.qss
Labels: skins

Traktor S3: fixes and updates
  res/controllers/Traktor-Kontrol-S3-hid-scripts.js
Labels: controllers

common hid: update uses of deprecated makeConnection
  res/controllers/common-hid-packet-parser.js
Labels: controllers

edits from ronso0 from scaling-svg-for-retina
  res/skins/LateNight/style_palemoon.qss
Labels: skins

LateNight: fix library radio buttons (Analyze)
  res/skins/LateNight/classic/buttons/btn__lib_radio_button_gold_on.svg
  res/skins/LateNight/classic/buttons/btn__lib_radio_button_yellow_on.svg
  res/skins/LateNight/style.qss
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
Labels: skins

fix clamping of the index so left of zero is not drawn with the first value
  src/waveform/renderers/allshader/waveformrendererfiltered.cpp
  src/waveform/renderers/allshader/waveformrendererhsv.cpp
  src/waveform/renderers/allshader/waveformrendererlrrgb.cpp
  src/waveform/renderers/allshader/waveformrendererrgb.cpp
  src/waveform/renderers/allshader/waveformrenderersimple.cpp
Labels: waveform

Suppress possible loss of data warning explicit a /w after /W3 seems to no longer work "overriding '/W3' with '/w'"
  CMakeLists.txt
Labels: build

Revert "Bump actions/labeler from 4.3.0 to 5.0.0"
  .github/workflows/labeler.yml
Labels: none

use frameSwapped - update for continuously repaint synchronized to the vertical refresh, and use that for timing instead of vsyncthread
  src/waveform/useframeswapped.h
  src/waveform/vsyncthread.cpp
  src/waveform/vsyncthread.h
  src/waveform/waveformwidgetfactory.cpp
  src/waveform/waveformwidgetfactory.h
  src/widget/openglwindow.cpp
  src/widget/wglwidgetqopengl.cpp
  src/widget/wglwidgetqopengl.h
Labels: ui, waveform

added comments and minor changed based on review
  src/waveform/renderers/waveformmark.cpp
  src/waveform/renderers/waveformmark.h
  src/waveform/renderers/waveformmarkset.cpp
  src/waveform/renderers/waveformrendermarkbase.cpp
Labels: waveform

Increased pixmapCache size limit and made it dependent on devicePixelRatio Moved this general definition out off coverartcache.cpp
  src/library/coverartcache.cpp
  src/main.cpp
Labels: library

Suppress possible loss of data warning explicit a /w after /W3 seems to no longer work "overriding '/W3' with '/w'"
  CMakeLists.txt
Labels: build

SoundDeviceItem: add comment with ideas to improve channel auto-select
  src/preferences/dialog/dlgprefsounditem.cpp
Labels: preferences, ui

Pref Sound: auto-select free channels when picking a new I/O device
  src/preferences/dialog/dlgprefsound.cpp
  src/preferences/dialog/dlgprefsound.h
  src/preferences/dialog/dlgprefsounditem.cpp
  src/preferences/dialog/dlgprefsounditem.h
Labels: preferences, ui

Pref Sound: consolidate item conncetions in connectSoundItem()
  src/preferences/dialog/dlgprefsound.cpp
Labels: preferences, ui

Display the samplerate in the track info dialog.
  src/library/dlgtrackinfo.cpp
  src/library/dlgtrackinfo.ui
Labels: library

LateNight, PaleMoon: fix active loop in/out icons
  res/skins/LateNight/palemoon/buttons/btn__loop_active.svg
  res/skins/LateNight/palemoon/buttons/btn__loop_in.svg
  res/skins/LateNight/palemoon/buttons/btn__loop_in_active.svg
  res/skins/LateNight/palemoon/buttons/btn__loop_out.svg
  res/skins/LateNight/palemoon/buttons/btn__loop_out_active.svg
Labels: skins

minor tweak
  res/skins/LateNight/classic/buttons/btn__intro_end.svg
  res/skins/LateNight/classic/buttons/btn__outro_end.svg
Labels: skins

MIDI option delegate: add 'Unset all' action to options list
  src/controllers/delegates/midioptionsdelegate.cpp
Labels: none

MIDI mapping editor: allow selecting multiple Options in the table view
  src/controllers/delegates/midioptionsdelegate.cpp
  src/controllers/delegates/midioptionsdelegate.h
Labels: none

MIDI mapping table: don't show 'Normal' option
  src/controllers/delegates/midioptionsdelegate.cpp
Labels: none
