Repository mixxxdj/mixxx, changes with the labels that .github/labeler.yml gives for each.
All labels: build, cmake, code quality, controller backend, controller mappings, analyzer, broadcast, effects, engine, sync, library, autodj, browse, itunes, rekordbox, scanner, search, serato, packaging, preferences, qml, skins, soundio, soundsource, ui, vinylcontrol, waveform

play nice with precompiled headers
  CMakeLists.txt
Labels: build

chore(rendergraph): Port `generate_shaders_gl.pl` to Python
  src/rendergraph/shaders/generate_shaders_gl.pl
  tools/rg_generate_shaders_gl.py
Labels: none

moved generate_shaders_gl.py script to rendergraph/tools, updated readme
  src/rendergraph/shaders/README.md
  src/rendergraph/tools/generate_shaders_gl.py
Labels: none

ci(pre-commit): Automatically update rendergraph shaders on changes
  .pre-commit-config.yaml
Labels: code quality

added rendergraph shaders
  CMakeLists.txt
  src/rendergraph/CMakeLists.txt
  src/rendergraph/shaders/CMakeLists.txt
  src/rendergraph/shaders/README.md
  src/rendergraph/shaders/generate_shaders_gl.pl
  src/rendergraph/shaders/generated_shaders_gl.cmake
  src/rendergraph/shaders/pattern.frag
  src/rendergraph/shaders/pattern.frag.gl
  src/rendergraph/shaders/pattern.vert
  src/rendergraph/shaders/pattern.vert.gl
  src/rendergraph/shaders/rgb.frag
  src/rendergraph/shaders/rgb.frag.gl
  src/rendergraph/shaders/rgb.vert
  src/rendergraph/shaders/rgb.vert.gl
  src/rendergraph/shaders/rgba.frag
  src/rendergraph/shaders/rgba.frag.gl
  src/rendergraph/shaders/rgba.vert
  src/rendergraph/shaders/rgba.vert.gl
  src/rendergraph/shaders/texture.frag
  src/rendergraph/shaders/texture.frag.gl
  src/rendergraph/shaders/texture.vert
  src/rendergraph/shaders/texture.vert.gl
  src/rendergraph/shaders/unicolor.frag
  src/rendergraph/shaders/unicolor.frag.gl
  src/rendergraph/shaders/unicolor.vert
  src/rendergraph/shaders/unicolor.vert.gl
Labels: build

chore(rendergraph): Order `generated_shaders_gl.cmake` alphabetically
  src/rendergraph/shaders/generated_shaders_gl.cmake
Labels: none

fixed double/float conversions
  src/waveform/widgets/allshader/waveformwidget.cpp
Labels: waveform

comment
  src/waveform/widgets/allshader/waveformwidget.cpp
Labels: waveform

moved script back, edited info, edited readme
  src/rendergraph/shaders/README.md
  tools/rg_generate_shaders_gl.py
Labels: none

removed copy of generate_shaders_gl.py
  src/rendergraph/tools/generate_shaders_gl.py
Labels: none

add missing pointer initialization
  src/waveform/widgets/allshader/waveformwidget.cpp
Labels: waveform

removed all Q_UNUSED
  src/waveform/renderers/allshader/waveformrenderer.cpp
  src/waveform/renderers/allshader/waveformrendererfiltered.cpp
  src/waveform/renderers/allshader/waveformrendererhsv.cpp
  src/waveform/renderers/allshader/waveformrendererrgb.cpp
  src/waveform/renderers/allshader/waveformrenderersignalbase.cpp
  src/waveform/renderers/allshader/waveformrenderersimple.cpp
  src/waveform/renderers/allshader/waveformrendererstem.cpp
  src/waveform/renderers/allshader/waveformrenderertextured.cpp
  src/waveform/renderers/allshader/waveformrendermark.cpp
Labels: waveform

added appendChildNode with templatized result as suggested by Nico, cleared up code when creating a waveformsignalrenderer, and appending it as a node
  src/rendergraph/opengl/rendergraph/nodeinterface.h
  src/rendergraph/scenegraph/rendergraph/nodeinterface.h
  src/waveform/renderers/allshader/waveformrendererfiltered.h
  src/waveform/renderers/allshader/waveformrendererhsv.h
  src/waveform/renderers/allshader/waveformrendererrgb.h
  src/waveform/renderers/allshader/waveformrenderersignalbase.h
  src/waveform/renderers/allshader/waveformrenderersimple.h
  src/waveform/renderers/allshader/waveformrendererstem.h
  src/waveform/renderers/allshader/waveformrenderertextured.h
  src/waveform/widgets/allshader/waveformwidget.cpp
  src/waveform/widgets/allshader/waveformwidget.h
Labels: waveform

comment
  src/waveform/widgets/allshader/waveformwidget.cpp
Labels: waveform

fix(generate_shaders_gl): Replace new union expression with old syntax
  src/rendergraph/tools/generate_shaders_gl.py
Labels: none

fix post rebase
  src/waveform/renderers/allshader/waveformrendermark.cpp
Labels: waveform

rebase->ReadyForPr->UbuntuErrors
  src/library/trackset/smarties/20241102 ui_dlgsmartiesinfo.h
  src/library/trackset/smarties/20241105 ui_dlgsmartiesinfo.h
  src/library/trackset/smarties/20241109 ui_dlgsmartiesinfo - Copy.h
  src/library/trackset/smarties/20241113 ui_dlgsmartiesinfo.h
  src/library/trackset/smarties/20241114 2 ui_dlgsmartiesinfo.h
  src/library/trackset/smarties/20241114 ui_dlgsmartiesinfo.h
  src/library/trackset/smarties/20241115 ui_dlgsmartiesinfo.h
  src/library/trackset/smarties/20241120 ui_dlgsmartiesinfo.h
  src/library/trackset/smarties/20241125 dlgsmartiesinfo.ui
  src/library/trackset/smarties/20241125 test dateedit dlgsmartiesinfo.ui
  src/library/trackset/smarties/20241125 test editdate ui_dlgsmartiesinfo.h
  src/library/trackset/smarties/20241125 ui_dlgsmartiesinfo.h
  src/library/trackset/smarties/`20241109 dlgsmartiesinfo.ui
  src/library/trackset/smarties/smartiesfuntions.h
  src/library/trackset/smarties/smartiestablemodel.cpp
  src/library/trackset/smarties/test testeditdlgsmartiesinfo.ui
  src/library/trackset/smarties/test textedit ui_dlgsmartiesinfo.h
Labels: library

remove needless convert and asNode
  src/waveform/renderers/allshader/waveformrendererfiltered.h
  src/waveform/renderers/allshader/waveformrendererhsv.h
  src/waveform/renderers/allshader/waveformrendererrgb.h
  src/waveform/renderers/allshader/waveformrenderersignalbase.h
  src/waveform/renderers/allshader/waveformrenderersimple.h
  src/waveform/renderers/allshader/waveformrendererstem.h
  src/waveform/renderers/allshader/waveformrenderertextured.h
  src/waveform/widgets/allshader/waveformwidget.cpp
Labels: waveform

Update dlgsmartiesinfo.cpp conflict pre-commit <---> CI
  src/library/trackset/smarties/dlgsmartiesinfo.cpp
Labels: library

Update res/controllers/Numark-Mixtrack-3-scripts.js
  res/controllers/Numark-Mixtrack-3-scripts.js
Labels: controller mappings

only build shaders for added target
  src/rendergraph/shaders/CMakeLists.txt
Labels: none

build: add missing deps for RPM systems
  tools/rpm_buildenv.sh
Labels: none

fix: add HID error message upon failed open
  src/controllers/hid/hidcontroller.cpp
Labels: controller backend

Update Numark-Mixtrack-3-scripts.js
  res/controllers/Numark-Mixtrack-3-scripts.js
Labels: controller mappings

use geometrynodes for waveformrender beat
  src/waveform/renderers/allshader/waveformrenderbeat.cpp
  src/waveform/renderers/allshader/waveformrenderbeat.h
Labels: waveform

using geometrynode for end of track
  src/waveform/renderers/allshader/waveformrendererendoftrack.cpp
  src/waveform/renderers/allshader/waveformrendererendoftrack.h
Labels: waveform

use geometrynodes for waveform signals rgb, hsv, simple and filtered/stacked
  src/waveform/renderers/allshader/waveformrendererfiltered.cpp
  src/waveform/renderers/allshader/waveformrendererfiltered.h
  src/waveform/renderers/allshader/waveformrendererhsv.cpp
  src/waveform/renderers/allshader/waveformrendererhsv.h
  src/waveform/renderers/allshader/waveformrendererrgb.cpp
  src/waveform/renderers/allshader/waveformrendererrgb.h
  src/waveform/renderers/allshader/waveformrenderersimple.cpp
  src/waveform/renderers/allshader/waveformrenderersimple.h
Labels: waveform

use geometrynode for waveformrendererpreroll
  src/waveform/renderers/allshader/waveformrendererpreroll.cpp
  src/waveform/renderers/allshader/waveformrendererpreroll.h
  src/waveform/renderers/waveformwidgetrenderer.cpp
  src/waveform/renderers/waveformwidgetrenderer.h
Labels: waveform

use geometrynodes for waveformrender markrange
  src/waveform/renderers/allshader/waveformrendermarkrange.cpp
  src/waveform/renderers/allshader/waveformrendermarkrange.h
  src/waveform/widgets/allshader/waveformwidget.cpp
Labels: waveform

use geometrynodes for waveformrendermark
  src/waveform/renderers/allshader/digitsrenderer.cpp
  src/waveform/renderers/allshader/digitsrenderer.h
  src/waveform/renderers/allshader/waveformrendermark.cpp
  src/waveform/renderers/allshader/waveformrendermark.h
  src/waveform/renderers/waveformmark.h
  src/waveform/renderers/waveformmarkrange.h
  src/waveform/renderers/waveformrendermarkbase.cpp
  src/waveform/renderers/waveformrendermarkbase.h
  src/waveform/renderers/waveformwidgetrenderer.cpp
  src/waveform/renderers/waveformwidgetrenderer.h
  src/waveform/widgets/allshader/waveformwidget.cpp
Labels: waveform

use geometrynode for waveformrendererslipmode
  src/waveform/renderers/allshader/waveformrendererslipmode.cpp
  src/waveform/renderers/allshader/waveformrendererslipmode.h
Labels: waveform

use static cast
  src/waveform/renderers/allshader/waveformrendererendoftrack.cpp
Labels: waveform

Update oscreceiver.cpp
  src/osc/oscreceiver.cpp
Labels: none

Update CMakeLists.txt
  CMakeLists.txt
Labels: build

fixup! feat: factorise controller setting to reduce boilerplate
  src/controllers/legacycontrollersettings.cpp
  src/controllers/legacycontrollersettings.h
Labels: controller backend

fixup! feat: factorise controller setting to reduce boilerplate
  src/controllers/legacycontrollersettings.cpp
Labels: controller backend

Actually use libdjinterop-0.24.1
  CMakeLists.txt
Labels: build

fixup! feat: add encryption option for broadcasting
  src/engine/sidechain/shoutconnection.cpp
Labels: engine

fixup! build: add missing deps for RPM systems
  tools/rpm_buildenv.sh
Labels: none

Stable API
  src/controllers/scripting/legacy/controllerscriptinterfacelegacy.cpp
  src/controllers/scripting/legacy/controllerscriptinterfacelegacy.h
Labels: controller backend

.github/labeler.yml:

build:
  - changed-files:
      - any-glob-to-any-file:
          - default.nix
          - CMakeLists.txt
          - build/**
          - cmake/**

cmake:
  - changed-files:
      - any-glob-to-any-file:
          - cmake/**

code quality:
  - changed-files:
      - any-glob-to-any-file:
          - src/test/**
          - .clang-format
          - .codespell
          - .eslint*
          - .flake8
          - .pre-commit-config.yaml
          - pyproject.toml

controller backend:
  - changed-files:
      - any-glob-to-any-file:
          - src/controllers/**

controller mappings:
  - changed-files:
      - any-glob-to-any-file:
          - res/controllers/**

analyzer:
  - changed-files:
      - any-glob-to-any-file:
          - src/analyzer/**

broadcast:
  - changed-files:
      - any-glob-to-any-file:
          - src/broadcast/**

effects:
  - changed-files:
      - any-glob-to-any-file:
          - src/effects/**

engine:
  - changed-files:
      - any-glob-to-any-file:
          - src/engine/**

sync:
  - changed-files:
      - any-glob-to-any-file:
          - src/engine/sync/**

library:
  - changed-files:
      - any-glob-to-any-file:
          - src/library/**

autodj:
  - changed-files:
      - any-glob-to-any-file:
          - src/library/autodj/**

browse:
  - changed-files:
      - any-glob-to-any-file:
          - src/library/browse/**

itunes:
  - changed-files:
      - any-glob-to-any-file:
          - src/library/itunes/**

rekordbox:
  - changed-files:
      - any-glob-to-any-file:
          - src/library/rekordbox/**

scanner:
  - changed-files:
      - any-glob-to-any-file:
          - src/library/scanner/**

search:
  - changed-files:
      - any-glob-to-any-file:
          - src/library/searchquery*

serato:
  - changed-files:
      - any-glob-to-any-file:
          - src/library/serato/**

packaging:
  - changed-files:
      - any-glob-to-any-file:
          - packaging/**

preferences:
  - changed-files:
      - any-glob-to-any-file:
          - src/preferences/**

qml:
  - changed-files:
      - any-glob-to-any-file:
          - res/qml/**
          - src/qml/**

skins:
  - changed-files:
      - any-glob-to-any-file:
          - res/skins/**

soundio:
  - changed-files:
      - any-glob-to-any-file:
          - src/soundio/**

soundsource:
  - changed-files:
      - any-glob-to-any-file:
          - src/sources/soundsource*

ui:
  - changed-files:
      - any-glob-to-any-file:
          - src/**.ui
          - src/dialog/**
          - src/preferences/**
          - src/widget/**

vinylcontrol:
  - changed-files:
      - any-glob-to-any-file:
          - src/vinylcontrol/**

waveform:
  - changed-files:
      - any-glob-to-any-file:
          - src/waveform/**
