Repository mixxxdj/mixxx, changes with the labels that .github/labeler.yml gives for each.
All labels: build, cmake, code quality, controllers, analyzer, broadcast, effects, engine, sync, library, autodj, browse, itunes, rekordbox, scanner, search, serato, packaging, preferences, skins, soundio, soundsource, ui, vinylcontrol, waveform

Add missing qtscript5-dev to debian_buildenv.sh
  tools/debian_buildenv.sh
Labels: none

Beats: Update overflow debug asserts
  src/track/beats.cpp
Labels: none

Beats: Fix unsafe integer overflow checks
  src/track/beats.cpp
Labels: none

CMakeLists: Relativize `__FILE__` paths by default
  CMakeLists.txt
Labels: build

Debug: Add Rust-inspired `DBG` macro for quick print-debugging
  src/util/debug.h
Labels: none

Debug: Place file path after invocation for better readability
  src/util/debug.h
Labels: none

CMakeLists: Set debug assertions macro in QML lib too
  CMakeLists.txt
Labels: build

Debug: Use static assert from `DBG`
  src/util/debug.h
Labels: none

Debug: Parenthesize debugged expression
  src/util/debug.h
Labels: none

optimization: use 1 sqrt instead of two (thanks daschuer for the suggestion)
  src/waveform/renderers/allshader/waveformrendererlrrgb.cpp
  src/waveform/renderers/allshader/waveformrendererrgb.cpp
Labels: waveform

CMakeLists: Fix doubly escaped gitinfo paths
  CMakeLists.txt
Labels: build

We're using git and have a proper manual now, so remove modification date and usage hints from script header
  res/controllers/Traktor-Kontrol-Z1-scripts.js
Labels: controllers

Add discussion forum topic link
  res/controllers/Traktor Kontrol Z1.hid.xml
Labels: controllers

Add a more complete script header
  res/controllers/Traktor-Kontrol-Z1-scripts.js
Labels: controllers

Improve header off soundsourceffmpeg
  src/sources/soundsourceffmpeg.cpp
Labels: soundsource

Welcome Ubuntu Noble Numbat
  CMakeLists.txt
Labels: build

Good bye Kinetic Kudu
  CMakeLists.txt
Labels: build

avoid confusion between visual waveform samples and frames by better naming and use correct range (was double!). TODO: re-add comments and apply to other waveform renderers
  src/waveform/renderers/allshader/waveformrendererlrrgb.cpp
  src/waveform/renderers/allshader/waveformrendererrgb.cpp
Labels: waveform

Don't use private Qt include files.
  src/qml/qmlapplication.cpp
  src/util/desktophelper.cpp
  src/util/performancetimer.h
Labels: none

avoid confusion between visual waveform samples and frames by better naming and use correct range (was double!) for simple, filtered and hsv allshader waveforms
  src/waveform/renderers/allshader/waveformrendererfiltered.cpp
  src/waveform/renderers/allshader/waveformrendererhsv.cpp
  src/waveform/renderers/allshader/waveformrendererlrrgb.cpp
  src/waveform/renderers/allshader/waveformrendererrgb.cpp
  src/waveform/renderers/allshader/waveformrenderersimple.cpp
Labels: waveform

missing include
  src/waveform/renderers/allshader/waveformrendermark.cpp
Labels: waveform

slightly improved hovering detection
  src/waveform/renderers/waveformmark.cpp
  src/waveform/renderers/waveformmark.h
  src/waveform/renderers/waveformmarkset.cpp
  src/waveform/renderers/waveformwidgetrenderer.cpp
Labels: waveform

Fix 500ms blocking of the whole event loop, when holding mouse down on title bar on Windows
  CMakeLists.txt
  src/main.cpp
  src/nativeeventhandlerwin.cpp
  src/nativeeventhandlerwin.h
Labels: build

some cleanup and added comments
  src/waveform/renderers/allshader/waveformrendererfiltered.cpp
  src/waveform/renderers/allshader/waveformrendererhsv.cpp
  src/waveform/renderers/allshader/waveformrendererlrrgb.cpp
  src/waveform/renderers/allshader/waveformrendererrgb.cpp
  src/waveform/renderers/allshader/waveformrenderersignalbase.h
  src/waveform/renderers/allshader/waveformrenderersimple.cpp
Labels: waveform

Add missing header to console.cpp
  src/util/console.cpp
Labels: none

Add knee param + fixes
  src/effects/backends/builtin/compressoreffect.cpp
Labels: effects

Add compressor effect
  CMakeLists.txt
  src/effects/backends/builtin/builtinbackend.cpp
  src/effects/backends/builtin/compressoreffect.cpp
  src/effects/backends/builtin/compressoreffect.h
Labels: build, effects

Auto make up fixes
  src/effects/backends/builtin/compressoreffect.cpp
  src/effects/backends/builtin/compressoreffect.h
Labels: effects

Split compressor logic and make up logic
  src/effects/backends/builtin/compressoreffect.cpp
  src/effects/backends/builtin/compressoreffect.h
Labels: effects

Compression refactoring
  src/effects/backends/builtin/compressoreffect.cpp
  src/effects/backends/builtin/compressoreffect.h
Labels: effects

Auto make up refactoring
  src/effects/backends/builtin/compressoreffect.cpp
  src/effects/backends/builtin/compressoreffect.h
Labels: effects

#ifdef the content out instead of CMakeLists.txt solution
  CMakeLists.txt
  src/nativeeventhandlerwin.cpp
  src/nativeeventhandlerwin.h
Labels: build

Move link library comctl32 from Qt dependency section, to general Windows section
  CMakeLists.txt
Labels: build

Added comments
  src/nativeeventhandlerwin.cpp
Labels: none

add library_pch.h and a script to collect all angle bracket headers
  src/library_pch.h
  tools/make_library_pch.py
Labels: none

Use ControlX group for Mode button
  res/controllers/Traktor-Kontrol-Z1-scripts.js
Labels: controllers

Add missing semicolons
  res/controllers/Traktor-Kontrol-Z1-scripts.js
Labels: controllers

Fix undefined variables
  res/controllers/Traktor-Kontrol-Z1-scripts.js
Labels: controllers

Replace print() with console.log()
  res/controllers/Traktor-Kontrol-Z1-scripts.js
Labels: controllers

Add some line breaks
  src/track/beats.h
Labels: none

.github/labeler.yml:

build:
  - default.nix
  - CMakeLists.txt
  - build/**
  - cmake/**

cmake:
  - cmake/**

code quality:
  - src/test/**
  - .clang-format
  - .codespell
  - .eslint*
  - .flake8
  - .pre-commit-config.yaml
  - pyproject.toml

controllers:
  - res/controllers/**

analyzer:
  - src/analyzer/**

broadcast:
  - src/broadcast/**

effects:
  - src/effects/**

engine:
  - src/engine/**

sync:
  - src/engine/sync/**

library:
  - src/library/**

autodj:
  - src/library/autodj/**

browse:
  - src/library/browse/**

itunes:
  - src/library/itunes/**

rekordbox:
  - src/library/rekordbox/**

scanner:
  - src/library/scanner/**

search:
  - src/library/searchquery*

serato:
  - src/library/serato/**

packaging:
  - packaging/**

preferences:
  - src/preferences/**

skins:
  - res/skins/**

soundio:
  - src/soundio/**

soundsource:
  - src/sources/soundsource*

ui:
  - src/**.ui
  - src/dialog/**
  - src/preferences/**
  - src/widget/**

vinylcontrol:
  - src/vinylcontrol/**

waveform:
  - src/waveform/**
