Repository mixxxdj/mixxx, changes with the labels that .github/labeler.yml gives for each.
All labels: build, cmake, code quality, controller backend, controller mappings, analyzer, broadcast, effects, engine, sync, library, autodj, browse, itunes, rekordbox, scanner, search, serato, packaging, preferences, qml, skins, soundio, soundsource, ui, vinylcontrol, waveform

Update src/waveform/renderers/allshader/waveformrenderbeat.cpp
  src/waveform/renderers/allshader/waveformrenderbeat.cpp
Labels: waveform

Update src/waveform/renderers/allshader/waveformrendererfiltered.cpp
  src/waveform/renderers/allshader/waveformrendererfiltered.cpp
Labels: waveform

Update src/waveform/renderers/allshader/waveformrendererhsv.cpp
  src/waveform/renderers/allshader/waveformrendererhsv.cpp
Labels: waveform

Update src/waveform/renderers/allshader/waveformrenderersimple.cpp
  src/waveform/renderers/allshader/waveformrenderersimple.cpp
Labels: waveform

Update src/waveform/renderers/allshader/waveformrendererendoftrack.cpp
  src/waveform/renderers/allshader/waveformrendererendoftrack.cpp
Labels: waveform

float conversion
  src/waveform/renderers/allshader/waveformrendererendoftrack.cpp
Labels: waveform

act on review
  src/waveform/renderers/allshader/digitsrenderer.cpp
Labels: waveform

Update src/waveform/renderers/allshader/waveformrendererslipmode.cpp
  src/waveform/renderers/allshader/waveformrendererslipmode.cpp
Labels: waveform

qstringliteral
  src/waveform/renderers/allshader/waveformrendererslipmode.cpp
Labels: waveform

Fix RUBBERBANDV3 macro in rubberbandwrapper.cpp
  src/engine/bufferscalers/rubberbandwrapper.cpp
Labels: engine

Use more parented_ptr
  src/widget/wtrackmenu.cpp
  src/widget/wtrackmenu.h
Labels: ui

Use parented_ptr for menus
  src/widget/wtrackmenu.cpp
  src/widget/wtrackmenu.h
Labels: ui

Use parented_ptr for actions
  src/widget/wtrackmenu.cpp
  src/widget/wtrackmenu.h
Labels: ui

Use parented_ptr in del dialogs to fix memory leaks
  src/widget/wtrackmenu.cpp
Labels: ui

fix(midi-components): revert deepMerge to avoid TypeError
  res/controllers/midi-components-0.0.js
Labels: controller mappings

Set qt6_policy(SET QTP0004 OLD)
  CMakeLists.txt
Labels: build

Pref Effects: left/right key in effect lists trigger hide/unhide
  src/preferences/dialog/dlgprefeffects.cpp
  src/preferences/dialog/dlgprefeffects.h
Labels: preferences, ui

fix: don't try to deepMerge read-only properties
  res/controllers/common-controller-scripts.js
Labels: controller mappings

fixup! fix: don't try to deepMerge read-only properties
  res/controllers/common-controller-scripts.js
Labels: controller mappings

AnnePro2: add new mapping
  res/controllers/Obinslab-AnnePro2-scripts.js
  res/controllers/Obinslab-AnnePro2.hid.xml
Labels: controller mappings

ReviewSolutions01
  src/engine/enginebuffer.cpp
  src/mixer/basetrackplayer.cpp
  src/mixxxmainwindow.cpp
  src/osc/oscfunctions.h
  src/osc/oscreceiver.cpp
  src/osc/oscreceiver.h
Labels: engine

ReviewSolutions02
  src/engine/enginebuffer.cpp
Labels: engine

ReviewSolutions03
  src/mixer/basetrackplayer.cpp
Labels: none

wait for the portaudio finished callback to avoid sporadic deadlocks
  src/soundio/sounddeviceportaudio.cpp
  src/soundio/sounddeviceportaudio.h
Labels: soundio

Use QModernWindowsStylePlugin for Qt >= 6.7
  CMakeLists.txt
  src/mixxxapplication.cpp
Labels: build

Update Translation template. Found 3117 source text(s) (2 new and 3115 already existing)
  res/translations/mixxx.ts
Labels: none

Update src/waveform/renderers/allshader/waveformrendererpreroll.cpp
  src/waveform/renderers/allshader/waveformrendererpreroll.cpp
Labels: waveform

Update src/waveform/renderers/waveformwidgetrenderer.cpp
  src/waveform/renderers/waveformwidgetrenderer.cpp
Labels: waveform

Update src/waveform/renderers/waveformwidgetrenderer.cpp
  src/waveform/renderers/waveformwidgetrenderer.cpp
Labels: waveform

Update src/waveform/renderers/waveformwidgetrenderer.cpp
  src/waveform/renderers/waveformwidgetrenderer.cpp
Labels: waveform

fix debug build
  src/waveform/renderers/allshader/waveformrendermark.cpp
Labels: waveform

formatting
  src/waveform/renderers/allshader/waveformrendererendoftrack.cpp
Labels: waveform

Update src/waveform/renderers/allshader/waveformrendererrgb.cpp
  src/waveform/renderers/allshader/waveformrendererrgb.cpp
Labels: waveform

Show actual translator file path to track fall back translations
  src/util/translations.h
Labels: none

EscapeJSonArtistTitle
  src/engine/enginebuffer.cpp
  src/osc/oscfunctions.h
Labels: engine

EscapeJSonArtistTitle
  res/linux/org.mixxx.Mixxx.desktop
Labels: none

EscapeJSonArtistTitle
  src/engine/enginebuffer.cpp
  src/mixer/basetrackplayer.cpp
  src/mixxxmainwindow.cpp
  src/osc/oscfunctions.h
  src/osc/oscreceiver.cpp
  src/osc/oscreceiver.h
Labels: engine

EscapeJSonArtistTitle
  src/osc/oscfunctions.h
  src/osc/oscreceiver.cpp
Labels: none

Add a MMutexLockerDebug to trace Multithreading
  src/util/mutex.h
Labels: none

Use MMutexLockerDebug
  src/controllers/midi/midicontroller.cpp
  src/controllers/midi/midicontroller.h
Labels: controller backend

.github/labeler.yml:

build:
  - changed-files:
      - any-glob-to-any-file:
          - default.nix
          - CMakeLists.txt
          - build/**
          - cmake/**

cmake:
  - changed-files:
      - any-glob-to-any-file:
          - cmake/**

code quality:
  - changed-files:
      - any-glob-to-any-file:
          - src/test/**
          - .clang-format
          - .codespell
          - .eslint*
          - .flake8
          - .pre-commit-config.yaml
          - pyproject.toml

controller backend:
  - changed-files:
      - any-glob-to-any-file:
          - src/controllers/**

controller mappings:
  - changed-files:
      - any-glob-to-any-file:
          - res/controllers/**

analyzer:
  - changed-files:
      - any-glob-to-any-file:
          - src/analyzer/**

broadcast:
  - changed-files:
      - any-glob-to-any-file:
          - src/broadcast/**

effects:
  - changed-files:
      - any-glob-to-any-file:
          - src/effects/**

engine:
  - changed-files:
      - any-glob-to-any-file:
          - src/engine/**

sync:
  - changed-files:
      - any-glob-to-any-file:
          - src/engine/sync/**

library:
  - changed-files:
      - any-glob-to-any-file:
          - src/library/**

autodj:
  - changed-files:
      - any-glob-to-any-file:
          - src/library/autodj/**

browse:
  - changed-files:
      - any-glob-to-any-file:
          - src/library/browse/**

itunes:
  - changed-files:
      - any-glob-to-any-file:
          - src/library/itunes/**

rekordbox:
  - changed-files:
      - any-glob-to-any-file:
          - src/library/rekordbox/**

scanner:
  - changed-files:
      - any-glob-to-any-file:
          - src/library/scanner/**

search:
  - changed-files:
      - any-glob-to-any-file:
          - src/library/searchquery*

serato:
  - changed-files:
      - any-glob-to-any-file:
          - src/library/serato/**

packaging:
  - changed-files:
      - any-glob-to-any-file:
          - packaging/**

preferences:
  - changed-files:
      - any-glob-to-any-file:
          - src/preferences/**

qml:
  - changed-files:
      - any-glob-to-any-file:
          - res/qml/**
          - src/qml/**

skins:
  - changed-files:
      - any-glob-to-any-file:
          - res/skins/**

soundio:
  - changed-files:
      - any-glob-to-any-file:
          - src/soundio/**

soundsource:
  - changed-files:
      - any-glob-to-any-file:
          - src/sources/soundsource*

ui:
  - changed-files:
      - any-glob-to-any-file:
          - src/**.ui
          - src/dialog/**
          - src/preferences/**
          - src/widget/**

vinylcontrol:
  - changed-files:
      - any-glob-to-any-file:
          - src/vinylcontrol/**

waveform:
  - changed-files:
      - any-glob-to-any-file:
          - src/waveform/**
