Repository mixxxdj/mixxx, pull requests merged in 2018-02, with the labels that each got.

#1479 lp1742617: Don't import/read custom comment tags
  src/test/id3-test-data/TOAL_TPE2.mp3
  src/test/soundproxy_test.cpp
  src/track/trackmetadatataglib.cpp
  src/track/trackmetadatataglib.h
Labels: library, minor bug

#1492 lp1744550: Fix use-after-free (and more serious issues) in GlobalTrackCache
  src/encoder/encoderffmpegcore.cpp
  src/library/autodj/autodjfeature.cpp
  src/library/basetrackcache.cpp
  src/library/basetrackcache.h
  src/library/browse/browsetablemodel.cpp
  src/library/browse/browsethread.cpp
  src/library/coverartutils.cpp
  src/library/coverartutils.h
  src/library/crate/cratefeature.cpp
  src/library/dao/trackdao.cpp
  src/library/dao/trackdao.h
  src/library/dlgtagfetcher.cpp
  src/library/dlgtrackinfo.cpp
  src/library/library.cpp
  src/library/library.h
  src/library/trackcollection.cpp
  src/library/trackcollection.h
  src/mixxx.cpp
  src/sources/soundsourceproxy.cpp
  src/sources/soundsourceproxy.h
  src/test/autodjprocessor_test.cpp
  src/test/coverartcache_test.cpp
  src/test/coverartutils_test.cpp
  src/test/dbidtest.cpp
  src/test/globaltrackcache_test.cpp
  src/test/librarytest.h
  src/track/globaltrackcache.cpp
  src/track/globaltrackcache.h
  src/track/track.cpp
  src/track/track.h
  src/util/db/dbid.h
  src/widget/wtracktableview.cpp
Labels: critical bug, library

#1500 Deere skin: Add most missing tooltips in attempt to fix https://bugs.…
  res/skins/Deere/deck_overview_row.xml
  res/skins/Deere/deck_visual_row.xml
  res/skins/Deere/icon/ic_settings_48px.svg
  res/skins/Deere/image/marker_hotcue_1.png
  res/skins/Deere/image/marker_hotcue_2.png
  res/skins/Deere/image/marker_hotcue_3.png
  res/skins/Deere/image/marker_hotcue_4.png
  res/skins/Deere/microphone_rack.xml
  res/skins/Deere/sampler_controls_row.xml
  res/skins/Deere/skin_settings.xml
  res/skins/Deere/tool_bar.xml
  res/skins/Tango/skin_settings.xml
  res/skins/Tango/topbar.xml
  src/library/browse/browsefeature.cpp
  src/library/crate/cratefeature.cpp
  src/library/playlistfeature.cpp
  src/skin/tooltips.cpp
Labels: skins
