Repository mixxxdj/mixxx, pull requests merged in 2018-03, with the labels that each got.

#1501 color schema style
  src/skin/colorschemeparser.cpp
  src/skin/colorschemeparser.h
  src/skin/legacyskinparser.cpp
  src/skin/legacyskinparser.h
  src/skin/skincontext.h
Labels: skins

#1536 GlobalTrackCache SIGSEGV: Improve 2-phase deletion of cached track objects
  src/track/globaltrackcache.cpp
  src/track/globaltrackcache.h
Labels: critical bug

#1539 2phase deletion with Functor
  src/library/library.cpp
  src/library/library.h
  src/test/globaltrackcache_test.cpp
  src/test/librarytest.h
  src/track/globaltrackcache.cpp
  src/track/globaltrackcache.h
Labels: major bug

#1538 A&H Xone K2/K1 mappings for decks + effects
  res/controllers/Xone K2.midi.xml
  res/controllers/Xone-K2-scripts.js
  res/controllers/midi-components-0.0.js
Labels: controllers

#1534 American Audio VMS2 & VMS4/4.1: unmap volume faders
  res/controllers/American Audio VMS2.midi.xml
  res/controllers/American Audio VMS4.midi.xml
Labels: controllers

#1545 allow fractional values for skin scaling
  src/preferences/dialog/dlgprefinterface.cpp
  src/preferences/dialog/dlgprefinterface.h
  src/preferences/dialog/dlgprefinterfacedlg.ui
Labels: ui

#1551 Shade 2.1 :: add Meta knob & fx link inverse button
  res/skins/Shade/btn_link_type/btn_link_type_inverted.png
  res/skins/Shade/btn_link_type/btn_link_type_left.png
  res/skins/Shade/btn_link_type/btn_link_type_left_right.png
  res/skins/Shade/btn_link_type/btn_link_type_linked.png
  res/skins/Shade/btn_link_type/btn_link_type_none.png
  res/skins/Shade/btn_link_type/btn_link_type_right.png
  res/skins/Shade/deck_effect.xml
  res/skins/Shade/deck_transport.xml
  res/skins/Shade/effect_parameter_knob.xml
  res/skins/Shade/effect_parameters.xml
  res/skins/Shade/effect_selector_button.xml
  res/skins/Shade/effectrow.xml
  res/skins/Shade/effectslotsmall.xml
  res/skins/Shade/effectunit_parameters.xml
  res/skins/Shade/effectunitsmall.xml
  res/skins/Shade/knob_crossfader.png
  res/skins/Shade/looping.xml
  res/skins/Shade/mixer_panel.xml
  res/skins/Shade/skin.xml
  res/skins/Shade/slider_crossfader.png
Labels: skins

#1555 Tango: fix cut-off text in WEffectSelector
  res/skins/Tango/style.qss
Labels: skins

#1540 Numark MixTrack (Pro) II mapping for Mixxx 2.1
  res/controllers/Numark Mixtrack 2.midi.xml
  res/controllers/Numark-Mixtrack-2-scripts.js
Labels: controllers

#1552 highlighting of crates in track context menu
  src/widget/wtracktableview.cpp
Labels: ui

#1559 Hercules P32: add option to toggle effect units with decks
  res/controllers/Hercules-P32-scripts.js
Labels: controllers

#1490 Reloop TerminalMix 2/4 :: mapping update
  res/controllers/Reloop Terminal Mix 2-4.js
  res/controllers/Reloop Terminal Mix 2-4.midi.xml
Labels: controllers
