Repository mixxxdj/mixxx, pull requests merged in 2018-04, with the labels that each got.

#1517 reimplement parameters reflecting metaknob when switching effects
  src/effects/effectslot.cpp
Labels: effects

#1572 Try to fix Lp1760170 (Shade crash)
  src/skin/pixmapsource.cpp
  src/skin/skincontext.h
  src/widget/wimagestore.cpp
  src/widget/wimagestore.h
  src/widget/wspinny.cpp
  src/widget/wspinny.h
Labels: major bug

#1573 Revert to raster level meters in LateNight and Tango to fix severe GUI lag on macOS
  res/skins/LateNight/mixer.xml
  res/skins/LateNight/mixer_channel_4decks.xml
  res/skins/LateNight/mixer_channel_left.xml
  res/skins/LateNight/mixer_channel_right.xml
  res/skins/LateNight/mixer_master_headphone.xml
  res/skins/LateNight/preview_deck.xml
  res/skins/LateNight/sampler.xml
  res/skins/LateNight/style/clipping_deck.png
  res/skins/LateNight/style/clipping_deck_over.png
  res/skins/LateNight/style/clipping_micAux_over.png
  res/skins/LateNight/style/clipping_previewdeck.png
  res/skins/LateNight/style/clipping_previewdeck_over.png
  res/skins/LateNight/style/latency_bg.png
  res/skins/LateNight/style/latency_over.png
  res/skins/LateNight/style/volume_display_deck.png
  res/skins/LateNight/style/volume_display_deck_over.png
  res/skins/LateNight/style/volume_display_micAux.png
  res/skins/LateNight/style/volume_display_micAux_over.png
  res/skins/LateNight/style/volume_display_previewdeck.png
  res/skins/LateNight/style/volume_display_previewdeck_over.png
  res/skins/LateNight/style/volume_display_sampler.png
  res/skins/LateNight/style/volume_display_sampler_over.png
  res/skins/Tango/graphics/vumeter_floating.png
  res/skins/Tango/graphics/vumeter_floating_clipping.png
  res/skins/Tango/graphics/vumeter_floating_clipping_over.png
  res/skins/Tango/graphics/vumeter_floating_over.png
  res/skins/Tango/graphics/vumeter_mini.png
  res/skins/Tango/graphics/vumeter_mini_clipping.png
  res/skins/Tango/graphics/vumeter_mini_clipping_over.png
  res/skins/Tango/graphics/vumeter_mini_over.png
  res/skins/Tango/graphics/vumeter_mixer.png
  res/skins/Tango/graphics/vumeter_mixer_clipping.png
  res/skins/Tango/graphics/vumeter_mixer_clipping_over.png
  res/skins/Tango/graphics/vumeter_mixer_over.png
  res/skins/Tango/vumeter_floating.xml
  res/skins/Tango/vumeter_master.xml
  res/skins/Tango/vumeter_mini.xml
  res/skins/Tango/vumeter_mixer.xml
Labels: major bug

#1583 Shimmering Fix
  src/waveform/renderers/glwaveformrendererfilteredsignal.cpp
  src/waveform/renderers/glwaveformrendererrgb.cpp
  src/waveform/renderers/glwaveformrenderersimplesignal.cpp
Labels: minor bug

#1509 Feature/korg kaoss dj
  res/controllers/Korg-KAOSS-DJ-scripts.js
  res/controllers/Korg-KAOSS-DJ.midi.xml
  src/controllers/midi/portmidienumerator.cpp
Labels: controllers

#1584 Traktor Kontrol S4 Mappings more updates
  res/controllers/Traktor Kontrol S4 MK2.hid.xml
  res/controllers/Traktor-Kontrol-S4-MK2-hid-scripts.js
Labels: controllers

#1554 Allen & Heath Xone K2/K1 mapping part 2
  res/controllers/Allen and Heath Xone K2.midi.xml
  res/controllers/Allen-and-Heath-Xone-K2-scripts.js
  res/controllers/midi-components-0.0.js
Labels: controllers

#1582 Fix effect selector text getting cut off on Retina Macs
  res/skins/Deere/style.qss
  res/skins/LateNight/style.qss
  res/skins/Shade/style.qss
Labels: skins

#1625 lp1765210 Fidlib: Thread-safe and reentrant generation of filters
  build/depends.py
  lib/fidlib/CHANGELOG
  lib/fidlib/COPYING
  lib/fidlib/COPYING_LIB
  lib/fidlib/fidlib.c
  lib/fidlib/fidlib.h
  lib/fidlib/fidmkf.h
  lib/fidlib/fidrf_cmdlist.h
  lib/fidlib/fidrf_combined.h
  lib/fidlib/fidrf_jit.h
Labels: critical bug

#1630 lp1510068: Fix crash when removing a quick link
  src/library/browse/browsefeature.cpp
Labels: critical bug

#1639 lp1766094: Fix clearing of ReplayGain gain/ratio in file tags
  src/track/trackmetadatataglib.cpp
Labels: minor bug

#1650 lp1767068: Fix memory leak when loading cover art
  src/library/coverartcache.cpp
Labels: major bug

#1645 lp1766360: Fix integration of external track libraries
  src/library/baseexternalplaylistmodel.cpp
  src/library/baseexternaltrackmodel.cpp
  src/library/baseexternaltrackmodel.h
  src/library/dao/trackdao.cpp
  src/library/dao/trackdao.h
Labels: major bug

#1636 lp1766042: Fix FLAC decoding (-6 dB) and upgrade DB schema
  plugins/soundsourcewv/soundsourcewv.cpp
  res/schema.xml
  src/database/mixxxdb.cpp
  src/dialog/dlgabout.cpp
  src/sources/soundsourceflac.cpp
Labels: major bug
