Repository mixxxdj/mixxx, pull requests merged in 2018-07, with the labels that each got.

#1731 Support IRC, AIM, ICQ in shoutcast broadcasts
  src/engine/sidechain/shoutconnection.cpp
  src/preferences/broadcastprofile.cpp
  src/preferences/broadcastprofile.h
  src/preferences/dialog/dlgprefbroadcast.cpp
  src/preferences/dialog/dlgprefbroadcastdlg.ui
Labels: broadcasting

#1736 32 Sampler fix
  scripts/generate_sample_functions.py
  src/engine/channelmixer_autogen.cpp
Labels: major bug

#1388 On untagged queries use query for crate names.
  src/library/basetrackcache.cpp
  src/library/searchqueryparser.cpp
  src/library/searchqueryparser.h
  src/test/searchqueryparsertest.cpp
Labels: library

#1715 Hotcue Quantize fix
  src/engine/cuecontrol.cpp
  src/engine/cuecontrol.h
  src/engine/enginebuffer.cpp
  src/engine/enginebuffer.h
  src/test/enginesynctest.cpp
Labels: engine, major bug
