Repository mixxxdj/mixxx, pull requests merged in 2019-10, with the labels that each got.

#2253 improve detection of sound hardware from configuration
  src/mixxxapplication.cpp
  src/preferences/dialog/dlgprefsound.cpp
  src/preferences/dialog/dlgprefsounditem.cpp
  src/preferences/dialog/dlgprefsounditem.h
  src/soundio/sounddevice.cpp
  src/soundio/sounddevice.h
  src/soundio/sounddevicenetwork.cpp
  src/soundio/sounddevicenotfound.h
  src/soundio/sounddeviceportaudio.cpp
  src/soundio/sounddeviceportaudio.h
  src/soundio/soundmanager.cpp
  src/soundio/soundmanagerconfig.cpp
  src/soundio/soundmanagerconfig.h
  src/soundio/soundmanagerutil.h
Labels: devices

#2252 Analysis: Adjust audio stream length/range if inaccurate or on errors
  src/analyzer/analyzerthread.cpp
  src/analyzer/analyzerthread.h
  src/analyzer/constants.h
  src/analyzer/plugins/analyzersoundtouchbeats.cpp
  src/engine/cachingreader/cachingreaderchunk.cpp
  src/engine/cachingreader/cachingreaderworker.cpp
  src/engine/cachingreader/cachingreaderworker.h
  src/sources/audiosource.cpp
  src/sources/audiosource.h
  src/sources/audiosourcestereoproxy.cpp
  src/sources/audiosourcestereoproxy.h
  src/sources/audiosourcetrackproxy.h
Labels: minor bug, sources

#2315 Recover from FLAC decoding errors
  src/engine/cachingreaderchunk.cpp
  src/sources/soundsourceflac.cpp
Labels: minor bug, sources

#2328 lp1848887: Fix parsing of AcoustID response
  src/musicbrainz/acoustidclient.cpp
  src/musicbrainz/acoustidclient.h
Labels: library, major bug

#2238 add hotcue text labels, position, and right click menu to overview waveform
  build/depends.py
  res/skins/Deere/deck_small.xml
  res/skins/Deere/decks_small.xml
  res/skins/Deere/preview_deck.xml
  res/skins/Deere/sampler_controls_row.xml
  res/skins/Deere/style.qss
  res/skins/LateNight/deck_small.xml
  res/skins/LateNight/preview_deck.xml
  res/skins/LateNight/sampler.xml
  res/skins/LateNight/style.qss
  res/skins/Shade/auxiliary.xml
  res/skins/Shade/deck.xml
  res/skins/Shade/deck_cues.xml
  res/skins/Shade/deck_effect.xml
  res/skins/Shade/deck_overview.xml
  res/skins/Shade/deck_small.xml
  res/skins/Shade/deck_transport.xml
  res/skins/Shade/ducking.xml
  res/skins/Shade/effect_parameters.xml
  res/skins/Shade/effectrow.xml
  res/skins/Shade/effectunit_border.xml
  res/skins/Shade/effectunit_parameters.xml
  res/skins/Shade/effectunitsmall.xml
  res/skins/Shade/looping.xml
  res/skins/Shade/microphone.xml
  res/skins/Shade/mixer_panel.xml
  res/skins/Shade/preview_deck.xml
  res/skins/Shade/sampler.xml
  res/skins/Shade/samplerrow.xml
  res/skins/Shade/samplersmall.xml
  res/skins/Shade/skin.xml
  res/skins/Shade/srcfx.xml
  res/skins/Shade/srcmicrophoneaux.xml
  res/skins/Shade/srcrow.xml
  res/skins/Shade/style.qss
  res/skins/Shade/style/style_bg_deck_small.png
  res/skins/Shade/vinylcontrol.xml
  res/skins/Shade/waveform.xml
  res/skins/Tango/deck_overview.xml
  res/skins/Tango/preview_deck.xml
  res/skins/Tango/sampler.xml
  res/skins/Tango/style.qss
  src/skin/tooltips.cpp
  src/track/cue.h
  src/waveform/renderers/waveformmark.cpp
  src/waveform/renderers/waveformmark.h
  src/waveform/renderers/waveformmarkproperties.cpp
  src/waveform/renderers/waveformmarkproperties.h
  src/waveform/renderers/waveformmarkrange.h
  src/waveform/renderers/waveformmarkset.h
  src/waveform/renderers/waveformrendermark.cpp
  src/waveform/renderers/waveformrendermark.h
  src/waveform/waveformmarklabel.cpp
  src/waveform/waveformmarklabel.h
  src/widget/colormenu.cpp
  src/widget/colormenu.h
  src/widget/cuemenu.cpp
  src/widget/cuemenu.h
  src/widget/woverview.cpp
  src/widget/woverview.h
Labels: ui

#2321 lp1846971: Fix database inconsistencies caused by LibraryScanner
  src/library/scanner/libraryscanner.cpp
Labels: library, major bug

#2237 Fix the track order during drag and drop Lp1829601
  src/library/analysisfeature.cpp
  src/library/autodj/autodjfeature.cpp
  src/library/crate/cratefeature.cpp
  src/library/crate/cratetablemodel.cpp
  src/library/dao/trackdao.cpp
  src/library/dao/trackdao.h
  src/library/librarytablemodel.cpp
  src/library/mixxxlibraryfeature.cpp
  src/library/playlistfeature.cpp
  src/library/playlisttablemodel.cpp
  src/library/trackcollection.cpp
  src/library/trackcollection.h
Labels: library, major bug

#2335 FFmpeg: Reject files with unknown/unlimited duration
  src/sources/soundsourceffmpeg.cpp
Labels: minor bug
