Repository mixxxdj/mixxx, pull requests merged in 2019-06, with the labels that each got.

#2145 Skip AnalyzerSilence if intro/outro cues exist
  src/analyzer/analyzersilence.cpp
  src/analyzer/analyzersilence.h
Labels: minor bug

#2148 Fix analyzer framework
  src/analyzer/analyzer.h
  src/analyzer/analyzerbeats.cpp
  src/analyzer/analyzerbeats.h
  src/analyzer/analyzerebur128.cpp
  src/analyzer/analyzerebur128.h
  src/analyzer/analyzergain.cpp
  src/analyzer/analyzergain.h
  src/analyzer/analyzerkey.cpp
  src/analyzer/analyzerkey.h
  src/analyzer/analyzersilence.cpp
  src/analyzer/analyzersilence.h
  src/analyzer/analyzerthread.cpp
  src/analyzer/analyzerthread.h
  src/analyzer/analyzerwaveform.cpp
  src/analyzer/analyzerwaveform.h
  src/analyzer/plugins/analyzerplugin.h
  src/analyzer/plugins/analyzerqueenmarybeats.cpp
  src/analyzer/plugins/analyzerqueenmarybeats.h
  src/analyzer/plugins/analyzerqueenmarykey.cpp
  src/analyzer/plugins/analyzerqueenmarykey.h
  src/analyzer/plugins/analyzersoundtouchbeats.cpp
  src/analyzer/plugins/analyzersoundtouchbeats.h
  src/test/analyserwaveformtest.cpp
  src/test/analyzersilence_test.cpp
Labels: major bug

#2157 Handle and ignore invalid bpm values in MP3 files
  src/track/trackmetadatataglib.cpp
Labels: critical bug

#2164 Fix potential segfault on exit
  src/track/globaltrackcache.cpp
Labels: major bug

#2158 Default settings: Store broadcast credentials as plain text
  src/preferences/broadcastprofile.cpp
Labels: minor bug

#2184 Fix overview mark opacity
  src/widget/woverview.cpp
Labels: minor bug
