Repository mixxxdj/mixxx, pull requests merged in 2019-09, with the labels that each got.

#2279 Fix path in bulk feature
  build/features.py
Labels: minor bug

#1356 Universal SoundSource for FFmpeg 4.x
  SConstruct
  appveyor.yml
  build/features.py
  src/sources/soundsourceffmpeg.cpp
  src/sources/soundsourceffmpeg.h
  src/sources/soundsourceopus.cpp
  src/sources/soundsourceopus.h
  src/sources/soundsourceproxy.cpp
  src/test/coverartutils_test.cpp
  src/test/id3-test-data/cover-test-itunes-12.3.0-aac.m4a
  src/test/id3-test-data/cover-test-itunes-12.7.0-aac.m4a
  src/test/id3-test-data/cover-test-itunes-12.7.0-alac.m4a
  src/test/id3-test-data/cover-test-vbr.mp3
  src/test/id3-test-data/cover-test.wma
  src/test/soundproxy_test.cpp
  src/test/trackexport_test.cpp
Labels: sources

#2245 skins :: improve styling of the search box' Clear button
  res/skins/Deere/icon/ic_lib_clear_search.svg
  res/skins/Deere/icon/ic_lib_clear_search_focus.svg
  res/skins/Deere/style.qss
  res/skins/LateNight/buttons/btn_lib_clear_search.svg
  res/skins/LateNight/buttons/btn_lib_clear_search_focus.svg
  res/skins/LateNight/style.qss
  res/skins/Shade/btn/btn_lib_clear_search.svg
  res/skins/Shade/btn/btn_lib_clear_search_focus.svg
  res/skins/Shade/btn/btn_lib_clear_search_focus_green.svg
  res/skins/Shade/skin.xml
  res/skins/Shade/style.qss
  res/skins/Shade/style_dark.qss
  res/skins/Shade/style_mac.qss
  res/skins/Shade/style_summer_sunset.qss
  res/skins/Tango/buttons/btn_lib_clear_search.svg
  res/skins/Tango/buttons/btn_lib_clear_search_focus.svg
  res/skins/Tango/style.qss
  src/widget/wsearchlineedit.cpp
Labels: minor bug, skins

#2265 lp1842679: Fix caching of audio data
  src/engine/cachingreader.cpp
  src/engine/cachingreader.h
  src/engine/cachingreaderchunk.cpp
  src/engine/cachingreaderchunk.h
  src/engine/cachingreaderworker.cpp
  src/engine/cachingreaderworker.h
  src/util/fifo.h
Labels: critical bug

#2301 Fix export of extra metadata
  src/track/trackmetadatataglib.cpp
Labels: minor bug

#2303 Fix reset of ReplayGain peak
  src/test/replaygaintest.cpp
  src/track/replaygain.h
Labels: minor bug

#2242 Only highlight crates/playlists when a single track is selected
  src/widget/wtracktableview.cpp
Labels: library, minor bug

#2305 Fix race condition(s) while unloading/loading tracks
  src/engine/cachingreader.cpp
  src/engine/cachingreader.h
  src/engine/cachingreaderworker.cpp
  src/engine/cachingreaderworker.h
Labels: critical bug
