Repository mixxxdj/mixxx, pull requests merged in 2019-11, with the labels that each got.

#2340 lp1850729: Disable QtWayland in desktop launcher
  build/debian/menu
  build/debian/mixxx.desktop
  res/linux/mixxx.desktop
Labels: critical bug

#2119 Rekordbox removable device library feature
  build/depends.py
  lib/kaitai/LICENSE
  lib/kaitai/custom_decoder.h
  lib/kaitai/kaitaistream.cpp
  lib/kaitai/kaitaistream.h
  lib/kaitai/kaitaistruct.h
  lib/mp3guessenc-0.27.4/COPYING
  lib/mp3guessenc-0.27.4/ChangeLog
  lib/mp3guessenc-0.27.4/DOCS
  lib/mp3guessenc-0.27.4/Makefile
  lib/mp3guessenc-0.27.4/TODO
  lib/mp3guessenc-0.27.4/bit_utils.c
  lib/mp3guessenc-0.27.4/bit_utils.h
  lib/mp3guessenc-0.27.4/decode.c
  lib/mp3guessenc-0.27.4/decode.h
  lib/mp3guessenc-0.27.4/mp3g_io_config.h
  lib/mp3guessenc-0.27.4/mp3guessenc.c
  lib/mp3guessenc-0.27.4/mp3guessenc.h
  lib/mp3guessenc-0.27.4/scrambled.h
  lib/mp3guessenc-0.27.4/tags.c
  lib/mp3guessenc-0.27.4/tags.h
  res/images/library/ic_library_rekordbox.svg
  res/mixxx.qrc
  res/schema.xml
  src/database/mixxxdb.cpp
  src/library/library.cpp
  src/library/rekordbox/rekordbox_anlz.cpp
  src/library/rekordbox/rekordbox_anlz.h
  src/library/rekordbox/rekordbox_pdb.cpp
  src/library/rekordbox/rekordbox_pdb.h
  src/library/rekordbox/rekordboxfeature.cpp
  src/library/rekordbox/rekordboxfeature.h
  src/preferences/dialog/dlgpreflibrary.cpp
  src/preferences/dialog/dlgpreflibrarydlg.ui
Labels: library

#2283 Add battery widget to Shade skin
  res/skins/Shade/graphics/batt/ic_battery_charged.svg
  res/skins/Shade/graphics/batt/ic_battery_charging_0.svg
  res/skins/Shade/graphics/batt/ic_battery_charging_1.svg
  res/skins/Shade/graphics/batt/ic_battery_charging_2.svg
  res/skins/Shade/graphics/batt/ic_battery_charging_3.svg
  res/skins/Shade/graphics/batt/ic_battery_charging_4.svg
  res/skins/Shade/graphics/batt/ic_battery_charging_5.svg
  res/skins/Shade/graphics/batt/ic_battery_charging_6.svg
  res/skins/Shade/graphics/batt/ic_battery_charging_7.svg
  res/skins/Shade/graphics/batt/ic_battery_discharging_0.svg
  res/skins/Shade/graphics/batt/ic_battery_discharging_1.svg
  res/skins/Shade/graphics/batt/ic_battery_discharging_2.svg
  res/skins/Shade/graphics/batt/ic_battery_discharging_3.svg
  res/skins/Shade/graphics/batt/ic_battery_discharging_4.svg
  res/skins/Shade/graphics/batt/ic_battery_discharging_5.svg
  res/skins/Shade/graphics/batt/ic_battery_discharging_6.svg
  res/skins/Shade/graphics/batt/ic_battery_discharging_7.svg
  res/skins/Shade/mixer_panel.xml
Labels: skins

#2281 add battery_charging to latenight
  res/skins/LateNight/graphics/batt/ic_battery_charged.svg
  res/skins/LateNight/graphics/batt/ic_battery_charging_0.svg
  res/skins/LateNight/graphics/batt/ic_battery_charging_1.svg
  res/skins/LateNight/graphics/batt/ic_battery_charging_2.svg
  res/skins/LateNight/graphics/batt/ic_battery_charging_3.svg
  res/skins/LateNight/graphics/batt/ic_battery_charging_4.svg
  res/skins/LateNight/graphics/batt/ic_battery_charging_5.svg
  res/skins/LateNight/graphics/batt/ic_battery_charging_6.svg
  res/skins/LateNight/graphics/batt/ic_battery_charging_7.svg
  res/skins/LateNight/graphics/batt/ic_battery_discharging_0.svg
  res/skins/LateNight/graphics/batt/ic_battery_discharging_1.svg
  res/skins/LateNight/graphics/batt/ic_battery_discharging_2.svg
  res/skins/LateNight/graphics/batt/ic_battery_discharging_3.svg
  res/skins/LateNight/graphics/batt/ic_battery_discharging_4.svg
  res/skins/LateNight/graphics/batt/ic_battery_discharging_5.svg
  res/skins/LateNight/graphics/batt/ic_battery_discharging_6.svg
  res/skins/LateNight/graphics/batt/ic_battery_discharging_7.svg
  res/skins/LateNight/graphics/batt/ic_battery_unknown.svg
  res/skins/LateNight/toolbar.xml
Labels: skins

#2307 keep the library focused when any deck controls or the overview are clicked
  src/widget/weffectparameterknob.cpp
  src/widget/weffectparameterknobcomposed.cpp
  src/widget/weffectpushbutton.cpp
  src/widget/wknob.cpp
  src/widget/wknobcomposed.cpp
  src/widget/woverview.cpp
  src/widget/wpushbutton.cpp
  src/widget/wslidercomposed.cpp
  src/widget/wstarrating.cpp
  src/widget/wstatuslight.cpp
  src/widget/wvumeter.cpp
Labels: ui

#2179 Fix deadlock when hid_read and hid_write are called at the same time
  src/controllers/hid/hidcontroller.cpp
  src/controllers/hid/hidcontroller.h
Labels: controllers

#2371 Fix crackling on startup, fixing lp1853782
  src/soundio/sounddeviceportaudio.cpp
Labels: major bug
