Repository mixxxdj/mixxx, pull requests merged in 2019-12, with the labels that each got.

#2387 skins/LateNight: Remove unused WText declaration from style.qss
  res/skins/LateNight/style.qss
Labels: minor bug, skins

#2373 allow longpress temporary toggle also for OFF state of POWERWINDOW mode
  src/widget/wpushbutton.cpp
Labels: ui

#2235 fix assertion in Lp1839669
  src/engine/enginebuffer.cpp
  src/test/durationutiltest.cpp
  src/util/duration.cpp
Labels: engine, minor bug

#2375 Add qsscheck to CI pipeline and improve .travis.yml config
  .travis.yml
  scripts/qsscheck.py
Labels: build

#2383 Library AutoDJ cleanup
  src/library/baseexternallibraryfeature.cpp
  src/library/baseexternallibraryfeature.h
  src/library/baseplaylistfeature.cpp
  src/library/baseplaylistfeature.h
  src/library/dao/playlistdao.cpp
  src/library/dao/playlistdao.h
  src/library/dlganalysis.cpp
  src/library/dlganalysis.h
  src/library/librarycontrol.cpp
  src/library/libraryview.h
  src/library/playlistfeature.cpp
  src/library/recording/dlgrecording.cpp
  src/library/recording/dlgrecording.h
  src/widget/wtracktableview.cpp
  src/widget/wtracktableview.h
Labels: autodj, library

#2396 Fix Travis CI build for macOS
  .travis.yml
Labels: build

#2382 skin/legacyskinparser: Move some inline style hacks to default.qss
  res/skins/default.qss
  src/skin/legacyskinparser.cpp
Labels: skins

#2391 scripts/qsscheck: Also check default stylesheets
  scripts/qsscheck.py
Labels: build

#2348 Native Instruments Traktor Kontrol S2 MK3 mapping
  res/controllers/Traktor Kontrol S2 MK3.hid.xml
  res/controllers/Traktor-Kontrol-S2-MK3-hid-scripts.js
Labels: controllers

#2401 Don't hide tracks when adding to crates
  src/widget/wtracktableview.cpp
Labels: library, major bug

#2397 Refactor loading of tracks from database
  src/library/dao/trackdao.cpp
  src/library/dao/trackdao.h
  src/library/trackcollection.cpp
  src/library/trackcollection.h
  src/track/trackref.h
  src/util/dnd.cpp
  src/util/dnd.h
  src/widget/wlibrarysidebar.cpp
  src/widget/wtracktableview.cpp
Labels: library

#2402 allow pre-roll intro and fix assertion
  src/library/autodj/autodjprocessor.cpp
Labels: major bug

#2381 Move possible stalling DB access to the very end
  src/library/autodj/autodjprocessor.cpp
Labels: autodj, minor bug

#2392 Add CMake to Travis CI config
  .travis.yml
  src/test/globaltrackcache_test.cpp
Labels: build

#2410 CMake: Set cmake_minimum_required version to 3.13.0
  .travis.yml
  CMakeLists.txt
Labels: build

#2417 Prevent infinite loop when decoding corrupt MP3 files
  CHANGELOG
  src/sources/soundsourcemp3.cpp
Labels: critical bug
