Repository mixxxdj/mixxx, pull requests merged in 2020-08, with the labels that each got.

#2951 Autodj test debug assert
  src/library/autodj/autodjprocessor.cpp
  src/test/autodjprocessor_test.cpp
Labels: code quality, minor bug

#2985 Removed mixxx.links
  CHANGELOG
  build/debian/mixxx.links
Labels: minor bug

#2992 Fix missing nullptr check.
  src/engine/sync/enginesync.h
  src/mixer/basetrackplayer.cpp
Labels: critical bug

#2988 mixer/playerinfo: Make implicit PlayerInfo creation explicit
  src/mixer/playerinfo.cpp
  src/mixer/playerinfo.h
  src/mixxx.cpp
  src/test/autodjprocessor_test.cpp
  src/test/signalpathtest.h
Labels: code quality, minor bug

#2991 DlgTrackInfo improvements
  src/library/dlgtrackinfo.cpp
  src/library/dlgtrackinfo.h
  src/library/dlgtrackinfo.ui
  src/widget/wstarrating.cpp
Labels: ui

#2976 test: Use tempdir for broadcast profiles
  src/test/broadcastprofile_test.cpp
Labels: code quality

#2981 tools: Refactor python clang-format wrapping
  .pre-commit-config.yaml
  tools/clang_format.py
  tools/clang_format_wrapper.py
  tools/githelper.py
  tools/line_length.py
Labels: code quality

#2998 DlgTrackInfo improvements pt.II
  src/library/dlgtrackinfo.ui
Labels: ui

#2983 test: Fix failing ControllerEngineTests on AMD Ryzen 4800U
  src/test/controllerengine_test.cpp
Labels: code quality

#3004 AppVeyor: Check if requirements for codesigning are met
  appveyor.yml
Labels: build, code quality

#3005 lp1889947: Don't log warnings if metadata export is not supported
  src/sources/metadatasourcetaglib.cpp
  src/track/track.cpp
Labels: minor bug

#2990 double-click WTrackProperty to open DlgTrackInfo
  src/widget/wtrackmenu.h
  src/widget/wtrackproperty.cpp
  src/widget/wtrackproperty.h
  src/widget/wtracktext.cpp
  src/widget/wtracktext.h
Labels: ui

#2911 test: Break if DEBUG_ASSERT is encountered
  .travis.yml
  CMakeLists.txt
  build/depends.py
  src/library/dao/autodjcratesdao.cpp
  src/test/mixxxtest.cpp
  src/util/assert.h
  src/util/cmdlineargs.h
  src/util/logging.cpp
  src/util/logging.h
Labels: code quality

#3010 CMake: Increase CTest timeout
  .travis.yml
  CMakeLists.txt
  appveyor.yml
Labels: build

#3006 Ignore log messages for disabled log levels
  src/util/logging.cpp
Labels: minor bug

#2726 Allen & Heath Xone K2 QuickEffect and sync changes
  res/controllers/Allen-and-Heath-Xone-K2-scripts.js
Labels: controllers

#3014 tools: Reset start line number after group of lines has been found
  tools/clang_format.py
  tools/githelper.py
Labels: code quality, major bug

#3017 lp1890116: Fix import of external playlists
  src/library/baseexternalplaylistmodel.cpp
Labels: library, major bug, needs review

#3019 Serato markers improvements
  src/test/serato/data/flac/markers2/hocues-and-loops.octet-stream
  src/test/seratomarkers2test.cpp
  src/track/serato/markers.cpp
  src/track/serato/markers.h
  src/track/serato/markers2.cpp
  src/track/serato/markers2.h
Labels: code quality

#3015 Replace ConfigKey::isEmpty()/isNull() with Configkey::isValid()
  src/control/control.cpp
  src/control/control.h
  src/control/controlobject.cpp
  src/control/controlproxy.cpp
  src/controllers/controllerengine.cpp
  src/controllers/dlgcontrollerlearning.cpp
  src/dialog/dlgdevelopertools.cpp
  src/preferences/configobject.h
  src/skin/legacyskinparser.cpp
  src/widget/wwidgetstack.cpp
Labels: code quality

#3020 Fix some clang-tidy warnings
  src/engine/controls/ratecontrol.cpp
  src/engine/enginebuffer.cpp
  src/engine/enginemaster.cpp
  src/library/dao/playlistdao.cpp
  src/test/directorydaotest.cpp
  src/track/track.cpp
Labels: code quality

#3021 Fix touch control for WPushButton
  src/widget/wpushbutton.cpp
Labels: major bug

#2948 midi-components: Fix undefined CO group on EffectUnit initialization
  res/controllers/midi-components-0.0.js
Labels: controllers, minor bug

#2947 ControllerEngine: Add test that invalid CO keys do not cause debug assertion
  src/test/controllerengine_test.cpp
Labels: controllers, minor bug

#3022 Deere: Fix missing group of WKey widget
  res/skins/Deere/deck_small.xml
Labels: skins

#3023 widget/wkey: Do not throw debug assertion if key is invalid
  src/widget/wkey.cpp
Labels: minor bug, skins

#3024 Serato Beatgrid Import: Add additional test and fix wrong string in QDebug output
  src/test/serato/data/mp3/beatgrid/manual-beatgrid-changing-tempo.octet-stream
  src/track/serato/beatgrid.cpp
Labels: code quality, minor bug

#3025 midi-components: Fix `[Channelundefined]` when using Deck with number
  res/controllers/midi-components-0.0.js
Labels: controllers, major bug

#3011 fix fullscreen shortcut issues
  src/widget/wmainmenubar.cpp
Labels: ui

#3028 clang-tidy fixes (part 2)
  src/effects/builtin/graphiceqeffect.cpp
  src/effects/lv2/lv2manifest.cpp
  src/library/basetracktablemodel.cpp
  src/library/coverartutils.cpp
  src/library/itunes/itunesfeature.cpp
  src/library/setlogfeature.cpp
  src/library/setlogfeature.h
  src/library/trackmodel.h
  src/track/serato/beatgrid.cpp
  src/widget/woverview.cpp
Labels: code quality, major bug

#3029 library/trackmodel: Remove invalid debug assertion
  src/library/trackmodel.h
Labels: minor bug

#3030 preferences/dialog/dlgprefcolors: Fix call to virtual method in constructor
  src/preferences/dialog/dlgprefcolors.cpp
  src/preferences/dialog/dlgprefcolors.h
Labels: code quality

#3039 legacyskinparser: accept WCoverArt with empty <Group> in library
  src/skin/legacyskinparser.cpp
Labels: minor bug, skins

#3027 TrackDAO/GlobalTrackCache: Handle file aliasing
  CHANGELOG
  src/library/dao/trackdao.cpp
  src/track/globaltrackcache.cpp
  src/track/globaltrackcache.h
  src/track/trackref.cpp
Labels: library, major bug

#3044 Delete obsolete slots
  src/library/banshee/bansheeplaylistmodel.cpp
  src/library/banshee/bansheeplaylistmodel.h
  src/library/basesqltablemodel.cpp
  src/library/basesqltablemodel.h
Labels: code quality

#3037 Various minor code cleanups + SettingsDAO
  src/database/schemamanager.cpp
  src/database/schemamanager.h
  src/library/browse/browsefeature.cpp
  src/library/dao/analysisdao.cpp
  src/library/dao/analysisdao.h
  src/library/dao/cuedao.h
  src/library/dao/dao.h
  src/library/dao/directorydao.cpp
  src/library/dao/directorydao.h
  src/library/dao/libraryhashdao.h
  src/library/dao/playlistdao.cpp
  src/library/dao/playlistdao.h
  src/library/dao/settingsdao.cpp
  src/library/dao/settingsdao.h
  src/library/dao/trackdao.h
  src/library/library.cpp
  src/library/library.h
  src/library/rekordbox/rekordboxfeature.cpp
  src/library/serato/seratofeature.cpp
  src/mixxxapplication.cpp
  src/mixxxapplication.h
  src/preferences/dialog/dlgpreflibrary.cpp
  src/test/coverartcache_test.cpp
  src/test/coverartutils_test.cpp
  src/test/directorydaotest.cpp
  src/test/librarytest.cpp
  src/test/librarytest.h
  src/test/schemamanager_test.cpp
  src/util/file.cpp
  src/util/file.h
Labels: code quality

#3045 fullscreen keyboard shortcut: on macOS use only the OS shortcut
  src/widget/wmainmenubar.cpp
Labels: ui

#3042 noop lint cleanup of common-hid-packet-parser
  res/controllers/common-hid-packet-parser.js
Labels: code quality

#3046 Build: Enable warning -Woverloaded-virtual
  CMakeLists.txt
  build/depends.py
  src/controllers/bulk/bulkcontroller.cpp
  src/controllers/bulk/bulkcontroller.h
  src/controllers/controller.cpp
  src/controllers/controller.h
  src/controllers/hid/hidcontroller.cpp
  src/controllers/hid/hidcontroller.h
  src/controllers/midi/hss1394controller.cpp
  src/controllers/midi/hss1394controller.h
  src/controllers/midi/portmidicontroller.cpp
  src/controllers/midi/portmidicontroller.h
  src/musicbrainz/crc.c
  src/musicbrainz/crc.cpp
  src/test/controller_preset_validation_test.h
  src/test/midicontrollertest.cpp
Labels: code quality

#2864 Roland DJ-505: Add new "Edit" pad mode
  res/controllers/Roland_DJ-505-scripts.js
Labels: controllers

#3052 Fix invalid forward declarations of Qt types
  src/library/dlghidden.h
  src/library/recording/dlgrecording.cpp
  src/library/recording/dlgrecording.h
  src/library/starrating.cpp
  src/library/starrating.h
  src/skin/launchimage.cpp
  src/skin/launchimage.h
  src/sources/soundsourceoggvorbis.cpp
  src/sources/soundsourceoggvorbis.h
  src/sources/soundsourcewv.h
  src/util/desktophelper.h
  src/waveform/renderers/waveformmarkrange.cpp
  src/waveform/renderers/waveformmarkrange.h
  src/waveform/sharedglcontext.h
  src/waveform/waveformwidgetfactory.cpp
  src/waveform/waveformwidgetfactory.h
  src/widget/wimagestore.h
Labels: code quality

#3058 LateNight: fix cut-off star rating on macOS
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
Labels: skins

#3054 controllers/controllerengine: Disable DEBUG_ASSERT on invalid key
  src/control/control.h
  src/controllers/controllerengine.cpp
  src/widget/wkey.cpp
Labels: controllers, major bug

#3060 pre-commit: Exclude po/pot/ts files from codespell hook
  .pre-commit-config.yaml
Labels: code quality

#3061 pre-commit: Reduce number of codespell false positives
  .pre-commit-config.yaml
Labels: code quality
