Repository mixxxdj/mixxx, pull requests merged in 2020-06, with the labels that each got.

#2792 Valgrind fixes
  src/effects/effectsmanager.cpp
  src/effects/effectsmanager.h
  src/engine/channelhandle.h
  src/engine/enginemaster.cpp
  src/engine/enginemaster.h
  src/engine/sync/synccontrol.cpp
  src/mixxx.cpp
  src/mixxx.h
  src/test/baseeffecttest.h
  src/test/signalpathtest.h
  src/util/battery/batterylinux.cpp
  src/util/duration.cpp
  src/waveform/waveformwidgetfactory.cpp
  src/waveform/waveformwidgetfactory.h
  src/widget/wcolorpicker.cpp
  src/widget/wcolorpicker.h
  src/widget/wnumberpos.cpp
Labels: code quality

#2833 Denon MC6000MK2: Fix infinite recursion
  res/controllers/Denon-MC6000MK2-scripts.js
  res/controllers/Denon-MC6000MK2.midi.xml
Labels: controllers, major bug

#2812 CMake: globalize compiler optimisations flags
  CMakeLists.txt
  lib/libshout/CMakeLists.txt
  src/util/fpclassify.cpp
Labels: build

#2827 shell.nix: Fix check for ./cbuild and add check for ./cbuild/mixxx
  shell.nix
Labels: build

#2837 Tests: Warning clean up
  src/engine/enginemaster.cpp
  src/engine/enginesidechaincompressor.cpp
  src/mixer/auxiliary.h
  src/mixer/baseplayer.cpp
  src/mixer/baseplayer.h
  src/mixer/basetrackplayer.cpp
  src/mixer/basetrackplayer.h
  src/mixer/deck.cpp
  src/mixer/deck.h
  src/mixer/microphone.h
  src/mixer/playerinfo.h
  src/mixer/playermanager.h
  src/mixer/previewdeck.cpp
  src/mixer/previewdeck.h
  src/mixer/sampler.cpp
  src/mixer/sampler.h
  src/mixer/samplerbank.h
  src/test/signalpathtest.h
  src/test/wpushbutton_test.cpp
Labels: code quality

#2822 Fix some Qt 5.15 deprecation warnings
  src/controllers/controllerinputmappingtablemodel.cpp
  src/controllers/controlleroutputmappingtablemodel.cpp
  src/controllers/midi/midicontrollerpreset.cpp
  src/controllers/midi/midicontrollerpreset.h
  src/dialog/dlgreplacecuecolor.cpp
  src/encoder/encoderopus.cpp
  src/engine/cachingreader/cachingreader.cpp
  src/engine/cachingreader/cachingreader.h
  src/engine/effects/engineeffectchain.h
  src/engine/readaheadmanager.cpp
  src/engine/readaheadmanager.h
  src/library/basecoverartdelegate.cpp
  src/library/basecoverartdelegate.h
  src/library/basesqltablemodel.cpp
  src/library/basesqltablemodel.h
  src/library/basetracktablemodel.cpp
  src/library/browse/browsetablemodel.cpp
  src/library/browse/browsetablemodel.h
  src/library/dao/autodjcratesdao.cpp
  src/library/dao/autodjcratesdao.h
  src/library/dao/playlistdao.cpp
  src/library/dlgcoverartfullsize.cpp
  src/library/proxytrackmodel.cpp
  src/library/proxytrackmodel.h
  src/library/scanner/importfilestask.cpp
  src/library/scanner/importfilestask.h
  src/library/scanner/recursivescandirectorytask.cpp
  src/library/scanner/recursivescandirectorytask.h
  src/library/setlogfeature.cpp
  src/library/setlogfeature.h
  src/library/trackmodel.h
  src/library/treeitemmodel.cpp
  src/preferences/configobject.h
  src/skin/legacyskinparser.cpp
  src/soundio/soundmanager.cpp
  src/soundio/soundmanager.h
  src/test/wpushbutton_test.cpp
  src/util/datetime.h
  src/util/movinginterquartilemean.cpp
  src/util/movinginterquartilemean.h
  src/waveform/renderers/waveformmark.cpp
  src/widget/knobeventhandler.h
  src/widget/slidereventhandler.h
  src/widget/wtracktableview.cpp
  src/widget/wtracktableview.h
  src/widget/wwaveformviewer.cpp
  src/widget/wwidget.h
Labels: code quality

#2817 Speed up beat detection for 48 kHz 96 kHz Tracks
  src/analyzer/plugins/analyzerqueenmarybeats.cpp
Labels: build, major bug

#2843 Fix remaining warnings for Qt 5.15
  src/controllers/learningutils.cpp
  src/library/dao/playlistdao.cpp
  src/library/dlgcoverartfullsize.cpp
  src/library/songdownloader.cpp
  src/mixxx.cpp
  src/musicbrainz/web/musicbrainzrecordingstask.cpp
  src/network/jsonwebtask.cpp
  src/preferences/colorpalettesettings.cpp
  src/preferences/dialog/dlgprefcolors.cpp
  src/preferences/dialog/dlgprefcolors.h
  src/waveform/renderers/waveformmark.cpp
  src/widget/wcoverartlabel.cpp
Labels: code quality

#2815 lp1879160: Log warning about cover load failure only once
  src/library/coverart.cpp
  src/library/coverart.h
  src/library/coverartcache.cpp
  src/library/coverartcache.h
  src/test/coverartcache_test.cpp
  src/test/coverartutils_test.cpp
Labels: minor bug, ui

#2811 HidControllerPreset build fixes.
  CMakeLists.txt
  build/features.py
  src/controllers/hid/hidcontrollerpreset.h
Labels: code quality

#2760 change default skin to LateNight
  src/skin/skinloader.cpp
Labels: ui

#2845 Fix Clang 10 warnings
  src/controllers/dlgprefcontrollers.h
  src/library/banshee/bansheeplaylistmodel.h
  src/library/coverartdelegate.h
  src/library/crate/cratetablemodel.h
  src/library/hiddentablemodel.h
  src/library/missingtablemodel.h
  src/library/playlisttablemodel.h
  src/library/trackcollection.cpp
  src/library/trackcollectionmanager.cpp
  src/preferences/dialog/dlgprefrecord.cpp
  src/soundio/soundmanagerutil.h
  src/util/duration.cpp
  src/util/samplebuffer.h
  src/waveform/renderers/waveformrendermark.cpp
Labels: code quality

#2849 Detect thread affinity violations
  src/library/coverartcache.cpp
  src/library/trackcollection.cpp
  src/library/trackcollection.h
  src/library/trackcollectionmanager.cpp
  src/library/trackcollectionmanager.h
  src/musicbrainz/tagfetcher.cpp
  src/musicbrainz/web/musicbrainzrecordingstask.cpp
  src/network/jsonwebtask.cpp
  src/network/webtask.cpp
  src/track/globaltrackcache.cpp
  src/track/globaltrackcache.h
  src/util/thread_affinity.h
Labels: code quality

#2852 lp1882550: Prevent and repair duplicate config values
  src/preferences/configobject.cpp
  src/preferences/configobject.h
Labels: major bug

#2825 SoundManager: Prevent reconfiguring if num_decks unchanged
  src/soundio/soundmanager.cpp
Labels: devices

#2854 Enable secure credential storing
  CMakeLists.txt
  build/features.py
Labels: build

#2853 Master Sync: Fix phase seeks double-applying user tweak
  src/engine/controls/bpmcontrol.cpp
  src/engine/controls/bpmcontrol.h
  src/engine/enginebuffer.cpp
  src/engine/enginebuffer.h
  src/test/enginesynctest.cpp
Labels: engine, major bug

#2715 Move trackset-features into library subfolder
  CMakeLists.txt
  build/depends.py
  src/library/autodj/autodjfeature.cpp
  src/library/autodj/autodjfeature.h
  src/library/banshee/bansheeplaylistmodel.cpp
  src/library/baseexternallibraryfeature.cpp
  src/library/baseexternalplaylistmodel.cpp
  src/library/baseexternaltrackmodel.cpp
  src/library/basetracktablemodel.cpp
  src/library/basetracktablemodel.h
  src/library/browse/browsetablemodel.cpp
  src/library/dao/autodjcratesdao.cpp
  src/library/dao/autodjcratesdao.h
  src/library/dao/playlistdao.cpp
  src/library/dao/trackdao.cpp
  src/library/hiddentablemodel.cpp
  src/library/hiddentablemodel.h
  src/library/library.cpp
  src/library/librarytablemodel.cpp
  src/library/librarytablemodel.h
  src/library/missingtablemodel.cpp
  src/library/playlisttablemodel.cpp
  src/library/playlisttablemodel.h
  src/library/proxytrackmodel.cpp
  src/library/rekordbox/rekordbox_anlz.h
  src/library/rekordbox/rekordbox_pdb.h
  src/library/searchquery.cpp
  src/library/searchquery.h
  src/library/trackcollection.h
  src/library/trackmodel.h
  src/library/trackset/baseplaylistfeature.cpp
  src/library/trackset/baseplaylistfeature.h
  src/library/trackset/basetracksetfeature.cpp
  src/library/trackset/basetracksetfeature.h
  src/library/trackset/crate/crate.h
  src/library/trackset/crate/cratefeature.cpp
  src/library/trackset/crate/cratefeature.h
  src/library/trackset/crate/cratefeaturehelper.cpp
  src/library/trackset/crate/cratefeaturehelper.h
  src/library/trackset/crate/crateid.h
  src/library/trackset/crate/crateschema.h
  src/library/trackset/crate/cratestorage.cpp
  src/library/trackset/crate/cratestorage.h
  src/library/trackset/crate/cratesummary.h
  src/library/trackset/crate/cratetablemodel.cpp
  src/library/trackset/crate/cratetablemodel.h
  src/library/trackset/playlistfeature.cpp
  src/library/trackset/playlistfeature.h
  src/library/trackset/setlogfeature.cpp
  src/library/trackset/setlogfeature.h
  src/library/trackset/tracksettablemodel.cpp
  src/library/trackset/tracksettablemodel.h
  src/library/tracksettablemodel.cpp
  src/mixxxapplication.cpp
  src/test/cratestorage_test.cpp
  src/widget/wtrackmenu.cpp
Labels: code quality

#2841 failed widget highlight: also print affectted widget's ObjectName
  src/widget/controlwidgetconnection.cpp
Labels: skins

#2858 Update pre-commit dependencies
  .pre-commit-config.yaml
  .travis.yml
  tools/generate_sample_functions.py
Labels: build, code quality

#2542 Hercules Inpulse 200 (update March 2020)
  res/controllers/Hercules-DJControl-Inpulse-200-script.js
  res/controllers/Hercules_DJControl_Inpulse_200.midi.xml
Labels: controllers

#2370 Hercules DJControl Jogvision: First release (all MIDI mapped)
  res/controllers/Hercules_DJControl_Jogvision-scripts.js
  res/controllers/Hercules_DJControl_Jogvision.midi.xml
Labels: controllers

#2859 Fix warning about implicit enumerated type conversion
  src/library/proxytrackmodel.cpp
Labels: code quality

#2850 SoundSourceM4A: Reconfigure decoder after channel config errors
  CMakeLists.txt
  src/sources/audiosource.cpp
  src/sources/libfaadloader.cpp
  src/sources/libfaadloader.h
  src/sources/soundsourcem4a.cpp
  src/sources/soundsourcem4a.h
  src/test/soundproxy_test.cpp
Labels: major bug, sources

#2863 FAAD2 Patch for 2.3
  CMakeLists.txt
  src/sources/audiosource.cpp
  src/sources/libfaadloader.cpp
  src/sources/libfaadloader.h
  src/sources/soundsourcem4a.cpp
  src/sources/soundsourcem4a.h
  src/test/soundproxy_test.cpp
Labels: major bug, sources

#2810 Clean up TrackModel Capabilities & unify capability for TrackSet
  src/library/banshee/bansheeplaylistmodel.cpp
  src/library/banshee/bansheeplaylistmodel.h
  src/library/baseexternalplaylistmodel.cpp
  src/library/baseexternalplaylistmodel.h
  src/library/baseexternaltrackmodel.cpp
  src/library/baseexternaltrackmodel.h
  src/library/basetracktablemodel.cpp
  src/library/basetracktablemodel.h
  src/library/browse/browsetablemodel.cpp
  src/library/browse/browsetablemodel.h
  src/library/hiddentablemodel.cpp
  src/library/hiddentablemodel.h
  src/library/librarytablemodel.cpp
  src/library/librarytablemodel.h
  src/library/missingtablemodel.cpp
  src/library/missingtablemodel.h
  src/library/playlisttablemodel.cpp
  src/library/playlisttablemodel.h
  src/library/proxytrackmodel.cpp
  src/library/proxytrackmodel.h
  src/library/trackmodel.h
  src/library/trackset/crate/cratetablemodel.cpp
  src/library/trackset/crate/cratetablemodel.h
  src/widget/wtrackmenu.cpp
  src/widget/wtracktableview.cpp
Labels: code quality, library

#2862 CMake: Link libSoundTouch dynamically if available
  CMakeLists.txt
  build/depends.py
  cmake/modules/FindSoundTouch.cmake
  src/analyzer/plugins/analyzersoundtouchbeats.cpp
  src/engine/bufferscalers/enginebufferscalest.cpp
  src/util/version.cpp
Labels: build

#2879 Update rigtorp/SPSCQueue to v1.0
  lib/rigtorp/SPSCQueue/README.md
  lib/rigtorp/SPSCQueue/include/rigtorp/SPSCQueue.h
Labels: build

#2524 CoverArt: SHA-256 digest and (background) color
  CHANGELOG.md
  CMakeLists.txt
  build/depends.py
  res/schema.xml
  src/database/mixxxdb.cpp
  src/library/basecoverartdelegate.cpp
  src/library/basecoverartdelegate.h
  src/library/basetrackcache.cpp
  src/library/columncache.cpp
  src/library/columncache.h
  src/library/coverart.cpp
  src/library/coverart.h
  src/library/coverartcache.cpp
  src/library/coverartcache.h
  src/library/coverartdelegate.cpp
  src/library/coverartdelegate.h
  src/library/coverartutils.cpp
  src/library/coverartutils.h
  src/library/dao/trackdao.cpp
  src/library/dao/trackschema.h
  src/library/dlgcoverartfullsize.cpp
  src/library/dlgcoverartfullsize.h
  src/library/dlgtrackinfo.cpp
  src/library/dlgtrackinfo.h
  src/library/hiddentablemodel.cpp
  src/library/librarytablemodel.cpp
  src/library/missingtablemodel.cpp
  src/library/mixxxlibraryfeature.cpp
  src/library/playlisttablemodel.cpp
  src/library/trackset/crate/cratetablemodel.cpp
  src/library/trackset/tracksettablemodel.cpp
  src/test/coverartcache_test.cpp
  src/test/coverartutils_test.cpp
  src/test/imageutils_test.cpp
  src/test/trackupdate_test.cpp
  src/track/track.cpp
  src/track/track.h
  src/util/imageutils.cpp
  src/util/imageutils.h
  src/widget/wcoverart.cpp
  src/widget/wcoverart.h
  src/widget/wcoverartmenu.cpp
  src/widget/wspinny.cpp
  src/widget/wspinny.h
  src/widget/wtrackmenu.cpp
Labels: library, minor bug, ui

#2818 Mapping for Numark iDJ Live II
  CHANGELOG.md
  res/controllers/Numark iDJ Live II.midi.xml
  res/controllers/Numark-iDJ-Live-II-scripts.js
Labels: controllers

#2887 AppVeyor: Add Ubuntu 20.04 build
  appveyor.yml
Labels: build

#2883 WEffectselector: make tooltips easier to read
  src/widget/weffectselector.cpp
Labels: ui

#2889 AppVeyor: Remove Ubuntu 18.04 build
  appveyor.yml
Labels: build

#2891 .travis.yml: Turn on WARNINGS_FATAL for CMake builds
  .travis.yml
Labels: build, code quality

#2895 WTrackMenu: Cleanup & optimization
  src/widget/wtrackmenu.cpp
  src/widget/wtrackmenu.h
Labels: library, ui

#2900 library/dao/playlistdao: Increase robustness by using prepared statements
  src/library/dao/playlistdao.cpp
Labels: code quality, critical bug

#2892 Travis/AppVeyor: Explicitly specify all build options
  .travis.yml
  appveyor.yml
Labels: build

#2866 libebur128: Enable dynamic linking on Debian/Ubuntu
  .travis.yml
  appveyor.yml
  build/debian/control
  cmake/modules/FindEbur128.cmake
Labels: build

#2906 PlaylistDAO: Add missing spaces in SQL query
  src/library/dao/playlistdao.cpp
Labels: library, major bug

#2857 clang-format: Enable AlwaysBreakBeforeMultilineStrings
  .clang-format
Labels: code quality

#2897 optimize some Preferences pages
  src/preferences/dialog/dlgprefautodj.cpp
  src/preferences/dialog/dlgprefautodj.h
  src/preferences/dialog/dlgprefautodjdlg.ui
  src/preferences/dialog/dlgprefeffects.cpp
  src/preferences/dialog/dlgprefeffects.h
  src/preferences/dialog/dlgprefeffectsdlg.ui
  src/preferences/dialog/dlgprefinterface.cpp
  src/preferences/dialog/dlgprefinterfacedlg.ui
  src/preferences/dialog/dlgprefkeydlg.ui
  src/preferences/dialog/dlgprefvinyl.cpp
  src/preferences/dialog/dlgprefvinyl.h
  src/preferences/dialog/dlgprefvinyldlg.ui
Labels: ui

#2907 lp1885631: Fix broken double click action in Quick Links
  src/library/basetracktablemodel.cpp
  src/library/basetracktablemodel.h
  src/library/trackmodel.h
  src/widget/wtracktableview.cpp
Labels: library, minor bug, ui
