Repository mixxxdj/mixxx, pull requests merged in 2020-07, with the labels that each got.

#2908 Travis/Appveyor: Render to offscreen buffer
  .travis.yml
  appveyor.yml
Labels: code quality

#2896 Prevent wrong usage of Control Objects with assertions
  src/control/control.cpp
  src/control/control.h
  src/control/controlmodel.cpp
  src/control/controlobject.cpp
  src/control/controlobject.h
  src/control/controlobjectscript.cpp
  src/control/controlproxy.cpp
  src/control/controlproxy.h
  src/controllers/controllerengine.cpp
  src/controllers/midi/midioutputhandler.cpp
  src/mixer/playermanager.cpp
  src/mixxx.cpp
  src/skin/legacyskinparser.cpp
  src/test/beatstranslatetest.cpp
  src/widget/controlwidgetconnection.cpp
  src/widget/wbeatspinbox.cpp
  src/widget/whotcuebutton.cpp
  src/widget/wkey.cpp
  src/widget/wmainmenubar.cpp
  src/widget/wnumberpos.cpp
  src/widget/wnumberrate.cpp
  src/widget/woverview.cpp
  src/widget/wspinny.cpp
  src/widget/wwaveformviewer.cpp
  src/widget/wwidgetstack.cpp
Labels: code quality

#2909 Preferences > Vinyl: consolidate signal quality elements
  src/preferences/dialog/dlgprefvinyldlg.ui
Labels: ui

#2910 Fix some ControlFlag debug assertions in tests
  src/controllers/learningutils.cpp
  src/test/controlobjecttest.cpp
  src/test/librarytest.cpp
  src/test/librarytest.h
  src/test/readaheadmanager_test.cpp
Labels: code quality, major bug

#2912 Fix debug assertion in TagLibTest.WriteID3v2Tag
  src/test/taglibtest.cpp
Labels: code quality

#2916 test/effectchainslottest: Fix group_[Master]_enable CO debug assertion
  src/test/effectchainslottest.cpp
Labels: code quality, minor bug

#2915 test/autodjprocessor_test: Fix DEBUG_ASSERT caused by duplicated COs
  src/test/autodjprocessor_test.cpp
Labels: code quality, minor bug

#2919 control/controlmodel: Fix double CO initialization in developer tools
  src/control/controlmodel.cpp
Labels: code quality, minor bug

#2914 Fix debug assertion in SoundSourceFFmpeg for .m4a file
  src/sources/soundsourceffmpeg.cpp
Labels: minor bug, sources

#2924 WCueMenuPopup: ensure popup is always shown on screen
  src/widget/wcuemenupopup.h
  src/widget/woverview.cpp
  src/widget/wwaveformviewer.cpp
Labels: minor bug, ui

#2918 ControlObject/ControlPrivateDouble: Various Fixes
  src/control/control.cpp
  src/control/control.h
  src/control/controlobject.cpp
  src/control/controlobject.h
  src/dialog/dlgdevelopertools.cpp
  src/mixxx.cpp
  src/mixxx.h
  src/preferences/dialog/dlgprefdeck.cpp
  src/preferences/dialog/dlgprefdeck.h
  src/preferences/settingsmanager.cpp
  src/preferences/settingsmanager.h
  src/test/mixxxtest.cpp
Labels: code quality

#2894 rename Master output to Main output in user visible strings
  res/skins/Deere/tool_bar.xml
  res/skins/LateNight/mixer/mixer_master_headphone.xml
  res/skins/Shade/style/style_bg_mixer_panel_main.png
  src/controllers/controlpickermenu.cpp
  src/preferences/dialog/dlgprefsound.cpp
  src/preferences/dialog/dlgprefsounddlg.ui
  src/skin/tooltips.cpp
  src/soundio/soundmanagerutil.cpp
Labels: ui

#2927 Delete invalid test: AnalyzerWaveformTest.wrongTotalSamples
  src/test/analyserwaveformtest.cpp
Labels: code quality

#2899 WTrackMenu: Display a modal progress dialog
  CMakeLists.txt
  build/depends.py
  src/library/coverartutils.cpp
  src/library/coverartutils.h
  src/library/trackcollectioniterator.cpp
  src/library/trackcollectioniterator.h
  src/library/trackmodeliterator.cpp
  src/library/trackmodeliterator.h
  src/library/trackprocessing.cpp
  src/library/trackprocessing.h
  src/track/trackiterator.h
  src/util/itemiterator.h
  src/util/taskmonitor.cpp
  src/util/taskmonitor.h
  src/widget/wtrackmenu.cpp
  src/widget/wtrackmenu.h
Labels: library, ui

#2933 Fix crash in ~GLSLWaveformWidget()
  src/waveform/widgets/glslwaveformwidget.cpp
  src/waveform/widgets/glslwaveformwidget.h
Labels: major bug

#2712 Windows CMake installer improvements
  CMakeLists.txt
  SConscript
  res/mixxx.qrc
  src/waveform/renderers/glslwaveformrenderersignal.cpp
Labels: build, packaging/installer

#2868 add support for loading controller scripts as JS modules
  src/controllers/controller.cpp
  src/controllers/controllerpreset.h
  src/controllers/controllerpresetfilehandler.cpp
  src/controllers/controllerpresetinfoenumerator.cpp
  src/controllers/engine/controllerengine.cpp
  src/controllers/engine/controllerengine.h
  src/controllers/midi/midicontroller.cpp
Labels: controllers

#2934 Fix debug assert in CueDAO and track id property of Cue objects
  src/library/dao/trackdao.cpp
  src/track/track.cpp
  src/track/track.h
Labels: minor bug

#2939 Pref > Effects: remove 'buttonGroup' attribute from Meta knob option
  src/preferences/dialog/dlgprefeffectsdlg.ui
Labels: code quality

#2800 Don't seek track after analysis if user has seeked it already
  src/engine/controls/cuecontrol.cpp
  src/engine/controls/cuecontrol.h
  src/test/cuecontrol_test.cpp
  src/test/enginesynctest.cpp
Labels: engine, minor bug

#2943 CMake: Restore test working directory to fix Appveyor builds
  CMakeLists.txt
Labels: build

#2941 Preferences > Sound Hardware: prevent changing combobox or spinbox values ...
  src/preferences/dialog/dlgprefsound.cpp
  src/preferences/dialog/dlgprefsound.h
  src/preferences/dialog/dlgprefsounditem.cpp
  src/preferences/dialog/dlgprefsounditem.h
Labels: ui

#2923 prevent changing the effects by scrolling hovered EffectSelector
  src/widget/weffectselector.cpp
Labels: ui

#2946 controllers: Fix crash if controller mapping has no module
  src/controllers/controller.cpp
  src/controllers/controllerpresetfilehandler.cpp
  src/controllers/engine/controllerengine.cpp
Labels: controllers, critical bug

#2953 LegacySkinParser: Persist skin-created COs even on skin changes
  src/mixxx.cpp
  src/mixxx.h
  src/skin/legacyskinparser.cpp
  src/skin/legacyskinparser.h
  src/skin/skinloader.cpp
  src/skin/skinloader.h
Labels: major bug, skins

#2950 WLabel: define highlight property
  src/widget/controlwidgetconnection.cpp
  src/widget/wlabel.cpp
  src/widget/wlabel.h
  src/widget/wwidgetgroup.cpp
Labels: skins

#2945 Tooltips: additions & rephrasings
  src/skin/tooltips.cpp
Labels: skins

#2931 SoundSourceFFmpeg: Fix debug assert and offset/range calculation
  src/sources/soundsourceffmpeg.cpp
Labels: code quality, minor bug, sources

#2957 disable LOCALECOMPARE on macOS with CMake
  CMakeLists.txt
Labels: critical bug

#2959 test: Ensure that the file-based tests for Serato metadata actually run
  src/test/seratomarkers2test.cpp
  src/test/seratomarkerstest.cpp
Labels: code quality
