Repository mixxxdj/mixxx, pull requests merged in 2020-04, with the labels that each got.

#2534 lp1865957: Fetch multiple tracks from MusicBrainz
  src/library/dlgtagfetcher.cpp
  src/musicbrainz/tagfetcher.cpp
  src/musicbrainz/tagfetcher.h
  src/musicbrainz/web/acoustidlookuptask.cpp
  src/musicbrainz/web/acoustidlookuptask.h
  src/musicbrainz/web/musicbrainzrecordingstask.cpp
  src/musicbrainz/web/musicbrainzrecordingstask.h
  src/network/jsonwebtask.cpp
  src/network/jsonwebtask.h
  src/network/webtask.cpp
  src/network/webtask.h
  src/track/track.cpp
Labels: critical bug, library

#2620 Deere: suppress blue hotcue button border
  res/skins/Deere/style.qss
Labels: skins

#2613 Upgrade Travis CI Ubuntu images from Xenial to Bionic
  .travis.yml
Labels: build, code quality

#2615 restore: no play when passthrough is enabled
  src/engine/enginebuffer.cpp
Labels: beta non-blocker, engine

#2622 engine/enginedeck: Fix broken vinyl passthrough
  src/engine/enginedeck.cpp
Labels: engine, major bug

#2546 Denon MC7000 mapping
  CHANGELOG
  res/controllers/Denon-MC7000-scripts.js
  res/controllers/Denon-MC7000.midi.xml
Labels: controllers

#2624 add font: Open Sans bold
  res/fonts/OpenSans-Bold.ttf
Labels: skins

#2607 Stanton DJC.4 mapping
  CHANGELOG
  res/controllers/Stanton-DJC-4-scripts.js
  res/controllers/Stanton-DJC-4.midi.xml
Labels: controllers

#2589 Color preferences improvements
  src/engine/controls/cuecontrol.cpp
  src/preferences/colorpaletteeditor.cpp
  src/preferences/colorpaletteeditor.h
  src/preferences/colorpaletteeditormodel.cpp
  src/preferences/colorpalettesettings.cpp
  src/preferences/colorpalettesettings.h
  src/preferences/dialog/dlgprefcolors.cpp
  src/preferences/dialog/dlgprefcolors.h
  src/preferences/dialog/dlgprefcolorsdlg.ui
  src/util/color/colorpalette.cpp
  src/util/color/colorpalette.h
  src/util/color/predefinedcolorpalettes.cpp
  src/util/color/predefinedcolorpalettes.h
Labels: beta blocker

#2538 Refactoring: Extract BaseTrackTableModel + BaseCoverArtDelegate
  CMakeLists.txt
  build/depends.py
  src/library/banshee/bansheeplaylistmodel.cpp
  src/library/banshee/bansheeplaylistmodel.h
  src/library/basecoverartdelegate.cpp
  src/library/basecoverartdelegate.h
  src/library/baseexternalplaylistmodel.cpp
  src/library/baseexternalplaylistmodel.h
  src/library/baseexternaltrackmodel.cpp
  src/library/baseexternaltrackmodel.h
  src/library/basesqltablemodel.cpp
  src/library/basesqltablemodel.h
  src/library/basetrackcache.cpp
  src/library/basetrackcache.h
  src/library/basetracktablemodel.cpp
  src/library/basetracktablemodel.h
  src/library/coverartdelegate.cpp
  src/library/coverartdelegate.h
  src/library/dao/autodjcratesdao.cpp
  src/library/dao/trackdao.cpp
  src/library/dao/trackdao.h
  src/library/tableitemdelegate.cpp
  src/library/tableitemdelegate.h
  src/library/trackcollection.cpp
  src/library/trackcollection.h
Labels: code quality, library

#2394 DlgPrefController: remove Scripts tab
  src/controllers/dlgprefcontroller.cpp
  src/controllers/dlgprefcontroller.h
  src/controllers/dlgprefcontrollerdlg.ui
Labels: ui

#2623 Fix cleanup of Singletons and MixxxMainWindow
  src/mixxx.cpp
  src/util/singleton.h
Labels: code quality, minor bug

#2625 fix cropped Mic/Aux labels in LateNight
  res/skins/LateNight/aux_unit.xml
  res/skins/LateNight/aux_unit_unconfigured.xml
  res/skins/LateNight/mic_unit.xml
  res/skins/LateNight/mic_unit_unconfigured.xml
  res/skins/LateNight/style.qss
Labels: skins

#2593 Fix LP1855321 - Prevent jumping to main cue
  src/analyzer/analyzerthread.cpp
  src/engine/controls/cuecontrol.cpp
  src/engine/controls/cuecontrol.h
  src/test/cuecontrol_test.cpp
  src/track/track.cpp
  src/track/track.h
Labels: minor bug

#2569 Controllers: Don't needlessly copy presets into user directory
  CMakeLists.txt
  build/depends.py
  build/features.py
  res/images/ic_custom.svg
  res/images/ic_mixxx_symbolic.svg
  res/images/ic_none.svg
  res/mixxx.qrc
  src/controllers/bulk/bulkcontroller.cpp
  src/controllers/bulk/bulkcontroller.h
  src/controllers/controller.cpp
  src/controllers/controller.h
  src/controllers/controllerengine.cpp
  src/controllers/controllerengine.h
  src/controllers/controllerinputmappingtablemodel.cpp
  src/controllers/controllerinputmappingtablemodel.h
  src/controllers/controllermanager.cpp
  src/controllers/controllermanager.h
  src/controllers/controlleroutputmappingtablemodel.cpp
  src/controllers/controlleroutputmappingtablemodel.h
  src/controllers/controllerpreset.h
  src/controllers/controllerpresetfilehandler.cpp
  src/controllers/controllerpresetfilehandler.h
  src/controllers/controllerpresetinfo.cpp
  src/controllers/controllerpresetinfoenumerator.cpp
  src/controllers/controllerpresetinfoenumerator.h
  src/controllers/dlgprefcontroller.cpp
  src/controllers/dlgprefcontroller.h
  src/controllers/dlgprefcontrollers.cpp
  src/controllers/dlgprefcontrollers.h
  src/controllers/hid/hidcontroller.cpp
  src/controllers/hid/hidcontroller.h
  src/controllers/hid/hidcontrollerpreset.cpp
  src/controllers/hid/hidcontrollerpreset.h
  src/controllers/hid/hidcontrollerpresetfilehandler.cpp
  src/controllers/hid/hidcontrollerpresetfilehandler.h
  src/controllers/midi/midicontroller.cpp
  src/controllers/midi/midicontroller.h
  src/controllers/midi/midicontrollerpreset.cpp
  src/controllers/midi/midicontrollerpreset.h
  src/controllers/midi/midicontrollerpresetfilehandler.cpp
  src/controllers/midi/midicontrollerpresetfilehandler.h
  src/controllers/midi/midimessage.h
  src/test/controller_preset_validation_test.cpp
  src/test/learningutilstest.cpp
  src/test/midicontrollertest.cpp
Labels: controllers

#2637 Switch to pip3 for Ubuntu Appveyor CI build
  appveyor.yml
Labels: build, code quality

#2638 test/cuecontrol_test: Fix compile error due to missing method
  src/test/cuecontrol_test.cpp
Labels: build, major bug

#2545 Customize TrackTableBackgroundColorOpacity from skins
  res/skins/Deere/library.xml
  res/skins/LateNight/library.xml
  res/skins/Shade/skin.xml
  res/skins/Tango/library.xml
  src/library/autodj/autodjfeature.cpp
  src/library/autodj/dlgautodj.cpp
  src/library/autodj/dlgautodj.h
  src/library/basetracktablemodel.cpp
  src/library/basetracktablemodel.h
  src/library/dlganalysis.cpp
  src/library/dlganalysis.h
  src/library/dlghidden.cpp
  src/library/dlghidden.h
  src/library/dlgmissing.cpp
  src/library/dlgmissing.h
  src/library/library.cpp
  src/library/recording/dlgrecording.cpp
  src/library/recording/dlgrecording.h
  src/skin/skincontext.h
  src/widget/wanalysislibrarytableview.cpp
  src/widget/wanalysislibrarytableview.h
  src/widget/wlibrary.cpp
  src/widget/wlibrary.h
  src/widget/wlibrarytableview.h
  src/widget/wtracktableview.cpp
  src/widget/wtracktableview.h
Labels: skins

#2631 Fix line-length hook working on all changed files
  .pre-commit-config.yaml
  scripts/line_length.py
Labels: build, code quality

#2501 Fix CPack WIX Installer for Windows
  CMakeLists.txt
  appveyor.yml
Labels: build

#2648 WaveformRenderMark: fix hotcues getting shifted to the right
  src/waveform/renderers/waveformrendermark.cpp
Labels: major bug

#2654 TrackDAO: Add missing const qualifiers
  src/library/dao/trackdao.cpp
  src/library/dao/trackdao.h
Labels: code quality

#2655 Pin Xcode version to 9.4.1 on Travis CI
  .travis.yml
Labels: build

#2657 widget/wcolorpicker: Set button pointer to nullptr after delete
  src/widget/wcolorpicker.cpp
Labels: major bug, ui

#2628 fix GUI states of Library feature buttons
  res/skins/Deere/style.qss
  res/skins/LateNight/style.qss
  res/skins/Shade/style.qss
  res/skins/Tango/style.qss
  src/library/autodj/dlgautodj.cpp
  src/library/dlganalysis.cpp
  src/library/dlganalysis.ui
  src/library/recording/dlgrecording.cpp
  src/library/recording/dlgrecording.h
  src/library/recording/dlgrecording.ui
  src/recording/recordingmanager.cpp
  src/recording/recordingmanager.h
Labels: library, ui

#2632 Searchbox fixes
  res/skins/LateNight/style.qss
  res/skins/Shade/preview_deck.xml
  res/skins/Shade/skin.xml
  res/skins/Shade/style.qss
  res/skins/Tango/style.qss
  src/widget/wsearchlineedit.cpp
Labels: library, skins, ui

#2598 disallow focusing library feature buttons with Tab
  res/skins/Deere/style.qss
  res/skins/LateNight/style.qss
  res/skins/Shade/style.qss
  res/skins/Shade/style_dark.qss
  res/skins/Tango/style.qss
  src/library/autodj/dlgautodj.ui
  src/library/dlganalysis.ui
  src/library/dlghidden.ui
  src/library/dlgmissing.ui
  src/library/recording/dlgrecording.ui
Labels: library, skins, ui

#2611 Show Skin description in Pref > Interface
  res/skins/Deere (64 Samplers)/skin.xml
  res/skins/Deere/skin.xml
  res/skins/LateNight/skin.xml
  res/skins/Shade/skin.xml
  res/skins/Tango (64 Samplers)/skin.xml
  res/skins/Tango/skin.xml
  src/preferences/dialog/dlgprefinterface.cpp
  src/preferences/dialog/dlgprefinterface.h
  src/preferences/dialog/dlgprefinterfacedlg.ui
  src/skin/legacyskinparser.h
  src/skin/skinloader.cpp
Labels: ui

#2616 show Passthrough cover on track overview
  res/skins/Deere/style.qss
  res/skins/LateNight/style.qss
  res/skins/Shade/style.qss
  res/skins/Shade/style_dark.qss
  res/skins/Shade/style_summer_sunset.qss
  res/skins/Tango/deck_row_overview_left.xml
  res/skins/Tango/deck_row_overview_right.xml
  res/skins/Tango/deck_row_transport_left.xml
  res/skins/Tango/deck_row_transport_right.xml
  res/skins/Tango/style.qss
  res/skins/default.qss
  src/waveform/renderers/waveformsignalcolors.cpp
  src/waveform/renderers/waveformsignalcolors.h
  src/widget/woverview.cpp
  src/widget/woverview.h
Labels: skins, ui

#2665 Add track color control object
  src/mixer/basetrackplayer.cpp
  src/mixer/basetrackplayer.h
  src/track/track.cpp
  src/track/track.h
Labels: library

#2659 library/serato/seratofeature: Fix relative paths on OSX (and on Linux)
  src/library/serato/seratofeature.cpp
Labels: beta blocker, library, major bug

#2669 appveyor.yml: Improve filenames of WIX CPack package
  appveyor.yml
Labels: packaging/installer

#2664 Fix Preferences Buttons
  src/controllers/dlgprefcontroller.cpp
  src/controllers/dlgprefcontroller.h
  src/controllers/dlgprefcontrollers.cpp
  src/controllers/dlgprefcontrollers.h
  src/preferences/dialog/dlgprefcolors.cpp
  src/preferences/dialog/dlgprefcolors.h
  src/preferences/dialog/dlgpreflv2.cpp
  src/preferences/dialog/dlgpreflv2.h
  src/preferences/dlgpreferencepage.h
Labels: minor bug, ui

#2612 Quick action context menu for WTrackProperty
  CMakeLists.txt
  build/depends.py
  res/skins/Deere/style.qss
  res/skins/LateNight/style.qss
  res/skins/LateNight/style_flip.qss
  res/skins/Shade/style.qss
  res/skins/Shade/style_dark.qss
  res/skins/Shade/style_summer_sunset.qss
  res/skins/Tango/style.qss
  src/library/basetracktablemodel.cpp
  src/library/basetracktablemodel.h
  src/library/dlgtagfetcher.cpp
  src/library/dlgtagfetcher.h
  src/library/dlgtrackinfo.cpp
  src/library/dlgtrackinfo.h
  src/library/trackmodel.h
  src/skin/legacyskinparser.cpp
  src/track/track.h
  src/track/trackid.h
  src/widget/wtrackmenu.cpp
  src/widget/wtrackmenu.h
  src/widget/wtrackproperty.cpp
  src/widget/wtrackproperty.h
  src/widget/wtracktableview.cpp
  src/widget/wtracktableview.h
  src/widget/wtracktext.cpp
  src/widget/wtracktext.h
Labels: ui

#2671 track/serato/markers: Fix parsing of position values
  src/test/seratomarkerstest.cpp
  src/track/serato/markers.cpp
Labels: major bug

#2594 Fixed bpm.tapButton in common-controller-script.js
  CHANGELOG
  res/controllers/common-controller-scripts.js
Labels: controllers

#2672 Add qDebug << operators for CueType and CueInfo
  src/track/cueinfo.cpp
  src/track/cueinfo.h
Labels: code quality

#2675 WTrackTableView cleanup
  src/widget/wtrackmenu.cpp
  src/widget/wtracktableview.cpp
Labels: code quality

#2674 Reorder track context menu entries
  src/widget/wtrackmenu.cpp
Labels: ui

#2667 revert to macOS build environment with Qt 5.12.3
  build/osx/golden_environment
Labels: build

#2676 Remove unused class WidgetHider
  CMakeLists.txt
  build/depends.py
  src/preferences/dialog/dlgprefrecord.h
  src/util/widgethider.cpp
  src/util/widgethider.h
Labels: code quality

#2588 Improve Controller Script Error Reporting
  src/controllers/controller.cpp
  src/controllers/controllerengine.cpp
  src/controllers/controllerengine.h
  src/errordialoghandler.cpp
  src/errordialoghandler.h
Labels: controllers, ui

#2653 JsonWebTask: Improve error reporting
  src/network/jsonwebtask.cpp
Labels: code quality

#2677 WTrackMenu cleanups & optimizations
  src/widget/wtrackmenu.cpp
  src/widget/wtrackmenu.h
  src/widget/wtrackproperty.cpp
  src/widget/wtrackproperty.h
  src/widget/wtracktableview.cpp
  src/widget/wtracktableview.h
  src/widget/wtracktext.cpp
  src/widget/wtracktext.h
Labels: code quality

#2617 Check for overwrite when defaulting to m3u in playlist/crate export
  src/library/baseplaylistfeature.cpp
  src/library/crate/cratefeature.cpp
  src/library/libraryfeature.cpp
  src/library/libraryfeature.h
  src/library/parserm3u.cpp
  src/library/parserm3u.h
  src/library/parserpls.cpp
  src/library/parserpls.h
Labels: library, minor bug

#2541 Allow changing track colors from controller
  res/controllers/Roland_DJ-505-scripts.js
  src/library/librarycontrol.cpp
  src/library/librarycontrol.h
  src/library/libraryview.h
  src/util/color/colorpalette.cpp
  src/util/color/colorpalette.h
  src/widget/wtracktableview.cpp
  src/widget/wtracktableview.h
Labels: controllers, library

#2684 WTrackMenu: Cleanup & performance regression fixes (part 2)
  src/widget/wtrackmenu.cpp
  src/widget/wtrackmenu.h
  src/widget/wtrackproperty.cpp
  src/widget/wtracktableview.cpp
  src/widget/wtracktext.cpp
Labels: code quality, major bug

#2690 fix skin change bug on linux
  src/mixxx.cpp
Labels: ui

#2547 Add Hotcue Color Replace Dialog
  CMakeLists.txt
  build/depends.py
  src/dialog/dlgreplacecuecolor.cpp
  src/dialog/dlgreplacecuecolor.h
  src/dialog/dlgreplacecuecolordlg.ui
  src/mixxx.cpp
  src/preferences/dialog/dlgprefcolors.cpp
  src/preferences/dialog/dlgprefcolors.h
  src/preferences/dialog/dlgprefcolorsdlg.ui
  src/preferences/dialog/dlgpreferences.cpp
  src/track/globaltrackcache.cpp
  src/track/globaltrackcache.h
  src/track/track.cpp
  src/track/track.h
Labels: beta blocker, library

#2526 Read Cues from Serato MP3 Tags
  src/track/serato/markers.cpp
  src/track/serato/markers.h
  src/track/serato/markers2.cpp
  src/track/serato/markers2.h
  src/track/serato/tags.cpp
  src/track/serato/tags.h
  src/track/track.cpp
  src/track/trackinfo.cpp
  src/track/trackinfo.h
  src/track/trackmetadatataglib.cpp
Labels: beta blocker, library

#2322 add 'has_controller_focus' control to midi-components Fx mapping
  res/controllers/midi-components-0.0.js
  src/effects/effectchainslot.cpp
  src/effects/effectchainslot.h
Labels: controllers, skins

#2686 Knob arc tweaks
  src/widget/wknobcomposed.cpp
  src/widget/wknobcomposed.h
Labels: skins

#2694 skins: add Slider bars
  src/widget/wslidercomposed.cpp
  src/widget/wslidercomposed.h
Labels: skins

#2696 WTrackTableView: bring back load track overrides
  src/widget/wtracktableview.cpp
  src/widget/wtracktableview.h
Labels: beta blocker, controllers, major bug

#2703 preferences/dialog/dlgprefdeck: Tick "Down increases Speed" by default
  src/preferences/dialog/dlgprefdeck.cpp
  src/preferences/dialog/dlgprefdeck.h
Labels: ui

#2704 Update contributor lists for the 2.3 release
  src/dialog/dlgabout.cpp
Labels: beta blocker

#2701 Improve Serato tag import behaviour on inconsistent tags
  src/track/serato/tags.cpp
Labels: library

#2713 widget/wtrackmenu: Fix track color picker resize after palette change
  src/widget/wtrackmenu.cpp
Labels: minor bug, ui

#2705 Fix import of Serato cue points during library scan
  src/library/dao/trackdao.cpp
  src/library/scanner/libraryscanner.cpp
  src/sources/soundsourceproxy.cpp
  src/sources/soundsourceproxy.h
  src/track/cue.cpp
  src/track/track.cpp
  src/track/track.h
Labels: beta blocker, major bug

#2716 Add help button to preferences
  src/controllers/dlgprefcontroller.cpp
  src/controllers/dlgprefcontroller.h
  src/controllers/dlgprefcontrollers.cpp
  src/controllers/dlgprefcontrollers.h
  src/defs_urls.h
  src/preferences/dialog/dlgprefbeats.cpp
  src/preferences/dialog/dlgprefbeats.h
  src/preferences/dialog/dlgprefbroadcast.cpp
  src/preferences/dialog/dlgprefbroadcast.h
  src/preferences/dialog/dlgprefeq.cpp
  src/preferences/dialog/dlgprefeq.h
  src/preferences/dialog/dlgpreferences.cpp
  src/preferences/dialog/dlgpreferencesdlg.ui
  src/preferences/dialog/dlgprefkey.cpp
  src/preferences/dialog/dlgprefkey.h
  src/preferences/dialog/dlgpreflibrary.cpp
  src/preferences/dialog/dlgpreflibrary.h
  src/preferences/dialog/dlgprefsound.cpp
  src/preferences/dialog/dlgprefsound.h
  src/preferences/dialog/dlgprefvinyl.cpp
  src/preferences/dialog/dlgprefvinyl.h
  src/preferences/dlgpreferencepage.cpp
  src/preferences/dlgpreferencepage.h
  src/widget/wmainmenubar.cpp
Labels: ui

#2719 Lp1873766 - Library preferences page : Fix stray line
  src/preferences/dialog/dlgpreflibrarydlg.ui
Labels: minor bug, ui

#2708 Split TagLib metadata import/export code into multiple files/namespaces
  CMakeLists.txt
  build/depends.py
  src/sources/metadatasource.h
  src/sources/metadatasourcetaglib.cpp
  src/sources/metadatasourcetaglib.h
  src/sources/soundsource.cpp
  src/sources/soundsource.h
  src/test/metadatatest.cpp
  src/track/bpm.cpp
  src/track/replaygain.cpp
  src/track/serato/markers.cpp
  src/track/serato/markers2.cpp
  src/track/taglib/trackmetadata.h
  src/track/taglib/trackmetadata_ape.cpp
  src/track/taglib/trackmetadata_ape.h
  src/track/taglib/trackmetadata_common.cpp
  src/track/taglib/trackmetadata_common.h
  src/track/taglib/trackmetadata_file.cpp
  src/track/taglib/trackmetadata_file.h
  src/track/taglib/trackmetadata_id3v2.cpp
  src/track/taglib/trackmetadata_id3v2.h
  src/track/taglib/trackmetadata_mp4.cpp
  src/track/taglib/trackmetadata_mp4.h
  src/track/taglib/trackmetadata_riff.cpp
  src/track/taglib/trackmetadata_riff.h
  src/track/taglib/trackmetadata_xiph.cpp
  src/track/taglib/trackmetadata_xiph.h
  src/track/trackmetadata.cpp
  src/track/trackmetadatataglib.cpp
  src/track/trackmetadatataglib.h
  src/track/trackrecord.cpp
Labels: code quality

#2720 Disable export of Serato markers as file tags
  src/track/taglib/trackmetadata_id3v2.cpp
Labels: beta blocker

#2599 fix library navigation & focus issues
  src/library/autodj/dlgautodj.cpp
  src/library/dlganalysis.cpp
  src/library/dlghidden.cpp
  src/library/dlgmissing.cpp
  src/library/librarycontrol.cpp
  src/library/recording/dlgrecording.cpp
Labels: controllers, library, ui

#2722 Hotfix/Follow-up: Export serato markers
  src/track/taglib/trackmetadata_id3v2.cpp
Labels: critical bug

#2702 Add date time conversion & formatting functions
  src/library/basesqltablemodel.cpp
  src/library/basetracktablemodel.cpp
  src/library/browse/browsethread.cpp
  src/library/dao/trackdao.cpp
  src/util/datetime.h
Labels: code quality

#2597 let controllers clear the searchbox
  src/library/library.cpp
  src/library/librarycontrol.cpp
  src/library/librarycontrol.h
  src/widget/wsearchlineedit.cpp
  src/widget/wsearchlineedit.h
Labels: controllers, library, ui

#2724 fix LibraryControl::bindSearchboxWidget
  src/library/librarycontrol.cpp
Labels: critical bug

#2376 Rework master sync internal clock behavior
  src/engine/channels/engineaux.cpp
  src/engine/channels/enginechannel.cpp
  src/engine/channels/enginechannel.h
  src/engine/channels/enginedeck.cpp
  src/engine/channels/enginedeck.h
  src/engine/channels/enginemicrophone.cpp
  src/engine/controls/bpmcontrol.cpp
  src/engine/controls/bpmcontrol.h
  src/engine/controls/clockcontrol.cpp
  src/engine/controls/clockcontrol.h
  src/engine/controls/cuecontrol.cpp
  src/engine/controls/cuecontrol.h
  src/engine/controls/enginecontrol.cpp
  src/engine/controls/enginecontrol.h
  src/engine/controls/loopingcontrol.cpp
  src/engine/controls/loopingcontrol.h
  src/engine/controls/quantizecontrol.cpp
  src/engine/controls/quantizecontrol.h
  src/engine/enginebuffer.cpp
  src/engine/enginebuffer.h
  src/engine/enginemaster.cpp
  src/engine/sync/basesyncablelistener.cpp
  src/engine/sync/basesyncablelistener.h
  src/engine/sync/enginesync.cpp
  src/engine/sync/enginesync.h
  src/engine/sync/internalclock.cpp
  src/engine/sync/internalclock.h
  src/engine/sync/syncable.h
  src/engine/sync/synccontrol.cpp
  src/engine/sync/synccontrol.h
  src/mixer/basetrackplayer.cpp
  src/mixer/basetrackplayer.h
  src/mixer/deck.cpp
  src/mixer/playermanager.cpp
  src/mixer/previewdeck.cpp
  src/mixer/sampler.cpp
  src/test/enginemastertest.cpp
  src/test/enginesynctest.cpp
  src/test/main.cpp
  src/test/synccontroltest.cpp
  src/util/defs.h
  src/util/logging.cpp
  src/util/logging.h
  src/vinylcontrol/vinylcontrolmanager.h
  src/widget/wtracktableview.cpp
Labels: engine

#2725 Don't delete existing metadata if Serato tags not present
  src/track/track.cpp
Labels: critical bug

#2584 Roland DJ-505: Update for explicit sync_master change from #2376
  res/controllers/Roland_DJ-505-scripts.js
Labels: controllers

#2698 improve layout of DlgTrackInfo / Track Properties
  src/library/dlgtrackinfo.cpp
  src/library/dlgtrackinfo.ui
Labels: ui

#2718 Optimize signal/slot connections
  src/library/basetrackcache.cpp
  src/library/basetrackcache.h
  src/library/dao/trackdao.cpp
  src/library/dao/trackdao.h
  src/library/trackcollection.cpp
  src/library/trackcollection.h
  src/library/trackcollectionmanager.cpp
  src/preferences/dialog/dlgprefcolors.cpp
Labels: code quality, library

#2721 Fix Ogg broadcasting
  src/broadcast/defs_broadcast.h
  src/engine/sidechain/shoutconnection.cpp
  src/preferences/broadcastprofile.cpp
  src/preferences/broadcastsettings_legacy.cpp
  src/preferences/dialog/dlgprefbroadcast.cpp
Labels: major bug

#2734 add 'active' property to WSearchLineEdit
  src/widget/wsearchlineedit.h
Labels: skins

#2707 Postpone Serato timing offset correction until audio signal properties are known
  CMakeLists.txt
  build/depends.py
  src/track/cueinfo.h
  src/track/cueinfoimporter.cpp
  src/track/cueinfoimporter.h
  src/track/serato/cueinfoimporter.cpp
  src/track/serato/cueinfoimporter.h
  src/track/serato/markers.cpp
  src/track/serato/markers.h
  src/track/serato/markers2.cpp
  src/track/serato/markers2.h
  src/track/serato/tags.cpp
  src/track/serato/tags.h
  src/track/track.cpp
  src/track/track.h
Labels: beta blocker, minor bug

#2730 Shade: Fix transparent effect buttons
  res/skins/Shade/btn/btn_beatloop_3.png
  res/skins/Shade/btn/btn_beatloop_3_down.png
  res/skins/Shade/btn/btn_beatloop_3_over.png
  res/skins/Shade/btn/btn_beatloop_3_overdown.png
  res/skins/Shade/deck_effect.xml
  res/skins/Shade/effectslotsmall.xml
Labels: minor bug
