Repository mixxxdj/mixxx, pull requests merged in 2020-12, with the labels that each got.

#3393 Fix CMake install of fonts
  CMakeLists.txt
Labels: build

#3394 Remove redundant mixxx folder inside the doc dir
  CMakeLists.txt
Labels: build

#3326 BaseTrackTableModel: Validate and transform raw data from derived classes
  src/library/basetracktablemodel.cpp
  src/library/basetracktablemodel.h
  src/library/starrating.cpp
  src/library/starrating.h
  src/track/trackrecord.h
Labels: code quality, library

#2996 History improvements
  src/library/dao/playlistdao.cpp
  src/library/dao/playlistdao.h
  src/library/queryutil.h
  src/library/sidebarmodel.cpp
  src/library/sidebarmodel.h
  src/library/trackset/baseplaylistfeature.cpp
  src/library/trackset/baseplaylistfeature.h
  src/library/trackset/playlistfeature.cpp
  src/library/trackset/playlistfeature.h
  src/library/trackset/setlogfeature.cpp
  src/library/trackset/setlogfeature.h
  src/library/treeitem.h
  src/library/treeitemmodel.cpp
  src/library/treeitemmodel.h
  src/util/db/fwdsqlquery.h
  src/widget/wlibrarysidebar.cpp
  src/widget/wlibrarysidebar.h
Labels: controllers, library, ui

#3399 DlgPrefWaveform: sync waveform zoom by default
  src/preferences/dialog/dlgprefwaveform.cpp
  src/waveform/waveformwidgetfactory.cpp
Labels: ui

#3401 Enforce offscreen rendering for all tests
  CMakeLists.txt
Labels: build

#3400 Adjust relative bpm display
  src/widget/wnumberrate.cpp
Labels: ui

#3398 Add missing reset rating action
  src/track/track.h
  src/widget/wtrackmenu.cpp
  src/widget/wtrackmenu.h
Labels: ui

#3413 Export track metadata with accurate stream info
  src/sources/soundsourcemodplug.cpp
  src/sources/soundsourceopus.cpp
  src/sources/soundsourceproxy.cpp
  src/test/trackmetadata_test.cpp
  src/track/taglib/trackmetadata_file.cpp
  src/track/track.cpp
  src/track/track.h
  src/track/trackmetadata.cpp
  src/track/trackmetadata.h
Labels: code quality, sources

#3404 migrate old settings path into sandbox on macOS
  src/main.cpp
  src/mixxx.cpp
  src/util/sandbox.cpp
  src/util/sandbox.h
Labels: build

#3415 DlgPrefLibraryDlg: Clarify automatic metadata export checkbox label
  src/preferences/dialog/dlgpreflibrarydlg.ui
Labels: ui

#3417 set default waveform renderer to RGB (non-GL) for macOS
  src/waveform/waveformwidgetfactory.cpp
Labels: critical bug

#3419 Fix crash when accessing invalid/unknown track table column
  src/library/basetracktablemodel.cpp
Labels: critical bug, library

#3422 Serato BeatsGrid: Fix wrong beat at position 0 on import
  src/track/serato/beatsimporter.cpp
Labels: major bug

#3423 CMake: always link CoreFoundation on macOS
  CMakeLists.txt
Labels: build

#3153 Add stacked glsl waveform renderer
  res/mixxx.qrc
  res/shaders/stackedsignal.frag
  src/waveform/renderers/glslwaveformrenderersignal.cpp
  src/waveform/renderers/glslwaveformrenderersignal.h
  src/waveform/renderers/waveformrenderersignalbase.cpp
  src/waveform/renderers/waveformrenderersignalbase.h
  src/waveform/renderers/waveformsignalcolors.cpp
  src/waveform/renderers/waveformsignalcolors.h
  src/waveform/waveformwidgetfactory.cpp
  src/waveform/widgets/glslwaveformwidget.cpp
  src/waveform/widgets/glslwaveformwidget.h
  src/waveform/widgets/waveformwidgettype.h
Labels: ui

#3427 Overview waveform: fix default Passthrough cover color
  src/waveform/renderers/waveformsignalcolors.cpp
Labels: skins

#3407 fix initialization of QGLWidget waveform widgets & renderers
  src/preferences/dialog/dlgprefwaveform.cpp
  src/waveform/renderers/glslwaveformrenderersignal.cpp
  src/waveform/renderers/glslwaveformrenderersignal.h
  src/waveform/renderers/glvsynctestrenderer.cpp
  src/waveform/renderers/glvsynctestrenderer.h
  src/waveform/renderers/glwaveformrendererfilteredsignal.cpp
  src/waveform/renderers/glwaveformrendererfilteredsignal.h
  src/waveform/renderers/glwaveformrendererrgb.cpp
  src/waveform/renderers/glwaveformrendererrgb.h
  src/waveform/renderers/glwaveformrenderersimplesignal.cpp
  src/waveform/renderers/glwaveformrenderersimplesignal.h
  src/waveform/renderers/waveformrendererabstract.h
  src/waveform/widgets/glrgbwaveformwidget.cpp
  src/waveform/widgets/glrgbwaveformwidget.h
  src/waveform/widgets/glsimplewaveformwidget.cpp
  src/waveform/widgets/glsimplewaveformwidget.h
  src/waveform/widgets/glslwaveformwidget.cpp
  src/waveform/widgets/glslwaveformwidget.h
  src/waveform/widgets/glwaveformwidget.cpp
  src/waveform/widgets/glwaveformwidget.h
  src/waveform/widgets/qtrgbwaveformwidget.cpp
  src/waveform/widgets/qtsimplewaveformwidget.cpp
  src/waveform/widgets/qtvsynctestwidget.cpp
  src/waveform/widgets/qtwaveformwidget.cpp
  src/waveform/widgets/waveformwidgetabstract.cpp
  src/waveform/widgets/waveformwidgetabstract.h
Labels: major bug, ui

#3420 build Mixxx with macOS 10.13 SDK
  tools/macos_buildenv.sh
Labels: build, critical bug

#3429 remove QtScript
  CMakeLists.txt
  script/.eslintrc.json
  script/console/__init__.js
  script/svg/__init__.js
  src/controllers/bulk/bulkcontroller.h
  src/controllers/controller.h
  src/controllers/controllermanager.cpp
  src/controllers/controllermanager.h
  src/controllers/engine/controllerengine.h
  src/skin/skincontext.cpp
  src/skin/skincontext.h
  src/skin/svgparser.cpp
  src/skin/svgparser.h
  src/test/controller_preset_validation_test.cpp
  src/test/skincontext_test.cpp
  src/util/translations.h
Labels: build, code quality

#3432 Detect and prevent duplicate signals on network errors
  src/musicbrainz/web/musicbrainzrecordingstask.cpp
  src/network/jsonwebtask.cpp
  src/network/webtask.cpp
  src/network/webtask.h
Labels: library, minor bug

#3434 Fix parsing of MusicBrainz XML response
  src/musicbrainz/musicbrainzxml.cpp
Labels: library, major bug

#3426 CPack Debian PPA Build
  .github/workflows/build.yml
  CHANGELOG.md
  CMakeLists.txt
  build/debian/compat
  build/debian/control
  build/debian/dirs
  build/debian/menu
  build/debian/mixxx-test.install
  build/debian/mixxx.desktop
  build/debian/mixxx.docs
  build/debian/mixxx.install
  build/debian/rules
  build/debian/watch
  packaging/CPackConfig.cmake
  packaging/CPackDebUploadPPA.cmake
  packaging/CPackPackageDescription.txt
  packaging/debian/changelog
  packaging/debian/compat
  packaging/debian/control.in
  packaging/debian/copyright
  packaging/debian/mixxx.docs
  packaging/debian/mixxx.sgml
  packaging/debian/rules
  packaging/debian/source/format
  packaging/debian/watch
  res/linux/mixxx-usb-uaccess.rules
  res/linux/mixxx.appdata.xml
  tools/ubuntu_buildenv.sh
Labels: build

#3438 Allow to disable -pipe build option
  CMakeLists.txt
Labels: build

#3440 Fix inconsistent naming of hot cue "index" vs. "number"
  src/engine/controls/cuecontrol.cpp
  src/track/cue.cpp
  src/track/cue.h
  src/track/cueinfo.cpp
  src/track/cueinfo.h
  src/track/serato/markers.cpp
  src/track/serato/markers2.cpp
  src/track/serato/tags.cpp
Labels: code quality

#3443 Mix auto Moc Waning
  src/widget/weffectparameterknobcomposed.cpp
Labels: ui

#3442 WebTask: Reduce code duplication and simplify timeout handling
  src/musicbrainz/tagfetcher.cpp
  src/musicbrainz/web/musicbrainzrecordingstask.cpp
  src/musicbrainz/web/musicbrainzrecordingstask.h
  src/network/jsonwebtask.cpp
  src/network/jsonwebtask.h
  src/network/webtask.cpp
  src/network/webtask.h
Labels: code quality, library

#3444 Delete remaining SCons artifacts
  lib/benchmark/SConscript
  lib/googletest-1.8.x/googlemock/SConscript
  lib/googletest-1.8.x/googletest/SConscript
  lib/libshout/SConscript
  lib/soundtouch/SConscript
Labels: build

#3446 introduce CoreServices to decouple backend from QWidgets
  CMakeLists.txt
  src/controllers/dlgprefcontroller.cpp
  src/controllers/dlgprefcontroller.h
  src/controllers/dlgprefcontrollers.cpp
  src/controllers/dlgprefcontrollers.h
  src/coreservices.cpp
  src/coreservices.h
  src/main.cpp
  src/mixer/basetrackplayer.cpp
  src/mixer/basetrackplayer.h
  src/mixer/deck.cpp
  src/mixer/deck.h
  src/mixer/playermanager.cpp
  src/mixer/playermanager.h
  src/mixer/previewdeck.cpp
  src/mixer/previewdeck.h
  src/mixer/sampler.cpp
  src/mixer/sampler.h
  src/mixxx.cpp
  src/mixxx.h
  src/preferences/dialog/dlgprefcolors.cpp
  src/preferences/dialog/dlgprefcolors.h
  src/preferences/dialog/dlgprefeffects.cpp
  src/preferences/dialog/dlgprefeffects.h
  src/preferences/dialog/dlgprefeq.cpp
  src/preferences/dialog/dlgprefeq.h
  src/preferences/dialog/dlgpreferences.cpp
  src/preferences/dialog/dlgpreferences.h
  src/preferences/dialog/dlgprefinterface.cpp
  src/preferences/dialog/dlgprefinterface.h
  src/preferences/dialog/dlgpreflibrary.cpp
  src/preferences/dialog/dlgpreflibrary.h
  src/preferences/dialog/dlgpreflv2.cpp
  src/preferences/dialog/dlgpreflv2.h
  src/preferences/dialog/dlgprefsound.cpp
  src/preferences/dialog/dlgprefsound.h
  src/preferences/dialog/dlgprefvinyl.cpp
  src/preferences/dialog/dlgprefvinyl.h
  src/preferences/dialog/dlgprefwaveform.cpp
  src/preferences/dialog/dlgprefwaveform.h
  src/skin/launchimage.cpp
  src/skin/launchimage.h
  src/soundio/soundmanagerconfig.cpp
  src/soundio/soundmanagerconfig.h
  src/test/signalpathtest.h
Labels: build, code quality, ui

#3452 clang-tidy: Enable some additional checks
  .clang-tidy
  src/analyzer/plugins/analyzerqueenmarybeats.cpp
  src/library/bpmdelegate.cpp
  src/library/browse/browsethread.cpp
  src/recording/recordingmanager.cpp
  src/track/beatgrid.cpp
  src/track/beatmap.cpp
  src/util/db/dbconnection.cpp
Labels: code quality, library

#3451 clang-tidy: Manual fixes
  CMakeLists.txt
  src/controllers/controller.cpp
  src/controllers/midi/midicontrollerpresetfilehandler.cpp
  src/library/librarycontrol.cpp
  src/library/rekordbox/rekordbox_pdb.cpp
  src/sources/soundsourcem4a.cpp
  src/waveform/waveformwidgetfactory.cpp
Labels: build, code quality, library

#3408 Define __sse__ and __sse2__ for Windows
  CMakeLists.txt
Labels: build

#3390 Generate CMakeSettings.json which defines the Visual Studio build config
  .gitignore
  README.md
  tools/windows_buildenv.bat
Labels: build, ui

#3386 Deploy Windows packages & checksums to downloads.mixxx.org
  .github/workflows/build.yml
  tools/deploy.sh
Labels: packaging/installer

#3328 Column cache fix
  CMakeLists.txt
  src/library/columncache.cpp
  src/library/columncache.h
  src/library/dao/trackschema.cpp
  src/library/dao/trackschema.h
  src/library/mixxxlibraryfeature.cpp
  src/widget/wtracktableviewheader.cpp
Labels: build, library, ui

#3421 Serato Tags: Implement Mixxx Beats to Serato Beatgrid conversion
  src/track/serato/beatgrid.cpp
  src/track/serato/beatgrid.h
  src/track/serato/tags.h
Labels: library

#3462 Windows: Don't copy whole directories at every debugger start, if nothing changed
  CMakeLists.txt
Labels: build

#3460 Library: overhaul setting the font and row height
  src/library/library.cpp
  src/preferences/dialog/dlgpreflibrary.cpp
  src/widget/wlibrarytableview.cpp
Labels: library, ui

#3465 Follow-up: Move definition of library default columns out of header file
  src/library/dao/trackschema.h
  src/library/mixxxlibraryfeature.cpp
Labels: code quality, library

#3463 ControllerEngine Refactoring
  CMakeLists.txt
  src/control/controlobjectscript.cpp
  src/control/controlobjectscript.h
  src/controllers/bulk/bulkcontroller.cpp
  src/controllers/controller.cpp
  src/controllers/controller.h
  src/controllers/controllerdebug.cpp
  src/controllers/controllerdebug.h
  src/controllers/controllerpreset.h
  src/controllers/controllerpresetfilehandler.cpp
  src/controllers/engine/controllerengine.cpp
  src/controllers/engine/controllerengine.h
  src/controllers/engine/controllerenginejsproxy.cpp
  src/controllers/engine/controllerenginejsproxy.h
  src/controllers/engine/scriptconnectionjsproxy.cpp
  src/controllers/hid/hidcontroller.cpp
  src/controllers/midi/hss1394controller.cpp
  src/controllers/midi/hss1394controller.h
  src/controllers/midi/midicontroller.cpp
  src/controllers/midi/midicontroller.h
  src/controllers/midi/portmidicontroller.cpp
  src/controllers/scripting/colormapper.cpp
  src/controllers/scripting/colormapper.h
  src/controllers/scripting/colormapperjsproxy.cpp
  src/controllers/scripting/colormapperjsproxy.h
  src/controllers/scripting/controllerscriptenginebase.cpp
  src/controllers/scripting/controllerscriptenginebase.h
  src/controllers/scripting/controllerscriptmoduleengine.cpp
  src/controllers/scripting/controllerscriptmoduleengine.h
  src/controllers/scripting/legacy/controllerscriptenginelegacy.cpp
  src/controllers/scripting/legacy/controllerscriptenginelegacy.h
  src/controllers/scripting/legacy/controllerscriptinterfacelegacy.cpp
  src/controllers/scripting/legacy/controllerscriptinterfacelegacy.h
  src/controllers/scripting/legacy/scriptconnection.cpp
  src/controllers/scripting/legacy/scriptconnection.h
  src/controllers/scripting/legacy/scriptconnectionjsproxy.cpp
  src/controllers/scripting/legacy/scriptconnectionjsproxy.h
  src/test/colormapperjsproxy_test.cpp
  src/test/controller_preset_validation_test.cpp
  src/test/controllerscriptenginelegacy_test.cpp
  src/test/midicontrollertest.cpp
  src/test/portmidicontroller_test.cpp
Labels: build, code quality, controllers

#3461 Switch remaining user-facing text from 'preset' to 'mapping'
  res/translations/mixxx.ts
  src/controllers/controllerengine.cpp
  src/controllers/dlgprefcontroller.cpp
  src/controllers/midi/midicontroller.cpp
Labels: ui

#3471 cmakelists and windows_buildenv fixes
  CMakeLists.txt
  tools/windows_buildenv.bat
Labels: build

#3475 WTrackMenu: Enable/disable external track collections dynamically
  src/widget/wtrackmenu.cpp
Labels: library, minor bug, ui

#3470 Revert not working change in CMakeLists.txt from #3462
  CMakeLists.txt
Labels: build

#3488 try to fix PPA upload from GH Actions
  .github/workflows/build.yml
Labels: build

#3486 VisualStudio debugger start performance - use xcopy instead fo CMake copy_directory
  CMakeLists.txt
Labels: build

#3491 LateNight: fix incomplete sampler template paths
  res/skins/LateNight/samplers/samplers_16decks.xml
  res/skins/LateNight/samplers/samplers_8decks.xml
Labels: skins

#3457 Last Played At: Add UI for last_played_at column
  CMakeLists.txt
  res/schema.xml
  src/library/basesqltablemodel.cpp
  src/library/basetrackcache.cpp
  src/library/basetracktablemodel.cpp
  src/library/columncache.cpp
  src/library/columncache.h
  src/library/dao/trackdao.cpp
  src/library/mixxxlibraryfeature.cpp
  src/library/playlisttablemodel.cpp
  src/library/rekordbox/rekordboxfeature.cpp
  src/library/searchquery.cpp
  src/library/serato/seratoplaylistmodel.cpp
  src/library/trackmodel.h
  src/library/trackset/setlogfeature.cpp
  src/track/track.cpp
  src/track/track.h
  src/util/db/sqlite.cpp
  src/util/db/sqlite.h
Labels: build, library

#3494 last_played_at: Fix debug assertion for invalid/missing time stamps
  src/library/basetracktablemodel.cpp
Labels: library, major bug

#3458 CMake install fixes
  CMakeLists.txt
  tools/debian_buildenv.sh
Labels: build

#3480 macOS sandboxed settings fixes
  src/mixxx.cpp
  src/util/sandbox.cpp
  src/util/sandbox.h
Labels: critical bug

#3497 Fixed merge issue
  CMakeLists.txt
Labels: build

#3503 -Woverloaded-virtual -Werror=return-type
  CMakeLists.txt
Labels: build

#3492 pre-commit: Add shellcheck hook
  .pre-commit-config.yaml
  src/test/soundFileFormats/generateFiles.sh
  tools/debian_buildenv.sh
  tools/macos_buildenv.sh
Labels: code quality

#3501 ARM compile options
  CMakeLists.txt
Labels: build

#3489 MIDI mapping wizard: add intro/outro controls
  src/controllers/controlpickermenu.cpp
Labels: controllers

#3468 lp1855783: Execute database cleanup before library scan
  src/library/dao/dao.h
  src/library/scanner/libraryscanner.cpp
Labels: library, minor bug
