Repository mixxxdj/mixxx, pull requests merged in 2020-03, with the labels that each got.

#2528 Add missing nullptr checks (pt. 2)
  src/widget/wtracktableview.cpp
Labels: critical bug

#2527 Add missing nullptr checks
  src/widget/wtracktableview.cpp
Labels: critical bug

#2523 Add CueInfo DTO
  CMakeLists.txt
  build/depends.py
  src/analyzer/analyzersilence.cpp
  src/engine/controls/cuecontrol.cpp
  src/engine/controls/vinylcontrolcontrol.cpp
  src/library/autodj/autodjprocessor.cpp
  src/library/dao/cuedao.cpp
  src/library/dlgtrackinfo.cpp
  src/library/rekordbox/rekordboxfeature.cpp
  src/mixer/basetrackplayer.cpp
  src/test/analyzersilence_test.cpp
  src/test/cuecontrol_test.cpp
  src/track/cue.cpp
  src/track/cue.h
  src/track/cueinfo.cpp
  src/track/cueinfo.h
  src/track/track.cpp
  src/track/track.h
  src/util/color/predefinedcolorsset.h
  src/widget/woverview.cpp
  src/widget/wtracktableview.cpp
Labels: engine, needs review

#2522 MusicBrainz: Extended metadata support (pre-gsoc2020)
  CMakeLists.txt
  build/depends.py
  src/library/dlgtagfetcher.cpp
  src/library/dlgtagfetcher.h
  src/library/dlgtagfetcher.ui
  src/musicbrainz/acoustidclient.cpp
  src/musicbrainz/acoustidclient.h
  src/musicbrainz/musicbrainz.cpp
  src/musicbrainz/musicbrainz.h
  src/musicbrainz/musicbrainzclient.cpp
  src/musicbrainz/musicbrainzclient.h
  src/musicbrainz/musicbrainzxml.cpp
  src/musicbrainz/musicbrainzxml.h
  src/musicbrainz/network.cpp
  src/musicbrainz/network.h
  src/musicbrainz/tagfetcher.cpp
  src/musicbrainz/tagfetcher.h
  src/musicbrainz/web/acoustidlookuptask.cpp
  src/musicbrainz/web/acoustidlookuptask.h
  src/musicbrainz/web/musicbrainzrecordingstask.cpp
  src/musicbrainz/web/musicbrainzrecordingstask.h
  src/network/httprequestmethod.h
  src/network/httpstatuscode.h
  src/network/jsonwebtask.cpp
  src/network/jsonwebtask.h
  src/network/webtask.cpp
  src/network/webtask.h
  src/test/tracknumberstest.cpp
  src/track/track.h
  src/track/trackmetadatataglib.cpp
  src/track/tracknumbers.cpp
  src/track/tracknumbers.h
  src/util/compatibility.h
Labels: library

#2460 Prevent pushbuttons with 'blocked' controls getting stuck pressed
  src/widget/wpushbutton.cpp
  src/widget/wpushbutton.h
Labels: minor bug

#2499 Serato Markers Integration for Track Color/BPM lock
  CMakeLists.txt
  build/depends.py
  src/test/seratomarkers2test.cpp
  src/test/seratomarkerstest.cpp
  src/test/seratotagstest.cpp
  src/track/serato/markers.cpp
  src/track/serato/markers.h
  src/track/serato/markers2.cpp
  src/track/serato/markers2.h
  src/track/serato/tags.cpp
  src/track/serato/tags.h
  src/track/track.cpp
  src/track/trackinfo.cpp
  src/track/trackinfo.h
  src/track/trackmetadatataglib.cpp
  src/track/trackrecord.cpp
Labels: library, needs review

#2533 build/osx/OSCons.py: Convert script to python 3 and fix some linter issues
  build/osx/OSConsX.py
Labels: build

#2529 Get CueInfo from Cue object
  CMakeLists.txt
  src/engine/controls/cuecontrol.cpp
  src/test/cue_test.cpp
  src/track/cue.cpp
  src/track/cue.h
  src/track/cueinfo.cpp
  src/track/cueinfo.h
  src/track/track.cpp
Labels: code quality

#2536 build/osx/OSConsX: Fix a few more issues
  build/osx/OSConsX.py
Labels: build, code quality

#2531 Ability to skip when both decks are playing on auto dj
  CHANGELOG
  src/library/autodj/autodjprocessor.cpp
  src/library/autodj/autodjprocessor.h
Labels: autodj, minor bug

#2540 Use QLatin1String instead of QStringLiteral
  src/musicbrainz/web/acoustidlookuptask.cpp
Labels: code quality

#2508 Restore invalid cover image hashes
  src/library/basesqltablemodel.cpp
  src/library/basesqltablemodel.h
  src/library/browse/browsetablemodel.cpp
  src/library/browse/browsetablemodel.h
  src/library/coverart.cpp
  src/library/coverart.h
  src/library/coverartcache.cpp
  src/library/coverartcache.h
  src/library/coverartdelegate.cpp
  src/library/coverartdelegate.h
  src/library/coverartutils.cpp
  src/library/coverartutils.h
  src/library/dao/trackdao.cpp
  src/library/dlgcoverartfullsize.cpp
  src/library/dlgcoverartfullsize.h
  src/library/dlgtrackinfo.cpp
  src/library/dlgtrackinfo.h
  src/library/proxytrackmodel.cpp
  src/library/proxytrackmodel.h
  src/library/trackmodel.h
  src/sources/soundsourceproxy.cpp
  src/test/autodjprocessor_test.cpp
  src/test/coverartcache_test.cpp
  src/test/librarytest.cpp
  src/test/librarytest.h
  src/test/mixxxtest.cpp
  src/test/searchqueryparsertest.cpp
  src/track/track.cpp
  src/track/track.h
  src/widget/wcoverart.cpp
  src/widget/wcoverart.h
  src/widget/wspinny.cpp
  src/widget/wspinny.h
  src/widget/wtracktableview.cpp
Labels: library, minor bug

#2535 lp1865957 TagLib: Fix detection of empty or missing file tags
  src/sources/metadatasourcetaglib.cpp
  src/track/trackmetadatataglib.cpp
  src/track/trackmetadatataglib.h
Labels: major bug, sources

#2465 mapping files for Hercules DJControl Inpulse 300
  res/controllers/Hercules-DJControl-Inpulse-300-script.js
  res/controllers/Hercules_DJControl_Inpulse_300.midi.xml
Labels: controllers

#1716 Lp1777667 Quantize with different tempos
  src/engine/controls/bpmcontrol.cpp
  src/engine/controls/bpmcontrol.h
  src/engine/controls/enginecontrol.cpp
  src/engine/controls/loopingcontrol.cpp
  src/engine/controls/quantizecontrol.cpp
  src/engine/controls/quantizecontrol.h
  src/engine/controls/ratecontrol.cpp
  src/engine/controls/ratecontrol.h
  src/engine/enginebuffer.cpp
  src/engine/enginebuffer.h
  src/engine/sync/enginesync.cpp
  src/engine/sync/internalclock.cpp
  src/engine/sync/internalclock.h
  src/engine/sync/syncable.h
  src/engine/sync/synccontrol.cpp
  src/engine/sync/synccontrol.h
  src/test/enginesynctest.cpp
  src/test/looping_control_test.cpp
  src/test/mockedenginebackendtest.h
  src/track/beatgrid.cpp
  src/track/beatgrid.h
  src/track/beatmap.cpp
  src/track/beatmap.h
  src/track/beats.h
Labels: engine

#2539 Use trackcolor for whole row
  src/library/basesqltablemodel.cpp
  src/library/coverartdelegate.cpp
  src/library/locationdelegate.cpp
  src/library/previewbuttondelegate.cpp
  src/library/stardelegate.cpp
  src/library/stardelegate.h
  src/library/tableitemdelegate.cpp
  src/library/tableitemdelegate.h
Labels: library, ui

#2544 Clean up common-controller-scripts.js
  res/controllers/.eslintrc.json
  res/controllers/common-controller-scripts.js
Labels: code quality, controllers

#2543 Store remaining Rekordbox memory cues as hotcues
  src/library/rekordbox/rekordboxfeature.cpp
Labels: library

#2550 Fix CMake LLVM/Clang build
  CMakeLists.txt
Labels: build

#2551 Hotfix: Don't store null cue labels in database
  src/library/dao/cuedao.cpp
Labels: major bug

#2552 add placeholder text for hotcue name
  src/widget/wcuemenupopup.cpp
Labels: ui

#2548 Shade :: fix track color picker
  res/skins/Shade/style.qss
  res/skins/Shade/style_dark.qss
  res/skins/Shade/style_summer_sunset.qss
Labels: skins

#2556 CMake: Fix pixmaps install path
  CMakeLists.txt
Labels: build

#1755 Auxilliary skin improvements
  res/skins/Deere (64 Samplers)/skin.xml
  res/skins/Deere/auxiliary.xml
  res/skins/Deere/auxiliary_unconfigured.xml
  res/skins/Deere/icon/ic_orientation_aux.svg
  res/skins/Deere/icon/ic_orientation_aux_left.svg
  res/skins/Deere/icon/ic_orientation_aux_right.svg
  res/skins/Deere/knob_with_label.xml
  res/skins/Deere/microphone.xml
  res/skins/Deere/microphone_rack.xml
  res/skins/Deere/microphone_talkover_button.xml
  res/skins/Deere/microphone_unconfigured.xml
  res/skins/Deere/skin.xml
  res/skins/Deere/style.qss
  res/skins/Deere/vumeter.xml
  res/skins/LateNight/aux_unit.xml
  res/skins/LateNight/aux_unit_unconfigured.xml
  res/skins/LateNight/mic_aux_rack.xml
  res/skins/LateNight/mic_unit.xml
  res/skins/LateNight/mic_unit_unconfigured.xml
  res/skins/LateNight/style.qss
  res/skins/LateNight/style_flip.qss
  res/skins/Shade/deck_transport.xml
  res/skins/Tango (64 Samplers)/skin.xml
  res/skins/Tango/aux_unit.xml
  res/skins/Tango/aux_unit_unconfigured.xml
  res/skins/Tango/mic_aux_rack.xml
  res/skins/Tango/mic_unit_unconfigured.xml
  res/skins/Tango/skin.xml
  res/skins/Tango/style.qss
  src/engine/channels/engineaux.cpp
  src/engine/channels/enginechannel.cpp
  src/mixer/auxiliary.cpp
  src/mixer/auxiliary.h
  src/mixer/microphone.cpp
  src/mixer/microphone.h
  src/mixer/playermanager.cpp
  src/mixer/playermanager.h
  src/mixxx.cpp
  src/mixxx.h
  src/skin/tooltips.cpp
Labels: skins

#2562 CMake: Fix install destinations
  CMakeLists.txt
Labels: build, minor bug

#2563 CMake: Install license files and docs in separate directories
  CMakeLists.txt
Labels: build

#2564 Fix beatsync while sync is enabled
  src/engine/controls/bpmcontrol.cpp
Labels: engine, major bug

#2566 Disable installation of GoogleTest libraries
  CMakeLists.txt
Labels: build

#2559 [DDJ-SB2] Fixes auto tempo going to infinity bug.
  res/controllers/Pioneer-DDJ-SB2-scripts.js
Labels: controllers

#2571 Use python 3.7 style for checking scripts
  .pre-commit-config.yaml
Labels: code quality

#2530 Make Hotcue RGB colors configurable
  CMakeLists.txt
  build/depends.py
  res/images/preferences/ic_preferences_colors.svg
  res/mixxx.qrc
  src/engine/controls/cuecontrol.cpp
  src/preferences/colorpaletteeditor.cpp
  src/preferences/colorpaletteeditor.h
  src/preferences/colorpaletteeditormodel.cpp
  src/preferences/colorpaletteeditormodel.h
  src/preferences/colorpalettesettings.cpp
  src/preferences/dialog/dlgprefcolors.cpp
  src/preferences/dialog/dlgprefcolors.h
  src/preferences/dialog/dlgprefcolorsdlg.ui
  src/preferences/dialog/dlgprefdeck.cpp
  src/preferences/dialog/dlgprefdeck.h
  src/preferences/dialog/dlgprefdeckdlg.ui
  src/preferences/dialog/dlgpreferences.cpp
  src/preferences/dialog/dlgpreferences.h
  src/test/colorconfig_test.cpp
  src/test/colorpalette_test.cpp
  src/track/cue.cpp
  src/util/color/colorpalette.cpp
  src/util/color/colorpalette.h
  src/util/color/predefinedcolorpalettes.cpp
  src/util/color/predefinedcolorpalettes.h
Labels: ui

#2574 Deere: Fix duplicate declaration in style.qss
  res/skins/Deere/style.qss
Labels: code quality, skins

#2572 Disable script extensions
  src/skin/skincontext.cpp
Labels: skins

#2555 Rekordbox RGB hotcue colors
  src/library/rekordbox/rekordboxfeature.cpp
Labels: library

#2558 Update USB HID/bulk udev rules
  CMakeLists.txt
  SConscript
  res/linux/mixxx-usb-uaccess.rules
  res/linux/mixxx.usb.rules
Labels: devices

#2570 CMake: Add support for script directory
  CMakeLists.txt
Labels: build, minor bug

#2557 Color Picker Improvements
  res/skins/default.qss
  src/widget/wcolorpicker.cpp
  src/widget/wcolorpicker.h
  src/widget/wcolorpickeraction.cpp
  src/widget/wcolorpickeraction.h
  src/widget/wcuemenupopup.cpp
  src/widget/wtracktableview.cpp
Labels: ui

#2586 Fix missing connection for Reset button
  src/preferences/colorpaletteeditor.cpp
Labels: major bug, ui

#2585 engine/controls/cuecontrol: Fix setting next/previous hotcue color
  src/engine/controls/cuecontrol.cpp
Labels: minor bug

#2561 Roland DJ-505: Fix SYNC button behaviour
  res/controllers/Roland_DJ-505-scripts.js
Labels: controllers, minor bug

#2582 Roland DJ-505: Fix Cue Loop and Pitch Play mode
  res/controllers/Roland_DJ-505-scripts.js
Labels: controllers, minor bug

#2580 Add missing table column when inserting tracks into database
  src/library/dao/trackdao.cpp
Labels: code quality

#2560 Hotcue Buttons, Context Menu + Skin Improvements.
  CMakeLists.txt
  build/depends.py
  res/skins/Deere/hotcue_button.xml
  res/skins/Deere/style.qss
  res/skins/LateNight/button_hotcue.xml
  res/skins/LateNight/style.qss
  res/skins/LateNight/style_flip.qss
  res/skins/Shade/btn/btn_hotcue_1.png
  res/skins/Shade/btn/btn_hotcue_1_over.png
  res/skins/Shade/btn/btn_hotcue_1_overdown.png
  res/skins/Shade/btn/btn_hotcue_2.png
  res/skins/Shade/btn/btn_hotcue_2_over.png
  res/skins/Shade/btn/btn_hotcue_2_overdown.png
  res/skins/Shade/btn/btn_hotcue_3.png
  res/skins/Shade/btn/btn_hotcue_3_over.png
  res/skins/Shade/btn/btn_hotcue_3_overdown.png
  res/skins/Shade/btn/btn_hotcue_4.png
  res/skins/Shade/btn/btn_hotcue_4_over.png
  res/skins/Shade/btn/btn_hotcue_4_overdown.png
  res/skins/Shade/btn/btn_hotcue_5.png
  res/skins/Shade/btn/btn_hotcue_5_over.png
  res/skins/Shade/btn/btn_hotcue_5_overdown.png
  res/skins/Shade/btn/btn_hotcue_6.png
  res/skins/Shade/btn/btn_hotcue_6_over.png
  res/skins/Shade/btn/btn_hotcue_6_overdown.png
  res/skins/Shade/btn/btn_hotcue_7.png
  res/skins/Shade/btn/btn_hotcue_7_over.png
  res/skins/Shade/btn/btn_hotcue_7_overdown.png
  res/skins/Shade/btn/btn_hotcue_8.png
  res/skins/Shade/btn/btn_hotcue_8_over.png
  res/skins/Shade/btn/btn_hotcue_8_overdown.png
  res/skins/Shade/hotcue_button.xml
  res/skins/Tango/button_hotcue_deck.xml
  res/skins/Tango/button_hotcue_sam_pre.xml
  res/skins/Tango/style.qss
  src/engine/controls/cuecontrol.cpp
  src/engine/controls/cuecontrol.h
  src/skin/legacyskinparser.cpp
  src/skin/skincontext.h
  src/skin/tooltips.cpp
  src/util/color/color.h
  src/widget/whotcuebutton.cpp
  src/widget/whotcuebutton.h
  src/widget/woverview.cpp
  src/widget/woverview.h
  src/widget/wpushbutton.h
  src/widget/wwidget.cpp
  src/widget/wwidget.h
Labels: skins, ui

#2595 lp1864512 : Preferences DialogBox: LeftNavbar Pane width made adjustable
  src/preferences/dialog/dlgpreferencesdlg.ui
Labels: ui

#2602 CMake: Fix PortAudio package warning
  CMakeLists.txt
  cmake/modules/FindPortAudio.cmake
Labels: build

#2603 pre-commit: Install clang-format dependency automatically
  .pre-commit-config.yaml
Labels: build, code quality

#2606 DlgTrackInfo: Show "Summary" instead of "BPM" upon opening
  src/library/dlgtrackinfo.cpp
  src/library/dlgtrackinfo.h
  src/library/dlgtrackinfo.ui
Labels: ui

#2609 added udev rule for AlphaTheta devices
  res/linux/mixxx-usb-uaccess.rules
Labels: devices

#2610 WPushButton debug tooltip
  src/widget/wpushbutton.cpp
  src/widget/wpushbutton.h
Labels: minor bug, skins

#2575 Show "passthrough" on Waveform Overviews if enabled
  src/widget/woverview.cpp
  src/widget/woverview.h
Labels: ui
