Repository mixxxdj/mixxx, pull requests merged in 2020-02, with the labels that each got.

#2476 lp1861433: Fix broken signal/slot connection
  src/preferences/dialog/dlgpreferences.cpp
Labels: major bug

#2479 util/compatibility: Don't use pass-by-copy in atomic helper functions
  src/util/compatibility.h
Labels: major bug

#2478 lp1861421: Fix error prone recording settings prefs design
  src/encoder/encoderflacsettings.h
  src/encoder/encodermp3settings.h
  src/encoder/encoderopussettings.h
  src/encoder/encoderrecordingsettings.h
  src/encoder/encodervorbissettings.h
  src/encoder/encoderwavesettings.h
  src/preferences/dialog/dlgprefrecord.cpp
Labels: critical bug

#2477 lp1861431: Fix debug assertion for invalid crate names
  src/library/crate/cratefeature.cpp
  src/library/crate/cratefeaturehelper.cpp
  src/util/db/dbnamedentity.h
Labels: minor bug

#2455 Fix SkinContext parent/child relationships and overall design
  src/skin/legacyskinparser.cpp
  src/skin/skincontext.cpp
  src/skin/skincontext.h
  src/skin/svgparser.cpp
  src/skin/svgparser.h
  src/waveform/waveformwidgetfactory.cpp
  src/waveform/waveformwidgetfactory.h
  src/widget/wpushbutton.cpp
Labels: code quality, minor bug

#2414 Store default recording format after "Resore Defaults", fixing lp1857806
  CHANGELOG
  src/preferences/dialog/dlgprefrecord.cpp
  src/preferences/dialog/dlgprefrecord.h
Labels: minor bug

#2464 Add pre-commit config
  .pre-commit-config.yaml
  .travis.yml
  scripts/qsscheck.py
Labels: code quality

#2411 Changes to make appveyor script usable for developers.
  build/appveyor/build_mixxx.bat
  build/windows/install_buildenv.bat
Labels: build

#2485 .travis.yml: Use correct Python version for travis pre-commit jobs
  .travis.yml
Labels: code quality

#2474 engine/enginedeck: Don't stop playback if no passthru input is configured
  src/engine/enginedeck.cpp
  src/engine/enginedeck.h
  src/mixer/basetrackplayer.cpp
  src/mixer/basetrackplayer.h
  src/mixer/playermanager.cpp
Labels: engine, minor bug

#2028 tweak scratch parameters for Mixtrack Platinum
  res/controllers/Numark-Mixtrack-Platinum-scripts.js
Labels: controllers

#2471 Pushbutton tweaks
  src/widget/wlabel.cpp
  src/widget/wpushbutton.cpp
  src/widget/wpushbutton.h
Labels: skins

#2289 Skins / WidgetStack: keep keyboard focus in Library when toggling [Master],maximize_library
  res/skins/Deere (64 Samplers)/skin.xml
  res/skins/Deere/skin.xml
  res/skins/LateNight/skin.xml
  res/skins/Tango (64 Samplers)/skin.xml
  res/skins/Tango/skin.xml
  src/widget/wwidgetstack.cpp
  src/widget/wwidgetstack.h
Labels: skins

#2487 Library Column Improvements
  src/library/basesqltablemodel.cpp
  src/library/trackmodel.h
Labels: library

#2492 Roland DJ-505: Fix disappearing colors on ROLL mode loop size change
  res/controllers/Roland_DJ-505-scripts.js
Labels: controllers, minor bug

#2483 Roland DJ-505: Add rudimentary support for the jog wheel LED indicators
  res/controllers/Roland_DJ-505-scripts.js
Labels: controllers

#2400 use library font family & size also for search box, adjust Clear button
  res/images/library/ic_library_cross.svg
  res/images/library/ic_library_cross_grey.svg
  res/images/library/ic_library_cross_orange.svg
  res/mixxx.qrc
  res/skins/Deere/style.qss
  res/skins/LateNight/style.qss
  res/skins/Shade/skin.xml
  res/skins/Shade/style.qss
  res/skins/Tango/library.xml
  res/skins/Tango/style.qss
  res/skins/default.qss
  src/library/library.cpp
  src/library/library.h
  src/skin/legacyskinparser.cpp
  src/widget/wsearchlineedit.cpp
  src/widget/wsearchlineedit.h
Labels: skins

#2490 Fix broken CMake builds on Windows
  CMakeLists.txt
Labels: build

#2332 Appveyor CI changes for CMake
  appveyor.yml
  cmake/ctest-to-junit.xsl
Labels: build

#2496 Library -> WSearchLineEdit: Fix wrong signal/slot direction
  src/library/library.cpp
  src/library/library.h
  src/skin/legacyskinparser.cpp
  src/widget/wsearchlineedit.cpp
Labels: minor bug

#2404 Fix relocating of moved tracks in external collections
  src/library/dao/directorydao.cpp
  src/library/dao/directorydao.h
  src/library/dao/trackdao.cpp
  src/library/dao/trackdao.h
  src/library/externaltrackcollection.cpp
  src/library/externaltrackcollection.h
  src/library/relocatedtrack.h
  src/library/scanner/libraryscanner.cpp
  src/library/scanner/libraryscanner.h
  src/library/trackcollection.cpp
  src/library/trackcollectionmanager.cpp
  src/library/trackcollectionmanager.h
  src/test/directorydaotest.cpp
  src/test/trackdao_test.cpp
Labels: library

#2441 Fixes Auto DJ going wild: Lp1858340
  src/library/autodj/autodjprocessor.cpp
  src/library/autodj/autodjprocessor.h
  src/test/autodjprocessor_test.cpp
Labels: major bug

#2491 scripts: Add serato heartbeat script
  scripts/serato_heartbeat.py
Labels: controllers

#2482 pre-commit: Add hooks for Python
  .flake8
  .pre-commit-config.yaml
  pyproject.toml
  scripts/audioplot.py
  scripts/generate_sample_functions.py
  scripts/lp_to_github/fix_mixxx_authors.py
  scripts/lp_to_github/fix_mixxx_committers.py
  scripts/make_xone.py
  scripts/qsscheck.py
Labels: code quality

#2498 build/osx/otool: Fix indentation errors using black
  build/osx/otool.py
Labels: build

#2500 scripts/serato_heartbeat: Fix small formatting issue
  scripts/serato_heartbeat.py
Labels: code quality

#2502 TreeItem: Initialize LibraryFeature consistently
  src/library/autodj/autodjfeature.cpp
  src/library/banshee/bansheefeature.cpp
  src/library/baseplaylistfeature.cpp
  src/library/browse/browsefeature.cpp
  src/library/crate/cratefeature.cpp
  src/library/itunes/itunesfeature.cpp
  src/library/mixxxlibraryfeature.cpp
  src/library/playlistfeature.cpp
  src/library/rekordbox/rekordboxfeature.cpp
  src/library/rhythmbox/rhythmboxfeature.cpp
  src/library/setlogfeature.cpp
  src/library/traktor/traktorfeature.cpp
  src/library/treeitem.cpp
  src/library/treeitem.h
  src/library/treeitemmodel.cpp
Labels: code quality, library

#2480 Add Serato library feature
  CMakeLists.txt
  build/depends.py
  res/images/library/ic_library_serato.svg
  res/mixxx.qrc
  res/schema.xml
  src/library/library.cpp
  src/library/serato/seratofeature.cpp
  src/library/serato/seratofeature.h
  src/library/serato/seratoplaylistmodel.cpp
  src/library/serato/seratoplaylistmodel.h
  src/preferences/dialog/dlgpreflibrary.cpp
  src/preferences/dialog/dlgpreflibrarydlg.ui
Labels: library, needs review

#2129 [macOS testing required] Fix cue shift/offset for SoundSourceCoreAudio
  src/sources/soundsourcecoreaudio.cpp
  src/sources/soundsourcecoreaudio.h
Labels: sources

#2470 lp1100882: Add support for track colors
  CMakeLists.txt
  build/depends.py
  res/schema.xml
  res/skins/default.qss
  src/database/mixxxdb.cpp
  src/library/basesqltablemodel.cpp
  src/library/basetrackcache.cpp
  src/library/colordelegate.cpp
  src/library/colordelegate.h
  src/library/columncache.cpp
  src/library/columncache.h
  src/library/dao/trackdao.cpp
  src/library/dao/trackschema.h
  src/library/mixxxlibraryfeature.cpp
  src/library/trackmodel.h
  src/track/track.cpp
  src/track/track.h
  src/track/trackrecord.h
  src/widget/wcolorpicker.cpp
  src/widget/wcolorpicker.h
  src/widget/wcolorpickeraction.cpp
  src/widget/wcolorpickeraction.h
  src/widget/wcuemenupopup.cpp
  src/widget/wtracktableview.cpp
  src/widget/wtracktableview.h
Labels: library, needs review, ui

#2497 LibraryScanner: Improve hashing of directory contents
  CMakeLists.txt
  build/depends.py
  src/library/dao/libraryhashdao.cpp
  src/library/dao/libraryhashdao.h
  src/library/scanner/importfilestask.cpp
  src/library/scanner/importfilestask.h
  src/library/scanner/libraryscanner.cpp
  src/library/scanner/libraryscanner.h
  src/library/scanner/recursivescandirectorytask.cpp
  src/library/scanner/scannerglobal.h
  src/library/scanner/scannertask.h
  src/mixxxapplication.cpp
  src/test/cache_test.cpp
  src/util/cache.cpp
  src/util/cache.h
Labels: library

#2507 Cover Image Hash: Refactoring
  src/library/coverart.cpp
  src/library/coverart.h
  src/library/coverartcache.cpp
  src/library/coverartutils.cpp
  src/library/coverartutils.h
  src/test/coverartutils_test.cpp
  src/widget/wcoverartmenu.cpp
Labels: code quality

#2509 Fix debug log that involves DB lookup
  src/library/baseexternallibraryfeature.cpp
  src/library/baseexternallibraryfeature.h
Labels: code quality, library

#2503 Track->TrackDAO: Simplify changed/clean/dirty signals
  src/library/basetrackcache.cpp
  src/library/dao/trackdao.cpp
  src/library/dao/trackdao.h
  src/library/dlgtagfetcher.cpp
  src/library/dlgtagfetcher.h
  src/library/dlgtrackinfo.cpp
  src/library/dlgtrackinfo.h
  src/track/track.cpp
  src/track/track.h
  src/widget/wcoverartlabel.cpp
  src/widget/wstarrating.cpp
  src/widget/wstarrating.h
  src/widget/wtrackproperty.cpp
  src/widget/wtrackproperty.h
  src/widget/wtracktext.cpp
  src/widget/wtracktext.h
Labels: code quality, library

#2510 MusicBrainz: Handle 301 status response
  src/musicbrainz/musicbrainzclient.cpp
Labels: library, minor bug

#2513 Hotfix: Connect/disconnect BaseTrackCache in TrackCollection
  src/library/basetrackcache.cpp
  src/library/basetrackcache.h
  src/library/trackcollection.cpp
Labels: critical bug

#2515 Fix runtime dependencies of LibraryScanner
  src/library/basetrackcache.h
  src/library/scanner/libraryscanner.cpp
  src/library/scanner/libraryscanner.h
  src/library/trackcollection.cpp
  src/library/trackcollectionmanager.cpp
  src/library/trackcollectionmanager.h
  src/test/libraryscannertest.cpp
  src/track/globaltrackcache.cpp
Labels: code quality, library

#2511 Use URI path for in-memory database
  src/database/mixxxdb.cpp
  src/util/db/dbconnection.cpp
  src/util/db/dbconnection.h
Labels: code quality, library

#2517 Fix track color library inline editing
  src/library/basesqltablemodel.cpp
Labels: library, minor bug

#2519 pre-commit: Do not run `git clang-format` in parallel
  .pre-commit-config.yaml
Labels: code quality

#2516 Utility functions for formatting UUIDs
  CMakeLists.txt
  src/test/compatibility_test.cpp
  src/track/trackmetadatataglib.cpp
  src/util/compatibility.h
Labels: code quality, minor bug

#2518 Conversion functions for RgbColor
  src/control/convert.h
  src/library/basesqltablemodel.cpp
  src/library/basetrackcache.cpp
  src/library/colordelegate.cpp
  src/library/dao/trackdao.cpp
  src/test/rgbcolor_test.cpp
  src/util/color/rgbcolor.h
  src/widget/wtracktableview.cpp
Labels: code quality

#2505 use TrackRef instead of TrackId
  src/library/basesqltablemodel.cpp
  src/library/basesqltablemodel.h
  src/library/dao/trackdao.cpp
  src/library/dao/trackdao.h
  src/library/hiddentablemodel.cpp
  src/library/missingtablemodel.cpp
  src/library/scanner/libraryscanner.cpp
  src/library/trackcollection.cpp
  src/library/trackcollectionmanager.cpp
  src/library/trackcollectionmanager.h
  src/test/trackdao_test.cpp
Labels: library, needs review
