Repository mixxxdj/mixxx, pull requests merged in 2020-10, with the labels that each got.

#3137 Waveform: add track end markers
  src/waveform/renderers/waveformrendererpreroll.cpp
  src/waveform/renderers/waveformwidgetrenderer.cpp
  src/waveform/renderers/waveformwidgetrenderer.h
Labels: skins

#3143 Waveform: apply configured beatgrid opacity after start
  src/preferences/dialog/dlgprefwaveform.cpp
  src/waveform/renderers/waveformrenderbeat.cpp
  src/waveform/renderers/waveformwidgetrenderer.h
  src/waveform/waveformwidgetfactory.cpp
  src/waveform/waveformwidgetfactory.h
Labels: ui

#2970 HidController: loop until no more messages are available on poll
  src/controllers/controllermanager.cpp
  src/controllers/controllermanager.h
  src/controllers/hid/hidcontroller.cpp
  src/controllers/hid/hidcontroller.h
Labels: major bug

#3152 Fix Clang 10.0 warnings
  src/analyzer/plugins/analyzerkeyfinder.cpp
  src/analyzer/plugins/analyzerkeyfinder.h
  src/library/previewbuttondelegate.h
Labels: code quality

#3156 Preferences: fix tab order in some pages
  src/preferences/dialog/dlgprefbeats.cpp
  src/preferences/dialog/dlgprefbeats.h
  src/preferences/dialog/dlgprefbeatsdlg.ui
  src/preferences/dialog/dlgprefbroadcast.cpp
  src/preferences/dialog/dlgprefbroadcastdlg.ui
  src/preferences/dialog/dlgprefdeckdlg.ui
  src/preferences/dialog/dlgprefeqdlg.ui
  src/preferences/dialog/dlgprefsounddlg.ui
  src/preferences/dialog/dlgprefwaveformdlg.ui
Labels: ui

#3151 Deere tweaks
  res/skins/Deere/skinsettings_button.xml
  res/skins/Deere/style.qss
  res/skins/Deere/vinylcontrol.xml
Labels: skins

#3111 Fix manual link to point to new manual website
  src/defs_urls.h
Labels: ui

#3163 Preferences: update some wiki & forums links
  src/controllers/dlgprefcontrollersdlg.ui
  src/preferences/dialog/dlgprefsounddlg.ui
Labels: ui

#3169 History feature: remove html stylesheet from cpp
  src/library/setlogfeature.cpp
Labels: ui

#3170 Added details on suported Rekordbox databases
  src/library/rekordbox/rekordboxfeature.cpp
Labels: library

#3168 Removed dependency for clang-format
  .pre-commit-config.yaml
Labels: code quality

#3142 Finish migration to track_decl.h
  src/library/autodj/autodjfeature.cpp
  src/library/autodj/autodjprocessor.cpp
  src/library/autodj/dlgautodj.cpp
  src/library/banshee/bansheefeature.cpp
  src/library/banshee/bansheeplaylistmodel.cpp
  src/library/baseexternalplaylistmodel.cpp
  src/library/baseexternaltrackmodel.cpp
  src/library/baseplaylistfeature.cpp
  src/library/basesqltablemodel.cpp
  src/library/basetracktablemodel.cpp
  src/library/basetracktablemodel.h
  src/library/coverartcache.cpp
  src/library/coverartutils.cpp
  src/library/coverartutils.h
  src/library/crate/cratefeature.cpp
  src/library/crate/cratetablemodel.cpp
  src/library/dlgcoverartfullsize.cpp
  src/library/export/trackexportdlg.h
  src/library/export/trackexportwizard.h
  src/library/export/trackexportworker.cpp
  src/library/export/trackexportworker.h
  src/library/rekordbox/rekordboxfeature.cpp
  src/library/scanner/libraryscanner.cpp
  src/library/setlogfeature.cpp
  src/sources/soundsourceproxy.cpp
  src/test/coverartutils_test.cpp
  src/test/trackexport_test.cpp
  src/widget/wcoverart.cpp
  src/widget/wspinny.cpp
  src/widget/wtrackmenu.cpp
Labels: code quality

#3150 Shade tweaks
  res/skins/Shade/btn/btn_eject.png
  res/skins/Shade/btn/btn_eject_over.png
  res/skins/Shade/btn/btn_slip.png
  res/skins/Shade/btn/btn_slip_over.png
  res/skins/Shade/deck.xml
  res/skins/Shade/deck_small.xml
  res/skins/Shade/slider_pitch.png
  res/skins/Shade/style.qss
Labels: skins

#3164 Deere: move Play/Cue to the left
  res/skins/Deere/deck_beatjump_controls.xml
  res/skins/Deere/deck_controls_row.xml
  res/skins/Deere/deck_looping_controls.xml
  res/skins/Deere/mixer.xml
  res/skins/Deere/skin.xml
  res/skins/Deere/skin_settings.xml
  res/skins/Deere/style.qss
Labels: skins

#3122 Fix some -Wfloat-conversion warnings (Pt. 3)
  src/audio/types.h
  src/effects/builtin/autopaneffect.cpp
  src/effects/builtin/flangereffect.h
  src/effects/builtin/metronomeeffect.cpp
  src/encoder/encoderopus.cpp
  src/engine/sidechain/shoutconnection.cpp
  src/library/autodj/autodjprocessor.cpp
  src/library/autodj/autodjprocessor.h
  src/library/dao/trackdao.cpp
  src/library/librarycontrol.cpp
  src/mixer/playerinfo.cpp
  src/preferences/dialog/dlgprefbroadcast.cpp
  src/preferences/dialog/dlgprefeq.cpp
  src/preferences/dialog/dlgprefwaveform.cpp
  src/test/analyzersilence_test.cpp
  src/test/sampleutiltest.cpp
  src/vinylcontrol/vinylcontrolxwax.cpp
  src/waveform/renderers/glslwaveformrenderersignal.cpp
  src/waveform/renderers/glwaveformrendererfilteredsignal.cpp
  src/waveform/renderers/glwaveformrendererrgb.cpp
  src/waveform/renderers/glwaveformrenderersimplesignal.cpp
  src/waveform/renderers/waveformrendererfilteredsignal.cpp
  src/waveform/renderers/waveformrendererhsv.cpp
  src/waveform/renderers/waveformrendererpreroll.cpp
  src/waveform/renderers/waveformrendererrgb.cpp
  src/waveform/renderers/waveformrendermarkrange.cpp
  src/waveform/renderers/waveformsignalcolors.cpp
  src/waveform/renderers/waveformsignalcolors.h
  src/waveform/vsyncthread.cpp
  src/waveform/waveformwidgetfactory.cpp
  src/widget/wbeatspinbox.cpp
  src/widget/weffectselector.cpp
  src/widget/wknobcomposed.cpp
  src/widget/woverviewhsv.cpp
  src/widget/woverviewrgb.cpp
  src/widget/wspinny.cpp
Labels: code quality

#3124 Fix some -Wfloat-conversion warnings (Pt. 5)
  src/effects/builtin/phasereffect.cpp
  src/effects/builtin/reverbeffect.cpp
  src/effects/builtin/tremoloeffect.cpp
  src/engine/bufferscalers/enginebufferscalelinear.cpp
  src/engine/effects/engineeffectchain.cpp
  src/engine/enginemaster.cpp
  src/engine/enginepregain.cpp
  src/engine/enginepregain.h
  src/engine/enginetalkoverducking.cpp
  src/engine/enginevumeter.cpp
  src/engine/enginevumeter.h
  src/engine/sidechain/enginerecord.cpp
Labels: code quality

#3125 Fix some -Wfloat-conversion warnings (Pt. 6)
  src/effects/lv2/lv2effectprocessor.cpp
  src/engine/controls/bpmcontrol.cpp
  src/engine/controls/loopingcontrol.cpp
  src/engine/sidechain/enginenetworkstream.cpp
  src/engine/sidechain/enginerecord.cpp
  src/engine/sidechain/enginerecord.h
  src/engine/sidechain/networkoutputstreamworker.cpp
  src/library/rekordbox/rekordboxfeature.cpp
  src/skin/imgcolor.cpp
  src/sources/soundsourceopus.cpp
  src/vinylcontrol/vinylcontrolsignalwidget.cpp
  src/waveform/renderers/waveformrendermark.cpp
  src/waveform/renderers/waveformwidgetrenderer.cpp
  src/waveform/visualplayposition.cpp
  src/waveform/waveform.cpp
  src/waveform/waveformmarklabel.cpp
  src/waveform/widgets/waveformwidgetabstract.cpp
  src/widget/woverview.cpp
  src/widget/woverview.h
Labels: code quality

#3101 Add support for Serato Cue Export
  src/test/seratotagstest.cpp
  src/track/serato/markers.cpp
  src/track/serato/markers.h
  src/track/serato/markers2.cpp
  src/track/serato/markers2.h
  src/track/serato/tags.cpp
  src/track/serato/tags.h
Labels: library

#3175 WaveformWidgetRenderer: Fix playPosVSample rounding error
  src/waveform/renderers/waveformwidgetrenderer.cpp
Labels: major bug, ui

#3117 loopcontrol: prevent moving a loop beyond track end
  CHANGELOG
  src/engine/loopingcontrol.cpp
Labels: engine, minor bug

#3182 Fix some -Wfloat-conversion warnings (Pt. 9)
  src/effects/builtin/whitenoiseeffect.cpp
Labels: code quality

#3176 Fix some -Wfloat-conversion warnings (Pt. 8)
  src/waveform/renderers/waveformrendererpreroll.cpp
  src/waveform/renderers/waveformwidgetrenderer.h
  src/waveform/waveformwidgetfactory.cpp
Labels: code quality, major bug

#3146 Preferences Lv2: fix parameter list
  src/preferences/dialog/dlgpreflv2.cpp
  src/preferences/dialog/dlgpreflv2dlg.ui
Labels: ui

#3129 CMake: Enable -Wfloat-conversion warnings
  CMakeLists.txt
Labels: build, code quality

#3186 pre-commit: Some minor improvements and switch to GitHub Actions
  .github/workflows/pre-commit-pr.yml
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  .travis.yml
  tools/audioplot.py
  tools/clang_format.py
  tools/serato_heartbeat.py
Labels: code quality

#3183 TrackCollectionManager: Const-correctness and obsolete slots
  src/controllers/dlgprefcontroller.cpp
  src/dialog/dlgreplacecuecolor.cpp
  src/library/trackcollectionmanager.cpp
  src/library/trackcollectionmanager.h
  src/preferences/colorpaletteeditormodel.cpp
  src/widget/wtrackmenu.cpp
Labels: code quality

#3190 GitHub Actions: Fix pre-commit-PR job and improve workflow
  .github/workflows/pre-commit-pr.yml
  .github/workflows/pre-commit.yml
Labels: code quality

#3185 Ddj 200 support
  res/controllers/Pioneer DDJ-200.midi.xml
  res/controllers/Pioneer-DDJ-200-scripts.js
Labels: controllers

#3196 librarycontrol.cpp: fix slotGotToItem in tracks table
  src/library/librarycontrol.cpp
Labels: controllers, library, minor bug

#3188 Skins: improve color warnings
  src/waveform/renderers/waveformmarkrange.cpp
  src/widget/wsearchlineedit.cpp
Labels: skins

#3177 Preferences MIDI: remove redundant 'Script' prefix from mapping table
  src/controllers/delegates/controldelegate.cpp
Labels: controllers, ui

#3205 Extend compatible keys from 4 to 6 possible keys
  CHANGELOG
  src/test/keyutilstest.cpp
  src/test/rescalertest.cpp
  src/track/keyutils.cpp
Labels: code quality, minor bug

#3209 Fix broken build: Float conversion warnings
  src/test/enginesynctest.cpp
Labels: code quality

#3181 Search related tracks in collection
  CMakeLists.txt
  build/depends.py
  src/library/autodj/dlgautodj.cpp
  src/library/dlganalysis.cpp
  src/library/dlghidden.cpp
  src/library/dlgmissing.cpp
  src/library/library.cpp
  src/library/library.h
  src/library/mixxxlibraryfeature.cpp
  src/library/mixxxlibraryfeature.h
  src/library/recording/dlgrecording.cpp
  src/skin/legacyskinparser.cpp
  src/widget/wanalysislibrarytableview.cpp
  src/widget/wanalysislibrarytableview.h
  src/widget/wsearchrelatedtracksmenu.cpp
  src/widget/wsearchrelatedtracksmenu.h
  src/widget/wtrackmenu.cpp
  src/widget/wtrackmenu.h
  src/widget/wtrackproperty.cpp
  src/widget/wtrackproperty.h
  src/widget/wtracktableview.cpp
  src/widget/wtracktableview.h
  src/widget/wtracktext.cpp
  src/widget/wtracktext.h
  src/widget/wtrackwidgetgroup.cpp
  src/widget/wtrackwidgetgroup.h
Labels: build, library, ui

#3110 Controller: Hercules DJControl Jogvision
  res/controllers/Hercules_DJControl_Jogvision-scripts.js
  res/controllers/Hercules_DJControl_Jogvision.midi.xml
Labels: controllers

#3217 Hercules DJControl Jogvision: Fix some codespell typos
  res/controllers/Hercules_DJControl_Jogvision-scripts.js
Labels: code quality, controllers

#3216 Fix unused variable warning in release build
  src/preferences/dialog/dlgpreflibrary.cpp
Labels: code quality, ui

#3073 SoundSourceFFmpeg: Fix decoding of corrupt files / Refactoring & documentation
  CMakeLists.txt
  build/depends.py
  src/sources/audiosource.cpp
  src/sources/audiosource.h
  src/sources/readaheadframebuffer.cpp
  src/sources/readaheadframebuffer.h
  src/sources/soundsourceffmpeg.cpp
  src/sources/soundsourceffmpeg.h
  src/test/id3-test-data/cover-test-ffmpeg-aac.m4a
  src/test/indexrange_test.cpp
  src/test/soundproxy_test.cpp
  src/util/indexrange.cpp
  src/util/indexrange.h
Labels: build, code quality, minor bug, sources

#3218 Use libKeyFinder 2.2.2 release
  CMakeLists.txt
Labels: build, code quality, controllers, library, skins, ui

#3222 WaveformWidgetFactory: Set thread name for better logging messages
  src/waveform/waveformwidgetfactory.cpp
Labels: code quality

#3224 Remove executable bit from kaitai source files
  lib/kaitai/custom_decoder.h
  lib/kaitai/kaitaistream.cpp
  lib/kaitai/kaitaistream.h
  lib/kaitai/kaitaistruct.h
Labels: build

#3200 add [group],CloneFromSampler control
  src/mixer/basetrackplayer.cpp
  src/mixer/basetrackplayer.h
Labels: controllers, engine

#3225 Fix missing connection of "Abort" button in progress dialog
  src/util/taskmonitor.cpp
  src/util/taskmonitor.h
Labels: library, minor bug, ui

#3223 Fix RPMFusion builds for armv7hl/ppc64le/aarch64
  src/effects/builtin/autopaneffect.cpp
  src/effects/builtin/balanceeffect.cpp
  src/effects/builtin/balanceeffect.h
  src/effects/builtin/biquadfullkilleqeffect.h
  src/effects/builtin/bitcrushereffect.cpp
  src/effects/builtin/echoeffect.cpp
  src/effects/builtin/flangereffect.cpp
  src/effects/builtin/graphiceqeffect.h
  src/effects/builtin/linkwitzriley8eqeffect.h
  src/effects/builtin/loudnesscontoureffect.h
  src/effects/builtin/lvmixeqbase.h
  src/effects/builtin/metronomeclick.h
  src/effects/builtin/metronomeeffect.cpp
  src/effects/builtin/metronomeeffect.h
  src/effects/builtin/parametriceqeffect.h
  src/effects/builtin/phasereffect.cpp
  src/effects/builtin/threebandbiquadeqeffect.h
  src/effects/builtin/tremoloeffect.cpp
  src/sources/soundsourcem4a.cpp
Labels: build

#2928 Skins: allow custom brightness threshold for hotcue colors
  res/skins/LateNight/controls/button_hotcue.xml
  res/skins/LateNight/decks/overview.xml
  res/skins/LateNight/palemoon/buttons/btn__1_active_dark.svg
  res/skins/LateNight/palemoon/buttons/btn__2_active_dark.svg
  res/skins/LateNight/palemoon/buttons/btn__3_active_dark.svg
  res/skins/LateNight/palemoon/buttons/btn__4_active_dark.svg
  res/skins/LateNight/palemoon/buttons/btn__5_active_dark.svg
  res/skins/LateNight/palemoon/buttons/btn__6_active_dark.svg
  res/skins/LateNight/palemoon/buttons/btn__7_active_dark.svg
  res/skins/LateNight/palemoon/buttons/btn__8_active_dark.svg
  res/skins/LateNight/skin.xml
  res/skins/LateNight/waveform.xml
  src/dialog/dlgreplacecuecolor.cpp
  src/util/color/color.cpp
  src/util/color/color.h
  src/waveform/renderers/waveformmark.cpp
  src/waveform/renderers/waveformmark.h
  src/waveform/renderers/waveformrendermark.cpp
  src/waveform/renderers/waveformsignalcolors.cpp
  src/waveform/renderers/waveformsignalcolors.h
  src/waveform/renderers/waveformwidgetrenderer.cpp
  src/waveform/renderers/waveformwidgetrenderer.h
  src/widget/whotcuebutton.cpp
  src/widget/whotcuebutton.h
  src/widget/woverview.cpp
  src/widget/woverview.h
  src/widget/wwaveformviewer.cpp
  src/widget/wwaveformviewer.h
Labels: skins

#3232 Fix asan
  CMakeLists.txt
Labels: build, skins, ui

#3233 WTrackMenu: Add warnings about limitations of lazy iteration
  src/widget/wtrackmenu.cpp
  src/widget/wtrackmenu.h
Labels: code quality, ui

#3227 Fix some -Wfloat-conversion warnings (Pt. 10)
  src/broadcast/broadcastmanager.cpp
  src/control/controlbehavior.cpp
  src/control/controllinpotmeter.cpp
  src/control/controlobject.h
  src/controllers/controllerengine.cpp
  src/effects/builtin/balanceeffect.cpp
  src/effects/builtin/balanceeffect.h
  src/effects/builtin/biquadfullkilleqeffect.cpp
  src/effects/builtin/graphiceqeffect.cpp
  src/effects/builtin/lvmixeqbase.h
  src/effects/builtin/parametriceqeffect.cpp
  src/effects/effectmanifestparameter.h
  src/effects/effectparameterslot.cpp
  src/engine/controls/bpmcontrol.cpp
  src/engine/controls/cuecontrol.cpp
  src/engine/controls/loopingcontrol.cpp
  src/engine/controls/ratecontrol.cpp
  src/engine/controls/ratecontrol.h
  src/engine/controls/vinylcontrolcontrol.cpp
  src/engine/enginebuffer.cpp
  src/engine/enginedelay.cpp
  src/engine/enginemaster.cpp
  src/engine/enginevumeter.cpp
  src/engine/sync/synccontrol.cpp
  src/library/dlgtrackinfo.cpp
  src/library/librarycontrol.cpp
  src/mixer/basetrackplayer.cpp
  src/mixer/playermanager.cpp
  src/mixxx.cpp
  src/preferences/broadcastprofile.cpp
  src/preferences/dialog/dlgprefsound.cpp
  src/test/enginesynctest.cpp
  src/track/cue.cpp
  src/util/sample.cpp
  src/vinylcontrol/vinylcontrolprocessor.cpp
  src/vinylcontrol/vinylcontrolxwax.cpp
  src/waveform/renderers/waveformmark.h
  src/waveform/renderers/waveformwidgetrenderer.cpp
  src/widget/wspinny.cpp
  src/widget/wtracktableview.cpp
  src/widget/wwaveformviewer.cpp
Labels: code quality, library, ui

#3229 Traktor Kontrol S2 MK2: Major fix and minor improvements
  res/controllers/Traktor-Kontrol-S2-MK2-hid-scripts.js
Labels: controllers

#3230 Fix more armv7hl build issues
  src/effects/builtin/biquadfullkilleqeffect.cpp
  src/effects/builtin/biquadfullkilleqeffect.h
  src/effects/builtin/lvmixeqbase.h
Labels: code quality, effects, library, ui

#3201 Libarycontrol: backport of #3198: fix crash when trying to refocus th…
  src/library/librarycontrol.cpp
Labels: controllers, critical bug, library

#3226 Download libKeyFinder before build
  CMakeLists.txt
Labels: build

#3171 Use a combobox instead of a lineedit widget for library search history
  res/skins/LateNight/style.qss
  src/controllers/controlpickermenu.cpp
  src/library/librarycontrol.cpp
  src/library/librarycontrol.h
  src/preferences/dialog/dlgpreflibrary.cpp
  src/widget/wsearchlineedit.cpp
  src/widget/wsearchlineedit.h
Labels: library, skins, ui

#3237 SoundSourceFLAC: Fix Werror=sign-compare for armv7hl
  src/sources/soundsourceflac.cpp
Labels: code quality

#3234 LateNight 2.3 polishing
  res/skins/LateNight/classic/sliders/knob_pitch_sampler.svg
  res/skins/LateNight/controls/knob.xml
  res/skins/LateNight/controls/knob_textless.xml
  res/skins/LateNight/controls/knob_with_label.xml
  res/skins/LateNight/decks/deck_full.xml
  res/skins/LateNight/decks/rate_controls.xml
  res/skins/LateNight/decks/rate_controls_compact.xml
  res/skins/LateNight/fx/assign_buttons_master.xml
  res/skins/LateNight/fx/singletons.xml
  res/skins/LateNight/fx_rack.xml
  res/skins/LateNight/mic_aux/aux_unit.xml
  res/skins/LateNight/mic_aux/ducking_controls.xml
  res/skins/LateNight/mic_aux/mic_unit.xml
  res/skins/LateNight/mixer.xml
  res/skins/LateNight/mixer/channel_4decks.xml
  res/skins/LateNight/mixer/channel_left.xml
  res/skins/LateNight/mixer/channel_right.xml
  res/skins/LateNight/mixer/mixer_2decks.xml
  res/skins/LateNight/mixer/mixer_4decks.xml
  res/skins/LateNight/mixer/mixer_master_headphone.xml
  res/skins/LateNight/mixer/vumeter_single.xml
  res/skins/LateNight/palemoon/buttons/btn__lib_clear_search.svg
  res/skins/LateNight/palemoon/sliders/knob_pitch_sampler.svg
  res/skins/LateNight/palemoon/style/vu_sampler_clipping_bg_.png
  res/skins/LateNight/palemoon/style/vu_sampler_level_bg_.png
  res/skins/LateNight/samplers/sampler.xml
  res/skins/LateNight/samplers/sampler_mini.xml
  res/skins/LateNight/skin.xml
  res/skins/LateNight/skin_settings.xml
  res/skins/LateNight/style.qss
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
  res/skins/LateNight/toolbar.xml
  res/skins/LateNight/waveform.xml
Labels: skins

#3199 Librarycontrol: allow [Library],GoToItem press dialog buttons
  src/library/librarycontrol.cpp
Labels: controllers, library, ui

#3198 Libarycontrol: fix crash when trying to refocus the library
  src/library/librarycontrol.cpp
Labels: critical bug, library

#3238 Fix signedness warnings in LV2EffectProcessor for armv7hl
  src/effects/lv2/lv2effectprocessor.cpp
Labels: code quality

#3165 Fix touch control
  .travis.yml
  CHANGELOG
  src/mixxx.cpp
  src/mixxx.h
  src/mixxxapplication.cpp
  src/mixxxapplication.h
  src/widget/wwidget.cpp
Labels: major bug, ui

#3241 Preferences > Interface: restore skin size warning
  src/preferences/dialog/dlgprefinterface.cpp
  src/preferences/dialog/dlgprefinterfacedlg.ui
Labels: ui
