Repository mixxxdj/mixxx, pull requests merged in 2021-10, with the labels that each got.

#4336 Beats: Use std::make_shared/shared_from_this()
  src/track/beatgrid.cpp
  src/track/beatgrid.h
  src/track/beatmap.cpp
  src/track/beatmap.h
  src/track/beats.h
Labels: code quality

#4345 Fix race condition in ReplayGain test
  src/test/replaygaintest.cpp
Labels: code quality

#4351 Add more compiler warning options (GCC/Clang)
  CMakeLists.txt
Labels: build, code quality

#4352 playlist: enable sorting by color
  src/library/playlisttablemodel.cpp
Labels: library, minor bug, changelog

#4347 Library: add keyboard short to open track properties Ctrl+Enter
  src/util/defs.h
  src/widget/wtrackmenu.cpp
  src/widget/wtracktableview.cpp
Labels: library, ui, changelog

#4356 lp1445885: Detect MIME type and deduce expected file extension and type
  src/sources/soundsource.cpp
  src/sources/soundsource.h
  src/sources/soundsourcemodplug.cpp
  src/sources/soundsourceproxy.cpp
  src/test/soundproxy_test.cpp
  src/track/serato/tags.cpp
Labels: major bug, sources, code quality

#4357 SoundSource: Fix file type detection
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
  src/sources/soundsource.cpp
  src/test/soundproxy_test.cpp
Labels: code quality

#4358 Use QDebugStateSaver to reset debug formatting
  CMakeLists.txt
  src/audio/frame.cpp
  src/audio/frame.h
  src/track/bpm.cpp
  src/track/bpm.h
Labels: build

#4362 fix signalpath.h race condition
  src/test/signalpathtest.h
Labels: code quality

#4486 Reintroduce the Quick effect selectors in the EQ preferences
  src/preferences/dialog/dlgprefeq.cpp
  src/preferences/dialog/dlgprefeq.h
  src/preferences/dialog/dlgprefeqdlg.ui
Labels: ui

#4494 .pre-commit-config.yaml: disallow commiting to version branches
  .pre-commit-config.yaml
Labels: code quality
