Repository mixxxdj/mixxx, pull requests merged in 2021-03, with the labels that each got.

#3667 Fix Controller Learning Wizard if no mapping is selected
  src/controllers/dlgprefcontroller.cpp
  src/controllers/dlgprefcontroller.h
Labels: minor bug, preferences

#3331 Some fixes for S4MK2 controller and features
  res/controllers/Traktor-Kontrol-S4-MK2-hid-scripts.js
Labels: build, controllers, library, ui

#3647 CMake: use /UTF8 with MSVC in all conditions
  CMakeLists.txt
Labels: build

#3669 Fix fractional BPM sorting.
  src/library/columncache.cpp
Labels: library, major bug

#825 gracefull handle Midi overflow
  src/controllers/midi/portmidicontroller.cpp
  src/test/portmidicontroller_test.cpp
Labels: major bug

#3668 Lock free beats
  src/analyzer/analyzerbeats.cpp
  src/analyzer/analyzerbeats.h
  src/engine/controls/bpmcontrol.cpp
  src/engine/controls/clockcontrol.cpp
  src/engine/controls/cuecontrol.cpp
  src/engine/controls/loopingcontrol.cpp
  src/library/banshee/bansheeplaylistmodel.cpp
  src/library/dao/trackdao.cpp
  src/library/dlgtrackinfo.cpp
  src/library/rekordbox/rekordboxfeature.cpp
  src/test/beatgridtest.cpp
  src/test/beatmaptest.cpp
  src/test/beatstranslatetest.cpp
  src/test/bpmcontrol_test.cpp
  src/test/enginesynctest.cpp
  src/track/beatfactory.cpp
  src/track/beatfactory.h
  src/track/beatgrid.cpp
  src/track/beatgrid.h
  src/track/beatmap.cpp
  src/track/beatmap.h
  src/track/beats.cpp
  src/track/beats.h
  src/track/track.cpp
  src/track/track.h
  src/widget/wtrackmenu.cpp
Labels: code quality, library, ui

#3670 Preferences polishing
  src/preferences/dialog/dlgprefbeatsdlg.ui
  src/preferences/dialog/dlgprefeqdlg.ui
  src/preferences/dialog/dlgprefinterfacedlg.ui
  src/preferences/dialog/dlgprefkeydlg.ui
  src/preferences/dialog/dlgprefrecorddlg.ui
  src/preferences/dialog/dlgprefvinyldlg.ui
Labels: ui

#3673 Check for empty beats before accessing first()/last()
  src/track/beatutils.cpp
Labels: critical bug

#3672 Fix AutoMoc warning
  src/track/beats.cpp
  src/track/beats.h
Labels: code quality

#3675 Minor googletest fixes
  src/library/scanner/libraryscanner.h
  src/library/trackcollection.h
Labels: code quality, library

#3660 CMake: do not use /OPT:ICF link option on Windows
  CMakeLists.txt
Labels: build

#3674 Pref Library: add button 'Open Settings Folder'
  src/preferences/dialog/dlgpreflibrary.cpp
  src/preferences/dialog/dlgpreflibrarydlg.ui
Labels: library, preferences, ui

#3679 library: Move color column to the left
  src/library/mixxxlibraryfeature.cpp
Labels: library, ui

#3677 Fix bpm edit in the track preferences dialog
  src/library/dlgtrackinfo.cpp
Labels: library

#3640 Cleanup Argument parser.
  src/main.cpp
  src/test/mixxxtest.cpp
  src/util/cmdlineargs.cpp
  src/util/cmdlineargs.h
Labels: code quality

#3671 Use mixxx::audio::SampleRate when dealing with beats
  src/analyzer/analyzerbeats.cpp
  src/analyzer/analyzerbeats.h
  src/library/dao/trackdao.cpp
  src/library/rekordbox/rekordboxfeature.cpp
  src/test/beatmaptest.cpp
  src/test/enginesynctest.cpp
  src/track/beatfactory.cpp
  src/track/beatfactory.h
  src/track/beatgrid.cpp
  src/track/beatgrid.h
  src/track/beatmap.cpp
  src/track/beatmap.h
  src/track/beats.h
  src/track/beatutils.cpp
  src/track/beatutils.h
  src/track/track.cpp
  src/track/track.h
Labels: code quality, library

#3683 remove Beats::clone()
  src/library/dlgtrackinfo.cpp
  src/track/beatgrid.cpp
  src/track/beatgrid.h
  src/track/beatmap.cpp
  src/track/beatmap.h
  src/track/beats.h
Labels: library

#3686 Updated eslint rules for ECMAScript 7
  .eslintrc.json
Labels: code quality

#3666 beat grid re-analyze strategy
  src/analyzer/analyzerbeats.cpp
  src/engine/controls/bpmcontrol.cpp
  src/library/banshee/bansheeplaylistmodel.cpp
  src/library/baseexternalplaylistmodel.cpp
  src/library/baseexternaltrackmodel.cpp
  src/library/basesqltablemodel.cpp
  src/library/browse/browsetablemodel.cpp
  src/library/dao/trackdao.cpp
  src/library/dlgtrackinfo.cpp
  src/library/rekordbox/rekordboxfeature.cpp
  src/mixer/basetrackplayer.cpp
  src/test/beatgridtest.cpp
  src/test/beatmaptest.cpp
  src/test/beatstranslatetest.cpp
  src/test/cuecontrol_test.cpp
  src/test/enginesynctest.cpp
  src/test/looping_control_test.cpp
  src/test/searchqueryparsertest.cpp
  src/track/track.cpp
  src/track/track.h
  src/widget/wtrackmenu.cpp
Labels: code quality, library, ui

#3688 SeratoBeatGrid: Fix handling of subsample positions
  src/audio/signalinfo.h
  src/test/seratobeatgridtest.cpp
  src/track/serato/beatgrid.cpp
Labels: code quality, library, minor bug

#3690 sccache: Fix Windows CI build
  .github/workflows/build.yml
Labels: build

#3692 Fix icon quality in about-dialog by using QSvgWidget
  src/dialog/dlgabout.cpp
  src/dialog/dlgaboutdlg.ui
Labels: ui

#2893 Controller: ION Discover DJ Pro
  res/controllers/Ion-Discover-DJ-Pro-scripts.js
  res/controllers/Ion-Discover-DJ-Pro.midi.xml
Labels: controllers

#3702 DlgPrefInterface: Fix missing preview image for skins without schemes
  src/preferences/dialog/dlgprefinterface.cpp
Labels: minor bug, preferences, ui

#3693 Add range display for tempo slider
  CMakeLists.txt
  res/skins/Deere/deck_tempo_column.xml
  res/skins/Deere/style.qss
  res/skins/LateNight/decks/deck_singletons.xml
  res/skins/LateNight/decks/rate_controls.xml
  res/skins/LateNight/decks/rate_controls_compact.xml
  res/skins/LateNight/palemoon/sliders/slider_pitch_deck.svg
  res/skins/LateNight/palemoon/sliders/slider_pitch_deck_compact.svg
  res/skins/LateNight/palemoon/sliders/slider_pitch_deck_compact_sync.svg
  res/skins/LateNight/style.qss
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
  res/skins/Shade/deck.xml
  res/skins/Shade/style.qss
  res/skins/Shade/style_dark.qss
  res/skins/Shade/style_summer_sunset.qss
  res/skins/Tango/rate_pitch_key.xml
  res/skins/Tango/style.qss
  src/skin/legacyskinparser.cpp
  src/skin/legacyskinparser.h
  src/skin/tooltips.cpp
  src/widget/wraterange.cpp
  src/widget/wraterange.h
Labels: build, skins, ui

#3701 MixxxMainWindow: Fix CO leak when closing Mixxx while devtools are open
  src/mixxx.cpp
Labels: minor bug, ui

#3689 Fix for fatal error LNK1117: syntax error in option 'INCREMENTAL:NO:NO'
  CMakeLists.txt
Labels: build

#3699 midi-components: Prevent setting the effect_selector CO to NaN
  res/controllers/midi-components-0.0.js
Labels: controllers, minor bug

#3696 Sample Util fixes.
  src/engine/enginemaster.cpp
  src/util/sample.cpp
  src/util/sample.h
  src/util/types.h
Labels: critical bug

#3705 Welcome Niko to the core team
  src/dialog/dlgabout.cpp
Labels: ui

#3700 Track: Polish Beats/Bpm functions
  src/test/beatgridtest.cpp
  src/track/track.cpp
  src/track/track.h
Labels: code quality, minor bug

#3695 Sync Lock: minor refactoring.
  src/engine/controls/bpmcontrol.cpp
  src/engine/controls/ratecontrol.cpp
  src/engine/enginebuffer.cpp
  src/engine/sync/basesyncablelistener.cpp
  src/engine/sync/basesyncablelistener.h
  src/engine/sync/enginesync.cpp
  src/engine/sync/enginesync.h
  src/engine/sync/internalclock.cpp
  src/engine/sync/internalclock.h
  src/engine/sync/syncable.h
  src/engine/sync/synccontrol.cpp
  src/engine/sync/synccontrol.h
  src/test/signalpathtest.h
Labels: code quality

#3626 Ironing beats
  src/analyzer/analyzerbeats.cpp
  src/analyzer/analyzerbeats.h
  src/analyzer/plugins/analyzerqueenmarybeats.cpp
  src/preferences/beatdetectionsettings.h
  src/preferences/dialog/dlgprefbeats.cpp
  src/preferences/dialog/dlgprefbeats.h
  src/preferences/dialog/dlgprefbeatsdlg.ui
  src/track/beatfactory.cpp
  src/track/beatfactory.h
  src/track/beatmap.cpp
  src/track/beatutils.cpp
  src/track/beatutils.h
Labels: ui

#3711 EncoderFdkAac: Fix broken detection on Ubuntu 18.04 (lp1919073)
  src/encoder/encoderfdkaac.cpp
Labels: major bug

#3710 try to fix sorting by duration in Computer feature (lp1916560)
  src/library/browse/browsethread.cpp
Labels: library

#3715 Fix build of libshout-idjc on Linux
  CMakeLists.txt
  lib/libshout-idjc/CMakeLists.txt
  tools/debian_buildenv.sh
Labels: build, major bug

#3707 Windows: Enable, test, and then disable SoundSourceFFmpeg as fallback
  .github/workflows/build.yml
  CMakeLists.txt
  cmake/modules/FindFFMPEG.cmake
  tools/windows_buildenv.bat
Labels: build, sources

#3717 WMainMenuBar: remove link to Google Forms survey
  src/defs_urls.h
  src/widget/wmainmenubar.cpp
Labels: ui

#3724 Fix wrong debug assertion
  src/track/track.cpp
Labels: minor bug

#3725 DlgTrackInfo: Fix display of bitrate
  src/library/dlgtrackinfo.cpp
  src/track/trackmetadata.cpp
Labels: library, minor bug

#3722 Track: Prevent modification of metadata during export by normalization
  src/track/track.cpp
Labels: minor bug

#3720 Fix usage of cmake_dependent_option
  .github/workflows/build.yml
  CMakeLists.txt
  cmake/modules/DefaultOption.cmake
Labels: build, minor bug

#3726 Complete missing StreamInfo reported by source from metadata
  src/track/trackrecord.cpp
  src/track/trackrecord.h
Labels: minor bug

#3729 Do not discard cue types that can't be imported by SeratoCueImporter (lp1920087)
  src/track/cueinfoimporter.cpp
  src/track/cueinfoimporter.h
  src/track/serato/cueinfoimporter.cpp
  src/track/serato/cueinfoimporter.h
  src/track/track.cpp
Labels: library, major bug

#3730 CMake: Fix detection of hidapi_VERSION
  CMakeLists.txt
  cmake/modules/Findhidapi.cmake
Labels: build

#3733 InternalClock: Use forward declaration for EngineChannel
  src/engine/sync/internalclock.h
Labels: code quality

#3723 Track: Import metadata atomically while locked
  src/track/keyutils.cpp
  src/track/serato/tags.cpp
  src/track/track.cpp
  src/track/track.h
Labels: code quality

#3708 Help menu: use north-east arrow as hyperlink suffix
  src/widget/wmainmenubar.cpp
Labels: ui

#3735 Qt 5.12: Delete obsolete QT_VERSION_CHECK workarounds
  src/controllers/midi/portmidienumerator.cpp
  src/controllers/scripting/controllerscriptenginebase.cpp
  src/controllers/scripting/controllerscriptmoduleengine.cpp
  src/encoder/encoderopus.cpp
  src/library/coverart.cpp
  src/library/dao/autodjcratesdao.cpp
  src/library/dao/playlistdao.cpp
  src/library/serato/seratofeature.cpp
  src/library/trackloader.cpp
  src/network/networktask.cpp
  src/track/globaltrackcache.cpp
  src/track/serato/markers2.cpp
  src/util/compatibility.h
  src/util/imageutils.cpp
  src/util/taskmonitor.cpp
  src/widget/woverview.cpp
  src/widget/wsearchlineedit.cpp
Labels: code quality, library, ui

#3409 Add support for exporting Serato Tags
  src/library/trackcollectionmanager.cpp
  src/preferences/dialog/dlgpreflibrary.cpp
  src/preferences/dialog/dlgpreflibrary.h
  src/preferences/dialog/dlgpreflibrarydlg.ui
  src/sources/soundsourceproxy.cpp
  src/sources/soundsourceproxy.h
  src/test/seratobeatgridtest.cpp
  src/track/serato/beatgrid.cpp
  src/track/serato/beatgrid.h
  src/track/serato/tags.h
  src/track/taglib/trackmetadata_id3v2.cpp
  src/track/taglib/trackmetadata_mp4.cpp
  src/track/taglib/trackmetadata_xiph.cpp
  src/track/track.cpp
  src/track/track.h
Labels: code quality, library, ui

#3736 Qt 5.12: Delete obsolete QT_VERSION_CHECK workarounds (follow-up)
  src/track/trackfile.h
Labels: code quality

#3608 Reworked beat_active control:
  src/engine/controls/bpmcontrol.cpp
  src/engine/controls/clockcontrol.cpp
  src/engine/controls/clockcontrol.h
  src/engine/controls/loopingcontrol.cpp
  src/engine/controls/quantizecontrol.cpp
  src/engine/enginebuffer.cpp
  src/test/beatgridtest.cpp
  src/test/beatmaptest.cpp
  src/track/beatgrid.cpp
  src/track/beatgrid.h
  src/track/beatmap.cpp
  src/track/beatmap.h
  src/track/beats.cpp
  src/track/beats.h
Labels: build, code quality

#3734 EngineSync: Merge class with BaseSyncableListener
  CMakeLists.txt
  src/engine/sync/basesyncablelistener.cpp
  src/engine/sync/basesyncablelistener.h
  src/engine/sync/enginesync.cpp
  src/engine/sync/enginesync.h
Labels: build, code quality, engine

#3739 Restore cover art color loading and preview
  src/library/columncache.cpp
  src/library/mixxxlibraryfeature.cpp
Labels: library, minor bug

#3737 Revert "library: Move color column to the left" (again)
  src/library/mixxxlibraryfeature.cpp
Labels: library, major bug

#3740 Add last played sort column
  src/library/basesqltablemodel.cpp
  src/library/basetracktablemodel.h
Labels: library

#3741 Add mixxx::FileInfo for file system references
  CMakeLists.txt
  src/mixxxapplication.cpp
  src/test/fileinfo_test.cpp
  src/track/trackfile.h
  src/util/fileinfo.cpp
  src/util/fileinfo.h
Labels: build, code quality

#3750 CMake: Fix Qt resource files with CMake 3.20
  CMakeLists.txt
Labels: build, critical bug

#3752 Fix Hss1394Controller warnings
  src/controllers/midi/hss1394controller.cpp
Labels: code quality, controllers

#3748 Deploy artifact metadata manifest
  .github/workflows/build.yml
  tools/deploy.sh
  tools/generate_download_metadata.py
Labels: build

#3756 Fix deb packages build on GitHub.
  .github/workflows/build.yml
  CMakeLists.txt
Labels: build, critical bug

#3742 Pioneer DDJ-200: fix hotcue button release
  res/controllers/Pioneer-DDJ-200-scripts.js
Labels: controllers

#3757 Clean up 2.3 build flags
  .github/workflows/build.yml
Labels: build
