Repository mixxxdj/mixxx, pull requests merged in 2021-08, with the labels that each got.

#4166 CMake: make FindPortAudio.cmake module export PortAudio::PortAudio
  CMakeLists.txt
  cmake/modules/FindPortAudio.cmake
Labels: build

#4058 Fix CoreServices initalisation order
  src/coreservices.cpp
  src/coreservices.h
  src/main.cpp
  src/test/coreservicestest.cpp
Labels: code quality

#4165 Add FIXMEs for use of bpm.value() without checking
  src/engine/controls/bpmcontrol.cpp
  src/engine/sync/synccontrol.cpp
  src/library/basetracktablemodel.cpp
  src/library/dlgtrackinfo.cpp
  src/library/export/engineprimeexportjob.cpp
  src/track/beatutils.cpp
  src/track/serato/beatgrid.cpp
Labels: library

#4121 Update VERSION and Changelog for 2.3.1 minor release.
  CHANGELOG.md
  CMakeLists.txt
Labels: build

#4159 Roland DJ-505: Use new ControlIndicator COs for blinking lights
  res/controllers/Roland_DJ-505-scripts.js
Labels: build, code quality, controllers

#4178 Houskeeping for MixxxMainWindow
  src/mixxxmainwindow.cpp
  src/mixxxmainwindow.h
Labels: code quality

#4163 macOS static build support
  CMakeLists.txt
  cmake/modules/FindCelt.cmake
  cmake/modules/FindChromaprint.cmake
  cmake/modules/FindFLAC.cmake
  cmake/modules/FindKeyFinder.cmake
  cmake/modules/FindOpus.cmake
  cmake/modules/FindOpusFile.cmake
  cmake/modules/FindSilk.cmake
  cmake/modules/FindTagLib.cmake
  cmake/modules/Findlilv.cmake
  cmake/modules/Findrubberband.cmake
  cmake/modules/IsStaticLibrary.cmake
Labels: build

#4168 Add and use mixxx::Bpm::valueOr()
  src/library/basetracktablemodel.cpp
  src/library/dlgtrackinfo.cpp
  src/library/dlgtrackinfo.h
  src/test/bpmtest.cpp
  src/track/bpm.h
Labels: library, code quality

#4169 Sync Lock: Don't seek phase when disabling sync
  src/engine/controls/bpmcontrol.h
  src/engine/enginebuffer.cpp
  src/engine/enginebuffer.h
  src/engine/sync/enginesync.cpp
  src/test/enginesynctest.cpp
Labels: engine

#4152 lp1937941: Fix update of play counter for different SQLite versions
  src/library/dao/trackdao.cpp
Labels: library, critical bug

#4185 CMake: fix linking protobuf
  CMakeLists.txt
  src/proto/CMakeLists.txt
Labels: build

#4162 SQLite: Replace LIKE with SUBSTR for file path matching
  CMakeLists.txt
  src/library/dao/directorydao.cpp
  src/library/dao/trackdao.cpp
  src/library/trackset/crate/cratestorage.cpp
  src/test/directorydaotest.cpp
  src/test/queryutiltest.cpp
  src/util/db/sqllikewildcardescaper.cpp
  src/util/db/sqllikewildcardescaper.h
Labels: library, build, code quality

#4188 Changelog: Fix markdown style issues
  CHANGELOG.md
Labels: code quality

#4071 Sync: Use mixxx::Bpm class
  src/engine/enginebuffer.cpp
  src/engine/sync/clock.h
  src/engine/sync/enginesync.cpp
  src/engine/sync/enginesync.h
  src/engine/sync/internalclock.cpp
  src/engine/sync/internalclock.h
  src/engine/sync/syncable.h
  src/engine/sync/synccontrol.cpp
  src/engine/sync/synccontrol.h
  src/test/enginesynctest.cpp
  src/test/synccontroltest.cpp
Labels: code quality

#4183 EngineMaster: Use mixxx::audio::SampleRate
  src/engine/enginemaster.cpp
  src/engine/enginemaster.h
  src/engine/sync/enginesync.cpp
  src/engine/sync/enginesync.h
  src/engine/sync/internalclock.cpp
  src/engine/sync/internalclock.h
Labels: engine

#4184 Beats: Implement setBpm() for BeatMaps and remove capabilities
  src/engine/controls/bpmcontrol.cpp
  src/library/dlgtrackinfo.cpp
  src/track/beatgrid.h
  src/track/beatmap.cpp
  src/track/beatmap.h
  src/track/beats.h
  src/track/track.cpp
Labels: library

#4186 EngineControl: Use mixxx::audio::FramePos
  src/engine/controls/bpmcontrol.cpp
  src/engine/controls/cuecontrol.cpp
  src/engine/controls/enginecontrol.cpp
  src/engine/controls/enginecontrol.h
  src/engine/controls/loopingcontrol.cpp
  src/engine/controls/loopingcontrol.h
  src/engine/controls/quantizecontrol.cpp
  src/engine/controls/quantizecontrol.h
  src/engine/controls/ratecontrol.cpp
  src/engine/controls/vinylcontrolcontrol.cpp
  src/engine/enginebuffer.cpp
  src/engine/enginebuffer.h
  src/engine/positionscratchcontroller.cpp
  src/engine/positionscratchcontroller.h
  src/engine/readaheadmanager.cpp
  src/engine/sync/synccontrol.cpp
  src/test/cuecontrol_test.cpp
  src/test/hotcuecontrol_test.cpp
  src/test/looping_control_test.cpp
Labels: engine, code quality

#4194 Playlists & Crates: Store selected TrackId instead of TrackPointer
  src/library/trackset/baseplaylistfeature.cpp
  src/library/trackset/baseplaylistfeature.h
  src/library/trackset/crate/cratefeature.cpp
  src/library/trackset/crate/cratefeature.h
Labels: library, code quality

#4195 Fix inverted scroll wheel waveform zoom direction
  src/widget/wwaveformviewer.cpp
Labels: ui

#4190 ClockControl: Use mixxx::audio::FramePos in updateIndicators()
  src/engine/controls/clockcontrol.cpp
  src/engine/controls/clockcontrol.h
  src/engine/enginebuffer.cpp
Labels: code quality

#4197 Fix codespell warnings
  .github/workflows/build.yml
  src/audio/frame.h
  src/control/controlindicatortimer.cpp
  src/control/controlindicatortimer.h
  src/library/browse/browsefeature.cpp
  src/library/coverart.h
  src/library/dao/trackdao.cpp
  src/library/dlgtrackinfo.cpp
  src/library/rhythmbox/rhythmboxfeature.cpp
  src/library/trackset/setlogfeature.cpp
  src/mixer/basetrackplayer.cpp
  src/soundio/sounddeviceportaudio.h
  src/track/beats.h
  src/util/cmdlineargs.cpp
  src/vinylcontrol/vinylcontrolxwax.cpp
  src/widget/wtracktableview.cpp
Labels: library, ui, code quality

#4207 Fix naming: "Folder" -> "Directory"
  src/widget/wsearchrelatedtracksmenu.cpp
Labels: ui

#4212 Fix logger name
  src/sources/soundsource.cpp
Labels: code quality

#4206 rename .desktop file according to Freedesktop standards
  CMakeLists.txt
  res/linux/mixxx.metainfo.xml
  res/linux/org.mixxx.Mixxx.desktop
Labels: build, packaging/installer, changelog

#4192 Update pre-commit config
  .pre-commit-config.yaml
  tools/codespell.py
Labels: code quality

#4199 Update query planner statistics of database after library scan finished
  src/library/scanner/libraryscanner.cpp
  tools/mixxxdb_cleanup.sql
Labels: library

#4101 Prepare multi-valued genre and mood tags
  src/library/banshee/bansheeplaylistmodel.cpp
  src/library/baseexternalplaylistmodel.cpp
  src/library/baseexternaltrackmodel.cpp
  src/library/basesqltablemodel.cpp
  src/library/basetracktablemodel.cpp
  src/library/basetracktablemodel.h
  src/library/browse/browsetablemodel.cpp
  src/library/browse/browsetablemodel.h
  src/library/dao/trackdao.cpp
  src/library/dao/trackdao.h
  src/library/proxytrackmodel.cpp
  src/library/proxytrackmodel.h
  src/library/trackcollectionmanager.cpp
  src/library/trackcollectionmanager.h
  src/library/trackmodel.h
  src/skin/qml/qmlplayerproxy.cpp
  src/skin/qml/qmlplayerproxy.h
  src/track/taglib/trackmetadata_id3v2.cpp
  src/track/track.cpp
  src/track/track.h
Labels: library, ui

#4189 LoopingControl: Replace most double sample positions with mixxx::audio::FramePos
  src/engine/controls/clockcontrol.cpp
  src/engine/controls/clockcontrol.h
  src/engine/controls/cuecontrol.cpp
  src/engine/controls/cuecontrol.h
  src/engine/controls/enginecontrol.cpp
  src/engine/controls/enginecontrol.h
  src/engine/controls/loopingcontrol.cpp
  src/engine/controls/loopingcontrol.h
  src/engine/enginebuffer.cpp
  src/engine/readaheadmanager.cpp
  src/test/looping_control_test.cpp
  src/test/readaheadmanager_test.cpp
Labels: code quality

#4214 Move code from Track to TrackDAO / Fix DB mapping
  src/library/dao/trackdao.cpp
  src/library/dao/trackdao.h
  src/track/track.h
  src/track/trackrecord.h
Labels: library, code quality

#4215 Fix version detection in Findhidapi.cmake
  CMakeLists.txt
  cmake/modules/Findhidapi.cmake
Labels: build

#4193 Sidebar item selection fix
  src/library/trackset/baseplaylistfeature.cpp
  src/library/trackset/crate/cratefeature.cpp
  src/library/trackset/crate/cratefeature.h
  src/widget/wlibrarysidebar.cpp
Labels: library, ui, regression

#4228 Fix markdown formatting in CHANGELOG.md and CONTRIBUTING.md
  CHANGELOG.md
  CONTRIBUTING.md
Labels: code quality

#4222 pre-commit: Add markdownlint support
  .markdownlint-cli2.yaml
  .pre-commit-config.yaml
  CODE_OF_CONDUCT.md
  README.md
  packaging/certificates/README.md
  res/controllers/mixco/README.md
  res/controllers/novation-launchpad/README.md
Labels: controllers, code quality

#4219 LoopingControlTest: Use mixxx::audio::FramePos consistently
  src/test/looping_control_test.cpp
Labels: code quality

#4191 BpmControl: Replace double sample positions with mixxx::audio::FramePos
  src/engine/controls/bpmcontrol.cpp
  src/engine/controls/bpmcontrol.h
  src/engine/controls/loopingcontrol.cpp
  src/engine/enginebuffer.cpp
  src/engine/sync/synccontrol.cpp
  src/test/bpmcontrol_test.cpp
Labels: code quality

#4232 LoopingControlTest: Fix wrong usage of FramePos for beatloop size CO
  src/test/looping_control_test.cpp
Labels: minor bug, code quality

#4233 Add Beats::fromByteArray() static method
  src/library/dao/trackdao.cpp
  src/track/beatfactory.cpp
  src/track/beatfactory.h
  src/track/beatgrid.cpp
  src/track/beatgrid.h
  src/track/beatmap.cpp
  src/track/beatmap.h
  src/track/beats.cpp
  src/track/beats.h
Labels: library

#4231 HotcueControl: Use mixxx::audio::FramePos for previewing position
  src/engine/controls/cuecontrol.cpp
  src/engine/controls/cuecontrol.h
Labels: engine, code quality

#4234 Beats: Move identical method implementations from BeatGrid/BeatMap
  src/track/beatgrid.cpp
  src/track/beatgrid.h
  src/track/beatmap.cpp
  src/track/beatmap.h
  src/track/beats.cpp
  src/track/beats.h
Labels: code quality

#4223 Access ConfigObjects by predefined constants instead of plain strings
  CMakeLists.txt
  src/library/library.cpp
  src/library/library.h
  src/library/library_decl.h
  src/library/library_preferences.h
  src/library/library_prefs.cpp
  src/library/library_prefs.h
  src/library/trackcollectionmanager.cpp
  src/mixxxmainwindow.cpp
  src/preferences/dialog/dlgpreflibrary.cpp
  src/preferences/dialog/dlgpreflibrary.h
  src/preferences/upgrade.cpp
  src/skin/legacy/legacyskinparser.cpp
Labels: library, ui, build, code quality

#4238 Follow-up: Library prefs
  src/dialog/dlgkeywheel.cpp
  src/library/columncache.cpp
  src/library/library.cpp
  src/library/library_prefs.cpp
  src/library/library_prefs.h
  src/preferences/dialog/dlgprefkey.cpp
  src/preferences/dialog/dlgpreflibrary.cpp
  src/test/librarytest.cpp
  src/track/track.cpp
  src/widget/wkey.cpp
  src/widget/wtracktableview.cpp
  src/widget/wtracktableview.h
Labels: library, ui, code quality

#4250 GitHub: Fix download of Windows build environment
  tools/windows_buildenv.bat
Labels: build

#4247 Sidebar: use item label for tooltip, show id when debugging
  src/library/sidebarmodel.cpp
Labels: library, ui

#4251 Require TagLib 1.11 or newer
  CMakeLists.txt
  cmake/modules/FindTagLib.cmake
  src/sources/metadatasourcetaglib.cpp
  src/sources/soundsourceopus.cpp
  src/sources/soundsourceopus.h
  src/track/taglib/trackmetadata_common.cpp
  src/track/taglib/trackmetadata_common.h
  src/track/taglib/trackmetadata_file.cpp
  src/track/taglib/trackmetadata_mp4.cpp
  src/track/taglib/trackmetadata_xiph.cpp
Labels: build, code quality

#4252 SoundSourceOpus: Fix invocation of inherited method
  src/sources/soundsourceopus.cpp
Labels: code quality

#4204 install multiple sizes of rasterized icons
  CMakeLists.txt
  res/images/icons/128x128/apps/mixxx.png
  res/images/icons/256x256/apps/mixxx.png
  res/images/icons/32x32/apps/mixxx.png
  res/images/icons/512x512/apps/mixxx.png
  res/images/icons/64x64/apps/mixxx.png
  res/images/icons/mixxx.png
  res/images/icons/scalable/apps/mixxx.svg
  res/mixxx.qrc
  src/dialog/dlgabout.cpp
  src/library/scanner/libraryscannerdlg.cpp
  src/preferences/upgrade.cpp
Labels: library, ui, build, packaging/installer, changelog

#4237 Library sidebar: also activate items on PageUp/Down events
  src/widget/wlibrarysidebar.cpp
Labels: library, ui
