Repository mixxxdj/mixxx, pull requests merged in 2021-12, with the labels that each got.

#4542 remove unused includes QDesktop/QStandardPaths
  src/library/browse/browsefeature.cpp
  src/library/dlgtrackinfo.cpp
  src/library/export/trackexportdlg.cpp
  src/library/itunes/itunesfeature.cpp
  src/library/recording/dlgrecording.cpp
  src/library/rekordbox/rekordboxfeature.cpp
  src/library/serato/seratofeature.cpp
  src/library/trackset/baseplaylistfeature.cpp
  src/library/trackset/crate/cratefeature.cpp
  src/library/traktor/traktorfeature.cpp
  src/widget/wmainmenubar.cpp
Labels: library, ui

#4554 Qt6: Replace QVariant::Type with QMetaType
  src/library/bpmdelegate.cpp
Labels: library

#4552 Qt6: Fix deprecation warnings for widget events
  src/widget/knobeventhandler.h
  src/widget/slidereventhandler.h
  src/widget/wcoverart.cpp
  src/widget/wcoverartlabel.cpp
  src/widget/weffectpushbutton.cpp
  src/widget/woverview.cpp
  src/widget/wspinny.cpp
  src/widget/wstarrating.cpp
  src/widget/wtrackproperty.cpp
  src/widget/wtracktableview.cpp
  src/widget/wtracktableviewheader.cpp
  src/widget/wtracktext.cpp
  src/widget/wtrackwidgetgroup.cpp
  src/widget/wwaveformviewer.cpp
Labels: ui

#4553 TrackRef: Use implicitly defined copy constructor and assignment operator
  src/track/trackref.h
Labels: code quality

#4549 minor fixes when compiling with qt6
  CMakeLists.txt
  src/util/db/sqlstringformatter.cpp
Labels: build

#4557 ClangFormat: Update config
  .clang-format
Labels: code quality

#4461 Help text improvement for the Effect preferences.
  src/preferences/dialog/dlgprefeffectsdlg.ui
Labels: ui

#4558 Update pre-commit hooks
  .pre-commit-config.yaml
  src/test/soundFileFormats/generateFiles.sh
Labels: code quality

#4548 Effect chain preset menu tweaks
  src/preferences/dialog/dlgprefeffects.cpp
  src/widget/weffectchainpresetbutton.cpp
Labels: effects, ui

#4559 Remove unneeded double closing angle bracket space
  src/control/controlmodel.h
  src/controllers/controllermappingtablemodel.h
  src/controllers/dlgcontrollerlearning.h
  src/controllers/learningutils.cpp
  src/controllers/learningutils.h
  src/controllers/legacycontrollermapping.h
  src/controllers/midi/midicontroller.h
  src/effects/backends/builtin/parametriceqeffect.h
  src/effects/backends/effectmanifestparameter.h
  src/library/basesqltablemodel.h
  src/library/basetrackcache.h
  src/library/browse/browsetablemodel.cpp
  src/library/browse/browsetablemodel.h
  src/library/browse/browsethread.cpp
  src/library/browse/browsethread.h
  src/library/parsercsv.cpp
  src/library/parsercsv.h
  src/preferences/upgrade.cpp
  src/soundio/sounddevicenetwork.cpp
  src/soundio/sounddevicenetwork.h
  src/test/learningutilstest.cpp
  src/track/keys.h
  src/util/lcs.h
  src/util/messagepipe.h
  src/util/statmodel.h
  src/waveform/visualplayposition.cpp
  src/waveform/visualplayposition.h
  src/waveform/visualsmanager.h
  src/waveform/vsyncthread.cpp
  src/waveform/vsyncthread.h
  src/waveform/waveformwidgetfactory.cpp
  src/waveform/waveformwidgetfactory.h
  src/widget/weffectpushbutton.cpp
  src/widget/wimagestore.cpp
  src/widget/wimagestore.h
Labels: library, ui, code quality

#4503 Tango: style Quick Effect selector
  res/skins/Tango/buttons/btn_arrow_down_black.svg
  res/skins/Tango/buttons/btn_arrow_down_black_hover.svg
  res/skins/Tango/buttons/btn_arrow_down_fx.svg
  res/skins/Tango/buttons/btn_arrow_down_fx_hover.svg
  res/skins/Tango/buttons/btn_arrow_down_fxquick.svg
  res/skins/Tango/buttons/btn_arrow_down_fxquick_hover.svg
  res/skins/Tango/buttons/btn_arrow_left_black.svg
  res/skins/Tango/buttons/btn_arrow_left_black_hover.svg
  res/skins/Tango/buttons/btn_arrow_right_black.svg
  res/skins/Tango/buttons/btn_arrow_right_black_hover.svg
  res/skins/Tango/buttons/btn_arrow_up_black.svg
  res/skins/Tango/buttons/btn_arrow_up_black_hover.svg
  res/skins/Tango/buttons/btn_lib_checkmark_white.svg
  res/skins/Tango/decks/deck_left.xml
  res/skins/Tango/decks/deck_right.xml
  res/skins/Tango/fx/toggle_selector.xml
  res/skins/Tango/fx/unit_left_mini.xml
  res/skins/Tango/mixer/eq_button.xml
  res/skins/Tango/mixer/eq_knob_left.xml
  res/skins/Tango/mixer/eq_knob_right.xml
  res/skins/Tango/mixer/mixer_channel_left.xml
  res/skins/Tango/mixer/mixer_channel_right.xml
  res/skins/Tango/mixer/quick_fx_knob_left.xml
  res/skins/Tango/mixer/quick_fx_knob_right.xml
  res/skins/Tango/style.qss
Labels: skins, ui

#4568 QML: Add developer tools window
  CMakeLists.txt
  res/qml/DeveloperToolsWindow.qml
  res/qml/TextField.qml
  res/qml/main.qml
  src/control/controlmodel.cpp
  src/control/controlmodel.h
  src/control/controlsortfiltermodel.cpp
  src/control/controlsortfiltermodel.h
  src/dialog/dlgdevelopertools.cpp
  src/dialog/dlgdevelopertools.h
  src/qml/qmlapplication.cpp
Labels: ui, build

#4531 playlist export: add missing file extension
  src/library/baseplaylistfeature.cpp
  src/library/crate/cratefeature.cpp
  src/util/file.cpp
  src/util/file.h
Labels: library, regression, changelog

#4547 Fix m3u list parsing with /r/n end of line
  src/library/parser.cpp
  src/library/parser.h
  src/library/parsercsv.cpp
  src/library/parsercsv.h
  src/library/parserm3u.cpp
  src/library/parserm3u.h
  src/library/parserpls.cpp
  src/library/parserpls.h
  src/library/trackset/baseplaylistfeature.cpp
  src/library/trackset/crate/cratefeature.cpp
  src/test/playlisttest.cpp
  src/util/dnd.cpp
Labels: library, code quality

#4565 WSpinny: allow to toggle cover art at runtime
  res/skins/LateNight/decks/spinny_coverart.xml
  res/skins/Tango/decks/spinny_cover_maxi.xml
  res/skins/Tango/decks/spinny_cover_mini.xml
  src/skin/legacy/legacyskinparser.cpp
  src/widget/wspinny.cpp
  src/widget/wspinny.h
Labels: skins, ui

#4505 add new searchbox styles
  res/skins/Deere/style.qss
  res/skins/LateNight/library.xml
  res/skins/LateNight/palemoon/buttons/btn__fx_selector_down.svg
  res/skins/LateNight/style.qss
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
  res/skins/Shade/btn/btn_search_down_grey.svg
  res/skins/Shade/style.qss
  res/skins/Shade/style/style_branch_closed_selected.svg
  res/skins/Shade/style/style_branch_open_selected.svg
  res/skins/Tango/library.xml
  res/skins/Tango/style.qss
  res/skins/default.qss
  src/widget/wsearchlineedit.cpp
  src/widget/wsearchlineedit.h
Labels: skins, library, ui

#4562 DlgTrackInfo: apply pending changes also when saving via hotkey
  src/library/dlgtrackinfo.cpp
  src/library/dlgtrackinfo.ui
Labels: library

#4566 Event queue compressing proxy
  CMakeLists.txt
  src/control/controlcompressingproxy.cpp
  src/control/controlcompressingproxy.h
  src/control/controlobjectscript.cpp
  src/control/controlobjectscript.h
  src/controllers/scripting/legacy/controllerscriptinterfacelegacy.cpp
  src/controllers/scripting/legacy/controllerscriptinterfacelegacy.h
  src/controllers/scripting/legacy/scriptconnection.h
  src/test/controlobjectscripttest.cpp
Labels: controllers, build, code quality

#4576 QML: Some fixes for the QmlLibraryTrackListModel
  src/qml/qmllibrarytracklistmodel.cpp
  src/qml/qmllibrarytracklistmodel.h
Labels: library

#4574 Fix some VC type conversion warnings
  src/controllers/midi/portmidicontroller.cpp
  src/encoder/encoderopus.cpp
  src/engine/sync/synccontrol.cpp
  src/waveform/waveformwidgetfactory.cpp
  src/widget/wtracktableviewheader.cpp
Labels: ui

#4578 lp1955159: Prevent resetting of played history in database
  src/library/dao/trackdao.cpp
Labels: library, critical bug

#4580 pre-commit: add eslint-plugin-jsdoc
  .eslintrc.json
  .pre-commit-config.yaml
Labels: code quality

#4581 BasePlayer: Add missing const qualifier to getGroup() method
  src/mixer/baseplayer.h
Labels: code quality

#4582 PlayerManager: Move duplicate code into function in anonymous namespace
  src/mixer/playermanager.cpp
Labels: code quality

#4587 DlgTrackInfo: ensure Beats pointer before scaling beats
  src/library/dlgtrackinfo.cpp
  src/library/dlgtrackinfo.h
Labels: library, critical bug

#4588 merge 2.3
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
  src/library/dlgtrackinfo.cpp
  src/library/dlgtrackinfo.h
Labels: library

#4589 Dispose sleep() workarounds for QT4
  CMakeLists.txt
  src/mixer/playermanager.cpp
  src/soundio/soundmanager.cpp
  src/util/sleep.h
  src/util/sleepableqthread.cpp
  src/util/sleepableqthread.h
Labels: build

#4577 Tweak remove/hide track confirm message to match confirm exit message
  res/skins/Deere/style.qss
  res/skins/LateNight/style.qss
  res/skins/LateNight/style_palemoon.qss
  res/skins/Shade/style.qss
  res/skins/Shade/style_dark.qss
  res/skins/Shade/style_summer_sunset.qss
  res/skins/Tango/style.qss
  src/widget/wtracktableview.cpp
Labels: skins, ui

#4586 Fix writing of track metadata on Windows
  src/sources/metadatasourcetaglib.cpp
  src/sources/soundsourceproxy.cpp
Labels: major bug, changelog

#4539 fix & improve Sampler export
  src/mixer/playermanager.cpp
  src/mixer/samplerbank.cpp
  src/mixer/samplerbank.h
Labels: library, changelog
