Repository mixxxdj/mixxx, pull requests merged in 2021-09, with the labels that each got.

#4243 do not allow using keyboards and mice as HID controllers
  src/controllers/hid/hidcontroller.cpp
  src/controllers/hid/hiddenylist.h
  src/controllers/hid/hidenumerator.cpp
Labels: major bug, changelog

#4245 lp1934785 SoundSourceFFmpeg: Ignore inaudible samples before start of stream
  CHANGELOG.md
  src/sources/readaheadframebuffer.cpp
  src/sources/soundsourceffmpeg.cpp
Labels: major bug, sources

#4258 BeatFactory: Remove makeBeatGrid function
  src/analyzer/analyzerbeats.cpp
  src/engine/enginebuffer.cpp
  src/library/banshee/bansheeplaylistmodel.cpp
  src/library/dao/trackdao.cpp
  src/library/dlgtrackinfo.cpp
  src/library/serato/seratofeature.cpp
  src/test/beatgridtest.cpp
  src/test/beatstranslatetest.cpp
  src/test/bpmcontrol_test.cpp
  src/test/enginesynctest.cpp
  src/test/seratobeatgridtest.cpp
  src/track/beatfactory.cpp
  src/track/beatfactory.h
  src/track/beatgrid.cpp
  src/track/beatgrid.h
  src/track/beatmap.cpp
  src/track/track.cpp
Labels: library, code quality

#4254 fix app/window icons
  src/defs_urls.h
  src/dialog/dlgabout.cpp
  src/dialog/dlgabout.h
  src/library/dlgtagfetcher.cpp
  src/library/dlgtrackinfo.cpp
  src/library/scanner/libraryscannerdlg.cpp
  src/mixxx.cpp
  src/preferences/upgrade.cpp
Labels: ui, blocker

#4259 BeatsPointer: Use std::shared_ptr instead of QSharedPointer
  src/engine/controls/quantizecontrol.cpp
  src/library/dao/trackdao.cpp
  src/library/dlgtrackinfo.cpp
  src/test/beatgridtest.cpp
  src/track/beats.h
Labels: library, code quality

#4160 mapping for the Numark Mixtrack Pro FX
  res/controllers/Numark Mixtrack Pro FX.midi.xml
  res/controllers/Numark-Mixtrack-Pro-FX-scripts.js
Labels: controllers, changelog

#4256 Changelog: Add missing links
  .pre-commit-config.yaml
  CHANGELOG.md
  tools/changelog.py
Labels: code quality

#4263 BeatFactory: Round beatgrid frame positions in makePreferredBeats()
  src/track/beatfactory.cpp
Labels: regression

#4260 HidEnumerator: skip all HID devices with Apple's vendor ID
  src/controllers/hid/hiddenylist.h
  src/controllers/hid/hidenumerator.cpp
Labels: changelog

#4209 CMake: fix detection of SoundTouch pkgconfig file and version
  CMakeLists.txt
  cmake/modules/FindSoundTouch.cmake
Labels: build

#4264 lp1929141: Fix handling of preview button cell events
  src/library/previewbuttondelegate.cpp
Labels: library, code quality

#4272 Add some minor clarifications in BeatUtils::retrieveConstRegions()
  src/track/beatutils.cpp
Labels: code quality

#4217 EngineBuffer: Use mixxx::audio::FramePos
  src/engine/controls/bpmcontrol.cpp
  src/engine/controls/enginecontrol.cpp
  src/engine/enginebuffer.cpp
  src/engine/enginebuffer.h
  src/engine/readaheadmanager.cpp
  src/engine/readaheadmanager.h
  src/test/beatstranslatetest.cpp
Labels: code quality

#4267 Fixes a race condition when loading tracks via AutoDJ
  src/library/autodj/autodjfeature.cpp
  src/mixer/basetrackplayer.cpp
  src/widget/woverview.cpp
Labels: major bug, library, ui

#4205 AppStream metainfo fixes
  .pre-commit-config.yaml
  CMakeLists.txt
  res/linux/mixxx.metainfo.xml
  res/linux/org.mixxx.Mixxx.metainfo.xml
  tools/update_metainfo.py
Labels: build, packaging/installer, code quality, changelog

#4268 Beats: Hide beatmap/beatgrid implementation from calling code
  src/analyzer/analyzerbeats.cpp
  src/library/dao/trackdao.cpp
  src/library/dlgtrackinfo.cpp
  src/library/rekordbox/rekordboxfeature.cpp
  src/test/beatgridtest.cpp
  src/test/beatmaptest.cpp
  src/test/beatstranslatetest.cpp
  src/test/bpmcontrol_test.cpp
  src/test/enginesynctest.cpp
  src/test/seratobeatgridtest.cpp
  src/track/beatfactory.cpp
  src/track/beatmap.cpp
  src/track/beats.cpp
  src/track/beats.h
  src/track/track.cpp
Labels: library, engine, code quality

#4276 LateNight: fix button svg warnings
  res/skins/LateNight/classic/buttons/btn_elevated_headsplit.svg
  res/skins/LateNight/classic/buttons/btn_elevated_headsplit_active.svg
  res/skins/LateNight/controls/button_hotcue.xml
  res/skins/LateNight/controls/button_hotcue_inlne_style.xml
  res/skins/LateNight/mixer/mixer_main_headphone.xml
  res/skins/LateNight/palemoon/buttons/btn_embedded_headsplit.svg
  res/skins/LateNight/palemoon/buttons/btn_embedded_headsplit_active.svg
Labels: skins

#4280 LibraryScanner: Add note for cleanUpDatabase()
  src/library/scanner/libraryscanner.cpp
Labels: library, code quality

#4262 Update controller mapping for Behringer DDM4000 mixer
  res/controllers/Behringer-DDM4000-scripts.js
  res/controllers/Behringer-Extension-scripts.js
Labels: controllers, changelog

#4278 Add more eslint rules
  .eslintrc.json
Labels: code quality

#4282 Eslint rules ES6
  .eslintrc.json
Labels: code quality

#4225 Use 2.4 vcpkg branch for MacOS and Windows
  .github/workflows/build.yml
  CMakeLists.txt
  cmake/modules/FindJACK.cmake
  cmake/modules/FindPortAudio.cmake
  cmake/modules/Findhidapi.cmake
  cmake/modules/IsStaticLibrary.cmake
  packaging/macos/build_environment
  packaging/windows/build_environment
  tools/macos_buildenv.sh
  tools/windows_buildenv.bat
Labels: build

#4253 sidebar: Left key jumps to parent and activates it
  src/widget/wlibrarysidebar.cpp
Labels: library, ui

#3960 Q scale factor from preferences
  src/main.cpp
  src/preferences/configobject.cpp
  src/preferences/configobject.h
  src/preferences/dialog/dlgprefinterface.cpp
  src/preferences/dialog/dlgprefinterface.h
  src/preferences/dialog/dlgprefinterfacedlg.ui
  src/util/cmdlineargs.cpp
  src/util/cmdlineargs.h
Labels: library, ui

#4283 Retire osolete Ubuntu Groovy 20.10
  CMakeLists.txt
Labels: build

#4052 Qt6 build system prerequisites
  CMakeLists.txt
Labels: build

#4287 fix sampler, hotcue, beatloop buttons
  res/controllers/Numark_DJ2GO2_Touch_scripts.js
Labels: controllers

#4288 Fix preference option for re-analyzing beatgrids imported from other software
  src/analyzer/analyzerbeats.cpp
  src/preferences/beatdetectionsettings.h
  src/preferences/dialog/dlgprefbeats.cpp
Labels: ui

#4246 Improve Hercules inpulse 300 mappings
  res/controllers/Hercules_DJControl_Inpulse_300.midi.xml
Labels: controllers, skins, library, ui, build, code quality, changelog

#4290 use Qt5/6 QMutex & QMutexLocker compatibility macros
  src/controllers/controllermanager.cpp
  src/engine/cachingreader/cachingreaderworker.cpp
  src/engine/controls/cuecontrol.cpp
  src/engine/controls/cuecontrol.h
  src/engine/engineworkerscheduler.cpp
  src/errordialoghandler.cpp
  src/library/scanner/scannerglobal.h
  src/mixer/playerinfo.cpp
  src/mixer/playermanager.cpp
  src/mixer/playermanager.h
  src/track/beatgrid.cpp
  src/track/beatmap.cpp
  src/track/cue.cpp
  src/track/keyutils.cpp
  src/track/track.cpp
  src/util/logging.cpp
  src/util/mutex.h
  src/util/sandbox.cpp
  src/util/sandbox.h
  src/util/statsmanager.cpp
  src/util/tapfilter.cpp
  src/vinylcontrol/vinylcontrolprocessor.cpp
  src/vinylcontrol/vinylcontrolprocessor.h
  src/waveform/waveform.h
  src/widget/wlibrary.cpp
  src/widget/wlibrary.h
Labels: library, ui

#4297 Remove no longer valid assertion, fixing lp1943643
  src/library/trackset/baseplaylistfeature.cpp
Labels: library

#4298 Fix segfault when deleting the last history playlist under a year folder
  src/library/trackset/baseplaylistfeature.cpp
Labels: library

#4289 replace QRegExp with QRegularExpression
  src/controllers/dlgprefcontroller.cpp
  src/controllers/midi/portmidienumerator.cpp
  src/effects/effectsmanager.cpp
  src/engine/sidechain/shoutconnection.cpp
  src/library/basetrackcache.h
  src/library/coverartutils.cpp
  src/library/dao/trackdao.cpp
  src/library/proxytrackmodel.cpp
  src/library/scanner/libraryscanner.cpp
  src/library/scanner/recursivescandirectorytask.cpp
  src/library/scanner/scannerglobal.h
  src/library/searchquery.cpp
  src/library/searchquery.h
  src/library/searchqueryparser.cpp
  src/library/searchqueryparser.h
  src/preferences/broadcastprofile.cpp
  src/preferences/colorpalettesettings.cpp
  src/skin/legacy/legacyskin.cpp
  src/skin/legacy/skincontext.h
  src/sources/soundsourceproxy.cpp
  src/sources/soundsourceproxy.h
  src/test/searchqueryparsertest.cpp
  src/track/keyutils.cpp
  src/util/dnd.cpp
  src/util/regex.h
  src/vinylcontrol/vinylcontrolmanager.cpp
  src/widget/hexspinbox.cpp
  src/widget/wbeatspinbox.cpp
  src/widget/wbeatspinbox.h
Labels: library, ui, code quality

#4292 add Qt5/6 compatibility typedef for qHash seed type
  src/controllers/midi/midimessage.cpp
  src/controllers/midi/midimessage.h
  src/effects/defs.h
  src/engine/channelhandle.h
  src/preferences/configobject.h
  src/soundio/soundmanagerutil.h
  src/track/trackref.h
  src/util/compatibility/qhash.h
  src/util/db/dbid.h
Labels: ui

#4051 CMake: add option to build with Qt6
  CMakeLists.txt
Labels: build

#4303 Move compatibility workarounds for QMutex into new subdirectory
  src/controllers/controllermanager.cpp
  src/engine/cachingreader/cachingreaderworker.cpp
  src/engine/controls/cuecontrol.h
  src/engine/engineworkerscheduler.cpp
  src/errordialoghandler.cpp
  src/library/scanner/scannerglobal.h
  src/mixer/playerinfo.cpp
  src/mixer/playermanager.h
  src/track/cue.cpp
  src/track/keyutils.cpp
  src/track/track.h
  src/util/compatibility/qmutex.h
  src/util/logging.cpp
  src/util/mutex.h
  src/util/sandbox.h
  src/util/statsmanager.cpp
  src/util/tapfilter.cpp
  src/vinylcontrol/vinylcontrolprocessor.h
  src/waveform/waveform.h
  src/widget/wlibrary.h
Labels: library, ui, code quality

#4304 BrowseTableModel: Move utility function into .cpp file
  src/library/browse/browsetablemodel.cpp
  src/util/compatibility.h
Labels: library, code quality

#4306 Extract Qt atomic operation wrappers into separate header file
  src/control/controlvalue.h
  src/controllers/bulk/bulkcontroller.cpp
  src/engine/cachingreader/cachingreader.cpp
  src/engine/cachingreader/cachingreaderworker.cpp
  src/engine/controls/loopingcontrol.cpp
  src/engine/enginebuffer.cpp
  src/engine/sidechain/shoutconnection.cpp
  src/library/coverartdelegate.cpp
  src/library/dlgcoverartfullsize.cpp
  src/library/export/trackexportworker.cpp
  src/mixer/playermanager.cpp
  src/preferences/broadcastprofile.cpp
  src/preferences/dialog/dlgprefinterface.cpp
  src/soundio/soundmanager.cpp
  src/util/compatibility.h
  src/util/compatibility/qatomic.h
  src/util/statsmanager.cpp
  src/util/task.cpp
  src/waveform/waveform.h
Labels: library, ui

#4308 Extract utility functions for QUuid
  CMakeLists.txt
  src/library/basetracktablemodel.cpp
  src/musicbrainz/web/musicbrainzrecordingstask.cpp
  src/test/compatibility_test.cpp
  src/test/uuid_test.cpp
  src/track/taglib/trackmetadata_common.h
  src/util/compatibility.h
  src/util/quuid.h
  src/widget/wtrackmenu.cpp
Labels: library, ui, build, code quality

#4309 remove compatibility.h
  src/encoder/encoderopussettings.cpp
  src/library/autodj/autodjfeature.cpp
  src/library/autodj/dlgautodj.cpp
  src/library/basetrackcache.cpp
  src/library/basetracktablemodel.cpp
  src/library/coverartcache.cpp
  src/library/coverartdelegate.cpp
  src/library/coverartutils.cpp
  src/library/dao/playlistdao.cpp
  src/library/dao/trackdao.cpp
  src/library/dlgcoverartfullsize.cpp
  src/library/dlgtrackinfo.cpp
  src/library/searchqueryparser.cpp
  src/library/trackset/setlogfeature.cpp
  src/preferences/dialog/dlgprefcolors.cpp
  src/preferences/dialog/dlgprefdeck.cpp
  src/preferences/dialog/dlgprefinterface.cpp
  src/preferences/dialog/dlgprefkey.cpp
  src/preferences/dialog/dlgprefsounditem.cpp
  src/util/compatibility.h
  src/vinylcontrol/vinylcontrolmanager.cpp
  src/waveform/widgets/waveformwidgetabstract.cpp
  src/widget/wcoverart.cpp
  src/widget/wcoverartlabel.cpp
  src/widget/woverview.cpp
  src/widget/wspinny.cpp
  src/widget/wtrackmenu.cpp
Labels: library, ui, build, code quality

#4314 Update pre-commit hooks
  .pre-commit-config.yaml
  res/controllers/novation-launchpad/README.md
Labels: controllers, code quality

#4269 add halve/double controls for beatjump size
  src/engine/controls/loopingcontrol.cpp
  src/engine/controls/loopingcontrol.h
Labels: engine

#4315 Strip `icons` parent directory on install
  CMakeLists.txt
Labels: build

#4320 Retire atomicLoadAcquire()
  src/controllers/bulk/bulkcontroller.cpp
  src/engine/cachingreader/cachingreader.cpp
  src/engine/cachingreader/cachingreaderworker.cpp
  src/library/export/trackexportworker.cpp
  src/util/compatibility.h
  src/util/statsmanager.cpp
  src/waveform/waveform.h
Labels: library

#4319 Auto DJ skip fix lp1941989
  src/engine/cachingreader/cachingreader.cpp
  src/engine/cachingreader/cachingreaderworker.cpp
  src/engine/cachingreader/cachingreaderworker.h
  src/engine/enginebuffer.cpp
  src/library/autodj/autodjprocessor.cpp
Labels: major bug, library

#4021 Denon MC7000 improvements
  res/controllers/Denon-MC7000-scripts.js
  res/controllers/Denon-MC7000.midi.xml
Labels: controllers, changelog

#4329 Componentsjs fix syncbutton
  res/controllers/midi-components-0.0.js
Labels: controllers, build

#4324 Denon mc7000 changelog
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Labels: controllers

#4316 DlgTrackInfo: Fix SIGSEGV after debug assertion
  src/library/dlgtrackinfo.cpp
  src/track/beatgrid.cpp
  src/track/beatgrid.h
Labels: library, critical bug

#4335 Extended 2.3.1 (alternative)
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Labels: controllers, library, ui, code quality

#4202 devendor libebur128
  CMakeLists.txt
  lib/libebur128/.gitignore
  lib/libebur128/CMakeLists.txt
  lib/libebur128/COPYING
  lib/libebur128/README.md
  lib/libebur128/cmake/utils.cmake
  lib/libebur128/doc/license/R128Scan.txt
  lib/libebur128/doc/license/queue.txt
  lib/libebur128/ebur128/CMakeLists.txt
  lib/libebur128/ebur128/ebur128.c
  lib/libebur128/ebur128/ebur128.def
  lib/libebur128/ebur128/ebur128.h
  lib/libebur128/ebur128/libebur128.pc.cmake
  lib/libebur128/ebur128/queue/sys/queue.h
  lib/libebur128/test/CMakeLists.txt
  lib/libebur128/test/minimal-example.c
  lib/libebur128/test/tests.c
Labels: build

#4201 Devendor SoundTouch
  CMakeLists.txt
  lib/soundtouch/AAFilter.cpp
  lib/soundtouch/AAFilter.h
  lib/soundtouch/BPMDetect.cpp
  lib/soundtouch/BPMDetect.h
  lib/soundtouch/COPYING.TXT
  lib/soundtouch/FIFOSampleBuffer.cpp
  lib/soundtouch/FIFOSampleBuffer.h
  lib/soundtouch/FIFOSamplePipe.h
  lib/soundtouch/FIRFilter.cpp
  lib/soundtouch/FIRFilter.h
  lib/soundtouch/InterpolateCubic.cpp
  lib/soundtouch/InterpolateCubic.h
  lib/soundtouch/InterpolateLinear.cpp
  lib/soundtouch/InterpolateLinear.h
  lib/soundtouch/InterpolateShannon.cpp
  lib/soundtouch/InterpolateShannon.h
  lib/soundtouch/PeakFinder.cpp
  lib/soundtouch/PeakFinder.h
  lib/soundtouch/README.html
  lib/soundtouch/RateTransposer.cpp
  lib/soundtouch/RateTransposer.h
  lib/soundtouch/STTypes.h
  lib/soundtouch/SoundTouch.cpp
  lib/soundtouch/SoundTouch.h
  lib/soundtouch/TDStretch.cpp
  lib/soundtouch/TDStretch.h
  lib/soundtouch/cpu_detect.h
  lib/soundtouch/cpu_detect_x86.cpp
  lib/soundtouch/mmx_optimized.cpp
  lib/soundtouch/readme.md
  lib/soundtouch/soundtouch_config.h
  lib/soundtouch/sse_optimized.cpp
Labels: build

#4342 BeatsImporter: Return Beats object instead of frame position vector
  src/test/seratobeatgridtest.cpp
  src/track/beatsimporter.h
  src/track/serato/beatsimporter.cpp
  src/track/serato/beatsimporter.h
  src/track/track.cpp
Labels: code quality

#4331 add [Library],clear_search
  src/controllers/controlpickermenu.cpp
  src/library/librarycontrol.cpp
  src/library/librarycontrol.h
  src/widget/wsearchlineedit.cpp
Labels: controllers, library, ui
