Repository mixxxdj/mixxx, pull requests merged in 2021-11, with the labels that each got.

#4498 Rename Beats iterator methods
  src/test/beatstest.cpp
  src/track/beats.cpp
  src/track/beats.h
  src/waveform/renderers/waveformrenderbeat.cpp
Labels: engine, code quality

#4500 Beats: Remove leftover qWarning from debugging
  src/track/beats.cpp
Labels: code quality

#4501 Tweak WEffectChainPresetSelector
  res/skins/LateNight/style.qss
  res/skins/default.qss
  src/widget/weffectchainpresetbutton.cpp
  src/widget/weffectchainpresetselector.cpp
  src/widget/weffectchainpresetselector.h
  src/widget/weffectselector.cpp
Labels: skins, ui

#4504 Preferences > Library: fix search timeout reset + tab order
  src/preferences/dialog/dlgpreflibrary.cpp
  src/preferences/dialog/dlgpreflibrarydlg.ui
Labels: ui

#4506 LegacySkin: Add missing include for QRegularExpression
  src/skin/legacy/legacyskin.cpp
Labels: code quality, regression

#4509 double click to reset knobs and sliders
  src/widget/knobeventhandler.h
  src/widget/slidereventhandler.h
  src/widget/wknob.cpp
  src/widget/wknob.h
  src/widget/wknobcomposed.cpp
  src/widget/wknobcomposed.h
  src/widget/wslidercomposed.cpp
  src/widget/wslidercomposed.h
Labels: skins, ui, changelog

#4499 Beats: Round positions to lower frame boundary on translate
  src/track/beats.cpp
Labels: regression

#4512 .eslintrc.json: adjust eslint rules to enforce readable chain syntax
  .eslintrc.json
Labels: code quality

#4510 Beats: Use "last marker" term instead of "end marker"
  src/test/beatstest.cpp
  src/track/beats.cpp
  src/track/beats.h
  src/track/serato/beatgrid.cpp
  src/track/serato/beatsimporter.cpp
Labels: code quality

#4514 CMake: Adjust the download directory and name of external dependencies Pt. 2
  CMakeLists.txt
Labels: build

#4511 CMake: Adjust the download directory and name of external dependencies
  CHANGELOG.md
  CMakeLists.txt
  res/linux/org.mixxx.Mixxx.metainfo.xml
Labels: build

#4515 Search: Ctrl+F in focused search box selects the entire search string
  src/widget/wsearchlineedit.cpp
Labels: ui

#4518 LateNight: fixup width of Quick Effect popup
  res/skins/LateNight/style.qss
Labels: skins

#4328 Changed beatloop_activate button behaviour to match lp1876003
  res/skins/Deere/deck_looping_controls.xml
  res/skins/LateNight/decks/row_5_transportLoopJump.xml
  res/skins/Shade/deck_transport.xml
  res/skins/Shade/looping.xml
  res/skins/Tango/decks/loop_controls.xml
  src/engine/controls/loopingcontrol.cpp
  src/test/looping_control_test.cpp
Labels: skins, code quality

#4517 Roland DJ-505: Use let/const instead of var
  res/controllers/Roland_DJ-505-scripts.js
Labels: controllers

#4524 Controllers: Use console.log instead of engine.log
  res/controllers/Hercules-DJ-Console-4-Mx-scripts.js
  res/controllers/common-controller-scripts.js
Labels: controllers, code quality

#4523 Controller logging categories (with --controllerDebug support)
  CMakeLists.txt
  src/control/controlobjectscript.cpp
  src/control/controlobjectscript.h
  src/controllers/bulk/bulkcontroller.cpp
  src/controllers/controller.cpp
  src/controllers/controller.h
  src/controllers/controllerdebug.cpp
  src/controllers/controllerdebug.h
  src/controllers/hid/hidcontroller.cpp
  src/controllers/midi/hss1394controller.cpp
  src/controllers/midi/midicontroller.cpp
  src/controllers/midi/midicontroller.h
  src/controllers/midi/midioutputhandler.cpp
  src/controllers/midi/midioutputhandler.h
  src/controllers/midi/portmidicontroller.cpp
  src/controllers/scripting/controllerscriptenginebase.cpp
  src/controllers/scripting/controllerscriptenginebase.h
  src/controllers/scripting/controllerscriptmoduleengine.cpp
  src/controllers/scripting/controllerscriptmoduleengine.h
  src/controllers/scripting/legacy/controllerscriptenginelegacy.cpp
  src/controllers/scripting/legacy/controllerscriptenginelegacy.h
  src/controllers/scripting/legacy/controllerscriptinterfacelegacy.cpp
  src/controllers/scripting/legacy/controllerscriptinterfacelegacy.h
  src/test/controller_mapping_validation_test.cpp
  src/test/controllerscriptenginelegacy_test.cpp
  src/test/midicontrollertest.cpp
  src/util/cmdlineargs.cpp
  src/util/cmdlineargs.h
  src/util/logging.cpp
  src/util/runtimeloggingcategory.cpp
  src/util/runtimeloggingcategory.h
Labels: controllers, build, code quality

#4177 Fix library track selection, save model state
  src/library/autodj/dlgautodj.cpp
  src/library/autodj/dlgautodj.h
  src/library/baseexternalplaylistmodel.cpp
  src/library/baseexternalplaylistmodel.h
  src/library/basesqltablemodel.cpp
  src/library/basesqltablemodel.h
  src/library/browse/browsefeature.cpp
  src/library/browse/browsetablemodel.cpp
  src/library/browse/browsetablemodel.h
  src/library/dlganalysis.cpp
  src/library/dlganalysis.h
  src/library/dlghidden.cpp
  src/library/dlghidden.h
  src/library/dlgmissing.cpp
  src/library/dlgmissing.h
  src/library/hiddentablemodel.cpp
  src/library/hiddentablemodel.h
  src/library/library.cpp
  src/library/library.h
  src/library/libraryfeature.h
  src/library/libraryview.h
  src/library/missingtablemodel.cpp
  src/library/missingtablemodel.h
  src/library/mixxxlibraryfeature.cpp
  src/library/playlisttablemodel.cpp
  src/library/playlisttablemodel.h
  src/library/proxytrackmodel.cpp
  src/library/proxytrackmodel.h
  src/library/recording/dlgrecording.cpp
  src/library/recording/dlgrecording.h
  src/library/recording/recordingfeature.cpp
  src/library/rhythmbox/rhythmboxfeature.cpp
  src/library/serato/seratofeature.cpp
  src/library/trackmodel.h
  src/library/trackset/baseplaylistfeature.cpp
  src/library/trackset/crate/cratefeature.cpp
  src/library/trackset/crate/cratetablemodel.cpp
  src/library/trackset/crate/cratetablemodel.h
  src/library/traktor/traktorfeature.cpp
  src/widget/wlibrary.cpp
  src/widget/wlibrarytableview.cpp
  src/widget/wlibrarytableview.h
  src/widget/wtracktableview.cpp
  src/widget/wtracktableview.h
Labels: library, ui

#4532 WEffectChainPresetSelector: don't set elide padding in c++
  src/widget/weffectchainpresetselector.cpp
Labels: ui

#3550 CMake: remove obsolete references to files generated by scons
  CMakeLists.txt
Labels: build, stale

#1966 remove autogenerated code from ChannelMixer
  CMakeLists.txt
  src/engine/channelmixer.cpp
  src/engine/channelmixer_autogen.cpp
  tools/generate_sample_functions.py
Labels: build, code quality, stale

#4534 Fix isDirty() signature and semantics
  src/controllers/dlgprefcontroller.h
  src/library/dao/trackdao.cpp
  src/library/dao/trackdao.h
  src/track/track.cpp
  src/track/track.h
Labels: library, code quality

#3212 WTrackMenu: add Remove From Disk action
  src/library/browse/browsetablemodel.cpp
  src/library/dlghidden.cpp
  src/library/dlghidden.ui
  src/library/hiddentablemodel.cpp
  src/library/librarytablemodel.cpp
  src/library/trackmodel.h
  src/library/trackset/crate/cratetablemodel.cpp
  src/util/widgethelper.cpp
  src/util/widgethelper.h
  src/widget/wtrackmenu.cpp
  src/widget/wtrackmenu.h
  src/widget/wtracktableview.cpp
  src/widget/wtracktableview.h
Labels: library, ui

#4541 WTrackMenu: Add missing feature to all features enum variant
  src/widget/wtrackmenu.h
Labels: ui

#4540 Update vendored Benchmark library to v1.6.0
  lib/benchmark/AUTHORS
  lib/benchmark/CMakeLists.txt
  lib/benchmark/COMMIT
  lib/benchmark/CONTRIBUTING.md
  lib/benchmark/CONTRIBUTORS
  lib/benchmark/README.md
  lib/benchmark/cmake/AddCXXCompilerFlag.cmake
  lib/benchmark/cmake/CXXFeatureCheck.cmake
  lib/benchmark/cmake/GetGitVersion.cmake
  lib/benchmark/cmake/GoogleTest.cmake
  lib/benchmark/cmake/GoogleTest.cmake.in
  lib/benchmark/cmake/Modules/FindPFM.cmake
  lib/benchmark/cmake/benchmark.pc.in
  lib/benchmark/include/benchmark/benchmark.h
  lib/benchmark/src/CMakeLists.txt
  lib/benchmark/src/benchmark.cc
  lib/benchmark/src/benchmark_api_internal.cc
  lib/benchmark/src/benchmark_api_internal.h
  lib/benchmark/src/benchmark_register.cc
  lib/benchmark/src/benchmark_register.h
  lib/benchmark/src/benchmark_runner.cc
  lib/benchmark/src/benchmark_runner.h
  lib/benchmark/src/check.h
  lib/benchmark/src/colorprint.cc
  lib/benchmark/src/commandlineflags.cc
  lib/benchmark/src/commandlineflags.h
  lib/benchmark/src/complexity.cc
  lib/benchmark/src/console_reporter.cc
  lib/benchmark/src/csv_reporter.cc
  lib/benchmark/src/cycleclock.h
  lib/benchmark/src/internal_macros.h
  lib/benchmark/src/json_reporter.cc
  lib/benchmark/src/log.h
  lib/benchmark/src/mutex.h
  lib/benchmark/src/perf_counters.cc
  lib/benchmark/src/perf_counters.h
  lib/benchmark/src/re.h
  lib/benchmark/src/reporter.cc
  lib/benchmark/src/sleep.cc
  lib/benchmark/src/statistics.cc
  lib/benchmark/src/statistics.h
  lib/benchmark/src/string_util.cc
  lib/benchmark/src/string_util.h
  lib/benchmark/src/sysinfo.cc
  lib/benchmark/src/thread_timer.h
  lib/benchmark/src/timers.cc
  lib/benchmark/tools/compare.py
  lib/benchmark/tools/gbench/report.py
  lib/benchmark/tools/gbench/util.py
Labels: build

#4543 WTrackMenu::featureIsEnabled(): Fix unhandled case
  src/widget/wtrackmenu.cpp
Labels: ui

#4544 don't wipe inapplicable sound config immediately
  src/mixxx.cpp
  src/mixxx.h
  src/soundio/soundmanager.cpp
Labels: ui, devices, preferences

#4545 Add a Big Sur-style rounded rectangle icon on macOS
  res/images/icons/scalable/apps/mixxx_macos.svg
  res/osx/VolumeIcon.icns
  res/osx/application.icns
Labels: packaging/installer, changelog

#4350 Minimixxx controller config
  res/controllers/Yaeltex MiniMixxx.midi.xml
  res/controllers/Yaeltex-MiniMixxx-scripts.js
Labels: controllers, code quality
