Repository mixxxdj/mixxx, pull requests merged in 2021-06, with the labels that each got.

#3928 QML: Redesign demo skin
  res/skins/QMLDemo/Button.qml
  res/skins/QMLDemo/ControlButton.qml
  res/skins/QMLDemo/CrossfaderRow.qml
  res/skins/QMLDemo/Deck.qml
  res/skins/QMLDemo/DeckInfoBar.qml
  res/skins/QMLDemo/DeckRow.qml
  res/skins/QMLDemo/EqColumn.qml
  res/skins/QMLDemo/EqKnob.qml
  res/skins/QMLDemo/HiddenState.qml
  res/skins/QMLDemo/HiddenTransition.qml
  res/skins/QMLDemo/HotcueButton.qml
  res/skins/QMLDemo/InfoBarButton.qml
  res/skins/QMLDemo/Knob.qml
  res/skins/QMLDemo/Library.qml
  res/skins/QMLDemo/Mixer.qml
  res/skins/QMLDemo/MixerColumn.qml
  res/skins/QMLDemo/Mixxx/Controls/Knob.qml
  res/skins/QMLDemo/Mixxx/Controls/Spinny.qml
  res/skins/QMLDemo/Mixxx/Controls/ToggleButton.qml
  res/skins/QMLDemo/OrientationToggleButton.qml
  res/skins/QMLDemo/Slider.qml
  res/skins/QMLDemo/Theme/Theme.qml
  res/skins/QMLDemo/Theme/qmldir
  res/skins/QMLDemo/WaveformOverview.qml
  res/skins/QMLDemo/images/button.svg
  res/skins/QMLDemo/images/button_pressed.svg
  res/skins/QMLDemo/images/icon_passthrough.svg
  res/skins/QMLDemo/images/icon_quantize.svg
  res/skins/QMLDemo/images/knob.svg
  res/skins/QMLDemo/images/slider_bpm.svg
  res/skins/QMLDemo/images/slider_crossfader.svg
  res/skins/QMLDemo/images/slider_handle.svg
  res/skins/QMLDemo/images/slider_handle_crossfader.svg
  res/skins/QMLDemo/images/slider_volume.svg
  res/skins/QMLDemo/main.qml
  src/skin/qml/qmlcontrolproxy.h
Labels: skins

#3930 Update screenshots for 2.3
  res/skins/Deere (64 Samplers)/skin_preview.png
  res/skins/Deere/skin_preview.png
  res/skins/LateNight/skin_preview_Classic.png
  res/skins/LateNight/skin_preview_PaleMoon.png
  res/skins/Shade/skin_preview_Classic.png
  res/skins/Shade/skin_preview_Dark.png
  res/skins/Shade/skin_preview_SummerSunset.png
  res/skins/Tango (64 Samplers)/skin_preview.png
  res/skins/Tango/skin_preview.png
Labels: skins

#3890 WScrollable: Add a scrollable widget type.
  CMakeLists.txt
  src/skin/legacy/legacyskinparser.cpp
  src/skin/legacy/legacyskinparser.h
  src/widget/wscrollable.cpp
  src/widget/wscrollable.h
Labels: build, skins, ui

#3933 SkinLoader: Skip skin directory if "skin.xml" is missing
  src/skin/skinloader.cpp
Labels: minor bug

#3932 skins/QMLDemo: Add channel VU meters
  res/skins/QMLDemo/MixerColumn.qml
  res/skins/QMLDemo/VuMeter.qml
Labels: skins

#3931 partially revert #3902 Skins: fix qss icons with kIconThemes 5.80
  res/skins/Deere/style.qss
  res/skins/LateNight/skin.xml
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
  res/skins/Shade/skin.xml
  res/skins/Shade/style.qss
  res/skins/Tango (64 Samplers)/skin.xml
  res/skins/Tango/buttons/btn_library_sort_down.svg
  res/skins/Tango/buttons/btn_library_sort_up.svg
  res/skins/Tango/graphics/library_sort_down.svg
  res/skins/Tango/graphics/library_sort_up.svg
  res/skins/Tango/skin.xml
  res/skins/Tango/style.qss
  res/skins/default.qss
  src/skin/legacy/launchimage.cpp
Labels: blocker, skins

#3939 Fix warning when no skin configured
  src/skin/skinloader.cpp
Labels: skins

#3924 Track: Add missing `NOTIFY` signals for `Q_PROPERTY` declarations
  src/mixer/basetrackplayer.cpp
  src/track/track.cpp
  src/track/track.h
Labels: library

#3943 Behringer BCR2000: fix mapping of effect assignment buttons
  res/controllers/Behringer-BCR2000-scripts.js
Labels: controllers

#3941 skin preview: consider devicePixelRatio when scaling
  src/preferences/dialog/dlgprefinterface.cpp
  src/preferences/dialog/dlgprefinterface.h
  src/skin/skinloader.cpp
  src/skin/skinloader.h
Labels: preferences, ui

#3935 Fix empty library table after start
  src/library/basetracktablemodel.cpp
  src/widget/wtracktableview.cpp
Labels: library, ui

#3938 Waveform: fix shifted pixmap markers with odd scale factors
  src/waveform/renderers/waveformrendermark.cpp
Labels: skins

#3911 QML Pt. 3: Add support for retrieving deck track properties
  CMakeLists.txt
  res/skins/QMLDemo/Deck.qml
  res/skins/QMLDemo/DeckInfoBar.qml
  src/skin/qml/qmlplayermanagerproxy.cpp
  src/skin/qml/qmlplayermanagerproxy.h
  src/skin/qml/qmlplayerproxy.cpp
  src/skin/qml/qmlplayerproxy.h
  src/skin/qml/qmlskin.cpp
Labels: build, code quality, skins, ui

#3937 skins/QMLSkin: Add support for maximized library
  res/skins/QMLDemo/ControlButton.qml
  res/skins/QMLDemo/Deck.qml
  res/skins/QMLDemo/DeckRow.qml
  res/skins/QMLDemo/FadeBehavior.qml
  res/skins/QMLDemo/HiddenState.qml
  res/skins/QMLDemo/HiddenTransition.qml
  res/skins/QMLDemo/InfoBarButton.qml
  res/skins/QMLDemo/MixerColumn.qml
  res/skins/QMLDemo/main.qml
Labels: skins

#3940 SetLogFeature: Reset pointer when WLibrary is destroyed
  src/library/trackset/setlogfeature.cpp
  src/library/trackset/setlogfeature.h
Labels: critical bug, library

#3913 QML: Add ImageProvider for Cover Art
  CMakeLists.txt
  res/skins/QMLDemo/DeckInfoBar.qml
  src/skin/qml/asyncimageprovider.cpp
  src/skin/qml/asyncimageprovider.h
  src/skin/qml/qmlplayerproxy.cpp
  src/skin/qml/qmlplayerproxy.h
  src/skin/qml/qmlskin.cpp
Labels: build, code quality, library, skins, ui

#3945 Only show the date in Date Added / Last Played columns
  src/library/basetracktablemodel.cpp
Labels: library

#3949 [DDJ 200] Get knobs/sliders position at init
  res/controllers/Pioneer-DDJ-200-scripts.js
Labels: controllers

#3947 Preferences: add function to load skin preview
  src/preferences/dialog/dlgprefinterface.cpp
  src/preferences/dialog/dlgprefinterface.h
Labels: preferences, ui

#3953 SeratoFeature: Use default duration of 0 instead of -1
  src/library/serato/seratofeature.cpp
Labels: library, major bug

#3954 Waveform: always use pixel size and 'Open Sans' for text markers
  src/waveform/renderers/waveformrendermark.cpp
Labels: blocker, skins

#3919 QML: Add support for Waveform Overviews
  CMakeLists.txt
  res/skins/QMLDemo/Mixxx/Controls/WaveformOverview.qml
  res/skins/QMLDemo/Mixxx/Controls/WaveformOverviewHotcueMarker.qml
  res/skins/QMLDemo/Mixxx/Controls/WaveformOverviewMarker.qml
  res/skins/QMLDemo/Mixxx/Controls/qmldir
  res/skins/QMLDemo/WaveformOverview.qml
  src/skin/qml/qmlplayerproxy.h
  src/skin/qml/qmlskin.cpp
  src/skin/qml/qmlwaveformoverview.cpp
  src/skin/qml/qmlwaveformoverview.h
Labels: build, skins, ui

#3955 QML: Refactor Knob/Slider controls
  res/skins/QMLDemo/ControlKnob.qml
  res/skins/QMLDemo/ControlSlider.qml
  res/skins/QMLDemo/CrossfaderRow.qml
  res/skins/QMLDemo/Deck.qml
  res/skins/QMLDemo/EqColumn.qml
  res/skins/QMLDemo/EqKnob.qml
  res/skins/QMLDemo/Knob.qml
  res/skins/QMLDemo/Mixer.qml
  res/skins/QMLDemo/MixerColumn.qml
  res/skins/QMLDemo/Mixxx/Controls/Knob.qml
  res/skins/QMLDemo/Mixxx/Controls/Slider.qml
  res/skins/QMLDemo/Mixxx/Controls/qmldir
  res/skins/QMLDemo/Mixxx/MathUtils.mjs
  res/skins/QMLDemo/Mixxx/qmldir
  res/skins/QMLDemo/ResettableControlKnob.qml
  res/skins/QMLDemo/ResettableControlSlider.qml
  res/skins/QMLDemo/Slider.qml
  res/skins/QMLDemo/Theme/Theme.qml
  res/skins/QMLDemo/images/knob.svg
  res/skins/QMLDemo/images/knob_shadow.svg
  res/skins/QMLDemo/images/slider_crossfader.svg
  res/skins/QMLDemo/images/slider_handle.svg
  res/skins/QMLDemo/images/slider_handle_crossfader.svg
Labels: skins

#3956 Make sure args.getSettingsPath() returns the correct directory
  src/main.cpp
  src/mixxx.cpp
  src/util/cmdlineargs.cpp
  src/util/sandbox.cpp
  src/util/sandbox.h
Labels: major bug

#3957 QML: Add QmlControlProxy::reset() method
  res/skins/QMLDemo/ControlKnob.qml
  res/skins/QMLDemo/ControlSlider.qml
  res/skins/QMLDemo/CrossfaderRow.qml
  res/skins/QMLDemo/Deck.qml
  res/skins/QMLDemo/EqKnob.qml
  res/skins/QMLDemo/MixerColumn.qml
  res/skins/QMLDemo/ResettableControlKnob.qml
  res/skins/QMLDemo/ResettableControlSlider.qml
  src/skin/qml/qmlcontrolproxy.cpp
  src/skin/qml/qmlcontrolproxy.h
Labels: skins

#3961 Added some debian dependencies for the new QML skin
  CMakeLists.txt
  tools/debian_buildenv.sh
Labels: build

#3952 QML: Add support for dropping tracks on Decks
  res/skins/QMLDemo/Deck.qml
  src/skin/qml/qmlplayermanagerproxy.cpp
  src/skin/qml/qmlplayermanagerproxy.h
  src/skin/qml/qmlplayerproxy.cpp
  src/skin/qml/qmlplayerproxy.h
Labels: skins

#3963 QML: Do not alias associated anchor property (for Qt 5.12 compatiblity)
  res/skins/QMLDemo/Mixxx/Controls/Slider.qml
  res/skins/QMLDemo/Mixxx/Controls/WaveformOverviewMarker.qml
  tools/qmlformat.py
Labels: skins

#3906 DlgTrackInfo: Use TrackRecord as model
  src/library/dlgtrackinfo.cpp
  src/library/dlgtrackinfo.h
  src/track/track.cpp
  src/track/trackrecord.cpp
  src/track/trackrecord.h
Labels: code quality, library, minor bug, ui

#3971 QML: Use x axis in knob mouse interaction code like legacy skins do
  res/skins/QMLDemo/Mixxx/Controls/Knob.qml
Labels: skins

#3959 QML: Add support for reading color palettes from config and add cue popup
  CMakeLists.txt
  res/skins/QMLDemo/Hotcue.qml
  res/skins/QMLDemo/HotcueButton.qml
  res/skins/QMLDemo/HotcuePopup.qml
  src/skin/qml/qmlconfigproxy.cpp
  src/skin/qml/qmlconfigproxy.h
  src/skin/qml/qmlskin.cpp
Labels: build, skins

#3972 skins/QMLDemo: Use async coverart loading
  res/skins/QMLDemo/DeckInfoBar.qml
Labels: skins

#3970 Linux: Remove obsolete X11 code from Qt 4
  src/main.cpp
Labels: code quality

#3974 test: Only register SoundSourceProviders when actually necessary
  src/test/librarytest.h
  src/test/mixxxtest.cpp
  src/test/signalpathtest.h
  src/test/soundproxy_test.cpp
  src/test/soundsourceproviderregistration.h
  src/test/trackupdate_test.cpp
Labels: code quality

#3969 pre-commit: Fix detection of renamed files
  tools/clang_format.py
  tools/githelper.py
Labels: code quality

#3968 Skins: scale context menus and table header with system and library font
  res/skins/Deere/image/style_branch_closed.png
  res/skins/Deere/image/style_branch_closed.svg
  res/skins/Deere/image/style_branch_open.png
  res/skins/Deere/image/style_branch_open.svg
  res/skins/Deere/style.qss
  res/skins/LateNight/classic/style/library_branch_closed.svg
  res/skins/LateNight/classic/style/library_branch_closed_grey.png
  res/skins/LateNight/classic/style/library_branch_closed_selected.svg
  res/skins/LateNight/classic/style/library_branch_closed_selected_white.png
  res/skins/LateNight/classic/style/library_branch_open.svg
  res/skins/LateNight/classic/style/library_branch_open_grey.png
  res/skins/LateNight/classic/style/library_branch_open_selected.svg
  res/skins/LateNight/classic/style/library_branch_open_selected_white.png
  res/skins/LateNight/classic/style/menu_arrow_gold.svg
  res/skins/LateNight/palemoon/style/library_branch_closed.svg
  res/skins/LateNight/palemoon/style/library_branch_closed_grey.png
  res/skins/LateNight/palemoon/style/library_branch_closed_selected.svg
  res/skins/LateNight/palemoon/style/library_branch_closed_selected_white.png
  res/skins/LateNight/palemoon/style/library_branch_open.svg
  res/skins/LateNight/palemoon/style/library_branch_open_grey.png
  res/skins/LateNight/palemoon/style/library_branch_open_selected.svg
  res/skins/LateNight/palemoon/style/library_branch_open_selected_white.png
  res/skins/LateNight/style.qss
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
  res/skins/Shade/style.qss
  res/skins/Shade/style/style_branch_closed.png
  res/skins/Shade/style/style_branch_closed.svg
  res/skins/Shade/style/style_branch_closed_selected.png
  res/skins/Shade/style/style_branch_closed_selected.svg
  res/skins/Shade/style/style_branch_open.png
  res/skins/Shade/style/style_branch_open.svg
  res/skins/Shade/style/style_branch_open_selected.png
  res/skins/Shade/style/style_branch_open_selected.svg
  res/skins/Shade/style_dark.qss
  res/skins/Shade/style_summer_sunset.qss
  res/skins/Tango/graphics/branch_closed.png
  res/skins/Tango/graphics/branch_closed.svg
  res/skins/Tango/graphics/branch_open.png
  res/skins/Tango/graphics/branch_open.svg
  res/skins/Tango/style.qss
  res/skins/default-menu-styles-linux.qss
  res/skins/default.qss
  src/widget/wlibrarysidebar.cpp
Labels: skins, ui

#3981 Fix ffmpeg dependency for our PPA builds
  CMakeLists.txt
  packaging/CPackDebInstall.cmake
  packaging/CPackDebUploadPPA.cmake
  tools/debian_buildenv.sh
Labels: build

#3983 CI: Use custom CMake version on macOS/Ubuntu 18.04 only
  .github/workflows/build.yml
Labels: build, code quality

#3988 LateNight: fix scaling of icons still using background-image
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
Labels: skins

#3980 Waveforms preferences: sort waveform types combobox alphabetically
  src/preferences/dialog/dlgprefwaveform.cpp
  src/waveform/waveformwidgetfactory.h
  src/waveform/widgets/waveformwidgettype.h
Labels: preferences, ui

#3982 [DDJ 200] Fix headphone master button led
  res/controllers/Pioneer-DDJ-200-scripts.js
Labels: controllers, minor bug

#3989 Skins, waveforms: remove I-beam from in/outro markers to equalize marker size
  res/skins/Deere/deck_waveform.xml
  res/skins/Shade/waveform.xml
  res/skins/Tango/waveform.xml
Labels: skins

#3985 Obsolete Ubuntu Bionic 18.04
  .clang-format
  .github/workflows/build.yml
  src/encoder/encoderfdkaac.cpp
  src/encoder/encodersndfileflac.cpp
  src/widget/whotcuebutton.cpp
Labels: build, code quality, ui

#3993 SoundSourceFLAC: Fix armv7hl build on gcc 11.1
  src/sources/soundsourceflac.cpp
Labels: blocker, build, code quality

#3899 Fix issues with half/double and Sync Lock
  res/skins/LateNight/decks/deck.xml
  res/skins/LateNight/palemoon/buttons/btn__leader_deck.svg
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
  src/engine/controls/bpmcontrol.cpp
  src/engine/enginemaster.cpp
  src/engine/sync/enginesync.cpp
  src/engine/sync/enginesync.h
  src/engine/sync/internalclock.cpp
  src/engine/sync/internalclock.h
  src/engine/sync/syncable.h
  src/engine/sync/synccontrol.cpp
  src/engine/sync/synccontrol.h
  src/test/enginesynctest.cpp
Labels: code quality, skins

#3997 SoundSourceM4A: Fix armv7hl build on gcc 11.1
  src/sources/soundsourcem4a.cpp
Labels: blocker, build

#4006 SoundSourceMp3: Fix armv7hl build on gcc 11.1
  src/sources/soundsourcemp3.cpp
Labels: blocker, build

#3998 Fix reimport of track metadata
  src/library/dlgtrackinfo.cpp
  src/track/trackrecord.cpp
Labels: library, minor bug

#3991 cmake default_option() parentheses
  CMakeLists.txt
  cmake/modules/DefaultOption.cmake
Labels: build

#4001 Broadcasting: fix wrapping arund pushbutton values
  res/skins/Deere/icon/ic_broadcast_4_32px.svg
  res/skins/Deere/tool_bar.xml
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
  src/broadcast/broadcastmanager.cpp
  src/broadcast/broadcastmanager.h
Labels: broadcasting, skins

#3995 Add AAC Dynamic Metadata
  src/engine/sidechain/shoutconnection.cpp
Labels: broadcasting

#3977 Fix tools/windows_buildenv.bat and use 7z/PowerShell for extraction
  .github/workflows/build.yml
  .gitignore
  CMakeLists.txt
  README.md
  tools/unzip.ps1
  tools/windows_buildenv.bat
Labels: blocker, build

#3978 DB v37: Synchronize file modified time with track source on metadata import/export
  res/schema.xml
  src/database/mixxxdb.cpp
  src/library/dao/trackdao.cpp
  src/library/dlgtrackinfo.cpp
  src/sources/metadatasourcetaglib.cpp
  src/sources/soundsourceproxy.cpp
  src/test/trackupdate_test.cpp
  src/track/track.cpp
  src/track/track.h
  src/track/trackrecord.cpp
  src/track/trackrecord.h
Labels: code quality, library

#4002 Preferences > Decks: fix activation of rate change controls
  src/engine/controls/ratecontrol.cpp
  src/preferences/dialog/dlgprefdeck.cpp
  src/preferences/dialog/dlgprefdeckdlg.ui
Labels: preferences, ui

#4009 #3977 follow up - fix build env
  CMakeLists.txt
Labels: build

#4010 Check if file is writable before making a copy for writing
  src/sources/metadatasourcetaglib.cpp
Labels: code quality

#4012 DB: Fix 0/NULL issues when reading source_synchronized_ms
  res/schema.xml
  src/database/mixxxdb.cpp
  src/library/dao/trackdao.cpp
  src/library/export/engineprimeexportjob.cpp
  src/sources/metadatasourcetaglib.cpp
  src/track/trackrecord.cpp
Labels: library, major bug

#4003 QMLDemo: Add enum for specifing knob arc start position
  res/skins/QMLDemo/AuxiliaryUnit.qml
  res/skins/QMLDemo/EffectUnit.qml
  res/skins/QMLDemo/MicrophoneUnit.qml
  res/skins/QMLDemo/Mixxx/Controls/Knob.qml
Labels: skins

#4014 fix(BCR2000): fix backwards beatloop
  res/controllers/Behringer-Extension-scripts.js
Labels: controllers

#4013 Qickfix: Move Sandbox::checkSandboxed()
  src/main.cpp
  src/mixxx.cpp
Labels: blocker, critical bug

#4015 Sandbox Dialog Fixes
  src/library/library.cpp
  src/util/sandbox.cpp
  src/util/sandbox.h
Labels: library

#4016 lp1933001: Preserve phase of decoded FLAC samples
  src/sources/soundsourceflac.cpp
Labels: blocker, minor bug

#4004 QML: Add support for deck cloning
  res/skins/QMLDemo/Deck.qml
  res/skins/QMLDemo/Mixxx/PlayerDropArea.qml
  res/skins/QMLDemo/Sampler.qml
  src/skin/qml/qmlplayermanagerproxy.cpp
  src/skin/qml/qmlplayerproxy.cpp
  src/skin/qml/qmlplayerproxy.h
Labels: skins

#4020 Add constexpr getters to basic audio types
  src/audio/types.h
Labels: code quality

#4019 Update Windows build environment
  CMakeLists.txt
  packaging/windows/build_environment
Labels: build

#3999 Enable QML debugging and profiling in debug builds
  CMakeLists.txt
Labels: build

#4000 QML: Add support for selecting/loading effects
  CMakeLists.txt
  res/skins/QMLDemo/ComboBox.qml
  res/skins/QMLDemo/EffectRow.qml
  res/skins/QMLDemo/EffectSlot.qml
  res/skins/QMLDemo/EffectUnit.qml
  res/skins/QMLDemo/Knob.qml
  res/skins/QMLDemo/MiniKnob.qml
  src/skin/qml/qmleffectmanifestparametersmodel.cpp
  src/skin/qml/qmleffectmanifestparametersmodel.h
  src/skin/qml/qmleffectslotproxy.cpp
  src/skin/qml/qmleffectslotproxy.h
  src/skin/qml/qmleffectsmanagerproxy.cpp
  src/skin/qml/qmleffectsmanagerproxy.h
  src/skin/qml/qmlskin.cpp
  src/skin/qml/qmlvisibleeffectsmodel.cpp
  src/skin/qml/qmlvisibleeffectsmodel.h
Labels: build, skins

#4025 Enable export of hot cue colours to EnginePrime
  src/library/export/engineprimeexportjob.cpp
Labels: library

#4008 Reordered Musicbrainz tags as suggested in lp1924620 + lp1899350
  src/library/dlgtagfetcher.cpp
  src/library/dlgtagfetcher.ui
Labels: library, ui

#4028 Release candidate 2.3.0
  CMakeLists.txt
Labels: build

#4029 Musicbrainz column reorder
  src/library/dlgtagfetcher.cpp
  src/library/dlgtagfetcher.ui
Labels: library

#4024 LibraryFeature: Rename getChildModel to sidebarModel and make it const
  src/library/analysisfeature.cpp
  src/library/analysisfeature.h
  src/library/autodj/autodjfeature.cpp
  src/library/autodj/autodjfeature.h
  src/library/banshee/bansheefeature.cpp
  src/library/banshee/bansheefeature.h
  src/library/browse/browsefeature.cpp
  src/library/browse/browsefeature.h
  src/library/itunes/itunesfeature.cpp
  src/library/itunes/itunesfeature.h
  src/library/libraryfeature.h
  src/library/mixxxlibraryfeature.cpp
  src/library/mixxxlibraryfeature.h
  src/library/recording/recordingfeature.cpp
  src/library/recording/recordingfeature.h
  src/library/rekordbox/rekordboxfeature.cpp
  src/library/rekordbox/rekordboxfeature.h
  src/library/rhythmbox/rhythmboxfeature.cpp
  src/library/rhythmbox/rhythmboxfeature.h
  src/library/serato/seratofeature.cpp
  src/library/serato/seratofeature.h
  src/library/sidebarmodel.cpp
  src/library/trackset/baseplaylistfeature.cpp
  src/library/trackset/baseplaylistfeature.h
  src/library/trackset/basetracksetfeature.cpp
  src/library/trackset/basetracksetfeature.h
  src/library/trackset/crate/cratefeature.cpp
  src/library/trackset/crate/cratefeature.h
  src/library/trackset/playlistfeature.cpp
  src/library/trackset/setlogfeature.cpp
  src/library/traktor/traktorfeature.cpp
  src/library/traktor/traktorfeature.h
  src/util/parented_ptr.h
Labels: code quality, library

#4035 CI: Remove "mixxx-" prefix from tag deploy path
  .github/workflows/build.yml
Labels: blocker, build

#3706 [WIP] SyncLock: Don't recalc half/double multiplier on every callback
  src/engine/controls/bpmcontrol.cpp
  src/engine/controls/bpmcontrol.h
  src/engine/sync/clock.h
  src/engine/sync/enginesync.cpp
  src/engine/sync/enginesync.h
  src/engine/sync/internalclock.cpp
  src/engine/sync/internalclock.h
  src/engine/sync/syncable.h
  src/engine/sync/synccontrol.cpp
  src/engine/sync/synccontrol.h
  src/test/enginesynctest.cpp
Labels: code quality, skins

#4034 SidebarModel: Add basic support for icon names
  src/library/analysisfeature.cpp
  src/library/analysisfeature.h
  src/library/autodj/autodjfeature.cpp
  src/library/autodj/autodjfeature.h
  src/library/banshee/bansheefeature.cpp
  src/library/banshee/bansheefeature.h
  src/library/baseexternallibraryfeature.cpp
  src/library/baseexternallibraryfeature.h
  src/library/browse/browsefeature.cpp
  src/library/browse/browsefeature.h
  src/library/itunes/itunesfeature.cpp
  src/library/itunes/itunesfeature.h
  src/library/libraryfeature.cpp
  src/library/libraryfeature.h
  src/library/mixxxlibraryfeature.cpp
  src/library/mixxxlibraryfeature.h
  src/library/recording/recordingfeature.cpp
  src/library/recording/recordingfeature.h
  src/library/rekordbox/rekordboxfeature.cpp
  src/library/rekordbox/rekordboxfeature.h
  src/library/rhythmbox/rhythmboxfeature.cpp
  src/library/rhythmbox/rhythmboxfeature.h
  src/library/serato/seratofeature.cpp
  src/library/serato/seratofeature.h
  src/library/sidebarmodel.cpp
  src/library/sidebarmodel.h
  src/library/trackset/baseplaylistfeature.cpp
  src/library/trackset/baseplaylistfeature.h
  src/library/trackset/basetracksetfeature.cpp
  src/library/trackset/basetracksetfeature.h
  src/library/trackset/crate/cratefeature.cpp
  src/library/trackset/crate/cratefeature.h
  src/library/trackset/playlistfeature.cpp
  src/library/trackset/playlistfeature.h
  src/library/trackset/setlogfeature.cpp
  src/library/trackset/setlogfeature.h
  src/library/traktor/traktorfeature.cpp
  src/library/traktor/traktorfeature.h
Labels: library

#4032 Traktor S3: Fix jog button light state
  res/controllers/Traktor-Kontrol-S3-hid-scripts.js
Labels: controllers

#4038 SidebarModel: Replace if-else ladder in data() with switch case
  src/library/sidebarmodel.cpp
Labels: code quality, library

#4039 Fix misc. typos
  .github/workflows/build.yml
  cmake/ctest-to-junit.xsl
  packaging/CPackDebInstall.cmake
  packaging/CPackDebUploadPPA.cmake
  packaging/macos/entitlements.plist
  res/controllers/Hercules_DJControl_Inpulse_200.midi.xml
  res/controllers/Hercules_DJControl_Jogvision.midi.xml
  res/controllers/Numark-N4-scripts.js
  res/controllers/Pioneer-DDJ-200-scripts.js
  res/controllers/Pioneer-DDJ-400.midi.xml
  res/controllers/Traktor-Kontrol-S2-MK3-hid-scripts.js
  res/skins/LateNight/fx/unit_parameters_hidden.xml
  res/skins/LateNight/skin.xml
  res/skins/LateNight/style.qss
  res/skins/LateNight/style_palemoon.qss
  res/skins/default-menu-styles-linux.qss
  res/skins/default-menu-styles-windows.qss
  res/skins/default.qss
  src/controllers/hid/hidcontroller.cpp
  src/encoder/encoderfdkaac.cpp
  src/engine/controls/clockcontrol.cpp
  src/engine/enginemaster.cpp
  src/mixxx.cpp
  src/mixxx.rc
  src/sources/audiosource.h
  src/sources/soundsourcecoreaudio.cpp
  src/sources/soundsourcem4a.cpp
  src/test/beatgridtest.cpp
  src/test/beatmaptest.cpp
  src/test/enginesynctest.cpp
  src/track/beatutils.cpp
  src/track/serato/markers2.h
  src/track/track.cpp
  src/track/trackrecord.h
  src/util/db/sqlite.cpp
  src/util/fileinfo.h
  src/util/qt.h
  src/util/sample.cpp
  src/waveform/renderers/waveformmark.h
  src/waveform/renderers/waveformrendermark.cpp
  src/widget/wpushbutton.cpp
  tools/debian_buildenv.sh
  tools/deploy.py
  tools/githelper.py
  tools/macos_buildenv.sh
  tools/unzip.ps1
Labels: build, code quality, controllers, skins, ui

#4040 lp1933853 Rekordbox: Handle exception when parsing corrupt .pdb files
  src/library/rekordbox/rekordboxfeature.cpp
Labels: critical bug, library

#4042 keyboard shortcuts sheet: add maximize_library, update instructions
  res/Mixxx-Keyboard-Shortcuts.pdf
  res/images/templates/ic_template_keyboard_mapping_sheet.svg
Labels: ui
