Repository mixxxdj/mixxx, pull requests merged in 2021-04, with the labels that each got.

#3760 Adjust half/double sync theshold.
  src/engine/sync/synccontrol.cpp
  src/test/enginesynctest.cpp
Labels: code quality

#3744 Replace MDir with mixxx::FileInfo/FileAccess
  CMakeLists.txt
  src/coreservices.cpp
  src/library/browse/browsefeature.cpp
  src/library/browse/browsetablemodel.cpp
  src/library/browse/browsetablemodel.h
  src/library/browse/browsethread.cpp
  src/library/browse/browsethread.h
  src/library/browse/foldertreemodel.cpp
  src/library/dao/directorydao.cpp
  src/library/dao/directorydao.h
  src/library/dao/trackdao.cpp
  src/library/dao/trackdao.h
  src/library/export/engineprimeexportjob.cpp
  src/library/library.cpp
  src/library/library.h
  src/library/recording/dlgrecording.cpp
  src/library/rekordbox/rekordboxfeature.cpp
  src/library/scanner/libraryscanner.cpp
  src/library/scanner/libraryscanner.h
  src/library/scanner/recursivescandirectorytask.cpp
  src/library/scanner/recursivescandirectorytask.h
  src/library/scanner/scannerglobal.h
  src/library/trackcollection.cpp
  src/library/trackcollection.h
  src/library/trackcollectionmanager.cpp
  src/library/trackcollectionmanager.h
  src/preferences/dialog/dlgpreflibrary.cpp
  src/preferences/dialog/dlgprefrecord.cpp
  src/preferences/upgrade.cpp
  src/test/coverartcache_test.cpp
  src/test/directorydaotest.cpp
  src/track/globaltrackcache.h
  src/track/trackfile.h
  src/util/file.cpp
  src/util/file.h
  src/util/fileaccess.cpp
  src/util/fileaccess.h
  src/util/sandbox.cpp
  src/util/sandbox.h
Labels: build, code quality, library, ui

#3762 Fix double jump when changing internal clock bpm
  src/engine/sync/internalclock.cpp
  src/engine/sync/internalclock.h
  src/test/enginesynctest.cpp
Labels: code quality

#3704 Skins: style main menubar
  res/skins/LateNight/classic/buttons/btn__lib_checkmark_grey.svg
  res/skins/LateNight/classic/buttons/btn__menu_checkbox.svg
  res/skins/LateNight/classic/buttons/btn__menu_checkbox_checked.svg
  res/skins/LateNight/palemoon/buttons/btn__effect_selected.svg
  res/skins/LateNight/palemoon/buttons/btn__menu_checkbox.svg
  res/skins/LateNight/palemoon/buttons/btn__menu_checkbox_checked.svg
  res/skins/LateNight/skin.xml
  res/skins/LateNight/skin_settings.xml
  res/skins/LateNight/style.qss
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_linux.qss
  res/skins/LateNight/style_palemoon.qss
  res/skins/LateNight/style_windows.qss
Labels: skins

#3769 SoundSourceFFmpeg: Fix some clang-tidy warnings
  src/sources/soundsourceffmpeg.cpp
Labels: code quality

#3770 SoundSourceProviderFFmpeg: Rename local variable
  src/sources/soundsourceffmpeg.cpp
Labels: code quality

#3754 include keyboard shortcuts PDF, disable debian doc compression
  CMakeLists.txt
  packaging/debian/mixxx.sgml
  packaging/debian/rules
  res/Mixxx-Keyboard-Shortcuts.pdf
  res/Mixxx-Manual.pdf
  res/images/templates/ic_template_keyboard_mapping_sheet.svg
  src/config.h.in
  src/defs_urls.h
  src/widget/wmainmenubar.cpp
Labels: build, ui

#3771 CMake: Reorder cmake_policy() before project()
  CMakeLists.txt
Labels: build

#3745 Fix quantized play from the pre-roll in beatmap tracks
  src/engine/controls/bpmcontrol.cpp
  src/engine/controls/bpmcontrol.h
  src/test/enginesynctest.cpp
Labels: code quality

#3775 keyboard sheet: show caption, increase opacity
  res/Mixxx-Keyboard-Shortcuts.pdf
  res/images/templates/ic_template_keyboard_mapping_sheet.svg
Labels: ui

#3777 Read device names as Uft8.
  src/soundio/sounddeviceportaudio.cpp
Labels: major bug, regression

#3773 CMake: Use config.h.in instead of command line defintions for paths
  CMakeLists.txt
  src/config.h.in
  src/controllers/defs_controllers.h
  src/preferences/upgrade.cpp
  src/util/cmdlineargs.cpp
Labels: build, ui

#3776 Engine Prime export uses libdjinterop snapshot API
  CMakeLists.txt
  src/library/export/engineprimeexportjob.cpp
Labels: build, library

#3781 Fix changing of vinyl lead-in time (lp:1915483)
  src/preferences/dialog/dlgprefvinyl.cpp
Labels: ui

#3782 Skin fixes for 2.3
  res/skins/Deere/style.qss
  res/skins/LateNight/decks/vinyl_controls.xml
  res/skins/LateNight/fx/focus_button.xml
  res/skins/LateNight/fx/slot_controls.xml
  res/skins/LateNight/fx/slot_parameters.xml
  res/skins/LateNight/fx/unit_parameters_hidden.xml
  res/skins/LateNight/fx/unit_parameters_visible.xml
  res/skins/LateNight/helpers/skin_helper_deck_size.xml
  res/skins/LateNight/helpers/skin_settings_button_2state.xml
  res/skins/LateNight/helpers/skin_settings_cover.xml
  res/skins/LateNight/helpers/skin_settings_cover_inverted.xml
  res/skins/LateNight/palemoon/buttons/btn__fx_focus.svg
  res/skins/LateNight/palemoon/buttons/btn__fx_focus_active.svg
  res/skins/LateNight/palemoon/style/fx_flow_horizontal.svg
  res/skins/LateNight/palemoon/style/fx_flow_vertical.svg
  res/skins/LateNight/samplers/sampler_expand_button.xml
  res/skins/LateNight/skin.xml
  res/skins/LateNight/skin_settings.xml
  res/skins/LateNight/style.qss
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
  res/skins/LateNight/toolbar.xml
  res/skins/Shade/style.qss
  res/skins/Tango (64 Samplers)/skin.xml
  res/skins/Tango (64 Samplers)/skin_settings.xml
  res/skins/Tango/buttons/btn_fx_selector_list.svg
  res/skins/Tango/buttons/btn_fx_selector_list_hover.svg
  res/skins/Tango/deck_row_transport_left.xml
  res/skins/Tango/deck_row_transport_right.xml
  res/skins/Tango/fx_parameter_button.xml
  res/skins/Tango/fx_toggle_selector.xml
  res/skins/Tango/fx_unit_left.xml
  res/skins/Tango/fx_unit_left_mini.xml
  res/skins/Tango/fx_unit_right.xml
  res/skins/Tango/fx_unit_right_mini.xml
  res/skins/Tango/loop_controls.xml
  res/skins/Tango/rate_pitch_key.xml
  res/skins/Tango/sampler_row.xml
  res/skins/Tango/skin_settings.xml
  res/skins/Tango/style.qss
  res/skins/Tango/topbar.xml
  res/skins/Tango/waveform.xml
Labels: skins

#3786 Shade: Fix invalid "alignment" property for LibraryBPMButton
  res/skins/Shade/style.qss
Labels: code quality, skins

#3789 CI deployment cleanup
  .github/workflows/build.yml
  tools/deploy.py
  tools/deploy.sh
  tools/generate_download_metadata.py
Labels: code quality

#3765 CMake: Bump CMAKE_PROJECT_VERSION to 2.4
  CMakeLists.txt
Labels: build

#3779 CMake: Add comments why we need URL downloads of external projects
  CMakeLists.txt
Labels: build

#3738 MC7000 add Fixed Loop + improvements + experimental beatcount
  res/controllers/Denon-MC7000-scripts.js
Labels: controllers

#3753 WaveformRenderMark: Fix debug assertion for special case
  src/waveform/renderers/waveformrendermark.cpp
Labels: minor bug

#3791 CI deployment cleanup (pt. 2)
  .github/workflows/build.yml
  tools/deploy.py
Labels: build

#3758 MixtrackPro3 Fix inverted FX on/off control
  res/controllers/Numark-Mixtrack-3-scripts.js
Labels: controllers

#3787 CMake fix passing multiple paths to libdjinterop
  CMakeLists.txt
Labels: build

#3797 Update to djinterop 0.15.2 to fix cmaj key bug
  CMakeLists.txt
Labels: build

#3796 test/signalpathtest: Make sure that double conversion worked
  src/test/signalpathtest.h
Labels: code quality

#3785 fix keyboard mapping sheet background
  res/Mixxx-Keyboard-Shortcuts.pdf
  res/images/templates/ic_template_keyboard_mapping_sheet.svg
Labels: ui

#2902 Allow assigning more than one Hotcue to a Color in a Colorpalette
  CMakeLists.txt
  src/preferences/colorpaletteeditor.cpp
  src/preferences/colorpaletteeditormodel.cpp
  src/preferences/colorpaletteeditormodel.h
  src/test/rangelist_test.cpp
  src/util/rangelist.cpp
  src/util/rangelist.h
Labels: build, code quality, minor bug, ui

#3800 CI: Deploy stable releases to ppa:mixxx/mixxx
  .github/workflows/build.yml
Labels: blocker, build

#3802 CoverArtDelegate: Fix repeated repaint if covers could not be loaded
  src/library/coverartdelegate.cpp
Labels: library, minor bug

#3805 Fix deprecation warnings for FFmpeg 4.4
  src/sources/soundsourceffmpeg.cpp
  src/sources/soundsourceffmpeg.h
Labels: build

#3766 CMake: Download PDF manual from downloads.mixxx.org
  .github/workflows/build.yml
  CMakeLists.txt
  res/Mixxx-Manual.pdf
Labels: build

#3804 make ControlPotmeter's '_set_default' an in/out CO
  res/skins/LateNight/decks/rate_controls.xml
  res/skins/LateNight/decks/rate_controls_compact.xml
  src/control/controlpotmeter.cpp
  src/control/controlpotmeter.h
Labels: skins

#3772 isAudible()
  src/engine/channels/enginechannel.cpp
  src/engine/channels/enginechannel.h
  src/engine/enginebuffer.cpp
  src/engine/enginebuffer.h
  src/engine/enginemaster.cpp
  src/engine/enginemaster.h
  src/engine/sync/enginesync.cpp
  src/engine/sync/enginesync.h
  src/engine/sync/internalclock.h
  src/engine/sync/syncable.h
  src/engine/sync/synccontrol.cpp
  src/engine/sync/synccontrol.h
  src/test/enginesynctest.cpp
Labels: code quality, library, ui

#3548 Write version.h from CMakeList.txt to remove redundant Mixxx version
  CMakeLists.txt
  src/_version.h
  src/build.h.template
  src/controllers/dlgcontrollerlearning.cpp
  src/controllers/dlgprefcontroller.cpp
  src/defs_version.h
  src/dialog/dlgabout.cpp
  src/errordialoghandler.cpp
  src/main.cpp
  src/mixxx.cpp
  src/mixxx.rc
  src/mixxx.rc.include.template
  src/musicbrainz/web/musicbrainzrecordingstask.cpp
  src/preferences/upgrade.cpp
  src/soundio/soundmanager.cpp
  src/util/cmdlineargs.cpp
  src/util/console.cpp
  src/util/versionstore.cpp
  src/util/versionstore.h
  src/version.h.in
Labels: build, ui

#3812 Version improvements
  .github/workflows/build.yml
  CMakeLists.txt
  src/dialog/dlgabout.cpp
  src/dialog/dlgaboutdlg.ui
  src/mixxx.cpp
  src/util/console.cpp
  src/util/versionstore.cpp
  src/util/versionstore.h
  src/version.h.in
Labels: build, ui

#3813 packaging/macos/sign_notarize_staple.sh: Work around RequestUUID issue
  packaging/macos/sign_notarize_staple.sh
Labels: build

#3815 Make git describe mouse selectable
  CMakeLists.txt
  src/dialog/dlgaboutdlg.ui
Labels: build, ui

#3806 Control widget property connection improvements
  src/skin/legacyskinparser.h
  src/widget/controlwidgetconnection.cpp
  src/widget/controlwidgetconnection.h
Labels: ui

#3809 CI: Use SSH Agent to deploy to download server
  .github/workflows/build.yml
  packaging/certificates/downloads-hostgator.mixxx.org.key
  packaging/certificates/downloads-hostgator.mixxx.org.key.pub
  packaging/macos/sign_notarize_staple.sh
  tools/deploy.sh
Labels: build
