Repository mixxxdj/mixxx, pull requests merged in 2021-02, with the labels that each got.

#3603 Remove ID3v2.3.0 tag from artist.mp3
  src/test/id3-test-data/artist.mp3
Labels: code quality, library

#3607 Make sure a track has at least a title after import metadata.
  src/sources/soundsourceproxy.cpp
  src/test/id3-test-data/cover-test-png.mp3
  src/test/soundproxy_test.cpp
Labels: code quality

#3537 Hercules P32 mapping: more accurate headmix control
  res/controllers/Hercules-P32-scripts.js
Labels: controllers

#3610 SoundSourceProxy: Reduce nesting and improve readability
  src/sources/soundsourceproxy.cpp
Labels: code quality

#3613 Fix loadling of libfaad2 on Fedora
  src/sources/libfaadloader.cpp
Labels: major bug, sources

#3612 Make sure title from file fall back works also when reload metadata
  src/sources/soundsourceproxy.cpp
  src/test/soundproxy_test.cpp
Labels: code quality

#1695 Add harmonic keywheel ui
  CMakeLists.txt
  res/images/keywheel/keywheel.svg
  src/dialog/dlgkeywheel.cpp
  src/dialog/dlgkeywheel.h
  src/dialog/dlgkeywheel.ui
  src/mixxx.cpp
  src/mixxx.h
  src/widget/wmainmenubar.cpp
  src/widget/wmainmenubar.h
Labels: build, ui

#3620 Enable ENGINEPRIME feature in deb packaging
  CMakeLists.txt
  packaging/debian/rules
Labels: build

#3622 keywheel fixes: Add keywheel to qrc file, change shortcut to F12
  res/mixxx.qrc
  src/widget/wmainmenubar.cpp
Labels: ui

#3624 Use qrc path for keywheel
  src/dialog/dlgkeywheel.cpp
Labels: ui

#3627 RekordboxFeature: ask for access outside sandbox for PDB file
  src/library/rekordbox/rekordboxfeature.cpp
Labels: critical bug, library

#3628 use Sandbox::askForAccess for all external library features
  src/library/banshee/bansheefeature.cpp
  src/library/rhythmbox/rhythmboxfeature.cpp
  src/library/serato/seratofeature.cpp
  src/library/traktor/traktorfeature.cpp
Labels: library

#3629 Abort update of track metadata after unsuccessful metadata import
  src/sources/soundsourceproxy.cpp
Labels: code quality

#3634 remove ControllerVisitor
  src/controllers/bulk/bulkcontroller.h
  src/controllers/controller.h
  src/controllers/controllervisitor.h
  src/controllers/dlgcontrollerlearning.cpp
  src/controllers/dlgcontrollerlearning.h
  src/controllers/hid/hidcontroller.h
  src/controllers/midi/midicontroller.h
  src/test/controller_mapping_validation_test.h
Labels: code quality, controllers

#3031 Traktor s3 2.3
  .eslintrc.json
  res/controllers/Traktor Kontrol S3.hid.xml
  res/controllers/Traktor-Kontrol-S3-hid-scripts.js
Labels: code quality, controllers

#3633 Various i18n fixes
  res/translations/mixxx.ts
  res/translations/mixxx_bg.qm
  res/translations/mixxx_bg.ts
  res/translations/mixxx_br.qm
  res/translations/mixxx_br.ts
  res/translations/mixxx_ca-ES.qm
  res/translations/mixxx_ca-ES.ts
  res/translations/mixxx_ca.qm
  res/translations/mixxx_ca.ts
  res/translations/mixxx_de.qm
  res/translations/mixxx_de.ts
  res/translations/mixxx_en.qm
  res/translations/mixxx_en.ts
  res/translations/mixxx_es-ES.qm
  res/translations/mixxx_es-ES.ts
  res/translations/mixxx_es.qm
  res/translations/mixxx_es.ts
  res/translations/mixxx_et.qm
  res/translations/mixxx_et.ts
  res/translations/mixxx_eu.qm
  res/translations/mixxx_eu.ts
  res/translations/mixxx_fr.qm
  res/translations/mixxx_fr.ts
  res/translations/mixxx_hu.qm
  res/translations/mixxx_hu.ts
  res/translations/mixxx_it-IT.qm
  res/translations/mixxx_it-IT.ts
  res/translations/mixxx_mk.qm
  res/translations/mixxx_mk.ts
  res/translations/mixxx_nl.qm
  res/translations/mixxx_nl.ts
  res/translations/mixxx_sl.qm
  res/translations/mixxx_sl.ts
  res/translations/mixxx_sq-AL.qm
  res/translations/mixxx_sq-AL.ts
  res/translations/mixxx_uz.qm
  res/translations/mixxx_uz.ts
  res/translations/mixxx_zh_CN.qm
  res/translations/mixxx_zh_CN.ts
  src/controllers/dlgprefcontrollerdlg.ui
  src/library/trackset/crate/cratefeature.cpp
  src/library/trackset/playlistfeature.cpp
  src/skin/tooltips.cpp
  src/widget/woverview.cpp
Labels: library, ui

#3262 Searchbar clear
  src/widget/wsearchlineedit.cpp
Labels: ui

#3636 remove ConstLegacyControllerMappingVisitor
  src/controllers/bulk/bulkcontroller.cpp
  src/controllers/bulk/bulkcontroller.h
  src/controllers/controller.cpp
  src/controllers/controller.h
  src/controllers/controllermanager.cpp
  src/controllers/controllermanager.h
  src/controllers/controllermappingtablemodel.cpp
  src/controllers/controllermappingtablemodel.h
  src/controllers/controllermappingvisitor.h
  src/controllers/dlgprefcontroller.cpp
  src/controllers/dlgprefcontroller.h
  src/controllers/hid/hidcontroller.cpp
  src/controllers/hid/hidcontroller.h
  src/controllers/hid/legacyhidcontrollermapping.cpp
  src/controllers/hid/legacyhidcontrollermapping.h
  src/controllers/hid/legacyhidcontrollermappingfilehandler.cpp
  src/controllers/hid/legacyhidcontrollermappingfilehandler.h
  src/controllers/legacycontrollermapping.h
  src/controllers/legacycontrollermappingfilehandler.cpp
  src/controllers/legacycontrollermappingfilehandler.h
  src/controllers/midi/legacymidicontrollermapping.cpp
  src/controllers/midi/legacymidicontrollermapping.h
  src/controllers/midi/legacymidicontrollermappingfilehandler.cpp
  src/controllers/midi/legacymidicontrollermappingfilehandler.h
  src/controllers/midi/midicontroller.cpp
  src/controllers/midi/midicontroller.h
  src/test/controller_mapping_validation_test.cpp
  src/test/controller_mapping_validation_test.h
  src/test/midicontrollertest.cpp
Labels: code quality

#3285 Skin updates
  res/skins/Deere (64 Samplers)/skin.xml
  res/skins/Deere/library.xml
  res/skins/Deere/mixer_column_master_vu_2decks.xml
  res/skins/Deere/mixer_column_master_vu_4decks.xml
  res/skins/Deere/mixer_controls_4decks_left.xml
  res/skins/Deere/mixer_controls_4decks_right.xml
  res/skins/Deere/skin_settings.xml
  res/skins/Deere/vumeter.svg
  res/skins/Deere/vumeter.xml
  res/skins/Deere/vumeter_bg.png
  res/skins/Deere/vumeter_h.xml
  res/skins/Deere/vumeter_master.xml
  res/skins/Deere/vumeter_v.svg
  res/skins/Deere/vumeter_v.xml
  res/skins/Deere/vumeter_v_bg.png
  res/skins/LateNight/library.xml
  res/skins/Shade/library.xml
  res/skins/Tango/library.xml
Labels: skins

#3625 Library features: wrap controls into QWidget 'LibraryFeatureControls'
  res/skins/Deere/style.qss
  res/skins/LateNight/library.xml
  res/skins/LateNight/style.qss
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
  res/skins/Shade/style.qss
  res/skins/Shade/style_dark.qss
  res/skins/Shade/style_summer_sunset.qss
  res/skins/Tango/style.qss
  src/library/autodj/dlgautodj.ui
  src/library/dlganalysis.ui
  src/library/dlghidden.ui
  src/library/dlgmissing.ui
  src/library/recording/dlgrecording.ui
Labels: library, minor bug, skins

#3317 HID functions to read back the status of an HID controller (like MIDI SYSEX)
  CMakeLists.txt
  cmake/modules/Findhidapi.cmake
  src/controllers/controller.cpp
  src/controllers/hid/hidcontroller.cpp
  src/controllers/hid/hidcontroller.h
Labels: build, code quality, controllers, library, skins, ui

#3643 pre-commit: Fix check-yaml check for clang-format config
  .pre-commit-config.yaml
Labels: code quality

#3644 track/taglib: Fix taglib 1.12 deprecation warnings
  src/track/taglib/trackmetadata_common.h
  src/track/taglib/trackmetadata_mp4.cpp
Labels: build, code quality

#3631 remove Novinyl preferences page
  CMakeLists.txt
  src/mixer/basetrackplayer.cpp
  src/preferences/dialog/dlgpreferences.cpp
  src/preferences/dialog/dlgpreferences.h
  src/preferences/dialog/dlgprefnovinyl.cpp
  src/preferences/dialog/dlgprefnovinyl.h
  src/preferences/dialog/dlgprefnovinyldlg.ui
  src/widget/wmainmenubar.cpp
  src/widget/wspinny.cpp
Labels: build, preferences, ui

#3571 Make the CPack DEB packet and the PPA build equal using
  .github/workflows/build.yml
  CMakeLists.txt
  packaging/CPackDebInstall.cmake
Labels: build

#3563 CMake: tell MSVC that source code is UTF8
  CMakeLists.txt
Labels: build

#3630 Don't open XML as text files
  src/library/itunes/itunesfeature.cpp
  src/library/rhythmbox/rhythmboxfeature.cpp
  src/library/traktor/traktorfeature.cpp
Labels: library

#3574 PPA m4a enable
  packaging/CPackDebInstall.cmake
  packaging/CPackDebUploadPPA.cmake
  packaging/debian/control.in
Labels: build

#3652 Cmake 1.15 onyl for Apple
  CMakeLists.txt
  packaging/debian/control.in
Labels: build, library

#3655 EngineBuffer: Set EngineControl track sample rate/count on track load
  src/engine/enginebuffer.cpp
Labels: engine, minor bug

#3589 Disable IPO on all targets
  CMakeLists.txt
  lib/benchmark/src/CMakeLists.txt
  lib/googletest-1.10.x/googletest/cmake/internal_utils.cmake
  lib/libshout-idjc/CMakeLists.txt
Labels: build

#3656 Init current sample
  src/engine/controls/enginecontrol.cpp
  src/engine/enginebuffer.cpp
  src/engine/enginebuffer.h
  src/test/enginesynctest.cpp
  src/test/looping_control_test.cpp
Labels: code quality

#3632 Tooltips and CVS Export: Use BPM precision of four integer digits
  src/library/basetracktablemodel.cpp
  src/library/basetracktablemodel.h
  src/library/parsercsv.cpp
  src/library/trackmodel.h
Labels: library

#3658 Traktor Kontrol S2MK3: unmap "Master" button because it drives the output preamp
  res/controllers/Traktor-Kontrol-S2-MK3-hid-scripts.js
Labels: controllers

#3661 Fix HotcueControlTest
  src/test/hotcuecontrol_test.cpp
Labels: code quality

#3618 use sccache on Windows
  .github/workflows/build.yml
  CMakeLists.txt
  lib/googletest-1.10.x/googletest/cmake/internal_utils.cmake
Labels: build

#3662 Fix waveform reset
  src/widget/wtrackmenu.cpp
Labels: ui

#3659 Pref > EQ comboboxes: show empty items always at the top
  src/preferences/dialog/dlgprefeq.cpp
  src/widget/weffectselector.cpp
Labels: ui
