Repository mixxxdj/mixxx, pull requests merged in 2022-06, with the labels that each got.

#4784 Clean up some DEBUG_ASSERTS
  src/effects/backends/effectsbackendmanager.cpp
  src/library/basesqltablemodel.cpp
  src/library/treeitem.cpp
  src/skin/skinloader.cpp
  src/vinylcontrol/vinylcontrolmanager.cpp
  src/widget/wmainmenubar.cpp
Labels: library, ui

#4783 Update hidapi to 0.11.2
  .gitignore
  CMakeLists.txt
  lib/hidapi/.gitattributes
  lib/hidapi/.gitignore
  lib/hidapi/AUTHORS.txt
  lib/hidapi/Makefile.am
  lib/hidapi/README.md
  lib/hidapi/VERSION
  lib/hidapi/bootstrap
  lib/hidapi/configure.ac
  lib/hidapi/hidapi/hidapi.h
  lib/hidapi/libusb/.gitignore
  lib/hidapi/libusb/Makefile-manual
  lib/hidapi/libusb/Makefile.am
  lib/hidapi/libusb/Makefile.freebsd
  lib/hidapi/libusb/Makefile.haiku
  lib/hidapi/libusb/Makefile.linux
  lib/hidapi/libusb/hid.c
  lib/hidapi/libusb/hidapi_libusb.h
  lib/hidapi/linux/.gitignore
  lib/hidapi/linux/Makefile-manual
  lib/hidapi/linux/Makefile.am
  lib/hidapi/linux/hid.c
  lib/hidapi/m4/.gitignore
  lib/hidapi/m4/ax_pthread.m4
  lib/hidapi/m4/pkg.m4
  lib/hidapi/mac/.gitignore
  lib/hidapi/mac/Makefile-manual
  lib/hidapi/mac/Makefile.am
  lib/hidapi/mac/hid.c
  lib/hidapi/pc/.gitignore
  lib/hidapi/pc/hidapi-hidraw.pc.in
  lib/hidapi/pc/hidapi-libusb.pc.in
  lib/hidapi/pc/hidapi.pc.in
  lib/hidapi/udev/69-hid.rules
  lib/hidapi/udev/99-hid.rules
  lib/hidapi/windows/.gitignore
  lib/hidapi/windows/Makefile-manual
  lib/hidapi/windows/Makefile.am
  lib/hidapi/windows/Makefile.mingw
  lib/hidapi/windows/hid.c
  lib/hidapi/windows/hidapi.sln
  lib/hidapi/windows/hidapi.vcproj
  lib/hidapi/windows/hidapi.vcxproj
  lib/hidapi/windows/hidtest.vcproj
  lib/hidapi/windows/hidtest.vcxproj
  src/controllers/hid/hidiothread.cpp
Labels: controllers, build, code quality

#4788 RuntimeLoggingCategory: Fix compile error with Qt 6.3.0
  src/util/runtimeloggingcategory.h
Labels: critical bug

#4789 Fix std::bad_alloc() in WaveformRenderBeat::draw()
  src/engine/controls/enginecontrol.cpp
  src/engine/enginebuffer.cpp
  src/engine/enginebuffer.h
Labels: critical bug

#4717 Update to latest vcpkg build
  .github/workflows/build.yml
  CMakeLists.txt
  cmake/modules/FindSQLite3.cmake
  packaging/macos/build_environment
  packaging/windows/build_environment
Labels: build

#4775 PitchShiftEffect: add independent effect
  CMakeLists.txt
  src/effects/backends/builtin/builtinbackend.cpp
  src/effects/backends/builtin/pitchshifteffect.cpp
  src/effects/backends/builtin/pitchshifteffect.h
Labels: build

#4782 Introduction of gsl::not_null<T*>()
  CMakeLists.txt
  packaging/debian/control.in
  src/engine/controls/cuecontrol.cpp
  src/engine/controls/cuecontrol.h
  src/engine/controls/enginecontrol.cpp
  src/engine/controls/enginecontrol.h
  src/engine/controls/loopingcontrol.cpp
  src/engine/controls/loopingcontrol.h
  src/engine/readaheadmanager.cpp
  src/engine/readaheadmanager.h
  tools/debian_buildenv.sh
Labels: build

#4799 Update controller mapping for Behringer DDM4000 mixer
  res/controllers/Behringer-DDM4000-scripts.js
  res/controllers/Behringer-Extension-scripts.js
Labels: controllers

#4793 passthrough: stop rendering waveforms, disable Cue/Play indicators
  src/engine/enginebuffer.cpp
Labels: engine, ui

#4800 CMake: Don't cache missng gsl/gsl
  CMakeLists.txt
Labels: build

#4802 WTrackMenu: enable Reset Loops action
  src/engine/controls/cuecontrol.cpp
  src/engine/controls/cuecontrol.h
  src/engine/controls/loopingcontrol.cpp
  src/engine/controls/loopingcontrol.h
  src/engine/enginebuffer.cpp
  src/track/track.cpp
  src/track/track.h
  src/widget/wtrackmenu.cpp
  src/widget/wtrackmenu.h
Labels: library, ui

#4808 Shade: fix for restoring the library split size
  res/skins/Shade/library.xml
Labels: skins

#4807 LateNight: remove blinking play indicator from mini samplers
  res/skins/LateNight/samplers/sampler_mini.xml
Labels: skins

#4805 Fix macOS build by defaulting `VCPKG_TARGET_TRIPLET` to `x64-osx-min10.12`
  .github/workflows/build.yml
  CMakeLists.txt
Labels: build

#4813 Triplet check
  CMakeLists.txt
Labels: ui, build

#4806 WTrackMenu: Add menu entry for (re)analyzing tracks
  src/library/library.cpp
  src/library/library.h
  src/library/librarytablemodel.cpp
  src/library/playlisttablemodel.cpp
  src/library/trackmodel.h
  src/library/trackset/crate/cratetablemodel.cpp
  src/widget/wtrackmenu.cpp
  src/widget/wtrackmenu.h
  src/widget/wtrackproperty.cpp
  src/widget/wtracktext.cpp
  src/widget/wtrackwidgetgroup.cpp
Labels: library, ui

#4774 macOS packaging: Perform ad-hoc signing of macOS bundle by default
  CMakeLists.txt
  cmake/modules/BundleInstall.cmake.in
Labels: build

#4824 fix(build): windows codesign
  .github/workflows/build.yml
  CMakeLists.txt
Labels: build

#4736 Fix loading of modplug files
  src/coreservices.cpp
  src/sources/soundsourcemodplug.h
Labels: sources, regression

#4825 feat(build): timestamp signed file built via CMake
  CMakeLists.txt
Labels: build

#4803 C++20
  CMakeLists.txt
  lib/benchmark/CMakeLists.txt
  src/controllers/dlgprefcontrollers.cpp
  src/effects/effectchain.cpp
  src/effects/effectslot.cpp
  src/engine/channels/enginechannel.cpp
  src/engine/controls/loopingcontrol.cpp
  src/engine/enginebuffer.cpp
  src/library/analysisfeature.cpp
  src/library/autodj/autodjprocessor.cpp
  src/library/autodj/autodjprocessor.h
  src/network/jsonwebtask.h
  src/preferences/dialog/dlgprefdeck.cpp
  src/util/class.h
  src/util/fifo.h
  src/util/messagepipe.h
  src/widget/wtrackmenu.cpp
Labels: library, ui, build

#4828 Shade: fix library sidebar splitter glitch
  res/skins/Shade/library.xml
Labels: skins

#4832 Cpp20
  .clang-format
  src/util/platform.h
Labels: code quality

#4833 restore 'Reset EQs on track load'
  src/mixer/basetrackplayer.h
  src/mixer/playermanager.cpp
  src/test/autodjprocessor_test.cpp
Labels: regression
