Repository mixxxdj/mixxx, pull requests merged in 2022-12, with the labels that each got.

#11077 Knob: hide cursor on wheel event for .8s
  src/widget/knobeventhandler.h
  src/widget/wknob.cpp
  src/widget/wknob.h
  src/widget/wknobcomposed.cpp
  src/widget/wknobcomposed.h
Labels: ui

#11090 Wrap selection around at the bottom/top of the library's tracks list
  src/library/librarycontrol.cpp
  src/widget/wlibrarytableview.cpp
  src/widget/wlibrarytableview.h
Labels: library, ui, changelog

#4773 Verify the "first sound"
  src/analyzer/analyzer.h
  src/analyzer/analyzerbeats.cpp
  src/analyzer/analyzerbeats.h
  src/analyzer/analyzerebur128.cpp
  src/analyzer/analyzerebur128.h
  src/analyzer/analyzergain.cpp
  src/analyzer/analyzergain.h
  src/analyzer/analyzerkey.cpp
  src/analyzer/analyzerkey.h
  src/analyzer/analyzersilence.cpp
  src/analyzer/analyzersilence.h
  src/analyzer/analyzerwaveform.cpp
  src/analyzer/analyzerwaveform.h
  src/analyzer/constants.h
  src/analyzer/plugins/analyzerkeyfinder.cpp
  src/analyzer/plugins/analyzerkeyfinder.h
  src/analyzer/plugins/analyzerplugin.h
  src/analyzer/plugins/analyzerqueenmarybeats.cpp
  src/analyzer/plugins/analyzerqueenmarybeats.h
  src/analyzer/plugins/analyzerqueenmarykey.cpp
  src/analyzer/plugins/analyzerqueenmarykey.h
  src/analyzer/plugins/analyzersoundtouchbeats.cpp
  src/analyzer/plugins/analyzersoundtouchbeats.h
  src/engine/cachingreader/cachingreaderworker.cpp
  src/engine/cachingreader/cachingreaderworker.h
  src/engine/controls/cuecontrol.cpp
  src/library/autodj/autodjprocessor.cpp
  src/test/analyzersilence_test.cpp
  src/track/cueinfo.cpp
  src/track/cueinfo.h
  src/widget/whotcuebutton.cpp
Labels: library, ui, needs review, code quality

#11129 Playlists & crates: restore previous search
  src/library/baseexternalplaylistmodel.cpp
  src/library/baseexternalplaylistmodel.h
  src/library/playlisttablemodel.cpp
  src/library/playlisttablemodel.h
  src/library/rekordbox/rekordboxfeature.cpp
  src/library/serato/seratofeature.cpp
  src/library/trackset/crate/cratetablemodel.cpp
  src/library/trackset/crate/cratetablemodel.h
  src/widget/wsearchlineedit.cpp
Labels: library, ui, search

#11132 LateNight: isolate searchbar so Maximize button is attached to tracks view
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
Labels: skins

#11133 Control picker menu: add loop_in/out_goto to list
  src/controllers/controlpickermenu.cpp
Labels: controllers, preferences, bug

#11135 Fix the Latenight skin quick effect toggle controls only affecting the first effect of the chain
  res/skins/LateNight/mixer/quick_effect_knob_4decks.xml
  res/skins/LateNight/mixer/quick_effect_knob_left.xml
  res/skins/LateNight/mixer/quick_effect_knob_right.xml
Labels: skins

#11153 Fixed regression in coverart tooltip - The assert occured always
  src/library/basetracktablemodel.cpp
Labels: library

#11160 Typo on Controller Learning wizard resolved
  src/controllers/controlpickermenu.cpp
Labels: skins, library
