Repository mixxxdj/mixxx, pull requests merged in 2022-03, with the labels that each got.

#4695 [2.3] Fix rare SEGFAULT when closing the progress dialog
  src/util/taskmonitor.cpp
  src/util/taskmonitor.h
Labels: critical bug

#4690 mixxx-test fix
  CMakeLists.txt
  src/test/playermanagertest.cpp
  src/test/soundsourceproviderregistration.h
  src/track/track.h
Labels: build, code quality

#4682 EngineBuffer: Fix assert when new track is loaded during playback with sync
  src/engine/enginebuffer.cpp
Labels: major bug, engine

#4697 BasePlaylistFeature: add popup asking deletion playlist
  src/library/trackset/baseplaylistfeature.cpp
Labels: library

#4696 LateNight: use correct tooltip for key control toggle
  res/skins/LateNight/helpers/skin_settings_compact_deck.xml
  res/skins/LateNight/helpers/skin_settings_full_deck.xml
  src/skin/legacy/tooltips.cpp
Labels: skins

#4465 Library: add control to open/close the track menu
  src/library/library.cpp
  src/library/librarycontrol.cpp
  src/library/librarycontrol.h
  src/widget/wtrackmenu.cpp
  src/widget/wtrackmenu.h
  src/widget/wtracktableview.cpp
  src/widget/wtracktableview.h
Labels: library, ui

#4693 Fix undesired jump-cuts in auto DJ
  src/library/autodj/autodjprocessor.cpp
Labels: library, changelog

#4700 CrateFeature: add popup to avoid accidental remove of Crate
  src/library/trackset/crate/cratefeature.cpp
Labels: library

#4704 WEffectChainPresetButton: add tooltip + debug info
  src/skin/legacy/legacyskinparser.cpp
  src/skin/legacy/tooltips.cpp
  src/widget/weffectchainpresetbutton.cpp
  src/widget/weffectchainpresetbutton.h
Labels: ui
