Repository mixxxdj/mixxx, pull requests merged in 2022-09, with the labels that each got.

#10855 build(cmake): Fix CMake warning regarding extracted archive timestamps
  CMakeLists.txt
Labels: build

#10852 Numark DJ2Go2: Fix inverted tempo fader
  res/controllers/Numark_DJ2GO2_Touch_scripts.js
Labels: controllers

#10843 RingDelayBufferTest: refactor includes and span creation
  src/test/ringdelaybuffer_test.cpp
Labels: code quality

#10862 [2.3.4] Fix compatibility with FFmpeg 5.1
  src/sources/soundsourceffmpeg.cpp
  src/sources/soundsourceffmpeg.h
Labels: changelog, soundsource

#4907 soundio: rename SoundDeviceError > SoundDeviceStatus
  src/coreservices.h
  src/mixxxmainwindow.cpp
  src/mixxxmainwindow.h
  src/preferences/dialog/dlgprefsound.cpp
  src/preferences/dialog/dlgprefsound.h
  src/qml/qmlapplication.cpp
  src/soundio/sounddevice.cpp
  src/soundio/sounddevice.h
  src/soundio/sounddeviceerror.h
  src/soundio/sounddevicenetwork.cpp
  src/soundio/sounddevicenetwork.h
  src/soundio/sounddevicenotfound.h
  src/soundio/sounddeviceportaudio.cpp
  src/soundio/sounddeviceportaudio.h
  src/soundio/sounddevicestatus.h
  src/soundio/soundmanager.cpp
  src/soundio/soundmanager.h
Labels: engine, ui

#10863 fix: Fix `-Werror=nonnull-compare` warning in thread affinity assertion
  src/util/thread_affinity.h
Labels: build, bug

#10861 BaseSqlTableModel: remove duplicated line.
  src/library/basesqltablemodel.cpp
Labels: library

#10866 Cleanup: Require FFmpeg v4.1.9 or later
  CMakeLists.txt
  src/encoder/encoderffmpegcore.cpp
  src/sources/soundsourceffmpeg.cpp
  src/sources/soundsourceffmpeg.h
Labels: build

#10864 [2.3.x] build(cmake): Fix CMake warning regarding extracted archive timestamps
  CMakeLists.txt
Labels: build

#10868 Effect widgets cleanup
  src/widget/weffectchainpresetbutton.cpp
  src/widget/weffectchainpresetbutton.h
  src/widget/weffectselector.cpp
  src/widget/weffectselector.h
Labels: effects, ui, bug

#10871 parsercsv: Minor refactor to prefer standard algorithms and datatypes
  src/library/parsercsv.cpp
Labels: library

#10873 Add prettier hook for auto-formatting YAML files
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  .prettierrc.yaml
Labels: code quality

#10878 FIX: Tag Fetcher close button doesn't abort task
  src/library/dlgtagfetcher.cpp
  src/library/dlgtagfetcher.h
Labels: library

#10897 Moving SafelyWritableFile class to the utility folder.
  CMakeLists.txt
  src/sources/metadatasourcetaglib.cpp
  src/util/safelywritablefile.cpp
  src/util/safelywritablefile.h
Labels: build

#10896 Set Policy CMP0099 and CMP0111
  CMakeLists.txt
Labels: build

#4905 Pref > Controller: allow creating a new mapping with 'No Mapping' selected
  src/controllers/controllermanager.cpp
  src/controllers/controllermanager.h
  src/controllers/dlgprefcontroller.cpp
  src/controllers/dlgprefcontroller.h
  src/controllers/scripting/legacy/controllerscriptenginelegacy.cpp
Labels: controllers, ui, preferences, regression

#10908 ImageFileData class added to write images without loss
  CMakeLists.txt
  src/util/imagefiledata.cpp
  src/util/imagefiledata.h
Labels: build

#10889 Avoid redundant messages for failed track load
  src/mixer/basetrackplayer.cpp
  src/mixer/basetrackplayer.h
Labels: changelog

#10904 Vcpkg root fix
  CMakeLists.txt
  tools/windows_buildenv.bat
Labels: build, needs review

#4871 DlgTagFetcher new feedback system
  src/library/dlgtagfetcher.cpp
  src/library/dlgtagfetcher.h
  src/library/dlgtagfetcher.ui
  src/musicbrainz/tagfetcher.cpp
  src/musicbrainz/tagfetcher.h
  src/musicbrainz/web/musicbrainzrecordingstask.cpp
  src/musicbrainz/web/musicbrainzrecordingstask.h
Labels: library

#10921 fix(soundsourceflac): Fix `-Wswitch` when building with FLAC >= 1.4.0
  src/sources/soundsourceflac.cpp
Labels: bug, soundsource

#10926 fix libkeyfinder externalproject_add with cmake_prefix_path
  CMakeLists.txt
Labels: build

#10919 Library Scanner: sort files before adding
  src/library/scanner/recursivescandirectorytask.cpp
Labels: library

#10928 Fix automatic QML type registration for Qt 6.3.x
  CMakeLists.txt
  res/qml/ControlButton.qml
  res/qml/ControlKnob.qml
  res/qml/ControlMiniKnob.qml
  res/qml/ControlSlider.qml
  res/qml/Deck.qml
  res/qml/DeckInfoBar.qml
  res/qml/DeveloperToolsWindow.qml
  res/qml/EffectSlot.qml
  res/qml/EqKnob.qml
  res/qml/FocusedWidgetControl.qml
  res/qml/Hotcue.qml
  res/qml/HotcuePopup.qml
  res/qml/InfoBarButton.qml
  res/qml/Knob.qml
  res/qml/Library.qml
  res/qml/LibraryControl.qml
  res/qml/LibraryControlLoadSelectedTrackHandler.qml
  res/qml/MicrophoneDuckingPanel.qml
  res/qml/Mixxx/Controls/Knob.qml
  res/qml/Mixxx/Controls/Spinny.qml
  res/qml/Mixxx/Controls/WaveformOverview.qml
  res/qml/Mixxx/Controls/WaveformOverviewHotcueMarker.qml
  res/qml/Mixxx/Controls/WaveformOverviewMarker.qml
  res/qml/Mixxx/PlayerDropArea.qml
  res/qml/Mixxx/qmldir
  res/qml/OrientationToggleButton.qml
  res/qml/Sampler.qml
  res/qml/Slider.qml
  res/qml/SyncButton.qml
  res/qml/VuMeter.qml
  res/qml/WaveformOverview.qml
  res/qml/main.qml
Labels: build, bug
