Repository mixxxdj/mixxx, pull requests merged in 2022-01, with the labels that each got.

#4590 Deere: add QuickEffect selector
  res/skins/Deere/mixer.xml
  res/skins/Deere/mixer_column_master_vu_4decks.xml
  res/skins/Deere/mixer_controls_4decks_left.xml
  res/skins/Deere/mixer_controls_4decks_right.xml
  res/skins/Deere/quick_effect_superknob_left.xml
  res/skins/Deere/quick_effect_superknob_right.xml
  res/skins/Deere/style.qss
Labels: skins

#4575 Fix segfault when starting without a valid skin directory
  src/library/trackcollectionmanager.cpp
  src/main.cpp
  src/mixxx.cpp
  src/preferences/dialog/dlgprefinterface.cpp
  src/skin/legacy/launchimage.cpp
  src/skin/legacy/launchimage.h
Labels: library, ui, changelog

#4571 Search bar tweaks
  src/widget/wlibrarysidebar.cpp
  src/widget/wsearchlineedit.cpp
  src/widget/wsearchlineedit.h
  src/widget/wtracktableview.cpp
Labels: library, ui

#4593 LateNight: add effect chain menu button
  res/skins/LateNight/classic/buttons/btn__fx_settings.svg
  res/skins/LateNight/fx/singletons.xml
  res/skins/LateNight/fx/unit_parameters_hidden.xml
  res/skins/LateNight/fx/unit_parameters_visible.xml
  res/skins/LateNight/palemoon/buttons/btn__fx_settings.svg
  res/skins/LateNight/style.qss
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
Labels: skins

#4595 Update pre-commit hooks and fix eslint dependencies
  .pre-commit-config.yaml
Labels: code quality

#4598 Follow-up: SoundSourceProxy cleanup
  src/sources/soundsourceproxy.cpp
  src/sources/soundsourceproxy.h
Labels: code quality

#4596 Happy New Year 2022!
  COPYING
  LICENSE
  cmake/modules/FindChromaprint.cmake
  cmake/modules/FindDjInterop.cmake
  cmake/modules/FindEbur128.cmake
  cmake/modules/FindFFTW.cmake
  cmake/modules/FindFLAC.cmake
  cmake/modules/FindG72X.cmake
  cmake/modules/FindGPerfTools.cmake
  cmake/modules/FindHSS1394.cmake
  cmake/modules/FindID3Tag.cmake
  cmake/modules/FindKeyFinder.cmake
  cmake/modules/FindLibUSB.cmake
  cmake/modules/FindMAD.cmake
  cmake/modules/FindMP4.cmake
  cmake/modules/FindMP4v2.cmake
  cmake/modules/FindModplug.cmake
  cmake/modules/FindOgg.cmake
  cmake/modules/FindOpus.cmake
  cmake/modules/FindOpusFile.cmake
  cmake/modules/FindPortAudio.cmake
  cmake/modules/FindPortMidi.cmake
  cmake/modules/FindSQLite3.cmake
  cmake/modules/FindShoutidjc.cmake
  cmake/modules/FindSndFile.cmake
  cmake/modules/FindSoundTouch.cmake
  cmake/modules/FindTagLib.cmake
  cmake/modules/FindUpower.cmake
  cmake/modules/FindVorbis.cmake
  cmake/modules/Findhidapi.cmake
  cmake/modules/Findlilv.cmake
  cmake/modules/Findmp3lame.cmake
  cmake/modules/Findrubberband.cmake
  cmake/modules/Findwavpack.cmake
  packaging/debian/copyright
  packaging/wix/LICENSE.rtf
Labels: build

#4591 QML: Don't use parented_ptr for model in QmlLibraryProxy
  src/qml/qmllibraryproxy.cpp
  src/qml/qmllibraryproxy.h
Labels: code quality

#4599 Controlobjectscripttest cleanup
  src/test/controlobjectscripttest.cpp
Labels: code quality, regression

#4600 Tests: Fix tempfile handling and disable broken MIME type detection check
  src/test/mixxxtest.cpp
  src/test/mixxxtest.h
  src/test/soundproxy_test.cpp
  src/test/taglibtest.cpp
Labels: code quality

#4602 Soundsource filetype detection fix
  src/sources/soundsource.cpp
  src/test/soundproxy_test.cpp
Labels: sources, minor bug, code quality, changelog

#4607 Beats deserialization: Fix misleading warning logs if no data available
  src/library/dao/trackdao.cpp
  src/track/beats.cpp
Labels: library

#4603 TrackDAO::saveTrack(): Return success/failure result
  src/library/dao/trackdao.cpp
  src/library/dao/trackdao.h
  src/library/trackcollection.cpp
  src/library/trackcollection.h
  src/library/trackcollectionmanager.cpp
Labels: library

#4536 Library track selection tweaks
  src/library/autodj/dlgautodj.cpp
  src/library/autodj/dlgautodj.h
  src/library/dlganalysis.cpp
  src/library/dlganalysis.h
  src/library/dlghidden.cpp
  src/library/dlghidden.h
  src/library/dlgmissing.cpp
  src/library/dlgmissing.h
  src/library/libraryview.h
  src/library/recording/dlgrecording.cpp
  src/library/recording/dlgrecording.h
  src/library/searchqueryparser.cpp
  src/library/searchqueryparser.h
  src/test/searchqueryparsertest.cpp
  src/widget/wlibrarytableview.cpp
  src/widget/wlibrarytableview.h
  src/widget/wtracktableview.cpp
  src/widget/wtracktableview.h
Labels: library, ui, code quality

#4609 Fix Qt 5.15 build errors
  src/library/searchqueryparser.cpp
Labels: library

#4605 Sync track metadata: Pass parameters explicitly
  src/library/dao/trackdao.cpp
  src/library/trackcollectionmanager.cpp
  src/sources/soundsourceproxy.cpp
  src/sources/soundsourceproxy.h
  src/test/autodjprocessor_test.cpp
  src/test/coverartutils_test.cpp
  src/test/soundproxy_test.cpp
  src/test/trackupdate_test.cpp
  src/track/track.cpp
  src/track/track.h
  src/track/track_decl.h
  src/widget/wtrackmenu.cpp
Labels: library, ui, code quality

#4583 Renamed makeUnbufferedConnection and used it for VuMeter controls
  res/controllers/Behringer-CMD-MM1-scripts.js
  res/controllers/Denon-MC7000-scripts.js
  res/controllers/Numark-Mixtrack-Platinum-scripts.js
  res/controllers/Numark-Mixtrack-Pro-FX-scripts.js
  res/controllers/Pioneer-DDJ-400-script.js
  res/controllers/Traktor-Kontrol-S2-MK2-hid-scripts.js
  res/controllers/Traktor-Kontrol-S2-MK3-hid-scripts.js
  res/controllers/Traktor-Kontrol-S3-hid-scripts.js
  res/controllers/Yaeltex-MiniMixxx-scripts.js
  src/controllers/scripting/legacy/controllerscriptinterfacelegacy.cpp
  src/controllers/scripting/legacy/controllerscriptinterfacelegacy.h
Labels: controllers, code quality

#3821 Mappings for Pioneer DDJ SB3 Controller
  res/controllers/Pioneer-DDJ-SB3-scripts.js
  res/controllers/Pioneer-DDJ-SB3.midi.xml
Labels: controllers, changelog

#4612 lp1956819: Show log messages from "js" category on `--controller-debug`
  src/util/logging.cpp
Labels: controllers, regression

#4616 eslint: Add mjs support
  .eslintrc.json
  .pre-commit-config.yaml
  res/qml/Mixxx/MathUtils.mjs
Labels: code quality

#4567 QML: Library Improvements
  res/qml/FocusedWidgetControl.qml
  res/qml/Library.qml
  res/qml/LibraryControl.qml
  res/qml/LibraryControlLoadSelectedTrackHandler.qml
  res/qml/Mixxx/MathUtils.mjs
  src/library/library.cpp
  src/library/library.h
  src/library/librarycontrol.cpp
  src/mixer/playermanager.cpp
  src/mixer/playermanager.h
  src/mixer/samplerbank.cpp
  src/qml/qmlplayermanagerproxy.cpp
  src/qml/qmlplayermanagerproxy.h
  src/qml/qmlplayerproxy.cpp
  src/qml/qmlplayerproxy.h
  src/skin/legacy/legacyskinparser.cpp
Labels: library, ui, build, code quality

#4620 Qt cleanups
  src/library/serato/seratofeature.cpp
  src/skin/legacy/launchimage.cpp
  src/soundio/soundmanagerconfig.cpp
  src/soundio/soundmanagerconfig.h
  src/widget/wcolorpicker.cpp
  src/widget/weffectpushbutton.cpp
  src/widget/wtrackmenu.cpp
Labels: library, ui, code quality

#4622 Serato markers size serialization fixes
  src/track/serato/markers.cpp
  src/track/serato/markers2.cpp
Labels: code quality

#4624 ControllerScriptEngineLegacy: Only remove FS watcher paths if not empty
  src/controllers/scripting/legacy/controllerscriptenginelegacy.cpp
  src/controllers/scripting/legacy/controllerscriptenginelegacy.h
Labels: code quality

#4623 Qt6 CI fixes
  .github/workflows/build.yml
Labels: code quality

#4617 WBeatSpinBox/AutoDJ spinbox: Enter & Esc also move focus to library
  src/library/autodj/dlgautodj.cpp
  src/library/autodj/dlgautodj.h
  src/widget/wbeatspinbox.cpp
Labels: library, ui, regression

#4627 ControllerScriptInterfaceLegacy: Do not modify QHash while iterating over it
  src/controllers/scripting/legacy/controllerscriptinterfacelegacy.cpp
Labels: controllers, critical bug, regression

#4629 Qt QML cleanup
  res/qml/ComboBox.qml
  res/qml/DeckInfoBar.qml
  res/qml/DeckRow.qml
  res/qml/EffectRow.qml
  res/qml/EffectSlot.qml
  res/qml/EffectUnit.qml
  res/qml/Hotcue.qml
  res/qml/HotcueButton.qml
  res/qml/HotcuePopup.qml
  res/qml/InfoBarButton.qml
  res/qml/Library.qml
  res/qml/LibraryControl.qml
  res/qml/LibraryControlLoadSelectedTrackHandler.qml
  res/qml/MicrophoneDuckingPanel.qml
  res/qml/MicrophoneUnit.qml
  res/qml/Mixer.qml
  res/qml/MixerColumn.qml
  res/qml/Mixxx/Controls/Slider.qml
  res/qml/Mixxx/Controls/WaveformOverview.qml
  res/qml/Mixxx/Controls/WaveformOverviewHotcueMarker.qml
  res/qml/Mixxx/Controls/WaveformOverviewMarker.qml
  res/qml/Mixxx/PlayerDropArea.qml
  res/qml/OrientationToggleButton.qml
  res/qml/Sampler.qml
  res/qml/Slider.qml
  res/qml/WaveformOverview.qml
Labels: ui, code quality

#4631 Log re-import of track metadata from file tags with time stamps
  src/library/dao/trackdao.cpp
  src/sources/soundsourceproxy.cpp
  src/sources/soundsourceproxy.h
  src/test/autodjprocessor_test.cpp
  src/test/coverartutils_test.cpp
  src/test/soundproxy_test.cpp
  src/test/trackupdate_test.cpp
Labels: library, code quality

#4634 Update pre-commit hooks
  .pre-commit-config.yaml
  src/test/soundFileFormats/generateFiles.sh
Labels: code quality

#4633 TrackDAO: Refactorings from debugging #4628
  src/library/dao/trackdao.cpp
Labels: library, code quality

#4635 Fix segfault when using midi.sendShortMsg and platform vnc
  src/util/screensaver.cpp
Labels: changelog

#4636 Clazy fixes
  src/control/control.h
  src/controllers/bulk/bulkenumerator.h
  src/controllers/delegates/midibytedelegate.h
  src/controllers/delegates/midichanneldelegate.h
  src/controllers/delegates/midiopcodedelegate.h
  src/controllers/hid/hidenumerator.h
  src/effects/backends/effectmanifestparameter.h
  src/effects/chains/equalizereffectchain.h
  src/effects/chains/outputeffectchain.h
  src/effects/chains/pergroupeffectchain.h
  src/effects/chains/quickeffectchain.h
  src/effects/chains/standardeffectchain.h
  src/effects/defs.h
  src/engine/bufferscalers/enginebufferscalelinear.h
  src/engine/enginepregain.h
  src/engine/positionscratchcontroller.h
  src/library/export/dlglibraryexport.cpp
  src/library/proxytrackmodel.h
  src/library/rekordbox/rekordboxfeature.h
  src/library/serato/seratofeature.cpp
  src/library/serato/seratoplaylistmodel.h
  src/library/traktor/traktorfeature.h
  src/qml/asyncimageprovider.h
  src/util/battery/batterylinux.h
  src/util/battery/batterymac.h
  src/util/battery/batterywindows.h
  src/util/desktophelper.cpp
  src/util/workerthreadscheduler.h
  src/vinylcontrol/vinylcontrol.h
  src/vinylcontrol/vinylcontrolxwax.h
  src/widget/wanalysislibrarytableview.h
  src/widget/woverviewhsv.h
  src/widget/woverviewlmh.h
  src/widget/woverviewrgb.h
  src/widget/wsizeawarestack.cpp
  src/widget/wsizeawarestack.h
Labels: library, ui, code quality

#4597 xwax: Update to Version 1.8 + fixes for lp1956018
  CMakeLists.txt
  lib/xwax/0001-Make-timecoder.h-usable-for-C.patch
  lib/xwax/0002-Fix-xwax-build-on-windows.patch
  lib/xwax/0003-Use-my-the-safe-values-I-found-work-better.patch
  lib/xwax/0004-Inline-the-update_monitor-function-since-it-is-calle.patch
  lib/xwax/0005-Fix-traktor-math-issues-for-timecoder-bad-values-lp-.patch
  lib/xwax/debug.h
  lib/xwax/lut.c
  lib/xwax/lut.h
  lib/xwax/lut_win32.cpp
  lib/xwax/pitch.h
  lib/xwax/timecoder.c
  lib/xwax/timecoder.h
  lib/xwax/timecoder_win32.cpp
  src/preferences/dialog/dlgprefvinyl.cpp
  src/vinylcontrol/defs_vinylcontrol.h
  src/vinylcontrol/vinylcontrolxwax.cpp
Labels: ui, build

#4638 [2.3.2] FFmpeg: Delete obsolete dependency / Fix 5.0 build error
  cmake/modules/FindFFMPEG.cmake
  src/sources/soundsourceffmpeg.cpp
Labels: build

#4626 2.3.2 release
  CHANGELOG.md
  CMakeLists.txt
  COPYING
  LICENSE
  cmake/modules/FindChromaprint.cmake
  cmake/modules/FindEbur128.cmake
  cmake/modules/FindFFTW.cmake
  cmake/modules/FindFLAC.cmake
  cmake/modules/FindG72X.cmake
  cmake/modules/FindGPerfTools.cmake
  cmake/modules/FindHSS1394.cmake
  cmake/modules/FindID3Tag.cmake
  cmake/modules/FindKeyFinder.cmake
  cmake/modules/FindLibUSB.cmake
  cmake/modules/FindMAD.cmake
  cmake/modules/FindMP4.cmake
  cmake/modules/FindMP4v2.cmake
  cmake/modules/FindModplug.cmake
  cmake/modules/FindOgg.cmake
  cmake/modules/FindOpus.cmake
  cmake/modules/FindPortMidi.cmake
  cmake/modules/FindSQLite3.cmake
  cmake/modules/FindShoutidjc.cmake
  cmake/modules/FindSndFile.cmake
  cmake/modules/FindSoundTouch.cmake
  cmake/modules/FindTagLib.cmake
  cmake/modules/FindUpower.cmake
  cmake/modules/FindVorbis.cmake
  cmake/modules/Findhidapi.cmake
  cmake/modules/Findlilv.cmake
  cmake/modules/Findmp3lame.cmake
  cmake/modules/Findrubberband.cmake
  cmake/modules/Findwavpack.cmake
  packaging/debian/changelog
  packaging/debian/copyright
  packaging/wix/LICENSE.rtf
  res/linux/org.mixxx.Mixxx.metainfo.xml
Labels: build

#4639 Remove from disk: UI fixes
  src/widget/wtrackmenu.cpp
Labels: library, ui

#4641 Make Mixxx build with Qt6
  .github/workflows/build.yml
  CMakeLists.txt
  src/engine/enginebuffer.cpp
  src/library/banshee/bansheeplaylistmodel.cpp
  src/library/itunes/itunesfeature.cpp
  src/library/rhythmbox/rhythmboxfeature.cpp
  src/library/traktor/traktorfeature.cpp
  src/mixer/basetrackplayer.cpp
  src/preferences/dialog/dlgpreferences.cpp
  src/skin/legacy/legacyskinparser.cpp
  src/test/wpushbutton_test.cpp
  src/waveform/visualplayposition.cpp
  src/waveform/visualplayposition.h
  src/widget/controlwidgetconnection.cpp
  src/widget/wcoverart.cpp
  src/widget/wcoverartlabel.cpp
  src/widget/wlibrarysidebar.cpp
  src/widget/wslidercomposed.cpp
  src/widget/wstarrating.cpp
  src/widget/wtrackproperty.cpp
  src/widget/wtracktableview.cpp
  src/widget/wtracktableviewheader.cpp
  src/widget/wtracktext.cpp
  src/widget/wtrackwidgetgroup.cpp
  src/widget/wwidget.cpp
Labels: library, ui, build, code quality

#4628 Track Metadata: Fix synchronization (import/export) of file tags
  CMakeLists.txt
  src/library/dao/trackdao.cpp
  src/library/trackcollectionmanager.cpp
  src/library/trackcollectionmanager.h
  src/sources/metadatasource.cpp
  src/sources/metadatasource.h
  src/sources/metadatasourcetaglib.cpp
  src/sources/soundsourceproxy.cpp
  src/test/mixxxtest.cpp
  src/test/mixxxtest.h
  src/test/synctrackmetadatatest.cpp
  src/track/track.cpp
  src/track/track.h
  src/track/trackrecord.cpp
  src/track/trackrecord.h
Labels: major bug, library, build, code quality

#4642 [2.3.2] Update libkeyfinder to v2.2.6
  CHANGELOG.md
  CMakeLists.txt
  res/linux/org.mixxx.Mixxx.metainfo.xml
Labels: build

#4643 QML cleanup Pt. 2
  res/qml/AuxiliaryUnit.qml
  res/qml/Button.qml
  res/qml/CrossfaderRow.qml
  res/qml/Deck.qml
  res/qml/DeckInfoBar.qml
  res/qml/EffectUnit.qml
  res/qml/EqColumn.qml
  res/qml/EqKnob.qml
  res/qml/HotcueButton.qml
  res/qml/HotcuePopup.qml
  res/qml/Library.qml
  res/qml/Mixer.qml
  res/qml/Mixxx/Controls/WaveformOverview.qml
  res/qml/main.qml
Labels: code quality

#4615 lp1445885: Fix handling of files with wrong suffix
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
  src/coreservices.cpp
  src/sources/metadatasourcetaglib.cpp
  src/sources/soundsource.cpp
  src/sources/soundsourcecoreaudio.cpp
  src/sources/soundsourcecoreaudio.h
  src/sources/soundsourceffmpeg.cpp
  src/sources/soundsourceffmpeg.h
  src/sources/soundsourceflac.cpp
  src/sources/soundsourceflac.h
  src/sources/soundsourcem4a.cpp
  src/sources/soundsourcem4a.h
  src/sources/soundsourcemediafoundation.cpp
  src/sources/soundsourcemediafoundation.h
  src/sources/soundsourcemodplug.cpp
  src/sources/soundsourcemodplug.h
  src/sources/soundsourcemp3.cpp
  src/sources/soundsourcemp3.h
  src/sources/soundsourceoggvorbis.cpp
  src/sources/soundsourceoggvorbis.h
  src/sources/soundsourceopus.cpp
  src/sources/soundsourceopus.h
  src/sources/soundsourceprovider.h
  src/sources/soundsourceproviderregistry.cpp
  src/sources/soundsourceproviderregistry.h
  src/sources/soundsourceproxy.cpp
  src/sources/soundsourceproxy.h
  src/sources/soundsourcesndfile.cpp
  src/sources/soundsourcesndfile.h
  src/sources/soundsourcewv.cpp
  src/sources/soundsourcewv.h
  src/test/coverartutils_test.cpp
  src/test/directorydaotest.cpp
  src/test/soundproxy_test.cpp
  src/test/soundsourceproviderregistrytest.cpp
  src/track/serato/tags.cpp
  src/track/taglib/trackmetadata_file.cpp
  src/track/track.cpp
  src/track/track.h
  src/track/trackinfo.cpp
Labels: code quality

#4646 Traktor S3: Fix timedelta calculation bugs
  res/controllers/Traktor-Kontrol-S3-hid-scripts.js
Labels: controllers

#4650 tools/qmlformat.py: Move Qt version detection into separate function
  tools/qmlformat.py
Labels: code quality

#4649 Make QML UI compatible with Qt 6
  .github/workflows/build.yml
  CMakeLists.txt
  res/qml/Button.qml
  res/qml/DeckInfoBar.qml
  res/qml/InfoBarButton.qml
  res/qml/Mixxx/Controls/qmldir
  res/qml/Mixxx/qmldir
  res/qml/Slider.qml
  res/qml/VuMeter.qml
  src/control/controlsortfiltermodel.h
  src/library/librarycontrol.cpp
  src/main.cpp
  src/qml/qmlapplication.cpp
  src/qml/qmlconfigproxy.cpp
  src/qml/qmlconfigproxy.h
  src/qml/qmlcontrolproxy.h
  src/qml/qmldlgpreferencesproxy.cpp
  src/qml/qmldlgpreferencesproxy.h
  src/qml/qmleffectmanifestparametersmodel.h
  src/qml/qmleffectslotproxy.h
  src/qml/qmleffectsmanagerproxy.cpp
  src/qml/qmleffectsmanagerproxy.h
  src/qml/qmllibraryproxy.cpp
  src/qml/qmllibraryproxy.h
  src/qml/qmllibrarytracklistmodel.h
  src/qml/qmlplayermanagerproxy.cpp
  src/qml/qmlplayermanagerproxy.h
  src/qml/qmlplayerproxy.h
  src/qml/qmlvisibleeffectsmodel.h
  src/qml/qmlwaveformoverview.h
  src/util/cmdlineargs.cpp
  src/util/cmdlineargs.h
Labels: library, ui, build

#4655 Debian: remove obsolete command line arguments
  packaging/debian/mixxx.sgml
Labels: code quality, changelog
