Repository mixxxdj/mixxx, pull requests merged in 2022-05, with the labels that each got.

#4743 Update pre-commit hooks
  .pre-commit-config.yaml
Labels: build, code quality

#4742 Update GitHub CI actions
  .github/workflows/build-checks.yml
  .github/workflows/build.yml
  .github/workflows/pre-commit.yml
Labels: build

#4741 CI: Drop workarounds for sccache v0.2.x
  .github/workflows/build.yml
Labels: build

#4658 Search bar: improve keypress handling, fix glitch in popup, strip whitespaces
  src/widget/wsearchlineedit.cpp
Labels: ui, minor bug

#4725 Library: keep hidden tracks in history
  src/library/dao/playlistdao.cpp
Labels: library, minor bug, changelog

#4746 Refine the version check in Findhidapi.cmake
  cmake/modules/Findhidapi.cmake
Labels: build

#4748 Fix checkmark in chain preset list on Windows
  src/widget/weffectchainpresetbutton.cpp
Labels: ui

#4726 add History cleanup options
  src/coreservices.cpp
  src/library/dao/playlistdao.cpp
  src/library/dao/playlistdao.h
  src/library/library_prefs.cpp
  src/library/library_prefs.h
  src/library/trackset/baseplaylistfeature.cpp
  src/library/trackset/crate/cratefeature.cpp
  src/library/trackset/setlogfeature.cpp
  src/library/trackset/setlogfeature.h
  src/preferences/dialog/dlgpreflibrary.cpp
  src/preferences/dialog/dlgpreflibrary.h
  src/preferences/dialog/dlgpreflibrarydlg.ui
  src/widget/wtracktableview.cpp
Labels: library, ui, minor bug, preferences

#4698 Fix stopped Auto DJ.
  src/library/autodj/autodjprocessor.cpp
  src/library/autodj/autodjprocessor.h
  src/test/autodjprocessor_test.cpp
Labels: library, code quality

#4749 library: add '[Library],sort_focused_column' control pushbutton
  src/library/librarycontrol.cpp
  src/library/librarycontrol.h
Labels: library

#4750 Broadcasting: allow multiple connections to same mount if only one is enabled
  src/preferences/dialog/dlgprefbroadcast.cpp
Labels: broadcasting, minor bug, preferences

#4747 Make -Woverloaded-virtual CXX only
  CMakeLists.txt
  lib/libshout-idjc/CMakeLists.txt
Labels: build

#4757 MC7000: Fix code style issue in pad buttons handler for 2.3
  res/controllers/Denon-MC7000-scripts.js
Labels: controllers

#4740 WTrackMenu: Add ability to select loaded track in library -- fixup/tweak
  src/library/library.cpp
  src/library/library.h
  src/library/recording/dlgrecording.h
  src/widget/wlibrary.cpp
  src/widget/wlibrary.h
  src/widget/wtrackmenu.cpp
  src/widget/wtrackmenu.h
  src/widget/wtrackproperty.cpp
  src/widget/wtracktableview.cpp
  src/widget/wtracktableview.h
  src/widget/wtrackwidgetgroup.cpp
Labels: library, ui

#4752 Parserm3u export
  src/library/parserm3u.cpp
Labels: library

#4755 MC7000: Fix 'inverted shift' bug in the controller mapping
  res/controllers/Denon-MC7000-scripts.js
  res/controllers/Denon-MC7000.midi.xml
Labels: controllers

#4761 Scratch on first wheel touch
  src/controllers/controllerengine.cpp
Labels: regression

#4765 FpClassify: Fix warning for Clang 14
  CMakeLists.txt
Labels: build

#4768 Change the minumum Auto DJ transition time to -99
  src/library/autodj/dlgautodj.ui
Labels: library, autodj

#4318 Update controller mapping for Behringer DDM4000 mixer
  res/controllers/Behringer-DDM4000-scripts.js
  res/controllers/Behringer-Extension-scripts.js
Labels: controllers

#4738 Made error dialog with "Show Details" so wide, that there are no unnecessary line breaks.
  src/errordialoghandler.cpp
Labels: library

#4713 LateNight: add toggles to show loop and beatjump controls
  res/skins/LateNight/decks/row_5_transportLoopJump.xml
  res/skins/LateNight/decks/row_5_transportLoopJump_compact.xml
  res/skins/LateNight/helpers/skin_settings_compact_deck.xml
  res/skins/LateNight/helpers/skin_settings_full_deck.xml
  res/skins/LateNight/helpers/skin_settings_mini_deck.xml
  res/skins/LateNight/skin.xml
  res/skins/LateNight/skin_settings.xml
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
  src/skin/legacy/tooltips.cpp
Labels: skins

#4613 [2.3] Prevent preferences dialog from going out of screen
  src/preferences/dialog/dlgpreferences.cpp
Labels: ui
