Repository mixxxdj/mixxx, pull requests merged in 2022-04, with the labels that each got.

#4702 Preferences > Effects: fix Tab key navigation / UX
  src/preferences/dialog/dlgprefeffects.cpp
  src/preferences/dialog/dlgprefeffects.h
  src/preferences/dialog/dlgprefeffectsdlg.ui
Labels: effects, ui, preferences

#4701 Traktor library: fix importing track key
  src/library/traktor/traktorfeature.cpp
Labels: library

#4714 Don't reset xfader when auto DJ is disabled
  src/library/autodj/autodjprocessor.cpp
Labels: library, changelog

#4721 Pref controller: prevent false-positive 'dirty' flag
  src/controllers/dlgprefcontroller.cpp
  src/controllers/dlgprefcontroller.h
  src/controllers/dlgprefcontrollers.cpp
Labels: controllers, preferences, regression

#4722 WTrackMenu > Reset: add action to clear the comment field
  src/track/track.h
  src/widget/wtrackmenu.cpp
  src/widget/wtrackmenu.h
Labels: library, ui

#4699 Samplers, crates, playlists: fix storing import/export paths
  src/library/baseplaylistfeature.cpp
  src/library/crate/cratefeature.cpp
  src/mixer/samplerbank.cpp
Labels: library, minor bug, regression, changelog

#4724 Fix various typos
  CMakeLists.txt
  packaging/macos/entitlements.plist
  res/controllers/Behringer-CMD-MM1-scripts.js
  res/controllers/Behringer-CMDStudio4a-scripts.js
  res/controllers/Gemini-CDMP-7000-scripts.js
  res/controllers/Hercules-DJ-Console-4-Mx-scripts.js
  res/controllers/Hercules_DJControl_Inpulse_300.midi.xml
  res/controllers/Hercules_DJControl_Jogvision.midi.xml
  res/controllers/Midi_for_light-scripts.js
  res/controllers/Mixman DM2 (OS X).js
  res/controllers/Numark-Mixtrack-Platinum-scripts.js
  res/controllers/Numark-Mixtrack-Pro-scripts.js
  res/controllers/Numark-N4-scripts.js
  res/controllers/Reloop-Beatpad-scripts.js
  res/controllers/Vestax-VCI-300-scripts.js
  res/skins/Deere (64 Samplers)/skin.xml
  res/skins/Deere/skin.xml
  res/skins/LateNight/fx_rack.xml
  res/skins/LateNight/helpers/skin_settings_compact_deck.xml
  res/skins/LateNight/helpers/skin_settings_full_deck.xml
  res/skins/LateNight/helpers/skin_settings_mini_deck.xml
  src/analyzer/analyzergain.cpp
  src/engine/controls/clockcontrol.cpp
  src/engine/effects/engineeffect.cpp
  src/engine/effects/engineeffectchain.cpp
  src/engine/enginebuffer.h
  src/mixxxmainwindow.cpp
  src/sources/soundsourceflac.cpp
  src/test/autodjprocessor_test.cpp
  src/test/enginesynctest.cpp
  src/track/track.cpp
  src/waveform/visualplayposition.cpp
  src/waveform/waveformwidgetfactory.cpp
  src/widget/wmainmenubar.cpp
  tools/clang_format.py
Labels: controllers, skins, ui, build, code quality

#4719 WTrackMenu: show 'Update ReplayGain' only in decks' menus
  src/widget/wtrackmenu.cpp
  src/widget/wtrackmenu.h
  src/widget/wtrackproperty.cpp
  src/widget/wtracktext.cpp
  src/widget/wtrackwidgetgroup.cpp
Labels: library, ui

#4731 Fix string composition of new crate names
  src/library/trackset/crate/cratefeaturehelper.cpp
Labels: library, minor bug

#4732 MacOs warnigs fix
  CMakeLists.txt
  lib/apple/CADebugMacros.h
  lib/apple/CAMath.h
  lib/apple/CAStreamBasicDescription.cpp
  lib/apple/CAStreamBasicDescription.h
  lib/libebur128/CMakeLists.txt
  lib/libshout-idjc/src/shout.c
  lib/portaudio/pa_memorybarrier.h
  lib/portaudio/pa_ringbuffer.c
  lib/portaudio/pa_ringbuffer.h
  src/test/portmidicontroller_test.cpp
  src/test/soundproxy_test.cpp
  src/util/sample.cpp
Labels: build, code quality

#4728 No testdata copy and circular symlink fix
  CMakeLists.txt
  src/preferences/configobject.cpp
  src/preferences/configobject.h
  src/test/autodjprocessor_test.cpp
  src/test/controllerscriptenginelegacy_test.cpp
  src/test/coverartcache_test.cpp
  src/test/coverartutils_test.cpp
  src/test/cuecontrol_test.cpp
  src/test/globaltrackcache_test.cpp
  src/test/hotcuecontrol_test.cpp
  src/test/mixxxtest.cpp
  src/test/mixxxtest.h
  src/test/playermanagertest.cpp
  src/test/replaygaintest.cpp
  src/test/searchqueryparsertest.cpp
  src/test/seratobeatgridtest.cpp
  src/test/seratomarkers2test.cpp
  src/test/seratomarkerstest.cpp
  src/test/seratotagstest.cpp
  src/test/signalpathtest.h
  src/test/soundproxy_test.cpp
  src/test/synctrackmetadatatest.cpp
  src/test/taglibtest.cpp
  src/test/trackexport_test.h
  src/test/trackupdate_test.cpp
  tools/clang_format.py
Labels: ui, build, code quality
