Repository mixxxdj/mixxx, pull requests merged in 2022-10, with the labels that each got.

#10927 Replace obsolete enum datalocation
  src/util/cmdlineargs.cpp
Labels: build

#10931 Analysis: Add support for overriding variable/constant BPM on a per-track basis
  CMakeLists.txt
  src/analyzer/analyzer.h
  src/analyzer/analyzerbeats.cpp
  src/analyzer/analyzerbeats.h
  src/analyzer/analyzerebur128.cpp
  src/analyzer/analyzerebur128.h
  src/analyzer/analyzergain.cpp
  src/analyzer/analyzergain.h
  src/analyzer/analyzerkey.cpp
  src/analyzer/analyzerkey.h
  src/analyzer/analyzerscheduledtrack.cpp
  src/analyzer/analyzerscheduledtrack.h
  src/analyzer/analyzersilence.cpp
  src/analyzer/analyzersilence.h
  src/analyzer/analyzerthread.cpp
  src/analyzer/analyzerthread.h
  src/analyzer/analyzertrack.cpp
  src/analyzer/analyzertrack.h
  src/analyzer/analyzerwaveform.cpp
  src/analyzer/analyzerwaveform.h
  src/analyzer/trackanalysisscheduler.cpp
  src/analyzer/trackanalysisscheduler.h
  src/library/analysisfeature.cpp
  src/library/analysisfeature.h
  src/library/dlganalysis.cpp
  src/library/dlganalysis.h
  src/library/library.h
  src/library/trackset/baseplaylistfeature.cpp
  src/library/trackset/basetracksetfeature.h
  src/library/trackset/crate/cratefeature.cpp
  src/mixer/playermanager.cpp
  src/widget/wtrackmenu.cpp
  src/widget/wtrackmenu.h
Labels: library, ui, build, code quality

#10902 Cover Art Copy Worker
  CMakeLists.txt
  src/library/export/coverartcopyworker.cpp
  src/library/export/coverartcopyworker.h
  src/sources/metadatasourcetaglib.cpp
  src/util/safelywritablefile.cpp
  src/util/safelywritablefile.h
  src/widget/wcoverartmenu.cpp
  src/widget/wcoverartmenu.h
Labels: library, ui, build, changelog

#10950 Update precommit deps for python 3.11
  .pre-commit-config.yaml
Labels: code quality

#10916 Use rate_ratio for track timing display
  src/engine/enginebuffer.cpp
Labels: changelog

#4794 Passthrough: improve UI / UX
  res/skins/LateNight/decks/overview.xml
  res/skins/LateNight/skin.xml
  res/skins/LateNight/style.qss
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
  res/skins/LateNight/waveform.xml
  res/skins/Shade/deck_overview.xml
  res/skins/Shade/skin.xml
  res/skins/Shade/style.qss
  res/skins/Shade/style_dark.qss
  res/skins/Shade/style_summer_sunset.qss
  res/skins/Shade/waveform.xml
  res/skins/default.qss
  src/engine/channels/enginedeck.cpp
  src/engine/channels/enginedeck.h
  src/engine/controls/cuecontrol.cpp
  src/engine/controls/cuecontrol.h
  src/engine/enginebuffer.cpp
  src/waveform/renderers/waveformsignalcolors.cpp
  src/waveform/renderers/waveformsignalcolors.h
  src/waveform/renderers/waveformwidgetrenderer.cpp
  src/waveform/renderers/waveformwidgetrenderer.h
  src/widget/woverview.cpp
  src/widget/wwaveformviewer.cpp
  src/widget/wwaveformviewer.h
Labels: skins, engine, ui

#10930 Fix use of uninitialized memory
  src/waveform/renderers/glwaveformrenderer.h
  src/widget/wraterange.cpp
Labels: ui

#10882 Changelog 2.3 + CI failure fix
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
  tools/update_metainfo.py
Labels: controllers, skins, library, ui, build, needs review, code quality

#10961 Update workflow actions to fix Node.js 12 deprecation warning
  .github/workflows/build.yml
Labels: code quality

#10970 ci(pre-commit): Update hook versions
  .pre-commit-config.yaml
Labels: code quality

#10979 fix horizontal drawing of wvumetergl
  src/widget/wvumetergl.cpp
Labels: ui

#10955 fix(rekordbox): Fix missing playlists due to invalid child ID
  src/library/rekordbox/rekordboxfeature.cpp
Labels: library, changelog, bug, accessibility, rekordbox

#10980 Fix pre-commit issues on main
  CONTRIBUTING.md
  README.md
Labels: code quality

#10973 WSpinny: ensure DlgCoverArtFullSize has a parent on xcb
  src/widget/wspinny.cpp
Labels: regression

#10978 LateNight: fix latency meter (WVuMeterGL)
  res/skins/LateNight/style.qss
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
Labels: skins

#10944 Option to keep deck playing on track load
  src/mixer/playermanager.cpp
  src/mixer/playermanager.h
  src/mixer/samplerbank.cpp
  src/preferences/dialog/dlgprefdeck.cpp
  src/preferences/dialog/dlgprefdeck.h
  src/preferences/dialog/dlgprefdeckdlg.ui
  src/skin/legacy/legacyskinparser.cpp
  src/util/dnd.cpp
  src/widget/wtrackmenu.cpp
  src/widget/wtracktableview.cpp
Labels: ui, changelog

#10984 Fix codespell findings
  .codespellignore
  CHANGELOG.md
  CMakeLists.txt
  res/controllers/Hercules_DJControl_Inpulse_300.midi.xml
  res/controllers/Hercules_DJControl_Jogvision.midi.xml
  res/linux/org.mixxx.Mixxx.metainfo.xml
  res/skins/Deere (64 Samplers)/skin.xml
  res/skins/Deere/skin.xml
  res/skins/LateNight/fx_rack.xml
  res/skins/LateNight/helpers/skin_settings_compact_deck.xml
  res/skins/LateNight/helpers/skin_settings_full_deck.xml
  res/skins/LateNight/helpers/skin_settings_mini_deck.xml
  res/skins/Tango/library.xml
  src/analyzer/analyzergain.cpp
  src/analyzer/plugins/buffering_utils.cpp
  src/audio/types.h
  src/effects/effectsbackend.h
  src/engine/effects/engineeffect.cpp
  src/engine/effects/engineeffectchain.cpp
  src/library/parserm3u.cpp
  src/library/parserpls.cpp
  src/library/rekordbox/rekordboxfeature.cpp
  src/mixxx.cpp
  src/sources/soundsourceflac.cpp
  src/test/autodjprocessor_test.cpp
  src/test/enginesynctest.cpp
  src/track/track.cpp
  src/track/track.h
  src/util/sample.cpp
  src/waveform/visualplayposition.cpp
  src/waveform/waveformwidgetfactory.cpp
  src/widget/wmainmenubar.cpp
  src/widget/wtime.cpp
  src/widget/wtime.h
  src/widget/wtracktableview.cpp
  tools/update_metainfo.py
Labels: controllers, skins, library, ui, build, code quality

#10976 Return a local copy of m_cuePoints to avaoid a race condition
  src/control/control.h
  src/track/track.h
Labels: party stopper

#10960 Some more null checks in WWaveformViewer
  src/track/serato/beatgrid.h
  src/waveform/renderers/waveformwidgetrenderer.cpp
  src/waveform/renderers/waveformwidgetrenderer.h
  src/widget/wwaveformviewer.cpp
Labels: ui, changelog, bug

#10963 improved waveformwidgetabstract class hierarchy
  src/waveform/waveformwidgetfactory.cpp
  src/waveform/widgets/emptywaveformwidget.cpp
  src/waveform/widgets/emptywaveformwidget.h
  src/waveform/widgets/glwaveformwidgetabstract.h
  src/waveform/widgets/hsvwaveformwidget.cpp
  src/waveform/widgets/hsvwaveformwidget.h
  src/waveform/widgets/nonglwaveformwidgetabstract.h
  src/waveform/widgets/qthsvwaveformwidget.cpp
  src/waveform/widgets/qthsvwaveformwidget.h
  src/waveform/widgets/qtrgbwaveformwidget.cpp
  src/waveform/widgets/qtrgbwaveformwidget.h
  src/waveform/widgets/qtsimplewaveformwidget.cpp
  src/waveform/widgets/qtsimplewaveformwidget.h
  src/waveform/widgets/qtvsynctestwidget.cpp
  src/waveform/widgets/qtvsynctestwidget.h
  src/waveform/widgets/qtwaveformwidget.cpp
  src/waveform/widgets/qtwaveformwidget.h
  src/waveform/widgets/rgbwaveformwidget.cpp
  src/waveform/widgets/rgbwaveformwidget.h
  src/waveform/widgets/softwarewaveformwidget.cpp
  src/waveform/widgets/softwarewaveformwidget.h
  src/waveform/widgets/waveformwidgetabstract.cpp
  src/widget/wwaveformviewer.cpp
Labels: ui

#10983 Shade: fix latency usage meter
  res/skins/Shade/audio_latency/audio_latency_usage.png
  res/skins/Shade/mixer_panel.xml
Labels: skins, bug

#4720 Numark Party Mix: added initial mapping
  res/controllers/Numark-Party-Mix.midi.xml
  res/controllers/Numark-Party-Mix.scripts.js
Labels: controllers, library

#10913 Crossfader with autodj
  res/skins/LateNight/mixer/singletons.xml
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
Labels: skins, usability

#10969 History: disallow dropping tracks
  src/library/playlisttablemodel.cpp
Labels: library

#10932 Distortion effect
  CMakeLists.txt
  src/effects/backends/builtin/builtinbackend.cpp
  src/effects/backends/builtin/distortioneffect.cpp
  src/effects/backends/builtin/distortioneffect.h
  src/util/sample.cpp
  src/util/sample.h
  src/widget/weffectpushbutton.cpp
Labels: ui, build

#11017 Master -> Main
  src/preferences/dialog/dlgprefreplaygaindlg.ui
  src/skin/legacy/tooltips.cpp
Labels: ui

#4900 Show time in the timestamp column
  src/library/basesqltablemodel.cpp
  src/library/basetracktablemodel.cpp
  src/library/playlisttablemodel.cpp
  src/library/rekordbox/rekordboxfeature.cpp
  src/library/serato/seratoplaylistmodel.cpp
  src/library/trackmodel.h
Labels: library, needs review, code quality, regression

#11020 Fix sorting regression
  src/library/playlisttablemodel.cpp
Labels: library

#11023 WTrackMenu: sort crates and playlists like in sidebar
  src/library/crate/cratestorage.cpp
  src/library/dao/playlistdao.cpp
  src/library/dao/playlistdao.h
  src/widget/wtrackmenu.cpp
Labels: library, ui, changelog
