Repository mixxxdj/mixxx, pull requests merged in 2022-11, with the labels that each got.

#11014 enable search in Browse & Recording views
  src/library/browse/browsefeature.cpp
  src/library/browse/browsetablemodel.cpp
  src/library/proxytrackmodel.cpp
  src/library/recording/dlgrecording.cpp
  src/library/recording/recordingfeature.cpp
Labels: library, browse, recording, search

#11031 DlgTrackInfo: restore bitrate suffix
  src/audio/types.h
  src/library/dlgtrackinfo.cpp
  src/library/dlgtrackinfo.ui
Labels: library

#11032 Effect parameter: briefly show value in parameter name widget
  src/effects/effectparameterslotbase.cpp
  src/effects/effectparameterslotbase.h
  src/widget/weffectparameternamebase.cpp
  src/widget/weffectparameternamebase.h
Labels: ui

#11030 WSearchLineEdit: push completion to top
  src/widget/wsearchlineedit.cpp
Labels: ui

#11022 WCoverArtLabel: don't open full-size cover if no cover is loaded
  src/widget/wcoverartlabel.cpp
Labels: ui

#10998 Cue positions are stored as doubles, not ints.
  src/library/dao/cuedao.cpp
Labels: library

#11018 Add warning when trying to enable AutoDJ with left & right deck
  src/library/autodj/dlgautodj.cpp
Labels: library, ui, changelog

#11034 Move connection to setEffectParameterSlot() to avoid double connection
  src/widget/weffectparameternamebase.cpp
Labels: ui

#10875 2.3 Musicbrainz fixes
  CMakeLists.txt
  src/library/dlgtagfetcher.cpp
  src/library/dlgtagfetcher.h
  src/library/dlgtrackinfo.cpp
  src/musicbrainz/tagfetcher.cpp
  src/musicbrainz/tagfetcher.h
  src/musicbrainz/web/musicbrainzrecordingstask.cpp
  src/musicbrainz/web/musicbrainzrecordingstask.h
  src/network/webtask.cpp
  src/network/webtask.h
  src/test/mock_networkaccessmanager.cpp
  src/test/mock_networkaccessmanager.h
  src/test/musicbrainzrecordingstasktest.cpp
  src/test/musicbrainzrecordingstasktest.h
Labels: library, build, code quality, bug

#4707 Effect crasher fix
  src/effects/backends/effectprocessor.h
  src/effects/chains/equalizereffectchain.cpp
  src/effects/chains/equalizereffectchain.h
  src/effects/chains/pergroupeffectchain.cpp
  src/effects/chains/pergroupeffectchain.h
  src/effects/chains/quickeffectchain.cpp
  src/effects/chains/quickeffectchain.h
  src/effects/effectchain.cpp
  src/effects/effectslot.cpp
  src/effects/effectslot.h
  src/effects/effectsmanager.cpp
  src/effects/effectsmanager.h
  src/effects/effectsmessenger.cpp
  src/engine/cachingreader/cachingreader.cpp
  src/engine/channelhandle.h
  src/engine/channelmixer.cpp
  src/engine/channels/engineaux.cpp
  src/engine/channels/engineaux.h
  src/engine/channels/enginechannel.cpp
  src/engine/channels/enginechannel.h
  src/engine/channels/enginedeck.cpp
  src/engine/channels/enginedeck.h
  src/engine/channels/enginemicrophone.cpp
  src/engine/channels/enginemicrophone.h
  src/engine/controls/cuecontrol.cpp
  src/engine/effects/engineeffect.cpp
  src/engine/effects/engineeffect.h
  src/engine/effects/engineeffectchain.cpp
  src/engine/effects/engineeffectchain.h
  src/engine/effects/engineeffectsmanager.cpp
  src/engine/effects/engineeffectsmanager.h
  src/engine/effects/message.h
  src/engine/enginebuffer.cpp
  src/engine/enginebuffer.h
  src/engine/enginemaster.cpp
  src/engine/engineobject.h
  src/mixer/playermanager.cpp
  src/test/channelhandle_test.cpp
  src/test/enginemastertest.cpp
  src/widget/weffectpushbutton.cpp
Labels: effects, engine, ui, needs review, code quality, regression, bug

#11047 DlgPrefSound: fix setting keylock engine from combobox
  src/engine/enginebuffer.h
  src/preferences/dialog/dlgprefsound.cpp
Labels: ui

#11050 Fix building with portmidi 2.0.4
  src/test/portmidicontroller_test.cpp
Labels: needs review, code quality

#11052 WVUMeterGL: fix initial rendering of meters invisble after skin load
  src/widget/wvumetergl.cpp
  src/widget/wvumetergl.h
Labels: ui, regression

#11059 don't use deprecated QNetworkReply::error when compiling against Qt 5.15
  src/test/mock_networkaccessmanager.cpp
Labels: code quality

#11063 Make initalization of QList<QUuid> explicit, to fix building with Qt6
  src/test/musicbrainzrecordingstasktest.cpp
Labels: code quality

#11056 feat(controllers): make components.Pot softtakeover configurable
  res/controllers/midi-components-0.0.js
Labels: controllers

#11046 macOS: Download portaudio 19.7.0 for compatinility with Ventura 13.0
  CMakeLists.txt
Labels: build, needs review, crash

#11078 Precommit qmlformat crash fixes
  .pre-commit-config.yaml
  tools/qmlformat.py
Labels: code quality

#4718 Modernize and document common-hid-packet-parser.js
  .eslintrc.json
  res/controllers/common-hid-packet-parser.js
Labels: controllers, needs review, code quality

#11082 CMake: don't lookup keyfinder if KEYFINDER=OFF
  CMakeLists.txt
Labels: build

#11057 fix(controllers): Numark N4 inverted pitch slider
  res/controllers/Numark-N4-scripts.js
Labels: controllers
