Repository mixxxdj/mixxx, pull requests merged in 2023-06, with the labels that each got.

#11607 Fix Windows warnings and enable "Treat all compiler warnings as errors"
  .github/workflows/build.yml
  CMakeLists.txt
  lib/benchmark/src/benchmark.cc
  lib/fidlib/fidlib.c
  lib/libshout-idjc/src/common/net/sock.c
  lib/mp3guessenc-0.27.4/decode.c
  src/encoder/encoderfdkaac.cpp
  src/library/browse/browsefeature.cpp
  src/library/treeitemmodel.cpp
  src/util/threadcputimer.h
Labels: library, build, code quality

#11608 Build with Qt6 and optionally with QML
  CMakeLists.txt
  res/skins/LateNight/skin.xml
  src/control/controlsortfiltermodel.h
  src/engine/enginebuffer.cpp
  src/library/librarycontrol.cpp
  src/main.cpp
  src/mixer/basetrackplayer.cpp
  src/mixxxmainwindow.cpp
  src/preferences/dialog/dlgpreferences.cpp
  src/skin/legacy/legacyskinparser.cpp
  src/waveform/renderers/allshader/waveformrenderbeat.cpp
  src/waveform/renderers/allshader/waveformrendererendoftrack.cpp
  src/waveform/renderers/allshader/waveformrendermark.cpp
  src/waveform/renderers/allshader/waveformrendermarkrange.cpp
  src/waveform/renderers/qtwaveformrendererfilteredsignal.cpp
  src/waveform/renderers/qtwaveformrenderersimplesignal.cpp
  src/waveform/renderers/waveformmarkrange.cpp
  src/waveform/renderers/waveformrendererhsv.cpp
  src/waveform/renderers/waveformrendermark.cpp
  src/waveform/renderers/waveformsignalcolors.cpp
  src/waveform/renderers/waveformwidgetrenderer.cpp
  src/waveform/visualplayposition.cpp
  src/waveform/visualplayposition.h
  src/waveform/widgets/glwaveformwidget.cpp
  src/waveform/widgets/qthsvwaveformwidget.cpp
  src/waveform/widgets/qtrgbwaveformwidget.cpp
  src/waveform/widgets/qtvsynctestwidget.cpp
  src/waveform/widgets/qtwaveformwidget.cpp
  src/widget/openglwindow.cpp
  src/widget/woverview.cpp
  src/widget/woverviewhsv.cpp
  src/widget/wspinnybase.cpp
Labels: skins, library, ui, build

#11619 Improve class definition layout of new classes
  src/waveform/renderers/allshader/waveformrendermark.cpp
  src/waveform/renderers/allshader/waveformrendermark.h
  src/widget/openglwindow.cpp
  src/widget/openglwindow.h
  src/widget/tooltipqopengl.cpp
  src/widget/tooltipqopengl.h
  src/widget/wglwidgetqglwidget.h
  src/widget/wglwidgetqopengl.cpp
  src/widget/wglwidgetqopengl.h
  src/widget/winitialglwidget.cpp
  src/widget/winitialglwidget.h
  src/widget/wspinny.cpp
  src/widget/wspinnybase.cpp
  src/widget/wspinnybase.h
  src/widget/wvumeter.cpp
  src/widget/wvumeterglsl.cpp
  src/widget/wvumeterglsl.h
  src/widget/wvumeterlegacy.cpp
  src/widget/wvumeterlegacy.h
Labels: ui

#11622 common controller scripts es7 silence
  .eslintrc.json
  res/controllers/common-controller-scripts.js
Labels: controllers, code quality

#11284 Kontrol S4 Mk3: add controller mapping
  res/controllers/Traktor Kontrol S4 MK3.hid.xml
  res/controllers/Traktor-Kontrol-S4-MK3.js
  res/controllers/common-controller-scripts.js
  src/test/controller_mapping_validation_test.cpp
  src/test/controller_mapping_validation_test.h
Labels: controllers, build, code quality

#11474 Relax strictness of `ControllerScriptInterfaceLegacy` methods.
  src/controllers/scripting/controllerscriptenginebase.cpp
  src/controllers/scripting/controllerscriptenginebase.h
  src/controllers/scripting/legacy/controllerscriptinterfacelegacy.cpp
  src/controllers/scripting/legacy/controllerscriptinterfacelegacy.h
  src/util/cmdlineargs.cpp
  src/util/cmdlineargs.h
Labels: major bug, controllers, regression, control objects

#11591 History: restore menu action "Remove from playlist"
  src/library/playlisttablemodel.cpp
Labels: library

#11574 Lib sidebar: right click selection fixes
  src/library/autodj/autodjprocessor.cpp
  src/library/banshee/bansheefeature.cpp
  src/library/banshee/bansheeplaylistmodel.cpp
  src/library/banshee/bansheeplaylistmodel.h
  src/library/playlisttablemodel.cpp
  src/library/playlisttablemodel.h
  src/library/trackset/baseplaylistfeature.cpp
  src/library/trackset/playlistfeature.cpp
  src/library/trackset/setlogfeature.cpp
  src/library/trackset/setlogfeature.h
  src/track/track.cpp
  src/track/track.h
Labels: library

#11572 Create option for control objects to be issued repeatedly if a keyboard key is held.
  src/control/control.cpp
  src/control/control.h
  src/control/controlobject.h
  src/control/controlpotmeter.cpp
  src/controllers/keyboard/keyboardeventfilter.cpp
  src/controllers/keyboard/keyboardeventfilter.h
  src/engine/controls/bpmcontrol.cpp
  src/engine/controls/loopingcontrol.cpp
  src/engine/controls/ratecontrol.cpp
Labels: keyboard, control objects

#11146 Report versions of found library during cmake configure.
  CMakeLists.txt
  cmake/modules/FindChromaprint.cmake
  cmake/modules/FindEbur128.cmake
  cmake/modules/FindFLAC.cmake
  cmake/modules/FindID3Tag.cmake
  cmake/modules/FindKeyFinder.cmake
  cmake/modules/FindLibUSB.cmake
  cmake/modules/FindMAD.cmake
  cmake/modules/FindMP4.cmake
  cmake/modules/FindMP4v2.cmake
  cmake/modules/FindModplug.cmake
  cmake/modules/FindOgg.cmake
  cmake/modules/FindPortMidi.cmake
  cmake/modules/FindShoutidjc.cmake
  cmake/modules/FindSndFile.cmake
  cmake/modules/FindSoundTouch.cmake
  cmake/modules/FindUpower.cmake
  cmake/modules/Findlilv.cmake
  cmake/modules/Findrubberband.cmake
  cmake/modules/Findwavpack.cmake
Labels: build, needs review

#11152 Scalers: Replace the unneded flushing code with silence passing
  src/engine/bufferscalers/enginebufferscalelinear.cpp
  src/engine/bufferscalers/enginebufferscalerubberband.cpp
  src/engine/bufferscalers/enginebufferscalerubberband.h
  src/engine/bufferscalers/enginebufferscalest.cpp
  src/engine/readaheadmanager.cpp
Labels: engine, code quality, looping

#11635 Improve cmake first time error reporting
  CMakeLists.txt
  tools/macos_buildenv.sh
  tools/windows_buildenv.bat
Labels: library, build

#11637 Change default BULK to OFF on windows
  CMakeLists.txt
Labels: build

#11634 library: right align BPM, duration & bitrate values
  src/library/basetracktablemodel.cpp
  src/library/basetracktablemodel.h
  src/library/library_prefs.cpp
  src/library/library_prefs.h
  src/preferences/dialog/dlgpreflibrary.cpp
  src/preferences/dialog/dlgpreflibrary.h
  src/preferences/dialog/dlgpreflibrarydlg.ui
  src/skin/legacy/legacyskinparser.cpp
Labels: library, ui, preferences, usability

#11629 Fix sharp cut transition after cueing a track without a defined intro
  src/library/autodj/autodjprocessor.cpp
Labels: library

#11661 Import from Rhythmbox playlist fix
  src/library/banshee/bansheefeature.h
  src/library/baseexternallibraryfeature.cpp
  src/library/baseexternallibraryfeature.h
  src/library/browse/browsefeature.h
  src/library/rhythmbox/rhythmboxfeature.cpp
  src/library/rhythmbox/rhythmboxfeature.h
Labels: library, regression

#11147 Report versions of found library during cmake configure (main)
  cmake/modules/FindJACK.cmake
  cmake/modules/FindOpus.cmake
  cmake/modules/FindOpusFile.cmake
  cmake/modules/FindPortAudio.cmake
  cmake/modules/FindTagLib.cmake
Labels: build, needs review

#11329 Glitch stutter built-in effect
  CMakeLists.txt
  src/effects/backends/builtin/builtinbackend.cpp
  src/effects/backends/builtin/glitcheffect.cpp
  src/effects/backends/builtin/glitcheffect.h
Labels: build

#11662 controller_mapping_validation_test: Support all 2.4 controller mapping API functions
  src/test/controller_mapping_validation_test.cpp
  src/test/controller_mapping_validation_test.h
Labels: code quality

#11659 Correct sysex message to get control settings at startup
  res/controllers/Numark_DJ2GO2_Touch.midi.xml
  res/controllers/Numark_DJ2GO2_Touch_scripts.js
Labels: controllers

#11664 hid-controller-api.d.ts: Adapted the description from hidcontroller.h for parameter useNonSkippingFIFO
  res/controllers/hid-controller-api.d.ts
Labels: controllers

#11670 add settings directory link to Help menu
  src/widget/wmainmenubar.cpp
Labels: ui

#11668 Export CSV: fixing null values in export
  src/library/basetracktablemodel.cpp
Labels: library, regression

#11647 fix macOS slider styling in preferences dialog
  CMakeLists.txt
  src/preferences/dialog/dlgpreferences.cpp
  src/preferences/dialog/dlgpreferences.h
  src/preferences/dialog/dlgprefwaveformdlg.ui
  src/util/darkappearance.h
  src/util/darkappearance.mm
Labels: ui, build, preferences, macos

#11679 fix the preferences menu and opening the settings directory on macOS
  src/widget/wmainmenubar.cpp
  src/widget/wmainmenubar.h
Labels: ui

#11681 Use set interval setting to fix performance degration for AMD graphics adapters
  src/widget/openglwindow.cpp
Labels: ui

#11684 Fix clang-tidy warnings for generated code
  CMakeLists.txt
  src/library/rekordbox/kaitaistructs/.clang-tidy
  src/library/rekordbox/kaitaistructs/rekordbox_anlz.cpp
  src/library/rekordbox/kaitaistructs/rekordbox_anlz.h
  src/library/rekordbox/kaitaistructs/rekordbox_anlz.ksy
  src/library/rekordbox/kaitaistructs/rekordbox_pdb.cpp
  src/library/rekordbox/kaitaistructs/rekordbox_pdb.h
  src/library/rekordbox/kaitaistructs/rekordbox_pdb.ksy
  src/library/rekordbox/rekordboxfeature.cpp
Labels: library, build

#11685 Build check fixes
  src/controllers/dlgprefcontroller.cpp
  src/effects/backends/lv2/lv2manifest.cpp
  src/effects/presets/effectchainpresetmanager.cpp
  src/engine/controls/cuecontrol.cpp
  src/library/dlgtrackinfo.cpp
  src/library/searchquery.cpp
  src/mixxxmainwindow.cpp
  src/preferences/dialog/dlgprefeffects.cpp
  src/track/beats.cpp
  src/track/taglib/trackmetadata_file.cpp
  src/util/dnd.cpp
  src/vinylcontrol/vinylcontrolprocessor.cpp
  src/waveform/widgets/allshader/waveformwidget.cpp
  src/widget/weffectchainpresetselector.cpp
  src/widget/wlibrarytableview.cpp
  src/widget/wmainmenubar.cpp
Labels: library, ui

#11663 Preferences: use helper for input widget scroll safeguard
  src/preferences/dialog/dlgprefautodj.cpp
  src/preferences/dialog/dlgprefbeats.cpp
  src/preferences/dialog/dlgprefbroadcast.cpp
  src/preferences/dialog/dlgprefcolors.cpp
  src/preferences/dialog/dlgprefcolors.h
  src/preferences/dialog/dlgpreferencepage.cpp
  src/preferences/dialog/dlgpreferencepage.h
  src/preferences/dialog/dlgprefinterface.cpp
  src/preferences/dialog/dlgprefkey.cpp
  src/preferences/dialog/dlgpreflibrary.cpp
  src/preferences/dialog/dlgpreflibrary.h
  src/preferences/dialog/dlgprefmixer.cpp
  src/preferences/dialog/dlgprefmixer.h
  src/preferences/dialog/dlgprefmodplug.cpp
  src/preferences/dialog/dlgprefrecord.cpp
  src/preferences/dialog/dlgprefreplaygain.cpp
  src/preferences/dialog/dlgprefsound.cpp
  src/preferences/dialog/dlgprefsound.h
  src/preferences/dialog/dlgprefsounditem.cpp
  src/preferences/dialog/dlgprefsounditem.h
  src/preferences/dialog/dlgprefvinyl.cpp
  src/preferences/dialog/dlgprefvinyl.h
  src/preferences/dialog/dlgprefvinyldlg.ui
  src/preferences/dialog/dlgprefwaveform.cpp
Labels: ui, preferences, bug, usability
