Repository mixxxdj/mixxx, pull requests merged in 2023-07, with the labels that each got.

#11565 WStarRating: don't update track directly, use signals/slots
  src/library/dlgtrackinfo.cpp
  src/library/starrating.h
  src/mixer/basetrackplayer.cpp
  src/mixer/basetrackplayer.h
  src/skin/legacy/legacyskinparser.cpp
  src/test/autodjprocessor_test.cpp
  src/track/track.cpp
  src/track/track.h
  src/widget/wstarrating.cpp
  src/widget/wstarrating.h
Labels: library, ui, code quality, regression

#11532 repeat: after last track sample, fill buffer with samples from track start
  src/engine/controls/loopingcontrol.cpp
  src/engine/controls/loopingcontrol.h
  src/engine/enginebuffer.cpp
  src/engine/enginebuffer.h
  src/engine/readaheadmanager.cpp
  src/test/readaheadmanager_test.cpp
Labels: code quality, looping

#11696 on macos, set preferences dialog title to the selected page title
  src/controllers/dlgprefcontrollers.cpp
  src/preferences/dialog/dlgpreferences.cpp
  src/preferences/dialog/dlgpreferences.h
Labels: ui

#11699 macOs: Fail early if the Xcode command line tools are not installed.
  CMakeLists.txt
Labels: build

#11714 Always build djinterop from source and static link
  CMakeLists.txt
Labels: build

#11716 libkeyfinder: Fix offline build
  CMakeLists.txt
Labels: build

#11722 replace qstylepainter with qpainter in vumeterlegacy, use by default
  src/util/cmdlineargs.cpp
  src/widget/wvumeterlegacy.cpp
  src/widget/wvumeterlegacy.h
Labels: ui

#11730 Update lxml to 4.9.3
  .pre-commit-config.yaml
Labels: code quality

#11712 Library sidebar: focus selected item for all keypress events
  src/widget/wlibrarysidebar.cpp
Labels: library, ui, regression

#11735 Looping: fix asserts for loop move
  src/engine/controls/loopingcontrol.cpp
Labels: looping

#11246 eject: double click does 'un-replace', i.e. reloads the previous track
  src/controllers/controlpickermenu.cpp
  src/controllers/dlgcontrollerlearning.cpp
  src/mixer/basetrackplayer.cpp
  src/mixer/basetrackplayer.h
  src/mixer/playermanager.cpp
  src/mixer/playermanager.h
  src/skin/legacy/tooltips.cpp
  src/test/enginesynctest.cpp
  src/test/playermanagertest.cpp
Labels: code quality, changelog, feature

#11729 DjInterop: Fix Beta PPA and use VCPG static build
  CMakeLists.txt
  cmake/modules/FindDjInterop.cmake
Labels: build

#11720 Update to libdjinterop 0.19
  CMakeLists.txt
  src/library/export/dlglibraryexport.cpp
  src/library/export/engineprimeexportjob.cpp
  src/library/export/engineprimeexportrequest.h
Labels: library, build

#11743 VinylSignalQuality in WSpinnyGLSL
  CMakeLists.txt
  src/shaders/vinylqualityshader.cpp
  src/shaders/vinylqualityshader.h
  src/widget/wspinny.cpp
  src/widget/wspinny.h
  src/widget/wspinnybase.cpp
  src/widget/wspinnybase.h
  src/widget/wspinnyglsl.cpp
  src/widget/wspinnyglsl.h
Labels: ui, build, regression, waveform, vinylcontrol

#11199 Traktor Kontrol S3 script improvements, vanilla-like FX behavior, control initialization, better scratching, and more
  res/controllers/Traktor-Kontrol-S3-hid-scripts.js
Labels: controllers

#11744 Fix crash disabling quantize
  src/waveform/renderers/waveformmark.h
  src/widget/woverview.cpp
  src/widget/woverview.h
Labels: ui

#11705 Effects: re-add empty chain preset when resetting to defaults
  src/effects/presets/effectchainpresetmanager.cpp
Labels: effects, regression

#11756 Pref Controller: avoid scrollbars in I/O tabs if Info tab exceeds page height
  src/controllers/dlgprefcontrollerdlg.ui
Labels: ui, preferences, usability

#11764 WTrackProperty: double-clicked property field is focused in DlgTrackInfo
  src/library/dlgtrackinfo.cpp
  src/library/dlgtrackinfo.h
  src/widget/wtrackmenu.cpp
  src/widget/wtrackmenu.h
  src/widget/wtrackproperty.cpp
Labels: library, ui, usability, gui

#11767 Refocus library
  src/library/autodj/dlgautodj.cpp
  src/library/librarycontrol.cpp
  src/library/librarycontrol.h
  src/widget/wbeatspinbox.cpp
  src/widget/weffectchainpresetselector.cpp
  src/widget/weffectselector.cpp
Labels: library, ui
