Repository mixxxdj/mixxx, pull requests merged in 2023-10, with the labels that each got.

#11988 Alex/reduce sample buffer memory usage
  src/effects/backends/builtin/balanceeffect.cpp
  src/effects/backends/builtin/linkwitzriley8eqeffect.cpp
  src/effects/backends/builtin/pitchshifteffect.cpp
  src/effects/backends/builtin/pitchshifteffect.h
  src/effects/backends/lv2/lv2effectprocessor.cpp
  src/engine/bufferscalers/enginebufferscalerubberband.cpp
  src/engine/cachingreader/cachingreaderchunk.cpp
  src/engine/cachingreader/cachingreaderchunk.h
  src/engine/channelmixer.cpp
  src/engine/effects/engineeffect.cpp
  src/engine/effects/engineeffectchain.cpp
  src/engine/effects/engineeffectsmanager.cpp
  src/engine/engine.h
  src/engine/enginebuffer.cpp
  src/engine/enginedelay.cpp
  src/engine/enginedelay.h
  src/engine/enginemixer.cpp
  src/engine/enginemixer.h
  src/soundio/sounddevice.cpp
  src/soundio/soundmanager.cpp
  src/test/analyserwaveformtest.cpp
  src/test/enginemicrophonetest.cpp
  src/test/enginemixertest.cpp
  src/test/reference_buffers/SingleChannelOutputWorks-main
  src/test/reference_buffers/SingleChannelPFLOutputWorks-headphone
  src/test/reference_buffers/ThreeChannelOutputWorks-main
  src/test/reference_buffers/ThreeChannelPFLOutputWorks-headphone
  src/test/reference_buffers/ThreeChannelPFLOutputWorks-main
  src/test/reference_buffers/TwoChannelOutputWorks-main
  src/test/reference_buffers/TwoChannelPFLOutputWorks-headphone
  src/test/reference_buffers/TwoChannelPFLOutputWorks-main
  src/util/defs.h
  src/util/sample.h
  src/util/samplebuffer.h
Labels: code quality

#12054 2.4 checks fix
  src/engine/enginedelay.cpp
  src/engine/enginedelay.h
  src/engine/enginemixer.cpp
  src/library/librarycontrol.cpp
  src/musicbrainz/web/coverartarchiveimagetask.cpp
  src/musicbrainz/web/coverartarchivelinkstask.cpp
  src/skin/skincontrols.cpp
  src/vinylcontrol/vinylcontrolmanager.cpp
  src/waveform/renderers/waveformrenderersignalbase.cpp
  src/widget/hexspinbox.cpp
  src/widget/wbeatspinbox.cpp
  src/widget/wglwidgetqopengl.cpp
  src/widget/wtrackmenu.cpp
Labels: library, ui, regression

#12051 WKey: Fix regression in key notation change
  src/widget/wkey.cpp
Labels: ui, regression

#12056 fix(cmake): Also link `Qt6::Quick` and `Qt6::QuickControls2` for QML
  CMakeLists.txt
Labels: build, cmake

#11601 Shade: Audio Latency meter fix
  res/skins/Shade/audio_latency/audio_latency_usage_back.png
  res/skins/Shade/mixer_panel.xml
  src/util/texture.cpp
  src/widget/wvumeterbase.cpp
  src/widget/wvumeterglsl.cpp
Labels: skins, ui

#12061 SearchQueryParser: Add "OR" search operator
  src/library/searchquery.cpp
  src/library/searchqueryparser.cpp
  src/library/searchqueryparser.h
  src/test/searchqueryparsertest.cpp
Labels: library, code quality

#11831 After disabling Explicit leader, request always follower mode
  src/engine/sync/enginesync.cpp
  src/engine/sync/enginesync.h
  src/test/enginesynctest.cpp
Labels: code quality

#12066 Fix library focus RTE
  src/widget/wlibrarytableview.cpp
Labels: ui

#12079 Fix building with precompiled headers
  CMakeLists.txt
Labels: build

#12082 improve debug/info output of BaseSqlTableModel::select()
  src/library/basesqltablemodel.cpp
Labels: library

#12063 Track search: use := and quotes to find exact matches
  src/library/searchquery.cpp
  src/library/searchquery.h
  src/library/searchqueryparser.cpp
  src/library/searchqueryparser.h
  src/test/searchqueryparsertest.cpp
Labels: library, code quality

#12095 ci(packaging): Fail notarization if server returns "invalid" status
  packaging/macos/sign_notarize_staple.sh
Labels: packaging/installer

#12101 macOS packaging: Enable app sandbox in ad-hoc-packaged (i.e. non-notarized) bundles too
  cmake/modules/BundleInstall.cmake.in
Labels: build, macos, packaging

#12118 Use cpack_add_component to hide applocal
  CMakeLists.txt
Labels: build

#12116 MixxxMainWindow: Set window file path to the playing track
  src/mixxxmainwindow.cpp
Labels: polish

#11886 fix deletion of effect chain presets created in current session
  src/effects/presets/effectchainpreset.cpp
  src/effects/presets/effectchainpresetmanager.cpp
  src/effects/presets/effectchainpresetmanager.h
  src/preferences/dialog/dlgprefeffects.cpp
  src/preferences/dialog/dlgprefeffects.h
  src/widget/weffectchainpresetbutton.cpp
Labels: effects, ui, preferences, gui

#11527 Pref > Mixer: apply & save settings only in slotApply(), fix bugs, improve UX
  src/effects/backends/builtin/bessel4lvmixeqeffect.cpp
  src/effects/backends/builtin/bessel4lvmixeqeffect.h
  src/effects/backends/builtin/bessel8lvmixeqeffect.cpp
  src/effects/backends/builtin/bessel8lvmixeqeffect.h
  src/effects/backends/builtin/biquadfullkilleqeffect.cpp
  src/effects/backends/builtin/biquadfullkilleqeffect.h
  src/effects/backends/builtin/equalizer_util.h
  src/effects/backends/builtin/linkwitzriley8eqeffect.cpp
  src/effects/backends/builtin/linkwitzriley8eqeffect.h
  src/effects/backends/builtin/threebandbiquadeqeffect.cpp
  src/effects/backends/builtin/threebandbiquadeqeffect.h
  src/effects/defs.h
  src/effects/effectsmanager.cpp
  src/effects/effectsmanager.h
  src/preferences/dialog/dlgprefmixer.cpp
  src/preferences/dialog/dlgprefmixer.h
  src/preferences/dialog/dlgprefmixerdlg.ui
  src/test/nativeeffects_test.cpp
Labels: ui, code quality, preferences

#12091 Update manifest even if one job fails
  .github/workflows/build.yml
  tools/deploy.py
Labels: packaging/installer

#12102 Add [Main] to the list of valid groups for HID.
  res/controllers/common-hid-packet-parser.js
Labels: controllers

#12197 Download Manual debug
  .github/workflows/build.yml
  CMakeLists.txt
Labels: build, regression, cmake

#12201 Introduce wrapper for non const iterators for erase and insert
  src/preferences/dialog/dlgprefmixer.cpp
  src/util/make_const_iterator.h
Labels: ui, preferences

#12212 WTrackMenu: create only on demand for deck widgets
  src/widget/wtrackproperty.cpp
  src/widget/wtrackproperty.h
  src/widget/wtracktext.cpp
  src/widget/wtracktext.h
  src/widget/wtrackwidgetgroup.cpp
  src/widget/wtrackwidgetgroup.h
Labels: ui, gui

#12224 (fix) Looping: reset loop_end_pos on eject
  src/engine/controls/loopingcontrol.cpp
  src/test/looping_control_test.cpp
Labels: code quality

#12099 macOS packaging: Fix running macOS bundle from development build directory
  src/preferences/configobject.cpp
Labels: ui, preferences, macos

#12230 Remove redundant by-copy capture default
  src/controllers/dlgprefcontrollers.cpp
  src/engine/controls/loopingcontrol.cpp
Labels: engine

#12234 Deere: add 'Sync Leader' button
  res/skins/Deere/deck_tempo_column.xml
  res/skins/Deere/icon/ic_sync_leader_off.svg
  res/skins/Deere/icon/ic_sync_leader_off_plain.svg
  res/skins/Deere/icon/ic_sync_leader_on.svg
  res/skins/Deere/style.qss
Labels: skins
