Repository mixxxdj/mixxx, pull requests merged in 2023-03, with the labels that each got.

#11309 Added missing expectations for EnginMasterTests
  src/test/enginemastertest.cpp
Labels: code quality

#11333 Fix "Painter not active" warning after reloading a track.
  src/widget/woverviewhsv.cpp
  src/widget/woverviewlmh.cpp
  src/widget/woverviewrgb.cpp
Labels: ui

#11338 Pref waveforms: small improvements
  src/preferences/dialog/dlgprefwaveformdlg.ui
Labels: ui, preferences

#11357 Tracks table: remove parenthesis from play counter display
  src/library/basetracktablemodel.cpp
Labels: library

#4651 Only setup controller devices after UI has loaded to prevent control object dependency loop
  src/coreservices.cpp
  src/main.cpp
  src/qml/qmlapplication.cpp
Labels: needs review

#11379 Update launchpad links in js
  res/controllers/Electrix-Tweaker-scripts.js
  res/controllers/Reloop-Beatmix-2-4-scripts.js
Labels: controllers

#11366 Audio Buffer Jack: Auto/2048/4096
  src/preferences/dialog/dlgprefsound.cpp
  src/soundio/sounddevicenetwork.cpp
  src/soundio/sounddeviceportaudio.cpp
  src/soundio/soundmanagerconfig.cpp
  src/soundio/soundmanagerconfig.h
Labels: ui, bug

#11387 Tooltip Text changed from Interface to Decks
  src/skin/legacy/tooltips.cpp
Labels: ui, bug

#11359 Fix waveform overview lenght.
  src/widget/woverview.cpp
  src/widget/woverview.h
  src/widget/woverviewhsv.cpp
  src/widget/woverviewlmh.cpp
  src/widget/woverviewrgb.cpp
Labels: ui, bug

#11388 Disable qml-formatter until #11386 is fixed
  .pre-commit-config.yaml
Labels: code quality

#10912 Pioneer DDJ-400: make Beat FX section more intuitive
  res/controllers/Pioneer-DDJ-400-script.js
  res/controllers/Pioneer-DDJ-400.midi.xml
Labels: controllers, changelog

#11248 Unified range checking behavior for BeatJumpSize and BeatLoopSize between GUI-Widget and controller CO
  src/engine/controls/loopingcontrol.cpp
  src/engine/controls/loopingcontrol.h
  src/test/looping_control_test.cpp
  src/widget/wbeatspinbox.cpp
Labels: ui, needs review, code quality

#11397 LateNight: brighter fx parameter buttons
  res/skins/LateNight/style_palemoon.qss
Labels: skins

#11324 Excluding ELAN touch screen
  src/controllers/hid/hiddenylist.h
  src/controllers/hid/hidenumerator.cpp
Labels: hid

#11413 Manage lifetime of m_pStyle using a std::unique_ptr
  src/dialog/dlgreplacecuecolor.cpp
  src/dialog/dlgreplacecuecolor.h
Labels: ui

#11414 Revert "Disable qml-formatter unit #11386 is fixed"
  .pre-commit-config.yaml
Labels: code quality

#10837 Effects manifest defaults
  src/effects/presets/effectpreset.cpp
  src/effects/presets/effectpreset.h
  src/effects/presets/effectpresetmanager.cpp
Labels: needs review

#11168 Fixes mp3 lenght when no ID3v1 tag is added
  src/sources/soundsourcemp3.cpp
  src/sources/soundsourcemp3.h
Labels: needs review

#11420 debug: omit 'QFileInfo()' when printing track file locations
  src/analyzer/analyzerthread.cpp
  src/library/autodj/autodjfeature.cpp
  src/library/basetrackcache.cpp
  src/library/dao/trackdao.cpp
  src/musicbrainz/chromaprinter.cpp
  src/sources/soundsourceproxy.cpp
Labels: library

#11421 Fix track selection if no track selected
  src/library/library.cpp
  src/widget/wlibrary.cpp
  src/widget/wtracktableview.cpp
Labels: library, ui

#11423 fix(qml): Fix type error in `Slider.qml`
  res/qml/Slider.qml
Labels: bug
