Repository mixxxdj/mixxx, pull requests merged in 2023-01, with the labels that each got.

#11171 Track menu: fix Remove hotkey
  src/widget/wtrackmenu.cpp
Labels: library, ui

#11169 Happy New Year 2023!
  COPYING
  LICENSE
  cmake/modules/FindChromaprint.cmake
  cmake/modules/FindDjInterop.cmake
  cmake/modules/FindEbur128.cmake
  cmake/modules/FindFFTW.cmake
  cmake/modules/FindFLAC.cmake
  cmake/modules/FindG72X.cmake
  cmake/modules/FindGPerfTools.cmake
  cmake/modules/FindHSS1394.cmake
  cmake/modules/FindID3Tag.cmake
  cmake/modules/FindKeyFinder.cmake
  cmake/modules/FindLibUSB.cmake
  cmake/modules/FindMAD.cmake
  cmake/modules/FindMP4.cmake
  cmake/modules/FindMP4v2.cmake
  cmake/modules/FindModplug.cmake
  cmake/modules/FindOgg.cmake
  cmake/modules/FindOpus.cmake
  cmake/modules/FindOpusFile.cmake
  cmake/modules/FindPortAudio.cmake
  cmake/modules/FindPortMidi.cmake
  cmake/modules/FindShoutidjc.cmake
  cmake/modules/FindSndFile.cmake
  cmake/modules/FindSoundTouch.cmake
  cmake/modules/FindTagLib.cmake
  cmake/modules/FindUpower.cmake
  cmake/modules/FindVorbis.cmake
  cmake/modules/Findhidapi.cmake
  cmake/modules/Findlilv.cmake
  cmake/modules/Findmp3lame.cmake
  cmake/modules/Findrubberband.cmake
  cmake/modules/Findwavpack.cmake
  packaging/debian/copyright
  packaging/wix/LICENSE.rtf
Labels: build

#11176 Replay Gain Preferences: Fix the "adjust by" text in case of negative adjustments
  src/preferences/dialog/dlgprefreplaygain.cpp
Labels: ui, changelog, bug

#11181 Fix Qt 6.4 deprecated declarations
  src/library/browse/browsefeature.cpp
  src/skin/legacy/legacyskin.cpp
  src/util/imageutils.cpp
  src/widget/wtracktableview.cpp
Labels: library, ui

#11172 Library sidebar: add F2 and Del/Backspace shortcuts for renaming & deleting playlists and crates
  src/library/library.cpp
  src/library/libraryfeature.h
  src/library/sidebarmodel.cpp
  src/library/sidebarmodel.h
  src/library/trackset/baseplaylistfeature.cpp
  src/library/trackset/baseplaylistfeature.h
  src/library/trackset/crate/cratefeature.cpp
  src/library/trackset/crate/cratefeature.h
  src/util/defs.h
  src/widget/wlibrarysidebar.cpp
  src/widget/wlibrarysidebar.h
Labels: library, ui

#11074 Update to latest vcpkg environment
  packaging/macos/build_environment
  packaging/windows/build_environment
Labels: needs review

#11145 Preferences: always enable Alt shortcut keys
  src/preferences/dialog/dlgpreferences.cpp
Labels: ui, preferences, usability, keyboard

#11139 Controller mapping table: show readable/translated strings for script bindings
  src/controllers/controllerinputmappingtablemodel.cpp
  src/controllers/controllerinputmappingtablemodel.h
  src/controllers/controllermappingtablemodel.cpp
  src/controllers/controllermappingtablemodel.h
  src/controllers/controlleroutputmappingtablemodel.cpp
  src/controllers/controlleroutputmappingtablemodel.h
  src/controllers/controlpickermenu.cpp
  src/controllers/controlpickermenu.h
  src/controllers/delegates/controldelegate.cpp
  src/controllers/delegates/controldelegate.h
  src/controllers/dlgcontrollerlearning.cpp
  src/controllers/dlgcontrollerlearning.h
  src/controllers/dlgprefcontroller.cpp
  src/controllers/dlgprefcontroller.h
Labels: controllers, skins, ui, preferences

#11136 WMainMenuBar: Add shortcut for rescanning library
  src/widget/wmainmenubar.cpp
Labels: ui

#11130 Tracks table: fix initial track selection with BackTab
  src/widget/wlibrarytableview.cpp
Labels: library, regression, bug

#11099 Verify the CMAKE_PREFIX_PATH set by the vcpkg.cmake toolchain file
  CMakeLists.txt
Labels: build, needs review

#11185 Skin: fix QuickEffect toggles that were using _Effect1, clean up Tango
  res/skins/Deere/quick_effect_superknob_left.xml
  res/skins/Deere/quick_effect_superknob_right.xml
  res/skins/Tango/mixer/eq_knob_left.xml
  res/skins/Tango/mixer/eq_knob_right.xml
  res/skins/Tango/mixer/quick_fx_knob_left.xml
  res/skins/Tango/mixer/quick_fx_knob_right.xml
Labels: skins

#10859 Effects: allow clearing chains with empty '---' preset
  src/effects/effectchain.cpp
  src/effects/effectsmanager.cpp
  src/effects/effectsmanager.h
  src/effects/presets/effectchainpreset.cpp
  src/effects/presets/effectchainpreset.h
  src/effects/presets/effectchainpresetmanager.cpp
  src/preferences/dialog/dlgprefeffects.cpp
  src/preferences/dialog/dlgprefeq.cpp
  src/widget/weffectchainpresetbutton.cpp
  src/widget/weffectchainpresetselector.cpp
Labels: skins, effects, ui

#11183 Skins: move skin control hack to c++ (spinny/cover controls, mic/ducking controls)
  res/skins/LateNight/decks/deck_compact.xml
  res/skins/LateNight/decks/deck_full.xml
  res/skins/LateNight/decks/deck_mini.xml
  res/skins/LateNight/decks/row_4_overviewSpinny.xml
  res/skins/LateNight/decks/row_4_overviewSpinny_compact.xml
  res/skins/LateNight/helpers/skin_helper_mic_ducking.xml
  res/skins/LateNight/helpers/skin_helper_spinny-cover.xml
  res/skins/LateNight/helpers/skin_settings_compact_deck.xml
  res/skins/LateNight/helpers/skin_settings_full_deck.xml
  res/skins/LateNight/mic_aux/ducking_controls.xml
  res/skins/LateNight/skin.xml
  src/coreservices.cpp
  src/preferences/dialog/dlgpreferences.cpp
  src/skin/skinloader.cpp
  src/skin/skinloader.h
Labels: skins, ui

#11062 Effect parameter label: set hand cursor to make dragability more discoverable
  src/widget/weffectparameternamebase.cpp
Labels: effects, ui, gui

#11041 show effect parameter units in parameter name label
  CMakeLists.txt
  cmake/modules/Findlilv.cmake
  src/effects/backends/builtin/balanceeffect.cpp
  src/effects/backends/builtin/flangereffect.cpp
  src/effects/backends/builtin/parametriceqeffect.cpp
  src/effects/backends/effectmanifestparameter.h
  src/effects/backends/lv2/lv2backend.cpp
  src/effects/backends/lv2/lv2manifest.cpp
  src/effects/backends/lv2/lv2manifest.h
  src/widget/weffectparameternamebase.cpp
  src/widget/weffectparameternamebase.h
  tools/debian_buildenv.sh
Labels: ui, build

#11165 Controller preferences: add searchbars to mapping tables
  src/controllers/controllerinputmappingtablemodel.cpp
  src/controllers/controllerinputmappingtablemodel.h
  src/controllers/controllermappingtablemodel.cpp
  src/controllers/controllermappingtablemodel.h
  src/controllers/controlleroutputmappingtablemodel.cpp
  src/controllers/controlleroutputmappingtablemodel.h
  src/controllers/dlgprefcontroller.cpp
  src/controllers/dlgprefcontroller.h
  src/controllers/dlgprefcontrollerdlg.ui
  src/dialog/dlgdevelopertools.cpp
Labels: controllers, ui, preferences

#11067 libshout-idjc: fix missing function declaration
  lib/libshout-idjc/src/common/httpp/encoding.c
  lib/libshout-idjc/src/common/httpp/httpp.c
  lib/libshout-idjc/src/proto_http.c
  lib/libshout-idjc/src/shout.c
Labels: controllers

#11000 Fix cue points being assigned invalid value of -1.0
  res/schema.xml
  src/audio/frame.h
Labels: library

#11100 Replace explicit library home/end key handlers with a moveCursor override
  src/widget/wlibrarytableview.cpp
  src/widget/wtracktableview.cpp
Labels: library, ui

#10881 2.5-alpha
  .tx/config
  CHANGELOG.md
  CMakeLists.txt
  LICENSE
  packaging/CPackDebUploadPPA.cmake
  res/linux/org.mixxx.Mixxx.metainfo.xml
Labels: build, code quality

#11196 Tracks table: try to restore selection position after track removal
  src/library/dlghidden.cpp
  src/library/dlghidden.h
  src/library/dlgmissing.cpp
  src/library/dlgmissing.h
  src/library/missingtablemodel.cpp
  src/widget/wlibrarytableview.cpp
  src/widget/wlibrarytableview.h
  src/widget/wtrackmenu.cpp
  src/widget/wtrackmenu.h
  src/widget/wtracktableview.cpp
  src/widget/wtracktableview.h
Labels: library, ui

#11134 Install Qt Translation on MacOS
  CMakeLists.txt
  src/util/translations.h
Labels: build, changelog

#10942 WSearchLineEdit: Add options to disable auto-completion and history
  src/library/library_prefs.cpp
  src/library/library_prefs.h
  src/preferences/dialog/dlgpreflibrary.cpp
  src/preferences/dialog/dlgpreflibrary.h
  src/preferences/dialog/dlgpreflibrarydlg.ui
  src/widget/wsearchlineedit.cpp
  src/widget/wsearchlineedit.h
Labels: library, ui

#10929 [RFC] Migrate from `qmlformat` to `qml_formatter`
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  res/qml/AuxiliaryUnit.qml
  res/qml/Button.qml
  res/qml/ComboBox.qml
  res/qml/ControlButton.qml
  res/qml/ControlKnob.qml
  res/qml/ControlMiniKnob.qml
  res/qml/ControlSlider.qml
  res/qml/CrossfaderRow.qml
  res/qml/Deck.qml
  res/qml/DeckInfoBar.qml
  res/qml/DeckRow.qml
  res/qml/DeveloperToolsWindow.qml
  res/qml/EffectRow.qml
  res/qml/EffectSlot.qml
  res/qml/EffectUnit.qml
  res/qml/EqColumn.qml
  res/qml/EqKnob.qml
  res/qml/FadeBehavior.qml
  res/qml/Hotcue.qml
  res/qml/HotcueButton.qml
  res/qml/HotcuePopup.qml
  res/qml/InfoBarButton.qml
  res/qml/Knob.qml
  res/qml/Library.qml
  res/qml/LibraryControl.qml
  res/qml/LibraryControlLoadSelectedTrackHandler.qml
  res/qml/MicrophoneDuckingPanel.qml
  res/qml/MicrophoneUnit.qml
  res/qml/Mixer.qml
  res/qml/MixerColumn.qml
  res/qml/Mixxx/Controls/Knob.qml
  res/qml/Mixxx/Controls/Slider.qml
  res/qml/Mixxx/Controls/Spinny.qml
  res/qml/Mixxx/Controls/WaveformOverview.qml
  res/qml/Mixxx/Controls/WaveformOverviewHotcueMarker.qml
  res/qml/Mixxx/Controls/WaveformOverviewMarker.qml
  res/qml/OrientationToggleButton.qml
  res/qml/Sampler.qml
  res/qml/SamplerRow.qml
  res/qml/SectionBackground.qml
  res/qml/Slider.qml
  res/qml/SyncButton.qml
  res/qml/TextField.qml
  res/qml/VuMeter.qml
  res/qml/WaveformOverview.qml
  res/qml/main.qml
Labels: library, ui, code quality

#11218 Fix assuming wrong system language on macOS, fixes #11195
  src/util/translations.h
Labels: bug

#11204 2.4 for Ubuntu Focal
  src/test/engineeffectsdelay_test.cpp
  src/util/math.h
  src/util/samplebuffer.h
  src/util/span.h
Labels: code quality

#11220 fix(build): windows codesign
  .github/workflows/build.yml
  CMakeLists.txt
Labels: build

#3905 NI Traktor Kontrol S2 Mk1: add controller mapping
  res/controllers/Traktor Kontrol S2 Mk1.hid.xml
  res/controllers/Traktor-Kontrol-S2-MK1-hid-scripts.js
Labels: controllers, changelog

#11217 fix(serato): Fix resetting track colors on metadata reimport
  src/test/seratotagstest.cpp
  src/track/serato/markers.h
  src/track/serato/markers2.h
  src/track/serato/tags.cpp
  src/track/serato/tags.h
  src/track/track.cpp
Labels: code quality, bug, metadata, serato

#11229 Fix: Preferences: Incomplete version check in 2.3 and update #9709
  CMakeLists.txt
  src/preferences/upgrade.cpp
Labels: ui, build

#11224 Normalize all .bat line endings to CRLF.
  .gitattributes
Labels: controllers, code quality
