Repository mixxxdj/mixxx, pull requests merged in 2023-05, with the labels that each got.

#11513 CMakeSettings.json: start with a copy of a UTF-8-BOM file.
  .pre-commit-config.yaml
  tools/UTF-8-BOM.txt
  tools/windows_buildenv.bat
Labels: code quality

#11301 Key refactoring
  src/analyzer/analyzerkey.cpp
  src/library/basesqltablemodel.cpp
  src/library/browse/browsethread.cpp
  src/library/dao/trackdao.cpp
  src/library/dlgtrackinfo.cpp
  src/library/rekordbox/rekordboxfeature.cpp
  src/test/trackmetadata_test.cpp
  src/track/keyfactory.cpp
  src/track/keyfactory.h
  src/track/keys.cpp
  src/track/keys.h
  src/track/keyutils.cpp
  src/track/keyutils.h
  src/track/taglib/trackmetadata_ape.cpp
  src/track/taglib/trackmetadata_id3v2.cpp
  src/track/taglib/trackmetadata_mp4.cpp
  src/track/taglib/trackmetadata_xiph.cpp
  src/track/track.cpp
  src/track/trackinfo.cpp
  src/track/trackinfo.h
  src/track/trackrecord.cpp
  src/track/trackrecord.h
Labels: library, needs review, code quality

#11466 Don't use garbage Cues from Serato Tags or library.
  src/library/dao/cuedao.cpp
  src/test/cue_test.cpp
  src/test/serato/data/mp3/markers_/very-long-names.octet-stream
  src/track/cueinfo.cpp
  src/track/cueinfo.h
  src/track/serato/tags.cpp
  src/track/track.cpp
Labels: library, code quality

#11495 AutoDJ: handle "enabled" CO change requests like clicks on the GUI button
  src/library/autodj/autodjprocessor.cpp
  src/library/autodj/autodjprocessor.h
  src/library/autodj/dlgautodj.cpp
  src/library/autodj/dlgautodj.h
Labels: library

#11499 BaseSqlTableModel: Fix bounds check
  src/library/basesqltablemodel.cpp
Labels: library, bug

#11467 Serato Cue refactorings
  src/library/dao/cuedao.cpp
  src/library/dao/cuedao.h
  src/mixer/basetrackplayer.cpp
  src/track/cueinfoimporter.cpp
  src/track/cueinfoimporter.h
  src/track/serato/markers.cpp
  src/track/serato/markers.h
  src/track/serato/tags.cpp
  src/track/serato/tags.h
  src/track/track.cpp
  src/track/track.h
Labels: library, ui, code quality

#11523 glwaveformrenderbackground
  CMakeLists.txt
  src/waveform/renderers/glwaveformrenderbackground.cpp
  src/waveform/renderers/glwaveformrenderbackground.h
  src/waveform/renderers/waveformrenderbackground.cpp
  src/waveform/renderers/waveformrenderbackground.h
  src/waveform/widgets/glrgbwaveformwidget.cpp
  src/waveform/widgets/glsimplewaveformwidget.cpp
  src/waveform/widgets/glslwaveformwidget.cpp
  src/waveform/widgets/glvsynctestwidget.cpp
  src/waveform/widgets/glwaveformwidget.cpp
  src/waveform/widgets/qthsvwaveformwidget.cpp
  src/waveform/widgets/qtrgbwaveformwidget.cpp
  src/waveform/widgets/qtsimplewaveformwidget.cpp
  src/waveform/widgets/qtvsynctestwidget.cpp
  src/waveform/widgets/qtwaveformwidget.cpp
Labels: build, waveform, gui

#11534 Import/Export Serato Loops with index offset 8
  src/test/serato/data/mp3/markers_/very-long-names.octet-stream
  src/test/seratotagstest.cpp
  src/track/serato/tags.cpp
  src/track/track.cpp
Labels: code quality, regression

#11482 Fix reset Main/Intro/Outro behaviour
  src/analyzer/analyzersilence.cpp
  src/analyzer/analyzersilence.h
  src/track/track.cpp
  src/widget/wtrackmenu.cpp
  src/widget/wtrackmenu.h
Labels: ui, bug

#11539 lupdate warnings
  src/controllers/dlgcontrollerlearning.cpp
  src/effects/backends/effectsbackendmanager.cpp
  src/preferences/effectsettingsmodel.cpp
  src/recording/defs_recording.h
  src/widget/findonwebmenuservices/findonwebmenudiscogs.h
  src/widget/findonwebmenuservices/findonwebmenulastfm.h
  src/widget/findonwebmenuservices/findonwebmenusoundcloud.h
Labels: ui

#11498 iTunes: Factor out `ITunesPlaylistModel` and fix sort column mapping
  CMakeLists.txt
  src/library/itunes/itunesfeature.cpp
  src/library/itunes/itunesplaylistmodel.cpp
  src/library/itunes/itunesplaylistmodel.h
Labels: library, build

#11489 AnalyzerWavefromTest Reference compare.
  src/test/analyserwaveformtest.cpp
  src/test/reference_buffers/AnalyzerWaveformsTest
Labels: code quality

#11538 Mixxx 2.3.5 Release candidate.
  CMakeLists.txt
Labels: build

#11541 Avoid ambiguous != operator with QByteRef and QByteRef
  src/test/analyserwaveformtest.cpp
Labels: code quality

#11470 fix(controllers): restore legacy passing of HID data in plain array
  res/controllers/common-hid-packet-parser.js
Labels: controllers, hid

#11398 Mixxx for macOS on M1/M2 Apple silicon
  .github/workflows/build.yml
  CMakeLists.txt
  packaging/macos/build_environment
  packaging/windows/build_environment
  tools/macos_arm64-cross-release_buildenv.sh
  tools/macos_arm64-cross_buildenv.sh
  tools/macos_buildenv.sh
  tools/macos_release_buildenv.sh
  tools/windows_buildenv.bat
  tools/windows_release_buildenv.bat
Labels: build

#4759 Declarations for engine and controller scripting API
  .eslintrc.json
  .pre-commit-config.yaml
  res/controllers/color-mapper-api.d.ts
  res/controllers/console-api.d.ts
  res/controllers/engine-api.d.ts
  res/controllers/hid-controller-api.d.ts
  res/controllers/midi-controller-api.d.ts
  src/controllers/scripting/legacy/controllerscriptinterfacelegacy.h
Labels: controllers, code quality

#11559 Delete unused EngineFilter
  .codespellignorelines
  CMakeLists.txt
  src/engine/filters/enginefilter.cpp
  src/engine/filters/enginefilter.h
Labels: build

#11554 Fix setting the wrong default cue color.
  src/engine/controls/cuecontrol.cpp
  src/engine/controls/cuecontrol.h
  src/test/cue_test.cpp
  src/track/cue.cpp
  src/track/cue.h
  src/track/track.cpp
  src/track/track.h
  src/util/color/colorpalette.h
Labels: code quality

#11509 iTunes: Unit-test XML importer on actual library XMLs
  CMakeLists.txt
  src/library/itunes/itunesdao.cpp
  src/library/itunes/itunesdao.h
  src/library/itunes/itunesxmlimporter.cpp
  src/test/itunes/iTunes Music Library.xml
  src/test/itunes/macOS Music Library.xml
  src/test/itunesxmlimportertest.cpp
Labels: library, build, code quality

#11208 Improve library sidebar UX (right-click and selection after add, rename, delete, duplicate etc.)
  res/skins/Deere/style.qss
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
  res/skins/Shade/style.qss
  res/skins/Tango/style.qss
  src/library/banshee/bansheeplaylistmodel.cpp
  src/library/baseexternallibraryfeature.cpp
  src/library/baseexternalplaylistmodel.cpp
  src/library/dao/playlistdao.cpp
  src/library/dao/playlistdao.h
  src/library/itunes/itunesfeature.h
  src/library/playlisttablemodel.cpp
  src/library/rekordbox/rekordboxfeature.cpp
  src/library/sidebarmodel.cpp
  src/library/sidebarmodel.h
  src/library/trackset/baseplaylistfeature.cpp
  src/library/trackset/baseplaylistfeature.h
  src/library/trackset/crate/cratefeature.cpp
  src/library/trackset/crate/cratefeature.h
  src/library/trackset/playlistfeature.cpp
  src/library/trackset/playlistfeature.h
  src/library/trackset/setlogfeature.cpp
  src/library/trackset/setlogfeature.h
  src/library/traktor/traktorfeature.cpp
  src/widget/wlibrarysidebar.cpp
  src/widget/wlibrarysidebar.h
Labels: skins, library, ui, history

#11579 Add missing QContextMenuEvent::accept() invocations
  src/widget/wlibrarysidebar.cpp
  src/widget/wtracktableviewheader.cpp
Labels: ui

#11573 make defaulted comparsion operators conditional
  src/library/itunes/itunesdao.h
Labels: library

#11595 Numark DJ2GO2 Touch: add missing loop_out mapping for the right deck
  res/controllers/Numark_DJ2GO2_Touch.midi.xml
Labels: controllers

#11570 Mixxx 2.4-beta
  CMakeLists.txt
Labels: build

#11611 Retire Ubuntu Impish and Welcome Ubuntu Mantic
  CMakeLists.txt
Labels: build

#11558 Don't allow to set loop in/out at the silence padding after the track.
  src/engine/controls/loopingcontrol.cpp
  src/engine/controls/loopingcontrol.h
  src/test/looping_control_test.cpp
Labels: code quality, looping

#11588 Pref Interface: update scale factor member with config value
  src/preferences/dialog/dlgprefinterface.cpp
Labels: ui, preferences

#11598 Shade VU-Meter fix
  res/skins/Shade/mixer_panel.xml
  res/skins/Shade/preview_deck.xml
  res/skins/Shade/sampler.xml
Labels: skins

#11326 FIFO mode option for HID OutputReports
  CMakeLists.txt
  src/controllers/hid/hidcontroller.h
  src/controllers/hid/hidioglobaloutputreportfifo.cpp
  src/controllers/hid/hidioglobaloutputreportfifo.h
  src/controllers/hid/hidiooutputreport.cpp
  src/controllers/hid/hidiooutputreport.h
  src/controllers/hid/hidiothread.cpp
  src/controllers/hid/hidiothread.h
Labels: controllers, build, hid
