Repository mixxxdj/mixxx, pull requests merged in 2023-09, with the labels that each got.

#11768 silence some 'unused parameter' warnings
  src/controllers/hid/hidiooutputreport.cpp
  src/controllers/hid/hidiooutputreport.h
  src/controllers/hid/hidiothread.cpp
  src/musicbrainz/tagfetcher.cpp
  src/waveform/renderers/allshader/waveformrenderer.cpp
  src/waveform/renderers/allshader/waveformrendererabstract.h
  src/waveform/renderers/allshader/waveformrenderersignalbase.h
  src/widget/trackdroptarget.h
  src/widget/weffectchainpresetselector.cpp
  src/widget/wspinnyglsl.cpp
  src/widget/wwaveformviewer.cpp
Labels: ui

#11840 Fix wrong visual play position when inside loop
  src/engine/controls/loopingcontrol.h
  src/engine/enginebuffer.cpp
  src/engine/enginebuffer.h
  src/engine/slipmodestate.h
  src/waveform/visualplayposition.cpp
  src/waveform/visualplayposition.h
Labels: bug, waveform

#11905 ci: Enable `WARNINGS_FATAL` on macOS, too
  .github/workflows/build.yml
  CMakeLists.txt
Labels: build

#11912 Deere: fix skin/library layout (library missing in default view with Qt6)
  res/skins/Deere/skin.xml
Labels: skins

#11913 ComponentJS: make JogWheelBasic correctly switch which deck it controls
  res/controllers/midi-components-0.0.js
Labels: controllers

#11245 Pioneer DDJ-FLX4: New mapping base on DDJ-400
  res/controllers/Pioneer-DDJ-FLX4-script.js
  res/controllers/Pioneer-DDJ-FLX4.midi.xml
Labels: controllers, needs review

#11917 fix(ci): update eslint jsdoc plugin to avoid crash on jsdoc'd files
  .pre-commit-config.yaml
Labels: code quality

#11918 don't mark software waveforms legacy
  src/preferences/dialog/dlgprefwaveform.cpp
  src/waveform/waveformwidgetfactory.cpp
  src/waveform/waveformwidgetfactory.h
  src/waveform/widgets/hsvwaveformwidget.h
  src/waveform/widgets/rgbwaveformwidget.h
  src/waveform/widgets/softwarewaveformwidget.h
  src/waveform/widgets/waveformwidgetcategory.h
Labels: ui

#11922 Install libjpeg-turbo::jpeg to fix cover display with Qt6
  .github/workflows/build.yml
  CMakeLists.txt
Labels: build

#11925 Small fixes for common-hid-packet-parser.js
  res/controllers/common-hid-packet-parser.js
Labels: controllers

#11902 Effectchain tooltip
  src/widget/weffectchainpresetbutton.cpp
  src/widget/weffectchainpresetselector.cpp
Labels: effects, ui, gui

#11850 Refactor timers (#11807) 2nd try
  CMakeLists.txt
  src/analyzer/analyzerebur128.cpp
  src/analyzer/analyzergain.cpp
  src/coreservices.cpp
  src/engine/channelmixer.cpp
  src/engine/enginebuffer.cpp
  src/engine/enginemaster.cpp
  src/library/dao/trackdao.cpp
  src/library/scanner/importfilestask.cpp
  src/library/scanner/libraryscanner.cpp
  src/library/scanner/recursivescandirectorytask.cpp
  src/mixxxmainwindow.cpp
  src/skin/legacy/legacyskinparser.cpp
  src/skin/skinloader.cpp
  src/soundio/sounddevicenetwork.cpp
  src/soundio/sounddeviceportaudio.cpp
  src/sources/soundsourcemodplug.cpp
  src/test/chrono_clock_resolution_test.cpp
  src/util/battery/battery.cpp
  src/util/battery/battery.h
  src/util/duration.h
  src/util/performancetimer.cpp
  src/util/performancetimer.h
  src/util/stat.h
  src/util/threadcputimer.h
  src/util/timer.cpp
  src/util/timer.h
  src/vinylcontrol/vinylcontrolprocessor.cpp
  src/vinylcontrol/vinylcontrolxwax.cpp
  src/waveform/renderers/waveformrendererendoftrack.cpp
  src/waveform/waveformwidgetfactory.cpp
  src/widget/woverview.cpp
  src/widget/woverviewhsv.cpp
  src/widget/woverviewlmh.cpp
  src/widget/woverviewrgb.cpp
  src/widget/wvumeterbase.cpp
  src/widget/wvumeterlegacy.cpp
Labels: library, ui, build, code quality

#11934 CMakeLists: Default `QT6` to `ON`
  CMakeLists.txt
Labels: build

#11933 CMakeLists: Match arbitrary `arm64-osx` triplets
  CMakeLists.txt
Labels: build

#11926 Refactor/pref sound tab order
  src/preferences/dialog/dlgprefsound.cpp
  src/preferences/dialog/dlgprefsound.h
  src/soundio/soundmanagerutil.cpp
  src/soundio/soundmanagerutil.h
Labels: ui

#11946 Update the firstSoundTest results for "Nero FAAD2 2.64"
  CMakeLists.txt
  src/test/soundproxy_test.cpp
Labels: build, code quality, regression

#11948 iTunes: Re-enable test and add `composer`, `playCount`, `lastPlayedAt` and `dateAdded` to model
  CMakeLists.txt
  src/library/itunes/itunesdao.cpp
  src/library/itunes/itunesdao.h
  src/library/itunes/itunesmacosimporter.mm
  src/library/itunes/itunesxmlimporter.cpp
  src/test/itunesxmlimportertest.cpp
Labels: library, build, code quality

#11941 Use `mixxx::audio::ChannelCount` type instead of `int`/`unsigned char`/etc.
  src/engine/enginemaster.cpp
  src/engine/filters/enginefilterpan.h
  src/engine/filters/enginefilterpansingle.h
  src/engine/sidechain/enginenetworkstream.h
  src/engine/sidechain/enginesidechain.cpp
  src/engine/sidechain/networkoutputstreamworker.cpp
  src/engine/sidechain/networkoutputstreamworker.h
  src/mixer/auxiliary.cpp
  src/mixer/microphone.cpp
  src/mixer/playermanager.cpp
  src/preferences/dialog/dlgprefsounditem.cpp
  src/soundio/sounddevice.cpp
  src/soundio/sounddevice.h
  src/soundio/sounddevicenetwork.cpp
  src/soundio/sounddeviceportaudio.cpp
  src/soundio/soundmanager.cpp
  src/soundio/soundmanagerconfig.cpp
  src/soundio/soundmanagerutil.cpp
  src/soundio/soundmanagerutil.h
  src/test/enginemicrophonetest.cpp
  src/util/sample.cpp
  src/util/sample.h
  src/vinylcontrol/vinylcontrolmanager.cpp
  src/waveform/waveform.cpp
Labels: ui, code quality

#11953 fix(controllers): `engine.beginTimer(ms, string)` would evaluate the code immediately instead of after `ms`
  res/controllers/Hercules-DJ-Control-MP3-hid-scripts.js
  src/controllers/scripting/controllerscriptenginebase.cpp
  src/controllers/scripting/controllerscriptenginebase.h
  src/controllers/scripting/legacy/controllerscriptinterfacelegacy.cpp
  src/controllers/scripting/legacy/controllerscriptinterfacelegacy.h
Labels: controllers

#11951 DlgPrefSound: Fix fetching of sample rate
  src/preferences/dialog/dlgprefsound.cpp
Labels: ui

#11942 Remove offensive language (Pt. 1)
  res/controllers/Traktor-Kontrol-S4-MK3.js
  res/qml/SyncButton.qml
  res/schema.xml
  res/skins/Deere/auxiliary.xml
  res/skins/Deere/auxiliary_unconfigured.xml
  res/skins/LateNight/mic_aux/aux_unit.xml
  res/skins/LateNight/mic_aux/aux_unit_unconfigured.xml
  res/skins/Shade/deck_transport.xml
  res/skins/Tango/mic_aux_sampler/aux_unit.xml
  res/skins/Tango/mic_aux_sampler/aux_unit_unconfigured.xml
  src/control/controlobjectscript.h
  src/control/controlproxy.h
  src/engine/channels/engineaux.cpp
  src/engine/channels/enginechannel.cpp
  src/engine/channels/enginechannel.h
  src/engine/channels/enginedeck.cpp
  src/engine/channels/enginemicrophone.cpp
  src/engine/enginemaster.cpp
  src/engine/enginemaster.h
  src/engine/sidechain/enginesidechain.cpp
  src/engine/sidechain/shoutconnection.cpp
  src/engine/sidechain/shoutconnection.h
  src/engine/sync/enginesync.cpp
  src/engine/sync/synccontrol.cpp
  src/mixer/auxiliary.cpp
  src/mixer/auxiliary.h
  src/mixer/basetrackplayer.cpp
  src/mixer/microphone.cpp
  src/mixer/playermanager.cpp
  src/preferences/dialog/dlgprefsound.cpp
  src/preferences/dialog/dlgprefsound.h
  src/preferences/dialog/dlgprefsounddlg.ui
  src/soundio/sounddevicenetwork.cpp
  src/soundio/sounddevicenetwork.h
  src/soundio/sounddeviceportaudio.cpp
  src/soundio/sounddeviceportaudio.h
  src/soundio/soundmanager.cpp
  src/soundio/soundmanager.h
  src/soundio/soundmanagerconfig.cpp
  src/soundio/soundmanagerutil.cpp
  src/soundio/soundmanagerutil.h
  src/test/co_dumps/co_dump_inital.csv
  src/test/enginebuffertest.cpp
  src/test/enginemastertest.cpp
  src/test/enginemicrophonetest.cpp
  src/test/metaknob_link_test.cpp
  src/test/reference_buffers/SingleChannelOutputWorks-main
  src/test/reference_buffers/SingleChannelPFLOutputWorks-main
  src/test/reference_buffers/ThreeChannelOutputWorks-main
  src/test/reference_buffers/ThreeChannelPFLOutputWorks-main
  src/test/reference_buffers/TwoChannelOutputWorks-main
  src/test/reference_buffers/TwoChannelPFLOutputWorks-main
  src/test/signalpathtest.h
  src/vinylcontrol/vinylcontrolmanager.cpp
  src/vinylcontrol/vinylcontrolprocessor.cpp
Labels: controllers, skins, ui, code quality

#11971 fix(wspinnyglsl): fix drawing of non-square textures
  src/widget/wspinnyglsl.cpp
Labels: ui, bug

#11963 Fix crash when no GL context is available
  src/mixxxmainwindow.cpp
  src/waveform/sharedglcontext.cpp
  src/waveform/waveformwidgetfactory.cpp
  src/waveform/waveformwidgetfactory.h
  src/waveform/widgets/glrgbwaveformwidget.cpp
  src/waveform/widgets/glsimplewaveformwidget.cpp
  src/waveform/widgets/glslwaveformwidget.cpp
  src/waveform/widgets/glslwaveformwidget.h
  src/waveform/widgets/glvsynctestwidget.cpp
  src/waveform/widgets/glwaveformwidget.cpp
  src/waveform/widgets/qtrgbwaveformwidget.cpp
  src/waveform/widgets/qtsimplewaveformwidget.cpp
  src/waveform/widgets/qtvsynctestwidget.cpp
  src/waveform/widgets/qtwaveformwidget.cpp
  src/widget/openglwindow.cpp
  src/widget/wglwidgetqglwidget.cpp
  src/widget/wglwidgetqglwidget.h
  src/widget/wglwidgetqopengl.cpp
  src/widget/wglwidgetqopengl.h
  src/widget/wspinnybase.cpp
Labels: ui

#11970 Skins: Remove `border: 0px` from sidebar item styling
  res/skins/Deere/style.qss
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
  res/skins/Shade/style.qss
  res/skins/Tango/style.qss
Labels: skins

#11975 Skins: Fix sidebar item styling on 2.4 too
  res/skins/Deere/style.qss
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
  res/skins/Shade/style.qss
  res/skins/Tango/style.qss
Labels: skins

#11973 ControlObject alias improvements
  src/control/control.cpp
  src/control/controlobject.h
  src/effects/effectchain.cpp
  src/engine/channels/engineaux.cpp
  src/engine/channels/enginechannel.cpp
  src/engine/channels/enginemicrophone.cpp
  src/engine/controls/cuecontrol.cpp
  src/engine/controls/loopingcontrol.cpp
  src/engine/enginemixer.cpp
  src/engine/sync/internalclock.cpp
  src/engine/sync/synccontrol.cpp
  src/library/librarycontrol.cpp
  src/test/controlobjecttest.cpp
Labels: library, code quality

#11237 Traktor S2 MK1: Add calibration and refactor
  res/controllers/Traktor-Kontrol-S2-MK1-hid-scripts.js
Labels: controllers

#11972 Log warning if deprecated control is used
  src/control/control.cpp
Labels: code quality

#11985 Fixup: Removed unsupported floating-point suffix prior to GLSL ES 3.00
  src/shaders/endoftrackshader.cpp
  src/shaders/vinylqualityshader.cpp
Labels: regression

#11979 Fix: don't export loudness info to Engine
  src/library/export/engineprimeexportjob.cpp
Labels: library

#11935 Install Angle DLLs via CMake config mode
  CMakeLists.txt
Labels: build

#11990 Do not use deprecated COs in C++ code/Keyboard Mapping/Skins
  res/keyboard/cs_CZ.kbd.cfg
  res/keyboard/da_DK.kbd.cfg
  res/keyboard/de_CH.kbd.cfg
  res/keyboard/de_DE.kbd.cfg
  res/keyboard/el_GR.kbd.cfg
  res/keyboard/en_US.kbd.cfg
  res/keyboard/es_ES.kbd.cfg
  res/keyboard/fi_FI.kbd.cfg
  res/keyboard/fr_CH.kbd.cfg
  res/keyboard/fr_FR.kbd.cfg
  res/keyboard/it_IT.kbd.cfg
  res/keyboard/ru_RU.kbd.cfg
  res/skins/Deere/auxiliary.xml
  res/skins/Deere/auxiliary_unconfigured.xml
  res/skins/Deere/microphone.xml
  res/skins/Deere/microphone_unconfigured.xml
  res/skins/LateNight/mic_aux/aux_unit.xml
  res/skins/LateNight/mic_aux/aux_unit_unconfigured.xml
  res/skins/LateNight/mic_aux/mic_unit.xml
  res/skins/LateNight/mic_aux/mic_unit_unconfigured.xml
  res/skins/Shade/srcmicrophoneaux.xml
  res/skins/Tango/mic_aux_sampler/aux_unit.xml
  res/skins/Tango/mic_aux_sampler/aux_unit_unconfigured.xml
  res/skins/Tango/mic_aux_sampler/mic_unit.xml
  res/skins/Tango/mic_aux_sampler/mic_unit_unconfigured.xml
  src/mixer/basetrackplayer.cpp
  src/waveform/renderers/waveformrenderersignalbase.cpp
  src/widget/whotcuebutton.cpp
Labels: skins, ui, code quality

#11981 Refactor(parented_ptr): make trivially destructible in release mode, delete move operations
  src/util/parented_ptr.h
  src/widget/findonwebmenufactory.cpp
Labels: ui

#11936 File Access fix
  src/library/coverart.cpp
  src/library/coverart.h
  src/library/coverartcache.cpp
  src/library/coverartutils.cpp
  src/library/coverartutils.h
  src/library/dao/trackdao.cpp
  src/library/dao/trackdao.h
  src/library/dlgcoverartfullsize.cpp
  src/library/dlgtrackinfo.cpp
  src/track/globaltrackcache.cpp
  src/track/globaltrackcache.h
  src/track/track.h
  src/util/fileinfo.h
  src/widget/wtrackmenu.cpp
Labels: library, ui

#11987 Tidy and modernize SampleBuffer
  CMakeLists.txt
  src/util/assert.h
  src/util/sample.h
  src/util/samplebuffer.cpp
  src/util/samplebuffer.h
  src/util/span.h
Labels: build

#12002 feat: allow sanitizers on GCC as well
  CMakeLists.txt
Labels: build

#12003 Fix clang-tidy wanings a and a missng initalization
  src/control/controlcompressingproxy.cpp
  src/control/controlindicator.cpp
  src/controllers/controlpickermenu.cpp
  src/controllers/delegates/midioptionsdelegate.cpp
  src/controllers/midi/portmidicontroller.cpp
  src/effects/backends/lv2/lv2effectprocessor.cpp
  src/effects/presets/effectpresetmanager.cpp
  src/engine/controls/loopingcontrol.cpp
  src/engine/enginemixer.cpp
  src/library/library.cpp
  src/library/trackset/setlogfeature.cpp
Labels: library

#12005 Upgrade to libdjinterop 0.20.0
  CMakeLists.txt
Labels: build

#12010 fix wspinnyglsl and wvumeterglsl with QOpenGLFunctions
  src/skin/legacy/legacyskinparser.cpp
  src/util/cmdlineargs.cpp
  src/util/cmdlineargs.h
  src/widget/wspinnyglsl.cpp
  src/widget/wspinnyglsl.h
  src/widget/wvumeterglsl.cpp
  src/widget/wvumeterglsl.h
Labels: ui

#12007 chore(skincontrols): Rename `show_previewdecks` to `show_preview_decks`
  res/skins/Deere (64 Samplers)/skin.xml
  res/skins/Deere (64 Samplers)/skin_settings.xml
  res/skins/Deere/preview_deck.xml
  res/skins/Deere/skin.xml
  res/skins/Deere/skin_settings.xml
  res/skins/LateNight (64 Samplers)/skin.xml
  res/skins/LateNight/decks/preview_deck.xml
  res/skins/LateNight/skin.xml
  res/skins/LateNight/skin_settings.xml
  res/skins/Shade/preview_deck.xml
  res/skins/Shade/skin.xml
  res/skins/Tango (64 Samplers)/skin.xml
  res/skins/Tango (64 Samplers)/skin_settings.xml
  res/skins/Tango/decks/preview_deck.xml
  res/skins/Tango/library.xml
  res/skins/Tango/skin.xml
  res/skins/Tango/skin_settings.xml
  src/skin/skincontrols.cpp
  src/test/co_dumps/co_dump_inital.csv
  src/test/controlobjectaliastest.cpp
  src/widget/wmainmenubar.cpp
Labels: skins, ui, code quality, control objects

#11998 CO Renaming (Pt. 3): Add `ControlPotMeter` aliasing and move `audio_latency_*` COs
  CMakeLists.txt
  res/controllers/Stanton-SCS3m-scripts.js
  res/skins/LateNight/toolbar.xml
  res/skins/Shade/mixer_panel.xml
  res/skins/Tango/topbar.xml
  src/control/controlpotmeter.cpp
  src/control/controlpotmeter.h
  src/engine/enginemixer.cpp
  src/engine/enginemixer.h
  src/preferences/dialog/dlgprefsound.cpp
  src/preferences/dialog/dlgprefsound.h
  src/soundio/sounddevicenetwork.cpp
  src/soundio/sounddevicenetwork.h
  src/soundio/sounddeviceportaudio.cpp
  src/soundio/sounddeviceportaudio.h
  src/soundio/soundmanager.cpp
  src/soundio/soundmanager.h
  src/test/co_dumps/co_dump_inital.csv
  src/test/controlobjectaliastest.cpp
  src/test/controlpotmetertest.cpp
Labels: controllers, skins, ui, build, code quality, control objects

#12008 Enable more clazy checks by default
  .github/workflows/build-checks.yml
  src/analyzer/analyzerscheduledtrack.h
  src/controllers/controlpickermenu.cpp
  src/controllers/dlgprefcontroller.cpp
  src/effects/backends/effectsbackend.cpp
  src/engine/controls/enginecontrol.cpp
  src/engine/effects/engineeffectsdelay.cpp
  src/engine/effects/engineeffectsdelay.h
  src/engine/enginebuffer.cpp
  src/engine/enginemixer.cpp
  src/library/autodj/dlgautodj.cpp
  src/library/browse/browsetablemodel.h
  src/library/browse/browsethread.cpp
  src/library/export/trackexportdlg.cpp
  src/library/librarycontrol.cpp
  src/library/multilineeditdelegate.cpp
  src/library/parsercsv.cpp
  src/library/rekordbox/rekordboxfeature.cpp
  src/library/serato/seratofeature.cpp
  src/library/trackset/crate/cratefeature.cpp
  src/library/trackset/playlistfeature.cpp
  src/mixxxapplication.cpp
  src/preferences/colorpaletteeditor.cpp
  src/preferences/dialog/dlgprefeffects.cpp
  src/preferences/dialog/dlgprefmixer.cpp
  src/track/beatutils.h
  src/util/color/rgbcolor.h
  src/util/desktophelper.cpp
  src/waveform/renderers/waveformwidgetrenderer.cpp
  src/widget/openglwindow.cpp
  src/widget/wbeatspinbox.cpp
  src/widget/weffectpushbutton.cpp
  src/widget/wsearchlineedit.cpp
  src/widget/wspinnyglsl.cpp
  src/widget/wspinnyglsl.h
  src/widget/wwidgetgroup.cpp
  src/widget/wwidgetgroup.h
Labels: library, ui, code quality

#12025 Header file fixes
  src/controllers/hid/hiddenylist.h
  src/effects/effectxmlelements.h
  src/effects/presets/effectxmlelements.h
  src/engine/filters/enginefilterpan.h
  src/engine/filters/enginefilterpansingle.h
  src/library/rekordbox/rekordboxconstants.h
  src/util/lcs.h
  src/waveform/renderers/allshader/waveformrenderbackground.cpp
  src/waveform/renderers/allshader/waveformrenderbeat.cpp
  src/waveform/renderers/allshader/waveformrenderer.cpp
  src/waveform/renderers/allshader/waveformrendererendoftrack.cpp
  src/waveform/renderers/allshader/waveformrendererfiltered.cpp
  src/waveform/renderers/allshader/waveformrendererhsv.cpp
  src/waveform/renderers/allshader/waveformrendererlrrgb.cpp
  src/waveform/renderers/allshader/waveformrendererpreroll.cpp
  src/waveform/renderers/allshader/waveformrendererrgb.cpp
  src/waveform/renderers/allshader/waveformrenderersimple.cpp
  src/waveform/widgets/allshader/filteredwaveformwidget.cpp
  src/waveform/widgets/allshader/hsvwaveformwidget.cpp
  src/waveform/widgets/allshader/lrrgbwaveformwidget.cpp
  src/waveform/widgets/allshader/rgbwaveformwidget.cpp
  src/waveform/widgets/allshader/simplewaveformwidget.cpp
  src/waveform/widgets/allshader/waveformwidget.cpp
Labels: library, code quality

#12026 test: Remove obsolete `baseeffecttest.h`/`.cpp` files
  src/test/baseeffecttest.cpp
  src/test/baseeffecttest.h
Labels: code quality

#12029 fix(dlgprefinterface): Fix crash on start when building with `-DQML=ON`
  src/preferences/dialog/dlgprefinterface.cpp
Labels: ui, bug, crash

#12024 Precompiled headers
  CMakeLists.txt
  src/controllers/hid/hiddevice.cpp
  src/preferences/configobject.h
  src/util/moc_included_test.cpp
Labels: ui, build, cmake

#12030 Fix use of deprecated COs in Skins
  res/skins/Deere/tool_bar.xml
  res/skins/Shade/effectrow.xml
Labels: skins

#12033 fix(coreservices): Remove obsolete `getLV2Backend()` method
  src/coreservices.h
  src/test/coreservicestest.cpp
Labels: code quality

#12031 Fix clazy issues on `2.4` branch
  src/encoder/encoderfdkaac.cpp
  src/util/font.h
  src/widget/weffectchainpresetbutton.cpp
  src/widget/weffectchainpresetselector.cpp
Labels: ui, code quality

#12037 Precompiled headers fix
  CMakeLists.txt
  src/test/ringdelaybuffer_test.cpp
  src/util/moc_included_test.cpp
  src/util/ringdelaybuffer.cpp
Labels: build, code quality

#12028 Fix clazy issues on `main`
  src/preferences/dialog/dlgprefsound.cpp
Labels: ui

#11938 Cover Art Fetcher: allow applying just the found cover
  src/library/dlgtagfetcher.cpp
  src/library/dlgtagfetcher.h
  src/library/dlgtagfetcher.ui
Labels: library, metadata, gui, accessibility

#12041 Tag Fetcher: fix apply status messages
  src/library/dlgtagfetcher.cpp
Labels: library

#12022 CO Renaming (Pt. 5): Latency Control
  res/controllers/Akai-LPD8-RK-scripts.js
  src/engine/enginemixer.cpp
  src/engine/enginemixer.h
  src/preferences/dialog/dlgprefsound.cpp
  src/preferences/dialog/dlgprefsound.h
  src/soundio/sounddevicenetwork.cpp
  src/soundio/sounddeviceportaudio.cpp
  src/test/co_dumps/co_dump_inital.csv
  src/test/controlobjectaliastest.cpp
  src/vinylcontrol/vinylcontrolxwax.cpp
Labels: controllers, ui, code quality, control objects
