Repository mixxxdj/mixxx, pull requests merged in 2023-08, with the labels that each got.

#11751 Protobuf: Use package provided config if available
  CMakeLists.txt
  src/proto/CMakeLists.txt
Labels: build

#11766 Fix building Mixxx with SDK 11
  src/library/itunes/itunesmacosimporter.mm
  src/track/beats.cpp
Labels: library

#11771 Handle setting loop_in and loop_out at the same position
  src/engine/controls/loopingcontrol.cpp
  src/test/looping_control_test.cpp
Labels: code quality

#11790 Prefer mold or lld as linker to speed up linking
  CMakeLists.txt
  tools/debian_buildenv.sh
  tools/debian_buildenv_qt6.sh
Labels: build

#11782 Revive #11441
  src/preferences/dialog/dlgpreflibrary.cpp
  src/preferences/dialog/dlgpreflibrary.h
Labels: ui

#11792 Denon MC6000MK2: Delete mapping for master gain
  res/controllers/Denon-MC6000MK2.midi.xml
Labels: controllers

#11783 Improve debug output for some file system operations
  src/engine/sidechain/enginerecord.cpp
  src/library/parsercsv.cpp
  src/library/parserm3u.cpp
  src/library/parserpls.cpp
  src/recording/recordingmanager.cpp
Labels: library

#11793 translations: Remove redundant `cmn` locale in favor of `zh`
  res/translations/mixxx_cmn.qm
  res/translations/mixxx_cmn.ts
Labels: i18n

#11794 iTunes: Permit duplicate playlist names by identifying playlists by id (rather than name)
  src/library/baseexternalplaylistmodel.cpp
  src/library/baseexternalplaylistmodel.h
  src/library/itunes/itunesdao.cpp
  src/library/itunes/itunesfeature.cpp
Labels: library

#11796 cmake: use -B option to select mold linker for GCC < 12.1.0
  CMakeLists.txt
Labels: build

#11001 Don't reject file metadata Keys values with non Minor/Major scales.
  src/test/keyutilstest.cpp
  src/track/keyutils.cpp
  src/track/keyutils.h
Labels: needs review, code quality

#11154 Soundtouch offset compensation updated
  src/engine/bufferscalers/enginebufferscale.cpp
  src/engine/bufferscalers/enginebufferscale.h
  src/engine/bufferscalers/enginebufferscalerubberband.cpp
  src/engine/bufferscalers/enginebufferscalest.cpp
  src/engine/bufferscalers/enginebufferscalest.h
Labels: needs review

#11804 (fix) WTrackProperty: focus double-clicked property field in DlgTrackInfo
  src/library/dlgtrackinfo.cpp
Labels: library, regression, gui

#11666 ITunesXMLImporterTest: Fix sporadic crash due to a not initalized reference.
  CMakeLists.txt
  src/library/itunes/itunesfeature.cpp
  src/library/itunes/itunesfeature.h
  src/library/itunes/itunesimporter.cpp
  src/library/itunes/itunesimporter.h
  src/library/itunes/itunesmacosimporter.h
  src/library/itunes/itunesmacosimporter.mm
  src/library/itunes/itunesxmlimporter.cpp
  src/library/itunes/itunesxmlimporter.h
  src/test/itunesxmlimportertest.cpp
Labels: library, build, code quality

#11511 Allow playing tracks longer than 6 h
  src/analyzer/analyzer.h
  src/analyzer/analyzerbeats.cpp
  src/analyzer/analyzerbeats.h
  src/analyzer/analyzerebur128.cpp
  src/analyzer/analyzerebur128.h
  src/analyzer/analyzergain.cpp
  src/analyzer/analyzergain.h
  src/analyzer/analyzerkey.cpp
  src/analyzer/analyzerkey.h
  src/analyzer/analyzersilence.cpp
  src/analyzer/analyzersilence.h
  src/analyzer/analyzerthread.cpp
  src/analyzer/analyzerwaveform.cpp
  src/analyzer/analyzerwaveform.h
  src/engine/cachingreader/cachingreader.h
  src/engine/cachingreader/cachingreaderchunk.h
  src/engine/cachingreader/cachingreaderworker.cpp
  src/engine/cachingreader/cachingreaderworker.h
  src/engine/enginebuffer.cpp
  src/engine/enginebuffer.h
  src/sources/audiosource.cpp
  src/test/analyserwaveformtest.cpp
  src/test/analyzersilence_test.cpp
  src/track/keyfactory.cpp
  src/track/keyfactory.h
  src/track/keyutils.cpp
  src/track/keyutils.h
  src/waveform/renderers/glslwaveformrenderersignal.cpp
  src/waveform/renderers/glvsynctestrenderer.cpp
  src/waveform/renderers/glwaveformrendererfilteredsignal.cpp
  src/waveform/renderers/glwaveformrendererrgb.cpp
  src/waveform/renderers/glwaveformrenderersimplesignal.cpp
  src/waveform/renderers/qtwaveformrendererfilteredsignal.cpp
  src/waveform/renderers/qtwaveformrenderersimplesignal.cpp
  src/waveform/renderers/waveformrenderbeat.cpp
  src/waveform/renderers/waveformrendererfilteredsignal.cpp
  src/waveform/renderers/waveformrendererhsv.cpp
  src/waveform/renderers/waveformrendererrgb.cpp
  src/waveform/renderers/waveformwidgetrenderer.cpp
  src/waveform/renderers/waveformwidgetrenderer.h
  src/waveform/waveform.cpp
  src/waveform/waveform.h
Labels: needs review, code quality

#11812 2.3.6 Release
  CMakeLists.txt
  packaging/debian/changelog
Labels: build

#11815 Fix calc of first beatgrid bar in Engine export
  src/library/export/engineprimeexportjob.cpp
Labels: library

#11816 Update to libdjinterop 0.19.2
  CMakeLists.txt
Labels: build

#11818 Pref Mixer: fix reset of EQ auto-reset checkbox
  src/preferences/dialog/dlgprefmixer.cpp
Labels: ui

#11823 Traktor Kontrol S2 Mk2 fix loaded chain preset CO
  res/controllers/Traktor-Kontrol-S2-MK2-hid-scripts.js
Labels: controllers

#11826 (fix) linux launcher: add missing quote to command line
  res/linux/org.mixxx.Mixxx.desktop
Labels: regression, linux, packaging

#11752 Library: add multi-line editor delegate for comment column
  CMakeLists.txt
  res/skins/Deere/style.qss
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
  res/skins/Shade/style.qss
  res/skins/Shade/style_dark.qss
  res/skins/Shade/style_summer_sunset.qss
  res/skins/Tango/style.qss
  src/library/basetracktablemodel.cpp
  src/library/bpmdelegate.h
  src/library/multilineeditdelegate.cpp
  src/library/multilineeditdelegate.h
  src/library/tableitemdelegate.cpp
  src/library/tableitemdelegate.h
Labels: skins, library, ui, build, feature, usability

#11848 Slip mode: consider loop for background position only if it was enabled before slip
  src/engine/controls/loopingcontrol.cpp
  src/engine/controls/loopingcontrol.h
  src/engine/enginebuffer.cpp
Labels: regression, looping, slip

#11851 fix(library): fix `PlaylistDAO::removeHiddenTracks` performance
  src/library/dao/playlistdao.cpp
Labels: library, regression, gui, performance

#11863 Qt6 prepare
  CMakeLists.txt
  cmake/modules/FindSleef.cmake
  cmake/modules/Findrubberband.cmake
  src/broadcast/broadcastmanager.cpp
  src/engine/sidechain/shoutconnection.cpp
  src/library/dao/trackdao.cpp
  src/preferences/dialog/dlgprefbroadcast.cpp
  src/util/versionstore.cpp
Labels: library, ui, build

#11873 AnalyzerThread: Pass `AnalyzerTrack` correctly again
  src/analyzer/analyzerthread.cpp
  src/analyzer/analyzertrack.h
  src/test/analyserwaveformtest.cpp
  src/test/analyzersilence_test.cpp
Labels: code quality

#11852 BaseExternalLibraryFeature: Add ability to import external playlists as crates
  src/library/baseexternallibraryfeature.cpp
  src/library/baseexternallibraryfeature.h
Labels: library

#11877 LibraryControl: Enable control inputs for Qt 6
  src/library/librarycontrol.cpp
Labels: library

#11842 WTrackmenu: use moveToTrash() with Qt >= 5.15
  src/widget/wtrackmenu.cpp
  src/widget/wtrackmenu.h
Labels: library, gui

#11880 CMakeLists: Fix `QT_TRANSLATION_FILE` path for Qt 6
  CMakeLists.txt
Labels: build

#11853 Pref Interface: avoid unneeded skin reload, clean up
  src/preferences/dialog/dlgprefinterface.cpp
  src/preferences/dialog/dlgprefinterface.h
  src/skin/legacy/colorschemeparser.cpp
Labels: ui, preferences

#11889 chore: update pre-commit hooks
  .codespellignorelines
  .pre-commit-config.yaml
Labels: code quality

#11870 WWidget: Disable touch events on macOS (fixing trackpad issues on Qt 6)
  src/widget/wwidget.cpp
Labels: ui

#11890 chore: Fix spelling and formatting issues
  .codespellignorelines
  .pre-commit-config.yaml
  CODE_OF_CONDUCT.md
  res/controllers/Roland_DJ-505-scripts.js
  src/engine/sync/synccontrol.h
  src/library/coverartcache.cpp
  src/library/coverartcache.h
  src/library/coverartdelegate.cpp
  src/library/coverartdelegate.h
  src/library/dao/playlistdao.h
  src/library/dlgcoverartfullsize.cpp
  src/library/dlgcoverartfullsize.h
  src/library/dlgtagfetcher.cpp
  src/library/dlgtagfetcher.h
  src/library/dlgtrackinfo.cpp
  src/library/dlgtrackinfo.h
  src/widget/wcoverart.cpp
  src/widget/wcoverart.h
  src/widget/wspinnybase.cpp
  src/widget/wspinnybase.h
  tools/json2github.py
Labels: controllers, library, ui, code quality

#11893 Silence OpenGL deprecation warnings on macOS
  CMakeLists.txt
Labels: build

#11892 Qt6 switch
  .github/workflows/build-checks.yml
  .github/workflows/build.yml
  CMakeLists.txt
  tools/debian_buildenv.sh
  tools/debian_buildenv_qt6.sh
  tools/macos_buildenv.sh
  tools/windows_buildenv.bat
Labels: build

#11883 add `ConfigObject::get-/setValue<EnumType>`
  src/engine/controls/cuecontrol.cpp
  src/engine/enginemaster.cpp
  src/engine/sync/enginesync.cpp
  src/library/autodj/autodjprocessor.cpp
  src/library/autodj/dlgautodj.cpp
  src/library/autodj/dlgautodj.h
  src/library/dlgtagfetcher.cpp
  src/mixer/basetrackplayer.cpp
  src/mixer/playermanager.cpp
  src/mixxxmainwindow.cpp
  src/preferences/configobject.h
  src/preferences/dialog/dlgprefautodj.cpp
  src/preferences/dialog/dlgprefautodj.h
  src/preferences/dialog/dlgprefdeck.cpp
  src/util/screensavermanager.cpp
  src/vinylcontrol/vinylcontrolmanager.cpp
  src/waveform/waveformwidgetfactory.cpp
Labels: library, ui
