Repository mixxxdj/mixxx, pull requests merged in 2023-11, with the labels that each got.

#12060 privat generated ui headers
  CMakeLists.txt
  src/coreservices.cpp
  src/coreservices.h
  src/qml/qmlapplication.cpp
  src/qml/qmlapplication.h
  src/qml/qmldlgpreferencesproxy.cpp
  src/qml/qmldlgpreferencesproxy.h
Labels: build

#12246 Playlists: simplify import function, add whitespace before the # suffix
  src/library/trackset/baseplaylistfeature.cpp
Labels: library

#12139 Allow switching between legacy and new QML UI with command arg
  .github/workflows/build.yml
  CMakeLists.txt
  src/control/controlmodel.cpp
  src/engine/enginebuffer.cpp
  src/library/librarycontrol.cpp
  src/main.cpp
  src/mixer/basetrackplayer.cpp
  src/preferences/dialog/dlgpreferences.cpp
  src/qml/qmlapplication.cpp
  src/qml/qmlapplication.h
  src/qml/qmlconfigproxy.cpp
  src/qml/qmlconfigproxy.h
  src/qml/qmleffectsmanagerproxy.cpp
  src/qml/qmleffectsmanagerproxy.h
  src/qml/qmllibraryproxy.cpp
  src/qml/qmllibraryproxy.h
  src/qml/qmlplayermanagerproxy.cpp
  src/qml/qmlplayermanagerproxy.h
  src/qml/qmlwaveformoverview.h
  src/skin/legacy/legacyskinparser.cpp
  src/test/controlobjectaliastest.cpp
  src/util/cmdlineargs.cpp
  src/util/cmdlineargs.h
  src/waveform/visualplayposition.cpp
  src/waveform/visualplayposition.h
Labels: library, engine, ui, build, needs review, code quality, preferences, waveform

#12255 Fix Qt6/QML build
  src/qml/qmldlgpreferencesproxy.cpp
  src/waveform/visualplayposition.cpp
Labels: waveform

#12252 make WHotcueButton learnable with the MIDI Wizard
  src/skin/legacy/legacyskinparser.cpp
  src/widget/whotcuebutton.cpp
  src/widget/whotcuebutton.h
Labels: controllers, ui, midi

#12263 SettingsManager: remove unused initializeDefaults()
  src/preferences/settingsmanager.cpp
  src/preferences/settingsmanager.h
Labels: ui

#12258 Fix update of play count after removing tracks from history playlist
  src/library/dao/trackdao.cpp
  tools/mixxxdb_cleanup.sql
Labels: library

#12203 improve rendering of waveform marks
  res/skins/LateNight/classic/style/mark_intro.svg
  res/skins/LateNight/classic/style/mark_loop.svg
  res/skins/LateNight/classic/style/mark_outro.svg
  res/skins/LateNight/waveform.xml
  src/waveform/renderers/allshader/waveformrendermark.cpp
  src/waveform/renderers/allshader/waveformrendermark.h
  src/waveform/renderers/waveformmark.cpp
  src/waveform/renderers/waveformmark.h
  src/waveform/renderers/waveformrendermark.cpp
  src/waveform/widgets/allshader/waveformwidget.cpp
  src/waveform/widgets/allshader/waveformwidget.h
Labels: skins

#12268 Fix Qt 6.6 build
  src/util/translations.h
  src/waveform/renderers/allshader/waveformrenderbeat.cpp
  src/waveform/renderers/allshader/waveformrendererendoftrack.cpp
  src/waveform/renderers/allshader/waveformrendererpreroll.cpp
  src/waveform/renderers/waveformrenderbeat.cpp
  src/waveform/renderers/waveformrendererendoftrack.cpp
  src/waveform/renderers/waveformrendererpreroll.cpp
  src/waveform/renderers/waveformsignalcolors.cpp
  src/widget/woverview.cpp
Labels: ui

#12138 macOS packaging: Enable app sandbox in unsigned 2.4 builds too
  cmake/modules/BundleInstall.cmake.in
Labels: build, macos, packaging, sandboxing

#12237 move ordering to waveformmarkset
  src/waveform/renderers/allshader/waveformrendermark.cpp
  src/waveform/renderers/waveformmarkset.cpp
  src/waveform/renderers/waveformmarkset.h
  src/waveform/renderers/waveformrendermark.cpp
  src/waveform/renderers/waveformwidgetrenderer.cpp
  src/waveform/renderers/waveformwidgetrenderer.h
  src/widget/woverview.cpp
  src/widget/woverview.h
Labels: ui

#12050 Skins: Fix checkbox styling on Qt 6
  res/skins/Deere/style.qss
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
  res/skins/Shade/style.qss
  res/skins/Shade/style_dark.qss
  res/skins/Tango/style.qss
Labels: skins

#12123 macOS packaging: Fix signing and migrate script to `notarytool`
  .github/workflows/build.yml
  cmake/modules/BundleInstall.cmake.in
  packaging/certificates/macos_developer_id_codesign_certificate.p12.enc
  packaging/macos/sign_notarize_staple.sh
Labels: build, macos, packaging

#12291 FindPortAudio: Link ALSA in static builds on Linux
  cmake/modules/FindPortAudio.cmake
Labels: build, linux, cmake

#12114 Addes the test SoftTakeoverTest.CatchOutOfBounds
  src/test/softtakeover_test.cpp
Labels: code quality

#12292 FindPortMidi: Link ALSA in static builds on Linux
  cmake/modules/FindPortMidi.cmake
Labels: build, linux, cmake

#12295 FindSleef: Use OpenMP in static builds
  cmake/modules/FindSleef.cmake
  cmake/modules/Findrubberband.cmake
Labels: build, cmake

#12297 FindVorbis: Link ogg in static builds
  cmake/modules/FindVorbis.cmake
Labels: build, cmake

#12294 FindLibudev: Link hidapi and libusb with libudev in static builds on Linux
  cmake/modules/FindLibUSB.cmake
  cmake/modules/FindLibudev.cmake
  cmake/modules/Findhidapi.cmake
Labels: build, linux, cmake

#12009 CoverArtCache refactoring + Fix scrolling lag after updating Mixxx
  CMakeLists.txt
  src/dialog/dlgreplacecuecolor.cpp
  src/library/autodj/autodjfeature.cpp
  src/library/autodj/autodjfeature.h
  src/library/basesqltablemodel.cpp
  src/library/basetracktablemodel.cpp
  src/library/basetracktablemodel.h
  src/library/coverart.cpp
  src/library/coverart.h
  src/library/coverartcache.cpp
  src/library/coverartcache.h
  src/library/coverartdelegate.cpp
  src/library/coverartdelegate.h
  src/library/coverartutils.cpp
  src/library/dao/cuedao.cpp
  src/library/dao/directorydao.cpp
  src/library/dao/trackdao.cpp
  src/library/dlgcoverartfullsize.cpp
  src/library/dlgcoverartfullsize.h
  src/library/dlgtagfetcher.cpp
  src/library/dlgtagfetcher.h
  src/library/dlgtrackinfo.cpp
  src/library/dlgtrackinfo.h
  src/library/export/coverartcopyworker.cpp
  src/library/export/dlglibraryexport.cpp
  src/library/export/engineprimeexportjob.cpp
  src/library/scanner/libraryscanner.cpp
  src/library/trackset/crate/cratestorage.cpp
  src/library/trackset/crate/cratetablemodel.cpp
  src/library/trackset/crate/cratetablemodel.h
  src/test/autodjprocessor_test.cpp
  src/test/coverartcache_test.cpp
  src/test/coverartutils_test.cpp
  src/test/dbidtest.cpp
  src/test/globaltrackcache_test.cpp
  src/test/playermanagertest.cpp
  src/test/trackreftest.cpp
  src/test/trackupdate_test.cpp
  src/track/track.h
  src/util/db/dbid.cpp
  src/util/db/dbid.h
  src/widget/wcoverart.cpp
  src/widget/wcoverart.h
  src/widget/wcoverartmenu.cpp
  src/widget/wspinnybase.cpp
  src/widget/wspinnybase.h
Labels: library, ui, build, code quality

#12288 Fix passing CMAKE_OSX_DEPLOYMENT_TARGET to subprojects
  CMakeLists.txt
Labels: build

#12293 Mixxx 2.4: Fail Qt6 build not on GitHub Actions
  CMakeLists.txt
Labels: build

#12302 Add missing #include directives
  src/effects/backends/effectsbackend.cpp
  src/effects/visibleeffectslist.h
  src/library/librarycontrol.cpp
  src/util/parented_ptr.h
Labels: library

#12300 (fix)Tag Fetcher: enable Apply button regardless the cover art
  src/library/dlgtagfetcher.cpp
Labels: library, regression

#11828 Expose [BPM],sync_lock_algorithm option in deck preferences.
  src/defs_urls.h
  src/engine/sync/enginesync.cpp
  src/engine/sync/enginesync.h
  src/preferences/dialog/dlgprefdeck.cpp
  src/preferences/dialog/dlgprefdeckdlg.ui
  src/skin/legacy/tooltips.cpp
Labels: ui, regression

#12281 Fix for visual waveform position while scratching outside of an activated loop
  src/waveform/visualplayposition.cpp
Labels: regression, waveform

#12308 Add missing includes
  src/controllers/midi/hss1394enumerator.h
  src/main.cpp
  src/preferences/upgrade.cpp
Labels: code quality

#12087 Fix coverart tootip if cover is not cached
  src/library/basetracktablemodel.cpp
  src/library/basetracktablemodel.h
  src/sources/metadatasourcetaglib.cpp
  src/test/librarytest.cpp
  src/test/playermanagertest.cpp
  src/widget/wlibrarytableview.cpp
  src/widget/wlibrarytableview.h
Labels: library, ui, build, code quality

#12309 Update libdjinterop to the latest release 0.20.1
  CMakeLists.txt
Labels: build

#12314 WWaveformViewer: Fix dangling pointer access and invalid connection
  src/widget/wwaveformviewer.cpp
  src/widget/wwaveformviewer.h
Labels: ui

#12320 Effects: center Super knob when loading empty (QuickEffect) chain preset
  src/effects/presets/effectchainpresetmanager.cpp
Labels: effects, gui

#12321 Tracks table: avoid wrong pre-selection with no tracks selected previously
  src/widget/wlibrarytableview.cpp
  src/widget/wtracktableview.cpp
Labels: ui

#12322 Korg nanoKontrol2: don't try to configure more than 4 main decks
  res/controllers/Korg-nanoKONTROL-2-scripts.js
Labels: controllers

#12327 Impove Includes
  src/preferences/colorpaletteeditormodel.cpp
  src/util/rangelist.cpp
  src/waveform/renderers/waveformrendererabstract.h
Labels: ui

#12339 Skins: fix style of selected QComboBox items on Windows
  res/skins/Deere/style.qss
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
  res/skins/Shade/style.qss
  res/skins/Shade/style_dark.qss
  res/skins/Shade/style_summer_sunset.qss
  res/skins/Tango/style.qss
Labels: skins

#12342 Revert "BaseTrackPlayer: Remove references to WaveformWidgetRenderer when using Qt6"
  src/mixer/basetrackplayer.cpp
Labels: skins, library, ui, build, code quality

#12103 Fix reading the Spinny cover on Windows
  src/library/coverartcache.cpp
  src/library/coverartcache.h
  src/test/coverartcache_test.cpp
Labels: library, ui, build, code quality

#12346 ITunesDAO: Add missing `<ostream>` include
  src/library/itunes/itunesdao.h
Labels: library

#12350 CMakeLists: Relativize `__FILE__` paths by default
  CMakeLists.txt
Labels: build, polish

#12344 Debug: Add Rust-inspired `DBG` macro for quick print-debugging
  CMakeLists.txt
  src/util/debug.h
Labels: code quality

#12351 CMakeLists: Fix doubly escaped gitinfo paths
  CMakeLists.txt
Labels: build, cmake

#12205 make scaling of GLSL RGB and RGB L/R waveform amplitudes consistent with simple waveform
  src/waveform/renderers/allshader/waveformrendererlrrgb.cpp
  src/waveform/renderers/allshader/waveformrendererrgb.cpp
Labels: needs review

#12359 Fix 500ms blocking of the whole event loop, when holding mouse down on title bar on Windows
  CMakeLists.txt
  src/main.cpp
  src/nativeeventhandlerwin.cpp
  src/nativeeventhandlerwin.h
Labels: build

#12349 Beats: Fix unsafe overflow checks and debug asserts
  src/track/beats.cpp
Labels: beatgrid

#12375 OS macros
  src/encoder/encodersndfileflac.h
  src/encoder/encoderwave.h
  src/test/playlisttest.cpp
  src/util/battery/battery.cpp
  src/util/screensaver.cpp
  src/util/threadcputimer.cpp
Labels: code quality, regression
