Repository mixxxdj/mixxx, pull requests merged in 2024-07, with the labels that each got.

#13423 Removed unused setSVG and hash functionality from pixmapsource
  src/skin/legacy/pixmapsource.cpp
  src/skin/legacy/pixmapsource.h
  src/widget/paintable.cpp
  src/widget/wimagestore.cpp
  src/widget/wimagestore.h
  src/widget/wpixmapstore.cpp
  src/widget/wpixmapstore.h
Labels: ui

#13401 Add minute markers on horizontal waveform overview
  src/preferences/dialog/dlgprefwaveform.cpp
  src/preferences/dialog/dlgprefwaveform.h
  src/preferences/dialog/dlgprefwaveformdlg.ui
  src/widget/woverview.cpp
  src/widget/woverview.h
Labels: ui, preferences, waveform

#13424 Made Paintable::DrawMode an enum class
  src/widget/paintable.cpp
  src/widget/paintable.h
  src/widget/wbattery.cpp
  src/widget/wdisplay.cpp
  src/widget/wknobcomposed.cpp
  src/widget/wpushbutton.cpp
  src/widget/wslidercomposed.cpp
  src/widget/wspinnybase.cpp
  src/widget/wstatuslight.cpp
  src/widget/wvumeterbase.cpp
  src/widget/wvumeterlegacy.cpp
  src/widget/wwidgetgroup.cpp
Labels: ui

#13426 (fix) Library: show Properties action in Missing and Hidden
  src/library/librarytablemodel.cpp
  src/library/missing_hidden/hiddentablemodel.cpp
  src/library/missing_hidden/missingtablemodel.cpp
  src/library/playlisttablemodel.cpp
  src/library/trackmodel.h
  src/library/trackset/crate/cratetablemodel.cpp
  src/widget/wtrackmenu.cpp
Labels: library, ui

#13435 Paintable cleanup
  src/widget/paintable.cpp
  src/widget/paintable.h
  src/widget/wimagestore.cpp
Labels: ui

#13458 hash clean up
  src/widget/paintable.h
  src/widget/wimagestore.h
  src/widget/wpixmapstore.h
Labels: ui

#13404 feat(controllers): add controller settings for the Numark Scratch
  res/controllers/Numark-Scratch-scripts.js
  res/controllers/Numark-Scratch.midi.xml
Labels: controller mappings

#13463 fix: `components.Pot` producing wrong result on first value
  res/controllers/midi-components-0.0.js
Labels: controller mappings

#13448 Library: fix font reset in multiline comment editor
  src/library/tabledelegates/multilineeditdelegate.cpp
Labels: library, ui

#13390 feat: static color coding for key column
  CMakeLists.txt
  src/library/basetracktablemodel.cpp
  src/library/basetracktablemodel.h
  src/library/tabledelegates/keydelegate.cpp
  src/library/tabledelegates/keydelegate.h
  src/preferences/colorpalettesettings.h
  src/preferences/dialog/dlgprefcolors.cpp
  src/preferences/dialog/dlgprefcolors.h
  src/preferences/dialog/dlgprefcolorsdlg.ui
  src/skin/legacy/legacyskinparser.cpp
  src/track/keyutils.cpp
  src/track/keyutils.h
  src/util/color/predefinedcolorpalettes.cpp
  src/util/color/predefinedcolorpalettes.h
Labels: library, ui, build, preferences

#13106 Add analyser support for stem
  src/analyzer/analyzer.h
  src/analyzer/analyzerbeats.cpp
  src/analyzer/analyzerbeats.h
  src/analyzer/analyzerebur128.cpp
  src/analyzer/analyzerebur128.h
  src/analyzer/analyzergain.cpp
  src/analyzer/analyzergain.h
  src/analyzer/analyzerkey.cpp
  src/analyzer/analyzerkey.h
  src/analyzer/analyzersilence.cpp
  src/analyzer/analyzersilence.h
  src/analyzer/analyzerthread.cpp
  src/analyzer/analyzerwaveform.cpp
  src/analyzer/analyzerwaveform.h
  src/analyzer/constants.h
  src/preferences/beatdetectionsettings.h
  src/preferences/dialog/dlgprefbeats.cpp
  src/preferences/dialog/dlgprefbeats.h
  src/preferences/dialog/dlgprefbeatsdlg.ui
  src/preferences/dialog/dlgprefkey.cpp
  src/preferences/dialog/dlgprefkey.h
  src/preferences/dialog/dlgprefkeydlg.ui
  src/preferences/keydetectionsettings.h
  src/proto/waveform.proto
  src/sources/audiosourcestereoproxy.cpp
  src/sources/soundsourcestem.cpp
  src/sources/soundsourcestem.h
  src/test/analyserwaveformtest.cpp
  src/test/analyzersilence_test.cpp
  src/test/sampleutiltest.cpp
  src/util/sample.cpp
  src/util/sample.h
  src/waveform/waveform.cpp
  src/waveform/waveform.h
  src/waveform/waveformfactory.h
Labels: skins, library, engine, ui, build, code quality, preferences, waveform, soundsource, analyzer, qml

#13475 fix: Key text is elided from left, should be right
  src/library/tabledelegates/keydelegate.cpp
Labels: library

#13485 SlipModeShader: Set precision qualifiers for GL ES support
  src/shaders/slipmodeshader.cpp
Labels: ios

#13488 LegacySkinParser: Short-circuit if template fails to open
  src/skin/legacy/legacyskinparser.cpp
Labels: skins

#13450 (fix) Sound preferences: don't set m_settingsModified in update slots
  src/preferences/dialog/dlgprefsound.cpp
  src/preferences/dialog/dlgprefsound.h
Labels: ui, preferences, soundio

#13487 SoundManagerIOS: Remove unsupported/redundant options
  src/soundio/soundmanagerios.mm
Labels: soundio, ios

#13481 (fix) avoid catching Num key modifier on macOS
  src/controllers/keyboard/keyboardeventfilter.cpp
Labels: keyboard, macos, controller backend

#13460 Deprecate `lodash.mixxx.js`, and `script.deepMerge`
  res/controllers/common-controller-scripts.js
  res/controllers/lodash.mixxx.js
  res/controllers/midi-components-0.0.js
Labels: controller mappings

#13503 clang-format: Indent Objective-C blocks with 4 spaces
  .clang-format
Labels: code quality

#13502 ControllerRenderingEngine: Disable BGRA when targeting Wasm
  src/controllers/rendering/controllerrenderingengine.cpp
Labels: controller backend, wasm

#13117 MIDI for light: Fix unsound timer handling
  res/controllers/Midi_for_light-scripts.js
Labels: controller mappings

#13501 Update waveforms_container.xml
  res/skins/LateNight/controls/button_4state_display.xml
  res/skins/LateNight/style.qss
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
  res/skins/LateNight/toolbar.xml
  res/skins/LateNight/waveforms_container.xml
Labels: skins

#13506 fix(cmake): Remove target compile defs for non-existing QML target
  CMakeLists.txt
Labels: build, cmake, qml

#13505 fix(basetracktablemodel): Fix `-Wimplicit-fallthrough` warning on GCC 14.1.1
  src/library/basetracktablemodel.cpp
Labels: library, build

#13425 Don't return in JogWheelBasic on deck absent in option
  res/controllers/midi-components-0.0.js
Labels: controller mappings

#13495 (fix) LateNight: add/tweak CueDelete icons
  res/skins/LateNight/classic/buttons/btn__delete.svg
  res/skins/LateNight/palemoon/buttons/btn__delete_active.svg
  res/skins/LateNight/style_classic.qss
Labels: skins

#13507 Merge 2.4 into 2.5
  res/controllers/Midi_for_light-scripts.js
  src/controllers/keyboard/keyboardeventfilter.cpp
Labels: controller mappings, controller backend

#13504 GCC 14.1.1 fixes
  src/util/sample.h
  src/waveform/waveformwidgetfactory.h
Labels: build, bug, waveform

#13491 fix high details waveforms wrapping around after visual index 65K
  res/shaders/filteredsignal.frag
  res/shaders/rgbsignal.frag
  res/shaders/stackedsignal.frag
  src/waveform/renderers/allshader/waveformrenderertextured.cpp
  src/waveform/renderers/allshader/waveformrenderertextured.h
  src/waveform/waveform.h
Labels: waveform

#13514 Disable WSwitch for generated source
  CMakeLists.txt
Labels: build

#13522 Disable warning in lib/apple code
  CMakeLists.txt
Labels: build

#13086 Add stem controls
  CMakeLists.txt
  res/qml/EqColumn.qml
  res/qml/Mixer.qml
  res/qml/StemKnob.qml
  src/analyzer/analyzerwaveform.cpp
  src/analyzer/analyzerwaveform.h
  src/analyzer/constants.h
  src/engine/channels/enginedeck.cpp
  src/engine/channels/enginedeck.h
  src/mixer/basetrackplayer.cpp
  src/mixer/basetrackplayer.h
  src/preferences/dialog/dlgprefmixer.cpp
  src/preferences/dialog/dlgprefmixer.h
  src/preferences/dialog/dlgprefmixerdlg.ui
  src/qml/qmlplayerproxy.cpp
  src/qml/qmlplayerproxy.h
  src/qml/qmlstemsmodel.cpp
  src/qml/qmlstemsmodel.h
  src/test/reference_buffers/StemMuteControlDrumAndBass
  src/test/reference_buffers/StemMuteControlFull
  src/test/reference_buffers/StemVolumeControlDrumAndBass
  src/test/reference_buffers/StemVolumeControlDrumOnly
  src/test/reference_buffers/StemVolumeControlFull
  src/test/reference_buffers/StemVolumeControlSilence
  src/test/stemcontrolobjecttest.cpp
  src/track/track.h
  src/waveform/renderers/allshader/waveformrendererfiltered.cpp
  src/waveform/renderers/allshader/waveformrendererhsv.cpp
  src/waveform/renderers/allshader/waveformrendererrgb.cpp
  src/waveform/renderers/allshader/waveformrendererstem.cpp
  src/waveform/renderers/allshader/waveformrendererstem.h
  src/waveform/renderers/allshader/waveformrenderertextured.cpp
  src/waveform/renderers/allshader/waveformrendermark.cpp
  src/waveform/waveform.h
  src/waveform/waveformfactory.h
  src/waveform/widgets/allshader/waveformwidget.cpp
Labels: skins, library, engine, ui, build, code quality, preferences, waveform, soundsource, analyzer, qml
