Repository mixxxdj/mixxx, pull requests merged in 2024-10, with the labels that each got.

#13649 Fix RubberBand segafult when changing audio setting
  src/engine/bufferscalers/enginebufferscalerubberband.cpp
  src/preferences/dialog/dlgprefsound.cpp
  src/soundio/soundmanager.cpp
  src/soundio/soundmanager.h
Labels: engine, preferences, soundio

#13736 fix: trigger QML waveform slot at init
  src/qml/qmlplayerproxy.cpp
Labels: qml

#13733 Metronome: Fix noise when pausing track in in the middle of the click sound.
  src/effects/backends/builtin/metronomeeffect.cpp
Labels: effects

#13628 Auto dj cross fader center
  src/library/autodj/autodjprocessor.cpp
  src/library/autodj/autodjprocessor.h
  src/library/autodj/dlgautodj.cpp
Labels: library, ui, autodj, preferences

#13607 refactor: split out `AutoFileReloader` from `QmlAutoReload`
  CMakeLists.txt
  src/qml/qmlautoreload.cpp
  src/qml/qmlautoreload.h
  src/util/autofilereloader.cpp
  src/util/autofilereloader.h
Labels: build, qml

#13622 Modernize Hid/Bulk Lists
  src/controllers/bulk/bulkcontroller.cpp
  src/controllers/bulk/bulkcontroller.h
  src/controllers/bulk/bulkenumerator.cpp
  src/controllers/bulk/bulksupported.h
  src/controllers/hid/hiddenylist.h
  src/controllers/hid/hidenumerator.cpp
Labels: controller backend

#13740 fix: prevent null CO access when cloning sampler or preview
  src/engine/channels/enginechannel.h
  src/engine/channels/enginedeck.cpp
Labels: engine

#13739 (fix) Overview waveform: add tooltip info about left-click dragging
  src/skin/legacy/tooltips.cpp
  src/widget/woverview.cpp
Labels: ui, overview, tooltip

#13738 (fix) Controllers: return from loadSettings() when there's no mapping file
  src/controllers/legacycontrollermapping.cpp
Labels: controller backend

#13756 fix: add explicit virtual destructor in order to fix linker issues
  CMakeLists.txt
  src/util/autofilereloader.cpp
  src/util/autofilereloader.h
Labels: build

#13735 Prevent deadlock with BULK transfert and reduce log noise
  src/controllers/bulk/bulkcontroller.cpp
Labels: code quality, controller backend

#13757 Fix Clazy v1.12 errors in 2.4
  src/broadcast/broadcastmanager.cpp
  src/controllers/controllermanager.cpp
  src/controllers/dlgprefcontroller.cpp
  src/controllers/dlgprefcontrollers.cpp
  src/controllers/midi/legacymidicontrollermappingfilehandler.cpp
  src/dialog/dlgreplacecuecolor.cpp
  src/effects/effectslot.cpp
  src/effects/presets/effectpreset.cpp
  src/library/banshee/bansheefeature.cpp
  src/library/dao/trackdao.cpp
  src/library/trackcollection.cpp
  src/library/trackset/baseplaylistfeature.cpp
  src/library/trackset/crate/cratefeature.cpp
  src/musicbrainz/web/coverartarchiveimagetask.h
  src/musicbrainz/web/musicbrainzrecordingstask.h
  src/network/jsonwebtask.h
  src/preferences/broadcastsettings.cpp
  src/preferences/colorpaletteeditor.cpp
  src/soundio/sounddevicenetwork.cpp
  src/soundio/soundmanager.cpp
  src/soundio/soundmanagerconfig.cpp
  src/test/seratobeatgridtest.cpp
  src/test/seratomarkers2test.cpp
  src/test/seratomarkerstest.cpp
  src/waveform/renderers/waveformmark.cpp
  src/waveform/renderers/waveformrendermarkbase.cpp
  src/widget/weffectchainpresetbutton.cpp
  src/widget/whotcuebutton.cpp
  src/widget/woverview.cpp
  src/widget/wsplitter.cpp
  src/widget/wtrackmenu.cpp
Labels: effects, library, ui, code quality, preferences, waveform, broadcast, soundio, controller backend

#13764 fix: make `hotcue_focus_color_next`/`_prev` COs `ControlPushButton`s
  src/engine/controls/cuecontrol.cpp
  src/engine/controls/cuecontrol.h
Labels: engine

#13769 Fix Clazy v1.12 errors in 2.5
  src/controllers/controlpickermenu.cpp
  src/controllers/legacycontrollermapping.cpp
  src/library/dlgtrackinfomulti.cpp
  src/library/searchqueryparser.cpp
  src/qml/qmlplayerproxy.cpp
  src/widget/wtracktableview.cpp
Labels: library, ui, code quality, search, qml, controller backend

#13770 Fix Clazy v1.12 errors in main
  src/test/controllerrenderingengine_test.cpp
  src/track/steminfoimporter.cpp
Labels: code quality

#13679 Scaled svg cache
  src/widget/paintable.cpp
  src/widget/paintable.h
Labels: ui, performance

#13785 chore: pin Node.JS pre-commit hooks to use LTS
  .pre-commit-config.yaml
Labels: code quality

#13788 Replace module wide Qt includes to make 2.5 compliant with Clazy 1.12
  src/control/controlsortfiltermodel.h
  src/dialog/dlgreplacecuecolor.cpp
  src/library/banshee/bansheedbconnection.cpp
  src/library/banshee/bansheedbconnection.h
  src/library/banshee/bansheeplaylistmodel.cpp
  src/library/baseexternaltrackmodel.cpp
  src/library/basesqltablemodel.h
  src/library/basetracktablemodel.cpp
  src/library/browse/browsefeature.cpp
  src/library/browse/browsefeature.h
  src/library/browse/browsetablemodel.cpp
  src/library/coverartcache.cpp
  src/library/dao/analysisdao.cpp
  src/library/dao/cuedao.cpp
  src/library/dao/libraryhashdao.cpp
  src/library/itunes/itunesfeature.cpp
  src/library/queryutil.h
  src/library/rhythmbox/rhythmboxfeature.cpp
  src/library/serato/seratofeature.cpp
  src/library/trackmodel.h
  src/library/trackset/baseplaylistfeature.cpp
  src/library/trackset/crate/cratefeature.cpp
  src/library/trackset/playlistfeature.cpp
  src/library/trackset/setlogfeature.cpp
  src/library/traktor/traktorfeature.cpp
  src/library/traktor/traktorfeature.h
  src/mixxxmainwindow.cpp
  src/qml/qmlconfigproxy.h
  src/qml/qmlcontrolproxy.h
  src/qml/qmldlgpreferencesproxy.h
  src/qml/qmleffectmanifestparametersmodel.h
  src/qml/qmleffectslotproxy.h
  src/qml/qmleffectsmanagerproxy.h
  src/qml/qmllibraryproxy.h
  src/qml/qmllibrarytracklistmodel.h
  src/qml/qmlplayermanagerproxy.h
  src/qml/qmlplayerproxy.h
  src/qml/qmlvisibleeffectsmodel.h
  src/qml/qmlwaveformoverview.h
  src/test/directorydaotest.cpp
  src/util/desktophelper.cpp
  src/util/screensaver.cpp
Labels: library, ui, build, code quality, itunes, browse, serato, qml

#13731 (skins) allow to set LaunchImage style per color scheme
  res/skins/LateNight/classic/style/mixxx_logo.svg
  res/skins/LateNight/classic/style/progressbar.svg
  res/skins/LateNight/classic/style/progressbar_bg.svg
  res/skins/LateNight/skin.xml
  res/skins/Shade/skin.xml
  src/skin/legacy/colorschemeparser.cpp
  src/skin/legacy/colorschemeparser.h
  src/skin/legacy/legacyskinparser.cpp
Labels: skins

#12296 Reloop Mixage MK1, MK2, Controller Edition mappings for Mixxx 2.4
  res/controllers/Reloop-Mixage.midi.xml
  res/controllers/Reloop-Mixage.scripts.js
Labels: controller mappings

#13790 DjInterop PR #13709 with new VCPKG buildenv
  CMakeLists.txt
  src/library/export/engineprimeexportjob.cpp
  tools/macos_buildenv.sh
  tools/windows_buildenv.bat
Labels: library, build

#13709 libdjinterop 0.22.1, support for Engine 4.0.1
  CMakeLists.txt
  src/library/export/engineprimeexportjob.cpp
Labels: library, build

#13737 feat: improve screen rendering framework
  CMakeLists.txt
  res/controllers/DummyDeviceDefaultScreen.qml
  src/controllers/bulk/bulkcontroller.cpp
  src/controllers/bulk/bulkcontroller.h
  src/controllers/controller.h
  src/controllers/controllerscreenpreview.cpp
  src/controllers/hid/hidcontroller.cpp
  src/controllers/hid/hidcontroller.h
  src/controllers/midi/hss1394controller.cpp
  src/controllers/midi/hss1394controller.h
  src/controllers/midi/portmidicontroller.cpp
  src/controllers/midi/portmidicontroller.h
  src/controllers/rendering/controllerrenderingengine.cpp
  src/controllers/scripting/legacy/controllerscriptenginelegacy.cpp
  src/controllers/scripting/legacy/controllerscriptenginelegacy.h
  src/controllers/scripting/legacy/controllerscriptinterfacelegacy.cpp
  src/qml/qmlmixxxcontrollerscreen.cpp
  src/qml/qmlmixxxcontrollerscreen.h
  src/test/controller_mapping_validation_test.h
  src/test/controllerscriptenginelegacy_test.cpp
  src/test/midicontrollertest.cpp
Labels: controller mappings, build, code quality, qml, controller backend

#13815 Remove tap beat mapping for DDJ-400 and DDJ-FLX4
  res/controllers/Pioneer-DDJ-400.midi.xml
  res/controllers/Pioneer-DDJ-FLX4.midi.xml
Labels: controller mappings
