Repository mixxxdj/mixxx, pull requests merged in 2024-08, with the labels that each got.

#13430 Skins: fix time display to allow AM/PM
  res/skins/Deere/tool_bar.xml
  res/skins/LateNight/toolbar.xml
  res/skins/Shade/mixer_panel.xml
  res/skins/Tango/topbar.xml
Labels: skins

#13364 (fix) Library: repair Del hotkey in sidebar, add Clear Queue action to AutoDJ, add hotkeys
  src/library/autodj/autodjfeature.cpp
  src/library/autodj/autodjfeature.h
  src/library/sidebarmodel.cpp
  src/widget/wlibrarysidebar.cpp
Labels: library, ui, autodj, regression, keyboard

#13538 (fix) use 'played' track color also for played/play count delegate
  CMakeLists.txt
  src/library/basetracktablemodel.cpp
  src/library/tabledelegates/bpmdelegate.cpp
  src/library/tabledelegates/bpmdelegate.h
  src/library/tabledelegates/checkboxdelegate.cpp
  src/library/tabledelegates/checkboxdelegate.h
  src/library/tabledelegates/playcountdelegate.cpp
Labels: library, build

#13535 (fix/Qt6) Skins: hide reserved space for invisible table header sort indicators
  res/skins/Deere/style.qss
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
  res/skins/Shade/style.qss
  res/skins/Tango/style.qss
Labels: skins, library, regression, QT6

#13545 Fix detection last sound if track does not end with silence.
  src/analyzer/analyzersilence.cpp
Labels: analyzer

#13552 Refactor fix trivial cpp coreguideline violations
  .clang-format
  src/analyzer/analyzergain.cpp
  src/analyzer/analyzergain.h
  src/control/controlvalue.h
  src/controllers/legacycontrollermapping.h
  src/controllers/legacycontrollersettingslayout.h
  src/effects/effectbuttonparameterslot.cpp
  src/effects/effectbuttonparameterslot.h
  src/effects/effectknobparameterslot.cpp
  src/effects/effectknobparameterslot.h
  src/effects/effectparameterslotbase.cpp
  src/effects/effectparameterslotbase.h
  src/effects/effectslot.cpp
  src/library/basetracktablemodel.cpp
Labels: effects, library, code quality, analyzer, controller backend

#13549 (fix) pre-commit/qsscheck: add c++ ObjectNames set via variable in #13538
  src/library/tabledelegates/checkboxdelegate.cpp
  tools/qsscheck.py
Labels: library

#13497 Add Key Color Palettes
  src/library/basetracktablemodel.cpp
  src/library/basetracktablemodel.h
  src/library/tabledelegates/keydelegate.cpp
  src/preferences/colorpalettesettings.cpp
  src/preferences/colorpalettesettings.h
  src/preferences/dialog/dlgprefcolors.cpp
  src/preferences/dialog/dlgprefcolors.h
  src/preferences/dialog/dlgprefcolorsdlg.ui
  src/skin/legacy/legacyskinparser.cpp
  src/track/keyutils.cpp
  src/track/keyutils.h
  src/util/color/predefinedcolorpalettes.cpp
  src/util/color/predefinedcolorpalettes.h
Labels: library, ui, preferences

#13553 Refactor: modernize softtakeover code
  src/controllers/midi/midicontroller.cpp
  src/controllers/midi/midicontroller.h
  src/controllers/scripting/legacy/controllerscriptinterfacelegacy.cpp
  src/controllers/scripting/legacy/controllerscriptinterfacelegacy.h
  src/controllers/softtakeover.cpp
  src/controllers/softtakeover.h
  src/effects/effectknobparameterslot.cpp
  src/effects/effectknobparameterslot.h
  src/effects/effectslot.cpp
  src/test/controller_mapping_file_handler_test.cpp
  src/test/controllerrenderingengine_test.cpp
  src/test/controllers/controller_columnid_regression_test.cpp
  src/test/controllerscriptenginelegacy_test.cpp
  src/test/metaknob_link_test.cpp
  src/test/softtakeover_test.cpp
  src/util/time.cpp
  src/util/time.h
Labels: effects, code quality, controller backend

#13530 chore: update pre-commit hook
  .pre-commit-config.yaml
Labels: code quality

#13567 chore: fix codespell complaints
  .codespellignore
  .codespellignorelines
  CHANGELOG.md
  CMakeLists.txt
  cmake/modules/FindTagLib.cmake
  packaging/CPackConfig.cmake
  res/controllers/Denon-MC4000-scripts.js
  res/controllers/Gemini-CDMP-7000-scripts.js
  res/controllers/Hercules-DJ-Console-4-Mx-scripts.js
  res/controllers/Midi_for_light-scripts.js
  res/controllers/Pioneer-DDJ-200-scripts.js
  res/controllers/Pioneer-DDJ-SB3-scripts.js
  res/controllers/Sony-SixxAxis.js
  res/controllers/Traktor-Kontrol-S4-MK3.js
  res/linux/org.mixxx.Mixxx.metainfo.xml
  res/skins/Tango/decks/row_comment_fx_left.xml
  res/skins/Tango/decks/row_comment_fx_right.xml
  res/skins/Tango/skin_settings.xml
  src/controllers/hid/hidioglobaloutputreportfifo.cpp
  src/encoder/encoder.cpp
  src/encoder/encoder.h
  src/engine/sidechain/enginenetworkstream.cpp
  src/library/basetracktablemodel.cpp
  src/preferences/colorpaletteeditormodel.cpp
  src/preferences/dialog/dlgprefrecord.cpp
  src/test/controlobjectscripttest.cpp
  src/track/track.h
  src/widget/wbasewidget.h
  src/widget/weffectchainpresetselector.cpp
Labels: code quality

#11096 Keep the metadata key text unchanged, use it as the origin of information
  CMakeLists.txt
  src/library/dao/trackdao.cpp
  src/sources/soundsourceproxy.h
  src/test/trackmetadataexport_test.cpp
  src/track/keyfactory.cpp
  src/track/keys.h
  src/track/keyutils.cpp
  src/track/keyutils.h
  src/track/track.cpp
  src/track/trackrecord.cpp
  src/track/trackrecord.h
Labels: library, build, code quality, soundsource, key

#13571 Fix BPM and Bitrate columns were wider than normal
  src/library/basetracktablemodel.cpp
Labels: library

#13165 Remove autdated ASSERT fixing #13164
  src/library/basesqltablemodel.h
  src/library/basetracktablemodel.cpp
  src/library/basetracktablemodel.h
Labels: library, needs review

#13218 Fix reading metadata for some file extensions
  src/sources/metadatasourcetaglib.cpp
  src/sources/metadatasourcetaglib.h
  src/sources/soundsource.cpp
  src/sources/soundsourceffmpeg.cpp
  src/sources/soundsourcesndfile.cpp
  src/test/seratobeatgridtest.cpp
  src/test/seratomarkers2test.cpp
  src/test/seratomarkerstest.cpp
  src/test/seratotagstest.cpp
  src/test/soundproxy_test.cpp
  src/test/taglibtest.cpp
  src/track/beatsimporter.h
  src/track/cueinfoimporter.cpp
  src/track/cueinfoimporter.h
  src/track/serato/beatgrid.cpp
  src/track/serato/beatsimporter.cpp
  src/track/serato/beatsimporter.h
  src/track/serato/cueinfoimporter.cpp
  src/track/serato/cueinfoimporter.h
  src/track/serato/markers.cpp
  src/track/serato/markers2.cpp
  src/track/serato/tags.cpp
  src/track/serato/tags.h
  src/track/taglib/trackmetadata_file.cpp
  src/track/taglib/trackmetadata_file.h
  src/track/taglib/trackmetadata_id3v2.cpp
  src/track/track.cpp
Labels: code quality, soundsource

#13577 DlgPrefSound: Add missing ifdefs for building without Rubberband
  src/preferences/dialog/dlgprefsound.cpp
Labels: ui, preferences, ios

#13541 improve Taglib/SoundSource logging
  src/sources/metadatasourcetaglib.cpp
  src/sources/soundsourceproxy.cpp
  src/track/taglib/trackmetadata_file.cpp
  src/track/taglib/trackmetadata_file.h
Labels: soundsource

#13579 (fix) History: remove purged tracks, auto-remove empty playlists
  src/library/dao/playlistdao.cpp
Labels: library

#13354 Optimize control code
  CMakeLists.txt
  src/broadcast/broadcastmanager.cpp
  src/control/control.cpp
  src/control/control.h
  src/control/controlbehavior.cpp
  src/control/controlbehavior.h
  src/control/controlbuttonmode.h
  src/control/controlmodel.cpp
  src/control/controlpushbutton.cpp
  src/control/controlpushbutton.h
  src/effects/effectbuttonparameterslot.cpp
  src/effects/effectchain.cpp
  src/effects/effectknobparameterslot.cpp
  src/effects/effectslot.cpp
  src/engine/channels/enginechannel.cpp
  src/engine/channels/enginedeck.cpp
  src/engine/controls/bpmcontrol.cpp
  src/engine/controls/cuecontrol.cpp
  src/engine/controls/keycontrol.cpp
  src/engine/controls/loopingcontrol.cpp
  src/engine/controls/quantizecontrol.cpp
  src/engine/controls/vinylcontrolcontrol.cpp
  src/engine/enginebuffer.cpp
  src/engine/enginemixer.cpp
  src/engine/enginetalkoverducking.cpp
  src/engine/sync/internalclock.cpp
  src/engine/sync/synccontrol.cpp
  src/library/autodj/autodjprocessor.cpp
  src/library/librarycontrol.cpp
  src/skin/legacy/legacyskinparser.cpp
  src/skin/skincontrols.cpp
  src/skin/skinloader.cpp
  src/test/autodjprocessor_test.cpp
  src/test/midicontrollertest.cpp
  src/test/wpushbutton_test.cpp
  src/widget/wpushbutton.cpp
  src/widget/wpushbutton.h
Labels: effects, library, engine, ui, build, autodj, code quality, sync, broadcast

#4684 Denon MC7000: Add optional jog wheel acceleration to the controller mapping
  res/controllers/Denon-MC7000-scripts.js
  res/controllers/Denon-MC7000.midi.xml
Labels: controller mappings

#13486 CmdLineArgs: Determine whether to color output based on `TERM` variable
  src/util/cmdlineargs.cpp
Labels: ios

#13513 MIDI for light: Implement new Active deck heuristic
  res/controllers/Midi_for_light-scripts.js
Labels: controller mappings

#12909 Synchronize AutoDJ next deck with top track in queue
  src/library/autodj/autodjprocessor.cpp
  src/library/autodj/autodjprocessor.h
  src/library/playlisttablemodel.cpp
  src/library/playlisttablemodel.h
Labels: library, autodj

#13584 Merge 2.4
  src/library/autodj/autodjprocessor.cpp
  src/library/autodj/autodjprocessor.h
  src/library/basesqltablemodel.h
  src/library/basetracktablemodel.cpp
  src/library/basetracktablemodel.h
  src/library/dao/playlistdao.cpp
  src/library/playlisttablemodel.cpp
  src/library/playlisttablemodel.h
  src/sources/metadatasourcetaglib.cpp
  src/sources/metadatasourcetaglib.h
  src/sources/soundsource.cpp
  src/sources/soundsourceffmpeg.cpp
  src/sources/soundsourcesndfile.cpp
  src/test/seratobeatgridtest.cpp
  src/test/seratomarkers2test.cpp
  src/test/seratomarkerstest.cpp
  src/test/seratotagstest.cpp
  src/test/soundproxy_test.cpp
  src/test/taglibtest.cpp
  src/track/beatsimporter.h
  src/track/cueinfoimporter.cpp
  src/track/cueinfoimporter.h
  src/track/serato/beatgrid.cpp
  src/track/serato/beatsimporter.cpp
  src/track/serato/beatsimporter.h
  src/track/serato/cueinfoimporter.cpp
  src/track/serato/cueinfoimporter.h
  src/track/serato/markers.cpp
  src/track/serato/markers2.cpp
  src/track/serato/tags.cpp
  src/track/serato/tags.h
  src/track/taglib/trackmetadata_file.cpp
  src/track/taglib/trackmetadata_file.h
  src/track/taglib/trackmetadata_id3v2.cpp
  src/track/track.cpp
Labels: library, autodj, code quality, soundsource

#13588 Denon MC7000: Fix star up/down logic by only handling button down events
  res/controllers/Denon-MC7000-scripts.js
Labels: controller mappings

#13568 Refactor `EngineMixer`
  .codespellignorelines
  src/coreservices.cpp
  src/engine/enginemixer.cpp
  src/engine/enginemixer.h
  src/engine/engineworkerscheduler.cpp
  src/engine/engineworkerscheduler.h
  src/mixer/auxiliary.cpp
  src/mixer/basetrackplayer.cpp
  src/mixer/basetrackplayer.h
  src/mixer/microphone.cpp
  src/soundio/soundmanager.cpp
  src/soundio/soundmanagerutil.h
  src/test/controller_mapping_validation_test.cpp
  src/test/controlobjectaliastest.cpp
  src/test/enginebuffertest.cpp
  src/test/enginemixertest.cpp
  src/test/playermanagertest.cpp
  src/test/reference_buffers/OutputWorks/SingleChannel-headphone
  src/test/reference_buffers/OutputWorks/SingleChannel-main
  src/test/reference_buffers/OutputWorks/SingleChannelPFL-headphone
  src/test/reference_buffers/OutputWorks/SingleChannelPFL-main
  src/test/reference_buffers/OutputWorks/ThreeChannel-headphone
  src/test/reference_buffers/OutputWorks/ThreeChannel-main
  src/test/reference_buffers/OutputWorks/ThreeChannelPFL-headphone
  src/test/reference_buffers/OutputWorks/ThreeChannelPFL-main
  src/test/reference_buffers/OutputWorks/TwoChannel-headphone
  src/test/reference_buffers/OutputWorks/TwoChannel-main
  src/test/reference_buffers/OutputWorks/TwoChannelPFL-headphone
  src/test/reference_buffers/OutputWorks/TwoChannelPFL-main
  src/test/reference_buffers/TwoChannelOutputWorks-headphone
  src/test/signalpathtest.h
  src/test/stemcontrolobjecttest.cpp
Labels: engine, code quality, soundio

#13593 Auto DJ: Add context menu action for enabling/disabling the Auto DJ
  src/library/autodj/autodjfeature.cpp
  src/library/autodj/autodjfeature.h
Labels: library, autodj

#13123 Add quick effect support on stem
  CMakeLists.txt
  res/qml/ComboBox.qml
  res/qml/EqColumn.qml
  res/qml/Mixxx/Controls/Knob.qml
  res/qml/QuickFxKnob.qml
  res/qml/StemKnob.qml
  src/effects/effectsmanager.cpp
  src/effects/effectsmanager.h
  src/effects/presets/effectchainpresetmanager.cpp
  src/effects/presets/effectchainpresetmanager.h
  src/effects/presets/effectxmlelements.h
  src/engine/channels/enginedeck.cpp
  src/engine/channels/enginedeck.h
  src/mixer/basetrackplayer.cpp
  src/mixer/playermanager.cpp
  src/mixer/playermanager.h
  src/qml/qmlchainpresetmodel.cpp
  src/qml/qmlchainpresetmodel.h
  src/qml/qmleffectsmanagerproxy.cpp
  src/qml/qmleffectsmanagerproxy.h
  src/test/reference_buffers/StemMuteControlDrumAndBass
  src/test/reference_buffers/StemMuteControlFull
  src/test/reference_buffers/StemVolumeControlDrumAndBass
  src/test/reference_buffers/StemVolumeControlDrumOnly
  src/test/reference_buffers/StemVolumeControlFull
  src/test/stemcontrolobjecttest.cpp
  src/util/sample.cpp
  src/util/sample.h
  src/waveform/renderers/allshader/waveformrendererstem.cpp
Labels: effects, engine, build, code quality, waveform, qml

#13592 Track Search Preferences: Fix accidental use of wrong preference controls
  src/preferences/dialog/dlgpreflibrary.cpp
Labels: ui, preferences

#13586 Fix some minor code issue
  src/analyzer/analyzerkey.cpp
  src/audio/frame.h
  src/controllers/softtakeover.cpp
  src/track/bpm.h
Labels: engine, analyzer, controller backend

#13594 Static initalization order fix
  src/library/basetracktablemodel.cpp
  src/library/basetracktablemodel.h
  src/util/color/predefinedcolorpalettes.cpp
Labels: library

#13240 Refactor/gh13222 remove referenceholder
  CMakeLists.txt
  src/effects/backends/builtin/balanceeffect.h
  src/effects/effectsmanager.cpp
  src/effects/effectsmessenger.cpp
  src/effects/effectsmessenger.h
  src/engine/effects/engineeffect.cpp
  src/engine/effects/engineeffect.h
  src/engine/effects/engineeffectsmanager.cpp
  src/engine/effects/engineeffectsmanager.h
  src/util/messagepipe.h
  src/util/reference.h
Labels: effects, engine, build

#13609 (fix) WStarRating: remove unneeded signal that may cause rating reset via track menu
  src/library/dlgtrackinfomulti.cpp
  src/widget/wstarrating.cpp
  src/widget/wtrackmenu.cpp
Labels: library, ui, regression, bug

#13612 Add stem files to the taglib lookup table
  src/track/taglib/trackmetadata_file.cpp
Labels: regression

#13591 (fix) Playlists: update sidebar when dragging tracks into the playlist table
  src/library/dao/playlistdao.cpp
Labels: library, bug

#13575 (fix) Playlists: paint sidebar items bold immediateley after dropping tracks
  src/library/trackset/baseplaylistfeature.cpp
  src/library/trackset/baseplaylistfeature.h
  src/library/trackset/playlistfeature.cpp
Labels: library, usability

#13494 BaseTrackTableModel: Disable inline track editing on iOS
  src/library/basetracktablemodel.cpp
  src/library/browse/browsetablemodel.cpp
  src/preferences/dialog/dlgpreflibrary.cpp
Labels: library, ui, preferences, browse, ios

#13610 (fix) Track file export: various fixes
  src/library/export/trackexportdlg.cpp
  src/library/export/trackexportwizard.cpp
  src/library/export/trackexportworker.cpp
  src/library/trackset/baseplaylistfeature.cpp
  src/library/trackset/crate/cratefeature.cpp
Labels: library, bug
