Repository mixxxdj/mixxx, pull requests merged in 2024-01, with the labels that each got.

#12478 multi-line delegate: fix bg color, Qt6 on Linux
  src/library/multilineeditdelegate.cpp
Labels: library, QT6

#12469 vsyncthread mode for qopenglwindow frameswapped driven phase locked loop
  src/mixxxmainwindow.cpp
  src/waveform/vsyncthread.cpp
  src/waveform/vsyncthread.h
  src/waveform/waveformwidgetfactory.cpp
  src/waveform/waveformwidgetfactory.h
  src/widget/wglwidgetqopengl.cpp
  src/widget/wglwidgetqopengl.h
Labels: ui

#12494 fix/History: remove obsolete placeholder playlists
  src/library/dao/playlistdao.cpp
  src/library/trackset/setlogfeature.cpp
Labels: library, bug

#12499 Sync Lock: Only adopt the bpm of another deck if follower was requested.
  src/engine/sync/enginesync.cpp
  src/test/enginesynctest.cpp
Labels: code quality

#12466 Waveform tweaks
  src/analyzer/analyzerwaveform.h
  src/waveform/renderers/allshader/waveformrendererfiltered.cpp
  src/waveform/renderers/allshader/waveformrendererhsv.cpp
  src/waveform/renderers/allshader/waveformrendererlrrgb.cpp
  src/waveform/renderers/allshader/waveformrendererrgb.cpp
  src/waveform/renderers/allshader/waveformrenderersimple.cpp
  src/waveform/renderers/glslwaveformrenderersignal.cpp
  src/waveform/renderers/glwaveformrendererfilteredsignal.cpp
  src/waveform/renderers/glwaveformrendererrgb.cpp
  src/waveform/renderers/glwaveformrenderersimplesignal.cpp
  src/waveform/renderers/waveformrendererfilteredsignal.cpp
  src/waveform/renderers/waveformrendererhsv.cpp
  src/waveform/renderers/waveformrendererrgb.cpp
  src/waveform/renderers/waveformrenderersignalbase.cpp
  src/waveform/renderers/waveformrenderersignalbase.h
  src/waveform/renderers/waveformwidgetrenderer.cpp
  src/waveform/renderers/waveformwidgetrenderer.h
Labels: waveform

#12370 vcpkg update 2.4
  .github/workflows/build.yml
  CMakeLists.txt
  tools/macos_buildenv.sh
  tools/windows_buildenv.bat
Labels: build

#12441 Hercules-DJ-Console-RMX: Replace not defined CO name pitch_reset by pitch_set_default
  res/controllers/Hercules-DJ-Console-RMX-hid-scripts.js
Labels: controllers, regression

#12498 Playlist feature: add 'Shuffle playlist' sidebar action
  src/library/playlisttablemodel.cpp
  src/library/trackset/baseplaylistfeature.cpp
  src/library/trackset/baseplaylistfeature.h
  src/library/trackset/crate/cratefeature.cpp
  src/library/trackset/playlistfeature.cpp
  src/library/trackset/playlistfeature.h
  src/library/trackset/setlogfeature.cpp
  src/library/trackset/setlogfeature.h
Labels: library

#11279 Mapping files for Hercules DJControl MIX
  res/controllers/Hercules DJControl MIX.midi.xml
  res/controllers/Hercules-DJControl-MIX-scripts.js
Labels: controllers, changelog

#12468 fix(controllers): ensure callbacks have appropriate `this`
  res/controllers/Numark-Mixtrack-3-scripts.js
  res/controllers/Numark-N4-scripts.js
  res/controllers/Reloop-Beatpad-scripts.js
  res/controllers/Traktor-Kontrol-S2-MK1-hid-scripts.js
  res/controllers/Traktor-Kontrol-S2-MK3-hid-scripts.js
  res/controllers/Traktor-Kontrol-S3-hid-scripts.js
  res/controllers/Traktor-Kontrol-S4-MK3.js
Labels: controllers, regression

#12501 gradually "compact" the markers if the waveform height is reduced
  src/waveform/renderers/waveformmark.cpp
Labels: waveform, polish

#12510 Traktor S3: remove extra parameter in timer call
  res/controllers/Traktor-Kontrol-S3-hid-scripts.js
Labels: controllers

#12518 Keyfinder workaround for 'CMakeFiles/mixxx-lib_autogen_timestamp_deps
  CMakeLists.txt
Labels: build

#11800 Improve mold linker configurations for some corner cases
  CMakeLists.txt
Labels: build

#11702 Traktor Kontrol S2MK3: Use FX select buttons to set quick effect presets
  res/controllers/Traktor-Kontrol-S2-MK3-hid-scripts.js
Labels: controllers, needs review

#12487 Additional paint and swap from resizeGL instead of from paintGL
  src/widget/openglwindow.cpp
  src/widget/openglwindow.h
Labels: ui

#12530 AutoDJ: fix GUI freeze when updating duration for many selected tracks
  src/library/autodj/dlgautodj.cpp
  src/library/playlisttablemodel.cpp
  src/library/playlisttablemodel.h
Labels: library, autodj, gui

#12537 rename PlaylistTableModel::getDurationOfRows(), return mixxx::Duration, add comment
  src/library/autodj/dlgautodj.cpp
  src/library/playlisttablemodel.cpp
  src/library/playlisttablemodel.h
Labels: library, autodj

#12231 Preferences waveforms: recall correct waveform type when selecting an overview type
  src/waveform/waveformwidgetfactory.cpp
  src/waveform/waveformwidgetfactory.h
Labels: preferences, bug, waveform, usability

#12521 fix `loop_remove`
  res/skins/LateNight/decks/deck_settings.xml
  src/engine/controls/loopingcontrol.cpp
  src/mixer/basetrackplayer.cpp
Labels: skins, engine, minor bug, looping

#12549 add `qt6-qpa-plugins` to dependencies
  CMakeLists.txt
Labels: build

#12474 backport Keyboard repeat #11572 to 2.4
  src/control/control.cpp
  src/control/control.h
  src/control/controlobject.h
  src/control/controlpotmeter.cpp
  src/controllers/keyboard/keyboardeventfilter.cpp
  src/controllers/keyboard/keyboardeventfilter.h
  src/engine/controls/bpmcontrol.cpp
  src/engine/controls/loopingcontrol.cpp
  src/engine/controls/ratecontrol.cpp
Labels: engine, keyboard

#12552 Merge 2.4
  res/controllers/Traktor-Kontrol-S2-MK3-hid-scripts.js
  src/engine/controls/loopingcontrol.cpp
  src/library/autodj/dlgautodj.cpp
  src/library/playlisttablemodel.cpp
  src/library/playlisttablemodel.h
  src/mixer/basetrackplayer.cpp
  src/waveform/waveformwidgetfactory.cpp
  src/waveform/waveformwidgetfactory.h
  src/widget/openglwindow.cpp
  src/widget/openglwindow.h
Labels: controllers, skins, library, engine, ui, autodj, waveform

#11695 Effects: store deck & main EQ in effects.xml
  src/effects/chains/equalizereffectchain.cpp
  src/effects/effectsmanager.cpp
  src/effects/effectsmanager.h
  src/effects/presets/effectchainpreset.cpp
  src/effects/presets/effectchainpresetmanager.cpp
  src/effects/presets/effectchainpresetmanager.h
  src/effects/presets/effectxmlelements.h
  src/preferences/dialog/dlgprefmixer.cpp
  src/preferences/dialog/dlgprefmixer.h
Labels: effects, ui, needs review, preferences

#12543 Tag fetcher: allow to apply cover and tags separately // var.1 checkboxes
  src/library/dlgtagfetcher.cpp
  src/library/dlgtagfetcher.h
  src/library/dlgtagfetcher.ui
  src/library/library_prefs.cpp
  src/library/library_prefs.h
Labels: library

#12572 2.4 Vcpkg update
  tools/macos_buildenv.sh
  tools/windows_buildenv.bat
Labels: library

#12538 Fix for LoopIn/LoopOut visualisation in waveforms
  src/engine/controls/loopingcontrol.h
  src/engine/enginebuffer.cpp
  src/waveform/visualplayposition.cpp
  src/waveform/visualplayposition.h
Labels: engine, regression, waveform

#12582 fix glitch in Star rating
  res/skins/LateNight/decks/deck_settings.xml
  src/library/colordelegate.cpp
  src/library/coverartdelegate.cpp
  src/library/stardelegate.cpp
  src/library/stareditor.cpp
  src/library/stareditor.h
  src/library/starrating.cpp
  src/library/starrating.h
  src/library/tableitemdelegate.cpp
  src/library/tableitemdelegate.h
  src/widget/wstarrating.cpp
  src/widget/wstarrating.h
Labels: skins, library, ui

#12516 Improved loging in case of clamping visual position
  src/waveform/visualplayposition.cpp
  src/waveform/vsyncthread.cpp
Labels: waveform

#12595 Remove "RUNTIME_DEPENDENCY_SET mixxx"
  CMakeLists.txt
Labels: build

#12611 pll initial delta
  src/waveform/vsyncthread.cpp
  src/waveform/vsyncthread.h
  src/waveform/waveformwidgetfactory.cpp
Labels: waveform

#12519 fix(library): remove typo in user-facing string
  src/library/trackset/setlogfeature.cpp
Labels: library

#12561 unify `[effect chain],loaded_chain_preset` control (all 0-indexed now)
  src/effects/effectchain.cpp
  src/effects/effectchain.h
  src/effects/effectslot.cpp
  src/effects/presets/effectchainpresetmanager.cpp
  src/effects/presets/effectchainpresetmanager.h
  src/preferences/dialog/dlgprefeffects.cpp
Labels: effects, ui, preferences

#12628 codespell: apply fixes (don't stage them)
  .pre-commit-config.yaml
Labels: code quality

#12515 Fix pitch issue (only) with dynamic tracks and sync
  src/audio/frame.cpp
  src/engine/bufferscalers/enginebufferscalelinear.cpp
  src/engine/bufferscalers/enginebufferscalelinear.h
  src/engine/channels/engineaux.h
  src/engine/channels/enginechannel.h
  src/engine/channels/enginedeck.cpp
  src/engine/channels/enginedeck.h
  src/engine/channels/enginemicrophone.h
  src/engine/controls/bpmcontrol.cpp
  src/engine/enginebuffer.cpp
  src/engine/enginebuffer.h
  src/engine/enginemixer.cpp
  src/engine/sync/enginesync.cpp
  src/engine/sync/synccontrol.cpp
  src/mixer/basetrackplayer.cpp
  src/test/enginesynctest.cpp
Labels: engine, code quality, regression, sync

#12613 taglib: Do not overwrite unchanged multi-valued fields
  src/track/taglib/trackmetadata_common.cpp
Labels: metadata

#12632 Skins: add loop cue icons
  res/skins/Deere/icon/ic_hotcue_loop_dark_48px.svg
  res/skins/Deere/icon/ic_hotcue_loop_light_48px.svg
  res/skins/Deere/style.qss
  res/skins/LateNight/classic/buttons/btn__1_loop.svg
  res/skins/LateNight/classic/buttons/btn__2_loop.svg
  res/skins/LateNight/classic/buttons/btn__3_loop.svg
  res/skins/LateNight/classic/buttons/btn__4_loop.svg
  res/skins/LateNight/classic/buttons/btn__5_loop.svg
  res/skins/LateNight/classic/buttons/btn__6_loop.svg
  res/skins/LateNight/classic/buttons/btn__7_loop.svg
  res/skins/LateNight/classic/buttons/btn__8_loop.svg
  res/skins/LateNight/style_classic.qss
  res/skins/Shade/btn/btn_hotcue_1_loop_over.png
  res/skins/Shade/btn/btn_hotcue_1_loop_over.xcf
  res/skins/Tango/buttons/btn_hotcue_loop_dark.svg
  res/skins/Tango/buttons/btn_hotcue_loop_light.svg
  res/skins/Tango/style.qss
Labels: skins

#12637 Shade: Overlay for loop hot cues
  res/skins/Shade/btn/btn_hotcue_1_loop_over.png
  res/skins/Shade/btn/btn_hotcue_1_loop_over.xcf
  res/skins/Shade/btn/btn_hotcue_loop.png
  res/skins/Shade/hotcue_button.xml
  res/skins/Shade/style.qss
Labels: skins

#11273 Tracks view: keep current item visible when the view shrinks vertically
  src/widget/wtracktableview.cpp
  src/widget/wtracktableview.h
Labels: library, ui, needs review

#12646 MacOsVersion: Import Foundation instead of Cocoa
  src/util/macosversion.mm
Labels: macos

#12591 avoid issue with `stars_up/_down` ControlObjects
  src/library/dlgtrackinfo.cpp
  src/mixer/basetrackplayer.cpp
  src/mixer/basetrackplayer.h
  src/skin/legacy/legacyskinparser.cpp
  src/widget/wstarrating.cpp
  src/widget/wstarrating.h
Labels: library, ui, bug

#12650 ScreenSaver: Check `Q_OS_MACOS` instead of `Q_OS_MAC`
  src/util/screensaver.cpp
  src/util/screensaver.h
Labels: macos

#10825 add control for showing a deck's track menu
  src/library/librarycontrol.cpp
  src/mixer/basetrackplayer.cpp
  src/mixer/basetrackplayer.h
  src/skin/legacy/legacyskinparser.cpp
  src/track/track_decl.h
  src/widget/wtrackmenu.cpp
  src/widget/wtrackmenu.h
  src/widget/wtrackproperty.cpp
  src/widget/wtrackproperty.h
  src/widget/wtrackwidgetgroup.cpp
Labels: controllers, skins, library, ui

#12623 Hotcue: allow setting hotcue inside active, saved loop
  src/engine/controls/cuecontrol.cpp
  src/test/hotcuecontrol_test.cpp
Labels: engine, code quality, looping

#12658 ConfigObject: Improve error message for empty `qResourcePath`
  src/preferences/configobject.cpp
Labels: ui, preferences, polish

#12639 Keyboard mapping: Return triggers doubleclick, move Preview functions to P / Shift+P
  res/Mixxx-Keyboard-Shortcuts.pdf
  res/Mixxx-Keyboard-Shortcuts.png
  res/images/templates/ic_template_keyboard_mapping_sheet.svg
  res/keyboard/cs_CZ.kbd.cfg
  res/keyboard/da_DK.kbd.cfg
  res/keyboard/de_CH.kbd.cfg
  res/keyboard/de_DE.kbd.cfg
  res/keyboard/el_GR.kbd.cfg
  res/keyboard/en_US.kbd.cfg
  res/keyboard/es_ES.kbd.cfg
  res/keyboard/fi_FI.kbd.cfg
  res/keyboard/fr_CH.kbd.cfg
  res/keyboard/fr_FR.kbd.cfg
  res/keyboard/it_IT.kbd.cfg
  res/keyboard/ru_RU.kbd.cfg
  src/widget/wtracktableview.cpp
Labels: ui, keyboard

#12656 macOS packaging: Capitalize bundle and executable name when `MACOS_BUNDLE` is set (Mixxx.app)
  CMakeLists.txt
  packaging/macos/Info.plist.in
Labels: build, polish, macos, packaging

#12661 Engine: Add feature for building with/without Rubberband
  CMakeLists.txt
  src/effects/backends/builtin/builtinbackend.cpp
  src/engine/enginebuffer.cpp
  src/engine/enginebuffer.h
  src/test/enginebuffertest.cpp
  src/util/versionstore.cpp
Labels: effects, engine, build, code quality

#12633 Effects preferences: allow preset Export & Delete of multi-selection
  src/preferences/dialog/dlgprefeffects.cpp
  src/preferences/dialog/dlgprefeffects.h
Labels: ui, preferences

#12664 GLWaveformRenderer: Move OpenGL 2.1 include into cond-compile
  src/waveform/renderers/glwaveformrenderer.h
Labels: waveform

#12663 macOS: Add more `Q_OS_MACOS` cond-compiles where appropriate
  src/coreservices.cpp
  src/main.cpp
  src/mixxxapplication.cpp
  src/preferences/dialog/dlgpreferences.cpp
  src/util/sandbox.h
  src/util/screensaver.cpp
Labels: ui, preferences, macos

#12662 MacOsVersion: Rename to AppleOsVersion
  CMakeLists.txt
  src/sources/soundsourcecoreaudio.cpp
  src/util/appleosversion.h
  src/util/appleosversion.mm
Labels: build, soundsource, macos

#12666 MixxxApplication: Use QIOSIntegrationPlugin on iOS
  src/mixxxapplication.cpp
Labels: ios

#12489 Default vsyncmode
  src/preferences/upgrade.cpp
  src/waveform/vsyncthread.cpp
  src/waveform/vsyncthread.h
  src/waveform/waveformwidgetfactory.cpp
Labels: ui, preferences, waveform

#12665 VersionStore: Make iOS a recognized platform
  src/util/versionstore.cpp
Labels: ios

#12539 Ubuntu: Don't depend on not used QML/Quick libraries
  CMakeLists.txt
  tools/debian_buildenv.sh
  tools/debian_buildenv_qt6.sh
Labels: build

#12681 Changelog for 2.4.0
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Labels: blocker

#12675 Sandbox: Add basic iOS support
  src/util/sandbox.cpp
Labels: sandboxing, ios

#12673 ScreenSaverHelper: Implement screen lock suspension for iOS
  CMakeLists.txt
  src/util/screensaver.cpp
  src/util/screensaverios.h
  src/util/screensaverios.mm
Labels: build, ios

#12688 CmdlineArgs: Move config directory to a user-accessible location on iOS
  src/util/cmdlineargs.cpp
Labels: ios

#12676 iOS packaging: Add Info.plist, launch screen and app icon
  packaging/ios/Assets.xcassets/AppIcon.appiconset/1024x1024.png
  packaging/ios/Assets.xcassets/AppIcon.appiconset/Contents.json
  packaging/ios/Assets.xcassets/Contents.json
  packaging/ios/Assets.xcassets/Logo.imageset/Contents.json
  packaging/ios/Assets.xcassets/Logo.imageset/Logo.pdf
  packaging/ios/Info.plist.in
  packaging/ios/LaunchScreen.storyboard
  packaging/ios/regenerate_appiconset.sh
  res/images/icons/scalable/apps/mixxx_ios.svg
Labels: packaging, ios

#12687 ConfigObject: Find resource path on iOS
  src/preferences/configobject.cpp
Labels: ui, preferences, packaging, ios
