Repository mixxxdj/mixxx, pull requests merged in 2024-09, with the labels that each got.

#13620 (fix) assert WTrackTableView has a selectionModel()
  src/library/trackmodel.h
  src/widget/wtracktableview.cpp
  src/widget/wtracktableview.h
Labels: library, ui, crash

#13589 Denon MC7000: Unify parameter button logic and add customizable modes
  res/controllers/Denon-MC7000-scripts.js
  res/controllers/Denon-MC7000.midi.xml
Labels: controller mappings

#13632 Track Info dialogs: move metatdata buttons below color picker
  src/library/dlgtrackinfo.ui
  src/library/dlgtrackinfomulti.ui
Labels: library

#13634 WOverview: update immediately when the normalize option or Global gain changed
  src/waveform/waveformwidgetfactory.cpp
  src/waveform/waveformwidgetfactory.h
  src/widget/woverview.cpp
  src/widget/woverview.h
Labels: ui, waveform, usability

#13630 document `ScriptConnection` readonly properties & slight cleanup
  res/controllers/engine-api.d.ts
  src/controllers/scripting/legacy/controllerscriptinterfacelegacy.cpp
  src/controllers/scripting/legacy/scriptconnectionjsproxy.h
Labels: controller mappings, controller backend

#13626 (fix) Controller engine: unify/improve logging, expand error dialog's Details box
  src/controllers/controller.cpp
  src/controllers/midi/legacymidicontrollermappingfilehandler.cpp
  src/controllers/midi/midicontroller.cpp
  src/controllers/scripting/controllerscriptenginebase.cpp
  src/controllers/scripting/legacy/controllerscriptenginelegacy.cpp
Labels: controller mappings, controller backend

#13636 Fix quantization in the effect engine (mentronome effect)
  CMakeLists.txt
  src/effects/backends/builtin/autopaneffect.cpp
  src/effects/backends/builtin/biquadfullkilleqeffect.cpp
  src/effects/backends/builtin/distortioneffect.cpp
  src/effects/backends/builtin/echoeffect.cpp
  src/effects/backends/builtin/flangereffect.cpp
  src/effects/backends/builtin/loudnesscontoureffect.cpp
  src/effects/backends/builtin/metronomeclick.cpp
  src/effects/backends/builtin/metronomeclick.h
  src/effects/backends/builtin/metronomeeffect.cpp
  src/effects/backends/builtin/parametriceqeffect.cpp
  src/effects/backends/builtin/phasereffect.cpp
  src/effects/backends/builtin/threebandbiquadeqeffect.cpp
  src/effects/backends/builtin/tremoloeffect.cpp
  src/engine/controls/bpmcontrol.cpp
  src/engine/controls/bpmcontrol.h
  src/engine/controls/quantizecontrol.cpp
  src/engine/effects/groupfeaturestate.h
  src/engine/enginebuffer.cpp
  src/engine/enginebuffer.h
  src/engine/enginemixer.cpp
  src/engine/enginepregain.cpp
Labels: effects, engine, build

#13648 fix: prevent div by zero and use correct config key
  src/preferences/dialog/dlgprefwaveform.cpp
  src/widget/woverview.cpp
Labels: ui, preferences

#13623 (fix) WTrackTableView: assert track model, p prefix
  src/widget/wtracktableview.cpp
Labels: ui

#13657 fix: prevent crash when no app windows have the focus
  src/library/librarycontrol.cpp
Labels: library

#13655 fix: exclude stem samples for QML waveform
  src/qml/qmlplayerproxy.cpp
  src/qml/qmlplayerproxy.h
Labels: qml

#13658 chore: add note about ConfigKey naming convention
  src/preferences/configobject.h
  src/preferences/dialog/dlgprefcolors.cpp
  src/skin/legacy/legacyskinparser.cpp
Labels: ui, preferences

#13650 Fix writing global key text after analyzing to library and file metadata
  CMakeLists.txt
  src/test/keyfactorytest.cpp
  src/track/keyfactory.cpp
Labels: build, code quality, regression

#13393 Kontrol S4 Mk3: rework jogwheel speed compute and motorized platter
  res/controllers/Traktor Kontrol S4 MK3.hid.xml
  res/controllers/Traktor-Kontrol-S4-MK3.js
Labels: controller mappings, effects, library, packaging

#13103 (fix) Playlists: keep correct track selection (# position) when sorting
  src/library/autodj/autodjfeature.cpp
  src/library/banshee/bansheeplaylistmodel.cpp
  src/library/baseexternalplaylistmodel.cpp
  src/library/basesqltablemodel.cpp
  src/library/basesqltablemodel.h
  src/library/dao/playlistdao.cpp
  src/library/dao/playlistdao.h
  src/library/dao/trackschema.h
  src/library/playlisttablemodel.cpp
  src/library/playlisttablemodel.h
  src/library/trackmodel.h
  src/test/autodjprocessor_test.cpp
  src/widget/wtracktableview.cpp
  src/widget/wtracktableview.h
Labels: library, ui, autodj, code quality

#13656 fix: allow controller setting integer to have a negative range
  src/controllers/legacycontrollersettings.h
  src/test/controller_mapping_settings_test.cpp
Labels: code quality, controller backend

#13678 Paintable: Fix some type roundtrips
  src/widget/paintable.cpp
  src/widget/paintable.h
Labels: ui

#13673 Musicbrainz: Elide long error messages in the progress bar
  src/library/dlgtagfetcher.cpp
Labels: library

#13537 Non-floating stem controls for LateNight
  CMakeLists.txt
  res/skins/LateNight/classic/buttons/btn__stem_controls_collapse.svg
  res/skins/LateNight/classic/buttons/btn__stem_controls_expand.svg
  res/skins/LateNight/classic/buttons/btn__stem_mute.svg
  res/skins/LateNight/palemoon/buttons/btn__stem_controls_collapse.svg
  res/skins/LateNight/palemoon/buttons/btn__stem_controls_expand.svg
  res/skins/LateNight/palemoon/buttons/btn__stem_mute.svg
  res/skins/LateNight/stem_channel.xml
  res/skins/LateNight/style.qss
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
  res/skins/LateNight/waveform.xml
  res/skins/LateNight/waveforms_container.xml
  src/skin/legacy/legacyskinparser.cpp
  src/skin/legacy/legacyskinparser.h
  src/skin/legacy/tooltips.cpp
  src/widget/wstemlabel.cpp
  src/widget/wstemlabel.h
Labels: skins, effects, engine, ui, build, qml

#13672 Musicbrainz: Improved messages in case of empty results
  src/library/dlgtagfetcher.cpp
  src/library/dlgtagfetcher.h
  src/musicbrainz/tagfetcher.cpp
  src/musicbrainz/tagfetcher.h
Labels: library

#13680 (fix) AnalyzerEbur128: catch invalid return values inf/-inf
  src/analyzer/analyzerebur128.cpp
  src/util/fpclassify.cpp
  src/util/fpclassify.h
  src/util/versionstore.cpp
Labels: analyzer

#13671 fix: sync rate using the current BPM instead of the file one
  src/engine/sync/synccontrol.cpp
  src/test/enginesynctest.cpp
Labels: engine, code quality, sync

#13691 Fix Launchpad X detection on macOS
  src/controllers/midi/portmidienumerator.cpp
Labels: controller mappings, library, ui, autodj, code quality, analyzer, controller backend

#13696 set QQuickStyle to "basic"
  src/qml/qmlapplication.cpp
Labels: qml

#13685 (fix) Track menu: avoid crash and UX issues with track nullptr
  src/library/dlgtagfetcher.cpp
  src/library/dlgtrackinfo.cpp
  src/widget/wtrackmenu.cpp
Labels: library, ui, crash, usability

#13697 merge 2.4 into 2.5
  res/controllers/Reloop Beatmix 2-4.midi.xml
  res/controllers/Reloop-Beatmix-2-4-scripts.js
  src/analyzer/analyzerebur128.cpp
  src/controllers/midi/portmidienumerator.cpp
  src/library/autodj/autodjfeature.cpp
  src/library/banshee/bansheeplaylistmodel.cpp
  src/library/baseexternalplaylistmodel.cpp
  src/library/basesqltablemodel.cpp
  src/library/basesqltablemodel.h
  src/library/dao/playlistdao.cpp
  src/library/dao/playlistdao.h
  src/library/dao/trackschema.h
  src/library/dlgtagfetcher.cpp
  src/library/dlgtagfetcher.h
  src/library/playlisttablemodel.cpp
  src/library/playlisttablemodel.h
  src/library/trackmodel.h
  src/musicbrainz/tagfetcher.cpp
  src/musicbrainz/tagfetcher.h
  src/test/autodjprocessor_test.cpp
  src/util/fpclassify.cpp
  src/util/fpclassify.h
  src/util/versionstore.cpp
  src/widget/paintable.cpp
  src/widget/paintable.h
  src/widget/wtracktableview.cpp
  src/widget/wtracktableview.h
Labels: controller mappings, library, ui, autodj, code quality, analyzer, controller backend

#13703 Fix replay gain analysis
  src/analyzer/analyzerebur128.cpp
Labels: analyzer

#13705 Add missing change, lost in merge 2.5 -> main
  src/widget/paintable.cpp
Labels: ui

#13698 (fix) disable Properties shortcut in Computer feature views
  src/widget/wtracktableview.cpp
Labels: ui
