Repository mixxxdj/mixxx, pull requests merged in 2024-06, with the labels that each got.

#12216 Skins / Qt6: menu icon position fix
  res/skins/Deere/style.qss
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
  res/skins/Shade/style.qss
  res/skins/Shade/style_dark.qss
  res/skins/Shade/style_summer_sunset.qss
  res/skins/Tango/style.qss
  res/skins/default.qss
Labels: skins, stale, QT6

#13311 Improved readability and scaling of digits and avoid some artefacts
  src/waveform/renderers/allshader/digitsrenderer.cpp
  src/waveform/renderers/allshader/digitsrenderer.h
Labels: ui, code quality, waveform

#13320 LateNight: deactivate beatgrid edit controls if BPM is locked
  res/skins/LateNight/classic/buttons/btn__bpm_locked.svg
  res/skins/LateNight/classic/buttons/btn__bpm_unlocked.svg
  res/skins/LateNight/controls/button_1state_optional.xml
  res/skins/LateNight/controls/button_1state_right_optional.xml
  res/skins/LateNight/decks/deck_settings.xml
  res/skins/LateNight/palemoon/buttons/btn__bpm_locked.svg
  res/skins/LateNight/palemoon/buttons/btn__bpm_unlocked.svg
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
  res/skins/LateNight/waveform.xml
  src/skin/legacy/tooltips.cpp
Labels: skins

#13304 Recording: with empty config, save default split size immediately
  src/preferences/dialog/dlgprefrecord.cpp
  src/recording/recordingmanager.cpp
Labels: ui, preferences, recording

#13302 Preferences: apply only in slotApply()
  src/preferences/dialog/dlgprefcolors.cpp
  src/preferences/dialog/dlgprefkey.cpp
  src/preferences/dialog/dlgprefmixer.cpp
  src/preferences/dialog/dlgprefrecord.cpp
  src/preferences/dialog/dlgprefreplaygain.cpp
  src/preferences/dialog/dlgprefreplaygain.h
  src/preferences/dialog/dlgprefreplaygaindlg.ui
Labels: ui, preferences

#11407 feat: controller screen renderer
  .github/workflows/build-checks.yml
  .github/workflows/build.yml
  CMakeLists.txt
  res/controllers/Dummy Device Screen.hid.xml
  res/controllers/DummyDeviceDefaultScreen.qml
  src/controllers/controller.cpp
  src/controllers/controller.h
  src/controllers/controllerenginethreadcontrol.cpp
  src/controllers/controllerenginethreadcontrol.h
  src/controllers/controllermanager.cpp
  src/controllers/controllerscreenpreview.cpp
  src/controllers/controllerscreenpreview.h
  src/controllers/defs_controllers.h
  src/controllers/dlgprefcontroller.cpp
  src/controllers/dlgprefcontroller.h
  src/controllers/dlgprefcontrollerdlg.ui
  src/controllers/legacycontrollermapping.h
  src/controllers/legacycontrollermappingfilehandler.cpp
  src/controllers/legacycontrollermappingfilehandler.h
  src/controllers/midi/midicontroller.cpp
  src/controllers/midi/midicontroller.h
  src/controllers/rendering/controllerrenderingengine.cpp
  src/controllers/rendering/controllerrenderingengine.h
  src/controllers/scripting/controllerscriptenginebase.cpp
  src/controllers/scripting/controllerscriptenginebase.h
  src/controllers/scripting/legacy/controllerscriptenginelegacy.cpp
  src/controllers/scripting/legacy/controllerscriptenginelegacy.h
  src/coreservices.cpp
  src/coreservices.h
  src/qml/qmlapplication.cpp
  src/test/controller_mapping_file_handler_test.cpp
  src/test/controller_mapping_validation_test.cpp
  src/test/controller_mapping_validation_test.h
  src/test/controllerrenderingengine_test.cpp
  src/test/controllerscriptenginelegacy_test.cpp
  src/test/helpers/log_test.cpp
  src/test/helpers/log_test.h
  src/util/cmdlineargs.cpp
  src/util/cmdlineargs.h
  src/util/thread_affinity.h
  tools/README
  tools/dummy_hid_device.c
Labels: controller mappings, engine, ui, build, code quality, preferences, sync, qml, controller backend, controllers

#13319 Fix Sony SixxAxis controller not working
  res/controllers/Sony-SixxAxis.js
Labels: controller mappings, ui, preferences

#13323 Deere: deactivate beatgrid edit controls if BPM is locked + LateNight fix
  res/skins/Deere/deck_text_row.xml
  res/skins/Deere/icon/ic_bpm_locked_48px.svg
  res/skins/Deere/icon/ic_bpm_unlocked_48px.svg
  res/skins/Deere/left_right_1state_button_optional.xml
  res/skins/Deere/style.qss
  res/skins/LateNight/controls/button_1state_optional.xml
  res/skins/LateNight/controls/button_1state_right_optional.xml
  res/skins/LateNight/waveform.xml
Labels: skins

#13296 Move to GitHub worflow runner macos-12
  .github/workflows/build.yml
  src/test/globaltrackcache_test.cpp
Labels: code quality

#13209 Allow to drop files to decks with unsupported or no file extensions
  src/sources/soundsourceproxy.cpp
Labels: soundsource

#13325 Tango: deactivate beatgrid edit controls if BPM is locked
  res/skins/Tango/buttons/btn_bpm_locked.svg
  res/skins/Tango/buttons/btn_bpm_unlocked.svg
  res/skins/Tango/controls/button_1state_optional.xml
  res/skins/Tango/controls/button_1state_right_optional.xml
  res/skins/Tango/style.qss
  res/skins/Tango/waveform.xml
Labels: skins

#13303 add AutoDJ xfader recenter option (default off)
  src/library/autodj/autodjprocessor.cpp
  src/preferences/dialog/dlgprefautodj.cpp
  src/preferences/dialog/dlgprefautodj.h
  src/preferences/dialog/dlgprefautodjdlg.ui
Labels: library, ui, autodj, preferences

#13334 Fix QML build regressions on macOS
  .github/workflows/build.yml
  src/controllers/rendering/controllerrenderingengine.h
  src/controllers/scripting/legacy/controllerscriptenginelegacy.cpp
Labels: macos, controller backend

#13335 (opti/cleanup) make use of WLibrary::getCurrentTrackTableView()
  src/library/analysis/dlganalysis.cpp
  src/library/analysis/dlganalysis.h
  src/library/autodj/dlgautodj.cpp
  src/library/autodj/dlgautodj.h
  src/library/librarycontrol.cpp
  src/library/libraryview.h
  src/library/recording/dlgrecording.cpp
  src/library/recording/dlgrecording.h
  src/widget/wlibrary.cpp
  src/widget/wlibrarytableview.cpp
  src/widget/wlibrarytableview.h
  src/widget/wtracktableview.cpp
  src/widget/wtracktableview.h
Labels: library, ui, autodj

#13338 Search: add 'type' filter
  src/library/searchqueryparser.cpp
Labels: library, search

#13143 Multithreaded rubberband
  CMakeLists.txt
  src/coreservices.cpp
  src/engine/bufferscalers/enginebufferscalerubberband.cpp
  src/engine/bufferscalers/enginebufferscalerubberband.h
  src/engine/bufferscalers/rubberbandtask.cpp
  src/engine/bufferscalers/rubberbandtask.h
  src/engine/bufferscalers/rubberbandworkerpool.cpp
  src/engine/bufferscalers/rubberbandworkerpool.h
  src/engine/bufferscalers/rubberbandwrapper.cpp
  src/engine/bufferscalers/rubberbandwrapper.h
  src/preferences/dialog/dlgprefsound.cpp
  src/preferences/dialog/dlgprefsound.h
  src/preferences/dialog/dlgprefsounddlg.ui
  src/test/playermanagertest.cpp
  src/test/signalpathtest.h
  src/util/singleton.h
Labels: engine, ui, build, code quality, preferences

#13341 Midi input table fixes
  src/controllers/controllerinputmappingtablemodel.cpp
  src/controllers/delegates/controldelegate.cpp
  src/controllers/delegates/midibytedelegate.cpp
Labels: controller backend

#13348 Ubuntu disto update
  CMakeLists.txt
Labels: build

#13347 2.5: Qt5 build fix
  src/controllers/legacycontrollersettingslayout.h
  src/controllers/midi/legacymidicontrollermapping.cpp
  src/controllers/midi/midimessage.h
  src/library/dlgtrackinfomulti.cpp
  src/library/searchquery.cpp
  src/waveform/renderers/allshader/digitsrenderer.cpp
  src/waveform/renderers/allshader/waveformrendererslipmode.cpp
Labels: library, waveform, search, controller backend

#13293 chore: update rekordbox kaitai definitions
  CMakeLists.txt
  lib/kaitai/CMakeLists.txt
  lib/kaitai/Common.cmake
  lib/kaitai/LICENSE
  lib/kaitai/kaitai/custom_decoder.h
  lib/kaitai/kaitai/exceptions.h
  lib/kaitai/kaitai/kaitaistream.cpp
  lib/kaitai/kaitai/kaitaistream.h
  lib/kaitai/kaitai/kaitaistruct.h
  lib/rekordbox-metadata/rekordbox_anlz.cpp
  lib/rekordbox-metadata/rekordbox_anlz.h
  lib/rekordbox-metadata/rekordbox_anlz.ksy
  lib/rekordbox-metadata/rekordbox_pdb.cpp
  lib/rekordbox-metadata/rekordbox_pdb.h
  lib/rekordbox-metadata/rekordbox_pdb.ksy
  src/library/rekordbox/kaitaistructs/.clang-tidy
  src/library/rekordbox/kaitaistructs/rekordbox_anlz.cpp
  src/library/rekordbox/rekordboxfeature.cpp
Labels: library, build, rekordbox

#13333 (fix) Pref Mixer: don't update EQs/QuickEffects while applying
  src/preferences/dialog/dlgprefmixer.cpp
  src/preferences/dialog/dlgprefmixer.h
Labels: ui, preferences

#13312 (fix) Sound config: fix UX when applying config with missing/busy devices
  src/preferences/dialog/dlgpreferences.cpp
  src/preferences/dialog/dlgprefsound.cpp
  src/preferences/dialog/dlgprefsound.h
  src/preferences/dialog/dlgprefsounditem.cpp
  src/preferences/dialog/dlgprefsounditem.h
Labels: ui, preferences

#13344 Fix playlist parser warning with MSVC from VS2022
  src/library/parsercsv.cpp
  src/test/playlisttest.cpp
Labels: library, code quality

#13261 Compressor effect fixes
  src/effects/backends/builtin/compressoreffect.cpp
  src/effects/backends/builtin/compressoreffect.h
Labels: effects

#13355 Fix missing template parameter in specialization
  src/control/controlvalue.h
Labels: regression, bug

#4834 Numark Scratch: add initial mapping
  res/controllers/Numark-Scratch-scripts.js
  res/controllers/Numark-Scratch.midi.xml
Labels: controller mappings, skins, library, ui, build, code quality, preferences, soundsource, rekordbox

#13358 Optimize BPMDelegate::paintItem
  src/library/tabledelegates/bpmdelegate.cpp
  src/library/tabledelegates/bpmdelegate.h
Labels: library, regression

#13359 localDateTimeFromUtc: Make argument a const reference and initialize QDateTime at construction
  src/library/basetracktablemodel.cpp
  src/util/datetime.h
Labels: library, regression, QT6

#13368 Pre-allocate memory in basetrackcache to avoid multiple reallocations
  src/library/basetrackcache.cpp
Labels: library

#13273 allow changing the waveform overview type without reloading the skin
  CMakeLists.txt
  src/preferences/dialog/dlgpreferences.cpp
  src/preferences/dialog/dlgprefwaveform.cpp
  src/preferences/dialog/dlgprefwaveform.h
  src/skin/legacy/legacyskinparser.cpp
  src/widget/woverview.cpp
  src/widget/woverview.h
  src/widget/woverviewhsv.cpp
  src/widget/woverviewhsv.h
  src/widget/woverviewlmh.cpp
  src/widget/woverviewlmh.h
  src/widget/woverviewrgb.cpp
  src/widget/woverviewrgb.h
Labels: ui, build, preferences, overview

#13375 feat(controllers): update xfader curve values for Numark Scratch
  res/controllers/Numark-Scratch-scripts.js
Labels: controller mappings

#13382 ControllerRenderingEngine: Patch out unavailable APIs when using GL ES
  src/controllers/rendering/controllerrenderingengine.cpp
Labels: ios, controller backend

#13379 CMakeLists: Work around Qt shader bug with Xcode
  res/shaders/CMakeLists.txt
Labels: cmake, ios

#13383 AudioUnitManager: Disable unavailable in-process instantiation on iOS
  src/effects/backends/audiounit/audiounitmanager.mm
Labels: effects, ios

#13098 Add track move commands to controls library
  src/library/librarycontrol.cpp
  src/library/librarycontrol.h
Labels: effects, library, packaging

#13381 Waveforms: Disable textured waveforms when using OpenGL ES
  src/waveform/renderers/allshader/waveformrenderertextured.cpp
  src/waveform/renderers/allshader/waveformrenderertextured.h
  src/waveform/widgets/allshader/waveformwidget.cpp
Labels: waveform, ios

#13294 Fix clicks at loop-out when looping into lead-in
  src/engine/readaheadmanager.cpp
Labels: engine, regression, looping

#13397 fix(engine-prime): build-failure
  src/library/export/engineprimeexportjob.cpp
  src/library/export/engineprimeexportjob.h
Labels: library

#13411 Improve use of parented_ptr
  src/controllers/legacycontrollersettingslayout.cpp
  src/library/export/dlglibraryexport.cpp
  src/util/parented_ptr.h
  src/widget/findonwebmenufactory.cpp
  src/widget/findonwebmenuservices/findonwebmenudiscogs.cpp
  src/widget/findonwebmenuservices/findonwebmenulastfm.cpp
  src/widget/findonwebmenuservices/findonwebmenusoundcloud.cpp
  src/widget/wcolorpickeraction.cpp
  src/widget/wfindonwebmenu.cpp
  src/widget/wfindonwebmenu.h
Labels: library, ui, controller backend

#13370 use enum class for waveform overview type
  src/preferences/dialog/dlgprefwaveform.cpp
  src/preferences/dialog/dlgprefwaveform.h
  src/widget/woverview.cpp
  src/widget/woverview.h
Labels: ui, preferences

#13326 (fix) Effects: show newly added effects, read/write HiddenEffects
  src/effects/effectsmanager.cpp
  src/effects/presets/effectxmlelements.h
  src/effects/visibleeffectslist.cpp
  src/effects/visibleeffectslist.h
Labels: effects, ui, preferences

#13369 WPixmapStore: Change getPixmapNoCache to std::unique_ptr and further optimizations
  src/skin/legacy/colorschemeparser.cpp
  src/skin/legacy/legacyskinparser.cpp
  src/util/opengltexture2d.cpp
  src/util/opengltexture2d.h
  src/widget/paintable.cpp
  src/widget/paintable.h
  src/widget/wbattery.cpp
  src/widget/wdisplay.cpp
  src/widget/wimagestore.cpp
  src/widget/wimagestore.h
  src/widget/wknobcomposed.cpp
  src/widget/woverview.cpp
  src/widget/wpixmapstore.cpp
  src/widget/wpixmapstore.h
  src/widget/wpushbutton.cpp
  src/widget/wskincolor.cpp
  src/widget/wskincolor.h
  src/widget/wslidercomposed.cpp
  src/widget/wspinnyglsl.cpp
  src/widget/wstatuslight.cpp
  src/widget/wvumeter.cpp
  src/widget/wvumeterbase.cpp
  src/widget/wvumeterglsl.cpp
  src/widget/wvumeterlegacy.cpp
Labels: ui

#13422 fix: invalid slip render marker
  src/waveform/renderers/allshader/waveformrendermark.cpp
Labels: waveform
