Repository mixxxdj/mixxx, pull requests merged in 2024-12, with the labels that each got.

#13953 limit play marker hints text height to 1/3rd or full waveform height (2.5)
  src/preferences/dialog/dlgprefwaveform.cpp
  src/preferences/dialog/dlgprefwaveform.h
  src/preferences/dialog/dlgprefwaveformdlg.ui
  src/waveform/renderers/allshader/waveformrendermark.cpp
  src/waveform/renderers/allshader/waveformrendermark.h
  src/waveform/waveformwidgetfactory.cpp
  src/waveform/waveformwidgetfactory.h
Labels: ui, preferences, waveform

#13958 resolveTrackIdsFromUrls directly, without going through supportedTracksFromUrls
  src/library/dao/trackdao.cpp
  src/library/dao/trackdao.h
  src/library/trackcollection.cpp
  src/library/trackcollection.h
Labels: library

#13687 Cleanup and deprecate more `util/` classes
  CMakeLists.txt
  src/analyzer/analyzerwaveform.h
  src/database/schemamanager.cpp
  src/effects/backends/builtin/autopaneffect.h
  src/effects/backends/builtin/compressoreffect.cpp
  src/effects/backends/builtin/distortioneffect.h
  src/effects/backends/builtin/phasereffect.cpp
  src/effects/backends/builtin/pitchshifteffect.cpp
  src/encoder/encodersndfileflac.cpp
  src/engine/controls/ratecontrol.cpp
  src/engine/enginesidechaincompressor.cpp
  src/preferences/broadcastprofile.cpp
  src/sources/audiosource.cpp
  src/sources/readaheadframebuffer.cpp
  src/util/class.h
  src/util/compatibility/qatomic.h
  src/util/font.cpp
  src/util/font.h
  src/util/gitinfostore.cpp
  src/util/gitinfostore.h
  src/util/readaheadsamplebuffer.cpp
  src/util/regex.h
  src/util/rescaler.h
  src/util/rlimit.h
  src/util/rotary.cpp
  src/util/rotary.h
  src/util/semanticversion.cpp
  src/util/semanticversion.h
  src/util/task.cpp
  src/util/task.h
  src/util/threadcputimer.cpp
  src/util/threadcputimer.h
  src/util/time.h
  src/util/trace.h
  src/util/types.h
  src/util/versionstore.cpp
  src/util/versionstore.h
  src/util/xml.cpp
  src/util/xml.h
  src/waveform/renderers/waveformwidgetrenderer.h
Labels: effects, engine, ui, build, preferences, waveform, analyzer

#13551 Auto DJ: Add new random tracks if one track does not exists
  src/library/autodj/autodjprocessor.cpp
  src/sources/soundsource.cpp
  src/sources/soundsourceproxy.cpp
  src/track/trackrecord.cpp
Labels: library, autodj, soundsource

#13966 EngineRecord: Fix recorded duration at start of recording
  src/engine/sidechain/enginerecord.cpp
Labels: engine, recording

#13896 Make extended controller information available for device selection
  CMakeLists.txt
  lib/hidapi/AUTHORS.txt
  lib/hidapi/HACKING.txt
  lib/hidapi/LICENSE-bsd.txt
  lib/hidapi/LICENSE-gpl3.txt
  lib/hidapi/LICENSE-orig.txt
  lib/hidapi/LICENSE.txt
  lib/hidapi/README.md
  lib/hidapi/VERSION
  lib/hidapi/hidapi/hidapi.h
  lib/hidapi/libusb/hid.c
  lib/hidapi/libusb/hidapi_libusb.h
  lib/hidapi/linux/hid.c
  lib/hidapi/mac/hid.c
  lib/hidapi/udev/69-hid.rules
  lib/hidapi/windows/hid.c
  res/images/preferences/dark/ic_preferences_bulk.svg
  res/images/preferences/dark/ic_preferences_hid.svg
  res/images/preferences/dark/ic_preferences_midi.svg
  res/images/preferences/light/ic_preferences_bulk.svg
  res/images/preferences/light/ic_preferences_hid.svg
  res/images/preferences/light/ic_preferences_midi.svg
  res/mixxx.qrc
  src/controllers/bulk/bulkcontroller.cpp
  src/controllers/bulk/bulkcontroller.h
  src/controllers/bulk/bulkenumerator.cpp
  src/controllers/bulk/bulkenumerator.h
  src/controllers/controller.cpp
  src/controllers/controller.h
  src/controllers/controllermanager.cpp
  src/controllers/dlgprefcontroller.cpp
  src/controllers/dlgprefcontroller.h
  src/controllers/dlgprefcontrollerdlg.ui
  src/controllers/dlgprefcontrollers.cpp
  src/controllers/hid/hidcontroller.cpp
  src/controllers/hid/hidcontroller.h
  src/controllers/hid/hiddevice.cpp
  src/controllers/hid/hiddevice.h
  src/controllers/hid/hidenumerator.cpp
  src/controllers/hid/hidenumerator.h
  src/controllers/hid/hidiothread.cpp
  src/controllers/hid/hidusagetables.cpp
  src/controllers/hid/hidusagetables.h
  src/controllers/hid/hidusagetablesdata.h
  src/controllers/midi/hss1394controller.h
  src/controllers/midi/hss1394enumerator.cpp
  src/controllers/midi/hss1394enumerator.h
  src/controllers/midi/midicontroller.cpp
  src/controllers/midi/midicontroller.h
  src/controllers/midi/portmidicontroller.h
  src/test/controller_mapping_validation_test.h
  src/test/midicontrollertest.cpp
  tools/hid_usagepages_json2cppheader.py
Labels: build, code quality, controller backend

#13968 fix: Rotary Jog filter ring buffer indexing
  CMakeLists.txt
  src/test/rotary_test.cpp
  src/util/rotary.cpp
  src/util/rotary.h
Labels: build, code quality

#13979 Controller settings: have clickable checkbox label (like QCheckBox)
  src/controllers/legacycontrollersettings.cpp
  src/controllers/legacycontrollersettings.h
Labels: preferences, usability, controller backend

#13960 Stem control test fix
  src/test/stemcontrolobjecttest.cpp
Labels: code quality

#13999 Merge 2.4 into 2.5
  .github/workflows/build.yml
  src/library/autodj/autodjprocessor.cpp
  src/sources/soundsource.cpp
  src/sources/soundsourceproxy.cpp
  src/track/trackrecord.cpp
Labels: library, autodj, soundsource

#13956 Changelog for 2.5.0
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Labels: changelog

#13932 ci(pre-commit): Add cmake-lint hook
  .cmakelintrc
  .gersemirc
  .pre-commit-config.yaml
  CMakeLists.txt
  cmake/modules/DefaultOption.cmake
  cmake/modules/FindChromaprint.cmake
  cmake/modules/FindDjInterop.cmake
  cmake/modules/FindEbur128.cmake
  cmake/modules/FindFFMPEG.cmake
  cmake/modules/FindFFTW.cmake
  cmake/modules/FindFLAC.cmake
  cmake/modules/FindG72X.cmake
  cmake/modules/FindGLIB.cmake
  cmake/modules/FindGPerfTools.cmake
  cmake/modules/FindHSS1394.cmake
  cmake/modules/FindID3Tag.cmake
  cmake/modules/FindJACK.cmake
  cmake/modules/FindKeyFinder.cmake
  cmake/modules/FindLibUSB.cmake
  cmake/modules/FindLibudev.cmake
  cmake/modules/FindMAD.cmake
  cmake/modules/FindMP4.cmake
  cmake/modules/FindMP4v2.cmake
  cmake/modules/FindMediaFoundation.cmake
  cmake/modules/FindModplug.cmake
  cmake/modules/FindOgg.cmake
  cmake/modules/FindOpus.cmake
  cmake/modules/FindOpusFile.cmake
  cmake/modules/FindPortAudio.cmake
  cmake/modules/FindPortMidi.cmake
  cmake/modules/FindShoutidjc.cmake
  cmake/modules/FindSleef.cmake
  cmake/modules/FindSndFile.cmake
  cmake/modules/FindSoundTouch.cmake
  cmake/modules/FindTagLib.cmake
  cmake/modules/FindUpower.cmake
  cmake/modules/FindVorbis.cmake
  cmake/modules/Findhidapi.cmake
  cmake/modules/Findlilv.cmake
  cmake/modules/Findmp3lame.cmake
  cmake/modules/Findrubberband.cmake
  cmake/modules/Findwavpack.cmake
  cmake/modules/GitInfo.cmake
  packaging/CPackConfig.cmake
  packaging/CPackDebInstall.cmake
  packaging/CPackDebUploadPPA.cmake
  src/proto/CMakeLists.txt
Labels: build, code quality, packaging, cmake

#13721 MIDI for light: add settings ui
  res/controllers/Midi_for_light-scripts.js
  res/controllers/Midi_for_light.midi.xml
Labels: controller mappings

#14005 Fix broken Windows build
  CMakeLists.txt
Labels: build

#14013 insert width and height in svgs where missing
  res/skins/Deere/icon/ic_battery_charged_48px.svg
  res/skins/Deere/icon/ic_battery_charging_0_48px.svg
  res/skins/Deere/icon/ic_battery_charging_1_48px.svg
  res/skins/Deere/icon/ic_battery_charging_2_48px.svg
  res/skins/Deere/icon/ic_battery_charging_3_48px.svg
  res/skins/Deere/icon/ic_battery_charging_4_48px.svg
  res/skins/Deere/icon/ic_battery_charging_5_48px.svg
  res/skins/Deere/icon/ic_battery_charging_6_48px.svg
  res/skins/Deere/icon/ic_battery_charging_7_48px.svg
  res/skins/Deere/icon/ic_battery_discharging_0_48px.svg
  res/skins/Deere/icon/ic_battery_discharging_1_48px.svg
  res/skins/Deere/icon/ic_battery_discharging_2_48px.svg
  res/skins/Deere/icon/ic_battery_discharging_3_48px.svg
  res/skins/Deere/icon/ic_battery_discharging_4_48px.svg
  res/skins/Deere/icon/ic_battery_discharging_5_48px.svg
  res/skins/Deere/icon/ic_battery_discharging_6_48px.svg
  res/skins/Deere/icon/ic_battery_discharging_7_48px.svg
  res/skins/Deere/icon/ic_eject_48px.svg
  res/skins/Deere/icon/ic_headphones_48px.svg
  res/skins/Deere/icon/ic_key_48px.svg
  res/skins/Deere/icon/ic_loop_in_48px.svg
  res/skins/Deere/icon/ic_loop_out_48px.svg
  res/skins/Deere/icon/ic_play_48px.svg
  res/skins/Deere/icon/ic_quantize_48px.svg
  res/skins/Deere/icon/ic_radio_button_off_18px.svg
  res/skins/Deere/icon/ic_radio_button_off_48px.svg
  res/skins/Deere/icon/ic_radio_button_on_18px.svg
  res/skins/Deere/icon/ic_radio_button_on_48px.svg
  res/skins/Deere/icon/ic_record_48px.svg
  res/skins/Deere/icon/ic_repeat_48px.svg
  res/skins/Deere/icon/ic_settings_48px.svg
  res/skins/Deere/image/style_handle_horizontal_checked.svg
  res/skins/Deere/image/style_handle_horizontal_unchecked.svg
  res/skins/Deere/image/style_handle_vertical_checked.svg
  res/skins/Deere/image/style_handle_vertical_unchecked.svg
Labels: skins

#14014 (fix) Tango icons: use 'image' instead of 'background-image' to fix upscaling
  res/skins/Tango/buttons/btn_arrow_down.svg
  res/skins/Tango/buttons/btn_arrow_down_hover.svg
  res/skins/Tango/buttons/btn_loop_in.svg
  res/skins/Tango/buttons/btn_loop_in_active.svg
  res/skins/Tango/buttons/btn_loop_out.svg
  res/skins/Tango/buttons/btn_loop_out_active.svg
  res/skins/Tango/style.qss
Labels: skins

#13909 Controllers: allow to enable MIDI Through Port in non-developer sessions
  src/controllers/controllermanager.cpp
  src/controllers/defs_controllers.h
  src/controllers/dlgprefcontrollers.cpp
  src/controllers/dlgprefcontrollers.h
  src/controllers/dlgprefcontrollersdlg.ui
  src/controllers/midi/portmidienumerator.cpp
  src/controllers/midi/portmidienumerator.h
Labels: controller backend

#13945 AudioUnitManager: Wrap every instance in a shared pointer
  src/effects/backends/audiounit/audiouniteffectprocessor.h
  src/effects/backends/audiounit/audiouniteffectprocessor.mm
  src/effects/backends/audiounit/audiounitmanager.h
  src/effects/backends/audiounit/audiounitmanager.mm
  src/effects/backends/audiounit/audiounitmanagerpointer.h
  src/effects/backends/audiounit/audiounitmanifest.mm
Labels: effects, macos

#14011 (fix) DlgTrackInfo/~Multi: use configured notation for key display
  src/library/dlgtrackinfo.cpp
  src/library/dlgtrackinfomulti.cpp
  src/preferences/dialog/dlgprefkey.cpp
  src/track/keyutils.cpp
  src/track/keyutils.h
Labels: library, ui, blocker, preferences, confirmed

#14023 fix running mixxx-test directly
  src/test/librarytest.cpp
  src/test/librarytest.h
  src/test/playermanagertest.cpp
Labels: code quality

#14025 Find controller path when executing mixxx-test from the build directory
  src/test/controller_mapping_validation_test.cpp
  src/test/controllers/controller_columnid_regression_test.cpp
  src/test/trackmetadataexport_test.cpp
Labels: code quality

#13997 (fix) Traktor Kontrol S4 Mk3: revert QuickEffect preset offset
  res/controllers/Traktor-Kontrol-S4-MK3.js
Labels: controller mappings

#14008 determine the key string from either key id or key in the basetrackcache
  src/library/basetrackcache.cpp
  src/library/basetrackcache.h
  src/library/basetracktablemodel.cpp
  src/track/keyutils.cpp
  src/track/keyutils.h
Labels: library

#14026 Don't use deprecated "hotcue_1_enabled"/"hotcue_2_enabled"
  src/test/hotcuecontrol_test.cpp
Labels: code quality

#14016 (fix) Traktor Kontrol S4 Mk3: correct wheel timestamp wrap-around
  res/controllers/Traktor-Kontrol-S4-MK3.js
Labels: controller mappings

#13631 (fix) Multi-track 'Track Properties': accept entered text directly (clearing not required)
  src/library/dlgtrackinfomulti.cpp
  src/library/dlgtrackinfomulti.h
  src/util/string.h
Labels: library, usability

#14024 (fix) allow seeking (eg. to hotcue) while scratching with the waveform
  src/engine/controls/ratecontrol.cpp
  src/engine/controls/ratecontrol.h
  src/engine/positionscratchcontroller.cpp
Labels: engine

#14020 (fix) Track Info: show key text as in tracks table
  src/library/dlgtrackinfo.cpp
  src/library/dlgtrackinfomulti.cpp
Labels: library, ui, preferences

#14029 fix clang-tidy complain
  src/widget/wtrackstemmenu.cpp
Labels: ui

#13935 Salvage #13772
  res/controllers/engine-api.d.ts
  src/controllers/scripting/legacy/controllerscriptenginelegacy.cpp
  src/controllers/scripting/legacy/controllerscriptinterfacelegacy.cpp
  src/controllers/scripting/legacy/controllerscriptinterfacelegacy.h
  src/test/controllerscriptenginelegacy_test.cpp
Labels: controller mappings, code quality, controller backend

#13906 (fix) adjust some skin controls, allow point-and-click mapping
  src/controllers/controlpickermenu.cpp
Labels: controller backend

#13846 (fix) add/reorder tabstops in Library and Waveform preferences
  src/preferences/dialog/dlgpreflibrarydlg.ui
  src/preferences/dialog/dlgprefwaveformdlg.ui
Labels: ui, preferences

#14034 (fix) LateNight PaleMoon: try to fix EQ knob graphics for Qt6.5+
  res/skins/LateNight/palemoon/knobs/knob_bg_regular.svg
Labels: skins, regression, QT6

#13969 mark rendering improvements
  src/util/roundtopixel.h
  src/waveform/renderers/allshader/digitsrenderer.cpp
  src/waveform/renderers/allshader/waveformrendermark.cpp
  src/waveform/renderers/waveformmark.cpp
  src/waveform/renderers/waveformmark.h
  src/waveform/renderers/waveformrendermark.cpp
  src/waveform/renderers/waveformwidgetrenderer.cpp
Labels: waveform

#13841 Tracks: focus the editing field in the track properties that corresponds to the focused column
  src/library/dlgtrackinfo.ui
  src/library/dlgtrackinfomulti.cpp
  src/library/dlgtrackinfomulti.h
  src/widget/wtrackmenu.cpp
  src/widget/wtracktableview.cpp
Labels: library, ui, usability

#13693 Overview: clear pickup position display when opening cue menu
  src/widget/woverview.cpp
Labels: ui, overview

#14035 (fix) skins: center rate range labels (Qt6 regression)
  res/skins/Tango/decks/rate_pitch_key.xml
  res/skins/Tango/style.qss
  src/widget/wraterange.cpp
Labels: skins, ui, regression, QT6

#13784 Solves problem with special characters in path to stems
  src/sources/soundsourceffmpeg.cpp
Labels: soundsource

#14036 Tracks: use clicked column to focus property editor in Track Info dialog
  src/library/dlgtrackinfo.cpp
  src/widget/wtrackmenu.cpp
  src/widget/wtrackmenu.h
  src/widget/wtrackproperty.cpp
  src/widget/wtracktableview.cpp
  src/widget/wtracktableview.h
Labels: library, ui

#14043 Revert "(fix) allow seeking (eg. to hotcue) while scratching with the waveform"
  src/engine/controls/ratecontrol.cpp
  src/engine/controls/ratecontrol.h
  src/engine/positionscratchcontroller.cpp
Labels: engine

#14049 2.5.0 release
  CMakeLists.txt
  LICENSE
  packaging/debian/changelog
Labels: build, packaging

#14051 Updated mappings for the Hercules Inpulse 300
  res/controllers/Hercules-DJControl-Inpulse-300-script.js
  res/controllers/Hercules_DJControl_Inpulse_300.midi.xml
Labels: controller mappings

#11075 feat(controllers): add new controller mapping for Numark NS6II
  res/controllers/Numark NS6II.midi.xml
  res/controllers/Numark-NS6II-scripts.js
  res/controllers/midi-controller-api.d.ts
Labels: controller mappings, code quality
