Repository mixxxdj/mixxx, pull requests merged in 2024-02, with the labels that each got.

#12698 DesktopHelper: Add openUrl abstraction to support iOS
  src/controllers/dlgprefcontroller.cpp
  src/controllers/dlgprefcontrollers.cpp
  src/dialog/dlgabout.cpp
  src/mixxxmainwindow.cpp
  src/preferences/dialog/dlgpreferences.cpp
  src/preferences/dialog/dlgpreflibrary.cpp
  src/util/cmdlineargs.h
  src/util/desktophelper.cpp
  src/util/desktophelper.h
  src/widget/wfindonwebmenu.cpp
  src/widget/wmainmenubar.cpp
Labels: ui, code quality, preferences, ios

#12713 DlgTrackInfo: remove redundant (explicit) update call
  src/library/dlgtrackinfo.cpp
Labels: library

#12672 CMakeLists: Support building for iOS
  CMakeLists.txt
Labels: build, cmake, ios

#12712 LateNight: use default RGB waveform colors
  res/skins/LateNight/decks/overview.xml
  res/skins/LateNight/waveform.xml
Labels: skins, waveform

#12716 SoundManager: Use correct PortAudio backend on iOS
  src/soundio/soundmanager.h
  src/soundio/soundmanagerconfig.cpp
Labels: soundio, ios

#12714 SoundManager: Set up `AVAudioSession` on iOS
  CMakeLists.txt
  src/soundio/soundmanager.cpp
  src/soundio/soundmanagerios.h
  src/soundio/soundmanagerios.mm
Labels: build, soundio, ios

#12709 Fail early in case Taglib 2.0 is found
  CMakeLists.txt
Labels: build

#12435 Fix gain issue with cloned tracks
  src/engine/enginebuffer.cpp
  src/engine/enginebuffer.h
  src/engine/enginepregain.cpp
  src/mixer/basetrackplayer.cpp
Labels: engine, code quality, sync

#12726 fix: typo ;)
  src/library/library.cpp
  src/library/library.h
  src/preferences/dialog/dlgpreflibrary.cpp
Labels: library, ui, preferences

#12732 CMakeLists: Fix buildenv typos
  CMakeLists.txt
Labels: build

#12703 Tango: allow to toggle crossfader indepedently from mixer
  res/skins/Tango/skin_settings.xml
  res/skins/Tango/topbar.xml
Labels: skins

#12657 Samplers: dont create extra empty players during startup
  src/controllers/controlpickermenu.cpp
  src/controllers/dlgprefcontroller.cpp
  src/controllers/dlgprefcontroller.h
  src/controllers/dlgprefcontrollers.cpp
  src/controllers/dlgprefcontrollers.h
  src/mixer/playermanager.cpp
  src/mixer/samplerbank.cpp
  src/mixer/samplerbank.h
  src/widget/wtrackmenu.cpp
  src/widget/wtrackmenu.h
Labels: ui

#12594 Library delegates: reduce includes, remove unneeded functions and debug asserts
  src/library/bpmdelegate.cpp
  src/library/bpmdelegate.h
  src/library/previewbuttondelegate.cpp
  src/library/previewbuttondelegate.h
  src/library/stardelegate.cpp
  src/library/stardelegate.h
  src/library/tableitemdelegate.cpp
  src/library/tableitemdelegate.h
  src/widget/wtracktableview.cpp
Labels: library, ui, code quality

#12735 Skins: add effect chain menu button to Deere, polish in Tango
  res/skins/Deere (64 Samplers)/skin.xml
  res/skins/Deere/effect_unit_controls.xml
  res/skins/Deere/icon/ic_settings_22px.svg
  res/skins/Deere/skin.xml
  res/skins/Deere/skin_settings.xml
  res/skins/Deere/style.qss
  res/skins/Deere/tool_bar.xml
  res/skins/Tango/buttons/btn_skinsettings_off.svg
  res/skins/Tango/buttons/btn_skinsettings_on.svg
  res/skins/Tango/fx/unit_left.xml
  res/skins/Tango/fx/unit_left_mini.xml
  res/skins/Tango/fx/unit_right.xml
  res/skins/Tango/fx/unit_right_mini.xml
  res/skins/Tango/style.qss
Labels: skins, effects

#12739 fix Loop_out not seeking back
  src/engine/controls/loopingcontrol.cpp
  src/test/looping_control_test.cpp
Labels: engine, code quality, looping

#12689 DlgPrefInterface: Disable tooltips on iOS by default
  src/preferences/dialog/dlgprefinterface.cpp
Labels: ui, preferences, polish, ios

#12733 (fix) hotcue_X_color control: color not stored in cue
  src/engine/controls/cuecontrol.cpp
  src/engine/controls/cuecontrol.h
Labels: engine

#12742 Fix LoopingControlTest.LoopInOutButtons_QuantizeEnabled
  src/test/looping_control_test.cpp
Labels: code quality

#12701 Track menu: order BPM action by factor, show peview (for single track)
  src/widget/wtrackmenu.cpp
Labels: ui

#12219 Skins: reload default.qss when (re)loading a skin
  src/mixxxmainwindow.cpp
  src/mixxxmainwindow.h
Labels: skins, stale

#12678 Device pixel non GL waveforms
  src/waveform/renderers/waveformrenderbeat.cpp
  src/waveform/renderers/waveformrendererfilteredsignal.cpp
  src/waveform/renderers/waveformrendererhsv.cpp
  src/waveform/renderers/waveformrendererrgb.cpp
Labels: waveform

#12767 Fix deprecated hotcue status control in midi-components.js
  res/controllers/midi-components-0.0.js
Labels: controllers

#12546 fix: add multi-sampling settings for QML
  res/qml/Mixxx/Controls/Knob.qml
  src/preferences/dialog/dlgprefinterface.cpp
  src/preferences/dialog/dlgprefinterface.h
  src/preferences/dialog/dlgprefinterfacedlg.ui
  src/qml/qmlconfigproxy.cpp
  src/qml/qmlconfigproxy.h
Labels: ui, preferences

#12769 controllers: ensure required samplers are created
  res/controllers/Behringer-CMD-MM1-scripts.js
  res/controllers/Behringer-CMDStudio4a-scripts.js
  res/controllers/DJ-Tech-Mixer-One-scripts.js
  res/controllers/Denon-MC6000MK2-scripts.js
  res/controllers/Denon-MC7000-scripts.js
  res/controllers/Hercules-DJControl-Inpulse-200-script.js
  res/controllers/Hercules-DJControl-Inpulse-300-script.js
  res/controllers/Hercules-DJControl-MIX-scripts.js
  res/controllers/Hercules_DJControl_Jogvision-scripts.js
  res/controllers/KANE_QuNeo_scripts.js
  res/controllers/Numark_DJ2GO2_Touch_scripts.js
  res/controllers/Pioneer-DDJ-400-script.js
  res/controllers/Pioneer-DDJ-FLX4-script.js
  res/controllers/Pioneer-DDJ-SB3-scripts.js
  res/controllers/Reloop Terminal Mix 2-4.js
  res/controllers/Reloop-Beatmix-2-4-scripts.js
  res/controllers/Reloop-Beatpad-scripts.js
  res/controllers/Stanton-SCS1m-scripts.js
  res/controllers/Traktor-Kontrol-S2-MK1-hid-scripts.js
  res/controllers/Traktor-Kontrol-S2-MK2-hid-scripts.js
  res/controllers/Traktor-Kontrol-S2-MK3-hid-scripts.js
  res/controllers/Traktor-Kontrol-S4-MK2-hid-scripts.js
  res/controllers/Vestax-VCI-400-scripts.js
  res/controllers/Yaeltex-MiniMixxx-scripts.js
Labels: controllers, regression, sampler

#12490 multi-line delegate: v-center one-line text
  src/library/multilineeditdelegate.cpp
  src/library/multilineeditdelegate.h
Labels: library

#12218 Track table header: keep menu open after toggling a checkbox
  res/skins/Deere/style.qss
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
  res/skins/Shade/style.qss
  res/skins/Shade/style_dark.qss
  res/skins/Shade/style_summer_sunset.qss
  res/skins/Tango/style.qss
  res/skins/default.qss
  src/widget/wtracktableviewheader.cpp
  src/widget/wtracktableviewheader.h
Labels: skins, library, ui, usability

#12214 WTrackMenu: provide the same features in all deck track widgets
  src/widget/wtrackmenu.cpp
  src/widget/wtrackmenu.h
  src/widget/wtrackproperty.cpp
  src/widget/wtrackwidgetgroup.cpp
Labels: ui

#12194 Preferences: apply changes from all pages when pressing Apply (like when pressing Okay)
  src/preferences/dialog/dlgpreferences.cpp
Labels: stale, preferences, usability, gui

#12785 Fix adopting hotcue button color
  src/engine/controls/cuecontrol.cpp
Labels: engine

#12593 move COs from DeckVisuals/VisualsManager to BaseTrackPlayerImpl
  src/mixer/basetrackplayer.cpp
  src/mixer/basetrackplayer.h
  src/waveform/visualsmanager.cpp
  src/waveform/visualsmanager.h
Labels: bug, confirmed, waveform

#12775 Add support for TagLib 2.0
  src/track/taglib/trackmetadata_ape.cpp
Labels: build, dependencies

#12792 Skins: update preview images for LateNight 64 sampler skins
  res/skins/LateNight (64 Samplers)/skin_preview_Classic.png
  res/skins/LateNight (64 Samplers)/skin_preview_PaleMoon.png
Labels: skins

#12682 Prepare release candidate for 2.4.0
  CHANGELOG.md
  CMakeLists.txt
  res/linux/org.mixxx.Mixxx.metainfo.xml
Labels: build

#12760 Use Taglib1 package on Linux if found
  CMakeLists.txt
  cmake/modules/FindChromaprint.cmake
  cmake/modules/FindDjInterop.cmake
  cmake/modules/FindEbur128.cmake
  cmake/modules/FindFLAC.cmake
  cmake/modules/FindGPerfTools.cmake
  cmake/modules/FindID3Tag.cmake
  cmake/modules/FindJACK.cmake
  cmake/modules/FindKeyFinder.cmake
  cmake/modules/FindLibUSB.cmake
  cmake/modules/FindMAD.cmake
  cmake/modules/FindMP4.cmake
  cmake/modules/FindMP4v2.cmake
  cmake/modules/FindModplug.cmake
  cmake/modules/FindOgg.cmake
  cmake/modules/FindOpus.cmake
  cmake/modules/FindOpusFile.cmake
  cmake/modules/FindPortAudio.cmake
  cmake/modules/FindShoutidjc.cmake
  cmake/modules/FindSndFile.cmake
  cmake/modules/FindSoundTouch.cmake
  cmake/modules/FindTagLib.cmake
  cmake/modules/FindUpower.cmake
  cmake/modules/Findhidapi.cmake
  cmake/modules/Findlilv.cmake
  cmake/modules/Findrubberband.cmake
  cmake/modules/Findwavpack.cmake
  src/sources/metadatasourcetaglib.cpp
  src/test/metadatatest.cpp
  src/test/seratobeatgridtest.cpp
  src/test/seratomarkers2test.cpp
  src/test/seratomarkerstest.cpp
  src/track/taglib/trackmetadata_ape.h
  src/track/taglib/trackmetadata_common.h
  src/track/taglib/trackmetadata_file.cpp
  src/track/taglib/trackmetadata_file.h
  src/track/taglib/trackmetadata_id3v2.cpp
  src/track/taglib/trackmetadata_id3v2.h
  src/track/taglib/trackmetadata_mp4.h
  src/track/taglib/trackmetadata_riff.h
  src/track/taglib/trackmetadata_xiph.cpp
  src/track/taglib/trackmetadata_xiph.h
  src/util/versionstore.cpp
Labels: build, code quality, cmake

#12797 Preferences: restore skin size warning string
  src/preferences/dialog/dlgprefinterface.cpp
Labels: ui, preferences, regression

#12794 Preferences: touch multi-sampling option only with QML enabled
  src/preferences/dialog/dlgprefinterface.cpp
  src/preferences/dialog/dlgprefinterfacedlg.ui
Labels: ui, preferences

#12804 Include <QtGui/qtgui-config.h> to fix flatpak builds
  src/waveform/renderers/glwaveformrenderer.h
Labels: blocker, regression, waveform

#12821 fix/crash: Computer feature: check for m_pBrowseThread
  src/library/browse/browsetablemodel.cpp
Labels: library, crash, browse

#12830 Add missing Taglib dependency
  CMakeLists.txt
Labels: build

#12795 feat: add QML interceptor to auto reload on file change
  CMakeLists.txt
  src/qml/qmlapplication.cpp
  src/qml/qmlapplication.h
  src/qml/qmlautoreload.cpp
  src/qml/qmlautoreload.h
Labels: build, qml

#12840 Traktor S3: Fix mapping crash on macOS
  res/controllers/Traktor-Kontrol-S3-hid-scripts.js
Labels: controllers

#12842 Pioneer DDJ-FLX4 mapping improvements
  res/controllers/Pioneer-DDJ-FLX4-script.js
  res/controllers/Pioneer-DDJ-FLX4.midi.xml
Labels: controllers

#12604 Install qml module on Windows
  CMakeLists.txt
  packaging/debian/control.in
  tools/debian_buildenv.sh
Labels: build, packaging, qml

#12847 SoundSourceMP3: fix unused function warning
  src/sources/soundsourcemp3.cpp
Labels: soundsource

#12853 update libkeyfinder to 2.2.8
  CMakeLists.txt
Labels: build

#12866 Playlists: enforce update of playlist labels
  src/library/dao/playlistdao.cpp
  src/library/trackset/baseplaylistfeature.cpp
Labels: library, regression, playlist

#12445 Remove unnecessary unpolish operation of the style, before polish the new style
  src/widget/controlwidgetconnection.cpp
  src/widget/wcolorpicker.cpp
  src/widget/wpushbutton.cpp
  src/widget/wwidgetgroup.cpp
Labels: ui, needs review, performance

#12883 Merge 2.4
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
  src/widget/controlwidgetconnection.cpp
  src/widget/wcolorpicker.cpp
  src/widget/wpushbutton.cpp
  src/widget/wwidgetgroup.cpp
Labels: ui

#12884 Developer Tools: initially sort controls by group name, ascending
  src/dialog/dlgdevelopertools.cpp
Labels: ui

#12889 feat(ci): add eslint rule prefer-template
  .eslintrc.json
Labels: code quality

#12744 Tracks: custom text color for played tracks (qss)
  res/skins/Deere/style.qss
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
  res/skins/Shade/style.qss
  res/skins/Shade/style_dark.qss
  res/skins/Tango/style.qss
  src/library/basetracktablemodel.cpp
  src/library/basetracktablemodel.h
  src/library/bpmdelegate.cpp
  src/library/colordelegate.cpp
  src/library/coverartdelegate.cpp
  src/library/stardelegate.cpp
  src/library/stareditor.cpp
  src/library/stareditor.h
  src/library/tableitemdelegate.cpp
  src/library/tableitemdelegate.h
  src/widget/wtracktableview.cpp
  src/widget/wtracktableview.h
Labels: skins, library, ui
