Repository mixxxdj/mixxx, pull requests merged in 2024-04, with the labels that each got.

#11755 WTrackProperty: show simple editor on delayed double-click
  res/skins/Deere/style.qss
  res/skins/LateNight/style.qss
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
  res/skins/Shade/deck.xml
  res/skins/Shade/style.qss
  res/skins/Shade/style_dark.qss
  res/skins/Tango/style.qss
  src/skin/legacy/tooltips.cpp
  src/widget/wtrackproperty.cpp
  src/widget/wtrackproperty.h
Labels: skins, ui, build, feature

#13011 fix: allow missing COs on QML component
  src/qml/qmlcontrolproxy.cpp
Labels: qml

#12793 Lenient taglib 2.0 guard
  CMakeLists.txt
Labels: build

#12973 Fix hid addOutput
  res/controllers/Nintendo-Wiimote.js
  res/controllers/Pioneer-CDJ-HID.js
Labels: controller mappings, bug, hid, controllers

#12844 QML Auto-Reload Fixes
  src/qml/qmlapplication.h
  src/qml/qmlautoreload.cpp
  src/qml/qmlautoreload.h
Labels: qml

#13007 (fix) Waveform scratch crossing loop boundaries
  src/engine/controls/ratecontrol.cpp
  src/engine/controls/ratecontrol.h
  src/engine/enginebuffer.cpp
  src/engine/positionscratchcontroller.cpp
  src/engine/positionscratchcontroller.h
  src/engine/readaheadmanager.cpp
Labels: engine, waveform, looping

#13035 (fix) Drag'n'drop: avoid unintended drag on hover (WTrackProperty, WCoverArt etc.)
  src/util/dnd.cpp
  src/widget/wcoverart.cpp
Labels: skins, ui

#13058 fix: incorrect reboot required notification on preference updates
  src/preferences/dialog/dlgprefinterface.cpp
Labels: ui, preferences

#12112 Effects: Add backend for Audio Unit (AU) plugins on macOS
  CMakeLists.txt
  src/effects/backends/audiounit/audiounitbackend.h
  src/effects/backends/audiounit/audiounitbackend.mm
  src/effects/backends/audiounit/audiouniteffectprocessor.h
  src/effects/backends/audiounit/audiouniteffectprocessor.mm
  src/effects/backends/audiounit/audiounitmanager.h
  src/effects/backends/audiounit/audiounitmanager.mm
  src/effects/backends/audiounit/audiounitmanifest.h
  src/effects/backends/audiounit/audiounitmanifest.mm
  src/effects/backends/audiounit/audiounitutils.h
  src/effects/backends/effectsbackend.cpp
  src/effects/backends/effectsbackendmanager.cpp
  src/effects/defs.h
Labels: effects, build, needs review, changelog, feature, macos

#13069 Tools: Add `rpm_buildenv.sh` for building on Fedora
  README.md
  tools/rpm_buildenv.sh
Labels: build, documentation

#13061 Fix 13060 loop gradient
  src/waveform/renderers/allshader/waveformrendermark.cpp
Labels: waveform

#12917 SSE: Check `!defined(__EMSCRIPTEN__)` where intrinsics are unavailable on WASM
  src/soundio/sounddevicenetwork.cpp
  src/soundio/sounddeviceportaudio.cpp
  src/util/denormalsarezero.h
Labels: soundio, wasm

#13071 README: Recommend running buildenvs over sourcing them on Linux
  README.md
Labels: documentation

#13032 Fix missing effects assert
  src/effects/backends/effectsbackendmanager.cpp
  src/effects/backends/effectsbackendmanager.h
  src/effects/effectslot.cpp
  src/preferences/dialog/dlgprefeffects.cpp
  src/widget/weffectchainpresetbutton.cpp
  src/widget/weffectchainpresetselector.cpp
Labels: effects, ui, preferences

#12781 Registering MIDI Input Handlers From Javascript
  res/controllers/midi-controller-api.d.ts
  src/controllers/controller.cpp
  src/controllers/controller.h
  src/controllers/controllerinputmappingtablemodel.cpp
  src/controllers/midi/legacymidicontrollermapping.cpp
  src/controllers/midi/legacymidicontrollermapping.h
  src/controllers/midi/legacymidicontrollermappingfilehandler.cpp
  src/controllers/midi/midicontroller.cpp
  src/controllers/midi/midicontroller.h
  src/controllers/midi/midimessage.h
  src/controllers/midi/midiutils.h
  src/controllers/scripting/controllerscriptenginebase.cpp
  src/controllers/scripting/controllerscriptenginebase.h
  src/controllers/scripting/legacy/controllerscriptenginelegacy.h
  src/test/learningutilstest.cpp
  src/test/midicontrollertest.cpp
Labels: skins, engine, ui, build, code quality, preferences, waveform, cmake, controller backend, controllers

#13079 macOS buildenv: Use arm64 buildenv on arm64 Macs by default
  tools/macos_buildenv.sh
Labels: build, macos

#13041 Tempo locking controls
  src/controllers/controlpickermenu.cpp
  src/engine/controls/bpmcontrol.cpp
  src/engine/controls/bpmcontrol.h
Labels: engine, bpm

#13080 CMakeLists: Always prefer OpenGL framework on macOS
  CMakeLists.txt
Labels: build, macos

#13042 feat: refactor FFmpeg soundsource to allow other soundsource to inherit it
  src/sources/soundsourceffmpeg.cpp
  src/sources/soundsourceffmpeg.h
Labels: needs review, code quality, soundsource

#12882 (fix) Library sidebar: fix History label update
  src/library/trackset/baseplaylistfeature.cpp
  src/library/trackset/playlistfeature.cpp
  src/library/trackset/setlogfeature.cpp
Labels: library, ui, needs review, regression

#13088 (fix) Slider tooltip: consider orientation for up/down shortcut tooltips + add support for WKnobComposed
  src/skin/legacy/legacyskinparser.cpp
  src/widget/wslidercomposed.cpp
  src/widget/wslidercomposed.h
Labels: ui, tooltip

#13020 (fix) History: fix label update, include hidden tracks in count and duration
  src/library/trackset/baseplaylistfeature.cpp
  src/library/trackset/baseplaylistfeature.h
  src/library/trackset/playlistfeature.cpp
  src/library/trackset/playlistfeature.h
  src/library/trackset/setlogfeature.cpp
  src/library/trackset/setlogfeature.h
Labels: library

#12938 (fix) Tango waveform toggle, remove unneeded waveform Singleton
  res/skins/Tango (64 Samplers)/skin.xml
  res/skins/Tango/skin.xml
  res/skins/Tango/topbar.xml
Labels: skins, needs review, regression

#12928 (fix) Deere: make sampler rows persist
  res/skins/Deere (64 Samplers)/sample_decks.xml
  res/skins/Deere (64 Samplers)/skinsettings_sampler_buttons.xml
  res/skins/Deere/sample_decks.xml
  res/skins/Deere/skinsettings_sampler_buttons.xml
Labels: skins, needs review, regression, bug

#12893 (fix) Computer feature: update removable devices on Linux
  src/library/browse/browsefeature.cpp
  src/library/browse/foldertreemodel.cpp
  src/library/browse/foldertreemodel.h
  src/library/treeitemmodel.cpp
Labels: library, needs review, browse

#13094 fix: add missing spacer in interface preference
  src/preferences/dialog/dlgprefinterfacedlg.ui
Labels: ui, preferences

#12937 (fix) Library: allow adding new dirs while we have missing watched dir(s)
  src/library/dao/directorydao.cpp
Labels: library

#12983 Delete all artifacts from obsolete feature branches from https://downloads.mixxx.org/snapshots/
  .github/workflows/download_cleanup.yml
Labels: blocker

#12878 (fix) relink directory / migrate Linux/macOS <--> Windows
  src/library/dao/directorydao.cpp
  src/library/dao/directorydao.h
  src/library/trackcollection.cpp
  src/library/trackcollection.h
  src/preferences/dialog/dlgpreflibrary.cpp
  src/preferences/dialog/dlgpreflibrary.h
Labels: library, ui, needs review, preferences

#12875 (fix) Tooltips: update 'hotcue' with saved loop features
  src/skin/legacy/tooltips.cpp
Labels: needs review, gui

#13067 (fix) Library: BPM display uses decimal separator of selected locale
  src/library/basetracktablemodel.cpp
  src/library/bpmdelegate.cpp
Labels: library, ui

#12301 Tagfetcher: cache fetched covers
  src/library/dlgcoverartfullsize.cpp
  src/library/dlgcoverartfullsize.h
  src/library/dlgtagfetcher.cpp
  src/library/dlgtagfetcher.h
  src/musicbrainz/tagfetcher.cpp
  src/musicbrainz/tagfetcher.h
  src/musicbrainz/web/coverartarchiveimagetask.cpp
  src/musicbrainz/web/coverartarchiveimagetask.h
  src/musicbrainz/web/coverartarchivelinkstask.cpp
  src/musicbrainz/web/coverartarchivelinkstask.h
  src/widget/wcoverartlabel.cpp
  src/widget/wcoverartlabel.h
Labels: library, ui, usability

#12805 Skins: polish fx chain controls
  res/skins/Deere/effect_unit_controls.xml
  res/skins/LateNight/fx/unit_parameters_visible.xml
  res/skins/Tango/buttons/btn_fx_mixmode_d+w.svg
  res/skins/Tango/buttons/btn_fx_mixmode_d-w.svg
  res/skins/Tango/fx/unit_left.xml
  res/skins/Tango/fx/unit_left_mini.xml
  res/skins/Tango/fx/unit_right.xml
  res/skins/Tango/fx/unit_right_mini.xml
  res/skins/Tango/style.qss
Labels: skins, needs review

#12648 (fix) Track rating: simplify by moving some logic from WStarRating to BaseTrackPlayerImpl
  src/library/dlgtrackinfo.cpp
  src/library/dlgtrackinfo.h
  src/mixer/basetrackplayer.cpp
  src/mixer/basetrackplayer.h
  src/skin/legacy/legacyskinparser.cpp
  src/test/autodjprocessor_test.cpp
  src/widget/wstarrating.cpp
  src/widget/wstarrating.h
Labels: library, ui, code quality

#13092 Playlists: move tracks with Alt + Up/Down/PageUp/PageDown/Home/End
  .codespellignorelines
  src/widget/wtracktableview.cpp
  src/widget/wtracktableview.h
Labels: ui, playlist, keyboard

#13115 ControllerScriptInterfaceLegacy: Fix typo
  src/controllers/scripting/legacy/controllerscriptinterfacelegacy.cpp
Labels: polish

#13113 MC7000: Fix redundant argument and migrate to `hotcue_x_status`
  res/controllers/Denon-MC7000-scripts.js
Labels: controllers

#13043 Fix null pointer access and avoid nested allocations with QOpenGLTexture
  CMakeLists.txt
  src/util/opengltexture2d.cpp
  src/util/opengltexture2d.h
  src/util/texture.cpp
  src/util/texture.h
  src/waveform/renderers/allshader/waveformrendererpreroll.cpp
  src/waveform/renderers/allshader/waveformrendererpreroll.h
  src/waveform/renderers/allshader/waveformrendermark.cpp
  src/waveform/renderers/allshader/waveformrendermark.h
  src/widget/paintable.cpp
  src/widget/paintable.h
  src/widget/wspinnyglsl.cpp
  src/widget/wspinnyglsl.h
  src/widget/wvumeterglsl.cpp
  src/widget/wvumeterglsl.h
Labels: ui, build, bug, waveform

#12990 animate long press latching
  src/widget/wpushbutton.cpp
  src/widget/wpushbutton.h
Labels: ui

#13136 destroy spinny and vumeter textures inside openglcontext
  src/widget/wspinnyglsl.cpp
  src/widget/wspinnyglsl.h
  src/widget/wvumeterglsl.cpp
  src/widget/wvumeterglsl.h
Labels: ui

#13135 (fix) backport: require a minimum movement before initiating the drag&drop of tracks
  src/util/dnd.cpp
  src/util/dnd.h
  src/widget/wcoverart.cpp
  src/widget/weffectparameternamebase.cpp
  src/widget/weffectparameternamebase.h
  src/widget/wtrackproperty.cpp
  src/widget/wtrackproperty.h
  src/widget/wtracktableview.cpp
  src/widget/wtracktableview.h
  src/widget/wtrackwidgetgroup.cpp
  src/widget/wtrackwidgetgroup.h
Labels: ui

#12700 Track menu: add star rating
  CMakeLists.txt
  res/skins/Deere/style.qss
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
  res/skins/Shade/style.qss
  res/skins/Shade/style_dark.qss
  res/skins/Shade/style_summer_sunset.qss
  res/skins/Tango/style.qss
  src/widget/wstarratingaction.cpp
  src/widget/wstarratingaction.h
  src/widget/wtrackmenu.cpp
  src/widget/wtrackmenu.h
Labels: skins, library, ui

#13145 Traktor S2 Mk1: fix warnings
  res/controllers/Traktor-Kontrol-S2-MK1-hid-scripts.js
Labels: controller mappings, ui

#13087 FindSndFile: Link mpg123 in static builds
  cmake/modules/FindSndFile.cmake
Labels: build, cmake

#13085 FindSndFile: Link FLAC in static builds
  cmake/modules/FindSndFile.cmake
Labels: build, cmake

#13039 (fix) Controller I/O table: sort Action column by display string
  src/controllers/controllerinputmappingtablemodel.cpp
Labels: preferences, controllers

#13012 iTunes/Serato/Traktor/Rhythmbox: Print error if library file could not be opened
  src/library/itunes/itunesxmlimporter.cpp
  src/library/rhythmbox/rhythmboxfeature.cpp
  src/library/serato/seratofeature.cpp
  src/library/traktor/traktorfeature.cpp
Labels: library, itunes, serato

#13127 Playlists: improve table update after deleting (purging) track files
  src/library/dao/playlistdao.cpp
  src/library/dao/playlistdao.h
  src/library/library.cpp
  src/library/library.h
  src/library/playlisttablemodel.cpp
  src/library/trackcollection.cpp
  src/library/trackset/baseplaylistfeature.cpp
  src/skin/legacy/legacyskinparser.cpp
  src/widget/wlibrary.cpp
  src/widget/wlibrary.h
  src/widget/wtrackmenu.cpp
  src/widget/wtrackmenu.h
  src/widget/wtrackproperty.cpp
  src/widget/wtrackproperty.h
  src/widget/wtracktableview.cpp
Labels: library, ui

#12929 Show hint if resource path in CMakeCache.txt does not exist
  src/main.cpp
  src/preferences/configobject.cpp
Labels: ui, preferences

#12852 fix Color column width issue, simple
  src/library/basetracktablemodel.cpp
Labels: library

#13154 Vcpkg update 2.4
  CMakeLists.txt
  cmake/modules/FindSndFile.cmake
  tools/macos_buildenv.sh
  tools/windows_buildenv.bat
Labels: build, cmake

#12791 Tracks: select track row when clicking the preview button (only when starting preview)
  src/library/previewbuttondelegate.cpp
  src/library/previewbuttondelegate.h
Labels: library

#13120 fix typo in WTrackProperty
  src/widget/wtrackproperty.cpp
Labels: library, ui

#13166 Denon MC6000MK2: Fix mapping of filter knob/button
  res/controllers/Denon-MC6000MK2-scripts.js
Labels: controllers

#11901 (fix) Library track menu: show Hide action also in Playlist & Crates
  src/library/playlisttablemodel.cpp
  src/library/trackset/crate/cratetablemodel.cpp
  src/widget/wtrackmenu.cpp
  src/widget/wtracktableview.cpp
Labels: library, ui

#13155 Update vcpkg dependencies to 9674e6a and 875f13b
  .github/workflows/build.yml
  CMakeLists.txt
  tools/macos_buildenv.sh
  tools/windows_buildenv.bat
Labels: build

#13178 Windows: Capitalized Start Menu folder and automatic version in LICENSE.rtf
  .pre-commit-config.yaml
  CMakeLists.txt
  packaging/wix/LICENSE.rtf.in
Labels: build, code quality, packaging

#13182 (fix) WCoverArt: popup on click release
  src/widget/wcoverart.cpp
Labels: ui, blocker
