Repository mixxxdj/mixxx, pull requests merged in 2025-02, with the labels that each got.

#14006 Reorganize content into tabs of controller preferences
  src/controllers/dlgprefcontroller.cpp
  src/controllers/dlgprefcontroller.h
  src/controllers/dlgprefcontrollerdlg.ui
Labels: preferences, controller backend

#14266 Fix: Allow `midino` 0 in `MidiController::makeInputHandler`
  src/controllers/midi/midicontroller.cpp
  src/controllers/midi/midicontroller.h
  src/test/midicontrollertest.cpp
Labels: code quality, controller backend

#14268 Building without tests-tools
  CMakeLists.txt
  src/test/main.cpp
Labels: build, code quality

#14269 Building without tests-tools 2.5
  CMakeLists.txt
  src/test/main.cpp
Labels: build, code quality

#14204 Qt 6.8: Set qt6_policy(SET QTP0004 OLD)
  CMakeLists.txt
Labels: build

#14187 endoftrack waveformrenderer using rendergraph
  src/waveform/renderers/allshader/waveformrendererendoftrack.cpp
  src/waveform/renderers/allshader/waveformrendererendoftrack.h
Labels: waveform

#14189 markrange waveformrenderer using rendergraph
  src/waveform/renderers/allshader/waveformrendermarkrange.cpp
  src/waveform/renderers/allshader/waveformrendermarkrange.h
  src/waveform/widgets/allshader/waveformwidget.cpp
Labels: waveform

#14186 signal waveformrenderers using rendergraph
  src/waveform/renderers/allshader/waveformrendererfiltered.cpp
  src/waveform/renderers/allshader/waveformrendererfiltered.h
  src/waveform/renderers/allshader/waveformrendererhsv.cpp
  src/waveform/renderers/allshader/waveformrendererhsv.h
  src/waveform/renderers/allshader/waveformrendererrgb.cpp
  src/waveform/renderers/allshader/waveformrendererrgb.h
  src/waveform/renderers/allshader/waveformrenderersimple.cpp
  src/waveform/renderers/allshader/waveformrenderersimple.h
Labels: waveform

#14190 preroll waveformrenderer using rendergraph
  src/waveform/renderers/allshader/waveformrendererpreroll.cpp
  src/waveform/renderers/allshader/waveformrendererpreroll.h
  src/waveform/renderers/waveformwidgetrenderer.cpp
  src/waveform/renderers/waveformwidgetrenderer.h
Labels: waveform

#14192 stem waveformrenderer using rendergraph
  src/waveform/renderers/allshader/waveformrendererstem.cpp
  src/waveform/renderers/allshader/waveformrendererstem.h
Labels: waveform

#14172 Update to libdjinterop 0.24.3 - support for Engine 4.1/4.2
  CMakeLists.txt
  src/library/export/dlglibraryexport.cpp
  src/library/export/engineprimeexportjob.cpp
  src/library/export/engineprimeexportrequest.h
  tools/macos_buildenv.sh
  tools/windows_buildenv.bat
Labels: library, build

#14188 mark waveformrenderer using rendergraph
  src/waveform/renderers/allshader/digitsrenderer.cpp
  src/waveform/renderers/allshader/digitsrenderer.h
  src/waveform/renderers/allshader/waveformrendermark.cpp
  src/waveform/renderers/allshader/waveformrendermark.h
  src/waveform/renderers/waveformmark.h
  src/waveform/renderers/waveformmarkrange.h
  src/waveform/renderers/waveformrendermarkbase.cpp
  src/waveform/renderers/waveformrendermarkbase.h
  src/waveform/widgets/allshader/waveformwidget.cpp
Labels: waveform

#14291 fix: use generic way to get the group on stem waveform renderer
  src/waveform/renderers/allshader/waveformrendererstem.cpp
Labels: blocker, regression, bug, waveform

#14285 Remove XML input declarations from Behringer DDM4000 & BCR2000 mapping
  res/controllers/Behringer BCR2000.midi.xml
  res/controllers/Behringer DDM4000.midi.xml
  res/controllers/Behringer-Extension-scripts.js
Labels: controller mappings

#14108 ControllerScriptInterfaceLegacy: Windows 1252 fix
  res/controllers/engine-api.d.ts
  src/controllers/scripting/legacy/controllerscriptinterfacelegacy.cpp
  src/controllers/scripting/legacy/controllerscriptinterfacelegacy.h
  src/test/controllerscriptenginelegacy_test.cpp
Labels: controller mappings, code quality, controller backend

#14110 Fix caluculation of m_resourcePath in the testing case
  src/controllers/scripting/legacy/controllerscriptenginelegacy.h
  src/test/controller_mapping_validation_test.cpp
Labels: code quality, controller backend

#14123 (fix) Traktor Kontrol S3: use pitch absolute mode as described in the manual
  res/controllers/Traktor-Kontrol-S3-hid-scripts.js
Labels: controller mappings

#14078 Tooltips: always show if Ctrl key is pressed
  src/mixxxmainwindow.cpp
Labels: usability, gui, tooltip

#14184 fix: add HID error message upon failed open
  src/controllers/hid/hidcontroller.cpp
Labels: controller backend

#1713 borrowable_ptr, a threadsave callback solution
  CMakeLists.txt
  src/test/borrowabletest.cpp
  src/util/borrowable_ptr.h
Labels: code quality

#14303 Include QtConcurrentRun
  src/test/borrowabletest.cpp
Labels: code quality

#14292 Refactor passing of LegacyControllerMapping
  src/controllers/bulk/bulkcontroller.cpp
  src/controllers/bulk/bulkcontroller.h
  src/controllers/controller.h
  src/controllers/controllermanager.cpp
  src/controllers/hid/hidcontroller.cpp
  src/controllers/hid/hidcontroller.h
  src/controllers/hid/legacyhidcontrollermapping.h
  src/controllers/legacycontrollermapping.h
  src/controllers/midi/legacymidicontrollermapping.h
  src/controllers/midi/midicontroller.cpp
  src/controllers/midi/midicontroller.h
  src/test/controller_mapping_settings_test.cpp
  src/test/controller_mapping_validation_test.h
  src/test/midicontrollertest.cpp
Labels: code quality, controller backend

#14281 Fix wrong mapping change confirmation
  src/controllers/midi/legacymidicontrollermapping.cpp
  src/controllers/midi/midicontroller.cpp
Labels: code quality, regression, controller backend

#14079 Controller preferences: don't break support link texts
  src/controllers/dlgprefcontroller.cpp
Labels: preferences, controller backend

#13808 add controls to order Hotcues by position
  CMakeLists.txt
  src/audio/frame.h
  src/controllers/controlpickermenu.cpp
  src/engine/controls/cuecontrol.cpp
  src/engine/controls/cuecontrol.h
  src/test/hotcueorderbyposition_test.cpp
  src/track/track.cpp
  src/track/track.h
  src/track/track_decl.h
  src/widget/wtrackmenu.cpp
  src/widget/wtrackmenu.h
Labels: skins, engine, ui, build, code quality, cue, usability, controller backend

#14305 (fix) Traktor S4mk3: smooth xfader curve for Const Power mode
  res/controllers/Traktor-Kontrol-S4-MK3.js
Labels: controller mappings

#14318 Add case-insensitive parsing for Lancelot key notation
  src/test/keyutilstest.cpp
  src/track/keyutils.cpp
Labels: code quality

#12872 Mapping for Numark Platinum FX
  res/controllers/Numark Mixtrack Platinum FX.midi.xml
  res/controllers/Numark-Mixtrack-Platinum-FX-scripts.js
Labels: controller mappings

#13952 Optimized tooltip generation in WBaseWidget
  src/widget/wbasewidget.cpp
  src/widget/wbasewidget.h
Labels: ui, code quality

#14309 Overview: scale by ReplayGain
  src/widget/woverview.cpp
  src/widget/woverview.h
Labels: ui

#14208 wait for the portaudio finished callback to avoid sporadic deadlocks
  src/soundio/sounddeviceportaudio.cpp
  src/soundio/sounddeviceportaudio.h
Labels: soundio

#14126 Hercules DJ Control Starlight: Add EffectChain superknob control
  res/controllers/Hercules DJControl Starlight.midi.xml
Labels: controller mappings

#13148 Usability/Keyboard: Add a rebindable keyboard shortcut for editing items as a replacement for F2
  res/keyboard/cs_CZ.kbd.cfg
  res/keyboard/da_DK.kbd.cfg
  res/keyboard/de_CH.kbd.cfg
  res/keyboard/de_DE.kbd.cfg
  res/keyboard/el_GR.kbd.cfg
  res/keyboard/en_US.kbd.cfg
  res/keyboard/es_ES.kbd.cfg
  res/keyboard/fi_FI.kbd.cfg
  res/keyboard/fr_CH.kbd.cfg
  res/keyboard/fr_FR.kbd.cfg
  res/keyboard/it_IT.kbd.cfg
  res/keyboard/ru_RU.kbd.cfg
  src/library/librarycontrol.cpp
  src/library/librarycontrol.h
  src/library/trackset/baseplaylistfeature.cpp
  src/library/trackset/crate/cratefeature.cpp
  src/widget/wlibrarysidebar.cpp
  src/widget/wlibrarysidebar.h
  src/widget/wtracktableview.cpp
  src/widget/wtracktableview.h
Labels: library, ui, keyboard

#13920 Remove boilerplate and duplication in controller setting definition
  src/controllers/legacycontrollersettings.cpp
  src/controllers/legacycontrollersettings.h
  src/controllers/legacycontrollersettingsfactory.h
  src/test/controller_mapping_settings_test.cpp
Labels: code quality, controller backend

#14328 fix: skip message send if sysex code is undefined
  res/controllers/Reloop-Digital-Jockey-2-IE.scripts.js
Labels: controller mappings

#14329 Traktor S4mk2: fix script error in pointlessLightShow()
  res/controllers/Traktor-Kontrol-S4-MK2-hid-scripts.js
Labels: controller mappings

#14323 Fix: Avoid timer warning on button release
  res/controllers/midi-components-0.0.js
Labels: controller mappings

#14331 (fixup) Overview: use 1.0 if track has no valid replayGain ratio
  src/widget/woverview.cpp
Labels: ui, regression, bug

#14327 Fix 14326
  src/controllers/legacycontrollersettings.cpp
  src/controllers/legacycontrollersettings.h
Labels: controller backend

#14028 S4MK3: stop wheel led blinking when track is over/stopped
  res/controllers/Traktor-Kontrol-S4-MK3.js
Labels: controller mappings

#14332 (fix) Controller mapping info: avoid cropped description text
  src/controllers/dlgprefcontrollerdlg.ui
Labels: controller mappings, controller backend

#14321 Fix and improve missing env error message
  CMakeLists.txt
Labels: build, regression

#14340 traktor-s3: Small updates and fixes
  res/controllers/Traktor-Kontrol-S3-hid-scripts.js
Labels: controller mappings

#14344 Small grammar fix for comment in `BpmControl::slotUpdateRateSlider`
  src/engine/controls/bpmcontrol.cpp
Labels: engine

#14335 Allow feedback on every release of a `powerWindow` button
  res/controllers/Behringer-BCR2000-scripts.js
  res/controllers/Behringer-Extension-scripts.js
  res/controllers/midi-components-0.0.js
Labels: controller mappings

#14179 drop Hotcue onto Play button to latch `play`
  CMakeLists.txt
  res/skins/Deere/deck_controls_row.xml
  res/skins/Deere/left_right_display_play_2state_button.xml
  res/skins/LateNight/controls/button_play_2state_right_display.xml
  res/skins/LateNight/decks/row_5_transportLoopJump.xml
  res/skins/LateNight/samplers/sampler.xml
  res/skins/Shade/mixer_panel.xml
  res/skins/Shade/sampler.xml
  res/skins/Tango/controls/button_play_2state_right_display.xml
  res/skins/Tango/decks/row_transport_left.xml
  res/skins/Tango/decks/row_transport_right.xml
  src/skin/legacy/legacyskinparser.cpp
  src/skin/legacy/legacyskinparser.h
  src/skin/legacy/tooltips.cpp
  src/widget/hotcuedrag.cpp
  src/widget/hotcuedrag.h
  src/widget/whotcuebutton.cpp
  src/widget/whotcuebutton.h
  src/widget/wplaybutton.cpp
  src/widget/wplaybutton.h
  src/widget/wpushbutton.h
Labels: skins, ui, usability

#14349 Fix: Avoid controller warnings for DDM4000
  res/controllers/Behringer-DDM4000-scripts.js
Labels: controller mappings

#14111 Log Test fixes and refactoring.
  src/test/controller_mapping_file_handler_test.cpp
  src/test/controllerrenderingengine_test.cpp
  src/test/controllerscriptenginelegacy_test.cpp
  src/test/helpers/log_test.cpp
  src/test/helpers/log_test.h
Labels: code quality

#14353 Merging `2.5` to `main`
  CHANGELOG.md
  CMakeLists.txt
  res/controllers/Behringer-DDM4000-scripts.js
  res/controllers/Traktor-Kontrol-S4-MK2-hid-scripts.js
  res/controllers/Traktor-Kontrol-S4-MK3.js
  res/controllers/midi-components-0.0.js
  res/linux/org.mixxx.Mixxx.metainfo.xml
  src/controllers/dlgprefcontrollerdlg.ui
  src/controllers/legacycontrollersettings.cpp
  src/controllers/legacycontrollersettings.h
Labels: controller mappings, build, controller backend

#14355 add `WSettingsCheckBoxLabel` to replace the click eventFilter
  CMakeLists.txt
  src/controllers/legacycontrollersettings.cpp
  src/controllers/legacycontrollersettings.h
  src/widget/wsettingscheckboxlabel.cpp
  src/widget/wsettingscheckboxlabel.h
Labels: ui, build, controller backend

#13711 Fix writing metadata via symlink
  src/test/taglibtest.cpp
  src/util/safelywritablefile.cpp
Labels: code quality

#13615 (usability) Waveform prefs: group options, adjust tabstops, reorder ui file
  src/preferences/dialog/dlgprefwaveform.cpp
  src/preferences/dialog/dlgprefwaveform.h
  src/preferences/dialog/dlgprefwaveformdlg.ui
Labels: ui, preferences, waveform

#13498 CoreServices: Default to `~/Music` as a music directory on Wasm and iOS
  src/coreservices.cpp
Labels: ios, wasm

#14338 fix 14326 (now correctly)
  src/controllers/legacycontrollersettings.cpp
  src/controllers/legacycontrollersettings.h
Labels: controller backend

#14369 chore: lint CMakeLists.txt
  CMakeLists.txt
Labels: build

#14368 Fix: provide `incomingData` to MIDI sysex mappings
  res/controllers/Reloop-Beatpad-scripts.js
  res/controllers/Stanton-SCS1d-scripts.js
  res/controllers/Stanton-SCS3d-scripts.js
Labels: controller mappings

#14371 add `WSettingsCheckBoxLabel` to replace the click eventFilter -- 2.5 backport
  CMakeLists.txt
  src/controllers/legacycontrollersettings.cpp
  src/controllers/legacycontrollersettings.h
  src/widget/wsettingscheckboxlabel.cpp
  src/widget/wsettingscheckboxlabel.h
Labels: ui, build, controller backend

#14351 fix beat sync in flanger effect
  src/effects/backends/builtin/flangereffect.cpp
Labels: effects, confirmed

#14058 RateControl/Position ScratchController: use std::unique_ptr, PollingControlProxy etc.
  src/engine/controls/ratecontrol.cpp
  src/engine/controls/ratecontrol.h
  src/engine/positionscratchcontroller.cpp
  src/engine/positionscratchcontroller.h
Labels: engine

#14376 DlgPrefController: Cond-compile out HID settings when building without HID
  src/controllers/dlgprefcontroller.cpp
Labels: hid, ios, controller backend

#14375 CMakeLists: Disable `QTlsBackendOpenSSLPlugin` on iOS
  CMakeLists.txt
  src/mixxxapplication.cpp
Labels: build, ios

#14248 Library menu: change "Engine DJ Prime" to "Engine DJ"
  src/library/export/dlglibraryexport.cpp
  src/library/export/dlglibraryexport.h
  src/library/export/engineprimeexportjob.cpp
  src/library/export/engineprimeexportjob.h
  src/widget/wmainmenubar.cpp
Labels: library, ui

#13392 add Shuffle action to track table header menu
  res/skins/Deere/style.qss
  res/skins/LateNight/style.qss
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
  res/skins/Shade/style.qss
  res/skins/Shade/style_dark.qss
  res/skins/Shade/style_summer_sunset.qss
  res/skins/Tango/style.qss
  res/skins/default.qss
  src/library/autodj/dlgautodj.cpp
  src/library/baseexternalplaylistmodel.cpp
  src/library/baseexternaltrackmodel.cpp
  src/library/library.cpp
  src/library/librarytablemodel.cpp
  src/library/missing_hidden/dlghidden.cpp
  src/library/missing_hidden/dlgmissing.cpp
  src/library/missing_hidden/hiddentablemodel.cpp
  src/library/missing_hidden/missingtablemodel.cpp
  src/library/playlisttablemodel.cpp
  src/library/recording/dlgrecording.cpp
  src/library/trackmodel.h
  src/library/trackset/crate/cratetablemodel.cpp
  src/widget/wanalysislibrarytableview.cpp
  src/widget/wtracktableview.cpp
  src/widget/wtracktableview.h
  src/widget/wtracktableviewheader.cpp
  src/widget/wtracktableviewheader.h
Labels: skins, library, ui, autodj

#13614 Track File Export: add 'Apply to all' checkbox, remove ".. All" buttons
  src/library/export/trackexportdlg.cpp
Labels: library, usability

#14372 fix: use correct detected channel count on CoreAudio
  src/analyzer/analyzerwaveform.cpp
  src/sources/soundsourcecoreaudio.cpp
  src/sources/soundsourceffmpeg.cpp
  src/sources/soundsourcem4a.cpp
  src/sources/soundsourcemediafoundation.cpp
Labels: blocker, soundsource, analyzer

#14205 Preferences Effects: left/right key in effect lists trigger hide/unhide
  src/preferences/dialog/dlgprefeffects.cpp
  src/preferences/dialog/dlgprefeffects.h
  src/preferences/dialog/dlgprefeffectsdlg.ui
Labels: ui, preferences

#14384 added missing space to engine controller API documentation
  res/controllers/engine-api.d.ts
Labels: controller mappings, build, controller backend

#14379 (fix) PositionScratchController: fix loop wrap-around case
  src/engine/positionscratchcontroller.cpp
Labels: engine

#14381 (fix) fix file dialog extension handler, playlist export
  src/util/file.cpp
Labels: library, bug, confirmed, export

#14022 Key metadata track properties edit fix
  src/library/dlgtrackinfo.cpp
  src/library/dlgtrackinfo.h
  src/library/dlgtrackinfomulti.cpp
  src/track/trackrecord.cpp
  src/track/trackrecord.h
Labels: library

#14354 (fix) Controller preferences: make Enabled checkbox clickable again
  src/controllers/dlgprefcontrollerdlg.ui
Labels: controller backend

#14402 (fix) track menu: reset `eject` after moving track file to trash
  src/widget/wtrackmenu.cpp
Labels: ui

#14401 (fix) History: don't allow joining with locked previous playlist
  src/library/trackset/setlogfeature.cpp
Labels: library, bug, history

#14410 remove unused channelCount argument
  src/engine/readaheadmanager.cpp
  src/engine/readaheadmanager.h
Labels: engine

#14367 (fix) Hotcue press sets drag start pos to use correct distance threshold
  src/widget/whotcuebutton.cpp
Labels: ui, bug

#14416 Fix prettier pre commit
  .pre-commit-config.yaml
Labels: code quality, developer experience

#14413 Use std::shared_ptr in controller settings to fix memory leak
  src/controllers/legacycontrollermappingfilehandler.cpp
  src/controllers/legacycontrollersettings.h
  src/controllers/legacycontrollersettingsfactory.h
  src/controllers/scripting/legacy/controllerscriptenginelegacy.cpp
  src/controllers/scripting/legacy/controllerscriptenginelegacy.h
  src/test/controller_mapping_settings_test.cpp
Labels: code quality, controller backend
