Repository mixxxdj/mixxx, pull requests merged in 2025-03, with the labels that each got.

#14411 Add M-Vave SMC-Mixer controller mapping
  res/controllers/MVave-SMC-Mixer-scripts.js
  res/controllers/MVave-SMC-Mixer.midi.xml
Labels: controller mappings, library, ui, developer experience

#14426 (fix) AutoDJ "Remove Crate" action, fix and add comments
  src/library/autodj/autodjfeature.cpp
Labels: library, autodj

#14419 MIDI learn control menu: add more cue controls for samplers
  src/controllers/controlpickermenu.cpp
Labels: controller backend

#14429 Continue after the maximum learning time is over
  src/controllers/dlgcontrollerlearning.cpp
Labels: controller backend

#14279 slotTranslateBeatsHalf: Move beatgrid half beat
  res/skins/Deere/deck_text_row.xml
  res/skins/LateNight/waveform.xml
  res/skins/Tango/waveform.xml
  src/controllers/controlpickermenu.cpp
  src/engine/controls/bpmcontrol.cpp
  src/engine/controls/bpmcontrol.h
  src/skin/legacy/tooltips.cpp
  src/test/beatgridtest.cpp
  src/track/beats.cpp
  src/track/beats.h
  src/widget/wtrackmenu.cpp
  src/widget/wtrackmenu.h
Labels: skins, engine, ui, code quality, controller backend

#14440 Raise macOS target version to 11 (Qt6.5 requirement).
  CMakeLists.txt
Labels: build

#14412 Add M-Vave SMK-25 II piano keyboard mapping
  res/controllers/MVave-SMK-25-II-scripts.js
  res/controllers/MVave-SMK-25-II.midi.xml
Labels: controller mappings, library, ui, developer experience

#14447 Fix pitch bend buttons on Hercules DJ Console Mk1
  res/controllers/Hercules DJ Console Mk1.hid.xml
  res/controllers/Hercules-DJ-Console-Mk1-hid-scripts.js
Labels: controller mappings

#14324 add WCollapsibleGroupBox, use for controller mapping info boxes and settings
  CMakeLists.txt
  src/controllers/dlgprefcontroller.cpp
  src/controllers/dlgprefcontroller.h
  src/controllers/dlgprefcontrollerdlg.ui
  src/controllers/legacycontrollersettingslayout.cpp
  src/widget/wcollapsiblegroupbox.cpp
  src/widget/wcollapsiblegroupbox.h
Labels: ui, build, preferences, controller backend

#14457 Add manual link to M-Vave mappings
  res/controllers/MVave-SMC-Mixer.midi.xml
  res/controllers/MVave-SMK-25-II.midi.xml
Labels: controller mappings

#14458 Make sure all LEDs on SMC-Mixer go off on shutdown
  res/controllers/MVave-SMC-Mixer-scripts.js
Labels: controller mappings

#14461 fix: don't add rendergraph to test if disabled
  CMakeLists.txt
Labels: build

#14159 Fix crash due to concurrent access in MidiController (Alternative)
  src/controllers/bulk/bulkcontroller.cpp
  src/controllers/bulk/bulkcontroller.h
  src/controllers/controller.cpp
  src/controllers/controller.h
  src/controllers/controllermanager.cpp
  src/controllers/controllermanager.h
  src/controllers/dlgprefcontroller.cpp
  src/controllers/dlgprefcontroller.h
  src/controllers/dlgprefcontrollers.cpp
  src/controllers/hid/hidcontroller.cpp
  src/controllers/hid/hidcontroller.h
  src/controllers/midi/hss1394controller.cpp
  src/controllers/midi/midicontroller.cpp
  src/controllers/midi/midicontroller.h
  src/controllers/midi/portmidicontroller.cpp
  src/controllers/midi/portmidicontroller.h
  src/test/controller_mapping_validation_test.h
Labels: needs review, code quality, controller backend

#14418 (fix) Track info dialog: fixed cover label (max) size
  src/library/dlgtagfetcher.cpp
  src/library/dlgtrackinfo.cpp
  src/library/dlgtrackinfo.h
  src/library/dlgtrackinfo.ui
  src/library/dlgtrackinfomulti.cpp
  src/library/dlgtrackinfomulti.h
  src/widget/wcoverartlabel.cpp
  src/widget/wcoverartlabel.h
Labels: library, ui

#14475 github labeler: add Dev Tools to `developer experience`
  .github/labeler.yml
Labels: developer experience

#14471 chore: clean up README.md
  README.md
Labels: developer experience

#14481 Fail early when building on WSL
  CMakeLists.txt
Labels: build

#14484 Make M-Vave SMK-25 II respect hotcue colors
  res/controllers/MVave-SMK-25-II-scripts.js
Labels: controller mappings

#13719 Fix scrolling issue with coverart columns visible
  src/library/dao/trackdao.cpp
  src/library/dao/trackdao.h
  src/library/scanner/libraryscanner.cpp
  src/library/trackcollection.cpp
  src/library/trackcollection.h
  src/mixer/basetrackplayer.cpp
  src/sources/soundsourceproxy.cpp
  src/sources/soundsourceproxy.h
  src/test/globaltrackcache_test.cpp
  src/track/globaltrackcache.cpp
  src/track/globaltrackcache.h
Labels: library, needs review, code quality, scanner, soundsource

#14487 scenegraph is conditionned to QML=ON
  src/rendergraph/CMakeLists.txt
Labels: build

#14488 Don't set GL_BGRA if QT_OPENGL_ES_2
  src/controllers/rendering/controllerrenderingengine.cpp
Labels: controller backend

#14473 improve debug output for missing WWidget pixmaps
  src/widget/wbattery.cpp
  src/widget/wdisplay.cpp
  src/widget/wpushbutton.cpp
  src/widget/wstatuslight.cpp
Labels: ui

#14422 fix: disable shallow cloning for sync branch CI
  .github/workflows/sync_branches.yml
Labels: needs review

#14474 Developer Tools: multi-word search, no Tab navigation in controls table
  src/dialog/dlgdevelopertools.cpp
  src/dialog/dlgdevelopertoolsdlg.ui
Labels: ui

#14316 Add Hercules DJControl Inpulse 500 mapping
  res/controllers/Hercules-DJControl-Inpulse-500-script.js
  res/controllers/Hercules_DJControl_Inpulse_500.midi.xml
Labels: controller mappings

#14491 Add Hercules DJControl Inpulse 500 mapping to 2.5
  res/controllers/Hercules-DJControl-Inpulse-200-script.js
  res/controllers/Hercules-DJControl-Inpulse-500-script.js
  res/controllers/Hercules_DJControl_Inpulse_500.midi.xml
Labels: controller mappings

#14510 fix js broken by pre-commit
  res/controllers/Hercules-DJControl-Inpulse-500-script.js
Labels: controller mappings

#14489 add QGLES2 option for UNIX
  CMakeLists.txt
Labels: build

#14470 Fix scrolling waveform regressions
  src/rendergraph/opengl/CMakeLists.txt
  src/rendergraph/opengl/backend/basegeometry.h
  src/rendergraph/scenegraph/CMakeLists.txt
  src/waveform/renderers/allshader/waveformrendererfiltered.cpp
  src/waveform/renderers/allshader/waveformrendermark.cpp
  src/waveform/renderers/waveformmark.cpp
  src/waveform/renderers/waveformmarkset.cpp
Labels: needs review, party stopper, waveform

#14548 Fail verbose when Chromaprint is missing
  CMakeLists.txt
Labels: build

#14551 fix warning when building without STEM support
  src/preferences/dialog/dlgprefmixer.h
Labels: ui, preferences

#14518 Qt 6.8 ready
  CMakeLists.txt
Labels: build

#12854 Handle new " / " from taglib 2.0
  src/track/taglib/trackmetadata_common.cpp
Labels: needs testing

#14497 [fix] Fix automatic trimming of search bar text
  src/widget/wsearchlineedit.cpp
  src/widget/wsearchlineedit.h
Labels: library, ui, search

#14547 CMake find modules required for the new vcpkg environment
  cmake/modules/Findlilv.cmake
  cmake/modules/Findserd.cmake
  cmake/modules/Findsord.cmake
  cmake/modules/Findzix.cmake
Labels: controller mappings, ui, build, cmake, developer experience
