Repository mixxxdj/mixxx, pull requests merged in 2025-07, with the labels that each got.

#15065 Sync branch 2.6 to main
  .github/workflows/build.yml
  .github/workflows/develop.yml
  .github/workflows/pre-commit.yml
  .github/workflows/pull-request.yml
  .github/workflows/release.yml
  .github/workflows/sync_branches.yml
  CHANGELOG.md
  CMakeLists.txt
  res/controllers/Traktor Kontrol S4 MK3.hid.xml
  res/controllers/Traktor-Kontrol-S4-MK3.js
  res/linux/org.mixxx.Mixxx.metainfo.xml
  src/library/dlgtrackinfo.ui
  src/preferences/dialog/dlgprefbroadcast.cpp
  src/preferences/dialog/dlgprefwaveform.cpp
  src/preferences/dialog/dlgprefwaveform.h
  src/preferences/dialog/dlgprefwaveformdlg.ui
  src/waveform/renderers/allshader/waveformrendererstem.cpp
  src/waveform/renderers/allshader/waveformrendererstem.h
  src/waveform/renderers/allshader/waveformrenderertextured.cpp
  src/waveform/vsyncthread.cpp
  src/waveform/waveformwidgetfactory.cpp
  src/waveform/waveformwidgetfactory.h
  tools/macos_buildenv.sh
  tools/windows_buildenv.bat
Labels: controller mappings, library, ui, build, preferences, waveform, developer experience

#15067 bpm detect speedup
  lib/qm-dsp/dsp/tempotracking/TempoTrackV2.cpp
  lib/qm-dsp/dsp/tempotracking/TempoTrackV2.h
  src/analyzer/plugins/analyzerqueenmarybeats.cpp
Labels: analyzer

#15086 (fix) Avoid engine freeze when loading a new track while scratching with waveform or spinny
  src/engine/controls/ratecontrol.cpp
  src/engine/controls/ratecontrol.h
  src/engine/enginebuffer.cpp
  src/engine/positionscratchcontroller.cpp
  src/engine/positionscratchcontroller.h
Labels: engine, waveform, scratching, needs testing, spinny

#15114 (fix) prevent crash with null track pointer
  src/library/dlgtrackinfomulti.cpp
  src/widget/wtrackmenu.cpp
Labels: library, ui, crash

#15130 Fix Metronom with 96 kHz engine sample rate
  src/effects/backends/builtin/metronomeclick.cpp
Labels: regression

#15150 Identefy version as 2.7 alpha (not yet beta)
  CMakeLists.txt
Labels: build
