Repository mixxxdj/mixxx, pull requests merged in 2025-08, with the labels that each got.

#15170 CMake: Set PREFIX in ExternalProject_Add()
  CMakeLists.txt
Labels: build

#15195 vinyl control: fix getting sample rate
  src/vinylcontrol/vinylcontrolxwax.cpp
Labels: vinylcontrol

#15189 vinyl control: remove track selection mode
  src/vinylcontrol/vinylcontrolxwax.cpp
  src/vinylcontrol/vinylcontrolxwax.h
Labels: vinylcontrol

#15168 (fix) handle "vinylcontrol_enabled" change request in VinylControlControl
  src/engine/controls/vinylcontrolcontrol.cpp
  src/engine/controls/vinylcontrolcontrol.h
  src/engine/enginebuffer.cpp
  src/engine/enginebuffer.h
  src/mixer/basetrackplayer.cpp
  src/mixer/basetrackplayer.h
  src/widget/wspinnybase.cpp
Labels: engine, ui, minor bug, vinylcontrol, spinny

#14931 Twister: Add stems layer
  res/controllers/DJ TechTools MIDI Fighter Twister.midi.xml
  res/controllers/DJ TechTools-MIDI Fighter Twister-scripts.js
Labels: controller mappings

#15027 Fix the controller-tabs display for QML=OFF
  src/controllers/dlgprefcontroller.cpp
Labels: controller backend

#15143 (fix) Waveforms: don't scratch on mousepress/move with empty waveform
  src/widget/wwaveformviewer.cpp
Labels: ui, waveform, usability

#15213 fix: prevent memleak on WaveformMark::Graphics
  src/waveform/renderers/waveformmark.h
Labels: waveform

#15185 Traktor S3: Fix hotcue color output (rescue #15054)
  res/controllers/Traktor Kontrol S3.hid.xml
  res/controllers/Traktor-Kontrol-S3-hid-scripts.js
Labels: controller mappings

#15229 fix: Map the shiftbutton messages to decks 1/3 and 2/4 on Numark NS6II
  res/controllers/Numark NS6II.midi.xml
Labels: controller mappings, minor bug

#15135 (fix) Tracks: prevent reorder with Alt keys when model (playlist) is locked
  src/widget/wtracktableview.cpp
Labels: ui

#15262 Reverb effect: Fix memory leak
  lib/reverb/Reverb.h
  lib/reverb/dsp/Delay.h
  src/effects/backends/builtin/reverbeffect.cpp
  src/effects/backends/builtin/reverbeffect.h
Labels: effects

#15102 Traktor S2 Mk1: Fix effect light on application start
  res/controllers/Traktor-Kontrol-S2-MK1-hid-scripts.js
Labels: controller mappings
