Repository mixxxdj/mixxx, pull requests merged in 2025-06, with the labels that each got.

#14862 Added runtime guard at all kLogger.trace() calls in the entire codebase
  src/track/serato/beatgrid.cpp
  src/track/serato/markers.cpp
  src/track/serato/markers2.cpp
  src/widget/wsearchlineedit.cpp
Labels: ui

#14812 (fix) adjust Gain after adopting it as ReplayGain only in requesting player
  src/mixer/baseplayer.h
  src/mixer/basetrackplayer.cpp
  src/mixer/basetrackplayer.h
  src/test/replaygaintest.cpp
  src/track/track.cpp
  src/track/track.h
  src/widget/wtrackmenu.cpp
Labels: engine, ui, code quality

#14811 fix EngineVuMeter constructor
  src/engine/channels/enginedeck.cpp
  src/engine/enginevumeter.cpp
Labels: engine

#14889 Pref Sound: add manual link for Mic monitoring modes
  src/defs_urls.h
  src/preferences/dialog/dlgprefsound.cpp
Labels: ui, preferences

#14434 add 'LoadTrackFromPreviewDeck' control
  src/mixer/basetrackplayer.cpp
  src/mixer/basetrackplayer.h
Labels: stale

#14907 (fix) Computer feature: avoid false-positve 'has children' for non-directory links
  src/library/browse/foldertreemodel.cpp
Labels: library, usability, browse, gui

#14494 Fixed Single track cover reload on reload metadata from file
  src/library/dlgtrackinfo.cpp
Labels: library

#14911 Merge 2.5
  CHANGELOG.md
  res/controllers/Arturia-KeyLab-Mk1-scripts.js
  res/controllers/ArturiaKeyLab.midi.xml
  res/controllers/Icon-iControls-scripts.js
  res/controllers/Icon-iControls.midi.xml
  res/linux/org.mixxx.Mixxx.metainfo.xml
  res/skins/Deere/deck_looping_controls.xml
  res/skins/Deere/icon/ic_loop_anchor_end.svg
  res/skins/Deere/icon/ic_loop_anchor_start.svg
  res/skins/Deere/style.qss
  res/skins/Shade/btn/btn_loop_anchor_end.png
  res/skins/Shade/btn/btn_loop_anchor_end_overdown.png
  res/skins/Shade/btn/btn_loop_anchor_start.png
  res/skins/Shade/btn/btn_loop_anchor_start_overdown.png
  res/skins/Shade/looping.xml
  res/skins/Tango/buttons/btn_loop_anchor_end.svg
  res/skins/Tango/buttons/btn_loop_anchor_start.svg
  res/skins/Tango/decks/loop_controls.xml
  src/defs_urls.h
  src/dialog/dlgabout.cpp
  src/library/browse/foldertreemodel.cpp
  src/preferences/dialog/dlgprefsound.cpp
  src/test/controllerscriptenginelegacy_test.cpp
Labels: controller mappings, skins, library, ui, code quality, preferences, browse

#14922 Fix destruction race
  src/control/pollingcontrolproxy.h
  src/engine/controls/bpmcontrol.cpp
  src/engine/controls/bpmcontrol.h
  src/engine/enginebuffer.cpp
  src/engine/enginebuffer.h
  src/test/readaheadmanager_test.cpp
  src/widget/wcuemenupopup.cpp
Labels: engine, ui, code quality

#14883 Work around an Ubuntu, Ibus or Qt issue regarding detecting the current keyboard layout.
  src/coreservices.cpp
Labels: build, regression, QT6

#14751 Fix BPM rounding for the 3/2 case
  src/test/beatstest.cpp
  src/track/beatutils.cpp
  src/track/beatutils.h
Labels: code quality

#14925 Controller engine: add convenience functions `isBrakeActive()`, `isSpinbackActive()` and `isSoftStartActive()`
  res/controllers/engine-api.d.ts
  src/controllers/scripting/legacy/controllerscriptinterfacelegacy.cpp
  src/controllers/scripting/legacy/controllerscriptinterfacelegacy.h
Labels: controller mappings, controller backend

#14930 (fix) update cue & play indicators on paused decks when switching cue mode
  src/engine/controls/cuecontrol.cpp
  src/engine/controls/cuecontrol.h
  src/engine/enginebuffer.h
Labels: engine

#14928 Fix changing stem group for deck in ComponentsJS
  res/controllers/midi-components-0.0.js
Labels: controller mappings

#14910 Release 2.5.2
  CHANGELOG.md
  CMakeLists.txt
  LICENSE
  packaging/debian/changelog
  res/linux/org.mixxx.Mixxx.metainfo.xml
Labels: library, build, browse, packaging

#14944 Fix colum header text asignment
  src/library/columncache.cpp
Labels: library

#14954 chore: replace deprecated `QImage::mirror` with `QImage::flip` from Qt6.9
  src/controllers/rendering/controllerrenderingengine.cpp
Labels: controller backend

#14953 fix(waveform): ensure renderer is resized before the rendergraph nodes
  src/rendergraph/opengl/backend/basegeometrynode.cpp
  src/rendergraph/opengl/engine.cpp
  src/rendergraph/opengl/rendergraph/engine.h
  src/waveform/widgets/allshader/waveformwidget.cpp
Labels: waveform

#14932 Spectra: add stems layer to controller
  res/controllers/DJ TechTools MIDI Fighter Spectra.midi.xml
  res/controllers/DJ TechTools-MIDI Fighter Spectra-scripts.js
  res/controllers/common-controller-scripts.js
Labels: controller mappings

#14965 chore: remove unused/undefined declared members from BaseTrackCache
  src/library/basetrackcache.h
Labels: library

#14935 (fix/feat) fix Sound Hardware URL, add (?) linking to Sound APIs in the manual
  src/defs_urls.h
  src/preferences/dialog/dlgprefsound.cpp
  src/preferences/dialog/dlgprefsounddlg.ui
Labels: ui, preferences

#14314 Create JavascriptPlayerProxy
  CMakeLists.txt
  res/controllers/engine-api.d.ts
  src/controllers/scripting/controllerscriptenginebase.cpp
  src/controllers/scripting/controllerscriptenginebase.h
  src/controllers/scripting/javascriptplayerproxy.cpp
  src/controllers/scripting/javascriptplayerproxy.h
  src/controllers/scripting/legacy/controllerscriptinterfacelegacy.cpp
  src/controllers/scripting/legacy/controllerscriptinterfacelegacy.h
  src/coreservices.cpp
  src/test/controller_mapping_validation_test.cpp
  src/test/controller_mapping_validation_test.h
  src/test/controllerscriptenginelegacy_test.cpp
  src/test/id3-test-data/all.mp3
Labels: controller mappings, build, code quality, qml, controller backend

#14981 Don't use asKeyValueRange() when building with Qt 4.2
  src/test/controllerscriptenginelegacy_test.cpp
Labels: code quality

#14980 Traktor S3: allow full library navigation
  res/controllers/Traktor-Kontrol-S3-hid-scripts.js
Labels: controller mappings

#14988 Fix segfault in mixxx-test when __HID__ is not defined
  src/controllers/legacycontrollermappingfilehandler.cpp
  src/test/controller_mapping_validation_test.cpp
  src/test/controllers/controller_columnid_regression_test.cpp
Labels: code quality, controller backend

#14992 (fix) Traktor Kontrol S4mk3: don't duplicate #12475 in script
  res/controllers/Traktor-Kontrol-S4-MK3.js
Labels: controller mappings

#12476 Loop: `beatloop_activate` adopts rolling loop and quits slip mode
  src/engine/controls/loopingcontrol.cpp
  src/engine/enginebuffer.cpp
  src/engine/enginebuffer.h
Labels: engine, looping

#15006 Update 2.5 to windows2022 runner image
  .github/workflows/build.yml
  CMakeLists.txt
  README.md
  src/test/soundproxy_test.cpp
Labels: build, code quality

#13365 Add FILE line to Cuefile to include file path for each track
  src/engine/sidechain/enginerecord.cpp
  src/engine/sidechain/enginerecord.h
  src/preferences/dialog/dlgprefrecord.cpp
  src/preferences/dialog/dlgprefrecord.h
  src/preferences/dialog/dlgprefrecorddlg.ui
Labels: engine, ui, preferences

#15000 chore: remove bare assert
  src/waveform/renderers/allshader/waveformrenderertextured.cpp
  src/waveform/vsyncthread.cpp
  src/waveform/waveformwidgetfactory.cpp
Labels: waveform

#14882 (fix/feat) Traktor Kontrol S4 Mk3: tempo offset per deck
  res/controllers/Traktor Kontrol S4 MK3.hid.xml
  res/controllers/Traktor-Kontrol-S4-MK3.js
Labels: controller mappings

#15001 chore(waveform): migrate option to global namespace
  src/preferences/dialog/dlgprefwaveform.cpp
  src/preferences/dialog/dlgprefwaveform.h
  src/preferences/upgrade.cpp
  src/qml/qmlwaveformrenderer.cpp
  src/qml/qmlwaveformrenderer.h
  src/test/waveform_upgrade_test.cpp
  src/waveform/renderers/allshader/waveformrendererfiltered.cpp
  src/waveform/renderers/allshader/waveformrendererfiltered.h
  src/waveform/renderers/allshader/waveformrendererhsv.cpp
  src/waveform/renderers/allshader/waveformrendererhsv.h
  src/waveform/renderers/allshader/waveformrendererrgb.cpp
  src/waveform/renderers/allshader/waveformrendererrgb.h
  src/waveform/renderers/allshader/waveformrenderersignalbase.cpp
  src/waveform/renderers/allshader/waveformrenderersignalbase.h
  src/waveform/renderers/allshader/waveformrenderersimple.cpp
  src/waveform/renderers/allshader/waveformrenderersimple.h
  src/waveform/renderers/allshader/waveformrendererstem.cpp
  src/waveform/renderers/allshader/waveformrendererstem.h
  src/waveform/renderers/allshader/waveformrenderertextured.cpp
  src/waveform/renderers/allshader/waveformrenderertextured.h
  src/waveform/renderers/deprecated/glwaveformrenderersignal.h
  src/waveform/renderers/glvsynctestrenderer.cpp
  src/waveform/renderers/qtvsynctestrenderer.cpp
  src/waveform/renderers/qtwaveformrendererfilteredsignal.cpp
  src/waveform/renderers/qtwaveformrendererfilteredsignal.h
  src/waveform/renderers/waveformrendererfilteredsignal.cpp
  src/waveform/renderers/waveformrendererfilteredsignal.h
  src/waveform/renderers/waveformrendererhsv.cpp
  src/waveform/renderers/waveformrendererhsv.h
  src/waveform/renderers/waveformrendererrgb.cpp
  src/waveform/renderers/waveformrendererrgb.h
  src/waveform/renderers/waveformrenderersignalbase.cpp
  src/waveform/renderers/waveformrenderersignalbase.h
  src/waveform/waveformwidgetfactory.cpp
  src/waveform/waveformwidgetfactory.h
  src/waveform/widgets/allshader/waveformwidget.cpp
  src/waveform/widgets/allshader/waveformwidget.h
  src/waveform/widgets/hsvwaveformwidget.cpp
  src/waveform/widgets/hsvwaveformwidget.h
  src/waveform/widgets/rgbwaveformwidget.cpp
  src/waveform/widgets/rgbwaveformwidget.h
  src/waveform/widgets/softwarewaveformwidget.cpp
  src/waveform/widgets/softwarewaveformwidget.h
Labels: ui, code quality, preferences, waveform, qml

#15023 (fix) Pref Broadcast: make setting string translatable
  src/preferences/dialog/dlgprefbroadcast.cpp
Labels: ui, preferences

#14951 fix(stem): improve waveform channel visibility
  src/preferences/dialog/dlgprefwaveform.cpp
  src/preferences/dialog/dlgprefwaveform.h
  src/preferences/dialog/dlgprefwaveformdlg.ui
  src/waveform/renderers/allshader/waveformrendererstem.cpp
  src/waveform/renderers/allshader/waveformrendererstem.h
  src/waveform/waveformwidgetfactory.cpp
  src/waveform/waveformwidgetfactory.h
Labels: ui, preferences, waveform

#15033 macOS: Use same CMake internal buildenv download/unzip as for Windows
  CMakeLists.txt
  tools/macos_buildenv.sh
Labels: build, developer experience

#15037 (fix) Track Info dialog: restore column stretching
  src/library/dlgtrackinfo.ui
Labels: library
