Repository mixxxdj/mixxx, pull requests merged in 2025-09, with the labels that each got.

#15287 Reduce number of iterations in lobalTrackCacheTest.concurrentDelete
  src/test/globaltrackcache_test.cpp
Labels: code quality

#12890 View menu: add 'Show Auto DJ' action
  src/library/autodj/autodjfeature.cpp
  src/library/autodj/autodjfeature.h
  src/library/library.cpp
  src/library/library.h
  src/library/libraryfeature.h
  src/library/sidebarmodel.cpp
  src/library/sidebarmodel.h
  src/mixxxmainwindow.cpp
  src/widget/wlibrary.cpp
  src/widget/wlibrarysidebar.cpp
  src/widget/wlibrarysidebar.h
  src/widget/wmainmenubar.cpp
  src/widget/wmainmenubar.h
Labels: library, ui, autodj

#15295 fix: soundsourceflac.cpp flac api version and missing error
  src/sources/soundsourceflac.cpp
Labels: build, code quality, soundsource, developer experience

#15313 fix an unused parameter warning
  src/controllers/controlpickermenu.cpp
  src/controllers/controlpickermenu.h
Labels: controller backend

#15274 debian_buildenv.sh: assert for bash
  CMakeLists.txt
  README.md
  tools/debian_buildenv.sh
Labels: build

#14463 Overview scale options
  src/library/overviewcache.cpp
  src/library/overviewcache.h
  src/mixxxmainwindow.cpp
  src/preferences/dialog/dlgprefwaveform.cpp
  src/preferences/dialog/dlgprefwaveform.h
  src/preferences/dialog/dlgprefwaveformdlg.ui
  src/waveform/renderers/waveformoverviewrenderer.cpp
  src/waveform/renderers/waveformoverviewrenderer.h
  src/waveform/waveformwidgetfactory.cpp
  src/waveform/waveformwidgetfactory.h
  src/widget/woverview.cpp
  src/widget/woverview.h
Labels: controller mappings, library, ui, build, code quality, preferences, waveform, vinylcontrol, soundsource

#15330 Library sidebar: expand items to full width to maximize click-responsive area -- v2
  src/widget/wlibrarysidebar.cpp
Labels: library, ui, usability

#15320 (fix) Library scanner: make Cancel button work again
  src/library/scanner/libraryscanner.cpp
Labels: major bug, library, scanner

#15357 fix: correctly free reference to m_pSoundManager
  src/coreservices.cpp
  src/qml/qmlwaveformrenderer.cpp
Labels: qml

#15336 feat(components): JogwheelBasic: Disable scratching when leaving `vinylMode`
  res/controllers/midi-components-0.0.js
Labels: controller mappings

#15369 Remove #include <qqmlintegration.h>
  src/qml/qmlsoundmanagerproxy.h
Labels: qml

#14514 feat: add Library on QML
  CMakeLists.txt
  res/qml/ActionButton.qml
  res/qml/ActionPopup.qml
  res/qml/DeckInfoBar.qml
  res/qml/InputField.qml
  res/qml/Library.qml
  res/qml/Library/Browser.qml
  res/qml/Library/Cell.qml
  res/qml/Library/Control.qml
  res/qml/Library/ControlLoadSelectedTrackHandler.qml
  res/qml/Library/SourceTree.qml
  res/qml/Library/Track.qml
  res/qml/Library/TrackList.qml
  res/qml/PreviewDeck.qml
  res/qml/Sampler.qml
  res/qml/Theme/Theme.qml
  res/qml/images/library_computer.png
  res/qml/images/library_crates.png
  res/qml/images/library_playlist.png
  src/library/browse/browsetablemodel.cpp
  src/library/sidebarmodel.h
  src/library/treeitemmodel.h
  src/main.cpp
  src/qml/qmlconfigproxy.h
  src/qml/qmllibraryproxy.cpp
  src/qml/qmllibraryproxy.h
  src/qml/qmllibrarysource.cpp
  src/qml/qmllibrarysource.h
  src/qml/qmllibrarysourcetree.cpp
  src/qml/qmllibrarysourcetree.h
  src/qml/qmllibrarytracklistcolumn.cpp
  src/qml/qmllibrarytracklistcolumn.h
  src/qml/qmllibrarytracklistmodel.cpp
  src/qml/qmllibrarytracklistmodel.h
  src/qml/qmlsidebarmodelproxy.cpp
  src/qml/qmlsidebarmodelproxy.h
  src/qml/qmlwaveformoverview.h
Labels: library, build, needs review, code quality, browse, qml

#15394 Use the correct number of channels for underflow compensation
  src/soundio/sounddeviceportaudio.cpp
Labels: soundio

#15395 (fix) LateNight: revert xfader buttons to one (cycling) toggle
  res/skins/LateNight/controls/button_xfader_aux.xml
  res/skins/LateNight/controls/button_xfader_deck.xml
Labels: skins

#15349 (fix) avoid empty waveform with invalid config - refactor waveform factory/preferences
  src/preferences/dialog/dlgprefwaveform.cpp
  src/preferences/dialog/dlgprefwaveform.h
  src/preferences/dialog/dlgprefwaveformdlg.ui
  src/waveform/waveformwidgetfactory.cpp
  src/waveform/waveformwidgetfactory.h
Labels: ui, preferences, waveform

#15422 (fix) Waveform preferences: fix handling of invalid overview config type
  src/preferences/dialog/dlgprefwaveform.cpp
Labels: ui, preferences

#15428 Numark-NS6II: fixed Typo in NS6II.PadMode #15409
  res/controllers/Numark-NS6II-scripts.js
Labels: controller mappings

#15301 fix Computer -> "Refresh directory tree" slot
  src/library/browse/browsefeature.cpp
  src/library/treeitemmodel.cpp
Labels: library, browse

#15331 (fix) Track view header: avoid narrow columns after restoring header with hidden columns
  src/widget/wtracktableviewheader.cpp
  src/widget/wtracktableviewheader.h
Labels: ui

#15382 (fix) Library Preferences: compose font style if font has no styleName()
  src/preferences/dialog/dlgpreflibrary.cpp
Labels: library, ui, preferences

#15419 fix: initialize `allshader::WaveformWidget::m_type`
  src/waveform/widgets/allshader/waveformwidget.cpp
Labels: waveform
