Repository mixxxdj/mixxx, pull requests merged in 2025-04, with the labels that each got.

#14567 Fix for issue #9470: memory leaks from fid_design()
  src/engine/filters/enginefilteriir.h
  src/test/enginefilterbiquadtest.cpp
Labels: engine, code quality

#14579 Install ucrtbased.dll in debug mode
  CMakeLists.txt
Labels: build

#14577 CMake: Join project() with enable_language()
  CMakeLists.txt
Labels: build

#14580 sync: prefer playing inaudible decks over stopped non-sync decks
  src/engine/sync/enginesync.cpp
Labels: engine, sync

#14575 Fix regression Numark-Mixtrack-Platinum from #12021
  res/controllers/Numark-Mixtrack-Platinum-scripts.js
Labels: controller mappings, engine, ui, build, code quality, cmake, developer experience

#14609 (fix)/controllers: use `playposition` instead of non-existant `visual_playposition`, add comments
  res/controllers/EKS-Otus.js
  res/controllers/KANE_QuNeo_scripts.js
  res/controllers/Stanton-SCS1d-scripts.js
  res/controllers/Stanton-SCS1m-scripts.js
Labels: controller mappings

#14613 Fix type safety warnings
  src/engine/channels/enginedeck.cpp
  src/widget/wtrackstemmenu.cpp
Labels: engine, ui

#14550 fix setting of BUNDLE_DIRS
  CMakeLists.txt
Labels: build, macos

#14559 Add support for the MIDI Fighter Spectra
  res/controllers/DJ TechTools MIDI Fighter Spectra.midi.xml
  res/controllers/DJ TechTools-MIDI Fighter Spectra-scripts.js
Labels: controller mappings

#14661 (fix) reset saved loop when toggling off after switching cue type
  src/engine/controls/cuecontrol.cpp
  src/engine/controls/cuecontrol.h
Labels: engine

#14656 (fix) Waveform marker image alignment
  src/waveform/renderers/waveformmark.cpp
Labels: waveform

#14655 Qt6.8.3 & Windows2022 & newer MSVC compiler
  .github/workflows/build.yml
  CMakeLists.txt
  README.md
  src/test/soundproxy_test.cpp
  tools/macos_buildenv.sh
  tools/windows_buildenv.bat
Labels: build, code quality, developer experience

#14649 qmlwaveform: Fix moc in Qt 6.9.0
  src/qml/qmlwaveformoverview.h
  src/qml/qmlwaveformrenderer.h
Labels: qml

#14631 Fix UI freeze when analyzing many tracks.
  src/library/basetrackcache.cpp
  src/library/basetrackcache.h
  src/library/trackcollection.cpp
  src/library/trackcollection.h
  src/sources/soundsourceproxy.cpp
  src/track/globaltrackcache.cpp
  src/track/serato/markers.cpp
  src/track/serato/markers2.cpp
  src/track/serato/tags.cpp
Labels: library, soundsource

#14615 (fix/workaround) avoid false missing tracks due to db inconsistency
  src/library/dao/trackdao.cpp
  src/library/dao/trackdao.h
  src/library/scanner/libraryscanner.cpp
Labels: library, scanner

#14637 (fix) Search related menu: improve checkbox click UX
  res/skins/LateNight/style_palemoon.qss
  src/widget/wsearchrelatedtracksmenu.cpp
  src/widget/wsearchrelatedtracksmenu.h
Labels: skins, ui

#14598 (fix/Qt6) Skins: center effect parameter names
  res/skins/Deere/effect_parameter_button.xml
  res/skins/Deere/effect_parameter_knob.xml
  res/skins/LateNight/fx/parameter_button.xml
  res/skins/LateNight/fx/parameter_knob.xml
  res/skins/Tango/fx/parameter_knob.xml
Labels: skins

#14675 fix: import proper QtQml.Models module instead of qmllabs
  res/qml/DeveloperToolsWindow.qml
Labels: qml

#14680 add WMenuCheckBox, to be used in QWidgetAction in some menus
  CMakeLists.txt
  src/widget/weffectchainpresetbutton.cpp
  src/widget/wmenucheckbox.cpp
  src/widget/wmenucheckbox.h
  src/widget/wsearchrelatedtracksmenu.cpp
  src/widget/wsearchrelatedtracksmenu.h
  src/widget/wtrackmenu.cpp
  src/widget/wtrackmenu.h
  src/widget/wtracktableviewheader.cpp
Labels: ui, build, usability

#14385 Tracks: `show_track_menu` at index position
  src/widget/wtracktableview.cpp
  src/widget/wtracktableview.h
Labels: ui

#13583 (fix/followup) Tracks: apply played/missing text color also to selected tracks
  CMakeLists.txt
  res/skins/Deere/style.qss
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
  res/skins/Shade/style.qss
  res/skins/Shade/style_dark.qss
  res/skins/Tango/style.qss
  src/library/basetracktablemodel.cpp
  src/library/tabledelegates/checkboxdelegate.cpp
  src/library/tabledelegates/defaultdelegate.cpp
  src/library/tabledelegates/defaultdelegate.h
  src/library/tabledelegates/stardelegate.cpp
  src/library/tabledelegates/stareditor.cpp
  src/library/tabledelegates/tableitemdelegate.cpp
  src/library/tabledelegates/tableitemdelegate.h
Labels: skins, library

#14573 (fix) stop BrowseThread::populateModel() when Mixxx should close
  src/library/browse/browsethread.cpp
Labels: library, browse

#14660 (fix) Analyze feature: respect New / All selection when searching
  src/library/analysis/analysislibrarytablemodel.cpp
  src/library/analysis/analysislibrarytablemodel.h
  src/library/analysis/dlganalysis.cpp
  src/library/analysis/dlganalysis.h
Labels: library

#14630 Remove useless udev rule
  res/linux/mixxx-usb-uaccess.rules
Labels: controller mappings, platform/linux

#14590 Search: add BPM lock filter `bpm:locked`
  src/library/searchquery.cpp
  src/library/searchquery.h
Labels: library, search

#14346 open Sound preferences with sprecific I/O tab selected
  src/mixxxmainwindow.cpp
  src/preferences/constants.h
  src/preferences/dialog/dlgpreferences.cpp
  src/preferences/dialog/dlgpreferences.h
  src/preferences/dialog/dlgprefsound.cpp
  src/preferences/dialog/dlgprefsound.h
Labels: skins, ui, preferences, usability

#14694 Allow any taglib
  CMakeLists.txt
Labels: build

#13427 Library scan: log summary and show popup
  src/coreservices.cpp
  src/coreservices.h
  src/library/dao/playlistdao.cpp
  src/library/dao/trackdao.cpp
  src/library/dao/trackdao.h
  src/library/dao/trackschema.h
  src/library/library_decl.h
  src/library/scanner/libraryscanner.cpp
  src/library/scanner/libraryscanner.h
  src/library/scanner/scannerglobal.h
  src/library/trackcollectionmanager.cpp
  src/library/trackcollectionmanager.h
  src/mixxxmainwindow.cpp
  src/mixxxmainwindow.h
Labels: library, scanner

#14682 Engine Prime -> Engine DJ
  src/library/export/libraryexporter.cpp
  src/library/mixxxlibraryfeature.cpp
  src/library/trackset/crate/cratefeature.cpp
Labels: library

#14556 (fix) avoid crash after removing Quick Link
  src/library/browse/browsefeature.cpp
  src/library/browse/browsefeature.h
  src/library/browse/foldertreemodel.cpp
  src/library/treeitemmodel.cpp
Labels: library, crash, browse

#14501 2.5.1 release
  CHANGELOG.md
  CMakeLists.txt
  LICENSE
  cmake/modules/FindChromaprint.cmake
  cmake/modules/FindDjInterop.cmake
  cmake/modules/FindEbur128.cmake
  cmake/modules/FindFLAC.cmake
  cmake/modules/FindG72X.cmake
  cmake/modules/FindGPerfTools.cmake
  cmake/modules/FindHSS1394.cmake
  cmake/modules/FindID3Tag.cmake
  cmake/modules/FindKeyFinder.cmake
  cmake/modules/FindLibUSB.cmake
  cmake/modules/FindLibudev.cmake
  cmake/modules/FindMAD.cmake
  cmake/modules/FindMP4.cmake
  cmake/modules/FindMP4v2.cmake
  cmake/modules/FindModplug.cmake
  cmake/modules/FindOgg.cmake
  cmake/modules/FindOpus.cmake
  cmake/modules/FindOpusFile.cmake
  cmake/modules/FindPortAudio.cmake
  cmake/modules/FindPortMidi.cmake
  cmake/modules/FindShoutidjc.cmake
  cmake/modules/FindSleef.cmake
  cmake/modules/FindSndFile.cmake
  cmake/modules/FindSoundTouch.cmake
  cmake/modules/FindTagLib.cmake
  cmake/modules/FindUpower.cmake
  cmake/modules/FindVorbis.cmake
  cmake/modules/Findhidapi.cmake
  cmake/modules/Findlilv.cmake
  cmake/modules/Findmp3lame.cmake
  cmake/modules/Findrubberband.cmake
  cmake/modules/Findserd.cmake
  cmake/modules/Findsord.cmake
  cmake/modules/Findwavpack.cmake
  cmake/modules/Findzix.cmake
  packaging/debian/copyright
  packaging/wix/LICENSE.rtf.in
  res/linux/org.mixxx.Mixxx.metainfo.xml
  res/skins/LateNight (64 Samplers)/skin.xml
Labels: skins, build, packaging, cmake

#14140 Library: add overview column
  CMakeLists.txt
  res/skins/Deere/library.xml
  res/skins/Deere/preview_deck.xml
  res/skins/Deere/sampler_controls_row.xml
  res/skins/Deere/skin.xml
  res/skins/LateNight/library.xml
  res/skins/Shade/deck_overview.xml
  res/skins/Shade/preview_deck.xml
  res/skins/Shade/sampler.xml
  res/skins/Shade/skin.xml
  res/skins/Tango/decks/preview_deck.xml
  res/skins/Tango/library.xml
  res/skins/Tango/mic_aux_sampler/sampler.xml
  res/skins/Tango/skin.xml
  src/analyzer/analyzerwaveform.cpp
  src/coreservices.cpp
  src/library/basesqltablemodel.cpp
  src/library/basetracktablemodel.cpp
  src/library/basetracktablemodel.h
  src/library/dao/trackdao.cpp
  src/library/dao/trackdao.h
  src/library/librarytablemodel.cpp
  src/library/mixxxlibraryfeature.cpp
  src/library/overviewcache.cpp
  src/library/overviewcache.h
  src/library/tabledelegates/overviewdelegate.cpp
  src/library/tabledelegates/overviewdelegate.h
  src/mixxxmainwindow.cpp
  src/preferences/dialog/dlgprefwaveform.cpp
  src/waveform/overviewtype.cpp
  src/waveform/overviewtype.h
  src/waveform/renderers/waveformoverviewrenderer.cpp
  src/waveform/renderers/waveformoverviewrenderer.h
  src/widget/wlibrary.cpp
  src/widget/wlibrary.h
  src/widget/wlibrarytableview.h
  src/widget/woverview.cpp
  src/widget/woverview.h
  src/widget/wtracktableview.cpp
Labels: skins, library, ui, build, preferences, waveform, analyzer

#14124 Preferences: show 'real' xfader configuration
  src/preferences/dialog/dlgprefmixer.cpp
  src/preferences/dialog/dlgprefmixer.h
  src/preferences/dialog/dlgprefmixerdlg.ui
Labels: engine, ui, preferences
